#editPatientForm {
    .input-group {
        margin-bottom: 10px;
    }

    .input-group-addon {
        min-width: 150px;
        text-align: left;
    }

    .create-section-title {
        background: rgba(112, 102, 157, 0.08);
        padding: 10px 0;
        border-bottom: 1px solid #d3d3d3;
        margin-bottom: 20px;
    }

    .bottom-nav {
        margin-bottom: 10px;

        i {
            margin-left: 8px;
        }

        button {
            margin: 10px;
        }
    }

    .field-error {
        margin-left: 0;
    }

    .care-type {
        input [type='radio'] {
            width: 100%;
        }
        width: 80px;
        border-radius: 2px;
        background: #eee;
        padding: 10px;
        border: 1px solid #d3d3d3;
        text-align: center;
        font-size: 20px;
        display: inline-block;
        margin: 0 10px 20px;
    }
    //DATE PICKER
    ::-webkit-calendar-picker-indicator {
        color: rgba(0, 0, 0, 0);
        background-color: #fff;
        opacity: 0;
        width: 110%;
        position: absolute;
        left: 0;
    }

    ::-webkit-inner-spin-button {
        display: none;
        -webkit-appearance: none;
    }
}
