#other-follow-up {

    /* text input fields */
    .form-text-input {
        input[type=text] {
            width: 250px;
            height: 30px;
        }

        textarea:hover,
        input[type=text]:hover,
        input[type=number]:hover {
            border-color: #8B8B90;
        }

        textarea:focus,
        input[type=text]:focus,
        input[type=number]:focus {
            border-color: #7960DE;
        }

        textarea:disabled,
        input[type=text]:disabled,
        input[type=number]:disabled {
            background-color: #E8E5EC;
        }
    }

    /* date input fields */
    .form-date-input {
        width: 288px;

        input[type=text]:hover {
            border-color: #8B8B90;
        }

        input[type=text]:focus {
            border-color: #7960DE;
        }

        input[type=text]:disabled {
            background-color: #E8E5EC;
        }
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1111 !important;
        top: 0;
        right: 0;
        background-color: white;
        overflow-x: auto;
        overflow-y: auto;
        transition: 0.5s;
        margin-top: 60px;
    }
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .table-m1021,
    .table-m1730 {
        td {
            border: 0.5px solid #000;
        }
    }

    // M1011 dropbox
    .dropdown-menu {
        z-index: 1;
    }

    // M1311 width of text input
    .auto-style18 {
        width: 150px;
    }
}
  
div#medication_name_input_group>ul {
    left: 0px !important;
    width: 100%;
    overflow: scroll;
}

div#medication_name_input_group>ul>li>a {
    width: fit-content;
    font-size: 14px !important;
}

div#medication_name_input_group1>ul {
    left: 0px !important;
    width: 100%;
    overflow: scroll;
}

div#medication_name_input_group1>ul>li>a {
    width: fit-content;
    font-size: 14px !important;
}
/* scss for entire project */
.md-select-menu-container {
    z-index: 1112 !important;
}

md-radio-button  {

    margin-bottom: 5px !important;
    display: inline-block !important;
    line-height: 27px;

    .md-off {
        width: 18px;
        height: 18px;
        border-color: #060124;
    }

    .md-on {
        width: 18px;
        height: 18px;
        background-color: #3B18F5;
    }

    .md-label {
        margin-left: 25px;
    }

    .md-ripple-container {
        display: none !important;
    }

    .md-container {
        width: 18px;
        height: 18px;
    }

    &:hover {
        .md-container {
            box-shadow: 0 0 0 2px #82A4F8;
        }
    }
}

md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off {
    border-color: #3B18F5;
}