<div id="schedule-after-discharge">
  <!-- <div id="newVisit"> -->
  <!-- {{selected.format("DD MMMM, YYYY")}} -->
    <h4>Schedule Visit</h4>
    <!-- <span ng-click="close()" class="fa fa-remove close"></span> -->
    <form name="startofCare">
      <table>
        <tr class="field_row">
          <td class="field">Date</td>
          <td class="field" colspan="3">
            <div class="input-group" style="width:100%">
              <input type="text"
                    required
                    ng-disabled="date"
                    datepicker-options="inlineOptions"
                    class="form-control"
                    uib-datepicker-popup='yyyy-MM-dd'
                    ng-model="VISITDATE"
                    is-open="openedVISITDATE"
                    show-button-bar="false"
                    ng-click="openedVISITDATE=true"
                    datepicker-append-to-body="false"
                    alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openedVISITDATE=true"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            <!-- <input required type="date" ng-model="VISITDATE" class="form-control" id="VISITDATE"> -->
          </td>
          <td class="field">Visit Type</td>
          <td class="field">
            <select required name="VISITTYPE" class="form-control" tabindex="8"

                    ng-model="VISITTYPE"
                    ng-change="updateVisitTypeDetails()"
                    ng-options="visitType as visitType.DESC for visitType in visitTypes">
                    <option value="">-Select One-</option>
            </select>
          </td>
        </tr>
        <tr class="field_row">
          <td class="field">Employee</td>
          <td  class="field" colspan="3">
            <select name="EMPKEYID" class="form-control"
                    required
                    ng-model="EMPKEYID"
                    ng-options="employee.FNAME for employee in employees">
              <option value="">-Select One-</option>
            </select>
            <!-- <input required type="text" name="empkeyid" ng-model="empkeyid" class="form-control" id="employee" placeholder=""> -->
          </td>
          <td class="field">Mileage</td>
          <td class="field"><input type="number" name="MILEAGE" ng-model="MILEAGE" class="form-control" id="MILEAGE" placeholder=""></td>
        </tr>
        <tr class="field_row">
          <td class="field">Time In</td>
          <td class="field">
            <div uib-timepicker
                  arrowkeys=true
                  ng-model="TIMEIN"
                  ng-change="changedTIMEIN()"
                  show-meridian=true>
            </div>
            <!-- <input required type="time" name="TIMEIN" ng-model="TIMEIN" class="form-control" id="timeIn" placeholder=""> -->
          </td>
          <td class="field">Time Out</td>
          <td class="field">
            <div uib-timepicker
                  arrowkeys=true
                  ng-model="TIMEOUT"
                  ng-change="changed()"
                  show-meridian=true>
            </div>
            <!-- <input required type="time"  name="TIMEOUT" ng-model="TIMEOUT" class="form-control" id="timeOut" placeholder=""> -->
          </td>
          <td class="field">Hours</td>
          <td class="field"><input type="number" disabled name="hours" ng-model="HOURS" class="form-control" id="HOURS" placeholder=""></td>
        </tr>
        <tr class="field_row">
          <td class="field" colspan="6">
            <div class="form-section">
              <div>Add Form</div>
              <select class="form-control"
                      ng-change="addForm(selectForm)"
                      ng-model="selectForm"
                      ng-options="form.NAME for form in formTypes">
              </select>
              <!-- <div class="fa fa-plus" ng-click="addForm(selectForm)"></div> -->
            </div>
            <div class="selected-form" ng-repeat="form in selectedForms">
              <div class="pull-left">{{form.NAME}}</div>
              <a class="pull-right" ng-hide="form.KEYID===2" ng-click="removeForm(form)">Remove</a>

            </div>
          </td>
        </tr>
        <tr class="field_row">
          <td class="field" colspan="6">Notes</td>
        </tr>
        <tr>
          <td class="field" colspan="6"><textarea name="NOTES" ng-model="NOTES" class="form-control" rows="5" placeholder=""></textarea></td>
        </tr>
        <tr>
          <td class="field" colspan="6" style="text-align:right">
            <button type="submit" ng-click="newVisit(startofCare)" class="btn btn-default">Save Visit</button>
            <button type="" ng-click="close()" class="btn btn-default">Cancel</button></td>
        </tr>
      </table>
    </form>
  </div>
