#oasis-signature {
  position: relative;
  background: #FFF;
  .head-bar {
    height: 60px;
    padding: 0 0 0 15px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .col-md-12 {
      padding-left: 0;
      padding-right: 20px;
      height: 60px;
    }
    .close {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 14px;
    }
  }
  .title {
    font-size: 23px;
    line-height: 60px
  }
  .form-background {
    padding: 20px 50px;
    height: 150px;
    // background-color: #F5F5F5;
  }
}
