<div id="oasis-signature">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        Oasis Form is complete and ready to be submitted!
      </div>
    </div>
    <div ng-click="close()" class="fa fa-remove close"></div>
  </div>
  <div class="form-background">
    <div class="form-group">
      <label for="password">To submit, please enter password below:</label>
      <input type="password" ng-model="oasisPassword" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="footer pull-right">
      <a ui-sref="records"><button ng-disabled="oasisPassword !== passwordConfirmed" type="" class="btn btn-success" ng-click="submitOasis(newOasis)">Submit</button></a>
      <button type="submit" class="btn btn-default" ng-click="close()">Cancel</button>
    </div>
  </div>
</div>
