<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#intermediaries" settingsnav="true"></header-nav>
</div>

<div id="intermediaries">
  <div class="search-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <span class="icon-profile icon-size-3"></span>
          <span class="text-heading">Intermediaries</span>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" ng-model="searchText" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="add-intermediaries">
            <span class="glyphicon glyphicon-plus" ng-click="newIntermediary($event)"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="intermediaries-row-head">
    <div class="container">
      <div class="row">
        <div class="intermediaries-row-title">
          <div class="col-md-2">
            Name
          </div>
          <div class="col-md-2">
            Address
          </div>
          <div class="col-md-2">
            Submitter
          </div>
          <div class="col-md-2">
            Contact
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="intermediaries-info-row" ng-click="showIntermediaryDetail(intermediary)" ng-class="{selected: patient.selected}" ng-repeat="intermediary in intermediariesObject | filter: searchText | limitTo:200">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="intermediaries-info-item">
            {{intermediary.NAME}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="intermediaries-info-item">
            {{intermediary.ADDRESS}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="intermediaries-info-item">
            {{intermediary.SUBMITTER}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="intermediaries-info-item">
            {{intermediary.CONTACT}}
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<div class="settings-right-menu">
  <settings-expanded-nav></settings-expanded-nav>
</div>
