<section id="editPatientForm">
  <div class="row">
    <div class="col-md-12">
      <form name="patientContact" novalidate>
        <section class="Contact">
          <div class="create-section-title">
            <div class="container small">
              <div class="row">
                <div class="col-md-12">
                  <h3>Primary Address</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="container small">
            <div class="row">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="LOCTYPE">* Location Type</span>
                    <select required name="LOCTYPE" ng-init="LOCTYPE=patient.LOCTYPE" ng-model="LOCTYPE" class="form-control" aria-describedby="LOCTYPE">
                      <option value="">-Select One-</option>
                      <option value="H">Home</option>
                      <option value="A">Assisted Living</option>
                      <option value="O">Other</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientContact.LOCTYPE.$touched && patientContact.LOCTYPE.$invalid || patientContact.LOCTYPE.$invalid && patientContact.$submitted">Location Type is required.</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="ADDRESS">* Address</span>
                    <input required type="text" name="ADDRESS" ng-init="ADDRESS=patient.ADDRESS" ng-model="ADDRESS" class="form-control" aria-describedby="ADDRESS" maxlength="40">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="CITY">* City</span>
                    <input required type="text" name="CITY" ng-init="CITY=patient.CITY" ng-model="CITY" class="form-control" aria-describedby="CITY" maxlength="100">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientContact.ADDRESS.$touched && patientContact.ADDRESS.$invalid || patientContact.ADDRESS.$invalid && patientContact.$submitted">Address Type is required.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientContact.CITY.$touched && patientContact.CITY.$invalid || patientContact.CITY.$invalid && patientContact.$submitted">City is required.</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="STATE">* State</span>
                    <select required name="STATE" ng-init="STATE=patient.STATE" ng-model="STATE" class="form-control" aria-describedby="STATE">
                      <option value="">-Select One-</option>
                      <option value="NV">NV</option>
                      <option value="TX">TX</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="ZIP">* Zip</span>
                    <input required type="text" name="ZIP" ng-init="ZIP=patient.ZIP" ng-model="ZIP" ui-mask="99999" ui-mask-placeholder ui-mask-placeholder-char="_" class="form-control" aria-describedby="ZIP">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientContact.STATE.$touched && patientContact.STATE.$invalid || patientContact.STATE.$invalid && patientContact.$submitted">State Type is required.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientContact.ZIP.$touched && patientContact.ZIP.$invalid || patientContact.ZIP.$invalid && patientContact.$submitted">Zip Code is required.</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="country">* Country</span>
                    <select required name="country" ng-init="patientObject.country='USA'" ng-model="patientObject.country" class="form-control" aria-describedby="country">
                      <option value="USA">USA</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="PHONE1">* Home Phone</span>
                    <input required type="text" name="PHONE1" ng-init="PHONE1=patient.PHONE1" ng-model="PHONE1" class="form-control" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="PHONE1">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientContact.country.$touched && patientContact.country.$invalid || patientContact.country.$invalid && patientContact.$submitted">Country is required.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientContact.PHONE1.$touched && patientContact.PHONE1.$invalid || patientContact.PHONE1.$invalid && patientContact.$submitted">Phone is required.</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="CELLPHONE">Cell Phone</span>
                    <input type="text" name="CELLPHONE" ng-init="CELLPHONE=patient.CELLPHONE" ng-model="CELLPHONE" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" class="form-control" aria-describedby="CELLPHONE">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="EMAIL">Email</span>
                    <input type="email" name="EMAIL" ng-init="EMAIL=patient.EMAIL" ng-model="EMAIL" class="form-control" aria-describedby="EMAIL">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientContact.CELLPHONE.$touched && patientContact.CELLPHONE.$invalid || patientContact.CELLPHONE.$invalid && patientContact.$submitted">Cell Phone is required.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientContact.EMAIL.$touched && patientContact.EMAIL.$invalid || patientContact.EMAIL.$invalid && patientContact.$submitted">Email is required.</div>
                  </div>
                </div>
                <div class="col-md-12 col-no-pad">
                  <div class="col-md-12">
                    <span class="text-area-addon" id="ADDRESS_NOTES">Notes</span>
                    <textarea rows="3" name="ADDRESS_NOTES" ng-init="ADDRESS_NOTES=patient.ADDRESS_NOTES" ng-model="ADDRESS_NOTES"  class="form-control" aria-describedby="ADDRESS_NOTES"></textarea>
                  </div>
                </div>
                <div class="col-md-6" style="margin-top:10px">
                  <label>
                    <input type="checkbox" ng-model="secondaryAddressCheckbox" ng-click="addSecondaryAddress=!addSecondaryAddress"> Add Secondary Address
                  </label>
                </div>
              </div>
            </div>
          </div>
          <section class="contact2" ng-show="addSecondaryAddress">
            <div class="create-section-title">
              <div class="container small">
                <div class="row">
                  <div class="col-md-12">
                    <h3>Secondary Address</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="container small">
              <div class="row">
                <div class="input-field-group">
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="LOCTYPE2">* Location Type</span>
                      <select ng-required="addSecondaryAddress" name="LOCTYPE2" ng-init="LOCTYPE2=patient.LOCTYPE2" ng-model="LOCTYPE2" class="form-control" aria-describedby="LOCTYPE2">
                        <option value="">-Select One-</option>
                        <option value="H">Home</option>
                        <option value="A">Apartment</option>
                        <option value="O">Other</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="ADDRESS2">* Address</span>
                      <input ng-required="addSecondaryAddress" type="text" name="ADDRESS2" ng-init="ADDRESS2=patient.ADDRESS2" ng-model="ADDRESS2" class="form-control" aria-describedby="ADDRESS2">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="col-md-6">
                      <div class="field-error" ng-show="patientContact.LOCTYPE2.$touched && patientContact.LOCTYPE2.$invalid || patientContact.LOCTYPE2.$invalid && patientContact.$submitted">Location Type is required.</div>
                    </div>
                    <div class="col-md-6">
                      <div class="field-error" ng-show="patientContact.ADDRESS2.$touched && patientContact.ADDRESS2.$invalid || patientContact.ADDRESS2.$invalid && patientContact.$submitted">Address is required.</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="CITY2">* City</span>
                      <input ng-required="addSecondaryAddress" type="text" name="CITY2" ng-init="CITY2=patient.CITY2" ng-model="CITY2" class="form-control" aria-describedby="CITY2">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="STATE2">* State</span>
                      <select ng-required="addSecondaryAddress" name="STATE2" ng-init="STATE2=patient.STATE2" ng-model="STATE2" class="form-control" aria-describedby="STATE2">
                        <option value="">-Select One-</option>
                        <option value="NV">NV</option>
                        <option value="TX">TX</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="col-md-6">
                      <div class="field-error" ng-show="patientContact.CITY2.$touched && patientContact.CITY2.$invalid || patientContact.CITY2.$invalid && patientContact.$submitted">City is required.</div>
                    </div>
                    <div class="col-md-6">
                      <div class="field-error" ng-show="patientContact.STATE2.$touched && patientContact.STATE2.$invalid || patientContact.STATE2.$invalid && patientContact.$submitted">State is required.</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="ZIP2">* Zip</span>
                      <input ng-required="addSecondaryAddress" type="text" name="ZIP2" ng-init="ZIP2=patient.ZIP2"  ng-model="ZIP2" class="form-control" ui-mask="99999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="ZIP2">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="PHONE2">* Phone</span>
                      <input ng-required="addSecondaryAddress" type="text" name="PHONE2" ng-init="PHONE2=patient.PHONE2" ng-model="PHONE2" class="form-control" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="PHONE2">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="col-md-6">
                      <div class="field-error" ng-show="patientContact.ZIP2.$touched && patientContact.ZIP2.$invalid || patientContact.ZIP2.$invalid && patientContact.$submitted">Zip is required.</div>
                    </div>
                    <div class="col-md-6">
                      <div class="field-error" ng-show="patientContact.PHONE2.$touched && patientContact.PHONE2.$invalid || patientContact.PHONE2.$invalid && patientContact.$submitted">Phone is required.</div>
                    </div>
                  </div>
                  <!-- <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="secondaryCell">Cell Phone</span>
                      <input type="text" name="secondaryCell" ng-model="secondaryCell" class="form-control" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="secondaryCell">
                    </div>
                  </div> -->
                  <!-- <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="secondaryEmail">Email</span>
                      <input type="email" name="secondaryEmail" ng-model="secondaryEmail" class="form-control" aria-describedby="secondaryEmail">
                    </div>
                  </div> -->
                  <!-- <div class="col-md-6">
                    <span class="text-area-addon" id="secondaryAddressNotes">Notes</span>
                    <textarea rows="3" name="secondaryAddressNotes" ng-model="secondaryAddressNotes" class="form-control" aria-describedby="secondaryAddressNotes"></textarea>
                  </div> -->
                </div>
              </div>
            </section>
            <!-- <div class="row"> -->
              <div class="col-md-12 col-no-pad">
                <hr>
                <div class="col-md-6">
                  <div class="bottom-nav">
                    <button class="btn btn-default" ng-click="disableEditMode('Contact');">Cancel<i class="glyphicon glyphicon-remove-circle"></i></button>
                    <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="saveChanges(patientContact)">Save<i class="glyphicon glyphicon-ok"></i></button>
                  </div>
                </div>
              </div>
            <!-- </div> -->
          </div>
        </section>
      </form>
    </div>
  </div>
</section>
