<section id="editPatientForm">
  <div class="row">
    <div class="col-md-12">
      <form name="patientDemographic" novalidate ng-show="editDemographic">
        <section class="Demographic">
          <div class="create-section-title">
            <div class="container small">
              <div class="row">
                <div class="col-md-12">
                  <h3>Personal Information</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="container small">
            <div class="row">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="FNAME">* First Name</span>
                    <!-- <input required type="text" name="FNAME" ng-init="FNAME=patient.FNAME" ng-model="FNAME" ng-model-options="{ updateOn: 'submit' }" class="form-control" tabindex="1" aria-describedby="FNAME" placeholder="{{patient.FNAME}}"> -->
                    <input required type="text" name="FNAME" ng-init="FNAME=patient.FNAME" ng-model="FNAME" class="form-control" tabindex="1" aria-describedby="FNAME" maxlength="25">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="DOB">* Date of Birth</span>
                    <div class="input-group" style="margin:0;display:inline-flex">
                      <input type="text" tabindex="4"
                            required
                            name="DOB"
                            class="form-control"
                            uib-datepicker-popup='MM-dd-yyyy'
                            ng-model="DOB"
                            is-open="openedDOB"
                            show-button-bar="false"
                            ng-click="openedDOB=true"
                            datepicker-append-to-body="false"
                            alt-input-formats="altInputFormats" />
                        <span class="input-group-btn" style="float:left">
                          <button type="button" class="btn btn-default" ng-click="openedDOB=true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </div>
                    <!-- <input required type="date" name="DOB"  value={{patient.DOB}} ng-model="DOB"  class="form-control" tabindex="4" aria-describedby="DOB"> -->
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientDemographic.FNAME.$touched && patientDemographic.FNAME.$invalid || patientDemographic.FNAME.$invalid && patientDemographic.$submitted">First Name is required.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientDemographic.DOB.$error.required||patientDemographic.DOB.$touched && patientDemographic.DOB.$invalid || patientDemographic.DOB.$invalid && patientDemographic.$submitted">Date of Birth is required.</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="MINITIAL">MI</span>
                    <input type="text" name="MINITIAL" ng-init="MINITIAL=patient.MINITIAL" ng-model="MINITIAL" class="form-control" tabindex="2" aria-describedby="MINITIAL" maxlength="1">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="GENDER">* Gender</span>
                    <select required type="text" name="GENDER" ng-init="GENDER=patient.GENDER" ng-model="GENDER" class="form-control" tabindex="5" aria-describedby="GENDER">
                      <option value="">-Select One-</option>
                      <option value="M">Male</option>
                      <option value="F">Female</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6 col-md-offset-6">
                    <div class="field-error" ng-show="patientDemographic.GENDER.$touched && patientDemographic.GENDER.$invalid || patientDemographic.GENDER.$invalid && patientDemographic.$submitted">Gender is required.</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="LNAME">* Last Name</span>
                    <input required type="text" name="LNAME" ng-init="LNAME=patient.LNAME" ng-model="LNAME" class="form-control" tabindex="3" aria-describedby="LNAME" maxlength="25">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="SSN">* Social Security #</span>
                    <input required type="text" name="SSN" ng-init="SSN=patient.SSN" ng-model="SSN" class="form-control" tabindex="6" ui-mask="999-99-9999"  ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="SSN">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientDemographic.LNAME.$touched && patientDemographic.LNAME.$invalid || patientDemographic.LNAME.$invalid && patientDemographic.$submitted">Last Name is required.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientDemographic.SSN.$touched && patientDemographic.SSN.$invalid || patientDemographic.SSN.$invalid && patientDemographic.$submitted">SSN is required.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="MARITAL">Marital Status</span>
                      <select name="MARITAL" ng-init="MARITAL=patient.MARITAL.toString()" ng-model="MARITAL" class="form-control" tabindex="7" aria-describedby="MARITAL">
                        <option value="">-Select One-</option>
                        <option value="1">Unknown</option>
                        <option value="2">Single</option>
                        <option value="3">Married</option>
                        <option value="4">Separated</option>
                        <option value="5">Divorced</option>
                        <option value="6">Widowed</option>
                      </select>
                      <!-- <input type="text" name="martialStatus" ng-model="patientObject.maritalStatus" class="form-control" tabindex="7" aria-describedby="maritalStatus"> -->
                    </div>
                  </div>
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="LANGUAGE">Language</span>
                      <select name="LANGUAGE" class="form-control" tabindex="8"
                              ng-init="LANGUAGE=patient.LANGUAGE"
                              ng-model="LANGUAGE"
                              ng-options="language.KEYID as language.DESC for language in languages">
                        <option value="">-Select One-</option>
                      </select>
                      <!-- <input type="text" name="language" ng-model="patientObject.language" class="form-control" tabindex="8" aria-describedby="language"> -->
                    </div>
                  </div>
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="M0140">Ethnicity</span>
                      <select name="M0140" ng-init="M0140=patient.M0140" ng-model="M0140" class="form-control" tabindex="9" aria-describedby="M0140">
                        <option value="">-Select One-</option>
                        <option value="1">American Indian or Alaska Native</option>
                        <option value="2">Asian</option>
                        <option value="3">Black or African-American</option>
                        <option value="4">Hispanic or Latino</option>
                        <option value="5">Native Hawaiian or Pacific Islander</option>
                        <option value="6">White</option>
                      </select>
                      <!-- <input type="text" name="M0140" ng-init="M0140=patient.M0140" ng-model="M0140" class="form-control" tabindex="9" aria-describedby="M0140"> -->
                    </div>
                  </div>
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="RELIGION">Religion</span>
                      <select name="RELIGION" class="form-control" tabindex="10"
                              ng-init="RELIGION=patient.RELIGION"
                              ng-model="RELIGION"
                              ng-options="religion.KEYID as religion.DESC for religion in religions">
                        <option value="">-Select One-</option>
                      </select>
                      <!-- <input type="text" name="religion" ng-model="patientObject.religion" class="form-control" tabindex="10" aria-describedby="religion"> -->
                    </div>
                  </div>
                  <!-- <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="responsiblePer">Responsible Per.</span>
                      <input type="text" name="responsiblePer" ng-model="patientObject.responsiblePer" class="form-control" tabindex="11" aria-describedby="responsiblePer">
                    </div>
                  </div> -->
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="ACUITY">Acuity</span>
                      <select name="ACUITY" ng-init="ACUITY=admission.ACUITY.toString()" ng-model="ACUITY" class="form-control" tabindex="11" aria-describedby="ACUITY">
                        <option value="">-Select One-</option>
                        <option value="1">Low</option>
                        <option value="2">Medium</option>
                        <option value="3">High</option>
                      </select>
                      <!-- <input type="text" name="ACUITY" ng-init="ACUITY=patient.ACUITY" ng-model="ACUITY" class="form-control" tabindex="12" aria-describedby="ACUITY"> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <span class="text-area-addon" id="NOTES">Notes</span>
                  <textarea rows="10" name="NOTES" ng-init="NOTES=patient.NOTES" ng-model="NOTES" class="form-control" tabindex="13" aria-describedby="NOTES"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field-group">
                <div class="col-md-6">
                  <label>
                    <input type="checkbox" ng-model="primaryCheckbox" ng-click="addPrimaryCaregiver=!addPrimaryCaregiver"> Add Primary Caregiver
                  </label>
                </div>
              </div>
            </div>
            <div class="row" ng-show="addPrimaryCaregiver">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="PCGNAME">* Primary Care Giver Name</span>
                      <input ng-required="primaryCheckbox" type="text" name="PCGNAME" ng-init="PCGNAME=admission.PCGNAME" ng-model="PCGNAME" class="form-control" tabindex="14" aria-describedby="PCGNAME" maxlength="40">
                    </div>
                    <div class="field-error" ng-show="patientDemographic.PCGNAME.$touched && patientDemographic.FNAME.$invalid || patientDemographic.PCGNAME.$invalid && patientDemographic.$submitted">Primary Caregiver Name is required.</div>
                  </div>
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="PCGPHONE">* Primary Care Giver Phone</span>
                      <input  ng-required="primaryCheckbox" name="PCGPHONE" ng-init="PCGPHONE=admission.PCGPHONE" ng-model="PCGPHONE" class="form-control" tabindex="15"  ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="PCGPHONE">
                    </div>
                    <div class="field-error" ng-show="patientDemographic.PCGPHONE.$touched && patientDemographic.FNAME.$invalid || patientDemographic.PCGPHONE.$invalid && patientDemographic.$submitted">Primary Caregiver Phone is required.</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="PCGNOTES">Primary Care Giver Notes</span>
                      <textarea rows="3"type="text" name="PCGNOTES" ng-init="PCGNOTES=admission.PCGNOTES" ng-model="PCGNOTES" class="form-control" tabindex="16" aria-describedby="PCGNOTES"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field-group">
                <div class="col-md-6">
                  <label>
                    <input type="checkbox" ng-model="emergencyCheckbox" ng-click="addEmergencyCaregiver=!addEmergencyCaregiver"> Add Emergency Caregiver
                  </label>
                </div>
              </div>
            </div>
            <div class="row" ng-show="addEmergencyCaregiver">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="ECNAME">* Emerg. Contact Name</span>
                      <input ng-required="emergencyCheckbox" type="text" name="ECNAME" ng-init="ECNAME=admission.ECNAME" ng-model="ECNAME"  class="form-control" tabindex="17" aria-describedby="ECNAME" maxlength="40">
                    </div>
                    <div class="field-error" ng-show="patientDemographic.ECNAME.$touched && patientDemographic.FNAME.$invalid || patientDemographic.ECNAME.$invalid && patientDemographic.$submitted">Emergency Caregiver Name is required.</div>
                  </div>
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="ECPHONE">* Emerg. Contact Phone</span>
                      <input ng-required="emergencyCheckbox" name="ECPHONE" ng-init="ECPHONE=admission.ECPHONE" ng-model="ECPHONE" class="form-control" tabindex="18"  ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="ECPHONE">
                    </div>
                    <div class="field-error" ng-show="patientDemographic.ECPHONE.$touched && patientDemographic.FNAME.$invalid || patientDemographic.ECPHONE.$invalid && patientDemographic.$submitted">Emergency Caregiver Name is required.</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="ECNOTES">Emerg. Contact Notes</span>
                      <textarea rows="3" type="text" name="ECNOTES" ng-init="ECNOTES=admission.ECNOTES" ng-model="ECNOTES" class="form-control" tabindex="19" ng-model="ECNOTES" aria-describedby="ECNOTES"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <hr>
              <div class="col-md-6">
                <div class="bottom-nav">
                  <button class="btn btn-default" ng-click="disableEditMode('Demographic')">Cancel<i class="glyphicon glyphicon-remove-circle"></i></button>
                  <button type="submit" class="btn btn-primary purple" tabindex="20" ng-click=" saveChanges(patientDemographic);">Save<i class="glyphicon glyphicon-ok"></i></button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</section>
