<section id="editPatientForm">
  <div class="row">
    <div class="col-md-12">
      <form name="patientDiagnosis" novalidate>
        <section class="Diagnosis">
          <div class="create-section-title">
            <div class="container small">
              <div class="row">
                <div class="col-md-12">
                  <h3>Diagnosis</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="container small">
            <div class="row">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="diagnosis">
                    <h4>Medical</h4>
                  </div>
                </div>
                <div class="col-md-6">
                  <button ng-hide="addICDArray.length>4" style="float:right" class="btn btn-primary" ng-click="addICD()">Add More</button>
                </div>
                <div class="row">
                  <div class=col-md-12>
                    <div class="col-md-6">
                      <div class="diagnosis">
                        <label for="ICD"></label>
                        <input type="text" tabindex="1"
                                required
                                ng-model-options="{debounce : 1000}"
                                name="ICDCODE"
                                typeahead-on-select="updateICDInitial()"
                                ng-model="ICDCODE"
                                uib-typeahead="code.CODE as code.CODE+' '+code.DESCRIPTION for code in getICDCodes($viewValue)"
                                typeahead-loading="loadingICDCodes"
                                typeahead-no-results="noResults"
                                class="form-control"
                                placeholder="Search ICD Code" >
                        <i ng-show="loadingICDCodes" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                          <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                      </div>
                      <div class="field-error" ng-show="patientDiagnosis.ICDCODE.$touched && patientDiagnosis.ICDCODE.$invalid || patientDiagnosis.ICDCODE.$invalid && patientDiagnosis.$submitted">ICD Code is required.</div>
                      <div class="diagnosis" style=margin-top:10px>
                        <div class="input-group">
                          <input type="text" tabindex="2"
                                placeholder="MM-DD-YYYY"
                                name="ICDDATE"
                                class="form-control"
                                uib-datepicker-popup='MM-dd-yyyy'
                                ng-model="ICDDATE"
                                is-open="openedICDDATE"
                                show-button-bar="false"
                                ng-click="openedICDDATE=true"
                                datepicker-append-to-body="false"
                                alt-input-formats="altInputFormats" />
                          <span class="input-group-btn" >
                            <button type="button" class="btn btn-default" ng-click="openedICDDATE=true"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="diagnosis">
                        <textarea rows="4" tabindex="3" ng-model="ICDDESC" placeholder="Description" class="form-control desc" disabled></textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <div ng-repeat="icd in addICDArray">
                <!---icd 2 codes-->
                <hr>
                <div class="row">
                  <div class=col-md-12>
                    <div class="col-md-6">
                      <div class="diagnosis">
                        <label for="ICD"></label>
                        <input type="text" tabindex="4"
                                ng-model-options="{debounce : 1000}"
                                ng-init="ICDCODES[icd.code]=icd.codedetail"
                                typeahead-on-select="updateICD(icd)"
                                ng-model="ICDCODES[icd.code]"
                                uib-typeahead="code.CODE as code.CODE+code.DESCRIPTION for code in getICDCodes($viewValue)"
                                typeahead-loading="loadingICD"
                                typeahead-no-results="noResults"
                                class="form-control"
                                placeholder="Search ICD Code" >
                        <i ng-show="loadingICD" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                          <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                      </div>
                      <div class="diagnosis" style=margin-top:10px>
                        <div class="input-group">
                          <input type="text" tabindex="5"
                                placeholder="MM-DD-YYYY"
                                name="ICDDATE2"
                                class="form-control"
                                uib-datepicker-popup='MM-dd-yyyy'
                                ng-init="ICDCODES[icd.date]= icd.datedetail"
                                ng-model="ICDCODES[icd.date]"
                                is-open="icd.openDate"
                                show-button-bar="false"
                                ng-click="icd.openDate=true"
                                datepicker-append-to-body="false"
                                alt-input-formats="altInputFormats" />
                          <span class="input-group-btn" >
                            <button type="button" class="btn btn-default" ng-click="icd.openDate=true"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="diagnosis">
                        <label for="ICD"></label>
                        <textarea rows="4" tabindex="6" ng-init="ICDCODES[icd.desc]=icd.descdetail" ng-model="ICDCODES[icd.desc]" placeholder="Description" class="form-control desc" ></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <button style="float:right" class="btn btn-primary" ng-click="deleteICD(icd)">Delete</button>
                    </div>
                  </div>
                </div>
                <!---icd 3 codes-->
                <!-- <hr ng-show="addICD3">
                <div class="row" ng-show="addICD3">
                  <div class=col-md-12>
                    <div class="col-md-6">
                      <div class="diagnosis">
                        <label for="ICD"></label>
                        <input type="text" tabindex="7"
                                typeahead-on-select="updateICD3()"
                                ng-model="ICDCODE3"
                                uib-typeahead="code.CODE as code.CODE+code.DESCRIPTION for code in ICDcodes | filter:$viewValue | limitTo:8"
                                class="form-control"
                                placeholder="Search ICD Code and Description" >
                      </div>
                      <div class="diagnosis" style=margin-top:10px>
                        <div class="input-group">
                          <input type="text" tabindex="8"
                                placeholder="MM-DD-YYYY"
                                name="ICDDATE3"
                                class="form-control"
                                uib-datepicker-popup='MM-dd-yyyy'
                                ng-model="ICDDATE3"
                                is-open="openedICDDATE3"
                                show-button-bar="false"
                                ng-click="openedICDDATE3=true"
                                datepicker-append-to-body="false"
                                alt-input-formats="altInputFormats" />
                          <span class="input-group-btn" >
                            <button type="button" class="btn btn-default" ng-click="openedICDDATE3=true"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="diagnosis">
                        <label for="ICD"></label>
                        <textarea rows="4" tabindex="9" ng-model="ICDDESC3" placeholder="Description" class="form-control desc" ></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <button style="float:right" class="btn btn-primary" ng-click="deleteICD(3)">Delete</button>
                    </div>
                  </div>
                </div> -->
                <!---icd 4 codes-->
                <!-- <hr ng-show="addICD4">
                <div class="row" ng-show="addICD4">
                  <div class=col-md-12>
                    <div class="col-md-6">
                      <div class="diagnosis">
                        <label for="ICD"></label>
                        <input type="text" tabindex="7"
                                typeahead-on-select="updateICD4()"
                                ng-model="ICDCODE4"
                                uib-typeahead="code.CODE as code.CODE+code.DESCRIPTION for code in ICDcodes | filter:$viewValue | limitTo:8"
                                class="form-control"
                                placeholder="Search ICD Code and Description" >
                      </div>
                      <div class="diagnosis" style=margin-top:10px>
                        <div class="input-group">
                          <input type="text" tabindex="8"
                                placeholder="MM-DD-YYYY"
                                name="ICDDATE4"
                                class="form-control"
                                uib-datepicker-popup='MM-dd-yyyy'
                                ng-model="ICDDATE4"
                                is-open="openedICDDATE4"
                                show-button-bar="false"
                                ng-click="openedICDDATE4=true"
                                datepicker-append-to-body="false"
                                alt-input-formats="altInputFormats" />
                          <span class="input-group-btn" >
                            <button type="button" class="btn btn-default" ng-click="openedICDDATE4=true"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="diagnosis">
                        <label for="ICD"></label>
                        <textarea rows="4" tabindex="9" ng-model="ICDDESC4" placeholder="Description" class="form-control desc" ></textarea>
                      </div>
                    </div>
                  </div>
                </div> -->
                <!---icd 5 codes-->
                <!-- <hr ng-show="addICD5">
                <div class="row" ng-show="addICD5">
                  <div class=col-md-12>
                    <div class="col-md-6">
                      <div class="diagnosis">
                        <label for="ICD"></label>
                        <input type="text" tabindex="7"
                                typeahead-on-select="updateICD5()"
                                ng-model="ICDCODE5"
                                uib-typeahead="code.CODE as code.CODE+code.DESCRIPTION for code in ICDcodes | filter:$viewValue | limitTo:8"
                                class="form-control"
                                placeholder="Search ICD Code and Description" >
                      </div>
                      <div class="diagnosis" style=margin-top:10px>
                        <div class="input-group">
                          <input type="text" tabindex="8"
                                placeholder="MM-DD-YYYY"
                                name="ICDDATE5"
                                class="form-control"
                                uib-datepicker-popup='MM-dd-yyyy'
                                ng-model="ICDDATE5"
                                is-open="openedICDDATE5"
                                show-button-bar="false"
                                ng-click="openedICDDATE5=true"
                                datepicker-append-to-body="false"
                                alt-input-formats="altInputFormats" />
                          <span class="input-group-btn" >
                            <button type="button" class="btn btn-default" ng-click="openedICDDATE5=true"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="diagnosis">
                        <label for="ICD"></label>
                        <textarea rows="4" tabindex="9" ng-model="ICDDESC5" placeholder="Description" class="form-control desc" ></textarea>
                      </div>
                    </div>
                  </div>
                </div> -->
                <!---icd 6 codes-->
                <!-- <hr ng-show="addICD6">
                <div class="row" ng-show="addICD6">
                  <div class=col-md-12>
                    <div class="col-md-6">
                      <div class="diagnosis">
                        <label for="ICD"></label>
                        <input type="text" tabindex="7"
                                typeahead-on-select="updateICD6()"
                                ng-model="ICDCODE6"
                                uib-typeahead="code.CODE as code.CODE+code.DESCRIPTION for code in ICDcodes | filter:$viewValue | limitTo:8"
                                class="form-control"
                                placeholder="Search ICD Code and Description" >
                      </div>
                      <div class="diagnosis" style=margin-top:10px>
                        <div class="input-group">
                          <input type="text" tabindex="8"
                                placeholder="MM-DD-YYYY"
                                name="ICDDATE6"
                                class="form-control"
                                uib-datepicker-popup='MM-dd-yyyy'
                                ng-model="ICDDATE6"
                                is-open="openedICDDATE6"
                                show-button-bar="false"
                                ng-click="openedICDDATE6=true"
                                datepicker-append-to-body="false"
                                alt-input-formats="altInputFormats" />
                          <span class="input-group-btn" >
                            <button type="button" class="btn btn-default" ng-click="openedICDDATE5=true"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="diagnosis">
                        <label for="ICD"></label>
                        <textarea rows="4" tabindex="9" ng-model="ICDDESC6" placeholder="Description" class="form-control desc" ></textarea>
                      </div>
                    </div>
                  </div>
                </div> -->


              </div>
            </div>
          </div>
          <div class="container-small">
            <hr>
            <div class="col-md-6">
              <div class="bottom-nav">
                <button class="btn btn-default"tabindex="10" ng-click="disableEditMode('Diagnosis')">Cancel<i class="glyphicon glyphicon-remove-circle"></i></button>
                <button type="submit" tabindex="11" class="btn btn-primary purple" tabindex="14" ng-click="saveChanges(patientDiagnosis);">Save<i class="glyphicon glyphicon-ok"></i></button>
              </div>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</section>
