<section id="editPatientForm">
  <div class="row">
    <div class="col-md-12">
      <form name="patientDemographic" novalidate ng-show="editDemographic">
        <section class="Demographic">
          <div class="create-section-title">
            <div class="container small">
              <div class="row">
                <div class="col-md-12">
                  <h3>Personal Information</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="container small">
            <div class="row">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="firstName">* First Name</span>
                    <input required type="text" name="firstName" ng-model="firstName" class="form-control" tabindex="1" aria-describedby="firstName">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="dateOfBirth">* Date of Birth</span>
                    <input required type="date" name="dateOfBirth" ng-model="dateOfBirth"  class="form-control" tabindex="4" aria-describedby="dateOfBirth">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientDemographic.firstName.$touched && patientDemographic.firstName.$invalid || patientDemographic.firstName.$invalid && patientDemographic.$submitted">First Name is required.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientDemographic.dateOfBirth.$touched && patientDemographic.dateOfBirth.$invalid || patientDemographic.dateOfBirth.$invalid && patientDemographic.$submitted">Date of Birth is required.</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="middleInitial">MI</span>
                    <input required type="text" name="middleInitial" ng-model="middleInitial" class="form-control" tabindex="2" aria-describedby="middleInitial">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="gender">* Gender</span>
                    <select required type="text" name="gender" ng-model="gender" class="form-control" tabindex="5" aria-describedby="gender">
                      <option value="">-Select One-</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientDemographic.middleInitial.$touched && patientDemographic.middleInitial.$invalid || patientDemographic.middleInitial.$invalid && patientDemographic.$submitted">Middle Initial is required.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientDemographic.gender.$touched && patientDemographic.gender.$invalid || patientDemographic.gender.$invalid && patientDemographic.$submitted">Gender is required.</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="lastName">* Last Name</span>
                    <input required type="text" name="lastName" ng-model="lastName" class="form-control" tabindex="3" aria-describedby="lastName">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="ssn">* Social Security #</span>
                    <input required type="text" name="ssn" ng-model="ssn" class="form-control" tabindex="6" ng-model="ssn" ui-mask="999-99-9999"  ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="ssn">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientDemographic.lastName.$touched && patientDemographic.lastName.$invalid || patientDemographic.lastName.$invalid && patientDemographic.$submitted">Last Name is required.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientDemographic.ssn.$touched && patientDemographic.ssn.$invalid || patientDemographic.ssn.$invalid && patientDemographic.$submitted">SSN is required.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="maritalStatus">Marital Status</span>
                      <input type="text" name="martialStatus" ng-model="martialStatus" class="form-control" tabindex="7" aria-describedby="maritalStatus">
                    </div>
                  </div>
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="language">Language</span>
                      <input type="text" name="language" ng-model="language" class="form-control" tabindex="8" aria-describedby="language">
                    </div>
                  </div>
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="ethnicity">Ethnicity</span>
                      <input type="text" name="ethnicity" ng-model="ethnicity" class="form-control" tabindex="9" aria-describedby="ethnicity">
                    </div>
                  </div>
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="religion">Religion</span>
                      <input type="text" name="religion" ng-model="religion" class="form-control" tabindex="10" aria-describedby="religion">
                    </div>
                  </div>
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="responsiblePer">Responsible Per.</span>
                      <input type="text" name="responsiblePer" ng-model="responsiblePer" class="form-control" tabindex="11" aria-describedby="responsiblePer">
                    </div>
                  </div>
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="acuity">Acuity</span>
                      <input type="text" name="acuity" ng-model="acuity" class="form-control" tabindex="12" aria-describedby="acuity">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <span class="text-area-addon" id="demographicNotes">Notes</span>
                  <textarea rows="10" name="demographicNotes" ng-model="demographicNotes" class="form-control" tabindex="13" aria-describedby="demographicNotes"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <hr>
              <div class="col-md-6">
                <div class="bottom-nav">
                  <button class="btn btn-default" ng-click="disableEditMode()">Cancel<i class="glyphicon glyphicon-remove-circle"></i></button>
                  <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="disableEditMode()">Save<i class="glyphicon glyphicon-ok"></i></button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</section>
