<section id="editPatientForm">
  <div class="row">
    <div class="col-md-12">
      <form name="patientInsurance" novalidate>
        <section class="Insurance">
          <div class="create-section-title">
            <div class="container small">
              <div class="row">
                <div class="col-md-12">
                  <h3>Primary Insurance</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="container small">
            <div class="row">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="INSCO">* Insurance Name</span>
                    <!-- <select required name="INSCO" class="form-control"
                            ng-init="INSCO=patient.INSCO"
                            ng-model="INSCO"
                            ng-change="hideInfo()"
                            ng-options="insurance.KEYID as insurance.NAME for insurance in insurances">
                      <option value="">-Select One-</option>
                    </select> -->
                    <select required name="INSCO" class="form-control"
                            ng-init="INSCO=patient.INSCO"
                            ng-change="hideInfo()"
                            ng-model="INSCO"
                            ng-options="insurance.KEYID as insurance.NAME for insurance in insurances">
                      <option value="">-Select One-</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="INSID">*Insurance ID</span>
                    <input ng-required="INSCO===1 || INSCO===7 " type="text" name="INSID" ng-init="INSID=patient.INSID" ng-model="INSID" class="form-control" aria-describedby="INSID" maxlength="18">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6">
                    <div class="field-error" ng-show="isDuplicatePrimary">Primary Insurance cannot be same as Secondary Insurance</div>
                    <div class="field-error" ng-show="patientInsurance.INSCO.$touched && patientInsurance.INSCO.$invalid || patientInsurance.INSCO.$invalid && patientInsurance.$submitted">Insurance name is required.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientInsurance.INSID.$touched && patientInsurance.INSID.$invalid || patientInsurance.INSID.$invalid && patientInsurance.$submitted">Insurance ID is required.</div>
                  </div>
                </div>
                <div class="col-md-6" ng-hide="hideInsuranceInfo">
                  <div class="input-group">
                    <span class="input-group-addon" id="INS1PLAN">Plan</span>
                    <input type="text" class="form-control" name="INS1PLAN" ng-init="INS1PLAN=admission.INS1PLAN" ng-model="INS1PLAN" aria-describedby="INS1PLAN">
                  </div>
                </div>
                <div class="col-md-6" ng-hide="hideInsuranceInfo">
                  <div class="input-group">
                    <span class="input-group-addon" id="INS1GROUP">Group</span>
                    <input type="text" class="form-control" name="INS1GROUP" ng-init="INS1GROUP=admission.INS1GROUP" ng-model="INS1GROUP" aria-describedby="INS1GROUP">
                  </div>
                </div>

                <div class="col-md-6" ng-hide="hideInsuranceInfo">
                  <div class="input-group">
                    <span class="input-group-addon" id="INS1AUTHCODE">Auth Code</span>
                    <input type="text" class="form-control" name="INS1AUTHCODE" ng-init="INS1AUTHCODE=admission.INS1AUTHCODE" ng-model="INS1AUTHCODE" aria-describedby="INS1AUTHCODE">
                  </div>
                </div>
                <div class="col-md-6" ng-hide="hideInsuranceInfo">
                  <div class="input-group">
                    <span class="input-group-addon" id="INS1NOTES">Notes</span>
                    <input type="text" class="form-control" name="INS1NOTES" ng-init="INS1NOTES=admission.INS1NOTES" ng-model="INS1NOTES" aria-describedby="INS1NOTES">
                  </div>
                </div>
                <div class="col-md-6 col-md-offset-6">
                  <label>
                    <input type="checkbox" ng-change="isSecondaryInsuranceChecked()" ng-model="secondaryInsuranceCheckbox" ng-click="addSecondaryInsurance=!addSecondaryInsurance"> Add Secondary Insurance
                  </label>
                </div>
              </div>
            </div>
          </div>

          <section class="Insurance2" ng-show="addSecondaryInsurance">
            <div class="create-section-title">
              <div class="container small">
                <div class="row">
                  <div class="col-md-12">
                    <h3>Secondary Insurance</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="container small">
              <div class="row">
                <div class="input-field-group">
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="INS2CO">* Insurance Name</span>
                      <!-- <select name="INS2CO" class="form-control"
                              required
                              ng-init="INS2CO=admission.INS2CO"
                              ng-model="INS2CO"
                              ng-change="hide2Info()"
                              ng-options="insurance.KEYID as insurance.NAME for insurance in insurances">
                        <option value="">-Select One-</option>
                      </select> -->
                      <select name="INS2CO" class="form-control"
                              ng-required="addSecondaryInsurance"
                              ng-init="INS2CO=admission.INS2CO"
                              ng-change="hide2Info()"
                              ng-model="INS2CO"
                              ng-options="insurance.KEYID as insurance.NAME for insurance in insurances">
                        <option value="">-Select One-</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="INS2ID">Insurance ID</span>
                      <input ng-required="INS2CO===1 || INS2CO===7" type="text" class="form-control" name="INS2ID" ng-init="INS2ID=admission.INS2ID" ng-model="INS2ID" aria-describedby="INS2ID" maxlength="18">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="col-md-6">
                      <div class="field-error" ng-show="isDuplicate">Secondary Insurance cannot be same as Primary Insurance</div>
                      <div class="field-error" ng-show="patientInsurance.INS2CO.$touched && patientInsurance.INS2CO.$invalid || patientInsurance.INS2CO.$invalid && patientInsurance.$submitted">Insurance name is required or uncheck Add Secondary Insurance checkbox.</div>
                    </div>
                    <div class="col-md-6">
                      <div class="field-error" ng-show="patientInsurance.INS2ID.$touched && patientInsurance.INS2ID.$invalid || patientInsurance.INS2ID.$invalid && patientInsurance.$submitted">Insurance id is required.</div>
                    </div>
                  </div>
                  <div class="col-md-6" ng-hide="hideInsurance2Info">
                    <div class="input-group">
                      <span class="input-group-addon" id="INS2PLAN">Plan</span>
                      <input type="text" class="form-control" ng-init="INS2PLAN=admission.INS2PLAN" ng-model="INS2PLAN" aria-describedby="INS2PLAN">
                    </div>
                  </div>
                  <div class="col-md-6" ng-hide="hideInsurance2Info">
                    <div class="input-group">
                      <span class="input-group-addon" id="INS2GROUP">Group</span>
                      <input type="text" class="form-control" ng-init="INS2GROUP=admission.INS2GROUP" ng-model="INS2GROUP"  aria-describedby="INS2GROUP">
                    </div>
                  </div>
                  <div class="col-md-6" ng-hide="hideInsurance2Info">
                    <div class="input-group">
                      <span class="input-group-addon" id="INS2AUTHCODE">Auth Code</span>
                      <input type="text" class="form-control" ng-init="INS2AUTHCODE=admission.INS2AUTHCODE" ng-model="INS2AUTHCODE" aria-describedby="INS2AUTHCODE">
                    </div>
                  </div>
                  <div class="col-md-6" ng-hide="hideInsurance2Info">
                    <div class="input-group">
                      <span class="input-group-addon" id="INS2NOTES">Notes</span>
                      <input type="text" class="form-control" ng-init="INS2NOTES=admission.INS2NOTES" ng-model="INS2NOTES"aria-describedby="INS2NOTES">
                    </div>
                  </div>
                  <!-- <div class="col-md-6 col-md-offset-6" ng-show="addInsurance">
                    <button type="button" class="btn btn-primary" ng-click="addInsurance = false">Remove Secondary Insurance</button>
                  </div> -->
                </div>
              </div>
            </div>
          </section>

          <div class="container small">
            <div class="row">
              <hr>
              <div class="col-md-6">
                <div class="bottom-nav">
                  <button class="btn btn-default" ng-click="disableEditMode('Insurance')">Cancel<i class="glyphicon glyphicon-remove-circle"></i></button>
                  <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="saveChanges(patientInsurance)">Save<i class="glyphicon glyphicon-ok"></i></button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</section>
