<section id="editPatientForm">
  <div class="row">
    <div class="col-md-12">
      <form name="patientInsurance2" novalidate>
        <section class="Insurance2">
          <div class="create-section-title">
            <div class="container small">
              <div class="row">
                <div class="col-md-12">
                  <h3>Secondary Insurance</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="container small">
            <div class="row">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="INS2CO">* Insurance Name</span>
                    <!-- <select name="INS2CO" class="form-control"
                            required
                            ng-init="INS2CO=admission.INS2CO"
                            ng-model="INS2CO"
                            ng-change="hide2Info()"
                            ng-options="insurance.KEYID as insurance.NAME for insurance in insurances">
                      <option value="">-Select One-</option>
                    </select> -->
                    <select name="INS2CO" class="form-control"
                            required
                            ng-init="INS2CO=admission.INS2CO"
                            ng-model="INS2CO"
                            ng-options="insurance.KEYID as insurance.NAME for insurance in insurances">
                      <option value="">-Select One-</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6" ng-hide="hideInsurance2Info">
                  <div class="input-group">
                    <span class="input-group-addon" id="INS2PLAN">Plan</span>
                    <input type="text" class="form-control" ng-init="INS2PLAN=admission.INS2PLAN" ng-model="INS2PLAN" aria-describedby="INS2PLAN">
                  </div>
                </div>
                <div class="col-md-12" ng-hide="hideInsurance2Info">
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientInsurance2.INS2CO.$touched && patientInsurance2.INS2CO.$invalid || patientInsurance2.INS2CO.$invalid && patientInsurance2.$submitted">Insurance name is required.</div>
                  </div>
                </div>
                <div class="col-md-6"ng-hide="hideInsurance2Info">
                  <div class="input-group">
                    <span class="input-group-addon" id="INS2ID">Insurance ID</span>
                    <input type="text" class="form-control" ng-init="INS2ID=admission.INS2ID" ng-model="INS2ID" aria-describedby="INS2ID" maxlength="18">
                  </div>
                </div>
                <div class="col-md-6"ng-hide="hideInsurance2Info">
                  <div class="input-group">
                    <span class="input-group-addon" id="INS2GROUP">Group</span>
                    <input type="text" class="form-control" ng-init="INS2GROUP=admission.INS2GROUP" ng-model="INS2GROUP"  aria-describedby="INS2GROUP">
                  </div>
                </div>
                <div class="col-md-6"ng-hide="hideInsurance2Info">
                  <div class="input-group">
                    <span class="input-group-addon" id="INS2AUTHCODE">Auth Code</span>
                    <input type="text" class="form-control" ng-init="INS2AUTHCODE=admission.INS2AUTHCODE" ng-model="INS2AUTHCODE" aria-describedby="INS2AUTHCODE">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="INS2NOTES">Notes</span>
                    <input type="text" class="form-control" ng-init="INS2NOTES=admission.INS2NOTES" ng-model="INS2NOTES"aria-describedby="INS2NOTES">
                  </div>
                </div>
                <!-- <div class="col-md-6 col-md-offset-6" ng-show="addInsurance">
                  <button type="button" class="btn btn-primary" ng-click="addInsurance = false">Remove Secondary Insurance</button>
                </div> -->
              </div>
            </div>
          </div>
          <div class="container small">
            <div class="row">
              <hr>
              <div class="col-md-6">
                <div class="bottom-nav">
                  <button class="btn btn-default" ng-click="disableEditMode('Insurance2');">Cancel<i class="glyphicon glyphicon-remove-circle"></i></button>
                  <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="saveChanges(patientInsurance2)">Save<i class="glyphicon glyphicon-ok"></i></button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</section>
