<section id="editPatientForm">
  <div class="row">
    <div class="col-md-12">
      <form name="patientNotes" novalidate>
        <section class="Notes">
          <div class="create-section-title">
            <div class="container small">
              <div class="row">
                <div class="col-md-12">
                  <h3>Notes</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="container small">
            <div class="row">
              <div class="input-field-group">
                <div class="col-md-12">
                  <span class="text-area-addon" id="NOTES">Patient Notes</span>
                  <textarea rows="6" class="form-control" name="NOTES" ng-init="NOTES=patient.NOTES" ng-model="NOTES" aria-describedby="NOTES"></textarea>
                </div>
              </div>
              <hr>
              <div class="col-md-6">
                <div class="bottom-nav">
                  <button class="btn btn-default" ng-click="disableEditMode('Referral');">Cancel<i class="glyphicon glyphicon-remove-circle"></i></button>
                  <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="saveChanges(patientNotes)">Save<i class="glyphicon glyphicon-ok"></i></button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</section>
