<section id="editPatientForm">
  <div class="row">
    <div class="col-md-12">
      <form name="patientPhysician" novalidate>
        <section class="Physician">
          <div class="create-section-title">
            <div class="container small">
              <div class="row">
                <div class="col-md-12">
                  <h3>Physician Information</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="container small">
            <div class="row">
              <div class="input-field-group">
                <div class="col-md-12">
                  <h4>Primary</h4>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="npi">* NPI</span>
                    <input type="text" style="margin:0px"
                            required
                            ng-disabled="!disableEditPhysician"
                            name="DOCTORNPI"
                            typeahead-on-select="updateDoctor()"
                            typeahead-no-results="noResults"
                            ng-model="DOCTORNPI"
                            uib-typeahead="doctor.NPI as doctor.LNAME + ', ' + doctor.FNAME + (doctor.MINITIAL ? ' ' + doctor.MINITIAL + '.' : '') + ' MD' for doctor in doctors | filter:filterDoctor | limitTo:8"
                            class="form-control"
                            placeholder="Search Physician" id="ICD">
                  </div>
                  <div ng-show="noResults" style="margin-left:150px">
                  Doctor not found - <button ng-click="addDoctor($event)">Add Doctor</button>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="care-type">
                    <div class="careTitle">F2F</div>
                    <input type="checkbox" name="F2F"  ng-model="DOCTORF2F" ng-true-value="1" ng-disabled="disableEditPhysician">
                  </div>
                  <div class="care-type">
                    <div class="careTitle">POC</div>
                    <input type="checkbox" name="POC" ng-model="DOCTORPOC" ng-true-value="1" ng-disabled="disableEditPhysician">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6">
                    <div class="field-error" ng-show="patientPhysician.DOCTORNPI.$touched && patientPhysician.DOCTORNPI.$invalid || patientPhysician.DOCTORNPI.$invalid && patientPhysician.$submitted">NPI is required.</div>
                  </div>
                  <!-- <div class="col-md-6">
                    <div class="field-error" ng-show="patientPhysician.meetingType.$touched && patientPhysician.meetingType.$invalid || patientPhysician.meetingType.$invalid && patientPhysician.$submitted">F2F / 485 is required.</div>
                  </div> -->
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="DOCTORFNAME">First Name</span>
                    <!-- <select required name="DOCTOR" class="form-control"
                            ng-init="DOCTOR=admission.DOCTOR"
                            ng-model="DOCTOR"
                            ng-options="doctor.KEYID as doctor.LNAME for doctor in doctors">
                      <option value="">-Select One-</option>
                    </select> -->
                    <input type="text" class="form-control" name="DOCTORFNAME" ng-model="DOCTORFNAME" aria-describedby="DOCTORFNAME" ng-disabled="disableEditPhysician">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="DOCTORADDRESS">Address</span>
                    <input type="text" name="DOCTORADDRESS" ng-model="DOCTORADDRESS" class="form-control" aria-describedby="DOCTORADDRESS" ng-disabled="disableEditPhysician">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="DOCTORLNAME">Last Name</span>
                    <!-- <select required name="DOCTOR" class="form-control"
                            ng-init="DOCTOR=admission.DOCTOR"
                            ng-model="DOCTOR"
                            ng-options="doctor.KEYID as doctor.LNAME for doctor in doctors">
                      <option value="">-Select One-</option>
                    </select> -->
                    <input type="text" class="form-control" name="DOCTORLNAME" ng-model="DOCTORLNAME" aria-describedby="DOCTORLNAME" ng-disabled="disableEditPhysician">
                  </div>
                </div>
                <!-- <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="physicianType">Type</span>
                    <select required class="form-control" name="physicianType" ng-model="physicianType" aria-describedby="physicianType">
                      <option value="">-Select One-</option>
                      <option value="RN">RN</option>
                      <option value="LPN">LPN</option>
                      <option value="HA">HA</option>
                      <option value="PT">PT</option>
                      <option value="MS">MS</option>
                      <option value="OT">OT</option>
                      <option value="ST">ST</option>
                      <option value="RD">RD</option>
                    </select>
                  </div>
                </div> -->
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="DOCTORCITY">City</span>
                    <input type="text" name="DOCTORCITY" ng-model="DOCTORCITY" class="form-control" aria-describedby="DOCTORCITY" ng-disabled="disableEditPhysician">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="DOCTORPHONE">Phone</span>
                    <input type="text" name="DOCTORPHONE" ng-model="DOCTORPHONE" class="form-control" aria-describedby="DOCTORPHONE" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" ng-disabled="disableEditPhysician">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="DOCTORSTATE">State</span>
                    <input type="text" name="DOCTORSTATE" ng-model="DOCTORSTATE" class="form-control" aria-describedby="DOCTORSTATE" ng-disabled="disableEditPhysician">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="DOCTORFAX">Fax</span>
                    <input type="text" name="DOCTORFAX" ng-model="DOCTORFAX" class="form-control" aria-describedby="DOCTORFAX" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" ng-disabled="disableEditPhysician">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="DOCTORZIP">Zip</span>
                    <input type="text" name="DOCTORZIP" ng-model="DOCTORZIP" class="form-control" aria-describedby="DOCTORZIP" ui-mask="99999" ui-mask-placeholder ui-mask-placeholder-char="_" ng-disabled="disableEditPhysician">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="DOCTOREMAIL">Email</span>
                    <input type="text" name="DOCTOREMAIL" ng-model="DOCTOREMAIL" class="form-control" aria-describedby="DOCTOREMAIL" ng-disabled="disableEditPhysician">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="DOCTORNOTES">Notes</span>
                    <textarea rows="5" name="DOCTORNOTES" ng-model="DOCTORNOTES" class="form-control" aria-describedby="DOCTORNOTES" ng-disabled="disableEditPhysician"></textarea>
                  </div>
                </div>
                <div class="col-md-6">
                  <!-- <button type="button" class="btn btn-primary" ng-click="addPhysician()">Add Physician</button> -->
                  <button type="button" ng-show="(DOCTORFNAME.length>0) && (editPhysicianBtn===false)" ng-init="editPhysicianBtn=false"class="btn btn-primary" ng-click="editPhysicianDetails();editPhysicianBtn=true">Edit Physician</button>
                  <button type="button" ng-show="editPhysicianBtn" class="btn btn-success" ng-click="savePhysicianChanges();editPhysicianBtn=false">Save Changes</button>
                  <button type="button" ng-show="editPhysicianBtn" class="btn btn-default" ng-click="editPhysicianDetails();editPhysicianBtn=false">Cancel Changes</button>

                </div>
                <!-- <div class="col-md-6">
                  <button type="button" class="btn btn-primary" ng-click="addPhysician()">Add Physician</button>
                </div> -->
              </div>
            </div>
          </div>
          <!-- <div class="container small" ng-repeat="physician in physicians">
            <hr>
            <div class="row">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="npi">NPI</span>
                    <input type="text" class="form-control" aria-describedby="npi">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="meetingType">F2F / 485</span>
                    <input type="text" class="form-control" aria-describedby="meetingType">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="physicianName">Name</span>
                    <input type="text" class="form-control" aria-describedby="physicianName">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="physicianAddress">Address</span>
                    <input type="text" class="form-control" aria-describedby="physicianAddress">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="physicianType">Type</span>
                    <input type="text" class="form-control" aria-describedby="physicianType">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="physicianCity">City</span>
                    <input type="text" class="form-control" aria-describedby="physicianCity">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="physicianPhone">Phone</span>
                    <input type="text" class="form-control" aria-describedby="physicianPhone">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="physicianState">State</span>
                    <input type="text" class="form-control" aria-describedby="physicianState">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="physicianFax">Fax</span>
                    <input type="text" class="form-control" aria-describedby="physicianFax">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="physicianZip">Zip</span>
                    <input type="text" class="form-control" aria-describedby="physicianZip">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="physicianEmail">Email</span>
                    <input type="text" class="form-control" aria-describedby="physicianEmail">
                  </div>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-danger" ng-click="removePhysician($index)">Remove Physician</button>
                </div>
              </div>
            </div>
          </div> -->
          <div class="container-small">
            <hr>
            <div class="col-md-6">
              <div class="bottom-nav">
                <button class="btn btn-default" ng-click="disableEditMode('Physician')">Cancel<i class="glyphicon glyphicon-remove-circle"></i></button>
                <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="saveChanges(patientPhysician)">Save<i class="glyphicon glyphicon-ok"></i></button>
              </div>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</section>
