<section id="editPatientForm">
  <div class="row">
    <div class="col-md-12">
      <form name="patientReferral" novalidate>
        <section class="Referral">
          <div class="create-section-title">
            <div class="container small">
              <div class="row">
                <div class="col-md-12">
                  <h3>Referral Information</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="container small">
            <div class="row">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="REFRECEIVED">* Received By</span>
                      <select required name="REFRECEIVED" class="form-control"
                              ng-init="REFRECEIVED=admission.REFRECEIVED"
                              ng-model="REFRECEIVED"
                              ng-options="employee.KEYID as employee.FNAME + ' ' + employee.LNAME + ' (' + employee.DISCIPLINE + ')' for employee in employees">
                        <option value="">-Select One-</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field-error" ng-show="patientReferral.REFRECEIVED.$touched && patientReferral.REFRECEIVED.$invalid || patientReferral.REFRECEIVED.$invalid && patientReferral.$submitted">Received By is required.</div>
                  </div>
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="REFERRSRC">* Ref Source</span>
                      <select required name="REFERRSRC" class="form-control" aria-describedby="REFERRSRC"
                            ng-init="REFERRSRC=admission.REFERRSRC"
                            ng-model="REFERRSRC"
                            ng-options="referralSource.KEYID as referralSource.NAME for referralSource in referralSources">
                        <option value="">-Select One-</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field-error" ng-show="patientReferral.REFERRSRC.$touched && patientReferral.REFERRSRC.$invalid || patientReferral.REFERRSRC.$invalid && patientReferral.$submitted">Referral Source is required.</div>
                  </div>
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="REFERRDATE">* Date</span>
                      <div class="input-group" style="margin:0;display:inline-flex">
                        <input type="text"
                              required
                              name="REFERRDATE"
                              class="form-control"
                              uib-datepicker-popup='MM-dd-yyyy'
                              ng-model="REFERRDATE"
                              is-open="openedREFER"
                              show-button-bar="false"
                              ng-click="openedREFER=true"
                              datepicker-append-to-body="false"
                              alt-input-formats="altInputFormats" />
                          <span class="input-group-btn" style="float:left">
                            <button type="button" class="btn btn-default" ng-click="openedREFER=true"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field-error" ng-show="patientReferral.REFERRDATE.$touched && patientReferral.REFERRDATE.$invalid || patientReferral.REFERRDATE.$invalid && patientReferral.$submitted">Referral Date is required.</div>
                  </div>
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="referralMD">* Ref MD</span>
                      <select required name="REFERRPHYSICIAN" class="form-control"
                              ng-init="REFERRPHYSICIAN=admission.REFERRPHYSICIAN"
                              ng-model="REFERRPHYSICIAN"
                              ng-options="doctor.KEYID as doctor.FNAME + ' ' + doctor.LNAME + ', MD' for doctor in doctors">
                        <option value="">-Select One-</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field-error" ng-show="patientReferral.REFERRPHYSICIAN.$touched && patientReferral.REFERRPHYSICIAN.$invalid || patientReferral.REFERRPHYSICIAN.$invalid && patientReferral.$submitted">Referral Physician is required.</div>
                  </div>
                  <div class="col-md-12 col-no-pad">
                    <div class="input-group">
                      <span class="input-group-addon" id="ADMITSRCE">* Admit Source</span>
                      <select class="form-control" required name="ADMITSRCE" ng-init="ADMITSRCE=admission.ADMITSRCE" ng-model="ADMITSRCE" aria-describedby="ADMITSRCE">
                        <option value="">-Select One-</option>
                        <option value="1">Non-HC Facility (Home)</option>
                        <option value="2">Xfr from Clinic/Office</option>
                        <option value="4">Xfr from Hospital</option>
                        <option value="5">Xfr from SNF</option>
                        <option value="6">Xfr from Other Facility</option>
                        <option value="8">Xfr from court/law facility</option>
                        <option value="3">n/a (HMO ref)</option>
                        <option value="7">n/a (emergency room)</option>
                        <option value="9">n/a (info not available)</option>
                        <option value="B">n/a (xfr another HHA)</option>
                        <option value="C">n/a (Re-admimt same HHA)</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field-error" ng-show="patientReferral.ADMITSRCE.$touched && patientReferral.ADMITSRCE.$invalid || patientReferral.ADMITSRCE.$invalid && patientReferral.$submitted">Admit Source is required.</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="care-type">
                    <div class="careTitle">SN</div>
                    <input type="checkbox" name="snTitle" ng-init="SERVICE_SN=admission.SERVICE_SN" ng-model="SERVICE_SN" ng-true-value="1">
                  </div>
                  <div class="care-type">
                    <div class="careTitle">PT</div>
                    <input type="checkbox" name="ptTitle" ng-init="SERVICE_PT=admission.SERVICE_PT" ng-model="SERVICE_PT" ng-true-value="1">
                  </div>
                  <div class="care-type">
                    <div class="careTitle">OT</div>
                    <input type="checkbox" name="otTitle" ng-init="SERVICE_OT=admission.SERVICE_OT" ng-model="SERVICE_OT" ng-true-value="1">
                  </div>
                  <div class="care-type">
                    <div class="careTitle">ST</div>
                    <input type="checkbox" name="stTitle" ng-init="SERVICE_ST=admission.SERVICE_ST" ng-model="SERVICE_ST" ng-true-value="1">
                  </div>
                  <div class="care-type">
                    <div class="careTitle">MSW</div>
                    <input type="checkbox" name="mswTitle" ng-init="SERVICE_MS=admission.SERVICE_MS" ng-model="SERVICE_MS" ng-true-value="1">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-12 col-no-pad">
                    <span class="text-area-addon" id="REFERRNOTES">Referral Notes</span>
                    <textarea rows="7" class="form-control" name="REFERRNOTES" ng-init="REFERRNOTES=admission.REFERRNOTES" ng-model="REFERRNOTES" aria-describedby="REFERRNOTES"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-no-pad">
            <hr>
            <div class="col-md-6">
              <div class="bottom-nav">
                <button class="btn btn-default" ng-click="disableEditMode('Referral')">Cancel<i class="glyphicon glyphicon-remove-circle"></i></button>
                <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="saveChanges(patientReferral)">Save<i class="glyphicon glyphicon-ok"></i></button>
              </div>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</section>
