<div id="medication-create">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-users fa-lg"></span><h3>Create New Medication</h3>
      </div>
      <ul>
        <button class="btn btn-primary" ng-click="createMedication(MedicationForm.$valid); submitClicked=true">Create</button>
        <button class="btn btn-primary" ui-sref="medication">Cancel</button>
      </ul>
    </div>
  </div>
  <div class="form-background">
    <div class="row">
      <form name="MedicationForm" novalidate>
        <div class="container small">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="PHARMACY">* Pharmacy</span>
                    <input required type="text" name="PHARMACY" ng-model="newMedication.PHARMACY" class="form-control" tabindex="6" aria-describedby="PHARMACY">
                  </div>
                  <div ng-show="MedicationForm.PHARMACY.$invalid && submitClicked" class="field-error">Enter a valid Pharmacy.</div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="ADMIN_BY">* Administered By</span>
                    <select required type="text" name="ADMIN_BY" ng-model="newMedication.ADMIN_BY" class="form-control" tabindex="5" aria-describedby="ADMIN_BY">
                      <option value="">-Select One-</option>
                      <option value="PATIENT">Patient</option>
                      <option value="NURSE">Nurse</option>
                      <option value="FAMILY">Family</option>
                      <option value="CAREGIVER">Caregiver</option>
                    </select>                  </div>
                  <div ng-show="MedicationForm.ADMIN_BY.$invalid && submitClicked" class="field-error">Enter a valid date.</div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="DATE_STARTED">* Date Started</span>
                    <input required type="date" name="DATE_STARTED" ng-model="newMedication.DATE_STARTED" class="form-control" tabindex="6" aria-describedby="DATE_STARTED">
                  </div>
                  <div ng-show="MedicationForm.DATE_STARTED.$invalid && submitClicked" class="field-error">Enter a valid Pharmacy.</div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="DATE_DISC">Date Disc.</span>
                    <input type="date" name="DATE_DISC" ng-model="newMedication.DATE_DISC" class="form-control" tabindex="6" aria-describedby="DATE_DISC">
                  </div>
                  <div ng-show="MedicationForm.DATE_DISC.$invalid && submitClicked" class="field-error">Enter a valid date.</div>
                </div>
              </div>
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="NAME">* Medication Name</span>
                    <input required type="text" name="NAME" ng-model="newMedication.NAME" class="form-control" tabindex="1" aria-describedby="NAME">
                  </div>
                  <div ng-show="MedicationForm.NAME.$invalid && submitClicked" class="field-error">Enter a valid medication.</div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="CODE">* Code</span>
                    <select required type="text" name="CODE" ng-model="newMedication.CODE" class="form-control" tabindex="5" aria-describedby="CODE">
                      <option value="">-Select One-</option>
                      <option value="N">New</option>
                      <option value="C">Changed</option>
                      <option value="L">Long Standing</option>
                      <option value="H">Hospice Provided</option>
                    </select>
                  </div>
                  <div ng-show="MedicationForm.CODE.$invalid && submitClicked" class="field-error">Enter a valid code.</div>
                </div>
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon" id="SIDE_EFFECTS">Potient Side Effects</span>
                    <textarea type="text" rows="6" name="SIDE_EFFECTS" ng-model="newMedication.SIDE_EFFECTS" class="form-control" tabindex="1" aria-describedby="SIDE_EFFECTS"></textarea>
                  </div>
                  <div ng-show="MedicationForm.SIDE_EFFECTS.$invalid && submitClicked" class="field-error"></div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="DOSE">* Dose</span>
                    <input required type="text" name="DOSE" ng-model="newMedication.DOSE" class="form-control" tabindex="3" aria-describedby="DOSE">
                  </div>
                  <div ng-show="MedicationForm.DOSE.$invalid && submitClicked" class="field-error">Enter a valid dose.</div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="FREQUENCY">* Frequency</span>
                    <input required type="text" name="FREQUENCY" ng-model="newMedication.FREQUENCY" class="form-control" tabindex="3" aria-describedby="FREQUENCY">
                  </div>
                  <div ng-show="MedicationForm.FREQUENCY.$invalid && submitClicked" class="field-error">Enter a valid frequency.</div>
                </div>
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon" id="PURPOSE">* Purpose</span>
                    <textarea required type="text" rows="4" name="PURPOSE" ng-model="newMedication.PURPOSE" class="form-control" tabindex="3" aria-describedby="PURPOSE"></textarea>
                  </div>
                  <div ng-show="MedicationForm.PURPOSE.$invalid && submitClicked" class="field-error">Enter a valid purpose.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
                <!-- <div class="input-field-group">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="ADDRESS">* Address</span>
                      <input required type="text" name="ADDRESS" ng-model="ADDRESS" class="form-control" tabindex="1" aria-describedby="ADDRESS">
                    </div>
                    <div ng-show="MedicationForm.ADDRESS.$invalid && submitClicked" class="field-error">Enter a valid address.</div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="CITY">* City</span>
                      <input required type="text" name="CITY" ng-model="CITY" class="form-control" tabindex="1" aria-describedby="CITY">
                    </div>
                    <div ng-show="MedicationForm.CITY.$invalid && submitClicked" class="field-error">Enter a valid city.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="STATE">* State</span>
                      <input required type="text" name="STATE" ng-model="STATE" class="form-control" tabindex="1" aria-describedby="STATE">
                    </div>
                    <div ng-show="MedicationForm.STATE.$invalid && submitClicked" class="field-error">Enter a valid state.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="ZIP">* Zip</span>
                      <input required type="text" name="ZIP" ng-model="ZIP" class="form-control" tabindex="1" aria-describedby="ZIP">
                    </div>
                    <div ng-show="MedicationForm.ZIP.$invalid && submitClicked" class="field-error">Enter a valid zip.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="PHONE">* Phone</span>
                      <input required type="text" name="PHONE" ng-model="PHONE" class="form-control" tabindex="1" aria-describedby="PHONE">
                    </div>
                    <div ng-show="MedicationForm.PHONE.$invalid && submitClicked" class="field-error">Enter a valid phone.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="CELL">Cell (Optional)</span>
                      <input type="text" name="CELL" ng-model="CELL" class="form-control" tabindex="1" aria-describedby="CELL">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-field-group">
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="STATUS">* Status</span>
                      <select required type="text" name="STATUS" ng-model="STATUS" class="form-control" tabindex="5" aria-describedby="STATUS">
                        <option value="">-Select One-</option>
                        <option value="A">Active</option>
                        <option value="I">Inactive</option>
                      </select>
                    </div>
                    <div ng-show="MedicationForm.STATUS.$invalid && submitClicked" class="field-error">Enter a valid status.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="CONTRACTOR">* Contractor</span>
                      <select required type="text" name="CONTRACTOR" ng-model="CONTRACTOR" class="form-control" tabindex="5" aria-describedby="CONTRACTOR">
                        <option value="">-Select One-</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                      </select>
                    </div>
                    <div ng-show="MedicationForm.CONTRACTOR.$invalid && submitClicked" class="field-error">Enter a valid contractor.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="TITLE">* Title</span>
                      <select required type="text" name="TITLE" ng-model="TITLE" class="form-control" tabindex="5" aria-describedby="TITLE">
                        <option value="">-Select One-</option>
                        <option value="OFFICE">Office</option>
                        <option value="RN">RN</option>
                        <option value="CNA">CNA</option>
                        <option value="PT">PT</option>
                        <option value="PTA">PTA</option>
                        <option value="OT">OT</option>
                        <option value="OTA">OTA</option>
                        <option value="ST">ST</option>
                        <option value="MSW">MSW</option>
                        <option value="RD">RD</option>
                      </select>
                    </div>
                    <div ng-show="MedicationForm.TITLE.$invalid && submitClicked" class="field-error">Enter a valid title.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="DISCIPLINE">* Discipline</span>
                      <select required type="text" name="DISCIPLINE" ng-model="DISCIPLINE" class="form-control" tabindex="5" aria-describedby="DISCIPLINE">
                        <option value="">-Select One-</option>
                        <option value="SN">SN</option>
                        <option value="HA">HA</option>
                        <option value="PT">PT</option>
                        <option value="OT">OT</option>
                        <option value="ST">ST</option>
                        <option value="MSW">MSW</option>
                        <option value="OTHER">OTHER</option>
                      </select>
                    </div>
                    <div ng-show="MedicationForm.DISCIPLINE.$invalid && submitClicked" class="field-error">Enter a valid discipline.</div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon" id="GROUPKEYID">* Group</span>
                      <select required name="GROUPKEYID" class="form-control"
                              ng-model="GROUPKEYID"
                              ng-options="userGroup.DESCRIPTION for userGroup in userGroups">
                        <option value="">-Select One-</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        <!-- </section> -->
      </form>
    </div>
  </div>
</div>



<div class="right-menu" style="margin-left:210px">
  <expanded-nav></expanded-nav>
</div>
