<div id="new-employee-rates">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>Add a New Employee Payrate</h3>
      </div>
    </div>
    <div ng-click="close()" class="fa fa-remove close"></div>
  </div>
  <div class="form-background">
    <div class="row">
      <form name="newEmployeePayRates" novalidate>
        <section class="EmployeePayRateInformation">
          <div class="container small" >
            <div class="row" ng-repeat="visitType in visitTypes track by $index ">
              <div class="col-md-12" style="font-size:14px">
                <b>{{visitType.DESC}}</b>
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-addon"  id="PAYRATE">Pay Rate</span>
                  <input type="text" name="EMPPAY" class="form-control" ng-model="visitType.EMPPAY">
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <div class="radio-inline" style="line-height:21px">
                    <label>
                      <input ng-init="visitType.PERVISIT=null" id="PERVISIT[$index]" ng-model="visitType.PERVISIT" ng-value="1" type="radio">
                      Per Visit
                    </label>
                  </div>
                  <div class="radio-inline" style="line-height:21px">
                    <label>
                      <input ng-init="visitType.PERVISIT=null"id="PERVISIT[$index]"  ng-model="visitType.PERVISIT" ng-value="0" type="radio">
                      Per Hour
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="field-error" ng-show="visitType.invalid">Incomplete</div>
              </div>
              <!-- <div class="col-md-6">
                <div class="field-error" >Pay Type is required.</div>
              </div> -->
              <div class="col-md-12" style="margin:0;padding:0">
                <hr>
              </div>

            </div>

            <div clss="row" style="margin-top:10px; float:right">
              <button class="btn btn-primary" ng-click="addNewEmployeePay(newEmployeePayRates)">Add</button>
              <button class="btn btn-default" ng-click="close(  )">Cancel</button>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</div>
