<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#transferred-discharged" oasisnav="true"></header-nav>
</div>

<div id="transferred-discharged" class="oasisC2-ICD10">
  <div class="create-bar">
    <div class="container small">
      <a ui-sref="records"><i class="fa fa-arrow-left"></i></a>
      {{currentForm}}
      <!-- <button type="button" class="btn btn-primary" ng-click="scrubber()">Scrubber</button> -->
      <!-- <button type="button" class="btn btn-success" ng-click="saveTransferredDischarge()">Submit to QA</button> -->
      <!-- <button type="button" class="btn btn-success" ng-if="ClinicalRecordItemsComplete === true && PatientHistoryAndDiagnosesComplete === true && CardiacStatusComplete === true && MedicationsComplete === true && EmergentCareComplete === true" ng-click="saveTransferredDischarge()">Submit to QA</button> -->
      <!-- <button type="button" class="btn btn-success" ng-click="edit()">Edit</button> -->
      <!-- <button type="button" class="btn btn-success" ng-click="save()" ng-hide="disableEditDetails" ng-show="enableInput">save</button> -->
      <span style="font-size:12px;color:red" ng-show="approvedMsg">FORM APPROVED!</span>
      <span style="font-size:12px;color:red" ng-show="inReviewMsg">View only: form has been submitted to QA for review.</span>
      <button type="button" class="btn btn-primary" ng-show="enableQAEditBtn" ng-click="edit()">Edit</button>
      <button type="button" class="btn btn-success" ng-show="enableQALockBtn" ng-click="lock()">Approve</button>
      <button type="button" class="btn btn-danger" ng-show="enableQARejectBtn" ng-click="reject()">Reject</button>

      <button type="button" class="btn btn-default" ng-show="enableCancelBtn" ng-click="cancel()">Cancel</button>
      <button type="button" class="btn btn-success" ng-click="save()" ng-hide="disableEditDetails" ng-show="enableInput">save</button>

    </div>
  </div>
  <!-- <div class="error-box" style="margin-right: -250px" ng-show="errorMsg" ng-click="errorMsg=!errorMsg">
    <div class="error-title">
      <i class="fa fa-angle-double-right"></i> ERRORS
    </div>
    <div class="error-msg">
      {{error}}
    </div>
  </div>
  <div class="error-box-expand" ng-hide="errorMsg" ng-init="errorMsg=true" ng-click="errorMsg=!errorMsg">
    <div class="error-title">
      <i class="fa fa-angle-double-left"></i> ERRORS
    </div>
  </div> -->


    <!-- ********** GENERAL ********** -->
    <form name="general" novalidate id="general">
      <fieldset ng-disabled="disableEditDetails" ng-class="{'enableInput': enableInput}">
      <section class="General">
        <table cellspacing="1" cellpadding="2" style="width: 100%; border: 0px;" class="formtable">
          <tbody>
            <tr class="M0010" id="M0010_CCN">
                <td class="motag" width="92" >M0010</td>
                <td class="tbl_field" width="140" align="right">CMS Certification Number:</td>
                <td width="848" colspan="3">
                  <!-- <div class="field-error" ng-show="general.M0010_CCN.$touched && general.M0010_CCN.$invalid || general.M0010_CCN.$invalid && general.$submitted">CMS Certification Number is required.</div> -->
                  <input required ng-model="M0010_CCN" class="input_normal" type="text" name="M0010_CCN" id="M0010_CCN" value="">
                </td>
            </tr>
            <tr class="M0014">
                <td class="motag" width="92">M0014</td>
                <td class="tbl_field" width="140" align="right">Branch State:</td>
                <td width="848" colspan="3">
                  <!-- <div class="field-error" ng-show="general.M0014_BRANCH_STATE.$touched && general.M0014_BRANCH_STATE.$invalid || general.M0014_BRANCH_STATE.$invalid && general.$submitted">Branch State is required.</div> -->
                    <select required ng-model="M0014_BRANCH_STATE" name="M0014_BRANCH_STATE" id="M0014_BRANCH_STATE" class="notranslate select_normal">
                        <option value="">Choose One</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV" selected>Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </td>
            </tr>
            <tr class="M0016">
                <td class="motag" width="92">M0016</td>
                <td class="tbl_field" width="140" align="right">Branch ID Number:</td>
                <td width="848" colspan="3">
                  <!-- <div class="field-error" ng-show="general.M0016_BRANCH_ID.$touched && general.M0016_BRANCH_ID.$invalid || general.M0016_BRANCH_ID.$invalid && general.$submitted">Branch ID Number is required.</div> -->
                    <input required ng-model="M0016_BRANCH_ID" class="input_normal" type="text" name="M0016_BRANCH_ID" id="M0016_BRANCH_ID"></td>
            </tr>
            <tr class="M0018">
                <td class="motag" width="92">M0018</td>
                <td class="tbl_field" width="140" align="right">NPI for the attending physician who has signed the plan of care:
                </td>
                <td width="848" colspan="3">
                  <!-- <div class="field-error" ng-show="general.M0018_PHYSICIAN.$touched && general.M0018_PHYSICIAN.$invalid || general.M0018_PHYSICIAN.$invalid && general.$submitted">NPI is required or if unknown, check Unknown.</div> -->
                    <input required ng-model="M0018_PHYSICIAN_ID" class="input_normal" type="text" name="M0018_PHYSICIAN" id="M0018_PHYSICIAN_ID" ng-class="{'disableInput': disableEditPatientDetails}" >
                    <label title="M0018_PHYSICIAN_UK" id="M0018_PHYSICIAN_UK"><input ng-model="M0018_PHYSICIAN_UK" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="NPI"  ng-class="{'disableInput': disableEditPatientDetails}" > UK - Unknown or Not Available</label>
                    <!-- <i class="fa fa-lock" ng-click="editPatientDetails('Physician', $event)"></i> -->
                </td>
            </tr>
            <tr class="M0020">
                <td class="motag" width="92">M0020</td>
                <td class="tbl_field" width="140" align="right">Patient ID Number:</td>
                <td width="848" colspan="3">
                  <!-- <div class="field-error" ng-show="general.M0020_PAT_ID.$touched && general.M0020_PAT_ID.$invalid || general.M0020_PAT_ID.$invalid && general.$submitted">Patient ID Number is required.</div> -->
                    <input required ng-model="M0020_PAT_ID" class="input_normal" type="text" name="M0020_PAT_ID" id="M0020_PAT_ID" ng-class="{'disableInput': true}" ng-disabled="true"></td>
            </tr>
            <tr class="M0030">
                <td class="motag" width="92">M0030</td>
                <td class="tbl_field" width="140" align="right">Start of Care Date:</td>
                <td width="848" colspan="3">
                  <!-- <div class="field-error" ng-show="general.M0030_START_CARE_DT.$touched && general.M0030_START_CARE_DT.$invalid || general.M0030_START_CARE_DT.$invalid && general.$submitted">Start of Care Date is required.</div> -->
                  <div class="input-group" style="margin:0;width:60%">
                    <input type="text" id="M0030_START_CARE_DT"
                          ng-class="{'disableInput': true}"
                          class="form-control"
                          ng-disabled="true"
                          uib-datepicker-popup='MM-dd-yyyy'
                          ng-model="M0030_START_CARE_DT"
                          is-open="openedM0030"
                          show-button-bar="false"
                          ng-click="openedM0030=true"
                          datepicker-append-to-body="true"
                          alt-input-formats="altInputFormats" />
                    <span class="input-group-btn" >
                      <button type="button" class="btn btn-default" ><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </td>
                    <!-- <td><input required value="{{socDate}}"ng-model="M0030_START_CARE_DT" class="input_normal" type="date" name="M0030_START_CARE_DT" id="M0030_START_CARE_DT" ng-class="{'disableInput': true}" ng-disabled="true"></td> -->
            </tr>
            <tr class="M0032">
                <td class="motag" width="92">M0032</td>
                <td class="tbl_field" width="140" align="right">Resumption Of Care Date:</td>
                <td width="848" colspan="3">
                  <!-- <div class="field-error" ng-show="general.M0032_ROC_DT.$touched && general.M0032_ROC_DT.$invalid || general.M0032_ROC_DT.$invalid && general.$submitted"> Date is required.</div> -->
                  <div class="input-group" style="margin:0;width:60%">
                    <input type="text" id="M0032_ROC_DT" name="M0032"
                          class="form-control"
                          ng-disabled="M0032_ROC_DT_NA==='1'"
                          uib-datepicker-popup='MM-dd-yyyy'
                          ng-required="M0032_ROC_DT_NA==='0'"
                          ng-model="M0032_ROC_DT"
                          is-open="openedM0032"
                          show-button-bar="false"
                          ng-click="openedM0032=true"
                          datepicker-append-to-body="true"
                          alt-input-formats="altInputFormats" />
                    <span class="input-group-btn" >
                      <button type="button" ng-disabled="M0032_ROC_DT_NA==='1'" class="btn btn-default" ng-click="openedM0032=true"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                  <label title="M0032_ROC_DT_NA" id="M0032_ROC_DT_NA"><input ng-required="M0032_ROC_DT===''" ng-model="M0032_ROC_DT_NA"  ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="M0032" ng-change="M0032_ROC_DT = M0032_ROC_DT_NA==='1' ? '' : M0032_ROC_DT"> NA </label>
                </td>
            </tr>
            <tr class="M0040">
                <td class="motag" width="92">M0040</td>
                <td class="tbl_field" width="140" align="right">Patient Name:</td>
                <td width="848" colspan="3">
                  <!-- <div class="field-error" ng-show="general.M0040_PAT_FNAME.$touched && general.M0040_PAT_FNAME.$invalid || general.M0040_PAT_FNAME.$invalid && general.$submitted">First Name is required.</div> -->
                  <input required  ng-model="M0040_PAT_FNAME" type="text" name="M0040_PAT_FNAME" id="M0040_PAT_FNAME" ng-class="{'disableInput': disableEditPatientDetails}" >
                  <input ng-model="M0040_PAT_MI" type="text" name="M0040_PAT_MI" id="M0040_PAT_MI" placeholder="Middle Name" ng-class="{'disableInput': disableEditPatientDetails}" >
                  <!-- <div class="field-error" ng-show="general.M0040_PAT_LNAME.$touched && general.M0040_PAT_LNAME.$invalid || general.M0040_PAT_LNAME.$invalid && general.$submitted">Last Name is required.</div> -->
                  <input required ng-model="M0040_PAT_LNAME" type="text" name="M0040_PAT_LNAME" id="M0040_PAT_LNAME" ng-class="{'disableInput': disableEditPatientDetails}" >
                  <!-- <div class="field-error" ng-show="general.M0040_PAT_SUFFIX.$touched && general.M0040_PAT_SUFFIX.$invalid || general.M0040_PAT_SUFFIX.$invalid && general.$submitted">Suffix is required.</div> -->
                  <input ng-model="M0040_PAT_SUFFIX" type="text" name="M0040_PAT_SUFFIX" id="M0040_PAT_SUFFIX" placeholder="Suffix" ng-class="{'disableInput': disableEditPatientDetails}" >
                  <!-- <i class="fa fa-lock" ng-click="editPatientDetails('Demographic', $event)"></i> -->
                </td>

            </tr>
            <tr class="M0050">
                <td class="motag" width="92">M0050</td>
                <td class="tbl_field" width="140" align="right">Patient State of Residence:</td>
                <td width="848" colspan="3">
                  <!-- <div class="field-error" ng-show="general.M0050_PAT_ST.$touched && general.M0050_PAT_ST.$invalid || general.M0050_PAT_ST.$invalid && general.$submitted">State of Residence is required.</div> -->
                    <select required  ng-model="M0050_PAT_ST" name="M0050_PAT_ST" id="M0050_PAT_ST" class="notranslate select_normal" ng-class="{'disableInput': disableEditPatientDetails}" >
                        <option value="">Choose One</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV" selected>Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                        <!-- <i class="fa fa-lock" ng-click="editPatientDetails('Contact', $event)"></i> -->
                </td>
            </tr>
            <tr class="M0060">
                <td class="motag" width="92">M0060</td>
                <td class="tbl_field" width="140" align="right">Patient Zip Code:</td>
                <td width="848" colspan="3">
                  <!-- <div class="field-error" ng-show="general.M0060_PAT_ZIP.$touched && general.M0060_PAT_ZIP.$invalid || general.M0060_PAT_ZIP.$invalid && general.$submitted">Zip Code is required.</div> -->
                  <input required ng-model="M0060_PAT_ZIP" type="text" name="M0060_PAT_ZIP" id="M0060_PAT_ZIP" ng-class="{'disableInput': disableEditPatientDetails}">
                  <!-- <i class="fa fa-lock" ng-click="editPatientDetails('Contact', $event)"></i> -->
                </td>
            </tr>
            <tr class="M0063">
                <td class="motag" width="92">M0063</td>
                <td class="tbl_field" width="140" align="right">Medicare Number:</td>
                <td width="848" colspan="3">
                  <div class="field-error" ng-show="general.medicare.$touched && general.medicare.$invalid || general.medicare.$invalid && general.$submitted">Medicare Number is required or check NA.</div>
                    <input ng-model="M0063_MEDICARE_NUM" type="text" name="medicare" id="M0063_MEDICARE_NUM" ng-disabled="M0063_MEDICARE_NA==='1'" >
                    <label title="M0063_MEDICARE_NA" id="M0063_MEDICARE_NA"><input ng-model="M0063_MEDICARE_NA" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" name="medicare" ng-change="checkMedicare()" > NA – No Medicare Number</label>
                    <!-- <i class="fa fa-lock" ng-click="editPatientDetails('Insurance', $event)"></i> -->
                </td>
            </tr>
            <tr class="M0064">
                <td class="motag" width="92">M0064</td>
                <td class="tbl_field" width="140" align="right">Social Security Number:</td>
                <td width="848" colspan="3">
                  <!-- <div class="field-error" ng-show="general.SSN.$touched && general.SSN.$invalid || general.SSN.$invalid && general.$submitted">SSN Number is required, or if unknown, check Unknown.</div> -->
                    <input ng-required="M0064_SSN_UK===0" ng-model="M0064_SSN" type="text" name="SSN" id="M0064_SSN" ng-class="{'disableInput': disableEditPatientDetails}" maxlength="9">
                    <label title="M0064_SSN_UK" id="M0064_SSN_UK"><input ng-required="M0064_SSN===''" ng-model="M0064_SSN_UK" ng-true-value="1" type="checkbox" ng-change="M0064_SSN = M0064_SSN_UK ? '' : M0064_SSN" ng-class="{'disableInput': disableEditPatientDetails}" > UK – Unknown or Not Available</label>
                    <!-- <i class="fa fa-lock" ng-click="editPatientDetails('Demographic', $event)"></i> -->
                </td>
            </tr>
            <tr class="M0065">
                <td class="motag" width="92">M0065</td>
                <td class="tbl_field" width="140" align="right">Medicaid Number:</td>
                <td width="848" colspan="3">
                  <!-- <div class="field-error" ng-show="general.medicaid.$touched && general.medicaid.$invalid || general.medicaid.$invalid && general.$submitted">Medicaid Number is required, or check NA.</div> -->
                    <input ng-model="M0065_MEDICAID_NUM" type="text" name="medicaid" id="M0065_MEDICAID_NUM" ng-disabled="M0065_MEDICAID_NA==='1'">
                    <label title="M0065_MEDICAID_NA" id="M0065_MEDICAID_NA"><input ng-model="M0065_MEDICAID_NA"  ng-true-value="'1'" ng-false-value="'0'" type="checkbox" name="medicaid" ng-change="checkMedicaid()" > NA – No Medicaid Number</label>
                    <!-- <i class="fa fa-lock" ng-click="editPatientDetails('Insurance', $event)"></i> -->
                </td>
            </tr>
            <tr class="M0066">
                <td class="motag" width="92">M0066</td>
                <td class="tbl_field" width="140" align="right">Birth Date:</td>
                <td width="848" colspan="3">
                  <!-- <div class="field-error" ng-show="general.M0066_PAT_BIRTH_DT.$touched && general.M0066_PAT_BIRTH_DT.$invalid || general.M0066_PAT_BIRTH_DT.$invalid && general.$submitted">Date of Birth is required.</div> -->

                  <div class="input-group" style="margin:0;width:60%">
                    <input type="text" id="M0066_PAT_BIRTH_DT"
                          class="form-control"
                          ng-class="{'disableInput': disableEditPatientDetails}"
                          uib-datepicker-popup='MM-dd-yyyy'
                          ng-model="DOB"
                          is-open="openedM0066"
                          show-button-bar="false"
                          ng-click="openedM0066=true"
                          datepicker-append-to-body="true"
                          alt-input-formats="altInputFormats" />
                    <span class="input-group-btn" >
                      <button type="button" class="btn btn-default" ng-click="openedM0066=true" ng-class="{'disableInput': disableEditPatientDetails}" ><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                  <!-- <input required type="date" value={{patient.DOB}} name="M0066_PAT_BIRTH_DT" ng-model="DOB" class="input_normal" ng-class="{'disableInput': disableEditPatientDetails}" ng-disabled="disableEditPatientDetails"> -->
                  <!-- <i class="fa fa-lock" ng-click="editPatientDetails('Demographic', $event)"></i> -->
                </td>
            </tr>
            <tr class="M0069">
                <td class="motag" width="92">M0069</td>
                <td class="tbl_field" width="140" align="right">Gender:</td>
                <td width="848" colspan="3" id="M0069_PAT_GENDER">
                  <!-- <div class="field-error" ng-show="general.M0069_PAT_GENDER.$touched && general.M0069_PAT_GENDER.$invalid || general.M0069_PAT_GENDER.$invalid && general.$submitted">Gender is required.</div> -->
                    <input required ng-model="M0069_PAT_GENDER" type="radio" name="M0069_PAT_GENDER" id="Male" ng-value="'1'" ng-class="{'disableInput': disableEditPatientDetails}" > 1 - Male<br />
                    <input required ng-model="M0069_PAT_GENDER" type="radio" name="M0069_PAT_GENDER" id="Female" ng-value="'2'" ng-class="{'disableInput': disableEditPatientDetails}" > 2 - Female
                    <!-- <i class="fa fa-lock" ng-click="editPatientDetails('Demographic', $event)"></i> -->
                </td>
            </tr>
            <tr class="M0140">
                <td class="motag" width="92">M0140</td>
                <td class="tbl_field" width="140" align="right">Race/Ethnicity:</td>
                <td width="848" colspan="3">
                  <!-- <div class="field-error" ng-show="general.race.$touched && general.race.$invalid || general.race.$invalid && general.$submitted || (M0140_ETHNIC_AI_AN==='0') && (M0140_ETHNIC_ASIAN==='0') && (M0140_ETHNIC_BLACK==='0') && (M0140_ETHNIC_HISP==='0') && (M0140_ETHNIC_NH_PI==='0') && (M0140_ETHNIC_WHITE==='0') && general.$submitted">Race/Ethnicity is required.</div> -->
                    <label id="M0140_ETHNIC_AI_AN"><input ng-required="M0140" ng-model="M0140_ETHNIC_AI_AN"  type="checkbox" name="race" ng-true-value="'1'" ng-false-value="'0'"> 1 - American Indian or Alaska Native</label><br />
                    <label id="M0140_ETHNIC_ASIAN"><input ng-required="M0140" ng-model="M0140_ETHNIC_ASIAN"  type="checkbox" name="race"  ng-true-value="'1'" ng-false-value="'0'" > 2 - Asian</label><br />
                    <label id="M0140_ETHNIC_BLACK"><input ng-required="M0140" ng-model="M0140_ETHNIC_BLACK"  type="checkbox" name="race"  ng-true-value="'1'" ng-false-value="'0'" > 3 - Black or African-American</label><br />
                    <label id="M0140_ETHNIC_HISP"><input ng-required="M0140" ng-model="M0140_ETHNIC_HISP" type="checkbox" name="race" ng-true-value="'1'" ng-false-value="'0'" > 4 - Hispanic or Latino</label><br />
                    <label id="M0140_ETHNIC_NH_PI"><input ng-required="M0140" ng-model="M0140_ETHNIC_NH_PI"  type="checkbox" name="race" ng-true-value="'1'" ng-false-value="'0'" > 5 - Native Hawaiian or Pacific Islander</label><br />
                    <label id="M0140_ETHNIC_WHITE"><input ng-required="M0140" ng-model="M0140_ETHNIC_WHITE"  type="checkbox" name="race" ng-true-value="'1'" ng-false-value="'0'" > 6 - White</label>
                </td>
            </tr>
            <tr class="M0150">
                <td class="motag" width="92">M0150</td>
                <td class="tbl_field" width="140" align="right">Current Payment Sources for Home Care:</td>
                <td width="848" colspan="3">
                  <!-- <div class="field-error" ng-show="general.payment.$touched && general.payment.$invalid || general.payment.$invalid && general.$submitted || (M0150_CPAY_NONE==='0') && (M0150_CPAY_MCARE_FFS==='0') && (M0150_CPAY_MCARE_HMO==='0') && (M0150_CPAY_MCAID_FFS==='0') && (M0150_CPAY_MCAID_HMO==='0') && (M0150_CPAY_WRKCOMP==='0') && (M0150_CPAY_TITLEPGMS==='0') && (M0150_CPAY_OTH_GOVT==='0') && (M0150_CPAY_PRIV_INS==='0') && (M0150_CPAY_PRIV_HMO==='0') && (M0150_CPAY_SELFPAY==='0') && (M0150_CPAY_OTHER==='0') && (M0150_CPAY_UK==='0') && general.$submitted">Select at least one option.</div> -->
                    <strong>Mark all that apply:</strong> <br />
                    <label id="M0150_CPAY_NONE"><input   ng-model="M0150_CPAY_NONE" ng-true-value="'1'"  ng-false-value="'0'" type="checkbox" name="payment"> 0 - None; no charge for current services </label><br />
                    <label id="M0150_CPAY_MCARE_FFS"><input   ng-model="M0150_CPAY_MCARE_FFS" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" name="payment" > 1 - Medicare (traditional fee-for-service)</label> <br />
                    <label id="M0150_CPAY_MCARE_HMO"><input   ng-model="M0150_CPAY_MCARE_HMO" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" name="payment" > 2 - Medicare (HMO/managed care/Advantage plan)</label> <br />
                    <label id="M0150_CPAY_MCAID_FFS"><input   ng-model="M0150_CPAY_MCAID_FFS" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" name="payment" > 3 - Medicaid (traditional fee-for-service) </label> <br />
                    <label id="M0150_CPAY_MCAID_HMO"><input   ng-model="M0150_CPAY_MCAID_HMO" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" name="payment" > 4 - Medicaid (HMO/managed care)</label> <br />
                    <label id="M0150_CPAY_WRKCOMP"><input  ng-model="M0150_CPAY_WRKCOMP" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" name="payment" > 5 - Workers&#39; compensation</label> <br />
                    <label id="M0150_CPAY_TITLEPGMS"><input  ng-model="M0150_CPAY_TITLEPGMS" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" name="payment" > 6 - Title programs (e.g., Title III, V, or XX) </label><br />
                    <label id="M0150_CPAY_OTH_GOVT"><input   ng-model="M0150_CPAY_OTH_GOVT" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" name="payment" > 7 - Other government (e.g., TriCare, VA, etc.) </label><br />
                    <label id="M0150_CPAY_PRIV_INS"><input  ng-model="M0150_CPAY_PRIV_INS" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" name="payment" > 8 - Private insurance </label><br />
                    <label id="M0150_CPAY_PRIV_HMO"><input   ng-model="M0150_CPAY_PRIV_HMO" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" name="payment" > 9 - Private HMO/managed care </label><br />
                    <label id="M0150_CPAY_SELFPAY"><input  ng-model="M0150_CPAY_SELFPAY" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" name="payment" > 10 - Self-pay </label><br />
                    <label id="M0150_CPAY_OTHER"><input  ng-model="M0150_CPAY_OTHER" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" name="payment" > 11 - Other (specify) <input type="text" id="m015011"> </label><br />
                    <label id="M0150_CPAY_UK"><input  ng-model="M0150_CPAY_UK" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" name="payment" > UK - Unknown</label>
                </td>
            </tr>
          </tbody>
        </table>
        <div class="bottom-nav">
          <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="submitSection(general, 'ClinicalRecordItems')">Next<i class="glyphicon glyphicon-ok"></i></button>
          <!-- <a ui-sref="patientDashboard"><button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="testAdmit()">Test Add Admit<i class="glyphicon glyphicon-ok"></i></button></a> -->
        </div>
      </section>
    </fieldset>
    </form>


      <!-- ********** ClinicalRecordItems ********** -->
      <form name="clinical" novalidate id="clinical">
        <fieldset ng-disabled="disableEditDetails" ng-class="{'enableInput': enableInput}">
        <section class="ClinicalRecordItems" style="display:none">
          <table cellspacing="1" cellpadding="2" style="width: 100%; border: 0px;" class="formtable">
            <tbody>
              <tr class="M0080">
                <td class="motag" width="92" >M0080</td>
                <td class="tbl_field" width="140" align="right">Discipline of Person Completing Assessment:</td>
                <td width="848" colspan="3" id="M0080_ASSESSOR_DISCIPLINE">
                  <!-- <div class="field-error" ng-show="clinical.M0080_ASSESSOR_DISCIPLINE.$touched && clinical.M0080_ASSESSOR_DISCIPLINE.$invalid || clinical.M0080_ASSESSOR_DISCIPLINE.$invalid && clinical.$submitted">Dicipline is required.</div> -->
                  <input required ng-model="M0080_ASSESSOR_DISCIPLINE" type="radio" name="M0080_ASSESSOR_DISCIPLINE" id="completion_1" value="01"> 1-RN
                  <input required ng-model="M0080_ASSESSOR_DISCIPLINE" type="radio" name="M0080_ASSESSOR_DISCIPLINE" id="completion_2" value="02"> 2-PT
                  <input required ng-model="M0080_ASSESSOR_DISCIPLINE" type="radio" name="M0080_ASSESSOR_DISCIPLINE" id="completion_3" value="03"> 3-SLP/ST
                  <input required ng-model="M0080_ASSESSOR_DISCIPLINE" type="radio" name="M0080_ASSESSOR_DISCIPLINE" id="completion_4" value="04"> 4-OT
                </td>
              </tr>
              <tr class="M0090" >
                  <td class="motag" width="92">M0090</td>
                  <td class="tbl_field" width="140" align="right">Date Assessment Completed:</td>
                  <td width="848" colspan="3">
                    <!-- <div class="field-error" ng-show="clinical.M0090_INFO_COMPLETED_DT.$touched && clinical.M0090_INFO_COMPLETED_DT.$invalid || clinical.M0090_INFO_COMPLETED_DT.$invalid && clinical.$submitted">Date is required.</div> -->

                    <div class="input-group" style="margin:0;width:60%">
                      <input type="text" id="M0090_INFO_COMPLETED_DT"
                            class="form-control"
                            ng-class="{'disableInput': true}"
                            ng-disabled="true"
                            uib-datepicker-popup='MM-dd-yyyy'
                            ng-model="M0090_INFO_COMPLETED_DT"
                            is-open="openedM0090"
                            show-button-bar="false"
                            ng-click="openedM0090=true"
                            datepicker-append-to-body="true"
                            alt-input-formats="altInputFormats" />
                      <span class="input-group-btn" >
                        <button type="button" class="btn btn-default" ng-click="openedM0090=true"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                    *Note: Automatically updated to match M0906 Transfer date.
                      <!-- <input required ng-model="M0090_INFO_COMPLETED_DT" type="date" name="M0090_INFO_COMPLETED_DT" id="dtDateAssessmentCompleted"> -->
                  </td>
              </tr>
              <tr class="M0100">
                <td class="motag" width="92">M0100</td>
                <td class="tbl_field" width="140" align="right">Assessment Reason:</td>
                <td width="848" colspan="3" id="M0100_ASSMT_REASON">
                  <!-- <div class="field-error" ng-show="clinical.M0100_ASSMT_REASON.$touched && clinical.M0100_ASSMT_REASON.$invalid || clinical.M0100_ASSMT_REASON.$invalid && clinical.$submitted">Episode TIming is required.</div> -->
                  <input required ng-model="M0100_ASSMT_REASON" type="radio" name="M0100_ASSMT_REASON" id="M0100_1" value="07"> 07 - Transfer to inpatient facility-patient discharged <br />
                </td>
              </tr>
              <tr class="M0903">
                  <td class="motag" width="92">M0903</td>
                  <td class="tbl_field" width="140" align="right">Date of Last (Most Recent) Home Visit:</td>
                  <td width="848" colspan="3">
                    <!-- <div class="field-error" ng-show="emergentCare.M0903.$touched && emergentCare.M0903.$invalid || emergentCare.M0903.$invalid && emergentCare.$submitted">Please select a date.</div> -->
                    <div class="input-group" style="margin:0;width:60%">
                      <input type="text" id="M0903_LAST_HOME_VISIT"
                            required
                            class="form-control"
                            uib-datepicker-popup='MM-dd-yyyy'
                            ng-model="M0903_LAST_HOME_VISIT"
                            is-open="openedM0903"
                            show-button-bar="false"
                            ng-click="openedM0903=true"
                            datepicker-append-to-body="true"
                            alt-input-formats="altInputFormats" />
                      <span class="input-group-btn" >
                        <button type="button" class="btn btn-default" ng-click="openedM0903=true"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                  </td>
              </tr>
              <tr class="M0906">
                  <td class="motag" width="92">M0906</td>
                  <td class="tbl_field" width="140" align="right">Discharge/Transfer/Death Date: Enter the date of the discharge, transfer, or death (at home) of the patient:</td>
                  <td width="848" colspan="3">
                    <!-- <div class="field-error" ng-show="emergentCare.M0906.$touched && emergentCare.M0906.$invalid || emergentCare.M0906.$invalid && emergentCare.$submitted">Please select a date.</div> -->
                    <div class="input-group" style="margin:0;width:60%">
                      <input type="text" id="M0906_DC_TRAN_DTH_DT"
                            required
                            ng-change="checkDate()"
                            ng-class="{'disableInput': true}"
                            ng-disabled="true"
                            class="form-control"
                            uib-datepicker-popup='MM-dd-yyyy'
                            ng-model="M0906_DC_TRAN_DTH_DT"
                            is-open="openedM0906"
                            show-button-bar="false"
                            ng-click="openedM0906=true"
                            datepicker-append-to-body="true"
                            alt-input-formats="altInputFormats" />
                      <span class="input-group-btn" >
                        <button type="button" class="btn btn-default" ng-click="openedM0906=true"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                  </td>
              </tr>

            </tbody>
          </table>
          <div class="bottom-nav">
            <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="submitSection(clinical, 'PatientHistoryAndDiagnoses')">Finished<i class="glyphicon glyphicon-ok"></i></button>
          </div>
        </section>
      </fieldset>
      </form>

      <!-- ********** PatientHistoryAndDiagnoses ********** -->
      <form name="history" novalidate>
        <fieldset ng-disabled="disableEditDetails" ng-class="{'enableInput': enableInput}">

        <section class="PatientHistoryAndDiagnoses" style="display:none;">
          <table cellspacing="1" cellpadding="2" style="width: 100%; border: 0px;" class="formtable">
            <tbody>
              <tr class="M1041">
                <td class="motag" width="92">M1041</td>
                <td class="tbl_field" width="140" align="right">Influenza Vaccine Data Collection Period:</td>
                <td width="848" colspan="3" id="M1041_IN_INFLNZ_SEASON">
                  <!-- <div class="field-error" ng-show="history.M1041.$touched && history.M1041.$invalid || history.M1041.$invalid && history.$submitted">Please select one.</div> -->
                  <strong>Does this episode of care (SOC/ROC to Transfer/Discharge) include any dates on or between October 1 and March 31?</strong> <br />
                  <input required ng-model="M1041_IN_INFLNZ_SEASON" type="radio" name="M1041" id="M1040_1" value="0"> 0 - No [ Go to M1051 ]<br />
                  <input required ng-model="M1041_IN_INFLNZ_SEASON" type="radio" name="M1041" id="M1040_2" value="1"> 1 - Yes  <br />
                </td>
              </tr>
              <tr class="M1046">
                <td class="motag" width="92">M1046</td>
                <td class="tbl_field" width="140" align="right">Influenza Vaccine received:</td>
                <td width="848" colspan="3" id="M1046_INFLNZ_RECD_CRNT_SEASON">
                  <!-- <div class="field-error" ng-show="history.M1046.$touched && history.M1046.$invalid || history.M1046.$invalid && history.$submitted">Please select one.</div> -->
                  <strong>Did the patient receive the influenza vaccine for this year’s flu season?</strong> <br />
                  <input required ng-model="M1046_INFLNZ_RECD_CRNT_SEASON" type="radio" name="M1046" id="M1046_1" value="01"> 1 - Yes; received from your agency during this episode of care (SOC/ROC to Transfer/Discharge) <br />
                  <input required ng-model="M1046_INFLNZ_RECD_CRNT_SEASON" type="radio" name="M1046" id="M1046_2" value="02"> 2 - Yes; received from your agency during a prior episode of care (SOC/ROC to Transfer/Discharge)<br />
                  <input required ng-model="M1046_INFLNZ_RECD_CRNT_SEASON" type="radio" name="M1046" id="M1046_3" value="03"> 3 - Yes; received from another health care provider (for example, physician, pharmacist) <br />
                  <input required ng-model="M1046_INFLNZ_RECD_CRNT_SEASON" type="radio" name="M1046" id="M1046_4" value="04"> 4 - No; patient offered and declined <br />
                  <input required ng-model="M1046_INFLNZ_RECD_CRNT_SEASON" type="radio" name="M1046" id="M1046_5" value="05"> 5 - No; patient assessed and determined to have medical contraindication(s) <br />
                  <input required ng-model="M1046_INFLNZ_RECD_CRNT_SEASON" type="radio" name="M1046" id="M1046_6" value="06"> 6 - No; not indicated - patient does not meet age/condition guidelines for influenza vaccine <br />
                  <input required ng-model="M1046_INFLNZ_RECD_CRNT_SEASON" type="radio" name="M1046" id="M1046_7" value="07"> 7 - No; inability to obtain vaccine due to declared shortage <br />
                  <input required ng-model="M1046_INFLNZ_RECD_CRNT_SEASON" type="radio" name="M1046" id="M1046_8" value="08"> 8 - No; patient did not receive the vaccine due to reasons other than those listed in responses 4 – 7.
                  <!-- <button class="btn btn-default" ng-show="M1046_INFLNZ_RECD_CRNT_SEASON!==null" ng-click="clear('M1046_INFLNZ_RECD_CRNT_SEASON')">Clear</button> -->

                </td>
              </tr>
              <tr class="M1051">
                <td class="motag" width="92">M1051</td>
                <td class="tbl_field" width="140" align="right">Pneumococcal Vaccine:</td>
                <td width="848" colspan="3" id="M1051_PVX_RCVD_AGNCY">
                  <!-- <div class="field-error" ng-show="history.M1051.$touched && history.M1051.$invalid || history.M1051.$invalid && history.$submitted">Please select one.</div> -->
                  <strong> Has the patient ever received the pneumococcal vaccination (for example, pneumovax)?</strong> <br />
                  <input required ng-model="M1051_PVX_RCVD_AGNCY" type="radio" name="M1051" id="M1051_1" value="0"> 0 - No <br />
                  <input required ng-model="M1051_PVX_RCVD_AGNCY" type="radio" name="M1051" id="M1051_2" value="1"> 1 - Yes [ Go to M1501 at TRN; Go to M1230 at DC ]
                </td>
              </tr>
              <tr class="M1056">
                <td class="motag" width="92">M1056</td>
                <td class="tbl_field" width="140" align="right">Reason Pneumococcal Vaccine not received:d:</td>
                <td width="848" colspan="3" id="M1056_PVX_RSN_NOT_RCVD_AGNCY">
                  <!-- <div class="field-error" ng-show="history.M1056.$touched && history.M1056.$invalid || history.M1056.$invalid && history.$submitted">Please select one.</div> -->
                  <strong> If patient has never received the pneumococcal vaccination (for example, pneumovax), state reason:</strong> <br />
                  <input required ng-model="M1056_PVX_RSN_NOT_RCVD_AGNCY" type="radio" name="M1056" id="M1056_1" value="01"> 1 - Offered and declined <br />
                  <input required ng-model="M1056_PVX_RSN_NOT_RCVD_AGNCY" type="radio" name="M1056" id="M1056_2" value="02"> 2 - Assessed and determined to have medical contraindication(s) <br />
                  <input required ng-model="M1056_PVX_RSN_NOT_RCVD_AGNCY" type="radio" name="M1056" id="M1056_3" value="03"> 3 - Not indicated; patient does not meet age/condition guidelines for Pneumococcal Vaccine <br />
                  <input required ng-model="M1056_PVX_RSN_NOT_RCVD_AGNCY" type="radio" name="M1056" id="M1056_4" value="04"> 4 - None of the above
                  <!-- <button class="btn btn-default" ng-show="M1056_PVX_RSN_NOT_RCVD_AGNCY!==null" ng-click="clear('M1056_PVX_RSN_NOT_RCVD_AGNCY')">Clear</button> -->
                </td>
              </tr>
            </tbody>
          </table>
          <div class="bottom-nav">
            <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="submitSection(history, 'CardiacStatus')">Finished<i class="glyphicon glyphicon-ok"></i></button>
          </div>
        </section>
      </fieldset>
      </form>

      <!-- ********** CardiacStatus ********** -->
      <form name="cardiac" novalidate>
        <fieldset ng-disabled="disableEditDetails" ng-class="{'enableInput': enableInput}">

        <section class="CardiacStatus" style="display:none;">
          <table cellspacing="1" cellpadding="2" style="width: 100%; border: 0px;" class="formtable">
            <tbody>
              <tr class="M1501">
                  <td class="motag" width="92">M1501</td>
                  <td class="tbl_field" width="140" align="right">Symptoms in Heart Failure Patients:</td>
                  <td width="848" colspan="3" id="M1501_SYMTM_HRT_FAILR_PTNTS">
                      If patient has been diagnosed with heart failure, did the patient exhibit symptoms indicated by clinical
                      heart failure guidelines (including dyspnea, orthopnea, edema, or weight gain) at the time of or at any
                      time since the most recent SOC/ROC assessment?<br />
                      <!-- <div class="field-error" ng-show="cardiac.M1500.$touched && cardiac.M1500.$invalid || cardiac.M1500.$invalid && cardiac.$submitted">Please select at least one.</div> -->
                      <input required ng-model="M1501_SYMTM_HRT_FAILR_PTNTS" type="radio" name="M1500" id="M1500_1" value="00"> 0 - No [ Go to M2005 at TRN; Go to M1600 at DC ] <br />
                      <input required ng-model="M1501_SYMTM_HRT_FAILR_PTNTS" type="radio" name="M1500" id="M1500_2" value="01"> 1 - Yes <br />
                      <input required ng-model="M1501_SYMTM_HRT_FAILR_PTNTS" type="radio" name="M1500" id="M1500_3" value="02"> 2 - Not assessed [Go to M2005 at TRN; Go to M1600 at DC ] <br />
                      <input required ng-model="M1501_SYMTM_HRT_FAILR_PTNTS" type="radio" name="M1500" id="M1500_4" value="NA"> NA - Patient does not have diagnosis of heart failure [Go to M2005 at TRN; Go to M1600 at DC ]
                  </td>
              </tr>
              <tr class="M1511">
                  <td class="motag" width="92">M1511</td>
                  <td class="tbl_field" width="140" align="right">Heart Failure Follow-up:</td>
                  <td width="848" colspan="3">
                    If patient has been diagnosed with heart failure and has exhibited symptoms indicative of
                    heart failure at the time of or at any time since the most recent SOC/ROC assessment, what
                    action(s) has (have) been taken to respond? <strong>(Mark all that apply.)</strong><br />
                      <!-- <div class="field-error" ng-show="cardiac.M1511.$touched && cardiac.M1511.$invalid || cardiac.M1511.$invalid && cardiac.$submitted">Please select at least one.</div> -->
                      <label id="M1000_DC_LTC_14_DA"><input ng-model="M1511_HRT_FAILR_NO_ACTN" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="M1511" id="M1510_1"> 0 - No action taken </label><br />
                      <label id="M1511_HRT_FAILR_PHYSN_CNTCT"><input ng-model="M1511_HRT_FAILR_PHYSN_CNTCT" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="M1511" id="M1510_2"> 1 - Patient’s physician (or other primary care practitioner) contacted the same day </label><br />
                      <label id="M1511_HRT_FAILR_ER_TRTMT"><input ng-model="M1511_HRT_FAILR_ER_TRTMT" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="M1511" id="M1510_3"> 2 - Patient advised to get emergency treatment (e.g., call 911 or go to emergency room) </label><br />
                      <label id="M1511_HRT_FAILR_PHYSN_TRTMT"><input ng-model="M1511_HRT_FAILR_PHYSN_TRTMT" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="M1511" id="M1510_4"> 3 - Implemented physician-ordered patient-specific established parameters for treatment </label><br />
                      <label id="M1511_HRT_FAILR_CLNCL_INTRVTN"><input ng-model="M1511_HRT_FAILR_CLNCL_INTRVTN" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="M1511" id="M1510_5"> 4 - Patient education or other clinical interventions </label><br />
                      <label id="M1511_HRT_FAILR_CARE_PLAN_CHG"><input ng-model="M1511_HRT_FAILR_CARE_PLAN_CHG" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="M1511" id="M1510_6"> 5 - Obtained change in care plan orders (e.g., increased monitoring by agency, change in visit frequency, telehealth, etc.)</label>
                  </td>
              </tr>
            </tbody>
          </table>
          <div class="bottom-nav">
            <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="submitSection(cardiac, 'Medications')">Finished<i class="glyphicon glyphicon-ok"></i></button>
          </div>
        </section>
      </fieldset>

      </form>

      <!-- ********** Medications ********** -->
      <form name="medications" novalidate>
        <fieldset ng-disabled="disableEditDetails" ng-class="{'enableInput': enableInput}">

        <section class="Medications" style="display:none;">
          <table cellspacing="1" cellpadding="2" style="width: 100%; border: 0px;" class="formtable">
            <tbody>
              <tr class="M2005">
                  <td class="motag" width="92">M2005</td>
                  <td class="tbl_field" width="140" align="right">Medication Intervention:</td>
                  <td width="848" colspan="3" id="M2005_MDCTN_INTRVTN">
                    Did the agency contact and complete physician (or physician-designee) prescribed/recommended
                    actions by midnight of the next calendar day each time potential clinically significant
                    medication issues were identified since the SOC/ROC?<br />
                    <!-- <div class="field-error" ng-show="medications.M2005.$touched && medications.M2005.$invalid || medications.M2005.$invalid && medications.$submitted">Please select one.</div> -->
                      <input required ng-model="M2005_MDCTN_INTRVTN" type="radio" name="M2005" id="M2005_1" value="0"> 0 - No <br />
                      <input required ng-model="M2005_MDCTN_INTRVTN" type="radio" name="M2005" id="M2005_2" value="1"> 1 - Yes <br />
                      <input required ng-model="M2005_MDCTN_INTRVTN" type="radio" name="M2005" id="M2005_3" value="9"> NA - There were no potential clinically significant medication issues
                      identified since SOC/ROC or patient is not taking any medications
                  </td>
              </tr>
              <tr class="M2016">
                  <td class="motag" width="92">M2016</td>
                  <td class="tbl_field" width="140" align="right">Patient/Caregiver Drug Education Intervention:</td>
                  <td width="848" colspan="3" id="M2016_DRUG_EDCTN_INTRVTN">
                    At the time of, or at any time since the most recent SOC/ROC assessment, was the patient/caregiver
                    instructed by agency staff or other health care provider to monitor the effectiveness of drug therapy,
                    adverse drug reactions, and significant side effects, and how and when to report problems that may occur?<br />
                      <!-- <div class="field-error" ng-show="medications.M2016.$touched && medications.M2016.$invalid || medications.M2016.$invalid && medications.$submitted">Please select one.</div> -->
                      <input required ng-model="M2016_DRUG_EDCTN_INTRVTN" type="radio" name="M2016" id="M2015_1" value="00"> 0 - No <br />
                      <input required ng-model="M2016_DRUG_EDCTN_INTRVTN" type="radio" name="M2016" id="M2015_2" value="01"> 1 - Yes <br />
                      <input required ng-model="M2016_DRUG_EDCTN_INTRVTN" type="radio" name="M2016" id="M2015_3" value="NA"> NA - Patient not taking any drugs
                  </td>
              </tr>
            </tbody>
          </table>
          <div class="bottom-nav">
            <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="submitSection(medications, 'EmergentCare')">Finished<i class="glyphicon glyphicon-ok"></i></button>
          </div>
        </section>
      </fieldset>

      </form>

      <!-- ********** EmergentCare ********** -->
      <form name="emergentCare" novalidate>
        <fieldset ng-disabled="disableEditDetails" ng-class="{'enableInput': enableInput}">

        <section class="EmergentCare" style="display:none;">
          <table cellspacing="1" cellpadding="2" style="width: 100%; border: 0px;" class="formtable">
            <tbody>
              <tr class="M2301">
                  <td class="motag" width="92">M2301</td>
                  <td class="tbl_field" width="140" align="right"><strong>Emergent Care:</strong><br />
                    At the time of or at any time since the most recent SOC/ROC assessment has the patient utilized a hospital
                    emergency department (includes holding/observation status)?
                  </td>
                  <td width="848" colspan="3" id="M2301_EMER_USE_AFTR_LAST_ASMT">
                    <!-- <div class="field-error" ng-show="emergentCare.M2301.$touched && emergentCare.M2301.$invalid || emergentCare.M2301.$invalid && emergentCare.$submitted">Please select at least one.</div> -->
                      <input required ng-model="M2301_EMER_USE_AFTR_LAST_ASMT" type="radio" name="M2301" id="m2300_1" value="00"> 0 - No [ Go to M2401 ] <br />
                      <input required ng-model="M2301_EMER_USE_AFTR_LAST_ASMT" type="radio" name="M2301" id="m2300_2" value="01"> 1 - Yes, used hospital emergency department WITHOUT hospital admission
                      <br />
                      <input required ng-model="M2301_EMER_USE_AFTR_LAST_ASMT" type="radio" name="M2301" id="m2300_3" value="02"> 2 - Yes, used hospital emergency department WITH hospital admission
                      <br />
                      <input required ng-model="M2301_EMER_USE_AFTR_LAST_ASMT" type="radio" name="M2301" id="m2300_4" value="UK"> UK - Unknown [ Go to M2401 ]
                  </td>
              </tr>
              <tr class="M2310">
                  <td class="motag" width="92">M2310</td>
                  <td class="tbl_field" width="140" align="right">Reason for Emergent Care: <br />For what reason(s) did the patient receive emergent care (with or without hospitalization)?
                  </td>
                  <td width="848" colspan="3">
                      <strong>Mark all that apply:</strong><br />
                      <!-- <div class="field-error" ng-show="emergentCare.emergent_care.$touched && emergentCare.emergent_care.$invalid || emergentCare.emergent_care.$invalid && emergentCare.$submitted">Please select at least one.</div> -->
                      <label id="M2310_ECR_MEDICATION"><input  ng-model="M2310_ECR_MEDICATION" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="emergent_care" id="M2310_1"> 01 - Improper medication administration, medication side effects, toxicity, anaphylaxis </label><br />
                      <label id="M2310_ECR_INJRY_BY_FALL"><input  ng-model="M2310_ECR_INJRY_BY_FALL" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="emergent_care" id="M2310_2"> 02 - Injury caused by fall </label><br />
                      <label id="M2310_ECR_RSPRTRY_INFCTN"><input  ng-model="M2310_ECR_RSPRTRY_INFCTN" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="emergent_care" id="M2310_3"> 03 - Respiratory infection (e.g., pneumonia, bronchitis) </label><br />
                      <label id="M2310_ECR_RSPRTRY_OTHR"><input  ng-model="M2310_ECR_RSPRTRY_OTHR" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="emergent_care" id="M2310_4"> 04 - Other respiratory problem </label><br />
                      <label id="M2310_ECR_HRT_FAILR"><input  ng-model="M2310_ECR_HRT_FAILR" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="emergent_care" id="M2310_5"> 05 - Heart failure (e.g., fluid overload) </label><br />
                      <label id="M2310_ECR_CRDC_DSRTHM"><input  ng-model="M2310_ECR_CRDC_DSRTHM" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="emergent_care" id="M2310_6"> 06 - Cardiac dysrhythmia (irregular heartbeat) </label><br />
                      <label id="M2310_ECR_MI_CHST_PAIN"><input  ng-model="M2310_ECR_MI_CHST_PAIN" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="emergent_care" id="M2310_7"> 07 - Myocardial infarction or chest pain </label><br />
                      <label id="M2310_ECR_OTHR_HRT_DEASE"><input  ng-model="M2310_ECR_OTHR_HRT_DEASE" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="emergent_care" id="M2310_8"> 08 - Other heart disease </label><br />
                      <label id="M2310_ECR_STROKE_TIA"><input  ng-model="M2310_ECR_STROKE_TIA" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="emergent_care" id="M2310_9"> 09 - Stroke (CVA) or TIA </label><br />
                      <label id="M2310_ECR_HYPOGLYC"><input  ng-model="M2310_ECR_HYPOGLYC" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="emergent_care" id="M2310_10"> 10 - Hypo/Hyperglycemia, diabetes out of control </label><br />
                      <label id="M2310_ECR_GI_PRBLM"><input  ng-model="M2310_ECR_GI_PRBLM" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="emergent_care" id="M2310_11"> 11 - GI bleeding, obstruction, constipation, impaction </label><br />
                      <label id="M2310_ECR_DHYDRTN_MALNTR"><input  ng-model="M2310_ECR_DHYDRTN_MALNTR" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="emergent_care" id="M2310_12"> 12 - Dehydration, malnutrition </label><br />
                      <label id="M2310_ECR_UTI"><input  ng-model="M2310_ECR_UTI" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="emergent_care" id="M2310_13"> 13 - Urinary tract infection </label><br />
                      <label id="M2310_ECR_CTHTR_CMPLCTN"><input  ng-model="M2310_ECR_CTHTR_CMPLCTN" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="emergent_care" id="M2310_14"> 14 - IV catheter-related infection or complication </label><br />
                      <label id="M2310_ECR_CTHTR_CMPLCTN"><input  ng-model="M2310_ECR_WND_INFCTN_DTRORTN" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="emergent_care" id="M2310_15"> 15 - Wound infection or deterioration </label><br />
                      <label id="M2310_ECR_UNCNTLD_PAIN"><input  ng-model="M2310_ECR_UNCNTLD_PAIN" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="emergent_care" id="M2310_16"> 16 - Uncontrolled pain </label><br />
                      <label id="M2310_ECR_MENTL_BHVRL_PRBLM"><input  ng-model="M2310_ECR_MENTL_BHVRL_PRBLM" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="emergent_care" id="M2310_17"> 17 - Acute mental/behavioral health problem </label><br />
                      <label id="M2310_ECR_DVT_PULMNRY"><input  ng-model="M2310_ECR_DVT_PULMNRY" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="emergent_care" id="M2310_18"> 18 - Deep vein thrombosis, pulmonary embolus </label><br />
                      <label id="M2310_ECR_OTHER"><input  ng-model="M2310_ECR_OTHER" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="emergent_care" id="M2310_19"> 19 - Other than above reasons </label><br />
                      <label id="M2310_ECR_UNKNOWN"><input ng-model="M2310_ECR_UNKNOWN" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="emergent_care" id="M2310_20"> UK - Reason unknown
                      <!-- ng-required="!M2310_ECR_MEDICATION && !M2310_ECR_INJRY_BY_FALL && !M2310_ECR_RSPRTRY_INFCTN && !M2310_ECR_RSPRTRY_OTHR && !M2310_ECR_HRT_FAILR && !M2310_ECR_CRDC_DSRTHM && !M2310_ECR_MI_CHST_PAIN && !M2310_ECR_OTHR_HRT_DEASE && !M2310_ECR_STROKE_TIA && !M2310_ECR_HYPOGLYC && !M2310_ECR_GI_PRBLM && !M2310_ECR_DHYDRTN_MALNTR && !M2310_ECR_UTI && !M2310_ECR_CTHTR_CMPLCTN && !M2310_ECR_WND_INFCTN_DTRORTN && !M2310_ECR_UNCNTLD_PAIN && !M2310_ECR_MENTL_BHVRL_PRBLM && !M2310_ECR_DVT_PULMNRY && !M2310_ECR_OTHER && !M2310_ECR_UNKNOWN"  -->
                  </td>
              </tr>
              <tr>
                  <td colspan="2"><strong>DATA ITEMS COLLECTED AT INPATIENT FACILITY ADMISSION OR AGENCY DISCHARGE ONLY</strong></td>
              </tr>
              <tr class="M2401">
                  <td class="motag" width="92">M2401</td>
                  <td class="tbl_field" width="140" align="right">Intervention Synopsis: <br />
                    (Check only one box in each row.) At the time of or at any time since the most
                    recent SOC/ROC assessment, were the following interventions BOTH included in the physician-ordered plan
                    of care AND implemented?
                  </td>
                  <td colspan="3">
                      <table class="auto-style5">
                          <tr>
                              <td class="auto-style14">Plan / Intervention</td>
                              <td class="auto-style28">No</td>
                              <td class="auto-style26">Yes</td>
                              <td colspan="2"><b>Not Applicable</b></td>
                          </tr>
                          <tr id="M2401_INTRVTN_SMRY_DBTS_FT">
                              <td>
                                <!-- <div class="field-error" ng-show="emergentCare.m2400a.$touched && emergentCare.m2400a.$invalid || emergentCare.m2400a.$invalid && emergentCare.$submitted">Please select at least one.</div> -->
                                  a. Diabetic foot care including monitoring for the presence of skin lesions on the
                                  lower extremities and patient/caregiver education on proper foot care</td>
                              <td class="auto-style29"><input required ng-model="M2401_INTRVTN_SMRY_DBTS_FT" type="radio" value="00" name="m2400a" id="m2400a_1">0</td>
                              <td class="auto-style27"><input required ng-model="M2401_INTRVTN_SMRY_DBTS_FT" type="radio" value="01" name="m2400a" id="m2400a_2">1</td>
                              <td class="auto-style25"><input required ng-model="M2401_INTRVTN_SMRY_DBTS_FT" type="radio" value="NA" name="m2400a" id="m2400a_3">NA</td>
                              <td>Patient is not diabetic or is missing lower legs due to congenital or acquired condition (bilateral amputee).</td>
                          </tr>
                          <tr id="M2401_INTRVTN_SMRY_FALL_PRVNT">
                              <td>
                                <!-- <div class="field-error" ng-show="emergentCare.m2400b.$touched && emergentCare.m2400b.$invalid || emergentCare.m2400b.$invalid && emergentCare.$submitted">Please select at least one.</div> -->
                                  b. Falls prevention interventions</td>
                              <td class="auto-style29"><input required ng-model="M2401_INTRVTN_SMRY_FALL_PRVNT" type="radio" value="00" name="m2400b" id="m2400d_1">0</td>
                              <td class="auto-style27"><input required ng-model="M2401_INTRVTN_SMRY_FALL_PRVNT" type="radio" value="01" name="m2400b" id="m2400d_2">1</td>
                              <td class="auto-style25"><input required ng-model="M2401_INTRVTN_SMRY_FALL_PRVNT" type="radio" value="NA" name="m2400b" id="m2400d_3">NA</td>
                              <td>Every standardized, validated multifactor fall risk assessment conducted at or since the most recent SOC/ROC
                                assessment indicates the patient has no risk for falls.
                              </td>
                          </tr>
                          <tr id="M2401_INTRVTN_SMRY_DPRSN">
                              <td>
                                <!-- <div class="field-error" ng-show="emergentCare.m2400c.$touched && emergentCare.m2400c.$invalid || emergentCare.m2400c.$invalid && emergentCare.$submitted">Please select at least one.</div> -->
                                  c. Depression intervention(s) such as medication, referral for other treatment, or a monitoring plan for current treatment</td>
                              <td class="auto-style29"><input required ng-model="M2401_INTRVTN_SMRY_DPRSN" type="radio" value="00" name="m2400c" id="m2400c_1">0</td>
                              <td class="auto-style27"><input required ng-model="M2401_INTRVTN_SMRY_DPRSN" type="radio" value="01" name="m2400c" id="m2400c_2">1</td>
                              <td class="auto-style25"><input required ng-model="M2401_INTRVTN_SMRY_DPRSN" type="radio" value="NA" name="m2400c" id="m2400c_3">na</td>
                              <td>Patient has no diagnosis of depression AND every standardized, validated depression screening conducted at or
                                  since the most recent SOC/ROC assessment indicates the patient has: 1) no symptoms of depression; or 2) has
                                  some symptoms of depression but does not meet criteria for further evaluation of depression based on screening tool
                                  used.
                                </td>
                          </tr>
                          <tr id="M2401_INTRVTN_SMRY_PAIN_MNTR">
                              <td>
                                <!-- <div class="field-error" ng-show="emergentCare.m2400d.$touched && emergentCare.m2400d.$invalid || emergentCare.m2400d.$invalid && emergentCare.$submitted">Please select at least one.</div> -->
                                  d. Intervention(s) to monitor and mitigate pain</td>
                              <td class="auto-style29"><input required ng-model="M2401_INTRVTN_SMRY_PAIN_MNTR" type="radio" value="00" name="m2400d" id="m2400d_1">0</td>
                              <td class="auto-style27"><input required ng-model="M2401_INTRVTN_SMRY_PAIN_MNTR" type="radio" value="01" name="m2400d" id="m2400d_2">1</td>
                              <td class="auto-style25"><input required ng-model="M2401_INTRVTN_SMRY_PAIN_MNTR" type="radio" value="NA" name="m2400d" id="m2400d_3">na</td>
                              <td>Every standardized, validated pain assessment conducted at or since the most recent SOC/ROC assessment
                                indicates the patient has no pain.
                              </td>
                          </tr>
                          <tr id="M2401_INTRVTN_SMRY_PRSULC_PRVN">
                              <td>
                                <!-- <div class="field-error" ng-show="emergentCare.m2400e.$touched && emergentCare.m2400e.$invalid || emergentCare.m2400e.$invalid && emergentCare.$submitted">Please select at least one.</div> -->
                                  e. Intervention(s) to prevent pressure ulcers</td>
                              <td class="auto-style29"><input required ng-model="M2401_INTRVTN_SMRY_PRSULC_PRVN" type="radio" value="00" name="m2400e" id="m2400e_">0</td>
                              <td class="auto-style27"><input required ng-model="M2401_INTRVTN_SMRY_PRSULC_PRVN" type="radio" value="01" name="m2400e" id="m2400e_">1</td>
                              <td class="auto-style25"><input required ng-model="M2401_INTRVTN_SMRY_PRSULC_PRVN" type="radio" value="NA" name="m2400e" id="m2400e_">na</td>
                              <td>Every standardized, validated pressure ulcer risk assessment conducted at or since the most recent SOC/ROC
                                assessment indicates the patient is not at risk of developing pressure ulcers.
                              </td>
                          </tr>
                          <tr id="M2401_INTRVTN_SMRY_PRSULC_WET">
                              <td>
                                <!-- <div class="field-error" ng-show="emergentCare.m2400f.$touched && emergentCare.m2400f.$invalid || emergentCare.m2400f.$invalid && emergentCare.$submitted">Please select at least one.</div> -->
                                  f. Pressure ulcer treatment based on principles of moist wound healing</td>
                              <td class="auto-style29"><input required ng-model="M2401_INTRVTN_SMRY_PRSULC_WET" type="radio" value="00" name="m2400f" id="m2400f_1">0</td>
                              <td class="auto-style27"><input required ng-model="M2401_INTRVTN_SMRY_PRSULC_WET" type="radio" value="01" name="m2400f" id="m2400f_2">1</td>
                              <td class="auto-style25"><input required ng-model="M2401_INTRVTN_SMRY_PRSULC_WET" type="radio" value="NA" name="m2400f" id="m2400f_3">na</td>
                              <td>Patient has no pressure ulcers OR has no pressure ulcers for which moist wound healing is indicated.</td>
                          </tr>
                      </table>
                  </td>
              </tr>
              <tr class="M2410" >
                  <td class="motag" width="92">M2410</td>
                  <td class="tbl_field" width="140" align="right">To which Inpatient Facility has the patient been admitted?:</td>
                  <td width="848" colspan="3" id="M2410_INPAT_FACILITY">
                    <!-- <div class="field-error" ng-show="emergentCare.M2410.$touched && emergentCare.M2410.$invalid || emergentCare.M2410.$invalid && emergentCare.$submitted">Please select at least one.</div> -->
                      <input required ng-model="M2410_INPAT_FACILITY" type="radio" name="M2410" id="m2410_1" value="01"> 1 - Hospital [ Go to M2430 ] <br />
                      <input required ng-model="M2410_INPAT_FACILITY" type="radio" name="M2410" id="m2410_2" value="02"> 2 - Rehabilitation facility [ Go to M0903 ] <br />
                      <input required ng-model="M2410_INPAT_FACILITY" type="radio" name="M2410" id="m2410_3" value="03"> 3 - Nursing home [ Go to M2440 ] <br />
                      <input required ng-model="M2410_INPAT_FACILITY" type="radio" name="M2410" id="m2410_4" value="04"> 4 - Hospice [ Go to M0903 ] <br />
                      <input required ng-model="M2410_INPAT_FACILITY" type="radio" name="M2410" id="m2410_5" value="NA"> NA - No inpatient facility admission [Omit "NA" option on TRN]
                  </td>
              </tr>
              <tr class="M2430">
                  <td class="motag" width="92">M2430</td>
                  <td class="tbl_field" width="140" align="right">Reason for Hospitalization: <br />
                      For what reason(s) did the patient require hospitalization?
                  </td>
                  <td width="848" colspan="3">
                      <strong>Mark all that apply:</strong><br />
                      <!-- <div class="field-error" ng-show="emergentCare.hospitalization.$touched && emergentCare.hospitalization.$invalid || emergentCare.hospitalization.$invalid && emergentCare.$submitted">Please select at least one.</div> -->
                      <label id="M2430_HOSP_MED"><input ng-model="M2430_HOSP_MED" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_1"> 01 - Improper medication administration, medication side effects, toxicity, anaphylaxis </label><br />
                      <label id="M2430_HOSP_INJRY_BY_FALL"><input ng-model="M2430_HOSP_INJRY_BY_FALL" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_2"> 02 - Injury caused by fall </label><br />
                      <label id="M2430_HOSP_RSPRTRY_INFCTN"><input ng-model="M2430_HOSP_RSPRTRY_INFCTN" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_3"> 03 - Respiratory infection (e.g., pneumonia, bronchitis) </label><br />
                      <label id="M2430_HOSP_RSPRTRY_OTHR"><input ng-model="M2430_HOSP_RSPRTRY_OTHR" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_4"> 04 - Other respiratory problem </label><br />
                      <label id="M2430_HOSP_HRT_FAILR"><input ng-model="M2430_HOSP_HRT_FAILR" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_5"> 05 - Heart failure (e.g., fluid overload) </label><br />
                      <label id="M2430_HOSP_CRDC_DSRTHM"><input ng-model="M2430_HOSP_CRDC_DSRTHM" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_6"> 06 - Cardiac dysrhythmia (irregular heartbeat) </label><br />
                      <label id="M2430_HOSP_MI_CHST_PAIN"><input ng-model="M2430_HOSP_MI_CHST_PAIN" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_7"> 07 - Myocardial infarction or chest pain </label><br />
                      <label id="M2430_HOSP_OTHR_HRT_DEASE"><input ng-model="M2430_HOSP_OTHR_HRT_DEASE" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_8"> 08 - Other heart disease </label><br />
                      <label id="M2430_HOSP_STROKE_TIA"><input ng-model="M2430_HOSP_STROKE_TIA"  ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_9"> 09 - Stroke (CVA) or TIA </label><br />
                      <label id="M2430_HOSP_HYPOGLYC"><input ng-model"M2430_HOSP_HYPOGLYC" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_10"> 10 - Hypo/Hyperglycemia, diabetes out of control </label><br />
                      <label id="M2430_HOSP_GI_PRBLM"><input ng-model="M2430_HOSP_GI_PRBLM" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_11"> 11 - GI bleeding, obstruction, constipation, impaction </label><br />
                      <label id="M2430_HOSP_DHYDRTN_MALNTR"><input ng-model="M2430_HOSP_DHYDRTN_MALNTR"  ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_12"> 12 - Dehydration, malnutrition </label><br />
                      <label id="M2430_HOSP_UR_TRACT"><input ng-model="M2430_HOSP_UR_TRACT" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_13"> 13 - Urinary tract infection </label><br />
                      <label id="M2430_HOSP_CTHTR_CMPLCTN"><input ng-model="M2430_HOSP_CTHTR_CMPLCTN" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_14"> 14 - IV catheter-related infection or complication </label><br />
                      <label id="M2430_HOSP_WND_INFCTN"><input ng-model="M2430_HOSP_WND_INFCTN"  ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_15"> 15 - Wound infection or deterioration </label><br />
                      <label id="M2430_HOSP_PAIN"><input ng-model="M2430_HOSP_PAIN" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_16"> 16 - Uncontrolled pain </label><br />
                      <label id="M2430_HOSP_MENTL_BHVRL_PRBLM"><input ng-model="M2430_HOSP_MENTL_BHVRL_PRBLM"  ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_17"> 17 - Acute mental/behavioral health problem </label><br />
                      <label id="M2430_HOSP_DVT_PULMNRY"><input ng-model="M2430_HOSP_DVT_PULMNRY"  ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_18"> 18 - Deep vein thrombosis, pulmonary embolus </label><br />
                      <label id="M2430_HOSP_SCHLD_TRTMT"><input ng-model="M2430_HOSP_SCHLD_TRTMT" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_19"> 19 - Scheduled treatment or procedure </label><br />
                      <label id="M2430_HOSP_OTHER"><input ng-model="M2430_HOSP_OTHER"  ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_20"> 20 - Other than above reasons </label><br />
                      <label id="M2430_HOSP_UK"><input ng-model="M2430_HOSP_UK" ng-false-value="'0'" ng-true-value="'1'" type="checkbox" name="hospitalization" id="M2430_21"> UK - Reason unknown </label><br />[ Go to M0903 ]
                      <!-- ng-required="!M2430_HOSP_MED && !M2430_HOSP_INJRY_BY_FALL && !M2430_HOSP_RSPRTRY_INFCTN && !M2430_HOSP_RSPRTRY_OTHR && !M2430_HOSP_HRT_FAILR && !M2430_HOSP_CRDC_DSRTHM && !M2430_HOSP_MI_CHST_PAIN && !M2430_HOSP_OTHR_HRT_DEASE && !M2430_HOSP_STROKE_TIA && !M2430_HOSP_HYPOGLYC && !M2430_HOSP_GI_PRBLM && !M2430_HOSP_DHYDRTN_MALNTR && !M2430_HOSP_UR_TRACT && !M2430_HOSP_CTHTR_CMPLCTN && !M2430_HOSP_WND_INFCTN && !M2430_HOSP_PAIN && !M2430_HOSP_MENTL_BHVRL_PRBLM && !M2430_HOSP_DVT_PULMNRY && !M2430_HOSP_SCHLD_TRTMT && !M2430_HOSP_OTHER && !M2430_HOSP_UK"  -->
              </tr>
            </tbody>
          </table>
          <div class="bottom-nav">
            <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="submitSection(emergentCare, 'EmergentCare')">Finished<i class="glyphicon glyphicon-ok"></i></button>
          </div>
        </section>
      </fieldset>
      </form>
    </div>

    <div class="oasisForm-nav">
      <div class="menu-headline">
        {{ patient.FNAME + ' ' + patient.LNAME| limitTo: 15 }}{{patient.FNAME.length > 15 ? '&hellip;' : ''}}
      </div>

      <div class="inner-formnav">
        <div class="form-section" ng-class="{ 'active' : activeForm('General')}" id="General" ng-click="nextForm(currentForm, 'General');">General <br><span>(M0100-M0150)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
        <div class="form-section" ng-class="{ 'active' : activeForm('ClinicalRecordItems')}" id= "ClinicalRecordItems" ng-click="nextForm(currentForm, 'ClinicalRecordItems');">Clinical Record Items <br><span>(M0080-M0110)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
        <div class="form-section" ng-class="{ 'active' : activeForm('PatientHistoryAndDiagnoses')}" id="PatientHistoryAndDiagnoses" ng-click="nextForm(currentForm, 'PatientHistoryAndDiagnoses');">Patient History And Diagnoses <br><span>(M1000-M1055)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
        <!-- <div class="form-section" ng-class="{ 'active' : activeForm('LivingArrangements')}" id="LivingArrangements" ng-click="nextForm(currentForm, 'LivingArrangements');">Living Arrangements <br><span>(M1100)</span><i class="glyphicon glyphicon-ok-circle"></i></div> -->
        <!-- <div class="form-section" ng-class="{ 'active' : activeForm('SensoryStatus')}" id="SensoryStatus" ng-click="nextForm(currentForm, 'SensoryStatus');">Sensory Status <br><span>(M1200-M1241)</span><i class="glyphicon glyphicon-ok-circle"></i></div> -->
        <!-- <div class="form-section" ng-class="{ 'active' : activeForm('IntegumentaryStatus')}" id="IntegumentaryStatus" ng-click="nextForm(currentForm, 'IntegumentaryStatus');">Integumentary Status <br><span>(M1300-M1350)</span><i class="glyphicon glyphicon-ok-circle"></i></div> -->
        <!-- <div class="form-section" ng-class="{ 'active' : activeForm('RespiratoryStatus')}" id="RespiratoryStatus" ng-click="nextForm(currentForm, 'RespiratoryStatus');">Respiratory Status <br><span>(M1400-M1410)</span><i class="glyphicon glyphicon-ok-circle"></i></div> -->
        <div class="form-section" ng-class="{ 'active' : activeForm('CardiacStatus')}" id="CardiacStatus" ng-click="nextForm(currentForm, 'CardiacStatus');">Cardiac Status <br><span>(M1500-M1510)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
        <!-- <div class="form-section" ng-class="{ 'active' : activeForm('EliminationStatus')}" id="EliminationStatus" ng-click="nextForm(currentForm, 'EliminationStatus');">Elimination Status <br><span>(M1600-M1630)</span><i class="glyphicon glyphicon-ok-circle"></i></div> -->
        <!-- <div class="form-section" ng-class="{ 'active' : activeForm('BehavioralStatus')}" id="BehavioralStatus" ng-click="nextForm(currentForm, 'BehavioralStatus');">Neuro/Emotional/Behavioral Status <br><span>(M1700-M1750)</span><i class="glyphicon glyphicon-ok-circle"></i></div> -->
        <!-- <div class="form-section" ng-class="{ 'active' : activeForm('ADL')}" id="ADL" ng-click="nextForm(currentForm, 'ADL');">ADL/IADLs <br><span>(M1800-M1910)</span><i class="glyphicon glyphicon-ok-circle"></i></div> -->
        <div class="form-section" ng-class="{ 'active' : activeForm('Medications')}" id="Medications" ng-click="nextForm(currentForm, 'Medications');">Medications <br><span>(M2000-M2040)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
        <!-- <div class="form-section" ng-class="{ 'active' : activeForm('CareManagement')}" id="CareManagement" ng-click="nextForm(currentForm, 'CareManagement');">Care Management <br><span>(M2100-M2110)</span><i class="glyphicon glyphicon-ok-circle"></i></div> -->
        <!-- <div class="form-section" ng-class="{ 'active' : activeForm('Therapy')}" id="Therapy" ng-click="nextForm(currentForm, 'Therapy');">Therapy Need/Plan of Care <br><span>(M2200-M2250)</span><i class="glyphicon glyphicon-ok-circle"></i></div> -->
        <div class="form-section" ng-class="{ 'active' : activeForm('EmergentCare')}" id="EmergentCare" ng-click="nextForm(currentForm, 'EmergentCare');">Emergent Care <br><span>(M2300-M0906)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
      </div>
    </div>
