<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#medication" patientnavopen='true'></header-nav>
</div>

<div id="medication">

  <!-- Right Sidebar for add medication -->
  <div id="addSidenav" class="sidenav" style="border-left:2px solid #42335E;">
    <div id="new-patient-medication">

      <div class="head-bar">
        <div class="title">
          <span class="fa fa-tags fa-lg"></span><h3>Add a New Medication for the patient</h3>
        </div>
      </div>

      <div class="form-background">
        <div class="row">
          <form name="NewMedicationForm" novalidate>
            <div class="container small">
              <div class="row">
                <div class="col-md-12">
                  <div class="input-field-group">
                    <div class="col-md-12">
                      <div class="input-group">
                        <div class="input-group-addon" id="DATE_STARTED1">Date Started</div>
                        <div class="input-group" style="margin:0">
                          <input type="text"
                          style="z-index:100"
                                required
                                tabindex="4"
                                name="DATE_STARTED1"
                                class="form-control"
                                uib-datepicker-popup='MM-dd-yyyy'
                                ng-model="newMedication.DATE_STARTED1"
                                is-open="openedDATE_STARTED1"
                                show-button-bar="false"
                                ng-click="openedDATE_STARTED1=true"
                                datepicker-append-to-body="false"
                                alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="openedDATE_STARTED1=true"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                          </div>
                        </div>
                        <!-- <input required type="date" name="DATE_STARTED" ng-model="newMedication.DATE_STARTED" class="form-control" tabindex="6" aria-describedby="DATE_STARTED"> -->
                        <div ng-show="NewMedicationForm.DATE_STARTED1.$invalid && submitClicked" class="field-error">Enter a valid Pharmacy.</div>
    
                    </div>
                    <div class="col-md-12">
                      <!-- <div class="input-group">
                        <span class="input-group-addon" id="DATE_DISC">Date Disc.</span>
                        <input type="date" name="DATE_DISC" ng-model="newMedication.DATE_DISC" class="form-control" tabindex="6" aria-describedby="DATE_DISC">
                      </div> -->
                      <div class="input-group">
                        <div class="input-group-addon" id="DATE_DISC1">Date Disc.</div>
                        <div class="input-group" style="margin:0">
                          <input type="text"
                                style="z-index:100"
                                tabindex="4"
                                name="DATE_DISC1"
                                class="form-control"
                                uib-datepicker-popup='MM-dd-yyyy'
                                ng-model="newMedication.DATE_DISC1"
                                is-open="openedDATE_DISC1"
                                show-button-bar="false"
                                ng-click="openedDATE_DISC1=true"
                                datepicker-append-to-body="false"
                                alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="openedDATE_DISC1=true"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                          </div>
                        </div>
                      <div ng-show="NewMedicationForm.DATE_DISC1.$invalid && submitClicked" class="field-error">Enter a valid date.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="PHARMACY1">* Pharmacy</span>
                        <input required type="text" name="PHARMACY1" ng-model="newMedication.PHARMACY1" class="form-control" tabindex="6" aria-describedby="PHARMACY1">
                      </div>
                      <div ng-show="NewMedicationForm.PHARMACY1.$invalid && submitClicked" class="field-error">Enter a valid Pharmacy.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="ADMIN_BY1">* Administered By</span>
                        <md-select required name="ADMIN_BY1" ng-model="newMedication.ADMIN_BY1" class="form-control" tabindex="5" placeholder="-Select One-">
                          <md-option value="PATIENT">Patient</md-option>
                          <md-option value="NURSE">Nurse</md-option>
                          <md-option value="FAMILY">Family</md-option>
                          <md-option value="CAREGIVER">Caregiver</md-option>
                        </md-select>
                      </div>
                      <div ng-show="NewMedicationForm.ADMIN_BY1.$invalid && submitClicked" class="field-error">Enter a valid date.</div>
                    </div>
                  </div>
                  <div class="input-field-group">
                    <div class="col-md-12">
                      <div class="input-group" id="medication_name_input_group1">
                        <span class="input-group-addon" id="NAME1">* Medication Name</span>
                        <input type="text" tabindex="1"
                          required
                          ng-model-options="{debounce : 1000}"
                          name="NAME1"
                          typeahead-on-select="updateMedication()"
                          ng-model="newMedication.NAME1"
                          uib-typeahead="code.DESCRIPTION for code in getMedications($viewValue)"
                          typeahead-loading="loadingMedications"
                          typeahead-no-results="noResults"
                          class="form-control"
                          placeholder="Search Medications" >
                        <i ng-show="loadingMedications" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                          <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                      </div>
                      <div ng-show="NewMedicationForm.NAME1.$invalid && submitClicked" class="field-error">Enter a valid medication.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="DOSE1">* Dose</span>
                        <input required type="text" name="DOSE1" ng-model="newMedication.DOSE1" class="form-control" tabindex="3" aria-describedby="DOSE1">
                      </div>
                      <div ng-show="NewMedicationForm.DOSE1.$invalid && submitClicked" class="field-error">Enter a valid dose.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="UNIT1">* Unit</span>
                        <md-select required name="UNIT1" ng-model="newMedication.UNIT1" class="form-control" tabindex="5" placeholder="-Select One-">
                          <md-option value="cfu/ml">Colony forming units per milliliter (cfu/ml)</md-option>
                          <md-option value="iu">International unit (iu)</md-option>
                          <md-option value="mcg">Micrograms (mcg)</md-option>
                          <md-option value="meq">Milliequivalent (meq)</md-option>
                          <md-option value="meq/ml">Milliequivalent per milliliter (meq/ml)</md-option>
                          <md-option value="mg">Milligram (mg)</md-option>
                          <md-option value="mg/ml">Milligram per milliliter (mg/ml)</md-option>
                          <md-option value="%">Percent (%)</md-option>
                          <md-option value="unt">Unit (unt) </md-option>
                          <md-option value="ml">Milliter (ml)</md-option>
                          <md-option value="unt/ml">Unit per milliliter (unt/ml)</md-option>
                        </md-select>
                      </div>
                      <div ng-show="NewMedicationForm.UNIT1.$invalid && submitClicked" class="field-error">Enter a valid code.</div>
                    </div>
    
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="FREQUENCY1">* Frequency</span>
                        <input required type="text" name="FREQUENCY1" ng-model="newMedication.FREQUENCY1" class="form-control" tabindex="3" aria-describedby="FREQUENCY1">
                      </div>
                      <div ng-show="NewMedicationForm.FREQUENCY1.$invalid && submitClicked" class="field-error">Enter a valid frequency.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="PURPOSE1">* Purpose</span>
                        <textarea required type="text" rows="4" name="PURPOSE1" ng-model="newMedication.PURPOSE1" class="form-control" tabindex="3" aria-describedby="PURPOSE1"></textarea>
                      </div>
                      <div ng-show="NewMedicationForm.PURPOSE1.$invalid && submitClicked" class="field-error">Enter a valid purpose.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="SIDE_EFFECTS1">Potient Side Effects</span>
                        <textarea required type="text" rows="6" name="SIDE_EFFECTS1" ng-model="newMedication.SIDE_EFFECTS1" class="form-control" tabindex="1" aria-describedby="SIDE_EFFECTS1"></textarea>
                      </div>
                      <div ng-show="NewMedicationForm.SIDE_EFFECTS1.$invalid && submitClicked" class="field-error"></div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="CODE1">* Code</span>
                        <md-select required name="CODE1" ng-model="newMedication.CODE1" class="form-control" tabindex="5" placeholder="-Select One-">
                          <md-option value="N">New</md-option>
                          <md-option value="C">Changed</md-option>
                          <md-option value="L">Long Standing</md-option>
                          <md-option value="H">Hospice Provided</md-option>
                        </md-select>
                      </div>
                      <div ng-show="NewMedicationForm.CODE1.$invalid && submitClicked" class="field-error">Enter a valid code.</div>
                    </div>
                      <div class="col-md-12">
                        <div class="input-group">
                          <span class="input-group-addon" id="FORM1">* Form</span>
                          <md-select required name="FORM1" ng-model="newMedication.FORM1" class="form-control" tabindex="5" placeholder="-Select One-">
                            <md-option value="1">ApplicatorFuls</md-option>
                            <md-option value="2">Bags</md-option>
                            <md-option value="3">Bars</md-option>
                            <md-option value="4">Capsules</md-option>
                            <md-option value="5">Doses</md-option>
                            <md-option value="6">Dropperfuls</md-option>
                            <md-option value="7">Drops</md-option>
                            <md-option value="8">Grams(g)</md-option>
                            <md-option value="9">Inhalations</md-option>
                            <md-option value="A">Lozenges</md-option>
                            <md-option value="B">Micrograms(mcg)</md-option>
                            <md-option value="C">Milligrams(mg)</md-option>
                            <md-option value="D">Milliliters(ml)</md-option>
                            <md-option value="E">Packets</md-option>
                            <md-option value="F">Patches</md-option>
                            <md-option value="G">Percent(%)</md-option>
                            <md-option value="H">Puffs</md-option>
                            <md-option value="I">Scoopes</md-option>
                            <md-option value="J">Shots</md-option>
                            <md-option value="K">Sprays</md-option>
                            <md-option value="L">Suppositories</md-option>
                            <md-option value="M">Syringe</md-option>
                            <md-option value="N">Tablespoons(tbsp)</md-option>
                            <md-option value="O">Tablets</md-option>
                            <md-option value="P">Teaspoons(tsp)</md-option>
                            <md-option value="Q">Units(U)</md-option>
                          </md-select>
                        </div>
                        <div ng-show="NewMedicationForm.FORM1.$invalid && submitClicked" class="field-error">Enter a valid code.</div>
                      </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="TAKEN1">* How Taken</span>
                        <md-select required name="TAKEN1" ng-model="newMedication.TAKEN1" class="form-control" tabindex="5" placeholder="-Select One-">
                          <md-option value="1">By Injection</md-option>
                          <md-option value="2">By Mouth</md-option>
                          <md-option value="3">In the ear</md-option>
                          <md-option value="4">In the eye</md-option>
                          <md-option value="5">In the nose(spray/drops)</md-option>
                          <md-option value="6">Inhaled</md-option>
                          <md-option value="7">Rectal</md-option>
                          <md-option value="8">Through a feeding tube</md-option>
                          <md-option value="9">Through an intravenous (IV) tube</md-option>
                          <md-option value="A">Through the skin</md-option>
                          <md-option value="B">Under the tongue</md-option>
                          <md-option value="C">Vaginal</md-option>
                        </md-select>
                      </div>
                      <div ng-show="NewMedicationForm.TAKEN1.$invalid && submitClicked" class="field-error">Enter a valid code.</div>
                    </div>
                  </div>
                  <div class="btn-footer pull-right" style="margin-right:15px;">
                    <button type="submit" 
                      ng-click="addPatientMedication(
                        NewMedicationForm.PURPOSE1.$invalid || 
                        NewMedicationForm.TAKEN1.$invalid ||
                        NewMedicationForm.FORM1.$invalid ||
                        NewMedicationForm.FREQUENCY1.$invalid ||
                        NewMedicationForm.UNIT1.$invalid ||
                        NewMedicationForm.DOSE1.$invalid ||
                        NewMedicationForm.SIDE_EFFECTS1.$invalid ||
                        NewMedicationForm.CODE1.$invalid ||
                        NewMedicationForm.NAME1.$invalid ||
                        NewMedicationForm.DATE_DISC1.$invalid ||
                        NewMedicationForm.DATE_STARTED1.$invalid ||
                        NewMedicationForm.ADMIN_BY1.$invalid ||
                        NewMedicationForm.PHARMACY1.$invalid)"
                      class="btn btn-default" tabindex="27">Add medication for the patient</button>
                    <button type="" ng-click="closeNav()" class="btn btn-default" tabindex="28">Cancel</button></td>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      
    </div>        
  </div>

  <!-- Right Sidebar for edit medication -->
  <div id="editSidenav" class="sidenav" style="border-left:2px solid #42335E;">
    <div id="new-patient-medication">
      <div class="head-bar">
        <div class="col-md-12">
          <div class="title">
            <span class="fa fa-tags fa-lg"></span><h3>Edit Medication</h3>
          </div>
        </div>
        <div class="col-md-12" style="margin-top:13px; margin-left:10px; height:40px;">
          <button type="" data-ng-click="deletePatientMedication(medication)" class="btn btn-danger">Delete Patient Medication</button></td>
        </div>
      </div>
      <div class="form-background">
        <div class="row">
          <form name="MedicationForm" novalidate>
            <div class="container small">
              <div class="row">
                <div class="col-md-12">
                  <div class="input-field-group">
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="DATE_STARTED">* Date Started</span>
                        <!-- <input required type="date" ui-date-format="yyyy-MM-dd" name="DATE_STARTED" ng-model="medication.DATE_STARTED" class="form-control" tabindex="6" aria-describedby="DATE_STARTED"> -->
                        <input type="text"
                              required
                              class="form-control"
                              uib-datepicker-popup='yyyy-MM-dd'
                              ng-model="medication.DATE_STARTED"
                              name="DATE_STARTED"
                              is-open="openedDATE_STARTED"
                              show-button-bar="false"
                              ng-click="openedDATE_STARTED=true"
                              datepicker-append-to-body="false"
                              alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="openedDATE_STARTED=true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </div>
                      <div ng-show="MedicationForm.DATE_STARTED.$invalid && submitClicked" class="field-error">Enter a valid Pharmacy.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="DATE_DISC">Date Disc.</span>
                        <!-- <input type="date" name="DATE_DISC" ng-model="medication.DATE_DISC" class="form-control" tabindex="6" aria-describedby="DATE_DISC"> -->
                        <input type="text"
                              class="form-control"
                              uib-datepicker-popup='yyyy-MM-dd'
                              ng-model="medication.DATE_DISC"
                              name="DATE_DISC"
                              is-open="openedDATE_DISC"
                              show-button-bar="false"
                              ng-click="openedDATE_DISC=true"
                              datepicker-append-to-body="false"
                              alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="openedDATE_STARTED=true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </div>
                      <div ng-show="MedicationForm.DATE_DISC.$invalid && submitClicked" class="field-error">Enter a valid date.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="PHARMACY">* Pharmacy</span>
                        <input required type="text" name="PHARMACY" ng-model="medication.PHARMACY" class="form-control" tabindex="6" aria-describedby="PHARMACY">
                      </div>
                      <div ng-show="MedicationForm.PHARMACY.$invalid && submitClicked" class="field-error">Enter a valid Pharmacy.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="ADMIN_BY">* Administered By</span>
                        <md-select required name="ADMIN_BY" ng-model="medication.ADMIN_BY" class="form-control" tabindex="5" placeholder="-Select One-">
                          <md-option value="PATIENT">Patient</md-option>
                          <md-option value="NURSE">Nurse</md-option>
                          <md-option value="FAMILY">Family</md-option>
                          <md-option value="CAREGIVER">Caregiver</md-option>
                        </md-select>               
                      </div>
                      <div ng-show="MedicationForm.ADMIN_BY.$invalid && submitClicked" class="field-error">Enter a valid date.</div>
                    </div>
                  </div>
                  <div class="input-field-group">
                    <div class="col-md-12">
                      <div class="input-group" id="medication_name_input_group1">
                        <span class="input-group-addon" id="NAME">* Medication Name</span>
                        <input type="text" tabindex="1"
                        required
                        ng-model-options="{debounce : 1000}"
                        name="NAME"
                        typeahead-on-select="updateMedication()"
                        ng-model="medication.NAME"
                        uib-typeahead="code.DESCRIPTION for code in getMedications($viewValue)"
                        typeahead-loading="loadingMedications"
                        typeahead-no-results="noResults"
                        class="form-control"
                        placeholder="Search Medications" >
                        <i ng-show="loadingMedications" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                      </div>
                    </div>
                    <div ng-show="MedicationForm.NAME.$invalid && submitClicked" class="field-error">Enter a valid medication.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="DOSE">* Dose</span>
                        <input required type="text" name="DOSE" ng-model="medication.DOSE" class="form-control" tabindex="3" aria-describedby="DOSE">
                      </div>
                      <div ng-show="MedicationForm.DOSE.$invalid && submitClicked" class="field-error">Enter a valid dose.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="UNIT">* Unit</span>
                        <md-select required name="UNIT" ng-model="medication.UNIT" class="form-control" tabindex="5" placeholder="-Select One-">
                          <md-option value="cfu/ml">Colony forming units per milliliter (cfu/ml)</md-option>
                          <md-option value="iu">International unit (iu)</md-option>
                          <md-option value="mcg">Micrograms (mcg)</md-option>
                          <md-option value="meq">Milliequivalent (meq)</md-option>
                          <md-option value="meq/ml">Milliequivalent per milliliter (meq/ml)</md-option>
                          <md-option value="mg">Milligram (mg)</md-option>
                          <md-option value="mg/ml">Milligram per milliliter (mg/ml)</md-option>
                          <md-option value="%">Percent (%)</md-option>
                          <md-option value="unt">Unit (unt) </md-option>
                          <md-option value="ml">Milliter (ml)</md-option>
                          <md-option value="unt/ml">Unit per milliliter (unt/ml)</md-option>
                        </md-select>
                      </div>
                      <div ng-show="MedicationForm.CODE.$invalid && submitClicked" class="field-error">Enter a valid code.</div>
                    </div>
  
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="FREQUENCY">* Frequency</span>
                        <input required type="text" name="FREQUENCY" ng-model="medication.FREQUENCY" class="form-control" tabindex="3" aria-describedby="FREQUENCY">
                      </div>
                      <div ng-show="MedicationForm.FREQUENCY.$invalid && submitClicked" class="field-error">Enter a valid frequency.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="PURPOSE">* Purpose</span>
                        <textarea required type="text" rows="4" name="PURPOSE" ng-model="medication.PURPOSE" class="form-control" tabindex="3" aria-describedby="PURPOSE"></textarea>
                      </div>
                      <div ng-show="MedicationForm.PURPOSE.$invalid && submitClicked" class="field-error">Enter a valid purpose.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="SIDE_EFFECTS">Potient Side Effects</span>
                        <textarea type="text" rows="6" name="SIDE_EFFECTS" ng-model="medication.SIDE_EFFECTS" class="form-control" tabindex="1" aria-describedby="SIDE_EFFECTS"></textarea>
                      </div>
                      <div ng-show="MedicationForm.SIDE_EFFECTS.$invalid && submitClicked" class="field-error"></div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="CODE">* Code</span>
                        <md-select required name="CODE" ng-model="medication.CODE" class="form-control" tabindex="5" placeholder="-Select One-">
                          <md-option value="N">New</md-option>
                          <md-option value="C">Changed</md-option>
                          <md-option value="L">Long Standing</md-option>
                          <md-option value="H">Hospice Provided</md-option>
                        </md-select>
                      </div>
                      <div ng-show="MedicationForm.CODE.$invalid && submitClicked" class="field-error">Enter a valid code.</div>
                      </div>
  
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="FORM">* Form</span>
                        <md-select required name="FORM" ng-model="medication.FORM" class="form-control" tabindex="5" placeholder="-Select One-">
                          <md-option value="1">ApplicatorFuls</md-option>
                          <md-option value="2">Bags</md-option>
                          <md-option value="3">Bars</md-option>
                          <md-option value="4">Capsules</md-option>
                          <md-option value="5">Doses</md-option>
                          <md-option value="6">Dropperfuls</md-option>
                          <md-option value="7">Drops</md-option>
                          <md-option value="8">Grams(g)</md-option>
                          <md-option value="9">Inhalations</md-option>
                          <md-option value="A">Lozenges</md-option>
                          <md-option value="B">Micrograms(mcg)</md-option>
                          <md-option value="C">Milligrams(mg)</md-option>
                          <md-option value="D">Milliliters(ml)</md-option>
                          <md-option value="E">Packets</md-option>
                          <md-option value="F">Patches</md-option>
                          <md-option value="G">Percent(%)</md-option>
                          <md-option value="H">Puffs</md-option>
                          <md-option value="I">Scoopes</md-option>
                          <md-option value="J">Shots</md-option>
                          <md-option value="K">Sprays</md-option>
                          <md-option value="L">Suppositories</md-option>
                          <md-option value="M">Syringe</md-option>
                          <md-option value="N">Tablespoons(tbsp)</md-option>
                          <md-option value="O">Tablets</md-option>
                          <md-option value="P">Teaspoons(tsp)</md-option>
                          <md-option value="Q">Units(U)</md-option>
                        </md-select>
                      </div>
                    <div ng-show="MedicationForm.CODE.$invalid && submitClicked" class="field-error">Enter a valid code.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="TAKEN">* How Taken</span>
                        <md-select required name="TAKEN" ng-model="medication.TAKEN" class="form-control" tabindex="5" placeholder="-Select One-">
                          <md-option value="1">By Injection</md-option>
                          <md-option value="2">By Mouth</md-option>
                          <md-option value="3">In the ear</md-option>
                          <md-option value="4">In the eye</md-option>
                          <md-option value="5">In the nose(spray/drops)</md-option>
                          <md-option value="6">Inhaled</md-option>
                          <md-option value="7">Rectal</md-option>
                          <md-option value="8">Through a feeding tube</md-option>
                          <md-option value="9">Through an intravenous (IV) tube</md-option>
                          <md-option value="A">Through the skin</md-option>
                          <md-option value="B">Under the tongue</md-option>
                          <md-option value="C">Vaginal</md-option>
                        </md-select>
                      </div>
                      <div ng-show="MedicationForm.CODE.$invalid && submitClicked" class="field-error">Enter a valid code.</div>
                    </div>
                  </div>
                  <div class="btn-footer pull-right" style="margin-right:15px;">
                    <button type="submit" 
                    ng-click="editPatientMedication(
                      MedicationForm.PURPOSE.$invalid || 
                      MedicationForm.TAKEN.$invalid ||
                      MedicationForm.FORM.$invalid ||
                      MedicationForm.FREQUENCY.$invalid ||
                      MedicationForm.UNIT.$invalid ||
                      MedicationForm.DOSE.$invalid ||
                      MedicationForm.SIDE_EFFECTS.$invalid ||
                      MedicationForm.CODE.$invalid ||
                      MedicationForm.NAME.$invalid ||
                      MedicationForm.DATE_DISC.$invalid ||
                      MedicationForm.DATE_STARTED.$invalid ||
                      MedicationForm.ADMIN_BY.$invalid ||
                      MedicationForm.PHARMACY.$invalid)"
                    class="btn btn-default" tabindex="27">Save</button>
                    <button type="" ng-click="closeNav()" class="btn btn-default" tabindex="28">Cancel</button></td>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    
    </div>
  </div>

  <div id="medication_main">
    <div class="search-bar">
      <div class="fluid-container" style="margin-left:20px; margin-right:20px;">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <span class="icon-profile icon-size-3"></span>
            <span class="text-heading">Medication</span>
            <!-- <select class="form-control" ng-model="patientType" ng-change="updatePatientList(patientType)">
              <option value="ALL">All</option>
              <option value="ADMITTED">Admitted</option>
              <option value="PENDING">Pending</option>
              <option value="DISCHARGED">Discharged</option>
              <option value="NON-ADMIT">Non-Admit</option>
            </select> -->
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="inner-addon left-addon">
              <i class="glyphicon glyphicon-search"></i>
              <input type="text" class="form-control" id="searchMenu" ng-model="searchText" placeholder="Search Medication"/>
            </div>
          </div>
          <div class="col-md-5 col-sm-12">
            <div class="medication-actions pull-right" id="medication-actions">
              <button class="btn btn-success action-print" ng-click="printSection('print_section')">Print</button>
              <div class="btn-group">
                <button type="button" class="btn btn-success action-print dropdown-toggle" data-toggle="dropdown">
                  Save To PDF <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="" ng-click="saveAllToPDF()">All Medication</a></li>
                  <li><a href="" ng-click="saveActiveToPDF()">Active Medication</a></li>
                </ul>
              </div>
              <button class="btn btn-success action-add-new" ng-click="newPatientMedication($event)">Add New</button>
              <button class="btn btn-success action-active" ng-click="printSection('print_section')">Active</button>
              <button class="btn btn-success action-all" ng-click="printSection('print_section')">All</button>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="fluid-container">
      <div class="row" style="margin-left:20px; margin-right:20px;">
        <div class="col-lg-10 col-md-12" style="padding-left:0px; padding-right:5px;">
          <div class="metric-box" style="margin-left:0; margin-right:0;">
            <div class="row">
              <div class="col-md-10">
                <div class="col-md-12">
                  <h4>PATIENT PROFILE</h4>
                </div>
                <div class="col-md-6">
                  Patient Name: <b>{{patient.FNAME}} {{patient.LNAME}}</b>
                </div>
                <div class="col-md-6">
                  Record #: <b>{{patient.PATIENTID}}</b>
                </div>
                <div class="col-md-6">
                  Allergies: <b>{{patient.ALLERGIES}}</b>
                </div>
                <div class="col-md-6">
                  Weight:
                </div>
                <div class="col-md-3">
                  Phone:
                </div>
                <div class="col-md-3">
                  Fax:
                </div>
                <div class="col-md-6">
                  Height:
                </div>
              </div>
              <div class="col-md-2" style="font-size:12px;">
                <div style="padding-top:10px;">
                  <span>Code:<br></span>
                  <span>N = New<br></span>
                  <span>C = Change<br></span>
                  <span>L/S = Long Standing<br></span>
                  <span>H = Hospice Provided<br></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-12" style="padding-left:5px; padding-right:5px;">
          <div class="metric-box" style="height:119px; margin-left:0; margin-right:0;">
            <center style="padding-top:40px;">DRUG REGIMAN REVIEW</center>
          </div>
        </div>	
      </div>
    </div>
    <div class="metric-box">

    <!-- ACTIVE List -->
    <div class="metric-box" style="overflow-x:auto;">
      <table class="table table-hover" id="activeList" style="min-width:1400px;">
        <thead>
          <tr>
            <th style="width:7%;">ACTIVE List</th>
            <th style="width:7%;">Date Started</th>
            <th style="width:7%;">Date Disc.</th>
            <th style="width:7%;">Phamacy</th>
            <th style="width:7%;">Physician</th>
            <th style="width:7%;">Medication</th>
            <th style="width:7%;">Dose</th>
            <th style="width:7%;">Frequency</th>
            <th style="width:15%;">Purpose</th>
            <th style="width:15%;">Possible Side Effects</th>
            <th style="width:7%;">Code</th>
            <th style="width:7%;">&nbsp;</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="medication in activeMedicationList | filter: searchText | limitTo:20" ng-if="(medication.DATE_DISC > today)">
            <td style="width:7%;"></td>
            <td style="width:7%;">{{medication.DATE_STARTED}}</td>
            <td style="width:7%;">{{medication.DATE_DISC}}</td>
            <td style="width:7%;">{{medication.PHARMACY}}</td>
            <td style="width:7%;"></td>
            <td style="width:7%;">{{medication.NAME}}</td>
            <td style="width:7%;">{{medication.DOSE}} {{medication.UNIT}}</td>
            <td style="width:7%;">{{medication.FREQUENCY}}</td>
            <td style="width:15%;">{{medication.PURPOSE}}</td>
            <td style="width:15%;">{{medication.SIDE_EFFECTS}}</td>
            <td style="width:7%;">{{medication.CODE}}</td>
            <td style="width:7%;"><span  ng-hide="medication.IS_SIGNED" ng-click="showPatientMedication(medication, $event)" class="medication-edit">Edit</span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- INACTIVE List -->
    <div class="metric-box" style="overflow-x:auto;">
      <table class="table table-hover" id="inactiveList" style="min-width:1400px;">
        <thead>
          <tr>
            <th style="width:7%;">INACTIVE List</th>
            <th style="width:7%;">Date Started</th>
            <th style="width:7%;">Date Disc.</th>
            <th style="width:7%;">Phamacy</th>
            <th style="width:7%;">Physician</th>
            <th style="width:7%;">Medication</th>
            <th style="width:7%;">Dose</th>
            <th style="width:7%;">Frequency</th>
            <th style="width:15%;">Purpose</th>
            <th style="width:15%;">Possible Side Effects</th>
            <th style="width:7%;">Code</th>
            <th style="width:7%;">&nbsp;</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="medication in activeMedicationList | filter: searchText | limitTo:20" ng-if="(medication.DATE_DISC <= today)">
              <td style="width:7%;"></td>
              <td style="width:7%;">{{medication.DATE_STARTED}}</td>
              <td style="width:7%;">{{medication.DATE_DISC}}</td>
              <td style="width:7%;">{{medication.PHARMACY}}</td>
              <td style="width:7%;"></td>
              <td style="width:7%;">{{medication.NAME}}</td>
              <td style="width:7%;">{{medication.DOSE}} {{medication.UNIT}}</td>
              <td style="width:7%;">{{medication.FREQUENCY}}</td>
              <td style="width:15%;">{{medication.PURPOSE}}</td>
              <td style="width:15%;">{{medication.SIDE_EFFECTS}}</td>
              <td style="width:7%;">{{medication.CODE}}</td>
              <td style="width:7%;"><span ng-hide="medication.IS_SIGNED" ng-click="showPatientMedication(medication, $event)" class="medication-edit">Edit</span></td>
            </tr>
        </tbody>
      </table>
    </div>
      <div class="metric-box">
        Acknowledgement. I have reviewed all the Medication listed above for Drug interactions, Potential side effect and comliance under by best knowledge
        <div class="row" style="margin-top:20px">
          <div class="col-md-4" style="">
            <textarea class="form-control" type="text" rows="3" style="border-top:none; border-left:none; border-right:none; box-shadow:none;"></textarea>
            1 Signature
          </div>
        </div>
      </div>
      <div class="metric-box">
        <div class="row" style="padding-left:15px; padding-right:15px;padding-top:15px;">
            <i class="fa fa-asterisk" style="color:#E73A2D;">&nbsp;</i><input type="checkbox" class="styled-checkbox" name="sign_terms" id="sign_terms" ng-true-value="'checked'" ng-false-value="''" ng-disabled="sign_enabled" ng-model="sign_terms"><label for="sign_terms" style="color:#AC7743;"> I understand and accept the above declaration</label>
        </div>

        <div class="row" style="padding-left:15px; padding-right:15px;padding-top:15px;">
          <div class="col-lg-2 col-sm-3">
              <i class="fa fa-asterisk" style="color:#E73A2D;">&nbsp;</i>Title
          </div>

          <div class="col-lg-2 col-sm-3 form-text-input" style="padding-left:1px; padding-right:1px;">
            <input type="text" class="form-control" ng-disabled="sign_enabled" ng-model="sign_title">
          </div>
        </div>

        <div class="row" style="padding-left:15px; padding-right:15px;padding-top:15px;">
          <div class="col-sm-3 col-lg-2">
              <i class="fa fa-asterisk" style="color:#E73A2D;">&nbsp;</i>Signature
          </div>
          <div class="col-sm-3 col-lg-1 form-text-input" style="padding-left:1px; padding-right:1px;">
            <input type="text" class="form-control" ng-disabled="sign_enabled" ng-model="sign_firstname">
          </div>
          <div class="col-sm-3 col-lg-1 form-text-input" style="padding-left:1px; padding-right:1px;">
            <input type="text" class="form-control" ng-disabled="sign_enabled" ng-model="sign_mi">
          </div>
          <div class="col-sm-3 col-lg-1 form-text-input" style="padding-left:1px; padding-right:1px;">
            <input type="text" class="form-control" ng-disabled="sign_enabled" ng-model="sign_lastname">
          </div>
        </div>

        <div class="row" style="padding-left:15px; padding-right:15px;padding-top:0;">
          <div class="col-sm-3 col-lg-2">
          </div>
          <div class="col-sm-3 col-lg-1" style="padding:0; color:#757CD2; font-size:12px; font-style:italic;">
            First Name
          </div>
          <div class="col-sm-3 col-lg-1" style="padding:0; color:#757CD2; font-size:12px; font-style:italic;">
            MI
          </div>
          <div class="col-sm-3 col-lg-1" style="padding:0; color:#757CD2; font-size:12px; font-style:italic;">
            Last Name
          </div>
        </div>

        <div class="row" style="padding-left:15px; padding-right:15px;padding-top:15px;">
          <div class="col-sm-3 col-lg-2">
          </div>
          <div class="col-sm-3 col-lg-1" style="padding-left:1px; padding-right:1px;">
            <button class="btn" style="width:100%; color:white; background-color:#9031AA;" ng-disabled="(sign_enabled === 1 || sign_terms!=='checked' || sign_title==='' || sign_title===undefined || 
            ( (sign_firstname==='' || sign_firstname===undefined) || (sign_lastname==='' || sign_lastname===undefined) ))" ng-click="signPatientMedication()">Sign</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="right-menu">
  <expanded-nav></expanded-nav>
</div>
