#medication {
  margin-left: 370px;
  overflow: hidden;
  // margin-left:60px;
  position: relative;
  background: #FFF;
  padding-top: 60px;
  .search-bar {
    // @include tablet {
    //   height: 100px;
    // }
    height: 60px;
    padding: 12px 0;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .text-heading {
      position: absolute;
      margin-left: 10px;
      span {
        position: absolute;
        top: 3px;
      }
    }
    select {
      float: right;
      display: inline-block;
      width: 120px;
    }
    input [type='text']{
      width: 100%;
      background: #F1F1F1;
      font-size: 20px;
    }
    .inner-addon {
      position: relative;
    }
    .inner-addon .glyphicon {
      position: absolute;
      padding: 10px;
      pointer-events: none;
    }
    .left-addon .glyphicon  { left:  0px;}
    .left-addon input  { padding-left:  30px; }
    .add-medication {
      a {
        color: #000;
        text-decoration: none;
      }
      cursor: pointer;
      i {
        font-size: 25px;
      }
    }
  }
  .metric-box {
    // height: 115px;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.24), 0px 1px 4px 0px rgba(0,0,0,0.04);
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .medication-row-head {
    color: black;
    height: 35px;
    background-color: rgba(#70669D, .08);
    padding: 8px 0;
    border-bottom: 1px solid lightgrey;
    .medication-row-title {
      color: #717171;
      i {
        top: 3px;
      }
    }
  }
  .medication-info-row {
    cursor: pointer;
    font-size: 12px;
    padding: 10px 0;
    &:hover {
      background-color: rgba(#70669D, .15);
    }
    span {
      color: #B5B5B5;
    }
    .medication-name-column {
      a {
        color: #000;
      }
      position: relative;
      .medication-name {
        margin-left: 10px;
        top: 15px;
        display: inline-block;
        position: absolute;
      }
    }
    .medication-info-item {
      margin-top: 15px;
      i {
        float: right;
        margin-right: 60px;
        cursor: pointer;
      }
    }
  }
  .selected {
    background-color: rgba(#70669D, .15);
  }
  ul {
    margin: 0;
    // padding: 0;
    list-style: none; 
    // float: right;
    .action-btn {
      background-color: #795E9F;
      border-radius: 4px;
      color: white;
      float: left;
      padding: 10px 18px;
      margin-left:10px;
    }
  }

  .medication-actions {
    .action-print {
      background-color: #795E9F;
      //border-radius: 4px;
      //color: white;
      border-color: white;
      width: 120px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left:5px;
    }
    .action-add-new {
      background-color: #795E9F;
      //border-radius: 4px;
      //color: white;
      border-color: white;
      width: 100px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left:5px;
    }
    .action-active {
      background-color: #9031AA;
      //border-radius: 4px;
      //color: white;
      border-color: white;
      width: 100px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left:5px;
    }
    .action-all {
      background-color: #D63864;
      //border-radius: 4px;
      //color: white;
      border-color: white;
      width: 100px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left: -5px;
    }
  }

  #activeList, #inactiveList {
    
    thead, tbody, tr, td, th { display: block; }
    
    tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    thead {
      background-color: rgba(#70669D, .08);
    }
    
    tbody {
        height: 300px;
        overflow-y: auto;
    }
    
    th {
      color: #717171;
      font-weight: 400;
      padding: 5px;
      text-align: center;
    }

    tbody td, thead th {
        float: left;
        text-align: center;
    }
  }

  #searchMenu::-webkit-input-placeholder {
    font-style: italic;
  }

  #searchMenu::-moz-placeholder {
    font-style: italic;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: auto;
    overflow-y: auto;
    transition: 0.5s;
    margin-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .form-text-input {
    input:hover {
      border-color: #8B8B90;
    }

    input:focus {
      border-color: #5E2E88;
    }

    input:disabled {
      background-color: #ccc;
    }
  }
}

//----------------------------------------------- Right sidebar for add medication -------------------------------
#new-patient-medication {
  
  background: #FFF;
  .head-bar {
    height: 60px;
    padding: 0 0 0 15px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .col-md-12 {
      padding-left: 0;
      padding-right: 20px;
      height: 60px;
    }
    .close {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 14px;
    }
  }
  .title {
    float: left;
    span {
      line-height: 60px;
      margin: 0 20px;
      float: left;
    }
    h3 {
      line-height: 60px;
      margin: 0;
      float: left;
    }
  }
  .form-background {
    padding:10px;
  }
  input[type=radio] {
    margin: 0;
    margin-left: -20px;
    margin-top: 10px;
  }
  .input-group {
    margin-bottom: 10px;
    width: 100%;
  }
  .input-group-addon {
    min-width:150px;
    text-align: left;
  }
  .bottom-nav {
    i {
      margin-left: 8px;
    }
    button {
      margin: 10px;
    }
  }
  .text-area-addon {
    background-color: #eee;
    border: 1px solid #ccc;
    display: block;
    width: 85%;
    padding: 5px 10px;
    border-radius: 2px;
  }
  textarea {
    resize: none;
    // width: 85%;
  }
  .create-section-title {
    background: rgba(112, 102, 157, 0.08);
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
  }
  .input-field-group {
    margin-bottom: 5px;
    margin-top: 5px;
    input[type='text'],[type='date'],[type='email'] {
    }
    select {
    }
  }
  .insurance-specifics-row-head {
    color: black;
    height: 35px;
    background-color: rgba(#70669D, .08);
    padding: 8px 0;
    border-bottom: 1px solid lightgrey;
    .insurance-specifics-row-title {
      color: #717171;
      i {
        top: 3px;
      }
    }
  }
  .insurance-specifics-info-row {
    cursor: pointer;
    font-size: 12px;
    padding: 10px 0;
    &:hover {
      background-color: rgba(#70669D, .15);
    }
    span {
      color: #B5B5B5;
    }
    .insurance-specifics-name-column {
      a {
        color: #000;
      }
      position: relative;
      .insurance-specifics-name {
        margin-left: 10px;
        top: 15px;
        display: inline-block;
        position: absolute;
      }
    }
    .insurance-specifics-info-item {
      margin-top: 15px;
      i {
        float: right;
        margin-right: 60px;
        cursor: pointer;
      }
    }
    .selected {
      background-color: rgba(#70669D, .15);
    }
  }
  .insurance-input {
     border: none;
     background-color: transparent;
  }
  .editInput {
    padding: 2px;
    border: 1px solid #CCC;
    color: #555;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color:#FFF;

  }
  .section-title  {
    background: #CCC;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 34px;
    padding-left: 20px;
    margin-bottom: 15px;
  }
  .form-section {
    background: #F5F5F5;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    select {
      width: 85%;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .selected-form {
    background: #fff;
    line-height: 20px;
    height: 40px;
    border: 1px solid #CCC;
    border-top: none;
    padding: 10px 30px 10px 85px;
    a {
      cursor: pointer;
    }
  }
}

div#medication_name_input_group>ul {
  left: 0px !important;
  width: 100%;
  overflow: scroll;
}

div#medication_name_input_group>ul>li>a {
  width: fit-content;
  font-size: 14px !important;
}

div#medication_name_input_group1>ul {
  left: 0px !important;
  width: 100%;
  overflow: scroll;
}

div#medication_name_input_group1>ul>li>a {
  width: fit-content;
  font-size: 14px !important;
}

md-select {
  margin: 0 !important;
  padding: 0 !important;

  md-select-value {
    border: none !important;
    margin-left: 10px;

    span {
      color: #555;
    }

    span:first-child:after {
      color: #555 !important;
    }
  }
}

md-option {
  height: 27px !important;
}

.md-icon-button + .md-datepicker-input-container {
  float: left;
  margin-top:7px;
}

/*
#medicationList {
  //margin-left: 270px;
  overflow: hidden;
  // margin-left:60px;
  position: relative;
  width: 1000px;
  background: #FFF;
  .search-bar {
    // @include tablet {
    //   height: 100px;
    // }
    height: 1000px;
    padding: 12px 0;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .text-heading {
      position: absolute;
      margin-left: 10px;
      span {
        position: absolute;
        top: 3px;
      }
    }
    select {
      float: right;
      display: inline-block;
      width: 120px;
    }
    input [type='text']{
      width: 100%;
      background: #F1F1F1;
      font-size: 20px;
    }
    .inner-addon {
      position: relative;
    }
    .inner-addon .glyphicon {
      position: absolute;
      padding: 10px;
      pointer-events: none;
    }
    .left-addon .glyphicon  { left:  0px;}
    .left-addon input  { padding-left:  30px; }
    .add-medication {
      a {
        color: #000;
        text-decoration: none;
      }
      cursor: pointer;
      i {
        font-size: 25px;
      }
    }
  }
  .metric-box {
    // height: 115px;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.24), 0px 1px 4px 0px rgba(0,0,0,0.04);
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  .medication-row-head {
    color: black;
    height: 35px;
    background-color: rgba(#70669D, .08);
    padding: 8px 0;
    border-bottom: 1px solid lightgrey;
    .medication-row-title {
      color: #717171;
      i {
        top: 3px;
      }
    }
  }
  .medication-info-row {
    cursor: pointer;
    font-size: 12px;
    padding: 10px 0;
    &:hover {
      background-color: rgba(#70669D, .15);
    }
    span {
      color: #B5B5B5;
    }
    .medication-name-column {
      a {
        color: #000;
      }
      position: relative;
      .medication-name {
        margin-left: 10px;
        top: 15px;
        display: inline-block;
        position: absolute;
      }
    }
    .medication-info-item {
      margin-top: 15px;
      i {
        float: right;
        margin-right: 60px;
        cursor: pointer;
      }
    }
  }
  .selected {
    background-color: rgba(#70669D, .15);
  }
  ul {
    margin: 0;
    // padding: 0;
    list-style: none;
    // float: right;
    .action-btn {
      background-color: #795E9F;
      border-radius: 4px;
      color: white;
      float: left;
      padding: 10px 18px;
      margin-left:10px;
    }
  }
}
*/