<div id="view-intermediary">
  <div class="head-bar">
    <div class="col-md-9">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>Edit Intermediary</h3>
      </div>
    </div>
    <div class="col-md-3" style="margin-top:13px">
      <button type="" ng-click="deleteIntermediary(intermediary)" class="btn btn-danger">Delete</button>
    </div>
    <div ng-click="close()" class="fa fa-remove close"></div>
  </div>
  <div class="form-background">
    <div class="row">
      <form name="newIntermediaryForm" novalidate>
        <section class="IntermediaryInformation">
          <div class="container small">
            <div class="row">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="NAME">*Name</span>
                      <input required type="text" name="NAME" ng-init="NAME=intermediary.NAME" ng-model="NAME" class="form-control" tabindex="1" aria-describedby="NAME"  maxlength="35" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field-error" ng-show="newIntermediaryForm.NAME.$touched && newIntermediaryForm.NAME.$invalid || newIntermediaryForm.NAME.$invalid && newIntermediaryForm.$submitted">Name is required.</div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="ADDRESS">*Address</span>
                      <input required type="text" name="ADDRESS" ng-init="ADDRESS=intermediary.ADDRESS" ng-model="ADDRESS" class="form-control" tabindex="2" aria-describedby="ADDRESS"  maxlength="40" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field-error" ng-show="newIntermediaryForm.ADDRESS.$touched && newIntermediaryForm.ADDRESS.$invalid || newIntermediaryForm.ADDRESS.$invalid && newIntermediaryForm.$submitted">Address is required.</div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="CONTACT">*Contact</span>
                      <input required type="text" name="CONTACT" ng-init="CONTACT=intermediary.CONTACT" ng-model="CONTACT" class="form-control" tabindex="3" aria-describedby="CONTACT" maxlength="40" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field-error" ng-show="newIntermediaryForm.CONTACT.$touched && newIntermediaryForm.CONTACT.$invalid || newIntermediaryForm.CONTACT.$invalid && newIntermediaryForm.$submitted">Contact is required.</div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="DEPT">*Dept</span>
                      <input required type="text" ng-init="DEPT=intermediary.DEPT" name="DEPT" ng-model="DEPT" class="form-control" tabindex="4" aria-describedby="DEPT" maxlength="40" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field-error" ng-show="newIntermediaryForm.DEPT.$touched && newIntermediaryForm.DEPT.$invalid || newIntermediaryForm.DEPT.$invalid && newIntermediaryForm.$submitted">Dept is required.</div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="PHONE">*Phone</span>
                      <input required type="text" ng-init="PHONE=intermediary.PHONE" name="PHONE" ng-model="PHONE" class="form-control" tabindex="5" aria-describedby="PHONE" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="PHONE" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field-error" ng-show="newIntermediaryForm.PHONE.$touched && newIntermediaryForm.PHONE.$invalid || newIntermediaryForm.PHONE.$invalid && newIntermediaryForm.$submitted">Phone is required.</div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="PHONEEXT">EXT</span>
                      <input type="number" ng-init="PHONEEXT=intermediary.PHONEEXT" name="PHONEEXT" ng-model="PHONEEXT" class="form-control" tabindex="6" maxlength="10" aria-describedby="PHONEEXT" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="FAX">Fax</span>
                      <input type="text" ng-init="FAX=intermediary.FAX" name="FAX" ng-model="FAX" class="form-control" tabindex="7" aria-describedby="FAX" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="FAX" ng-disabled="noEdit">
                    </div>
                  </div>
                  <!-- <div class="col-md-12" style="margin-top:20px;">
                    <div class="input-group">
                      <span class="input-group-addon" id="contact">*ECFFormat</span>
                      <input required type="text" name="contact" ng-model="contact" class="form-control" tabindex="7" aria-describedby="contact" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="dept">*Dept</span>
                      <input required type="text" name="dept" ng-model="dept" class="form-control" tabindex="7" aria-describedby="dept" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="phone">*Phone</span>
                      <input required type="text" name="phone" ng-model="phone" class="form-control" tabindex="7" aria-describedby="phone" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="fax">*Fax</span>
                      <input required type="text" name="fax" ng-model="fax" class="form-control" tabindex="7" aria-describedby="fax"  ng-disabled="noEdit">
                    </div>
                  </div> -->
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="RCVRNAME">*Receiver Name</span>
                      <input required type="text" ng-init="RCVRNAME=intermediary.RCVRNAME" name="RCVRNAME" ng-model="RCVRNAME"  class="form-control" tabindex="8" aria-describedby="RCVRNAME" maxlength="25" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field-error" ng-show="newIntermediaryForm.RCVRNAME.$touched && newIntermediaryForm.RCVRNAME.$invalid || newIntermediaryForm.RCVRNAME.$invalid && newIntermediaryForm.$submitted">Receiver Name is required.</div>
                  </div>
                  <!-- <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="CSZKEY">*CSZKey</span>
                      <input required type="number" ng-init="CSZKEY=intermediary.CSZKEY" name="CSZKEY" ng-model="CSZKEY"  class="form-control" tabindex="4" aria-describedby="CSZKEY" ng-disabled="noEdit">
                    </div>
                  </div> -->
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="SUBMITTER">*Submitter</span>
                      <input required type="text" name="SUBMITTER"  ng-init="SUBMITTER=intermediary.SUBMITTER" ng-model="SUBMITTER" class="form-control" tabindex="9" aria-describedby="SUBMITTER" maxlength="10" ng-disabled="noEdit"></input>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field-error" ng-show="newIntermediaryForm.SUBMITTER.$touched && newIntermediaryForm.SUBMITTER.$invalid || newIntermediaryForm.SUBMITTER.$invalid && newIntermediaryForm.$submitted">Submitter is required.</div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="ECFPATH">*ECFPath</span>
                      <input required type="text" name="ECFPATH" ng-init="ECFPATH=intermediary.ECFPATH" ng-model="ECFPATH" class="form-control" tabindex="10" aria-describedby="ECFPATH" ng-disabled="noEdit"></input>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field-error" ng-show="newIntermediaryForm.ECFPATH.$touched && newIntermediaryForm.ECFPATH.$invalid || newIntermediaryForm.ECFPATH.$invalid && newIntermediaryForm.$submitted">ECF Path is required.</div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="ECFFORMAT">*ECFFormat</span>
                      <input required type="number" name="ECFFORMAT" ng-init="ECFFORMAT=intermediary.ECFFORMAT" ng-model="ECFFORMAT" class="form-control" tabindex="11" aria-describedby="ECFFORMAT" ng-disabled="noEdit" maxlength="11"></input>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field-error" ng-show="newIntermediaryForm.ECFFORMAT.$touched && newIntermediaryForm.ECFFORMAT.$invalid || newIntermediaryForm.ECFFORMAT.$invalid && newIntermediaryForm.$submitted">ECF Format is required.</div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="ECFNAME">*ECFName</span>
                      <input required type="text" name="ECFNAME" ng-init="ECFNAME=intermediary.ECFNAME" ng-model="ECFNAME" class="form-control" tabindex="12" aria-describedby="ECFNAME" maxlength="25" ng-disabled="noEdit"></input>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="field-error" ng-show="newIntermediaryForm.ECFNAME.$touched && newIntermediaryForm.ECFNAME.$invalid || newIntermediaryForm.ECFNAME.$invalid && newIntermediaryForm.$submitted">ECF Name is required.</div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="NOTES">Notes</span>
                      <input type="text" name="NOTES" ng-init="NOTES=intermediary.NOTES" ng-model="NOTES" class="form-control" tabindex="13" aria-describedby="NOTES" ng-disabled="noEdit"></input>
                    </div>
                  </div>
                  <!-- <div class="col-md-12" style="margin-top:20px">
                    <div class="input-group">
                      <span class="input-group-addon" id="senderID">*Sender ID</span>
                      <input type="text" name="senderID" ng-model="senderID" class="form-control" tabindex="5" aria-describedby="senderID" ng-disabled="noEdit"></input>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="senderCode">*Sender Code</span>
                      <input type="text" name="senderCode" ng-model="senderCode" class="form-control" tabindex="5" aria-describedby="senderCode" ng-disabled="noEdit"></input>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="senderTypes">*Sender Type</span>
                      <select class="form-control" name="senderTypes" ng-model="senderTypes">
                        <option ng-repeat="type in senderTypes" value="{{type.name}}">{{type.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12" style="margin-top:20px">
                    <div class="input-group">
                      <span class="input-group-addon" id="ecfFormat">*Ecf Format</span>
                      <select class="form-control" name="ecfFormat" ng-model="ecfFormat">
                        <option value="ALL">All</option>
                        <option value="ADMITTED">Admitted</option>
                        <option value="PENDING">Pending</option>
                        <option value="DISCHARGED">Discharged</option>
                        <option value="NON-ADMIT">Non-Admit</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="ecfPath">*Ecf Paht</span>
                      <input type="text" name="ecfPath" ng-model="ecfPath" class="form-control" tabindex="5" aria-describedby="ecfPath" placeholder=""></input>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="ecfName">*Ecf Name</span>
                      <input type="text" name="ecfName" ng-model="ecfName" class="form-control" tabindex="5" aria-describedby="ecfName" placeholder=""></input>
                    </div>
                  </div> -->
                  <div class="col-md-12">
                    <div class="btn-footer pull-right">
                      <button tabindex="14" type="" ng-click="noEdit=false; edit=true" ng-hide="edit" class="btn btn-default">Edit Intermediary</button>
                      <button tabindex="15" type="submit" ng-click="editIntermediary(newIntermediaryForm)" ng-show="edit" class="btn btn-default">Save Changes</button>
                      <button tabindex="16"type="" ng-click="noEdit=true;edit=false;close()" ng-show="edit" class="btn btn-default">Cancel</button></td>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</div>
