.oasisC2-ICD10 {
  margin-left: 370px;
  overflow: hidden;
  position: relative;
  background: #FFF;
  padding-top: 60px;

  .scrubber {
    color:red;
  }

  .original {
    color:black
  }

  .error{
    color:red;
  }


  form {
    width: 75%;
    float: left;
  }
  .field-error {
    margin: 0;
  }
  td {
    padding: 5px;
  }
  label {
    font-weight: normal
  }
  input[type='text'], input[type='number'], input[type='password'], textarea, select {
    padding: 4px;
    font-size: 12px;
    background-color: #FFF;
    border: 1px #DDD solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
  }
  input[type='text'], input[type='number'],input[type='date'],textarea, select {
    &.disableInput{
      background-color: #EDEEF3;

    }
  }

  //DATE PICKER
  ::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    background-color:#fff;
    opacity: 0;
     width:110%;
    position: absolute;
    left:0;
  }

  ::-webkit-inner-spin-button {
      display: none;
      -webkit-appearance: none;
  }
  .formtable {
    border-spacing: 1px 1px;
    border-collapse: separate;
  }
  .motag {
    padding: 5px;
    vertical-align: top;
    padding-top: 8px;
    background: #E7ECF2;
    color: #333;
    font-weight: bold;
    text-align: right;
    font-size: 12px;
  }
  .tbl_field {
    background: #EDEEF3;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    height: 27px;
    vertical-align: top;
    padding-top: 8px;
  }
  .input_normal {
    width: 220px;
  }
  .require {
    color: #F00;
  }
  // .create-bar {
  //   position: absolute;
  // }
  .create-bar {
    position: fixed;
    top: 60px;
    right: 0px;
    left: 370px;
    z-index: 100;
    // right: 0px;
    // left: 370px;
    line-height: 30px;
    background: #FFF;
    font-size: 30px;
    height: 60px;
    padding: 12px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    button {
      margin: 0 10px;
      float: right;
    }
    a {
      float:left;
      margin-top: -3px;
      cursor: pointer;
    }
    i {
      margin-right: 10px;
      font-size: 15px;
      text-decoration: none;
      border-right: 1px solid lightgrey;
      padding: 8px 15px 8px 0px;
    }
  }
  #general {
    margin-top: 60px;
  }
  .bottom-nav {
    i {
      margin-left: 8px;
    }
    button {
      margin: 10px;
    }
  }
  .error-box-expand {
    top: 120px;
    position:fixed;
    right:0px;
    float: right;

    .error-title {
      color: #FFF;
      background: #EA0000;
      padding: 10px 20px;
      display: inline-block;
      font-size: 15px;
    }
  }
  .error-box {
    top: 120px;
    // right:0;
    margin-right: -1000px;
    overflow-y: scroll;
    bottom: 0;
    float: right;
    width: 300px;
    .error-title {
      color: #FFF;
      background: #EA0000;
      padding: 10px 20px;
      display: inline-block;
      font-size: 15px;
      width: 100%;
    }
    .error-msg {
      color: #a5322e;
      padding: 10px;
      word-wrap: break-word;
      background: #F9888F;
    }
  }


  input[type='text']{
      &.scrubber {
      height: 34px;
      width:100%;
      padding: 4px;
      font-size: 12px;
      border: 1px #DDD solid;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      outline: none;
      background-color: #EA0000;
      color:white;
    }
  }

  .loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    margin-bottom: -5px;
    width: 20px;
    height: 20px;
    line-height: 41px;
    animation: spin 1.5s linear infinite;
    display: inline-block;
    &.hideLoader {
      display: none;
    }

  }


  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
  .ng-show.ng-show-animate{
     display: none !important;
  }
}

.oasisForm-nav {
  border-right: 1px solid lightgrey;
  // margin-left: 160px;
  left: 160px;
  background: #efefef;
  position: fixed;
  top: 0px;
  width: 210px;
  .inner-formnav {
    background: #FFF;
    width: 210px;
    position: fixed;
    top: 120px;
    bottom: 0;
    overflow-y: scroll;
    padding-bottom: 200px;
  }
  .nav-title {
    color: #fff;
    height: 60px;
    background: #6D559B;
    padding: 10px 20px;
    .create-title {
      display: inline-block;
      position: absolute;
      top: 15px;
      font-size: 20px;
      margin-left: 10px;
    }
  }
  .form-section {
    &:hover {
      background: #f5f5f5;
    }
    &.active {
      background: #fafafa;
    }
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
    padding: 10px 15px;
    i {
      font-size: 20px;
      top: -10px;
      float: right;
      color: lightgrey;
    }
    span {
      font-size: 12px;
    }
  }
  .menu-headline {
    margin-top:60px;
    padding: 20px 15px 0 25px;
    height: 60px;
    background: #75469B;
    color: #E9DBF0;
    text-transform: uppercase;
    font-size: 15px;
    i {
      text-decoration: none;
      color: #E9DBF0;
      // margin-left: 35px;
    }
  }
}
