.skilled-nursing-note {
  // color:blue;
  // margin-left: 60px;
  margin-left: 370px;
  div {outline:0}
  overflow: hidden;
  position: relative;
  padding-top: 60px;
  .create-bar {
    z-index: 8;
    // right: 0px;
    // left: 270px;
    // position: absolute;
    background: #FFF;
    font-size: 30px;
    height: 60px;
    padding: 12px 0;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    button {
      margin: 0 10px;
      float: right;
    }
    a {
      float:left;
      margin-top: -3px;
    }
    i {
      margin-right: 10px;
      font-size: 15px;
      text-decoration: none;
      border-right: 1px solid lightgrey;
      padding: 8px 15px 8px 0px;
    }
  }
  form {
    background-color: #F5F5F5;
    // position: relative;
    // padding:15px;
    // top:0px;
  }
  section {
    top: 15px;
    // right: -15px;
    // left: 15px;
    position: relative;
    // margin: 15px;
    // margin-top: 60px;
    background-color: #FFF;
    // padding-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid lightgrey;
    .section-head {
      color: #FFF;
      line-height: 50px;
      padding-left: 15px;
      // margin:-65px -1px -1px -1px;
      font-size:20px;
    }
    .section-main {
      padding: 15px;
      .item-title {
        font-size: 15px;
      }
      .dropdown {
        margin: 0;
        padding: 0;
        list-style: none;
        span {
          margin-left: 10px;
        }
      }
    }
    hr {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    select {
      border: none;
      outline: none;
      background-color: #fff;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      cursor: pointer;
      color: grey;
      font-style: italic;
      width: 250px;
    }
    select.selected {
      color: #333;
      font-style: normal;
      font-weight: 700;
    }
    select.selected-light {
      color: #333;
      font-style: normal;
      // font-weight: 700;
    }
    .deactive {
      color: lightgrey;
      &.active {
        color:black
      }
    }

  }
  //TOGGLE: SWITCH;
  .switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 15px;
  }
  .switch input {display:none;}
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0;
    bottom: -3px;
    background-color: grey;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #7EE65A;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px lightgrey;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
    background-color: #3CAB15;
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  //TOGGLE SWITCH END//

  //alert btn
  button.btn-default.red-btn {
    color:#fff;
    background-color: #DF1616;
  }


  //RADIO BUTTONS//
  .radio {
    position: relative;
    display: inline-block;
    input {
      display:none;
    }
    .radio-option {
      color: grey;
      border: 1px solid grey;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      text-align:center;
      line-height: 33px;
    }
    .radio-option-lg {
      border: 1px solid grey;
      padding: 6px;
      border-radius: 10px;
      color: grey;
    }
    input:checked + .radio-option {
        background-color: #7EE65A;
        color: #FFF;
        border:none
    }
    input:checked + .radio-option-lg {
        background-color: #7EE65A;
        color:#FFF;
        border: none;
    }
  }
  .item-expand {
    margin-top: 10px;
    //chestpain location/radiating tab
    .active-tab {
      background-color: blue;
      color: #FFF;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      float: left;
      border: 1px solid blue;
      width: 50%;
      text-align: center;
      padding: 5px 0;
      margin-bottom: 10px;
    }
    li:first-child {
      border-radius: 4px 0 0 4px;
    };
    li:last-child {
      border-radius: 0 4px 4px 0;
    };
    textarea {
      margin-top: 10px;
    }
    .counter {
      border: 1px solid grey;
      height: 50px;
      width: 50px;
      float: left;
      border-radius: 4px 0 0 4px;
      text-align: center;
      font-size:10px;
      input[type="number"] {
        width:46px;
        height: 46px;
        // line-height: 30px;
        font-size: 20px;
        color: blue;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border:none;
        text-align: center;
        &.small {
          height: 35px;
          margin-bottom: -5px;
        }
      }
      input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
      .count {
        font-size:20px;
        color:blue;
      }
    }
    .counter-arrow {
      float: left;
      text-align: center;
      .counter-arrow-up {
        width: 25px;
        height: 25px;
        line-height: 25px;
        border: 1px solid grey;
        border-radius: 0 4px 0 0;
      }
      .counter-arrow-down {
        width: 25px;
        height: 25px;
        line-height: 25px;
        border: 1px solid grey;
        border-radius: 0 0 4px 0;
      }
    }
    button {
      margin-top: 10px;
    }
  }
}



.skilled-nurse-nav {
  border-right: 1px solid lightgrey;
  // margin-left: 60px;
  left: 160px;
  background: #efefef;
  position: fixed;
  top: 60px;
  width: 210px;
  .inner-formnav {
    background: #FFF;
    width: 210px;
    position: fixed;
    top: 120px;
    bottom: 0;
    overflow-y: scroll;
    padding-bottom: 200px;
  }
  .form-section {
    &:hover {
      background: #f5f5f5;
    }
    &.active {
      background: #fafafa;
    }
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
    padding: 15px 20px;
    i {
      line-height: 22px;
      float: right;
      color: lightgrey;
    }
    span {
      font-size: 12px;
    }
  }
  .menu-headline {
    padding: 20px 15px 0 25px;
    height: 60px;
    background: #75469B;
    color: #E9DBF0;
    text-transform: uppercase;
    font-size: 15px;
    i {
      text-decoration: none;
      color: #E9DBF0;
      // margin-left: 35px;
    }
  }
}
