#patient-choice {
  // overflow: hidden;
  margin-left: 370px;
  position: relative;
  background: #FFF;
  padding-top: 60px;
  .head-bar {
    z-index: 100;
    padding: 0 20px;
    // right: 0px;
    // left: 270px;
    // position: fixed;
    background: #FFF;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    a {
      float:left;
      margin-top: -3px;
    }
    i {
      margin-right: 10px;
      font-size: 15px;
      text-decoration: none;
      border-right: 1px solid lightgrey;
      padding: 8px 15px 8px 0px;
    }
  }
  form {
    font-size: 15px;
    // position: absolute;
    overflow: hidden;
    // right: 0;
    // left: 270px;
    // float:left;
    // margin-top: 60px;
    padding: 20px;
    // margin-bottom: 20px;
    button {
      position: absolute;
      top: 13px;
      right: 13px;
      z-index: 8;
    }
  }
  .field-error {
    margin:0;
    font-size: 13px;
  }
  .note {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  input[type='text'], [type='date'] {
    height: 30px;
    margin-top: 5px;
  }
  .field {
    margin-top: 5px;
    text-align: right;
    line-height: 30px;
    font-size: 18px;
  }
  .sign {
    border-top: 1px solid black;
    margin-bottom: 20px;
  }
  .name {
    margin-top: 50px;
    width: 100%;
    input[type='text']{
      width: 70%;
      margin-left: 10px;
    }
  }
  input.no-border {
    width: 100%;
    height: 60px;
    border-style: none;
    text-align: center;
  }
}
