<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#patient-choice" patientnavopen='true'></header-nav>
</div>

<div id="patient-choice">
  <div class="head-bar">
    <a ui-sref="records"><i class="fa fa-remove"></i></a>
    Home Health Patient Choice
  </div>

  <form name="patientConsent" novalidate id="patient-consent">
    <button type="submit" class="btn btn-primary" ng-click="save(ABN)">Submit</button>
    <div class="col-md-12 text-center">
      <img src="assets/images/FCHHA_logo.jpg" style="height:200px">
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h3>Home Health Patient Choice</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 field">
        To: (Agency or facility)
      </div>
      <div class="col-md-4 text-center">
        <input type="text" class="form-control" style="margin-left:auto; margin-right:auto; width:100%">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 field">
        Address:
      </div>
      <div class="col-md-4 text-center">
        <input type="text" class="form-control" style="margin-left:auto; margin-right:auto; width:100%">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 field">
        Phone #:
      </div>
      <div class="col-md-4 text-center">
        <input type="text" class="form-control" style="margin-left:auto; margin-right:auto; width:100%">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 field">
        Fax:
      </div>
      <div class="col-md-4 text-center">
        <input type="text" class="form-control" style="margin-left:auto; margin-right:auto; width:100%">
      </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="note">
        I have chosen Family Care Home Health Agency as my agency of choice to provide
        home health services. I am aware of the many choices available here in Southern
        Nevada, but I choose Family Care Home Health.
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-2 text-center">
        <input type="text" class="no-border">
        <div class="sign">Patient Signature</div>
      </div>
      <div class="col-md-3 text-center">
        <input type="text" class="no-border">
        <div class="sign">Date</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-2 text-center">
        <input type="text" class="no-border">
        <div class="sign">Witness Signature</div>
      </div>
      <div class="col-md-3 text-center">
        <input type="text" class="no-border">
        <div class="sign">Date</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-2">
        <div class="name form-inline">Patient Name:<input type="text" class="form-control"></div>
      </div>
      <div class="col-md-3">
        <div class="name form-inline">MR#<input type="text" class="form-control"></div>
      </div>
    </div>

    </div>
  </form>
</div>


  <div class="right-menu">
    <expanded-nav></expanded-nav>
  </div>
