<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#payroll" billingnav="true"></header-nav>
</div>

<div id="payroll">
  <div class="head-bar">
    <div class="col-md-12">
      <h3>Payroll</h3>
    </div>
  </div>
  <div class="form-background">
    <div class="metric-box">
      <div class="col-md-12">
        <h4>Visit Type Pay Rates</h4>
      </div>
      <div class="row">
        <div class="col-md-6" ng-repeat="visitType in visitTypes">
          <div class="col-md-10">
            {{visitType.DISCIPLINE}} - {{visitType.DESC}}
          </div>
          <div class="col-md-2">
            {{visitType.DFLTEMPPAY}}
          </div>
        </div>
      </div>
    </div>
    <div class="metric-box">
      <div class="col-md-2">
        <h4>Employee</h4>
      </div>
      <div class="row">
        <div class="col-md-5">
          <select name="EMPLOYEE" class="form-control"
                  ng-init="EMPLOYEE='all'"
                  ng-model="EMPLOYEE"
                  ng-change="selectEMP(EMPLOYEE)">
            <option value="all">All Employees</option>
            <option ng-repeat="employee in employees" value="{{employee}}">{{employee.FNAME}} {{employee.LNAME}}</option>
          </select>
        </div>
      </div>
      <div class="row" ng-show="employeeInfo" >
        <div class="col-md-12">
          <div class="col-md-6">
            <b>NAME:</b> {{employee.FNAME}} {{employee.MINITIAL}} {{employee.LNAME}} </br>
            <b>ADDRESS:</b> {{employee.ADDRESS}} </br>
            {{employee.CITY}}, {{employee.STATE}}, {{employee.ZIP}}</br>
            <b>PHONE:</b> {{employee.PHONE | tel}}
          </div>
          <div class="col-md-6">
            <b>GROUP:</b> {{employee.GROUPKEYID}}</br>
            <b>NOTES:</b> {{employee.NOTES}}
          </div>
        </div>
      </div>
    </div>
    <div class="metric-box" ng-show="payroll">
      <div class="col-md-2">
        <h4>Payroll Period</h4>
      </div>
      <div class="row">
        <div class="col-md-2" style="line-height:39px;width:14%">
          <b>Pay Period Ends</b>
        </div>
        <div class="col-md-2" style="margin-top:3px">
          <div class="input-group" style="margin:0">
            <input type="text"
                  required
                  class="form-control"
                  uib-datepicker-popup='MM-dd-yyyy'
                  ng-model="ENDDATE"
                  is-open="openedEND"
                  show-button-bar="false"
                  ng-click="openedEND=true"
                  datepicker-append-to-body="true"
                  alt-input-formats="altInputFormats" />
            <span class="input-group-btn" >
              <button type="button" class="btn btn-default" ng-click="openedEND=true"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
          <span ng-show="dateErrorMsg" style="color:red">Please select a date.</span>
        </div>
        <div class="col-md-2" style="margin-top:3px">
          <button class="btn btn-primary" ng-click="getVisits()">Go</button>
          <button class="btn btn-primary" ng-show="print" ng-click="printSection('payroll')">Print</button>
        </div>
        <div class="col-md-2" style="width:11%;line-height:39px" ng-show="print">
          <b>Paycheck Date</b>
        </div>
        <div class="col-md-3" style="width:14%;margin-top:3px" ng-show="print">
          <div class="input-group">
            <input type="text"
                  required
                  ng-change="assignPayrollDate()"
                  class="form-control"
                  uib-datepicker-popup='MM-dd-yyyy'
                  ng-model="EMPPAYROLL"
                  is-open="openedEmpPayroll"
                  show-button-bar="false"
                  ng-click="openedEmpPayroll=true"
                  datepicker-append-to-body="true"
                  alt-input-formats="altInputFormats" />
            <span class="input-group-btn" >
              <button type="button" class="btn btn-default" ng-click="openedEmpPayroll=true"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
      </div>
        <!--all employees-->
      <div class="row" style="margin:10px" ng-repeat="employee in employees track by $index" ng-show="allEmployees">
        <div class="col-md-12" style="background-color:lightgrey;border:1px solid darkgrey;height:40px;line-height:40px" ng-click="showDetail=!showDetail">
          Employee: <b>{{employee.FNAME}} {{employee.MINITIAL}} {{employee.LNAME}}</b>
        </div>
        <div ng-show="showDetail">
          <div class="row header">
            <div class="col-md-1">
              <b>Visit Date</b>
            </div>
            <div class="col-md-2"  style="width:14%">
              <b>Visit Type</b>
            </div>
            <div class="col-md-2"  style="width:12%">
              <b>Patient Name</b>
            </div>
            <div class="col-md-1">
              <b>Time In</b>
            </div>
            <div class="col-md-1">
              <b>Time Out</b>
            </div>
            <div class="col-md-1">
              <b>Hours</b>
            </div>
            <div class="col-md-1">
              <b>Unit Charge</b>
            </div>
            <div class="col-md-1">
              <b>Total</b>
            </div>
            <div class="col-md-1">
              <b>QA Status</b>
            </div>
            <div class="col-md-1"  style="width:7%">
              <b>Paid</b>
              <input type="checkbox" ng-model="employee.selectedEmpAll" ng-click="checkEmpAll($index)">
            </div>
            <div class="col-md-1">
              <b>Paycheck Date</b>
            </div>
          </div>
          <div ng-show="employee.VISITS.length===0">
            <h5 class="text-center">~NO VISITS FOR SELECTED PERIOD~</h5>
          </div>
          <div class="row" ng-repeat="visit in employee.VISITS" >
            <div class="col-md-1">
              {{visit.date}}
            </div>
            <div class="col-md-2"  style="width:14%">
              {{visit.visitType}}
            </div>
            <div class="col-md-2"  style="width:12%">
              {{visit.patient}}
            </div>
            <div class="col-md-1">
              <span ng-if="visit.timeIn===null">N/A</span>
              <span ng-if="visit.timeIn!==null">{{visit.timeIn}}</span>
            </div>
            <div class="col-md-1">
              <span ng-if="visit.timeOut===null">N/A</span>
              <span ng-if="visit.timeOut!==null">{{visit.timeOut}}</span>
            </div>
            <div class="col-md-1">
              <span ng-if="visit.Hours===null">N/A</span>
              <span ng-if="visit.Hours!==null">{{visit.Hours}}</span>
            </div>
            <div class="col-md-1">
              {{visit.UNITCHARGE}}
            </div>
            <div class="col-md-1">
              {{visit.VISITTOTAL}}
            </div>
            <div class="col-md-1">
              {{visit.STATUS}}
            </div>
            <div class="col-md-1" style="width:6%">
              <input type="checkbox" ng-model="visit.selected" ng-change="assignPayrollDate()" ng-show="visit.STATUS!=='Incomplete'">
            </div>
            <div class="col-md-1" ng-show="visit.assign">
              {{visit.paycheckDate}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-2" style="border-top:1px solid black;">
              <b>Total Visits: {{employee.VISITS.length}}</b>
            </div>
            <div class="col-md-1 col-md-offset-4" style="border-top:1px solid black;width:9%">
              <b>Total Hrs: {{employee.HOURSEMPTOTAL}}</b>
            </div>
            <div class="col-md-1 col-md-offset-1" style="border-top:1px solid black;width:11%">
              <b>Total Pay: {{employee.PAYEMPTOTAL}}</b>
            </div>
            <div class="col-md-1 col-md-offset-1" style="border-top:1px solid black">
              <button type="button" ng-click="submitEmpPayroll(EMPPAYROLL, employee)" class="btn btn-success">Pay</button>
            </div>
          </div>
          <!-- <div class="row" style="margin-top:50px">

            <div class="col-md-1">
              <button type="button" ng-click="submitEmpPayroll(EMPPAYROLL, employee)" class="btn btn-default">Pay</button>
            </div>
          </div> -->
        </div>
      </div>
      <!--specific employee-->
      <div class="row header" ng-show="header">
        <div class="col-md-1">
          <b>VISIT DATE</b>
        </div>
        <div class="col-md-2">
          <b>VISIT TYPE</b>
        </div>
        <div class="col-md-1">
          <b>PATIENT NAME</b>
        </div>
        <div class="col-md-1">
          <b>TIME IN</b>
        </div>
        <div class="col-md-1">
          <b>TIME OUT</b>
        </div>
        <div class="col-md-1">
          <b>HOURS</b>
        </div>
        <div class="col-md-1">
          <b>UNIT CHARGE</b>
        </div>
        <div class="col-md-1">
          <b>TOTAL</b>
        </div>
        <div class="col-md-1">
          <b>QA STATUS</b>
        </div>
        <div class="col-md-1">
          <b>PAID</b>
          <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()">
        </div>
        <div class="col-md-1">
          <b>PAYCHECK DATE</b>
        </div>
      </div>
      <div class="row" ng-if="noResults">
        <div class="col-md-6 col-md-offset-3">
          <h3>~NO VISITS FOR SELECTED PERIOD~</h3>
        </div>
      </div>
      <div class="row" ng-repeat="visit in employee.VISITS" ng-show="header" >
        <div class="col-md-1">
          {{visit.date}}
        </div>
        <div class="col-md-2">
          {{visit.visitType}}
        </div>
        <div class="col-md-1">
          {{visit.patient}}
        </div>
        <div class="col-md-1">
          <span ng-if="visit.timeIn===null">N/A</span>
          <span ng-if="visit.timeIn!==null">{{visit.timeIn}}</span>
        </div>
        <div class="col-md-1">
          <span ng-if="visit.timeOut===null">N/A</span>
          <span ng-if="visit.timeOut!==null">{{visit.timeOut}}</span>
        </div>
        <div class="col-md-1">
          <span ng-if="visit.Hours===null">N/A</span>
          <span ng-if="visit.Hours!==null">{{visit.Hours}}</span>
        </div>
        <div class="col-md-1">
          {{visit.UNITCHARGE}}
        </div>
        <div class="col-md-1">
          {{visit.VISITTOTAL}}
        </div>
        <div class="col-md-1">
          {{visit.STATUS}}
        </div>
        <div class="col-md-1" >
          <input type="checkbox" ng-model="visit.selected" ng-change="assignPayrollDate()" ng-show="visit.STATUS!=='Incomplete'">
        </div>
        <div class="col-md-1" ng-show="visit.assign">
          {{visit.paycheckDate}}
        </div>
      </div>
      <div class="row" ng-if="total">
        <div class="col-md-4" style="border-top:1px solid black">
          <b>Total Visits: {{employee.VISITS.length}}</b>
        </div>
        <div class="col-md-1 col-md-offset-3" style="border-top:1px solid black">
          <b>Total Hrs: {{HOURSTOTAL}}</b>
        </div>
        <div class="col-md-2 col-md-offset-1" style="border-top:1px solid black">
          <b>Total Pay: {{PAYTOTAL}}</b>
        </div>
        <div class="col-md-1" style="border-top:1px solid black">
          <button type="button" ng-click="submitEmpPayroll(EMPPAYROLL, employee)" class="btn btn-default">Pay</button>
        </div>
        <!-- <div class="row" style="margin-top:50px"> -->
          <!-- <div class="col-md-2 col-md-offset-8" style="width:10%">
            Paycheck Date:
          </div>
          <div class="col-md-2" style="width:14%">
            <div class="input-group">
              <input type="text"
                    required
                    class="form-control"
                    uib-datepicker-popup='MM-dd-yyyy'
                    ng-model="EMPPAYROLL"
                    is-open="openedEmpPayroll"
                    show-button-bar="false"
                    ng-click="openedEmpPayroll=true"
                    datepicker-append-to-body="true"
                    alt-input-formats="altInputFormats" />
              <span class="input-group-btn" >
                <button type="button" class="btn btn-default" ng-click="openedEmpPayroll=true"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div> -->
          <!-- <div class="col-md-1">
            <button type="button" ng-click="submitEmpPayroll(EMPPAYROLL, employee)" class="btn btn-default">Pay</button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="billings-right-menu">
  <billings-expanded-nav></billings-expanded-nav>
</div>
