#payroll {
  margin-left:60px;
  position: relative;
  background: #FFF;
  padding-top: 60px;
  .head-bar {
    height: 60px;
    padding: 12px 0;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
  }
  .form-background {
    padding: 20px 40px;
    background-color: #F5F5F5;
  }

  .metric-box {
    // height: 115px;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.24), 0px 1px 4px 0px rgba(0,0,0,0.04);
    border-radius: 2px;
    margin-bottom: 20px;
  }
  .header {
    background-color: #e3e3e3;
    margin:10px 0;
  }
}
