<div id="view-referral-source">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>Edit Referral Source Details</h3>
      </div>
      <button type="" class="btn btn-danger" ng-click="delete()">Delete</button></td>
    </div>
    <div ng-click="close()" class="fa fa-remove close"></div>
  </div>
  <div class="form-background">
    <div class="row">
      <form name="newReferralSourceForm" novalidate>
        <section class="ReferralSourceInformation">
          <div class="col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="NAME">Name</span>
              <input required type="text" name="NAME" ng-model="NAME" class="form-control" tabindex="1" aria-describedby="NAME"  placeholder="" maxlength="35">
            </div>
          </div>
          <div class="col-md-12">
            <div class="field-error" ng-show="newReferralSourceForm.NAME.$touched && newReferralSourceForm.NAME.$invalid || newReferralSourceForm.NAME.$invalid && newReferralSourceForm.$submitted">Name is required.</div>
          </div>
          <div class="col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="TYPE">Type</span>
              <input required type="text" name="TYPE" ng-model="TYPE" class="form-control" tabindex="2" aria-describedby="TYPE"  placeholder="" maxlength="10">
            </div>
          </div>
          <div class="col-md-12">
            <div class="field-error" ng-show="newReferralSourceForm.TYPE.$touched && newReferralSourceForm.TYPE.$invalid || newReferralSourceForm.TYPE.$invalid && newReferralSourceForm.$submitted">Type is required.</div>
          </div>
          <div class="col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="CATEGORY">Category</span>
              <input required type="text" name="CATEGORY" ng-model="CATEGORY" class="form-control" tabindex="3" aria-describedby="CATEGORY"  placeholder="" maxlength="2">
            </div>
          </div>
          <div class="col-md-12">
            <div class="field-error" ng-show="newReferralSourceForm.CATEGORY.$touched && newReferralSourceForm.CATEGORY.$invalid || newReferralSourceForm.CATEGORY.$invalid && newReferralSourceForm.$submitted">Category is required.</div>
          </div>
          <div class="col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="EXT">Ext</span>
              <input required type="number" name="EXT" ng-model="EXT" class="form-control" tabindex="4" aria-describedby="EXT" placeholder="">
            </div>
          </div>
          <div class="col-md-12">
            <div class="field-error" ng-show="newReferralSourceForm.EXT.$touched && newReferralSourceForm.EXT.$invalid || newReferralSourceForm.EXT.$invalid && newReferralSourceForm.$submitted">EXT is required.</div>
          </div>
          <div class="col-md-12">
            <div class="btn-footer pull-right">
              <button type="submit" tabindex="5" ng-click="saveReferralChanges(newReferralSourceForm)" class="btn btn-default">Save</button>
              <button type="" tabindex="6" class="btn btn-default" ng-click="close()">Cancel</button></td>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</div>
