<div id="new-billing">
  <div class="head-bar">
    <div class="col-md-10">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>New Billing</h3>
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" style="margin-top:12px" ng-show="showGenerate" ng-click="generate()">Generate</button>
    </div>
    <div ng-click="close()" class="fa fa-remove close"></div>
  </div>
  <div class="billings-row-head">
    <div class="container" style="width:100%">
      <div class="row">
        <div class="billings-row-title">
          <div class="col-md-2">
            Patient Name
          </div>
          <div class="col-md-1">
            PATID
          </div>
          <div class="col-md-3">
            Claim Period
          </div>
          <div class="col-md-1">
            Init
          </div>
          <div class="col-md-1">
            D/C
          </div>
          <div class="col-md-1">
            Claim
          </div>
          <div class="col-md-1">
            Detail
          </div>
          <div class="col-md-2 text-center">
            Generate <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="billings-info-row" ng-repeat="patient in patients" >
    <div class="container" style="width:100%">
      <div class="row">
        <div class="col-md-2">
          <div class="billings-info-item">
            {{patient.LNAME}}, {{patient.FNAME}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="billings-info-item">
            {{patient.PATID}}
          </div>
        </div>
        <div class="col-md-3">
          <div class="billings-info-item">
            {{patient.EPISODES[0].FROMDATE}} - {{patient.EPISODES[0].THRUDATE}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="billings-info-item">
            {{patient.EPISODES[0].INITIAL}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="billings-info-item">
            {{patient.EPISODES[0].DCDATE}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="billings-info-item" >
            {{patient.CLAIMTYPE}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="billings-info-item" ng-click="detail=!detail">
            {{patient.DETAIL}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="billings-info-item text-center">
            <input type="checkbox" ng-if="patient.DETAIL ==='Ready'" ng-model="patient.selected" ng-click="generateBtn()">
          </div>
        </div>
      </div>
      <div ng-show="detail" ng-class="{'records-expand': detail}">
        <div class="col-md-12">
          <div class="billings-info-item" >
            {{patient.MSG}}
          </div>
        </div>
        <div class="col-md-12">
          <div class="billings-info-item">
            Total Charges: {{patient.TOTALCHARGES}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
