@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

html,body {
    height:100%;
}

body,p,span,input,a,li {
    font-family: 'Open Sans', sans-serif;
}

b, strong {
  font-weight: 600;
}

.text-heading {
  font-size: 25px;
}

button {
  &.btn-primary.purple {
    background: #6D559B;
    border-color: #6D559B;
  }
}
.col-no-pad {
  padding: 0;
}

@media (min-width: 1200px){
  .container {
      width: 1350px;
      &.small {
        width: 100%;
      }
  }
}

$extra-small-screen: 480px;
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;

/********** MIXINS FOR MEDIA QUERIES **********/
@mixin mq-xs {
  @media (min-width: #{$extra-small-screen}) {
    @content;
  }
}
@mixin mq-sm {
  @media (min-width: #{$small-screen}) {
    @content;
  }
}
@mixin mq-md {
  @media (min-width: #{$medium-screen}) {
    @content;
  }
}
@mixin mq-lg {
  @media (min-width: #{$large-screen}) {
    @content;
  }
}

@font-face {
    font-family: healthTrackAPp;
    src: url(../fonts/healthTrackAPp.eot?t728sl);
    src: url(../fonts/healthTrackAPp.eot?t728sl#iefix) format('embedded-opentype'), url(../fonts/healthTrackAPp.ttf?t728sl) format('truetype'), url(../fonts/healthTrackAPp.woff?t728sl) format('woff'), url(../fonts/healthTrackAPp.svg?t728sl#healthTrackAPp) format('svg');
    font-weight: 400;
    font-style: normal
}
[class*=" icon-"],
[class^=icon-] {
    font-family: healthTrackAPp!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-size-1 {
    font-size: 16px
}
.icon-size-2 {
    font-size: 24px
}
.icon-size-3 {
    font-size: 32px
}
.icon-size-4 {
    font-size: 40px
}
.icon-size-5 {
    font-size: 48px
}
.icon-file-text-o:before {
    content: "\e908"
}
.icon-question-circle-o:before {
    content: "\e909"
}
.icon-profile:before {
    content: "\e900"
}
.icon-bookmark:before {
    content: "\e901"
}
.icon-ribbon:before {
    content: "\e901"
}
.icon-price-tags:before {
    content: "\e902"
}
.icon-search:before {
    content: "\e903"
}
.icon-magnifier:before {
    content: "\e903"
}
.icon-magnifying-glass:before {
    content: "\e903"
}
.icon-inspect:before {
    content: "\e903"
}
.icon-find:before {
    content: "\e903"
}
.icon-file-text:before {
    content: "\e904"
}
.icon-home:before {
    content: "\e905"
}
.icon-house:before {
    content: "\e905"
}
.icon-cog:before {
    content: "\e906"
}
.icon-account_circle:before {
    content: "\e853"
}
.icon-add2:before {
    content: "\e145"
}
.icon-control_point:before {
    content: "\e3ba"
}
.icon-arrow_drop_down:before {
    content: "\e802"
}
.icon-poll:before {
    content: "\e801"
}
.icon-assignment:before {
    content: "\e85d"
}
.icon-flag:before {
    content: "\e153"
}
.icon-call_split:before {
    content: "\e0b6"
}
.icon-close:before {
    content: "\e5cd"
}
.icon-mode_edit:before {
    content: "\e254"
}
.icon-insert_invitation:before {
    content: "\e24f"
}
.icon-expand_less:before {
    content: "\e5ce"
}
.icon-expand_more:before {
    content: "\e5cf"
}
.icon-exposure:before {
    content: "\e3ca"
}
.icon-folder:before {
    content: "\e2c7"
}
.icon-folder_shared:before {
    content: "\e2c9"
}
.icon-question_answer:before {
    content: "\e8af"
}
.icon-star:before {
    content: "\e838"
}
.icon-people:before {
    content: "\e7fb"
}
.icon-info_outline:before {
    content: "\e88f"
}
.icon-iso:before {
    content: "\e3f6"
}
.icon-menu:before {
    content: "\e5d2"
}
.icon-more_vert:before {
    content: "\e5d4"
}
.icon-person:before {
    content: "\e7fd"
}
.icon-person_add:before {
    content: "\e7fe"
}
.icon-refresh:before {
    content: "\e5d5"
}
.icon-settings:before {
    content: "\e8b8"
}
.icon-today:before {
    content: "\e8df"
}
