<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#patient-dashboard" patientnavopen='true'></header-nav>
</div>

<div id="patient-dashboard">
  <!-- <div class="head-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Patient Overview<span class="float-right fa fa-cog"></span></h3>
        </div>
      </div>
    </div>
  </div> -->
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <h3>Patient Overview<span class="float-right fa fa-cog"></span>
          <!-- <a ui-sref="startOfCare"><button class="btn btn-default">TEST-TO OASIS</button></a> -->
          <button ng-hide="SOCexists" class="btn btn-default" ng-click="scheduleSOC($event)">Schedule SOC</button>
          <!-- <button ng-show="SOCexists" class="btn btn-default" ng-click="error($event)">Admit</button> -->
        </h3>
      </div>
    </div>
  </div>
  <div class="dashboard-background">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="metric-box full-padding">
            <h6 style="margin:0"><b>WEIGHT</b></h6>
            <img src="assets/images/patient_weight.png" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="metric-box full-padding">
            <h6 style="margin:0"><b>DIAGNOSIS & ASSISTIVE</b></h6>
            <img src="assets/images/patient_diagnosis.png" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="metric-box full-padding">
            <h6 style="margin:0"><b>INSURANCE & ID#</b></h6>
            <p><span ng-if="patient.INSCO">{{patient.INSCONAME}}</span><span ng-if="patient.INSID"> - {{patient.INSID}}</span></p>
            <p ng-if="!patient.INSCO && !patient.INSID">N/A</p>
            <h6 style="margin:0"><b>DATE OF BIRTH</b></h6>
            <p>{{patient.DOB || 'N/A'}}</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="metric-box full-padding">
            <h6 style="margin:0"><b>CONTACT</b></h6>
            <p >{{patient.PHONE1 | tel}} <br>
                <!-- {{ patient.FNAME | limitTo: 15 }}{{patient.FNAME.length > 15 ? '&hellip;' : ''}} -->
              <span style="margin:0" ng-if="patient.ADDRESS">{{patient.ADDRESS}} <br>{{patient.CITY | limitTo: 15 }}{{patient.CITY.length > 15 ? '&hellip;' : ''}}, {{patient.STATE}}, {{patient.ZIP}}</span>
              <span ng-if="!patient.ADDRESS">N/A</span>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="metric-box" style="height:600px;margin-top: 15px;">
            <div class="box-header">
              <h4>This Week<span class="float-right purple"><span class="grey">|</span><i class="fa fa-tags fa-fw" aria-hidden="true"></i>13<span class="grey">|</span><i class="fa fa-home fa-fw" aria-hidden="true"></i>1
                <span class="grey">|</span><i class="fa fa-share-alt fa-rotate-270 fa-fw" aria-hidden="true"></i>1<span class="grey">|</span><i class="fa fa-plus fa-fw" aria-hidden="true"></i></span>
              </h4>
            </div>
            <div class="box-background">
              <p class="date text-small">TODAY</p>
              <ul class="list-group">
                <li class="list-group-item"><p><i class="fa fa-flag fa-fw fa-inverse circle-icon" aria-hidden="true" style="background:darkgrey"></i>Intake Started</p></li>
                <li class="list-group-item green-border"><p><i class="fa fa-tags fa-fw fa-inverse circle-icon" aria-hidden="true" style="background:darkgrey"></i>Verify Medicare eligibility</p></li>
                <li class="list-group-item red-border"><p><i class="fa fa-tags fa-fw fa-inverse circle-icon" aria-hidden="true" style="background:darkgrey"></i>Verify ability to provide care<span class="float-right text-small">NOT ASSIGNED</span></p></li>
              </ul>
              <p class="date text-small">THU</p>
              <ul class="list-group">
                <li class="list-group-item red-border"><p><i class="fa fa-home fa-inverse fa-fw circle-icon" aria-hidden="true" style="background:darkgrey"></i>Start of Care Visit<span class="middle"><i class="fa fa-tag fa-fw fa-flip-horizontal" aria-hidden="true"></i>11</span><span class="float-right text-small">NOT SCHEDULED, ASSIGNED</span></p></li>
              </ul>
              <p class="date text-small">FRI</p>
              <ul class="list-group">
                <li class="list-group-item"><p><i class="fa fa-tags fa-fw fa-inverse circle-icon" aria-hidden="true" style="background:darkgrey"></i>Admit or Decline patient</p></li>
                <li class="list-group-item"><p><i class="fa fa-share-alt fa-rotate-270 fa-fw circle-icon" aria-hidden="true" style="background:darkgrey"></i>Admit / Non-Admit Decision</p></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="metric-box" style="margin-top: 15px;">
            <img src="assets/images/patient_blood_pressure.png"/>
          </div>
        </div>
        <div class="col-md-5">
          <div class="metric-box" style="margin-top: 15px;">
            <img src="assets/images/patient_pain.png"/>
          </div>
        </div>
        <div class="col-md-5">
          <div class="metric-box add-metric" style="height:130px;margin-top: 15px">
            <span>
              <p><i class="fa fa-plus" aria-hidden="true"></i></br>
              Add Tracking Metric</p>
            </span>
          </div>
        </div>
        <div class="col-md-7">
          <div class="metric-box recent-activity" style="height:600px;margin-top: 15px;">
            <div class="box-header">
              <h4>Recent Activity</h4>
            </div>
            <div class="box-background">
              <ul class="list-group">
                <li class="list-group-item">
                  <p><i class="fa fa-user fa-fw fa-inverse circle-icon" aria-hidden="true" style="background:darkgrey"></i><b>Michelle Jones</b> added a Note <span class="float-right">Today @ 3:45pm</span></p>
                </li>
                <li class="list-group-item">
                  <p class="act-notes wrap">{{patient.NOTES}}
                  </p>
                </li>
                <li class="list-group-item">
                  <hr>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="right-menu">
  <expanded-nav></expanded-nav>
</div>
