<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#view-plan-of-care" patientnavopen='true'></header-nav>
</div>

<div id="view-plan-of-care">
  <div class="create-bar">
    <div class="container small">
      <div class="col-md-8">
        <a class="back" ng-click="PREVIOUS()"><i class="fa fa-arrow-left"></i></a>
        <span class="title">485 Plan Of Care </span>
      </div>
      <div class="col-md-4">
        <!-- <a ui-sref="planOfCare"><button ng-show="(form.ACTION==='qaEdit'" type="button" class="btn btn-success">Edit</button></a> -->
        <span ng-show="(form.STATUS===1) && (form.ACTION ===undefined)" style="color:red;font-size:12px">View Only - form submitted to QA for review.</span>
        <span ng-show="(form.STATUS===3) && (form.ACTION ===undefined)" style="color:red;font-size:12px">View Only - form has already been approved and locked.</span>

        <button ng-show="( form.ACTION==='qaEdit')" type="button" class="btn btn-danger" ng-click="reject()">Reject</button>
        <button ng-show="( form.ACTION==='qaEdit')" type="button" class="btn btn-success" ng-click="approve()">Approve</button>
        <a ui-sref="planOfCare"><button ng-hide="( (form.STATUS===1 && form.ACTION!=='qaEdit') || form.STATUS===3)" type="button" class="btn btn-primary">Edit</button></a>
        <button type="button" class="btn btn-success" ng-click="saveToPDF()">Save To PDF</button>
        <button type="button" class="btn btn-info">Print</button>

        <!-- <button type="button" class="btn btn-primary" ng-click="scrubber()">Scrubber</button> -->
        <!-- <button type="button" class="btn btn-success" ng-click="saveOasis()">Submit to QA</button> -->
        <!-- <button type="button" class="btn btn-success" ng-if="GeneralComplete === true && ClinicalRecordItemsComplete === true && PatientHistoryAndDiagnosesComplete === true && LivingArrangementsComplete === true && SensoryStatusComplete === true && IntegumentaryStatusComplete === true && RespiratoryStatusComplete === true && CardiacStatusComplete === true && EliminationStatusComplete === true && BehavioralStatusComplete === true && ADLComplete === true && MedicationsComplete === true && CareManagementComplete === true && TherapyComplete === true && EmergentCareComplete === true" ng-click="saveOasis()">Submit to QA</button> -->
      </div>
    </div>
  </div>
  <!-- ********** GENERAL ********** -->
  <form name="poc" novalidate id="poc">
    <fieldset ng-disabled="true">
    <section class="poc">
      <table cellpadding="2" cellspacing="0" border="0" style="text-align:left;font-size:12px;table-layout:fixed;width:100%">
        <tr border="0">
          <td style="font-size:10px;border:none" colspan="8">Department of Health and Human Services Centers for Medicare & Medicaid Services</td>
          <td style="font-size:10px;text-align:right;" colspan="4">Form Approved OMB No. 0938-0357</td>
        </tr>
        <tr border="0">
          <td style="border:1px solid #000;border-bottom:none" colspan="12"><h3 style="text-align:center;font-weight:bold;font-family:'Arial';text-transform:uppercase;font-size:13px;">HOME HEALTH CERTIFICATION AND PLAN OF CARE</h3></td>
        </tr>
        <tr border="0">
          <td style="border:1px solid #000;border-right:none;vertical-align:top" colspan="2" height="30px">

            <b>1. Patient's HI Claim No.</b><br>
            <span class="padding-content">{{oasis.M0020_PAT_ID}}</span>

          </td>
          <td style="border:1px solid #000;border-right:none;vertical-align:top" colspan="2">

            <b>2. Start Of Care Date</b><br>
            <span class="padding-content">{{admit.SOCDATE}}</span>

          </td>
          <td style="border:1px solid #000;border-right:none;vertical-align:top" colspan="4">

            <b>3. Certification Period</b><br>
            <span class="padding-content">{{CERTPERIOD}}</span>

          </td>
          <td style="border:1px solid #000;border-right:none;vertical-align:top" colspan="2">

            <b>4. Medical Record No.</b><br>
            <span class="padding-content">{{patient.INSID}}</span>

          </td>
          <td style="border:1px solid #000;vertical-align:top" colspan="2">

            <b>5. Provider No.</b><br>
            <span class="padding-content">{{agency.PROVIDERNUM}}</span>

          </td>
        </tr>
        <tr border="0">
          <td style="border:1px solid #000;border-right:none;border-top:none;vertical-align:top" colspan="6" height="80px">

            <b>6. Patient's Name and Address</b><br>
            <span class="padding-content">{{patient.FNAME}} {{patient.LNAME}} <br></span>
            <span class="padding-content" ng-if="patient.ADDRESS!==null">{{patient.ADDRESS}}{{agency.ADDRESS===undefined?"":","}} {{patient.CITY}}{{agency.CITY===undefined?"":","}} {{patient.STATE}}{{agency.STATE===undefined?"":","}} {{patient.ZIP}}<br></span>
            <span class="padding-content" ng-if="patient.PHONE1!==null">Phone: {{patient.PHONE1 | tel}}</span>

          </td>
          <td style="border:1px solid #000;border-top:none;vertical-align:top" colspan="6">

            <b>7. Provider's Name, Address and Telephone Number</b><br>
            <span class="padding-content">{{agency.NAME}}<br></span>
            <span class="padding-content">{{agency.ADDRESS1}}{{agency.ADDRESS1===undefined?"":","}} {{agency.CITY}}{{agency.CITY===undefined?"":","}} {{agency.STATE}}{{agency.STATE===undefined?"":","}} {{agency.ZIP}} <br></span>
            <span class="padding-content">NPI: {{agency.NPI}}<br></span>
            <span class="padding-content">Phone: {{agency.PHONE | tel}}<br></span>
            <span class="padding-content">Fax: {{agency.FAX | tel}}</span>

          </td>
        </tr>
        <tr border="0">
          <td style="border:1px solid #000;border-right:none;border-top:none" colspan="2">

            <b>8. Date of Birth</b>

          </td>
          <td style="border:1px solid #000;border-left:none;border-right:none;border-top:none;" colspan="1">

            {{patient.DOB}}

          </td>
          <td style="border:1px solid #000;border-top:none;border-right:none;" colspan="1">
            
            <b>9. Sex </b>

          </td>
          <td style="border:1px solid #000;border-top:none;border-left:none;border-right:none;" colspan="1">

            <label><input type="checkbox" ng-checked="patient.GENDER == 'M'"> M</label>

          </td>
          <td style="border:1px solid #000;border-top:none;border-left:none;" colspan="1">

            <label ><input type="checkbox" ng-checked="patient.GENDER == 'F'"> F</label>

          </td>
          <td style="border:1px solid #000;border-top:none;vertical-align:top" colspan="6" rowspan="4" height="70px">
              
              <b>10. Medications: Dose/Frequency/Route (N)ew (C)hanged (U)nchanged</b><br>
              <div class="padding-content" ng-repeat="med in medications">
                {{$index+1}}. Name: {{med.NAME}} / Dose: {{med.DOSE}} / Frequency: {{med.FREQUENCY}} / Route ({{med.CODE}})
              </div>
  
            </td>
        </tr>
        <tr>
          <td style="border:1px solid #000;border-top:none;border-right:none;vertical-align:top" colspan="1" height="30px">
            
            <b>11. ICD</b><br>
            <div class="padding-content">
              {{oasis.M1021_PRIMARY_DIAG_ICD}}
            </div>

          </td>
          <td style="border:1px solid #000;border-top:none;border-right:none;vertical-align:top" colspan="4">
            
            <b>Principal Diagnosis</b><br>
            <div class="padding-content">
              {{M1021}}
            </div>

          </td>
          <td style="border:1px solid #000;border-top:none;vertical-align:top" colspan="1">
            
            <b>Date</b><br>
            <div class="padding-content">
              {{oasis.M0030_START_CARE_DT}}
            </div>

          </td>
        </tr>
        <tr>
          <td style="border:1px solid #000;border-top:none;border-right:none;vertical-align:top" colspan="1" height="30px">
            
            <b>12. ICD</b><br>
          
          </td>
          <td style="border:1px solid #000;border-top:none;border-right:none;vertical-align:top" colspan="4">
            
            <b>Surgical Procedure</b><br>
          
          </td>
          <td style="border:1px solid #000;border-top:none;vertical-align:top" colspan="1">
            
            <b>Date</b><br>
          
          </td>
        </tr>
        <tr>
          <td style="border:1px solid #000;border-top:none;border-right:none;vertical-align:top" colspan="1" height="30px">
            
            <b>13. ICD</b><br>
            <div class="padding-content">
              <span ng-hide="oasis.M1023_OTH_DIAG1_ICD===null">{{oasis.M1023_OTH_DIAG1_ICD}}</br></span>
              <span ng-hide="oasis.M1023_OTH_DIAG2_ICD===null">{{oasis.M1023_OTH_DIAG2_ICD}}</br></span>
              <span ng-hide="oasis.M1023_OTH_DIAG3_ICD===null">{{oasis.M1023_OTH_DIAG3_ICD}}</br></span>
              <span ng-hide="oasis.M1023_OTH_DIAG4_ICD===null">{{oasis.M1023_OTH_DIAG4_ICD}}</br></span>
              <span ng-hide="oasis.M1023_OTH_DIAG5_ICD===null">{{oasis.M1023_OTH_DIAG5_ICD}}</br></span>

              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_A3===null">{{oasis.M1025_OPT_DIAG_ICD_A3}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_A4===null">{{oasis.M1025_OPT_DIAG_ICD_A4}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_B3===null">{{oasis.M1025_OPT_DIAG_ICD_B3}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_B4===null">{{oasis.M1025_OPT_DIAG_ICD_B4}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_C3===null">{{oasis.M1025_OPT_DIAG_ICD_C3}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_C4===null">{{oasis.M1025_OPT_DIAG_ICD_C4}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_D3===null">{{oasis.M1025_OPT_DIAG_ICD_D3}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_D4===null">{{oasis.M1025_OPT_DIAG_ICD_D4}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_E3===null">{{oasis.M1025_OPT_DIAG_ICD_E3}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_E4===null">{{oasis.M1025_OPT_DIAG_ICD_E4}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_F3===null">{{oasis.M1025_OPT_DIAG_ICD_F3}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_F4===null">{{oasis.M1025_OPT_DIAG_ICD_F4}}</br></span>
            </div>

          </td>
          <td style="border:1px solid #000;border-top:none;border-right:none;vertical-align:top" colspan="4">
            
            <b>Other Pertinent Diagnoses</b><br>
            <div class="padding-content">            
              <span ng-hide="oasis.M1023_OTH_DIAG1_ICD===null">{{M1023_1}}</br></span>
              <span ng-hide="oasis.M1023_OTH_DIAG2_ICD===null">{{M1023_2}}</br></span>
              <span ng-hide="oasis.M1023_OTH_DIAG3_ICD===null">{{M1023_3}}</br></span>
              <span ng-hide="oasis.M1023_OTH_DIAG4_ICD===null">{{M1023_4}}</br></span>
              <span ng-hide="oasis.M1023_OTH_DIAG5_ICD===null">{{M1023_5}}</br></span>

              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_A3===null">{{M1025A_3}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_A4===null">{{M1025A_4}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_B3===null">{{M1025B_3}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_B4===null">{{M1025B_4}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_C3===null">{{M1025C_3}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_C4===null">{{M1025C_4}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_D3===null">{{M1025D_3}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_D4===null">{{M1025D_4}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_E3===null">{{M1025E_3}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_E4===null">{{M1025E_4}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_F3===null">{{M1025F_3}}</br></span>
              <span ng-hide="oasis.M1025_OPT_DIAG_ICD_F4===null">{{M1025F_4}}</br></span>
            </div>

          </td>
          <td style="border:1px solid #000;border-top:none;vertical-align:top" colspan="1">
            
            <b>Date</b><br>
            <div class="padding-content">
              {{oasis.M0030_START_CARE_DT}}
            </div>

          </td>
        </tr>
        <tr>
          <td style="border-left:1px solid #000;vertical-align:top" height="30px" colspan="6">
            
            <b>14. DME and Supplies</b><br>
            <div class="padding-content">
              <label><input type="checkbox" ng-true-value="'Lab supplies'" ng-model="Supplies"> Lab Supplies</label>
              <label><input type="checkbox" name="Trays" id="Trays" ng-true-value="'Urinary cath/bags/trays'" ng-false-value="" ng-model="Trays"> Urinary cath/bags/trays</label>
              <label><input type="checkbox" name="Irrigation" id="Irrigation" ng-false-value="" ng-true-value="'Irrigation sets/NS'" ng-model="Irrigation"> Irrigation sets/NS</label>
              <label><input type="checkbox" name="Gloves" id="Gloves" ng-false-value="" ng-true-value="'Gloves'" ng-model="Gloves"> Gloves</label>
              <label><input type="checkbox" name="Walker" id="Walker" ng-false-value="" ng-true-value="'Walker'" ng-model="Walker"> Walker</label>
              <label><input type="checkbox" name="Commode" id="Commode" ng-false-value="" ng-true-value="'Commode'" ng-model="Commode"> Commode</label>
              <label><input type="checkbox" name="Tape" id="Tape" ng-false-value="" ng-true-value="'Tape'" ng-model="Tape"> Tape</label>
              <label><input type="checkbox" name="Syringes" id="Syringes" ng-false-value="" ng-true-value="'Syringes'" ng-model="Syringes"> Syringes</label>
              <label><input type="checkbox" name="Dressings" id="Dressings" ng-false-value="" ng-true-value="'Dressings'" ng-model="Dressings"> Dressings</label>
              <label><input type="checkbox" name="WC" id="WC" ng-false-value="" ng-true-value="'WC'" ng-model="WC"> WC</label>
              <label><input type="checkbox" name="NS" id="NS" ng-false-value="" ng-true-value="'NS'" ng-model="NS"> NS</label>
              <label><input type="checkbox" name="Ostomy" id="Ostomy" ng-false-value="" ng-true-value="'Ostomy supplies'" ng-model="Ostomy"> Ostomy supplies</label>
              <label><input type="checkbox" name="O2" id="O2" ng-false-value="" ng-true-value="'O2 & supplies'" ng-model="O2"> O2 & supplies</label>
              <label><input type="checkbox" name="Cane" id="Cane" ng-false-value="" ng-true-value="'Cane'" ng-model="Cane"> Cane</label>
              <label><input type="checkbox" name="Hoyerlift" id="Hoyerlift" ng-false-value="" ng-true-value="'Hoyer lift'" ng-model="Hoyerlift"> Hoyer lift</label>
              <label><input type="checkbox" name="Glucometer" id="Glucometer" ng-false-value="" ng-true-value="'Glucometer'" ng-model="Glucometer"> Glucometer</label>
              <label><input type="checkbox" name="Sharps" id="Sharps" ng-false-value="" ng-true-value="'Sharps container'" ng-model="Sharps"> Sharps container</label>
              <label><input type="checkbox" name="Shower" id="Shower" ng-false-value="" ng-true-value="'Shower chair'" ng-model="Shower"> Shower chair</label>
              <label><input type="checkbox" name="Tube" id="Tube" ng-false-value="" ng-true-value="'Tube feeding supplies'" ng-model="Tube"> Tube feeding supplies</label>
              <label><input type="checkbox" name="Pump" id="Pump" ng-false-value="" ng-true-value="'Pump'" ng-model="Pump"> Pump</label>
              <label><input type="checkbox" name="Hospital" id="Hospital" ng-false-value="" ng-true-value="'Hospital Bed'" ng-model="Hospital"> Hospital Bed</label>
              <label><input type="checkbox" name="Other1" id="Other1" ng-false-value="" ng-true-value="'Other'" ng-model="Other1"> Other</label>
            </div>

          </td>
          <td style="border-right:1px solid #000;border-left:1px solid #000;" height="30px" colspan="6">
            
            <b>15. Safety Measures </b><br>
            <div class="padding-content">
              <label><input type="checkbox" name="Seizure" id="Seizure"  ng-false-value="" ng-true-value="'Seizure precautions'" ng-model="Seizure"> Seizure precautions</label>
              <label><input type="checkbox" name="Wheelchair" id="Wheelchair"  ng-false-value="" ng-true-value="'Wheelchair safety'" ng-model="Wheelchair"> Wheelchair safety</label>
              <label><input type="checkbox" name="Precautions" id="Precautions"  ng-false-value="" ng-true-value="'O2 precautions'" ng-model="Precautions"> O2 precautions</label>
              <label><input type="checkbox" name="Anticoagulant" id="Anticoagulant"  ng-false-value="" ng-true-value="'Anticoagulant precautions'" ng-model="Anticoagulant"> Anticoagulant precautions</label>
              <label><input type="checkbox" name="Hoyer" id="Hoyer"  ng-false-value="" ng-true-value="'Hoyer Lift'" ng-model="Hoyer"> Safe use of Hoyer lift</label>
              <label><input type="checkbox" name="Lifeline" id="Lifeline"  ng-false-value="" ng-true-value="'Lifeline'" ng-model="Lifeline"> Lifeline</label>
              <label><input type="checkbox" name="Disposal" id="Disposal"  ng-false-value="" ng-true-value="'Proper disposal of dressings'" ng-model="Disposal"> Proper disposal of dressings</label>
              <label><input type="checkbox" name="Fall" id="Fall"  ng-false-value="" ng-true-value="'Fall precautions'" ng-model="Fall"> Fall precautions</label>
              <label><input type="checkbox" name="Infection" id="Infection"  ng-false-value="" ng-true-value="'Infection control/universal precautions'" ng-model="Infection"> Infection control/universal precautions</label>
              <label><input type="checkbox" name="SMA" id="SMA"  ng-false-value="" ng-true-value="'Supervised medication administration'" ng-model="SMA"> Supervised medication administration</label>
              <label><input type="checkbox" name="Scatter" id="Scatter"  ng-false-value="" ng-true-value="'Remove scatter rugs'" ng-model="Scatter"> Remove scatter rugs</label>
              <label><input type="checkbox" name="Pathways" id="Pathways"  ng-false-value="" ng-true-value="'Clear pathways'" ng-model="Pathways"> Clear pathways</label>
              <label><input type="checkbox" name="TWA" id="TWA"  ng-false-value="" ng-true-value="'Transfer with assist'" ng-model="TWA"> Transfer with assist</label>
              <label><input type="checkbox" name="Railsup" id="Railsup"  ng-false-value="" ng-true-value="'Side rails up'" ng-model="Railsup"> Side rails up</label>
              <label><input type="checkbox" name="rail1" id="rail1"  ng-false-value="" ng-true-value="'/1 rail'" ng-model="rail1"> /1 rail</label>
              <label><input type="checkbox" name="rail2" id="rail2"  ng-false-value="" ng-true-value="'/2 rails'" ng-model="rail2"> /2 rails</label>
              <label><input type="checkbox" name="pds" id="pds"  ng-false-value="" ng-true-value="'Proper disposal of sharps'" ng-model="pds"> Proper disposal of sharps</label>
              <label><input type="checkbox" name="Emergency" id="Emergency"  ng-false-value="" ng-true-value="'Emergency Sx/actions to take/911'" ng-model="Emergency"> Emergency Sx/actions to take/911</label>
              <label><input type="checkbox" name="Other2" id="Other2"  ng-false-value="" ng-true-value="'Other'" ng-model="Other2"> Other</label>
            </div>

          </td>
        </tr>
        <tr>
          <td style="border:1px solid #000;border-right:none;" height="30px" colspan="6">
            
            <b>16. Nutritional Req. </b><br>
            <span class="padding-content">Diet: {{Diet}}<br></span>
            <span class="padding-content">Fluid restrictions: {{Fluid}}<br></span>
            <span class="padding-content">G-tube size/type: {{gts}}<br></span>
            <span class="padding-content">Feedings/Frequency: {{ff}}</span>

          </td>
          <td style="border:1px solid #000;vertical-align:top" colspan="6" height="30px">
            
            <b>17. Allergies </b><br>
            <span class="padding-content">Medication: {{Medication}}<br></span>
            <span class="padding-content">Food: {{Food}}</span>

          </td>
        </tr>
        <tr border="0" >
          <td style="border-left:1px solid #000; vertical-align:top;" colspan="6">
            
            <b>18.A. Functional Limitations</b><br>
            <div class="padding-content row">

              <div class="col-lg-4 col-md-12">
                <label>1&nbsp;&nbsp;<input type="checkbox" name="Amputation" id="Amputation" ng-false-value="" ng-true-value="'Amputation'" ng-model="Amputation"> Amputation/location</label><br>
                <label>2&nbsp;&nbsp;<input type="checkbox" name="Bowel" id="Bowel" ng-false-value="" ng-true-value="'Bowel'" ng-model="Bowel"> Bladder incontinence</label><br>
                <label>3&nbsp;&nbsp;<input type="checkbox" name="Contracture" id="Contracture" ng-false-value="" ng-true-value="'Contracture'" ng-model="Contracture"> Contracture</label><br>
                <label>4&nbsp;&nbsp;<input type="checkbox" name="Hearing" id="Hearing" ng-false-value="" ng-true-value="'Hearing'" ng-model="Hearing"> Hearing</label><br>
              </div>
              
              <div class="col-lg-4 col-md-12">
                <label>5&nbsp;&nbsp;<input type="checkbox" name="Paralysis" id="Paralysis" ng-false-value="" ng-true-value="'Paralysis'" ng-model="Paralysis"> Paralysis/hemiplegia</label><br>
                <label>6&nbsp;&nbsp;<input type="checkbox" name="Endurance" id="Endurance" ng-false-value="" ng-true-value="'Endurance'" ng-model="Endurance"> Endurance</label><br>
                <label>7&nbsp;&nbsp;<input type="checkbox" name="Ambulation" id="Ambulation" ng-false-value="" ng-true-value="'Ambulation'" ng-model="Ambulation"> Ambulation</label><br>
                <label>8&nbsp;&nbsp;<input type="checkbox" name="Speech" id="Speech" ng-false-value="" ng-true-value="'Speech'" ng-model="Speech"> Speech</label><br>
              </div>

              <div class="col-lg-4 col-md-12">
                <label>9&nbsp;&nbsp;<input type="checkbox" name="Dyspnea" id="Dyspnea" ng-false-value="" ng-true-value="'Dyspnea'" ng-model="Dyspnea"> Dyspnea with min/mod exertion</label><br>
                <label>A&nbsp;&nbsp;<input type="checkbox" name="blind" id="blind" ng-false-value="" ng-true-value="'Blind'" ng-model="Blind"> Legally blind/vision impaired</label><br>
                <label>B&nbsp;&nbsp;<input type="checkbox" name="otherfun" id="otherfun" ng-false-value="" ng-true-value="'Otherfun'" ng-model="Otherfun"> Other(Specify)</label><br>
              </div>

            </div>

          </td>
          <td style="border-right:1px solid #000; border-left:1px solid #000;" colspan="6">
            
            <b>18.B. Activities permitted</b> <br>
            <div class="padding-content row">
                
              <div class="col-lg-4 col-md-12">
                <label>1&nbsp;&nbsp;<input type="checkbox" name="bedrest" id="bedrest" ng-false-value="" ng-true-value="'bedrest'" ng-model="Bedrest"> Complete bedrest</label><br>
                <label>2&nbsp;&nbsp;<input type="checkbox" name="brp" id="brp" ng-false-value="" ng-true-value="'brp'" ng-model="brp"> Bedrest with BRP</label><br>
                <label>3&nbsp;&nbsp;<input type="checkbox" name="uat" id="uat" ng-false-value="" ng-true-value="'uat'" ng-model="uat"> Up as tolerated</label><br>
                <label>4&nbsp;&nbsp;<input type="checkbox" name="bt" id="bt" ng-false-value="" ng-true-value="'bt'" ng-model="bt"> Transfer bed</label><br>
                <label>5&nbsp;&nbsp;<input type="checkbox" name="ep" id="ep" ng-false-value="" ng-true-value="'ep'" ng-model="ep"> Exercises prescribed</label><br>
              </div>

              <div class="col-lg-4 col-md-12">
                <label>6&nbsp;&nbsp;<input type="checkbox" name="pwb" id="pwb" ng-false-value="" ng-true-value="'pwb'" ng-model="pwb"> Partial wt. bearing</label><br>
                <label>7&nbsp;&nbsp;<input type="checkbox" name="iah" id="iah" ng-false-value="" ng-true-value="'iah'" ng-model="iah"> Independent at home</label><br>
                <label>8&nbsp;&nbsp;<input type="checkbox" name="actwalker" id="actwalker" ng-false-value="" ng-true-value="'actwalker'" ng-model="Actwalker"> Walker</label><br>
                <label>9&nbsp;&nbsp;<input type="checkbox" name="Crutches" id="Crutches" ng-false-value="" ng-true-value="'Crutches'" ng-model="Crutches"> Crutches</label><br>
              </div>

              <div class="col-lg-4 col-md-12">
                <label>A&nbsp;&nbsp;<input type="checkbox" name="Caneact" id="Caneact" ng-false-value="" ng-true-value="'Caneact'" ng-model="Caneact"> Cane</label><br>
                <label>B&nbsp;&nbsp;<input type="checkbox" name="wc" id="wc" ng-false-value="" ng-true-value="'act_wc'" ng-model="act_wc"> Wheelchair</label><br>
                <label>C&nbsp;&nbsp;<input type="checkbox" name="restrictions" id="restrictions" ng-false-value="" ng-true-value="'restrictions'" ng-model="restrictions"> No Restrictions</label><br>
                <label>D&nbsp;&nbsp;<input type="checkbox" name="Other3" id="Other3" ng-false-value="" ng-true-value="'Other3'" ng-model="Other3"> Other</label><br>
              </div>

            </div>

          </td>
        </tr>
        <tr border="0">
          <td  style="border:1px solid #000;"colspan="12">
            
            <div class="row">

              <div class="col-sm-2">
                <b>19. Mental Status:</b> <br>
              </div>
            
              <div class="col-sm-2">
                <label>1&nbsp;&nbsp;<input type="checkbox" name="Oriented" id="Oriented" ng-false-value="" ng-true-value="'Oriented'" ng-model="Oriented"> Oriented</label><br>
                <label>2&nbsp;&nbsp;<input type="checkbox" name="Comatose" id="Comatose" ng-false-value="" ng-true-value="'Comatose'" ng-model="Comatose"> Comatose</label><br>
              </div>              

              <div class="col-sm-2">
                <label>3&nbsp;&nbsp;<input type="checkbox" name="Forgetful" id="Forgetful" ng-false-value="" ng-true-value="'Forgetful'" ng-model="Forgetful"> Forgetful</label><br>
                <label>4&nbsp;&nbsp;<input type="checkbox" name="Depressed" id="Depressed" ng-false-value="" ng-true-value="'Depressed'" ng-model="Depressed"> Depressed</label><br>
              </div>

              <div class="col-sm-2">
                <label>5&nbsp;&nbsp;<input type="checkbox" name="Disoriented" id="Disoriented" ng-false-value="" ng-true-value="'Disoriented'" ng-model="Disoriented"> Disoriented</label><br>
                <label>6&nbsp;&nbsp;<input type="checkbox" name="Agitated" id="Agitated" ng-false-value="" ng-true-value="'Agitated'" ng-model="Agitated"> Agitated</label><br>
              </div>

              <div class="col-sm-2">
                <label>7&nbsp;&nbsp;<input type="checkbox" name="Other4" id="Other4" ng-false-value="" ng-true-value="'Other4'" ng-model="Other4"> Other</label><br>
              </div>

            </div>

          </td>
        </tr>
        <tr border="0">
          <td style="border:1px solid #000;border-left:1px solid #000;" colspan="6">
            
            <b>20. Prognosis: </b><br>
            <div class="padding-content row">

              <div class="col-sm-2">
                <label><input type="checkbox" name="Prognosis" id="Poor" ng-true-value="'Poor'" ng-model="Prognosis"> Poor</label>
              </div>

              <div class="col-sm-2">
                <label><input type="checkbox" name="Prognosis" id="Guarded" ng-true-value="'Guarded'" ng-model="Prognosis"> Guarded</label>
              </div>

              <div class="col-sm-2">
                <label><input type="checkbox" name="Prognosis" id="Fair" ng-true-value="'Fair'" ng-model="Prognosis"> Fair</label>
              </div>

              <div class="col-sm-2">
                <label><input type="checkbox" name="Prognosis" id="Good" ng-true-value="'Good'" ng-model="Prognosis"> Good</label>
              </div>

              <div class="col-sm-2">
                <label><input type="checkbox" name="Prognosis" id="Excellent" ng-true-value="'Excellent'" ng-model="Prognosis"> Excellent</label>
              </div>

            </div>

          </td>
          <td style="border:1px solid #000;border-left:1px solid #000;" colspan="6">
            
            <b>Rehab Potential: </b><br>
            <div class="padding-content row">
                
              <div class="col-sm-2">
                <label><input type="checkbox" name="rehab" id="por" ng-true-value="'Poor'" ng-model="rehab"> Poor</label>
              </div>

              <div class="col-sm-2">
                <label><input type="checkbox" name="rehab" id="grd" ng-true-value="'Guarded'" ng-model="rehab"> Guarded</label>
              </div>

              <div class="col-sm-2">
                <label><input type="checkbox" name="rehab" id="fr" ng-true-value="'Fair'" ng-model="rehab"> Fair</label>
              </div>

              <div class="col-sm-2">
                <label><input type="checkbox" name="rehab" id="gd" ng-true-value="'Good'" ng-model="rehab"> Good</label>
              </div>

              <div class="col-sm-2">
                <label><input type="checkbox" name="rehab" id="ex" ng-true-value="'Excellent'" ng-model="rehab"> Excellent</label>
              </div>

            </div>

          </td>
        </tr>
        <tr border="0">
          <td style="border-left:1px solid #000;border-right:1px solid #000;border-bottom:none;vertical-align:top" colspan="12" height="110px">
            
            <b>21. Orders for Discipline and Treatments (Specify Amount/Frequency/Duration)</b><br>
            <span class="padding-content">Physician’s Orders<br></span>
            <span class="padding-content">SN: {{mdsn}} <br></span>
            <span class="padding-content">HHA: {{txtpatientzipcode}}<br></span>

            <div class="padding-content">
              <label> PT: Evaluation 	[unless PT has submitted completed evaluation with frequency and duration of visits] : <span>{{ept}}</span> </label><br>
              <label> OT: Evaluation 		[unless OT has submitted completed evaluation with frequency and duration of visits] : <span>{{ote}}</span> </label><br>
              <label> ST: Evaluation 	[unless ST has submitted completed evaluation with frequency and duration of visits] : <span>{{ste}}</span> </label><br>
              <label> MSW: Evaluation 		[unless MSW has submitted completed evaluation with frequency and duration of visits] : <span>{{msw}}</span> </label> <br>
            </div>

            <span class="padding-content">Physician's Name and Specialty: {{pns}}<br></span>
            <span class="padding-content">Pertinent Secondary Diagnosis: {{psd}}</span>
            
          </td>
        </tr>
        <tr border="0">
          <td style="border-left:1px solid #000;border-right:1px solid #000;border-bottom:none;border-top:none;vertical-align:top" colspan="12" height="110px">
            <!-- <span ng-show="md!==null">1.	Notify MD if SBP greater than {{sbp}} or less than {{lt}} DBP greater than {{dbp}} or less than {{olt}} [determined by the MD and required for all cardiovascular and hypertensive patients].</span>
            <span ng-show="pgt!==null">2. Pulse greater than {{gtr}} or less than {{les}} [determined by the MD and required for all cardiovascular/respiratory patients].</span>
            <span ng-show="rgt!==null">3. Respirations greater than {{grt}} or less than {{ls}} [determined by the MD and required for all cardiovascular/respiratory patients].</span>
            <span ng-show="tem!==null">4. Temp greater than {{tgt}} [determined by the MD and required for all patient’s with an infection].</span>
            <span ng-show="eig!==null">5. Daily weight, notify MD if weight gain greater than {{ggt}} lbs in {{lbsi}} hours/days/weeks [determined by MD & required for all patients with CHF].</span>
            <span ng-show="bsf!==null">6.Monitor Blood sugars (frequency) {{mbs}} notify MD if blood sugar greater than {{bsg}} or less than {{orlt}} [determined by MD &required for all diabetics].</span>
            <span ng-show="ypp!==null">7. Teach patient to take/monitor: BP: {{tbp}}, Pulse: {{pls}}, Weight: {{ght}}</span>
            <span ng-show="sn!==null">8. The SN will instruct the patient/caregiver regarding an emergency plan in the event (check appropriate interventions for the patient) of natural disaster (i.e. earthquake, flood, wildfire), home fire, evacuation, power outage, one weeks worth of medications {{wwm}}; insulin and necessary supplies {{ians}}; back up oxygen {{oxy}}; SVN treatments {{svn}}; wound care supplies {{wcs}}; G-tube supplies, feedings and extra G-tube {{tsf}}; Foley catheter supplies and extra catheter {{eth}}; IV medications, tubing, solution; emergency phone list of physicians, family members, home health agency {{hha}}: shelters X.</span> -->

            <div class="padding-content">
              <!-- <br>Skilled Assessment<br> -->
              <span ng-show="md!==null">{{md}}<br></span>
              <span ng-show="pgt!==null">{{pgt}}<br></span>
              <span ng-show="rgt!==null">{{rgt}}<br></span>
              <span ng-show="tem!==null">{{tem}}<br></span>
              <span ng-show="eig!==null">{{eig}}<br></span>
              <span ng-show="bsf!==null">{{bsf}}<br></span>
              <span ng-show="ypp!==null">{{ypp}}<br></span>
              <span ng-show="sn!==null">{{sn}}<br></span>
              <!--lab work-->
              <span ng-show="ven!==null">{{ven}}<br></span>
              <span ng-show="idt!==null">{{idt}}<br></span>
              <!--IV med-->
              <span ng-show="snw!==null">The SN will administer: {{snw}}<br></span>
              <span ng-show="dos!==null">Dosage: {{dos}}<br></span>
              <span ng-show="rtm!==null">Route IM: {{rtm}}<br></span>
              <span ng-show="hickman!==null">Hickman Catheter: {{hickman}}<br></span>
              <span ng-show="ggc!==null">Groshong Catheter: {{ggc}}<br></span>
              <span ng-show="picc!==null">PICC line: {{picc}}<br></span>
              <span ng-show="perl!==null">Peripheral line: {{perl}}<br></span>
              <span ng-show="ptc!==null">Porta Cath: {{ptc}}<br></span>
              <span ng-show="frq!==null">Frequency: {{frq}}<br></span>
              <span ng-show="lot!==null">Length of time: {{lot}} (# of days/weeks)<br></span>
              <span ng-show="alf!==null">{{alf}}<br></span>
              <span ng-show="flw!==null">{{flw}}<br></span>
              <span ng-show="adm!==null">{{adm}}<br></span>
              <span ng-show="flusw!==null">{{flusw}}<br></span>
              <span ng-show="cpic!==null">{{cpic}}<br></span>
              <span ng-show="dpt!==null">{{dpt}}<br></span>
              <span ng-show="ipc!==null">{{ipc}}<br></span>
              <span ng-show="piu!==null">{{piu}}<br></span>
              <span ng-show="infec!==null">{{infec}}<br></span>
              <span ng-show="othr!==null">{{othr}}<br></span>
              <!--pain management-->
              <span ng-show="tsnw!==null">{{tsnw}}<br></span>
              <span ng-show="willm!==null">{{willm}}<br></span>
              <span ng-show="snin!==null">{{snin}}<br></span>
              <span ng-show="inth!==null">{{inth}}<br></span>
              <span ng-show="inst!==null">{{inst}}<br></span>
              <span ng-show="otreh!==null">{{otreh}}<br></span>
              <span ng-show="moni!==null">{{moni}}<br></span>
              <span ng-show="tor!==null">{{tor}}<br></span>
              <!--wound care-->
              <span ng-show="wo!==null">{{wo}}<br></span>
              <span ng-show="wu!==null">{{wu}}<br></span>
              <span ng-show="wn!==null">{{wn}}<br></span>
              <span ng-show="wd!==null">{{wd}}<br></span>
              <span ng-show="mea!==null">{{mea}}<br></span>
              <span ng-show="ase!==null">{{ase}}<br></span>
              <span ng-show="noti!==null">{{noti}}<br></span>
              <span ng-show="tru!==null">{{tru}}<br></span>
              <span ng-show="ent!==null">{{ent}}<br></span>
              <span ng-show="reg!==null">{{reg}}<br></span>
              <!--musculosketal-->
              <span ng-show="rela!==null">Related to {{rela}}<br></span>
              <span ng-show="instr!==null">{{instr}}<br></span>
              <span ng-show="Asses!==null">{{Asses}}<br></span>
              <span ng-show="pasn!==null">{{pasn}}<br></span>
              <span ng-show="car!==null">{{car}}<br></span>
              <span ng-show="gac!==null">{{gac}}<br></span>
              <span ng-show="reg!==null">{{reg}}<br></span>
              <!--renal-->
              <span ng-show="atr!==null">Related to {{atr}}<br></span>
              <span ng-show="mess!==null">{{mess}}<br></span>
              <span ng-show="snwl!==null">{{snwl}}<br></span>
              <span ng-show="fole!==null">{{fole}}<br></span>
              <span ng-show="patie!==null">{{patie}}<br></span>
              <span ng-show="regis!==null">{{regis}}<br></span>
              <span ng-show="ual!==null">{{ual}}<br></span>
              <span ng-show="equa!==null">{{equa}}<br></span>
              <span ng-show="ien!==null">{{ien}}<br></span>
              <span ng-show="ete!==null">{{ete}}<br></span>
              <span ng-show="ets!==null">{{ets}}<br></span>
              <span ng-show="uti!==null">{{uti}}<br></span>
              <span ng-show="rit!==null">{{rit}}<br></span>
              <!--cardio-->
              <span ng-show="ess!==null">{{ess}}<br></span>
              <span ng-show="gic!==null">{{gic}}<br></span>
              <span ng-show="era!==null">{{era}}<br></span>
              <span ng-show="cha!==null">{{cha}}<br></span>
              <span ng-show="fib!==null">{{fib}}<br></span>
              <span ng-show="mdo!==null">{{mdo}}<br></span>
              <span ng-show="dix!==null">{{dix}}<br></span>
              <span ng-show="pos!==null">{{pos}}<br></span>
              <span ng-show="itr!==null">{{itr}}<br></span>
              <span ng-show="mpl!==null">{{mpl}}<br></span>
              <span ng-show="ars!==null">{{ars}}<br></span>
              <span ng-show="equs!==null">{{equs}}<br></span>
              <!--NEURO-->
              <span ng-show="ida!==null">Related to {{ida}}<br></span>
              <span ng-show="hgr!==null">{{hgr}}<br></span>
              <span ng-show="patg!==null">{{patg}}<br></span>
              <span ng-show="cgp!==null">{{cgp}}<br></span>
              <span ng-show="regt!==null">{{regt}}<br></span>
              <span ng-show="regi!==null">{{regi}}<br></span>
              <span ng-show="ses!==null">{{ses}}<br></span>
              <span ng-show="mana!==null">{{mana}}<br></span>
              <span ng-show="eff!==null">{{eff}}<br></span>
              <span ng-show="relt!==null">{{relt}}<br></span>
              <span ng-show="icat!==null">{{icat}}<br></span>
              <!--ENDOCRINE-->
              <span ng-show="end!==null">Related to {{end}}<br></span>
              <span ng-show="isn!==null">{{isn}}<br></span>
              <span ng-show="tin!==null">{{tin}}<br></span>
              <span ng-show="rat!==null">{{rat}}<br></span>
              <span ng-show="chg!==null">{{chg}}<br></span>
              <span ng-show="repl!==null">{{repl}}<br></span>
              <span ng-show="admi!==null">{{admi}}<br></span>
              <span ng-show="tsr!==null">{{tsr}}<br></span>
              <span ng-show="ind!==null">{{ind}}<br></span>
              <span ng-show="dia!==null">{{dia}}<br></span>
              <span ng-show="ret!==null">{{ret}}<br></span>
              <span ng-show="adg!==null">{{adg}}<br></span>
              <span ng-show="prs!==null">{{prs}}<br></span>
              <span ng-show="sug!==null">{{sug}}<br></span>
              <!--RESPIRATORY-->
              <span ng-show="nst!==null">Related to{{nst}}<br></span>
              <span ng-show="ruc!==null">{{ruc}}<br></span>
              <span ng-show="hec!==null">{{hec}}<br></span>
              <span ng-show="merg!==null">{{merg}}<br></span>
              <span ng-show="ner!==null">{{ner}}<br></span>
              <span ng-show="oni!==null">{{oni}}<br></span>
              <span ng-show="cas!==null">{{cas}}<br></span>
              <span ng-show="cti!==null">{{cti}}<br></span>
              <span ng-show="quf!==null">{{quf}}<br></span>
              <!--GASTROINTESTINAL-->
              <span ng-show="adp!==null">{{adp}}<br></span>
              <span ng-show="nuk!==null">{{nuk}}<br></span>
              <span ng-show="nau!==null">{{nau}}<br></span>
              <span ng-show="prl!==null">{{prl}}<br></span>
              <span ng-show="occ!==null">{{occ}}<br></span>
              <span ng-show="mkd!==null">{{mkd}}<br></span>
              <span ng-show="siu!==null">{{siu}}<br></span>
              <span ng-show="tio!==null">{{tio}}<br></span>

            </div>

          </td>
        </tr>
        <tr border="0">
          <td style="border:1px solid #000;border-top:1px solid #000" height="100px"colspan="12">
            
            <b>22. Goals/Rehabilitation Potential/Discharge Plans</b> <br>
            <div class="padding-content">
              <!--skilled assessment-->
              <span ng-show="vs!==null">{{vs}}<br></span>
              <span ng-show="tpc!==null">{{tpc}}<br></span>
              <span ng-show="pcw!==null">{{pcw}}<br></span>
              <span ng-show="pc!==null">{{pc}}<br></span>
              <!--lab work-->
              <span ng-show="ntt!==null">{{ntt}}<br></span>
              <!--IV med-->
              <span ng-show="tpi!==null">{{tpi}}<br></span>
              <span ng-show="tpcr!==null">{{tpcr}}<br></span>
              <span ng-show="othh!==null">{{othh}}<br></span>
              <!--pain management-->
              <span ng-show="tpp!==null">{{tpp}}<br></span>
              <span ng-show="pati!==null">{{pati}}<br></span>
              <span ng-show="careg!==null">{{careg}}<br></span>
              <span ng-show="twil!==null">{{twil}}<br></span>
              <!--wound care-->
              <span ng-show="dec!==null">{{dec}}<br></span>
              <span ng-show="comp!==null">{{comp}}<br></span>
              <span ng-show="fr!==null">{{fr}}<br></span>
              <span ng-show="ovr!==null">{{ovr}}<br></span>
              <span ng-show="verw!==null">{{verw}}<br></span>
              <span ng-show="dem!==null">{{dem}}<br></span>
              <!--musculosketal-->
              <span ng-show="ble!==null">{{ble}}<br></span>
              <span ng-show="balo!==null">{{balo}}<br></span>
              <span ng-show="stra!==null">{{stra}}<br></span>
              <span ng-show="cto!==null">{{cto}}<br></span>
              <!--renal-->
              <span ng-show="patc!==null">{{patc}}<br></span>
              <span ng-show="pcg!==null">{{pcg}}<br></span>
              <span ng-show="rem!==null">{{rem}}<br></span>
              <span ng-show="mai!==null">{{mai}}<br></span>
              <span ng-show="tyr!==null">{{tyr}}<br></span>
              <span ng-show="patc!==null">{{patc}}<br></span>
              <!--cardio-->
              <span ng-show="tpa!==null">{{tpa}}<br></span>
              <span ng-show="verp!==null">{{verp}}<br></span>
              <span ng-show="chp!==null">{{chp}}<br></span>
              <span ng-show="patp!==null">{{patp}}<br></span>
              <span ng-show="bls!==null">{{bls}}<br></span>
              <span ng-show="pab!==null">{{pab}}<br></span>
              <span ng-show="demd!==null">{{demd}}<br></span>
              <span ng-show="alig!==null">{{alig}}<br></span>
              <span ng-show="trp!==null">{{trp}}<br></span>
              <!--nero-->
              <span ng-show="carg!==null">{{carg}}<br></span>
              <span ng-show="spa!==null">{{spa}}<br></span>
              <span ng-show="emo!==null">{{emo}}<br></span>
              <span ng-show="onsa!==null">{{onsa}}<br></span>
              <span ng-show="rba!==null">{{rba}}</span>
              <span ng-show="neu!==null">{{neu}}<br></span>
              <!--ENDOCRINE-->
              <span ng-show="cgl!==null">{{cgl}}<br></span>
              <span ng-show="wpa!==null">{{wpa}}<br></span>
              <span ng-show="ves!==null">{{ves}}<br></span>
              <span ng-show="dst!==null">{{dst}}<br></span>
              <span ng-show="ont!==null">{{ont}}<br></span>
              <span ng-show="goos!==null">{{goos}}<br></span>
              <span ng-show="dis!==null">{{dis}}<br></span>
              <span ng-show="clus!==null">{{clus}}<br></span>
              <span ng-show="neu!==null">{{neu}}<br></span>
              <!--RESPIRATORY-->
              <span ng-show="cta!==null">{{cta}}<br></span>
              <span ng-show="ems!==null">{{ems}}<br></span>
              <span ng-show="rats!==null">{{rats}}<br></span>
              <span ng-show="dto!==null">{{dto}}<br></span>
              <span ng-show="liz!==null">{{liz}}<br></span>
              <span ng-show="egi!==null">{{egi}}<br></span>
              <!--GASTROINTESTINAL-->
              <span ng-show="wli!==null">{{wli}}<br></span>
              <span ng-show="mon!==null">{{mon}}<br></span>
              <span ng-show="prd!==null">{{prd}}<br></span>
              <span ng-show="icl!==null">{{icl}}<br></span>
              <span ng-show="ipa!==null">{{ipa}}<br></span>

            </div>

            <!--DISCHARGE-->
            Discharge to self {{sel}} caregiver {{givs}} with follow-up by physician when goals are met
              {{mesa}}; Wounds are healed {{sef}}; patient/caregiver is independent in caring for {{zop}} (identify ie: wounds, diabetes, cardiovascular  disease, COPD, oxygen use, etc}; Medical condition is stable
              {{zoy}};

          </td>
        </tr>
        <tr border="0">
          <td style="border-left:1px solid #000;border-bottom:1px solid #000;vertical-align:top" colspan="8" height="40px">
            
            <b>23. Nurse's Signature and Date of Verbal SOC Where Applicable:</b>

          </td>
          <td style="border-left:1px solid #000;border-bottom:1px solid #000;border-right:1px solid #000;vertical-align:top" colspan="4">
            
            <b>25. Date HHA Received Signed POT</b>
          
          </td>
        </tr>
        <tr border="0">
          <td style="border-left:1px solid #000;vertical-align:top" colspan="6">
            
            <b>24. Physician's Name and Address</b>
          
          </td>
          <td style="border-left:1px solid #000;border-bottom:1px solid #000;border-right:1px solid #000;vertical-align:top" colspan="6" rowspan="5">
            
            <b>26. Physician Certification Statement</b>
            <p> I {{ CERTPERIOD.indexof(admit.SOCDATE) !== -1 ? "certify" : "recertify" }} that this patient is confined to his/her home and needs
                intermittent skilled nursing care, physical therapy and/or speech therapy or
                continues to need occupational therapy. The patient is under my care, and I have
                authorized services on this plan of care and will periodically review the plan. </p>
          
          </td>
        </tr>

        <tr>
          <td style="border-left:1px solid #000;" colspan="6">
              <span class="padding-content" ng-if="!DOCTOR.FNAME && !DOCTOR.LNAME && !DOCTOR.NPI && !DOCTOR.ADDRESS && !DOCTOR.PHONE && !DOCTOR.FAX && !DOCTOR.EMAIL">
                <b>N/A</b>
              </span>
              <span class="padding-content" ng-hide="!DOCTOR.FNAME && !DOCTOR.FNAME && !DOCTOR.LNAME && !DOCTOR.NPI && !DOCTOR.ADDRESS && !DOCTOR.PHONE && !DOCTOR.FAX && !DOCTOR.EMAIL">
                <b ng-if="DOCTOR.FNAME">DR. {{DOCTOR.FNAME}} {{DOCTOR.LNAME}}</b></br>
              </span>
          </td>
        </tr>

        <tr>
          <td style="border-left:1px solid #000;" colspan="2">
              <span ng-hide="!DOCTOR.FNAME && !DOCTOR.FNAME && !DOCTOR.LNAME && !DOCTOR.NPI && !DOCTOR.ADDRESS && !DOCTOR.PHONE && !DOCTOR.FAX && !DOCTOR.EMAIL">
                <span class="padding-content">NPI: <b>{{DOCTOR.NPI || 'N/A'}}</b></br></span>
              </span>
          </td>
          <td colspan="4">
              <span ng-hide="!DOCTOR.FNAME && !DOCTOR.FNAME && !DOCTOR.LNAME && !DOCTOR.NPI && !DOCTOR.ADDRESS && !DOCTOR.PHONE && !DOCTOR.FAX && !DOCTOR.EMAIL">
                <span class="padding-content">Address: <b>{{DOCTOR.ADDRESS || 'N/A'}}</b></br></span>
              </span>
          </td>
        </tr>

        <tr>
          <td style="border-left:1px solid #000;" colspan="2">
              <span ng-hide="!DOCTOR.FNAME && !DOCTOR.FNAME && !DOCTOR.LNAME && !DOCTOR.NPI && !DOCTOR.ADDRESS && !DOCTOR.PHONE && !DOCTOR.FAX && !DOCTOR.EMAIL">
                <span class="padding-content">Phone: <b>{{(DOCTOR.PHONE | tel) || 'N/A'}}</b></br></span>
              </span>
          </td>
          <td colspan="4">
              <span ng-hide="!DOCTOR.FNAME && !DOCTOR.FNAME && !DOCTOR.LNAME && !DOCTOR.NPI && !DOCTOR.ADDRESS && !DOCTOR.PHONE && !DOCTOR.FAX && !DOCTOR.EMAIL">
                <span class="padding-content">Fax: <b>{{DOCTOR.FAX || 'N/A'}}</b></br></span>
              </span>
          </td>
        </tr>

        <tr>
          <td style="border-left:1px solid #000;border-bottom:1px solid #000;" colspan="6">
              <span ng-hide="!DOCTOR.FNAME && !DOCTOR.FNAME && !DOCTOR.LNAME && !DOCTOR.NPI && !DOCTOR.ADDRESS && !DOCTOR.PHONE && !DOCTOR.FAX && !DOCTOR.EMAIL">
                <span class="padding-content">Email: <b>{{DOCTOR.EMAIL || 'N/A'}}</b></span>
              </span>
          </td>
        </tr>

        <tr border="0">
          <td style="border-left:1px solid #000;border-bottom:1px solid #000;vertical-align:top" colspan="6">
            
            <b>27. Attending Physician's Signature and Date Signed</b>
          
          </td>
          <td style="border-left:1px solid #000;border-bottom:1px solid #000;border-right:1px solid #000" colspan="6">
            
            <b>28. Anyone who misrepresents, falsifies, or conceals essential information required for payment of Federal funds may be subject to fine, imprisionment, or civil penalty under applicable Federal laws.</b>
          
          </td>
        </tr>
        <tr border="0">
          <td style="font-size:8px;" colspan="12">

            Form CMS-485 (C-3) (02-94) (Formerly HCFA-485)(Print Aligned)

          </td>
        </tr>
      </table>
    </section>
    </fieldset>
  </form>
</div>

<div class="right-menu">
  <expanded-nav></expanded-nav>
</div>
