#view-plan-of-care {
  overflow: hidden;
  position: relative;
  background: #FFF;
  margin-left: 370px;
  padding-top: 60px;
  form {
    // width: 75%;
    float: left;
    // margin-top: 60px;
    padding: 15px;
    // margin-left: 360px;
    td {
      padding:2px;
    }
    label {
      font-weight: normal;
    }
  }
  .create-bar {
    // right: 0px;
    // left: 270px;
    // position: fixed;
    background: #FFF;
    font-size: 30px;
    height: 60px;
    padding: 12px 0;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    button {
      margin: 0 10px;
      float: right;
    }
    .back {
      float:left;
      margin-top: -3px;
    }
    .title {
      float:left;
    }
    i {
      margin-right: 10px;
      font-size: 15px;
      text-decoration: none;
      border-right: 1px solid lightgrey;
      padding: 8px 15px 8px 0px;
    }
  }

  // Ivan added : content of each field
  .padding-content {
    padding-left: 13px;
  }

  input[type=checkbox] {
    transform: scale(1.2) !important;
  }
}
