<div id="calendar" style="padding:20px">
  <!-- <div class="header" style="">
    <i class="fa fa-angle-left" ng-click="previous()"></i>Previous

    Next<i class="fa fa-angle-right" ng-click="next()"></i>
  </div> -->


  <div class="date-title">
      <div class="week-title"><span>w</span></div>
      <div class="date">Sun</div>
      <div class="date">Mon</div>
      <div class="date">Tue</div>
      <div class="date">Wed</div>
      <div class="date">Thu</div>
      <div class="date">Fri</div>
      <div class="date">Sat</div>
  </div>
  <div ng-repeat="week in weeks" class="week">
    <span ng-show="episode.startDate !== null">Week {{$index+1}}</span>
    <div class="day" ng-class="{ today: day.isToday, episode: day.isEpisode, firstFiveDays: day.isFirstFiveDays, lastFiveDays: day.isLastFiveDays, notEpisode: !day.isEpisode, selected: day.date.isSame(selected), patientTransferred:day.patientTransferred }" ng-click="select(day); newVisit(selected, $event)" ng-repeat="day in week.days">
      <div class="day-wrapper">
        <div ng-if="day.number === 1" class="month">
          {{day.date.format("MMM")}}
        </div>
        <div class="num" ng-class="{'month': day.number === 1, today:day.isToday}">{{day.number}}</div>
      </div>
      <div class="task" >
        <button ng-class="{'highlight': hightlightVisit===visit.KEYID}"  ng-if="day.visits.length > 0" ng-repeat="visit in day.visits" ng-click="viewVisit(visit, $event);$event.stopPropagation()">
          <div ng-repeat="visitType in visitTypes">
            <div ng-if="visitType.KEYID===visit.VISITTYPE">
              {{visitType.DESC | limitTo: 10 }}{{visitType.DESC.length > 10 ? '&hellip;' : ''}}
            </div>
          </div>
        </button>
      </div>
    </div>
</div>

  <!-- {{selected}}
<div ng-repeat="visit in visits">{{visit}}</div> -->
