
<div class="head-bar">
  <div class="col-md-12">
    <div class="title">
      <span class="fa fa-file-text fa-lg"></span><h3>Skilled Nursing Note</h3>
    </div>
    <ul>
      <li><span class="fa fa-pencil"></span></li>
      <li><span class="fa fa-ellipsis-v"></span></li>
    </ul>
    <div class="head-bar-info">
      <ul>
        <li>ASSIGNED TO </br>
          <span ng-if="assignTo == null || assignTo == ''">Not Assigned</span>
          <span>{{assignTo}}</span>
        </li>
        <li>STATUS </br>
          <span ng-if="taco == null || taco == ''">No Status</span>
          <span>{{taco}}</span>
        </li>
        <li>DUE DATE </br>
          <span ng-if="dueDate == null || dueDate == ''">Not Assigned</span>
          <span>{{dueDate | date:format:timezone}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="form-background">
  <div class="row">
    <div class="col-md-12" style="background:#FFF;height:500px;padding:10px 40px 20px">
      <h3 style="margin-bottom:30px;"><span class="fa fa-heart" style="color:red; margin-right:10px"></span><b>Cardiovascular</b></h3>
      <div class="row">
        <div class="col-md-3">
          <b>Palipitation</b>
        </div>
        <div class="col-md-5">
          Add details
        </div>
      </div>
      <hr style="width:80%;margin-left:0">
      <div class="row">
        <div class="col-md-3">
          <b>Palipitation</b>
        </div>
        <div class="col-md-5">
          Add details
        </div>
      </div>
      <hr style="width:80%;margin-left:0">
      <div class="row">
        <div class="col-md-3">
          <b>Palipitation</b>
        </div>
        <div class="col-md-5">
          Add details
        </div>
      </div>
      <hr style="width:80%;margin-left:0">
    </div>
  </div>
</div>
