<div id="expanedNav">
  <div class="menu-headline">
    <!-- {{patient.FNAME}} -->
    {{ patient.FNAME + ' ' + patient.LNAME | limitTo: 15 }}{{(patient.FNAME + ' ' + patient.LNAME).length > 15 ? '&hellip;' : ''}}
  </div>
  <div class="menu-notification compliant" ng-if="pendingStatus(selectedPatient.status)">
    Pending - Day 2 of 5
  </div>
  <ul class="menu">
    <!-- <li class="sub-menu" style="text-align:right;border-top:none" ng-click="closeNav()"><a ref="#"><i class="fa fa-angle-double-left fa-fw fa-lg" aria-hidden="true"></i>BACK</li> -->
    <a ui-sref="patientDashboard"><li class="sub-menu" style=""><i class="fa fa-bar-chart fa-fw fa-lg" aria-hidden="true"></i>Overview</li>
    <a ui-sref="patientProfile"><li class="sub-menu" style=""><i class="fa fa-user fa-fw fa-lg" aria-hidden="true"></i>Intake/Profile</li>
    <a ui-sref="eligibilityCheck"><li class="sub-menu" style=""><i class="fa fa-check-square-o fa-fw fa-lg" aria-hidden="true"></i>Eligibility Check</li>
    <a ui-sref="scheduling"><li class="sub-menu"><i class="fa fa-calendar-check-o fa-fw fa-lg" aria-hidden="true"></i>Schedule</li>
    <!--show schedule sub-menu-->
    <!-- <ul class="expand" ng-show="showSchedule">
      <li class="form-section" ng-class="{ 'active' : activeForm('AssignedToMe')}" id="AssignedToMe" ng-click="nextForm(currentForm, 'AssignedToMe');">
        <i class="fa fa-user fa-fw fa-lg" aria-hidden="true"></i>Assigned to Me</li>
      <li class="form-section" ng-class="{ 'active' : activeForm('Episode1')}" id="Episode1" ng-click="nextForm(currentForm, 'Episode1');">
        <i class="fa fa-bookmark fa-fw fa-lg" aria-hidden="true"></i>Episode 1</li>
      <li class="form-section" ng-class="{ 'active' : activeForm('Calendar')}" id="Calendar" ng-click="nextForm(currentForm, 'Calendar');">
        <i class="fa fa-calendar fa-fw fa-lg" aria-hidden="true"></i>Calendar</li>
    </ul> -->
    <!--end schedule sub-menu-->
    <a ui-sref="records"><li class="sub-menu"><i class="fa fa-folder fa-fw fa-lg" aria-hidden="true"></i>Records</li>
    <!--show records sub-menu-->
    <!-- <ul class="expand" ng-show="showRecords">
      <li><i class="fa fa-star fa-fw fa-lg" aria-hidden="true"></i>History & Physical</li>
      <li ng-click="rotateNotes=!rotateNotes" ng-hide="rotateNotes">
        <i class="fa fa-caret-right fa-lg"></i><i class="fa fa-file-text-o fa-fw fa-lg" aria-hidden="true"></i>Notes</li> -->
      <!--show notes sub-menu-->
      <!-- <li ng-show="rotateNotes" ng-click="rotateNotes=!rotateNotes"><i class="fa fa-caret-down fa-lg"></i><i class="fa fa-file-text-o fa-fw fa-lg" aria-hidden="true"></i>Notes
        <ul>
          <li class="form-section" ng-class="{ 'active' : activeForm('AssignedToMe')}" id="AssignedToMe" ng-click="nextForm(currentForm, 'AssignedToMe');">
            <i class="fa fa-file-text-o fa-fw fa-lg" aria-hidden="true"></i>ABC</li>
          <li class="form-section" ng-class="{ 'active' : activeForm('Episode1')}" id="Episode1" ng-click="nextForm(currentForm, 'Episode1');">
            <i class="fa fa-file-text-o fa-fw fa-lg" aria-hidden="true"></i>ABC</li>
          <li class="form-section" ng-class="{ 'active' : activeForm('Calendar')}" id="Calendar" ng-click="nextForm(currentForm, 'Calendar');">
            <i class="fa fa-file-text-o fa-fw fa-lg" aria-hidden="true"></i>ABC</li>
        </ul>
      </li> -->
      <!--end notes sub-menu-->
      <!-- <li ng-click="rotateSOC=!rotateSOC" ng-hide="rotateSOC"><i class="fa fa-caret-right fa-lg"></i><i class="fa fa-folder fa-fw fa-lg" aria-hidden="true"></i>Start of Care Visit</li> -->
      <!--show notes sub-menu-->
      <!-- <li ng-show="rotateSOC" ng-click="rotateSOC=!rotateSOC"><i class="fa fa-caret-down fa-lg"></i><i class="fa fa-folder fa-fw fa-lg" aria-hidden="true"></i>Start of Care Visit
        <ul>
          <li class="form-section" ng-class="{ 'active' : activeForm('AssignedToMe')}" id="AssignedToMe" ng-click="nextForm(currentForm, 'AssignedToMe');">
            <i class="fa fa-file-text-o fa-fw fa-lg" aria-hidden="true"></i>ABC</li>
          <li class="form-section" ng-class="{ 'active' : activeForm('Episode1')}" id="Episode1" ng-click="nextForm(currentForm, 'Episode1');">
            <i class="fa fa-file-text-o fa-fw fa-lg" aria-hidden="true"></i>ABC</li>
          <li class="form-section" ng-class="{ 'active' : activeForm('Calendar')}" id="Calendar" ng-click="nextForm(currentForm, 'Calendar');">
            <i class="fa fa-file-text-o fa-fw fa-lg" aria-hidden="true"></i>ABC</li>
        </ul>
      </li> -->
      <!--end notes sub-menu-->
      <!-- <li><i class="fa fa-caret-right fa-lg"></i><i class="fa fa-folder fa-fw fa-lg" aria-hidden="true"></i>Intake</li>
    </ul> -->
    <!--end records sub-menu-->
    <a ui-sref="medication"><li class="sub-menu" style=""><i class="fa fa-spoon fa-fw fa-lg" aria-hidden="true"></i>Medication</li>
    <!-- <a href="#"><li class="sub-menu" style=""><i class="fa fa-dollar fa-fw fa-lg" aria-hidden="true"></i>Billing</li> -->
    <a ui-sref="tasks"><li class="sub-menu" style=""><i class="fa fa-list fa-fw fa-lg" aria-hidden="true"></i>Tasks</a></li>
    <a ui-sref="patientBilling"><li class="sub-menu" style=""><i class="fa fa-files-o fa-fw fa-lg" aria-hidden="true"></i>Cost/Rev</li>
    <a href="#"><li class="sub-menu" style=""><i class="fa fa-file-text fa-fw fa-lg" aria-hidden="true"></i>Reports</li>
    <a ui-sref="fileUpload"><li class="sub-menu" style="border-top:none"><i class="fa fa-upload fa-fw fa-lg" aria-hidden="true"></i>File Uploads</a></li>
  </ul>
  <div class="menu-notification">
    Recent Activity
  </div>
</div>
