<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#view-patient-consent" patientnavopen='true'></header-nav>
</div>

<div id="view-patient-consent" class="patient-consent">
  <div class="head-bar">
    <a ui-sref="records"><i class="fa fa-arrow-left"></i></a>
    <span ng-show="LANGUAGE==='EN'">Patient Consent</span>
    <span ng-show="LANGUAGE==='ES'">Consentimiento del paciente</span>

    <span style="font-size:12px;color:red" ng-show="form.STATUS===3 && form.ACTION !== 'qaMode'">FORM APPROVED!</span>
    <span ng-show="(form.STATUS===1 &&  form.ACTION!=='qaMode')" style="color:red;font-size:12px">View Only - form submitted to QA for review.</span>


    <div class="language-switch">
        <b>EN</b>
      <!-- Rounded switch -->
      <label class="switch" style="margin-bottom:-4px">
           <input type="checkbox" name="LANGUAGE" ng-click="changeLanguage()" ng-model="LANGUAGE" ng-init="LANGUAGE='EN'" ng-false-value="'EN'" ng-true-value="'ES'">
         <div class="slider round"></div>
      </label>
      <b>ES</b>
    </div>
  </div>

  <form name="patientConsent" novalidate id="patient-consent">
    <button type="button" class="btn btn-primary action" ng-show="form.ACTION==='qaMode'" ng-click="edit()">Edit</button>
    <button type="button" style="margin-right:60px" class="btn btn-success action" ng-show="form.ACTION==='qaMode'" ng-click="approve()">Approve</button>
    <button type="button" style="margin-right:150px" class="btn btn-danger action" ng-show="form.ACTION==='qaMode'" ng-click="reject()">Reject</button>

    <fieldset ng-disabled="true" ng-class="{'enableInput': true}">
    <!-- <button type="submit" class="btn btn-primary" ng-click="submitPatientConsent(patientConsent)">Submit</button> -->
    <!-- <button type="submit" style="margin-right:100px"class="btn btn-primary" ng-click="savePatientConsent()">Save</button> -->
    <!--english-->
    <div class="col-md-12 english" ng-class="{'show-EN': LANGUAGE==='EN'}">
      <div class="form-inline">
        <strong>Patient Name (as appears on Medicare card):</strong> {{patient.FNAME}} {{patient.LNAME}},<!-- <input type="text" class="form-control">-->   <strong>MR#:</strong> {{patient.KEYID}}<!-- <input type="text" class="form-control"> -->
      </div>
      <!--PATIENT CONSENT-->
      <div class="metric-box full-padding" ng-hide="showMoreConsent">
        <div><strong>PATIENT CONSENT/CERTIFICATION</strong></div>
        <ul >
          <li><strong>Request For Initial Assessment/Admission/Consent for Treatment</strong></li>
          <li class="no-bullet">I hereby request and agree to initial assessment and, if I am able for admission to <strong>{{agency.NAME}}</strong>
            (hereafter <strong>{{agency.SHORTNAME}}</strong>), I consent for approved personnel from the Home Health Agency to perform all necessary procedures
            and treatments ...
          </li>
          <div style="position:relative;text-align:center;margin:10px" ng-click="showMoreConsent=!showMoreConsent"><u>Read More</u></div>
        </ul>
      </div>
      <div class="metric-box full-padding" style="height:1490px" ng-show="showMoreConsent">
        <div><strong>PATIENT CONSENT/CERTIFICATION</strong></div>
        <ul>
          <li><strong>Request For Initial Assessment/Admission/Consent for Treatment</strong></li>
          <li class="no-bullet">I hereby request and agree to initial assessment and, if I am able for admission to <strong>{{agency.NAME}}</strong>
            (hereafter <strong>{{agency.SHORTNAME}}</strong>), I consent for approved personnel from the Home Health Agency to perform all necessary procedures
            and treatments ordered by my physicians for my home health care. I realize my care is directed and monitored by my
            doctor, who is neither an employee nor an agent of <strong>{{agency.SHORTNAME}}</strong>, and the <strong>{{agency.SHORTNAME}}</strong> is not liable for any act or omission when
            following the instructions of the doctor.</li>
          <li><strong>Client Rights and Responsibilities</strong></li>
          <li class="no-bullet">I understand my Rights and Responsibilities. I have received a written notice of my Rights and Responsibilities
            and the <strong>OASIS C1 Statement of Patient Privacy Act Statement</strong>, and the <strong>Notice of Privacy Practices</strong> before care was
            furnished by the staff of <strong>{{agency.SHORTNAME}}</strong>.</li>
          <li><strong>Advance Directives/Resuscitation</strong></li>
          <li class="no-bullet">I am aware that if I do not have, or fail to produce a properly executed copy of an advance directive, <strong>{{agency.SHORTNAME}}</strong>
            will obligated to perform cardiac resuscitation and call paramedics if my condition indicates a need for such
            intervention.</li>
          <li><strong>Registration of Complaints</strong></li>
          <li class="no-bullet">I agree to notify a <strong>{{agency.SHORTNAME}} Registered Nurse</strong> if I have a complaint. I understand that if the Registered Nurse
            does not resolve the complaint, I or a member of my family should register the complaint in writing to the
            Administrator. I understand that each person to whom my complaint is directed in writing must respond to the
            complaint within five (5) working days of the receipt of the written complaint.</li>
          <li><strong>Hotline</strong></li>
          <li class="no-bullet">I have been given information and instructions on <strong>{{agency.SHORTNAME}}</strong> procedures on complaint resolution. As a patient
            I understand I have the right to file a complaint with the {{hotline.name}} without being subject to discrimination or reprisal. The hotline is {{hotline.phone |tel}},
            available 24 hours/day. I understand I also have the right to use this hotline to lodge complaints concerning
            the implementation of advance directive requirements. I may also contact:</li>
        </ul>
        <div class="text-center">
          <strong>{{hotline.name}}<br>
          {{hotline.address}}</strong>
        </div>
        <ul>
          <li><strong>Authorization to Release Information</strong></li>
          <li class="no-bullet">I consent to the release of any information regarding my medical condition by any recognized health agency,
            institution or medical group/office in which I have been a patient, and I authorize the release and/or
            disclosure or any medical records or information by the preceding to <strong>{{agency.SHORTNAME}}</strong> and those involved in my care while
            admitted to {{agency.SHORTNAME}}. I understand my medical records may be revealed to federal and state accrediting bodies
            and by the Quality Management/Utilization Review Committees of <strong>{{agency.SHORTNAME}}</strong>.<br>
            <span class="form-inline">Information may not be released about <input type="text" ng-model="NOINFORMATIONRELEASEABOUT" class="form-control information"></span></br>
            <span class="form-inline">Information may not be released to <input type="text" ng-model="NOINFORMATIONRELEASETO" class="form-control information"></span></li>
          <li><strong>Payment Request/Assignment of Benefits</strong></li>
          <li class="no-bullet">I certify that all Medicare, HMO, Medicaid, or any other health care payment
            information given to <strong>{{agency.SHORTNAME}}</strong> is true and accurate and I authorize <strong>{{agency.SHORTNAME}}</strong> to request
            payment on my behalf. I authorize the release of any and all records that may be
            required to secure payment. I understand I must notify <strong>{{agency.SHORTNAME}}</strong> immediately of any changes
            in my medical coverage including Medicare and Medicaid. I also understand that if I
            change insurance coverage while under the care of <strong>{{agency.SHORTNAME}}</strong> I will responsible for any
            changes not covered as a result of the change in coverage. I hereby authorize <strong>{{agency.SHORTNAME}}</strong>
            to use and/or disclose my health information for treatment, payment, or health care
            operations and coordinations.</li>
          <li><strong>Medicare Patients</strong></li>
          <li class="no-bullet">I understand that <strong>{{agency.SHORTNAME}}</strong> accepts all Medicare Part A and Part B as payment in full for
            all skilled nursing and rehabilitation services and that I will be notified, in advance, if
            there are any charges for medical equipment and supplies.</li>
          <li><strong>Private Insurance, HMO, Self Pay, Share of Cost, Outpatient Part B</strong></li>
          <li class="no-bullet">I am aware that I am responsible for any non-covered costs, share of cost, or co-pay in
            consideration for the services I am to receive. All reasonable attempts will be made by <strong>{{agency.SHORTNAME}}</strong>
            to collect these payments. Anticipated charges include: ${{agency.AGENCYCHARGESSN}} per 2 HR visit for SN and
            therapy services (PT, OT, ST), ${{agency.AGENCYCHARGESMSW}} per 2 HR visit for MSW, ${{agency.AGENCYCHARGESCHHA}} per 2 HR visit for CHHA.</li>
          <li><strong>Proposed Services and Frequency of Visits</strong></li>
          <li class="no-bullet">I have been actively involved in the planning of my care with <strong>{{agency.SHORTNAME}}</strong> and I understand that the
            following services and visits will be provided if needed and approved by my doctor:
            <input type="checkbox" name="services"  ng-required="!providedServicesNursing && !providedServicesCHHA && !providedServicesPT && !providedServicesOT && !providedServicesST && !providedServicesDietician && !providedServicesMSW" ng-model="providedServicesNursing" ng-true-value="1" ng-false-value="0" style="margin-left:10px;"> Nursing
            <input type="checkbox" name="services"  ng-required="!providedServicesNursing && !providedServicesCHHA && !providedServicesPT && !providedServicesOT && !providedServicesST && !providedServicesDietician && !providedServicesMSW" ng-model="providedServicesCHHA" ng-true-value="1" ng-false-value="0" style="margin-left:10px;"> CHHA
            <input type="checkbox" name="services"  ng-required="!providedServicesNursing && !providedServicesCHHA && !providedServicesPT && !providedServicesOT && !providedServicesST && !providedServicesDietician && !providedServicesMSW" ng-model="providedServicesPT" ng-true-value="1" ng-false-value="0" style="margin-left:10px;"> PT
            <input type="checkbox" name="services"  ng-required="!providedServicesNursing && !providedServicesCHHA && !providedServicesPT && !providedServicesOT && !providedServicesST && !providedServicesDietician && !providedServicesMSW" ng-model="providedServicesOT" ng-true-value="1" ng-false-value="0" style="margin-left:10px;"> OT
            <input type="checkbox" name="services"  ng-required="!providedServicesNursing && !providedServicesCHHA && !providedServicesPT && !providedServicesOT && !providedServicesST && !providedServicesDietician && !providedServicesMSW" ng-model="providedServicesST" ng-true-value="1" ng-false-value="0" style="margin-left:10px;"> ST
            <input type="checkbox" name="services"  ng-required="!providedServicesNursing && !providedServicesCHHA && !providedServicesPT && !providedServicesOT && !providedServicesST && !providedServicesDietician && !providedServicesMSW" ng-model="providedServicesDietician" ng-true-value="1" ng-false-value="0" style="margin-left:10px;"> Dietitian
            <input type="checkbox" name="services"  ng-required="!providedServicesNursing && !providedServicesCHHA && !providedServicesPT && !providedServicesOT && !providedServicesST && !providedServicesDietician && !providedServicesMSW" ng-model="providedServicesMSW" ng-true-value="1" ng-false-value="0" style="margin-left:10px;"> MSW
          </li>
          <div class="field-error" ng-show="patientConsent.services.$touched && patientConsent.services.$invalid || patientConsent.services.$invalid && patientConsent.$submitted">At least one service is required.</div>
          <li><strong>Advance Directives</strong></li>
          <li class="no-bullet">
            <table>
              <tr>
                <td>I have completed an Advance Directive </td>
                <td><input type="radio" name="COMPLETEDADVANCEDIRECTIVES" ng-required="!COMPLETEDADVANCEDIRECTIVES && !DONOTKNOWADVANCEDIRECTIVES" ng-model="COMPLETEDADVANCEDIRECTIVES" ng-value="1"> Yes </td>
                <td><input type="radio" name="COMPLETEDADVANCEDIRECTIVES" ng-required="!COMPLETEDADVANCEDIRECTIVES && !DONOTKNOWADVANCEDIRECTIVES" ng-model="COMPLETEDADVANCEDIRECTIVES" ng-value="2"> No </td>
                <td class="field-error" ng-show="patientConsent.COMPLETEDADVANCEDIRECTIVES.$touched && patientConsent.COMPLETEDADVANCEDIRECTIVES.$invalid || patientConsent.COMPLETEDADVANCEDIRECTIVES.$invalid && patientConsent.$submitted">Please select one or select checkbox below.</td>
              </tr>
              <tr>
                <td>I have Durable Power of Attorney for Health Care </td>
                <td><input type="radio" name="DURABLEPOWEROFATTORNEY" ng-required="!DURABLEPOWEROFATTORNEY && !DONOTKNOWADVANCEDIRECTIVES" ng-model="DURABLEPOWEROFATTORNEY" ng-value="1"> Yes </td>
                <td><input type="radio" name="DURABLEPOWEROFATTORNEY" ng-required="!DURABLEPOWEROFATTORNEY && !DONOTKNOWADVANCEDIRECTIVES" ng-model="DURABLEPOWEROFATTORNEY" ng-value="2"> No </td>
                <td class="field-error" ng-show="patientConsent.DURABLEPOWEROFATTORNEY.$touched && patientConsent.DURABLEPOWEROFATTORNEY.$invalid || patientConsent.DURABLEPOWEROFATTORNEY.$invalid && patientConsent.$submitted">Please select one or select checkbox below.</td>
              </tr>
              <tr>
                <td>I have a Living Will </td>
                <td><input type="radio" name="LIVINGWILL" ng-required="!LIVINGWILL && !DONOTKNOWADVANCEDIRECTIVES" ng-model="LIVINGWILL" ng-value="1"> Yes </td>
                <td><input type="radio" name="LIVINGWILL" ng-required="!LIVINGWILL && !DONOTKNOWADVANCEDIRECTIVES" ng-model="LIVINGWILL" ng-value="2"> No </td>
                <td class="field-error" ng-show="patientConsent.LIVINGWILL.$touched && patientConsent.LIVINGWILL.$invalid || patientConsent.LIVINGWILL.$invalid && patientConsent.$submitted">Please select one or select checkbox below.</td>
              </tr>
              <tr>
                <td>I have a Do Not Resuscitate Directive </td>
                <td><input type="radio" name="DONOTRESUSCITATE" ng-required="!DONOTRESUSCITATE && !DONOTKNOWADVANCEDIRECTIVES" ng-model="DONOTRESUSCITATE" ng-value="1"> Yes </td>
                <td><input type="radio" name="DONOTRESUSCITATE" ng-required="!DONOTRESUSCITATE && !DONOTKNOWADVANCEDIRECTIVES" ng-model="DONOTRESUSCITATE" ng-value="2"> No </td>
                <td class="field-error" ng-show="patientConsent.DONOTRESUSCITATE.$touched && patientConsent.DONOTRESUSCITATE.$invalid || patientConsent.DONOTRESUSCITATE.$invalid && patientConsent.$submitted">Please select one or select checkbox below.</td>
              </tr>
            </table>
          </li>
          <li class="no-bullet form-inline">Other (explain)<input type="text" ng-model="OTHERADVANCEDIRECTIVES" class="form-control information"></li>
          <li class="no-bullet">I do not know if I have any of the above <input type="checkbox" ng-model="DONOTKNOWADVANCEDIRECTIVES" ng-true-value="1" ng-false-value="0" ng-change="directive()"></li>
          <li class="no-bullet">I understand that I must provide a copy of any of these documents in order for my wishes to be
          followed regarding my health care.</li>
          <li><strong>OASIS Privacy act Statement – Health Care Records confidentiality and retrieval</strong></li>
          <li class="no-bullet">I have been instructed and given a written notice of the Privacy Act Statement on OASIS to advice me
            of my rights, principle purposes, routine uses and what may result from my future to provide accurate
            information to complete OASIS. I have been given information on the confidentiality and the disclosure
            of my clinical records maintained by <strong>{{agency.SHORTNAME}}</strong>. I have been given information on how to retrieve and obtain
            a copy of my medical records maintained by <strong>{{agency.SHORTNAME}}</strong>.</li>
          <li>Information on Safety Information/Emergency Preparedness/Infection Control & Universal Precautions/911
            Protocol and s/s to Report to MD is given to me at initial evaluation and on an ongoing basis as needed.</li>
          <li><strong>Consent to Photograph</strong>
            <span class="field-error" ng-show="patientConsent.PHOTOGRAPH.$touched && patientConsent.PHOTOGRAPH.$invalid || patientConsent.PHOTOGRAPH.$invalid && patientConsent.$submitted">Please select one.</span>
          </li>
          <li class="no-bullet"><input type="radio" name="PHOTOGRAPH" ng-required="!PHOTOGRAPH" ng-model="PHOTOGRAPH" ng-value="1"><strong><em> I consent </em> <input type="radio" ng-required="!PHOTOGRAPH" name="PHOTOGRAPH" ng-model="PHOTOGRAPH" ng-value="2"> <em>I do not consent </em>(select one) </strong>to the
            appropriate part(s) of my body being photographed by <strong>{{agency.SHORTNAME}}</strong> personnel in order to provide supporting documentation
            to my medical condition (I understand that any photographs taken will be placed in and remain part of
            my medical record).</li>
          <li><strong>Health Insurance Portability and Accountability Act (HIPAA)</strong></li>
          <li class="no-bullet"><u>Permission to Use and Disclose Your Health Information:</u> By signing this consent, I authorize
            <strong>{{agency.SHORTNAME}}</strong> to use and/or disclose my health information for treatment, payment or health care operations. I have the
            right not to sign this consent. However, if I refuse to sign this consent, <strong>{{agency.SHORTNAME}}</strong> has the right to refuse me service.
          </li>
          <div style="position:relative;text-align:center;margin:10px" ng-click="showMoreConsent=!showMoreConsent"><u>Show Less</u></div>
        </ul>
      </div>

      <!-- PATIENT RIGHTS-->
      <div class="metric-box full-padding" ng-hide="showMoreRights">
        <div class="note"><strong>PATIENT RIGHTS<br>
          As a patient you have the following rights. {{agency.SHORTNAME}} must protect and promote the exercise of these rights.</strong>
        </div>
        <ul>
          <li><strong>{{agency.SHORTNAME}}</strong> must provide you with written notice of these rights including the <strong>OASIS Statement of Patient Privacy Rights</strong>, the
            <strong>Privacy Act Statement and Notice of Privacy Practice</strong> prior to furnishing care or during initial evaluation procedures...
          </li>
          <div style="position:relative;text-align:center;margin:10px" ng-click="showMoreRights=!showMoreRights"><u>Read More</u></div>
        </ul>
      </div>
      <div class="metric-box full-padding" style="height: 1270px" ng-show="showMoreRights">
        <div class="note"><strong>PATIENT RIGHTS<br>
          As a patient you have the following rights. {{agency.SHORTNAME}} must protect and promote the exercise of these rights.</strong>
        </div>
        <ul>
          <li><strong>{{agency.SHORTNAME}}</strong> must provide you with written notice of these rights including the <strong>OASIS Statement of Patient Privacy Rights</strong>, the
            <strong>Privacy Act Statement and Notice of Privacy Practice</strong> prior to furnishing care or during initial evaluation procedures.</li>
          <li>You have the right to be treated with consideration, respect and full recognition of dignity and individuality, be given
            appropriate and professional home health services without discrimination against your race, religion, gender, age, creed,
            marital status, political status, sexual orientation, diagnosis or source of payment, and to assured that the personnel
            who provide care are qualified through education and experience to carry out the services for which they are responsible.</li>
          <li>You have the right to receive services appropriate to your needs, and to be informed of the nature and purpose of all
            skilled and non-skilled services, technical procedures to be performed including information about the potential benefits
            and burdens as well as when and who will perform the procedures,and expect <strong>{{agency.SHORTNAME}}</strong> to provide safe, professional care at
            the required level of intensity.</li>
          <li>You have the right to receive reasonable continuity of care.</li>
          <li>You have the right to have staff communicate in a language or form you can reasonably be expected to understand
            (When possible, <strong>{{agency.SHORTNAME}}</strong> assists with or may provide special devices, interpreters, or other aids to facilitate
            communication).</li>
          <li>Your family or guardian may exercise your rights through a <strong>Durable Power of Attorney for Health Care</strong>,should you be
            unable to make them for yourself.</li>
          <li>You have the right to have your property treated with respect. </li>
          <li>You have the right to voice grievances about treatment or care that is (or fails to be) furnished, or regarding lack
            of respect for your property without reprisal or discrimination for same and be informed of the procedure to voice
            complaints/grievances with <strong>{{agency.SHORTNAME}}</strong>.</li>
          <li><strong>{{agency.SHORTNAME}}</strong> must investigate any complaints made by you, your family, or your guardian regarding any grievances you may
            have and <strong>{{agency.SHORTNAME}}</strong> must document the existence and outcome of such grievances.</li>
          <li>You have the right to be informed in advance of the care to be furnished.</li>
          <li><strong>{{agency.SHORTNAME}}</strong> must advice you in advance of the disciplines that will furnish healthcare and of the frequency of proposed visits.</li>
          <li><strong>{{agency.SHORTNAME}}</strong> must advise you of any change in the plan of care before the change is made.</li>
          <li>You have the right to participate in the planning of your care.</li>
          <li>You have the right to refuse treatment and to be advised of the consequences of such refusal. You have the right to refuse
            any experimental treatment and/or participate in research unless you give documented voluntary consent.</li>
          <li><strong>{{agency.SHORTNAME}}</strong> must inform you and provide you with written information in advance regarding its policy onAdvance Directives
            and to include a description of Nevada State law. <strong>{{agency.SHORTNAME}}</strong> will provide the information during evaluation.</li>
          <li>You have the right to have your medical records, which are maintained by <strong>{{agency.SHORTNAME}}</strong>, remain confidential. You have the right
            to approve or disapprove in writing the release of your medical records to any individual employed outside of <strong>{{agency.SHORTNAME}}</strong>.</li>
          <li><strong>{{agency.SHORTNAME}}</strong> must advise you of its policies and procedures regarding the disclosure of medical records.You or your legal
            representative has the right to obtain a copy of your medical records by giving <strong>{{agency.SHORTNAME}}</strong> three (3) days’ advance notice. You
            will be charged 40 cents per page.</li>
          <li>You have the right to be advised, before care is initiated, of the extent to which payment for <strong>{{agency.SHORTNAME}}</strong> services may be
            expected from Medicare or other sources, and the extent to which payment may be required from you.<br>
            Before initiating care, <strong>{{agency.SHORTNAME}}</strong> must inform you verbally or in writing of: <br>
            Charges for services and Durable Medical Equipment (DME) that will not be covered by Medicare<br>
            Charges for services and Durable Medical Equipment (DME) that you may have to pay</li>
          <li>You have the right to be advised verbally and in writing of any changes in the information regarding payment within
            30 days from the date <strong>{{agency.SHORTNAME}}</strong> become aware of such changes.</li>
          <li>You have the right to review a copy of {{agency.SHORTNAME}}’s Notice of Privacy Practices before signing this consent. {{agency.SHORTNAME}}’s Notice
            of Privacy Practice details how <strong>{{agency.SHORTNAME}}</strong> may use and disclose your health information. <strong>{{agency.SHORTNAME}}</strong> may amend the Notice from time
            to time.A copy of our Notice of Privacy Practice is included in your Home Chart.</li>
          <li>You have the right to request that <strong>{{agency.SHORTNAME}}</strong> restrict the use and/or disclosure of your medical records for the purpose of
            providing treatment, obtaining payment for our services, and/or conducting healthcare operations. Such requests must
            be made in writing. Please note that <strong>{{agency.SHORTNAME}}</strong> is not required to agree to any restriction you may request. If however,
            <strong>{{agency.SHORTNAME}}</strong> decides to agree on a restriction you have requested, <strong>{{agency.SHORTNAME}}</strong> must restrict its use and/or disclosure of your
            medical records in the manner described in your request. To obtain a restriction request form, please contact <strong>{{agency.SHORTNAME}}</strong>.</li>
          <li>You have the right to revoke this consent at any time. Your revocation of this consent must be in writing. If you wish
            to revoke this consent, please contact <strong>{{agency.SHORTNAME}}</strong> to obtain a revocation form. Note that your revocation of this consent will
            not be effective for disclosures <strong>{{agency.SHORTNAME}}</strong> has already made based on your prior consent. <strong>{{agency.SHORTNAME}}</strong> also reserves the right to
            refuse to provide further treatment if you revoke this consent. This consent is effective unless and until you revoke
            it in writing.</li>
          <li><strong>{{agency.SHORTNAME}}</strong> hours: {{agency.OPENDAYSANDHOURS}}. <br>
            <table>
              <tr>
                <td><strong>Administrator:</strong></td>
                <td>{{agency.ADMINISTRATOR}}</td>
              </tr>
              <tr>
                <td><strong>Address:</strong></td>
                <td>{{agency.ADDRESS1}}<br>
                    <!-- {{agency.ADDRESS2}}<br> -->
                    {{agency.CITY}}, {{agency.STATE}}</td>
              </tr>
              <tr>
                <td><strong>Phone:</strong></td>
                <td>{{agency.PHONE |tel}}</td>
              </tr>
              <tr>
                <td><strong>Fax:</strong></td>
                <td>{{agency.FAX |tel}}</td>
              </tr>
            </table>
            <strong>You may contact a representative 24 hours a day, 7 days a week, at {{agency.PHONE |tel}}.</strong>
          </li>
          <div style="position:relative;text-align:center;margin:10px" ng-click="showMoreRights=!showMoreRights"><u>Show Less</u></div>
        </ul>
      </div>

      <!-- PATIENT RESPONBILITIES-->
      <div class="metric-box full-padding" ng-hide="showMoreResponsibilities">
        <div class="note"><strong>PATIENTS RESPONSIBILITIES<br>
          As a patient you have the following responsibilities.</strong>
        </div>
        <ul>
          <li>Remain under a doctor’s care while receiving services from <strong>{{agency.SHORTNAME}}</strong>.</li>
          <li>Provide <strong>{{agency.SHORTNAME}}</strong> with complete and accurate health and OASIS information...
          <div style="position:relative;text-align:center;margin:10px" ng-click="showMoreResponsibilities=!showMoreResponsibilities"><u>Read More</u></div>
        </ul>
      </div>
      <div class="metric-box full-padding" style="height:340px" ng-show="showMoreResponsibilities">
        <div class="note"><strong>PATIENTS RESPONSIBILITIES<br>
          As a patient you have the following responsibilities.</strong>
        </div>
        <ul>
          <li>Remain under a doctor’s care while receiving services from <strong>{{agency.SHORTNAME}}</strong>.</li>
          <li>Provide <strong>{{agency.SHORTNAME}}</strong> with complete and accurate health and OASIS information.</li>
          <li>Sign the required consent prior to care being or received.</li>
          <li>Provide a safe environment for <strong>{{agency.SHORTNAME}}</strong> staff.</li>
          <li>Treat <strong>{{agency.SHORTNAME}}</strong> personnel with respect and consideration.</li>
          <li>Notify <strong>{{agency.SHORTNAME}}</strong> when you cannot keep appointments.</li>
          <li>Comply with a plan of treatment while under the care of <strong>{{agency.SHORTNAME}}</strong> and understand that non-compliance may result in
            discharge from <strong>{{agency.SHORTNAME}}</strong>.</li>
          <li>Participate in and follow your plan of care.</li>
          <li>Provide <strong>{{agency.SHORTNAME}}</strong> with a copy of Advance Directives if applicable.</li>
          <li>Provide the evaluating staff with OASIS data as mandated by Medicare and consent that <strong>{{agency.SHORTNAME}}</strong> transmit OASIS
            data to CMS (HCFA) (A copy of OASIS Statement of Privacy Rights and the Privacy Act Statement will be provided
            to you prior to start of care).
          </li>
          <div style="position:relative;text-align:center;margin:10px" ng-click="showMoreResponsibilities=!showMoreResponsibilities"><u>Show Less</u></div>
        </ul>
      </div>

      <!--SIGNATURE-->
      <div class="metric-box full-padding" style="height:300px">
        <div class="text-center"><strong><u>Patient/Legal Representative Consent/Acknowledgement</u></strong></div>
        <div><strong>My signature will serve to attest that I have received and verbalized understanding
          of information, materials (where appropriate) and on explanation of all information provided to this form.</strong>
        </div>
        <br>
      </div>
    </div>

    <!--spanish-->
    <div ng-include src="'views/forms/patientConsentES/patientConsentES.html'"></div>

    <div class="col-md-12" style="margin-top:-200px;margin-left:15px">
      <div class="form-inline note">
        <div class="col-md-6" style="padding:0">
          <strong ng-show="LANGUAGE==='EN'">Signature of Patient/Legal Representative </strong>
          <strong ng-show="LANGUAGE==='ES'">Firma del paciente/Representante Legal </strong>
          <img ng-src="{{SIGNATURE}}" style="background:lightgrey;">
        </div>
        <div class="col-md-3 col-md-offset-1">
          <strong>Date</strong><br>
          <!-- <input type="date" name="SIGNATUREDATE" required ng-model="SIGNATUREDATE" class="form-control"> -->
          <div class="input-group" style="margin:0">
            <input type="text"
                  ng-required="submitForm"
                  name="SIGNATUREDATE"
                  ng-model="SIGNATUREDATE"
                  class="form-control"
                  datepicker-options="inlineOptionsDOB"
                  uib-datepicker-popup='MM-dd-yyyy'
                  is-open="openedDate"
                  show-button-bar="false"
                  ng-click="openedDate=true"
                  datepicker-append-to-body="true"
                  placeholder="MM-DD-YYYY"
                  alt-input-formats="altInputFormats" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openedDate=true"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
        </div>
      </div>
    </div>
  </fieldset>
  </form>
</div>

<div class="right-menu">
  <expanded-nav></expanded-nav>
</div>
