<div id="landing-page">
  <div class="col-md-9">
    <span><img src="assets/images/mayalogo.png" style="width:35%"></span>
  </div>
  <div class="col-md-3">
    <div class="login">
      <div ng-hide="reset">One Account<br>All your agencies.
        <div class="action">Sign in to Maya</div>
        <form>
          <div class="form-group">
            <label for="username">Enter your username</label>
            <input type="username" class="form-control" id="username" ng-model="username" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" ng-model="password" placeholder="Password">
          </div>
          <div class="agreement">
            The information in the site is confidential. Its use is permitted by authorized personnel only and
            information contained in the system is subject to HIPPA regulations. Unauthorized or improper use of
            the system or the information in it may result in disciplinary actions including dismissal and civil
            penalties or criminal prosecution. <br />
            By clicking Sign In, you agree to our License Agreement and <a href="#">terms & conditions</a>
          </div>
          <!-- <div class="form-group">
            <label for="agreement"></label>
            <textarea rows="10" readonly class="form-control" id="agreement">The information in the site is confidential. Its use is permitted by authorized personnel only and information contained in the system is subject to HIPPA regulations. Unauthorized or improper use of the system or the information in it may result in disciplinary actions including dismissal and civil penalties or criminal prosecution. By clicking Sign In, you agree to our License Agreement and <a href="#">terms & conditions</a></textarea>
          </div> -->
          <div ng-show="incorrectLogin">Unable to log in. Please check your username and password.</div>
          <button type="submit" class="btn btn-default btn-block" ng-click="login()">Sign in</button>
          <a href="javascript:void(0)" class="reset" ng-click="reset=true">Forgot your password?</a>
        </form>
      </div>

      <!--forgot password-->
      <div class="reset" ng-show="reset">
        <div class="notice" ng-show="notice">
          A link to reset your password has been sent to your email! Click <span ng-click="reset=false; notice=false"><a>here</a></span> to log in.
        </div>
        <p>Forgot your password? Enter your email address and we'll send you a link to reset your password</p>
        <form>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
          <button type="submit" ng-click="notice=true" class="btn btn-default btn-block">Send</button>
          <a href="javascript:void(0)" class="cancel" ng-click="reset=false; notice=false">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>
