#landing-page {
  height:100%;
  a {
    text-decoration: none;
  }
  .col-md-9 {
    height: 100%;
    background: #F5F5F5;
    border-right: 10px solid #FFF;
    display: table;
    span {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: 30px;
    }
  }
  .col-md-3 {
    height: 100%;
    background: #F5F5F5;
    display: table;
    padding: 0 40px;
    .login {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: 30px;
      .action {
        font-size: 18px;
        margin: 30px 0;
      }
      .reset {
        font-size: 12px;
        text-align: left;
      }
      .notice {
        text-align: left;
        position: absolute;
        top:30%;
        font-size: 12px;
        color: #FF0000;
        span {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    form {
      font-size: 12px;
      text-align: left;
      .agreement {
        border: 1px lightgrey solid;
        padding: 10px;
        border-radius: 4px;
        text-align: justify;
        color: grey;
        font-size: 10px;
        margin-bottom: 10px;
      }
      // textarea {
      //   font-size: 9px;
      //   text-align: justify;
      // }
      button {
         background: #3498DB;
         color: #FFF;
      }
    }
  }
}
