#view-insurance {
  position: relative;
  background: #FFF;
  .head-bar {
    height: 60px;
    padding: 0 0 0 15px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .col-md-12 {
      padding-left: 0;
      padding-right: 20px;
      height: 60px;
    }
    .close {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 14px;
    }
  }
  .title {
    float: left;
    span {
      line-height: 60px;
      margin: 0 20px;
      float: left;
    }
    h3 {
      line-height: 60px;
      margin: 0;
      float: left;
    }
  }
  .form-background {
    padding:10px;
    // background-color: #F5F5F5;
  }
  .input-group {
    margin-bottom: 10px;
  }
  .input-group-addon {
    min-width:120px;
    text-align: left;
  }
  .bottom-nav {
    i {
      margin-left: 8px;
    }
    button {
      margin: 10px;
    }
  }
  .text-area-addon {
    background-color: #eee;
    border: 1px solid #ccc;
    display: block;
    width: 85%;
    padding: 5px 10px;
    border-radius: 2px;
  }
  textarea {
    resize: none;
    width: 85%;
  }
  .create-section-title {
    background: rgba(112, 102, 157, 0.08);
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
  }
  .input-field-group {
    margin-bottom: 15px;
    overflow: auto;
    margin-top: 20px;
    input[type='text'],[type='date'],[type='email'] {
      width: 80%;
    }
    select {
      width: 80%;
    }
  }
}
