<div id="view-insurance">
    <div class="head-bar">
      <div class="col-md-9">
        <div class="title">
          <span class="fa fa-tags fa-lg"></span><h3>Insurance Company Details</h3>
        </div>
      </div>
      <div class="col-md-3" style="margin-top:13px">
        <button type="" ng-click="deleteInsurance(insurance)" class="btn btn-danger">Delete</button>
      </div>
      <div ng-click="close()" class="fa fa-remove close"></div>
    </div>
    <div class="form-background">
      <div class="row">
        <form name="insuranceInformation" novalidate>
          <section class="InsuranceInformation">
            <div class="container small">
              <div class="row">
                <div class="input-field-group">
                  <div class="col-md-6">
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="NAME">* Name</span>
                        <input required type="text" name="NAME" ng-init="NAME=insurance.NAME" ng-model="NAME" class="form-control" tabindex="1" aria-describedby="NAME" maxlength="40"ng-disabled="noEdit">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="insuranceInformation.NAME.$touched && insuranceInformation.NAME.$invalid || insuranceInformation.NAME.$invalid && insuranceInformation.$submitted">Name is required.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="ADDRESS">* Address</span>
                        <input required type="text" name="ADDRESS" ng-init="ADDRESS=insurance.ADDRESS" ng-model="ADDRESS" class="form-control" tabindex="2" aria-describedby="ADDRESS" maxlength="40" ng-disabled="noEdit">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="insuranceInformation.ADDRESS.$touched && insuranceInformation.ADDRESS.$invalid || insuranceInformation.ADDRESS.$invalid && insuranceInformation.$submitted">Address is required.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="CITY">* City</span>
                        <input required type="text" name="CITY" ng-init="CITY=insurance.CITY" ng-model="CITY" class="form-control" tabindex="3" aria-describedby="CITY" maxlength="100" ng-disabled="noEdit">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="insuranceInformation.CITY.$touched && insuranceInformation.CITY.$invalid || insuranceInformation.CITY.$invalid && insuranceInformation.$submitted">City is required.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="STATE">* State</span>
                        <input required type="text" name="STATE" ng-init="STATE=insurance.STATE" ng-model="STATE" class="form-control" tabindex="4" aria-describedby="STATE" maxlength="50" ng-disabled="noEdit">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="insuranceInformation.STATE.$touched && insuranceInformation.STATE.$invalid || insuranceInformation.STATE.$invalid && insuranceInformation.$submitted">State is required.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="ZIP">* Zip</span>
                        <input required type="text" name="ZIP" ng-init="ZIP=insurance.ZIP" ng-model="ZIP" class="form-control" tabindex="5" aria-describedby="ZIP" ui-mask="99999" ui-mask-placeholder ui-mask-placeholder-char="_" ng-disabled="noEdit">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="insuranceInformation.ZIP.$touched && insuranceInformation.ZIP.$invalid || insuranceInformation.ZIP.$invalid && insuranceInformation.$submitted">Zip is required.</div>
                    </div>
                    <!-- <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="EMAIL">Email</span>
                        <input type="text" name="EMAIL" ng-init="EMAIL=insurance.EMAIL" ng-model="EMAIL" class="form-control" tabindex="6" aria-describedby="EMAIL" ng-disabled="noEdit">
                      </div>
                    </div> -->
                    <div class="col-md-12" style="margin-top:20px;">
                      <div class="input-group">
                        <span class="input-group-addon" id="TYPE">* Type</span>
                        <input required type="number" name="TYPE" ng-init="TYPE=insurance.TYPE" ng-model="TYPE" class="form-control" tabindex="7" aria-describedby="TYPE" maxlength="11" ng-disabled="noEdit">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="insuranceInformation.TYPE.$touched && insuranceInformation.TYPE.$invalid || insuranceInformation.TYPE.$invalid && insuranceInformation.$submitted">Type is required.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="CLAIMTYPE">* Claim Type</span>
                        <select required name="CLAIMTYPE" ng-init="CLAIMTYPE=insurance.CLAIMTYPE" ng-model="CLAIMTYPE" class="form-control" tabindex="8" aria-describedby="CLAIMTYPE" ng-disabled="noEdit">
                          <option value="">-Select One-</option>
                          <option value="UB04">UB-04</option>
                          <option value="HCFA">HCFA-1500</option>
                        </select>
                        <!-- <input required type="text" name="CLAIMTYPE" ng-init="CLAIMTYPE=insurance.CLAIMTYPE" ng-model="CLAIMTYPE" class="form-control" tabindex="8" aria-describedby="CLAIMTYPE" maxlength="4" ng-disabled="noEdit"> -->
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="insuranceInformation.CLAIMTYPE.$touched && insuranceInformation.CLAIMTYPE.$invalid || insuranceInformation.CLAIMTYPE.$invalid && insuranceInformation.$submitted">Claim Type is required.</div>
                    </div>
                    <div class="col-md-12" style="margin-top:20px">
                      <div class="input-group">
                        <span class="input-group-addon" id="PROVIDERID">* Provider ID</span>
                        <input required type="number" name="PROVIDERID" ng-init="PROVIDERID=insurance.PROVIDERID" ng-model="PROVIDERID" class="form-control" tabindex="9" aria-describedby="PROVIDERID" maxlength="11" ng-disabled="noEdit">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="insuranceInformation.PROVIDERID.$touched && insuranceInformation.PROVIDERID.$invalid || insuranceInformation.PROVIDERID.$invalid && insuranceInformation.$submitted">Provider ID is required.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="INTERMED">* Intermediary</span>
                        <select class="form-control" tabindex="10"
                                required
                                ng-init="INTERMED=insurance.INTERMED"
                                ng-model="INTERMED"
                                ng-disabled="noEdit"
                                ng-options="intermediary.KEYID as intermediary.NAME for intermediary in intermediaries">
                        </select>
                        <!-- <input type="text" name="INTERMED" ng-init="INTERMED=insurance.INTERMED" ng-model="INTERMED" class="form-control" tabindex="7" aria-describedby="INTERMED" ng-disabled="noEdit"> -->
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="insuranceInformation.INTERMED.$touched && insuranceInformation.INTERMED.$invalid || insuranceInformation.INTERMED.$invalid && insuranceInformation.$submitted">Intermediary is required.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="PAYOR_NAME">* Payor Name</span>
                        <input required type="text" name="PAYOR_NAME" ng-init="PAYOR_NAME=insurance.PAYOR_NAME" ng-model="PAYOR_NAME" class="form-control" tabindex="11" aria-describedby="PAYOR_NAME" maxlength="35" ng-disabled="noEdit">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="insuranceInformation.PAYOR_NAME.$touched && insuranceInformation.PAYOR_NAME.$invalid || insuranceInformation.PAYOR_NAME.$invalid && insuranceInformation.$submitted">Payor Name is required.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="PAYOR_ID">* Payor ID</span>
                        <input required type="text" name="PAYOR_ID" ng-init="PAYOR_ID=insurance.PAYOR_ID" ng-model="PAYOR_ID" class="form-control" tabindex="12" aria-describedby="PAYOR_ID" maxlength="30" ng-disabled="noEdit">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="insuranceInformation.PAYOR_ID.$touched && insuranceInformation.PAYOR_ID.$invalid || insuranceInformation.PAYOR_ID.$invalid && insuranceInformation.$submitted">Payor ID is required.</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="PHONE">* Phone</span>
                        <input required type="text" name="PHONE" ng-init="PHONE=insurance.PHONE" ng-model="PHONE"  class="form-control" tabindex="13" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="PHONE" ng-disabled="noEdit">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="insuranceInformation.PHONE.$touched && insuranceInformation.PHONE.$invalid || insuranceInformation.PHONE.$invalid && insuranceInformation.$submitted">Phone is required.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="FAX">Fax</span>
                        <input type="text" name="FAX" ng-init="FAX=insurance.FAX" ng-model="FAX" class="form-control" tabindex="14" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="FAX" ng-disabled="noEdit"></input>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <span class="text-area-addon" id="NOTES">Notes</span>
                      <textarea rows="5" name="NOTES" ng-init="NOTES=insurance.NOTES" ng-model="NOTES" class="form-control" tabindex="15" aria-describedby="NOTES" ng-disabled="noEdit"></textarea>
                    </div>
                    <div class="col-md-12">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-init="USENPI1=insurance.USENPI1" ng-true-value="1" name="USENPI1" tabindex="16" ng-model="USENPI1" ng-disabled="noEdit">Stage 1 NPI
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-init="USENPI2=insurance.USENPI2" ng-true-value="1" name="USENPI2" ng-model="USENPI2" tabindex="17" ng-disabled="noEdit">Stage 2 NPI
                        </label>
                      </div>
                      <!-- <div class="checkbox">
                        <label>
                          <input type="checkbox" name="HIPPScode" ng-model="insurance.HIPPScode" ng-disabled="noEdit">Include HIPPS Code
                        </label>
                      </div> -->
                      <!-- <div class="checkbox">
                        <label>
                          <input type="checkbox" name="HIPPSHP" ng-model="insurance.HIPPSHP" ng-disabled="noEdit">Force HIPPS to 'HP'
                        </label>
                      </div> -->
                      <!-- <div class="checkbox">
                        <label>
                          <input type="checkbox" name="F2F" ng-model="insurance.F2F" ng-disabled="noEdit">Include F2F w/Cert
                        </label>
                      </div> -->
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-init="MULTIPAGE=insurance.MULTIPAGE" ng-true-value="1" name="MULTIPAGE" tabindex="18" ng-model="MULTIPAGE" ng-disabled="noEdit">Allow Multi-page Claims
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-init="CLMOVERLAP=insurance.CLMOVERLAP" ng-true-value="1" name="CLMOVERLAP" tabindex="19" ng-model="CLMOVERLAP" ng-disabled="noEdit">Allow Claim Overlaps
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-init="SPANEPI=insurance.SPANEPI" ng-true-value="1" name="SPANEPI" ng-model="SPANEPI" tabindex="20" ng-disabled="noEdit">Span Across Multiple Episodes
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-init="CLMSHRINK=insurance.CLMSHRINK" ng-true-value="1" name="CLMSHRINK" ng-model="CLMSHRINK" tabindex="21" ng-disabled="noEdit">Shrink Claim to Visit date range
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-init="CMBNSDVSTS=insurance.CMBNSDVSTS" ng-true-value="1" name="CMBNSDVSTS" ng-model="CMBNSDVSTS" tabindex="22" ng-disabled="noEdit">Combine Same Day Visits
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-init="NOUNITRND=insurance.NOUNITRND" ng-true-value="1" name="NOUNITRND" ng-model="NOUNITRND" tabindex="23" ng-disabled="noEdit">Round to Whole Units
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-init="SPPLYDTL=insurance.SPPLYDTL" ng-true-value="1" name="SPPLYDTL" ng-model="SPPLYDTL" tabindex="24" ng-disabled="noEdit">Detail Out Supply Items
                        </label>
                      </div>
                    </div>
                    <div class="btn-footer pull-right">
                      <button tabindex="25" type="" ng-click="noEdit=false; edit=true" ng-hide="edit" class="btn btn-default">Edit Insurance</button>
                      <button tabindex="26" type="submit" ng-click="editInsurance(insuranceInformation);" ng-show="edit" class="btn btn-default">Save Changes</button>
                      <button tabindex="27" type="" ng-click="noEdit=true;edit=false;close()" ng-show="edit" class="btn btn-default">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </form>
      </div>
    </div>
  </div>
