<div id="new-insurance">
    <div class="head-bar">
      <div class="col-md-12">
        <div class="title">
          <span class="fa fa-tags fa-lg"></span><h3>Add a New Insurance</h3>
        </div>
      </div>
      <div ng-click="close()" class="fa fa-remove close"></div>
    </div>
    <div class="form-background">
      <div class="row">
        <form name="newInsuranceForm" novalidate>
          <section class="InsuranceInformation">
            <div class="container small">
              <div class="row">
                <div class="input-field-group">
                  <div class="col-md-6">
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="NAME">* Name</span>
                        <input required type="text" name="NAME" ng-model="NAME" class="form-control" tabindex="1" aria-describedby="NAME" maxlength="35">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="newInsuranceForm.NAME.$touched && newInsuranceForm.NAME.$invalid || newInsuranceForm.NAME.$invalid && newInsuranceForm.$submitted">Name is required.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="ADDRESS">* Address</span>
                        <input required type="text" name="ADDRESS" ng-model="ADDRESS" class="form-control" tabindex="2" aria-describedby="ADDRESS"  maxlength="40">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="newInsuranceForm.ADDRESS.$touched && newInsuranceForm.ADDRESS.$invalid || newInsuranceForm.ADDRESS.$invalid && newInsuranceForm.$submitted">Address is required.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="CITY">* City</span>
                        <input required type="text" name="CITY" ng-model="CITY" class="form-control" tabindex="3" aria-describedby="CITY" maxlength="100">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="newInsuranceForm.CITY.$touched && newInsuranceForm.CITY.$invalid || newInsuranceForm.CITY.$invalid && newInsuranceForm.$submitted">City is required.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="STATE">* State</span>
                        <input required type="text" name="STATE" ng-model="STATE" class="form-control" tabindex="4" aria-describedby="STATE" maxlength="50">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="newInsuranceForm.STATE.$touched && newInsuranceForm.STATE.$invalid || newInsuranceForm.STATE.$invalid && newInsuranceForm.$submitted">State is required.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="ZIP">*Zip</span>
                        <input required type="text" name="ZIP" ng-model="ZIP" class="form-control" tabindex="5" ui-mask="99999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="ZIP" maxlength="10">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="newInsuranceForm.ZIP.$touched && newInsuranceForm.ZIP.$invalid || newInsuranceForm.ZIP.$invalid && newInsuranceForm.$submitted">ZIP is required.</div>
                    </div>
                    <!-- <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="EMAIL">Email</span>
                        <input type="email" name="EMAIL" ng-model="EMAIL" class="form-control" tabindex="3" aria-describedby="EMAIL" maxlength="35">
                      </div>
                    </div> -->
                    <div class="col-md-12" style="margin-top:20px;">
                      <div class="input-group">
                        <span class="input-group-addon" id="TYPE">* Type</span>
                        <input required type="number" name="TYPE" ng-model="TYPE" class="form-control" tabindex="6" aria-describedby="TYPE" maxlength="11">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="newInsuranceForm.TYPE.$touched && newInsuranceForm.TYPE.$invalid || newInsuranceForm.TYPE.$invalid && newInsuranceForm.$submitted">Type is required.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="CLAIMTYPE">* Claim Type</span>
                        <select required name="CLAIMTYPE" ng-init="CLAIMTYPE='UB04'"ng-model="CLAIMTYPE" class="form-control" tabindex="7" aria-describedby="CLAIMTYPE" ng-disabled="noEdit">
                          <option value="">-Select One-</option>
                          <option value="UB04">UB-04</option>
                          <option value="HCFA">HCFA-1500</option>
                        </select>
                        <!-- <input required type="text" name="CLAIMTYPE" ng-model="CLAIMTYPE" class="form-control" tabindex="7" aria-describedby="CLAIMTYPE" maxlength="4"> -->
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="newInsuranceForm.CLAIMTYPE.$touched && newInsuranceForm.CLAIMTYPE.$invalid || newInsuranceForm.CLAIMTYPE.$invalid && newInsuranceForm.$submitted">Claim Type is required.</div>
                    </div>
                    <div class="col-md-12" style="margin-top:20px">
                      <div class="input-group">
                        <span class="input-group-addon" id="PROVIDERID">* Provider ID</span>
                        <input required type="number" name="PROVIDERID" ng-model="PROVIDERID" class="form-control" tabindex="8" aria-describedby="PROVIDERID" maxlength="11">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="newInsuranceForm.PROVIDERID.$touched && newInsuranceForm.PROVIDERID.$invalid || newInsuranceForm.PROVIDERID.$invalid && newInsuranceForm.$submitted">Provider Id is required.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="INTERMED">* Intermediary</span>
                        <select name="INTERMED" class="form-control" tabindex="9"
                                required
                                ng-init="INTERMED = null"
                                ng-model="INTERMED"
                                ng-options="intermediary.KEYID as intermediary.NAME for intermediary in intermediaries">
                          <option value="">-Select One-</option>
                        </select>
                        <!-- <input required type="text" name="INTERMED" ng-model="INTERMED" class="form-control" tabindex="7" aria-describedby="INTERMED"  placeholder=""> -->
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="newInsuranceForm.INTERMED.$touched && newInsuranceForm.INTERMED.$invalid || newInsuranceForm.INTERMED.$invalid && newInsuranceForm.$submitted">Intermediary is required.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="PAYOR_NAME">* Payor Name</span>
                        <input required type="text" name="PAYOR_NAME" ng-model="PAYOR_NAME" class="form-control" tabindex="10" aria-describedby="PAYOR_NAME" maxlength="35">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="newInsuranceForm.PAYOR_NAME.$touched && newInsuranceForm.PAYOR_NAME.$invalid || newInsuranceForm.PAYOR_NAME.$invalid && newInsuranceForm.$submitted">Payor Name is required.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="PAYOR_ID">* Payor ID</span>
                        <input required type="text" name="PAYOR_ID" ng-model="PAYOR_ID" class="form-control" tabindex="11" aria-describedby="PAYOR_ID" maxlength="30">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="newInsuranceForm.PAYOR_ID.$touched && newInsuranceForm.PAYOR_ID.$invalid || newInsuranceForm.PAYOR_ID.$invalid && newInsuranceForm.$submitted">Payor ID is required.</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="PHONE">* Phone</span>
                        <input required type="text" name="PHONE" ng-model="PHONE"  class="form-control" tabindex="12" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="PHONE" placeholder="">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="field-error" ng-show="newInsuranceForm.PHONE.$touched && newInsuranceForm.PHONE.$invalid || newInsuranceForm.PHONE.$invalid && newInsuranceForm.$submitted">Phone is required.</div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon" id="FAX">Fax</span>
                        <input type="text" name="FAX" ng-model="FAX" class="form-control" tabindex="13" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="FAX" placeholder=""></input>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <span class="text-area-addon" id="NOTES">Notes</span>
                      <textarea rows="5" name="NOTES" ng-model="NOTES" class="form-control" tabindex="14" aria-describedby="NOTES" placeholder=""></textarea>
                    </div>
                    <div class="col-md-12">
                      <div class="checkbox">
                        <label>
                          <input tabindex="15" type="checkbox" ng-true-value="1" name="USENPI1" ng-model="USENPI1">Stage 1 NPI
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input tabindex="16" type="checkbox" ng-true-value="1" name="USENPI2" ng-model="USENPI2">Stage 2 NPI
                        </label>
                      </div>
                      <!-- <div class="checkbox">
                        <label>
                          <input type="checkbox" name="HIPPScode" ng-model="insurance.HIPPScode">Include HIPPS Code
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="HIPPSHP" ng-model="insurance.HIPPSHP">Force HIPPS to 'HP'
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="F2F" ng-model="insurance.F2F">Include F2F w/Cert
                        </label>
                      </div> -->
                      <div class="checkbox">
                        <label>
                          <input tabindex="17" type="checkbox" ng-true-value="1" name="MULTIPAGE" ng-model="MULTIPAGE">Allow Multi-page Claims
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input tabindex="18" type="checkbox" ng-true-value="1"  name="CLMOVERLAP" ng-model="CLMOVERLAP">Allow Claim Overlaps
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input tabindex="19" type="checkbox" ng-true-value="1" name="SPANEPI" ng-model="SPANEPI">Span Across Multiple Episodes
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input tabindex="20" type="checkbox" ng-true-value="1" name="CLMSHRINK" ng-model="CLMSHRINK">Shrink Claim to Visit date range
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input tabindex="21" type="checkbox" ng-true-value="1" name="CMBNSDVSTS" ng-model="CMBNSDVSTS">Combine Same Day Visits
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input tabindex="22" type="checkbox" ng-true-value="1" name="NOUNITRND" ng-model="NOUNITRND">Round to Whole Units
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input tabindex="23" type="checkbox" ng-true-value="1" name="SPPLYDTL" ng-model="SPPLYDTL">Detail Out Supply Items
                        </label>
                      </div>
                    </div>
                    <div class="btn-footer pull-right">
                      <button tabindex="24" type="submit" ng-click="addInsurance(newInsuranceForm)" class="btn btn-default">Save</button>
                      <button tabindex="25" type="" class="btn btn-default" ng-click="close()">Cancel</button></td>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </form>
      </div>
    </div>
  </div>
