#new-task {
  // margin-left: 60px;
  position: relative;
  background: #FFF;
  .head-bar {
    height: 60px;
    padding: 0 0 0 15px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .col-md-12 {
      padding-left: 0;
      padding-right: 20px;
      height: 60px;
    }
  }
  .title {
    float: left;
    span {
      line-height: 60px;
      margin: 0 20px;
      float: left;
    }
    h3 {
      line-height: 60px;
      margin: 0;
      float: left;
    }
  }
  .form-background {
    padding: 20px 40px;
    background-color: #F5F5F5;
  }
  h4 {
    margin-top: 20px;
  }
  .image-upload {
    input {
        display: none;
    }
    .upload-btn {
      border-radius: 4px;
      background: darkgrey;
      color: #FFF;
      padding: 5px 10px;
      margin-top: 10px;
      font-weight: normal;
      cursor: pointer;
      &:hover {
        background: #C9C9C9;
      }
    }
    span {
      padding-right: 10px;
    }
  }
  .add-btn {
    border: none;
    margin-right: 10px;
    background: #75469B;
    cursor: #FFF;
  }
  .cancel-btn {
    background: #FFF;
    color: #75469B;
    border-color: #75469B;
  }
}
