<div id="new-task">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags"></span><h3>Add New Task Item</h3>
      </div>
    </div>
  </div>
  <form name="newTask">
    <div class="form-background">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <h5>Status</h5>
              <select required name="taskStatus" ng-model="taskStatus" type="text" class="form-control" aria-describedby="taskStatus">
                <option value="">-Normal-</option>
                <option value="Resolved">Resolved</option>
                <option value="Assigned">Assigned</option>
              </select>
            </div>
            <div class="col-md-3">
              <h5>Assign To</h5>
              <select required name="assignTo" ng-model="assignTo" type="text" class="form-control" aria-describedby="assignTo">
                <option value="">-None-</option>
                <option value="Sandra Baker">Sandra Baker</option>
                <option value="Jones Lee">Jones Lee</option>
              </select>
            </div>
            <div class="col-md-3">
              <h5>Due Date</h5>
              <div class="input-group">
                <input required type="date" name="taskDueDate" ng-model="taskDueDate"  class="form-control" aria-describedby="taskDueDate">
                <span class="input-group-addon" id="taskDueDate"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4><b>Description</b></h4>
          <textarea required rows="4" name="taskDescription" ng-model="taskDescription" class="form-control" aria-describedby="taskDescription"></textarea>
          <div class="image-upload">
            <label for="taskUploadDoc">
              <div class="upload-btn"><span class="fa fa-paperclip"></span>Upload a document</div>
            </label>
            <input id="taskUploadDoc" name="taskUploadDoc" ng-model="taskUploadDoc" type="file"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary pull-right cancel-btn" ng-click="close()">Cancel</button>
          <button class="btn btn-primary pull-right add-btn" ng-click="addTask(newTask)">Add Task</button>
        </div>
      </div>
    </div>
  </form>
</div>
