#tasks {
  margin-left: 370px;
  position: relative;
  background: #FFF;
  padding-top: 60px;
  a {
    text-decoration: none;
    color: #FFF;
  }
  .head-bar {
    height: 60px;
    padding: 0 0 0 15px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .col-md-12 {
      padding-left: 0;
      padding-right: 20px;
      height: 60px;
    }
    ul {
      margin: 10px 0;
      padding: 0;
      list-style: none;
      float: right;
      .add-task {
        background-color: #795E9F;
        border-radius: 4px;
        color: white;
        float: left;
        padding: 10px 18px;
        margin-left:25px;
      }
    }
  }
  .title {
    float: left;
    span {
      line-height: 60px;
      margin: 0 20px;
      float: left;
    }
    h3 {
      line-height: 60px;
      margin: 0;
      float: left;
    }
  }
  .form-background {
    padding: 20px 40px;
    background-color: #F5F5F5;
  }
  .task-item {
    color: red;
    border: 1px solid #C9C9C9;
    border-bottom: none;
    background: #e7e7e7;
    padding: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    b {
      color: black;
    }
    .btn {
      text-align: right;
      button {
        text-align: center;
        width: 60px;
      }
    }

  }
  .withReply {
    color: black;
  }
  .view-item {
    margin-top: 0;
    background: #FFF;
    border-right: 1px solid #C9C9C9;
    border-left: 1px solid #C9C9C9;
    padding: 10px;
    height: 60px;
  }
  .expand {
    background: #FFF;
    color: black;
  }
}
