<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#tasks" patientnavopen='true'></header-nav>
</div>

<div id="tasks">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>Tasks</h3>
      </div>
      <ul>
        <li class="add-task"><a href="#" ng-click="newTask()">New Task</a></li>
      </ul>
    </div>
  </div>
  <div class="form-background">
    <!--repeat-->
    <div ng-repeat="task in taskObject" class="row">
      <div class="task-item" ng-class="{expand:viewReply, withReply:task.reply != ''}" style="margin-top:0;">
        <div class="col-md-2">
          <b>Assigned To</b> </br>
          {{task.assignTo}}
        </div>
        <div class="col-md-2">
          <b>Due Date</b></br>
          {{task.taskDueDate}}
        </div>
        <div class="col-md-6">
          <b>Description</b></br>
          {{task.taskDescription}}
        </div>
        <div class="col-md-2 btn">
          <button ng-if="task.reply == ''" class="btn btn-primary"><a href="#" ng-click="replyTask()">Reply</a></button>
          <button ng-if="task.reply != ''" ng-click="$parent.viewReply=!viewReply" class="btn btn-default">View</button>
        </div>

      </div>
      <!--show reply-->
      <div ng-show="viewReply" class="view-item" style="">
        <div class="col-md-12">
          <b>Response</b> </br>
          {{task.reply}}
        </div>
      </div>
      <!--end reply-->
    </div>
    <!--end repeat-->
  </div>
</div><!--closes tasks background-->


<div class="right-menu">
  <expanded-nav></expanded-nav>
</div>
