<div id="reply-task">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags"></span><h3>Response</h3>
      </div>
    </div>
  </div>
  <form name="replyTask">
    <div class="form-background">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <h5>Status</h5>
              <select disabled name="taskStatus" ng-model="taskStatus" type="text" class="form-control" aria-describedby="taskStatus">
                <option value="">{{taskObject.taskStatus}}</option>
                <!-- <option value="Resolved">Resolved</option>
                <option value="Assigned">Assigned</option> -->
              </select>
            </div>
            <div class="col-md-3">
              <h5>Assign To</h5>
              <select disabled name="assignTo" ng-model="assignTo" type="text" class="form-control" aria-describedby="assignTo">
                <option value="">{{taskObject.assignTo}}</option>
                <!-- <option value="Sandra Baker">Sandra Baker</option>
                <option value="Jones Lee">Jones Lee</option> -->
              </select>
            </div>
            <div class="col-md-3">
              <h5>Due Date</h5>
              <div class="input-group">
                <input name="taskDueDate" ng-model="taskDueDate" disabled placeholder="{{taskObject.taskDueDate}}" class="form-control" aria-describedby="taskDueDate">
                <span class="input-group-addon" id="taskDueDate"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4><b>Description</b></h4>
          <textarea disabled rows="4" name="taskDescription" ng-model="taskDescription" placeholder="{{taskObject.taskDescription}}"class="form-control" aria-describedby="taskDescription"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4><b>Response</b></h4>
          <textarea rows="4" name="taskResponse" ng-model="taskResponse" class="form-control" aria-describedby="taskResponse"></textarea>
          <div class="image-upload">
            <label for="taskUploadDoc">
              <div class="upload-btn"><span class="fa fa-paperclip"></span>Upload a document</div>
            </label>
            <input id="taskUploadDoc" name="replyUploadDoc" ng-model="replyUploadDoc" type="file"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary pull-right cancel-btn" ng-click="close()">Cancel</button>
          <button class="btn btn-primary pull-right add-btn" ng-click="reply(replyTask)">Reply</button>
        </div>
      </div>
    </div>
  </form>
</div>
