<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#visit-types" settingsnav="true"></header-nav>
</div>

<div id="visit-types">
  <div class="search-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <span class="fa fa-medkit fa-lg"></span>
          <span class="text-heading">Visit Types</span>
          <select class="form-control" ng-model="visitType" ng-change="updateVisitTypeList(visitType)">
            <option value="ALL">All</option>
            <option value="SNVisit">SN</option>
            <option value="PTVisit">PT</option>
            <option value="OTVisit">OT</option>
            <option value="STVisit">ST</option>
            <option value="MSVisit">MS</option>
            <option value="HAVisit">HA</option>
          </select>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" ng-model="searchText" />
          </div>
        </div>
        <div class="col-md-1">
          <div class="add-visit">
            <span class="glyphicon glyphicon-plus" ng-click="newVisitType($event)"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="visit-row-head">
    <div class="container">
      <div class="row">
        <div class="visit-row-title">
          <div class="col-md-3">
            Description
          </div>
          <div class="col-md-2">
            Discipline
          </div>
          <div class="col-md-2">
            Rev. Code
          </div>
          <div class="col-md-3">
            Status
              <a href="javascript:void(0)" ng-hide="hide" ng-click="viewInactive();hide=true" style="font-size:10px">See all inactive</a>
              <a href="javascript:void(0)" ng-show="hide" ng-click="viewInactive(); hide=false" style="font-size:10px">Hide all inactive</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--inactive visitTypes-->
  <div class="visit-info-row" ng-show="inactiveList" ng-click="showVisitTypeDetail(visitType, $event)" ng-class="{selected: visitType.selected}" ng-repeat="visitType in inactiveVisitTypeList | filter: searchText | limitTo:150">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="visit-info-item">
            {{visitType.DESC}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="visit-info-item">
            {{visitType.DISCIPLINE}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="visit-info-item">
            {{visitType.REV_CODE}}
          </div>
        </div>
        <div class="col-md-3">
          <div class="visit-info-item">
            {{visitType.STATUS}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--active visitTypes-->
  <div class="visit-info-row" ng-click="showVisitTypeDetail(visitType, $event)" ng-class="{selected: visitType.selected}" ng-repeat="visitType in activeVisitTypeList | filter: searchText | limitTo:150">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="visit-info-item">
            {{visitType.DESC}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="visit-info-item">
            {{visitType.DISCIPLINE}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="visit-info-item">
            {{visitType.REV_CODE}}
          </div>
        </div>
        <div class="col-md-3">
          <div class="visit-info-item">
            {{visitType.STATUS}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="settings-right-menu">
  <settings-expanded-nav></settings-expanded-nav>
</div>
