<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#employee-pay-rates" empnavopen='true'></header-nav>
</div>

<div id="employee-pay-rates">
  <div class="head-bar">
    <div class="col-md-10">
      <h3>Employee Pay Rates</h3>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" ng-click="addEmployeePayRate()">Add</button>
      <!-- <button class="btn btn-default" ng-click="editEmployeePayRate()">Edit</button> -->
    </div>
  </div>
  <div class="form-background">
    <div class="metric-box">
      <div class="col-md-12">
        <h4>Visit Type Pay Rates</h4>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-2 col-md-offset-6">
            <b>Default</b>
          </div>
          <div class="col-md-2">
            <b>Adjusted</b>
          </div>
          <div class="col-md-2">
            <b>Edit/Delete</b>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-2 col-md-offset-6">
            <b>Default</b>
          </div>
          <div class="col-md-2">
            <b>Adjusted</b>
          </div>
          <div class="col-md-2">
            <b>Edit/Delete</b>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" ng-repeat="visitType in visitTypes">
          <div class="col-md-6">
            {{visitType.DISCIPLINE}} - {{visitType.DESC}}
          </div>
          <div class="col-md-2">
            {{visitType.DFLTEMPPAY}}
          </div>
          <div class="col-md-2">
            {{visitType.customEmpPayrate}}
          </div>
          <div class="col-md-2" ng-show="visitType.customEmpPayrate!==undefined">
            <i class="fa fa-pencil" ng-click="editEmployeePayRate(visitType)"></i>
            <i class="fa fa-trash" ng-click="deleteEmployeePayRate(visitType)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="employee-right-menu">
  <employee-expanded-nav></employee-expanded-nav>
</div>
