#transferred-discharged {

    /* text input fields */
    .form-text-input {
        input[type=text] {
            width: 250px;
            height: 30px;
        }

        textarea:hover,
        input[type=text]:hover,
        input[type=number]:hover {
            border-color: #8B8B90;
        }

        textarea:focus,
        input[type=text]:focus,
        input[type=number]:focus {
            border-color: #7960DE;
        }

        textarea:disabled,
        input[type=text]:disabled,
        input[type=number]:disabled {
            background-color: #E8E5EC;
        }
    }

    /* date input fields */
    .form-date-input {
        width: 288px;

        input[type=text]:hover {
            border-color: #8B8B90;
        }

        input[type=text]:focus {
            border-color: #7960DE;
        }

        input[type=text]:disabled {
            background-color: #E8E5EC;
        }
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1111 !important;
        top: 0;
        right: 0;
        background-color: white;
        overflow-x: auto;
        overflow-y: auto;
        transition: 0.5s;
        margin-top: 60px;
    }
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .table-m1021,
    .table-m1730,
    .table-m2401 {
        td {
            border: 0.5px solid #000;
        }
    }

    .auto-style29,
    .auto-style27,
    .auto-style25 {
        width: 50px !important;
    }
}

body {
    top: 0 !important;
}