<div id="patient-pending">
  <div class="head-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span class="page-heading">
            <i class="glyphicon glyphicon glyphicon-time"></i>
          </span>
          <span class="text-headline">
            Patient Pending
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Hello Janet, Please complete the steps below to begin the patient creation process.</h2>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-8">
        <div class="step-box">
          <div class="col-md-6">
            <div>
              <h3>Step 1 - Patient Intake Form</h3>
              <p>Complete the paitent intake form to create a new patient.</p>
            </div>
          </div>
          <div class="col-md-3">
            <a ui-sref="patientCreate"><button type="button" class="btn btn-primary purple">Create Patient<i class="glyphicon glyphicon-plus"></i></button></a>
          </div>
          <div class="col-md-3" ng-class="{ 'complete' : patientIntakeFormComplete}">
            <i class="status glyphicon glyphicon-ok-circle"></i>
          </div>
        </div>
        <div class="step-box">
          <div class="col-md-6">
            <div>
              <h3>Step 2 - Upload Documents</h3>
              <ul>
                <li>Medical History</li>
                <li>Medicare Papers</li>
                <li>Other Stuff</li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <form class="doc-upload">
              <input type="file">
              <button type="submit" class="btn btn-primary purple">Upload<i class="glyphicon glyphicon-open-file"></i></button>
            </form>
          </div>
          <div class="col-md-3">
            <i class="status glyphicon glyphicon-ok-circle"></i>
          </div>
        </div>
        <div class="step-box">
          <div class="col-md-6">
            <div>
              <h3>Step 3 - Complete Process</h3>
              <p>Review information and submit</p>
            </div>
          </div>
          <div class="col-md-3">
            <a href="#" ng-click="patientReview()">Review Patient Information</a>
            <button ng-click="createPatient(patient)" class="btn btn-primary purple">Submit<i class="glyphicon glyphicon-check"></i></button>
          </div>
          <div class="col-md-3" ng-class="{ 'complete' : completeProcessComplete}">
            <i class="status glyphicon glyphicon-ok-circle"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="step-box" style="height: 400px;">
          Patient Info Will Go Here?
        </div>
      </div>
    </div>
  </div>
</div>
