#patient-pending {
  margin-left:60px;

  background: #FFF;

  .head-bar {
    height: 60px;
    padding: 12px 0;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .page-heading {
      i {
        font-size: 30px;
      }
    }
    .text-headline {
      font-size: 25px;
      margin-left: 10px;
    }
  }
  .step-box {
    h3 {
      margin-top: 0;
    }
    button {
      margin-top: 15px;
      i {
        margin-left: 5px;
      }
    }
    i {
      &.status {
        color: lightgrey;
        float: right;
        margin-top: 5px;
        font-size: 50px;
      }
    }
    .doc-upload {
      margin-top: 30px;
    }
    overflow: auto;
    margin-top: 15px;
    padding: 20px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.24);
    background: rgba(112, 102, 157, 0.08);
  }
  .complete {
    i {
      &.status {
        color: green
      }
    }
  }
}
