#patient-profile {
  margin-left: 370px;
  position: relative;
  background: #FFF;
  padding-top: 60px;
  .head-bar {
    height: 60px;
    padding: 0 0 0 15px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .col-md-12 {
      padding-left: 0;
      padding-right: 20px;
      height: 60px;
    }
    a {
      text-decoration: none;
      color: #FFF;
    }
  }
  ul {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    float: right;
    .action-btn {
      background-color: #795E9F;
      border-radius: 4px;
      color: white;
      float: left;
      padding: 10px 18px;
      margin-left:10px;
    }
  }
  .title {
    float: left;
    span {
      line-height: 60px;
      margin: 0 20px;
      float: left;
    }
    h3 {
      line-height: 60px;
      margin: 0;
      float: left;
    }
  }
  .form-background {
    padding: 20px 40px;
    background-color: #F5F5F5;
    p {
      font-size: 12px;
      margin: 0 0 30px;
    }
    .wrap {
      overflow-wrap: break-word;
      word-wrap: break-word; //supported by Firefox
      // -ms-word-break: break-all;
      /* This is the dangerous one in WebKit, as it breaks things wherever */
      // word-break: break-all;
      /* Instead use this non-standard one: */
 //      word-break: break-word;
 //      -ms-hyphens: auto;
 // -moz-hyphens: auto;
 // -webkit-hyphens: auto;
 // hyphens: auto;
    }
  }
  // input[type=checkbox] {
  //   margin: 0px;
  //   margin-left:-16px;
  // }
  .profile-header {
    background: #F5F5F5;
    padding: 20px;
    // height: 140px;
    .circle-icon {
      background: #FFF;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      text-align: center;
      line-height: 100px;
      vertical-align: middle;
      align-self: center;
      margin-right: 20px;
    }
    .row {
      &.flex {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
      }
    }
    .info {
      align-self: center;
      h3 {
        margin: 0 0 5px;
      }
    }
    .metric-box {
      height: 120px;
      background: #FFFFFF;
      box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.24), 0px 1px 4px 0px rgba(0,0,0,0.04);
      border-radius: 2px;
    }
    .full-padding {
      padding: 10px;
    }
  }

  .section-header {
    // display: inline-block;
    // margin-left: -24px;
    span {
      float: left;
      margin-right: 5px;
    }
    // .edit {
    //     float: right;
    //     // margin-left: 50px
    // }
    // h5 {
    //   float: left;
    // }
  }
  .hover-effect {
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    &:hover {
      border-color: #CCC
    }
  }

  //DATE PICKER
  ::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    background-color:#fff;
    opacity: 0;
     width:110%;
    position: absolute;
    left:0;
  }

  ::-webkit-inner-spin-button {
      display: none;
      -webkit-appearance: none;
  }
  // @page {
  //   size: A4;
  // }
}
