<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#patient-profile" patientnavopen='true'></header-nav>
</div>
<div id="patient-profile">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>Patient Profile/Intake Worksheet</h3>
      </div>
      <ul>
        <button class="action-btn" ng-click="printSection()">Print</button>
        <!-- <li class="action-btn"><a href="#" ng-click="">Edit</a></li>
        <li class="action-btn"><a href="#" ng-click="">Save</a></li>
        <li class="action-btn"><a href="#" ng-click="">Cancel</a></li> -->
        <!-- <demographic ng-show="editDemographic"></demographic> -->
      </ul>
    </div>
  </div>
  <div class="profile-header">
    <div class="row flex">
      <span class="col-md-2 fa fa-user fa-4x circle-icon"></span>
      <div class="col-md-3 info">
        <h3>{{patient.FNAME}} {{patient.MINITIAL}} {{patient.LNAME}}</h3>
        <div>Current Status: <b>{{PATSTATUS}} </b><span class="fa fa-pencil hover-effect" ng-click="editPatStatus($event)"></span></div>
      </div>
      <div class="col-md-3 col-md-offset-2">
        <div class="metric-box full-padding">
          <h5 style="margin:0 0 5px 0"><b>PATIENT INFORMATION</b></h5>
          <div style="font-size:12px">
            <b>Sex: </b>{{patient.GENDER || 'N/A'}} </br>
            <b>Date of Birth: </b>{{patient.DOB || 'N/A'}} </br>
            <b>Language: </b>{{LANGUAGEDESC || 'N/A'}} </br>
            <b>Ethnicity: </b>{{M0140DESC || 'N/A'}} </br>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="metric-box full-padding">
          <h5 style="margin:0 0 5px 0"><b>CONTACT INFORMATION</b></h5>
          <div style="font-size:12px">
            <b>Phone: </b>{{(patient.PHONE1 | tel) || 'N/A'}} </br>
            <b>Cell: </b>{{(patient.CELLPHONE | tel) || 'N/A'}} </br>
            <b>Other Phone: </b>{{(patient.PHONE2 | tel) || 'N/A'}} </br>
            <b>Email: </b>{{patient.EMAIL || 'N/A'}} </br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-background">
    <div class="row" id="print_all">
      <div id="print_section1" class="col-md-4" style="border-right:1px solid black">
        <div class="section-header">
          <span class="fa fa-flag fa-fw"></span>
          <h5>REFERRAL<span class="fa fa-pencil pull-right hover-effect" ng-click="enableEditMode('Referral', $event)"></span></h5>
        </div>
        <p id="referral">
          Received By: <b ng-if="admission.REFRECEIVED!==null">{{REFRECEIVED.FNAME}} {{REFRECEIVED.LNAME}} ({{REFRECEIVED.DISCIPLINE}})</b><b ng-if="!admission.REFRECEIVED"> N/A</b></br>
          Referral Source <b>{{REFERRSRC.NAME || 'N/A'}}</b></br>
          Referral Date: <b>{{admission.REFERRDATE || 'N/A'}}</b></br>
          Referral MD: <b>{{REFERRPHYSICIAN.FNAME}} {{REFERRPHYSICIAN.LNAME}}</b> <b ng-if="!REFERRPHYSICIAN.FNAME && !REFERRPHYSICIAN.LNAME"> N/A</b></br>
          Admit Source: <b>{{ADMITSRCEDESC || 'N/A'}} </b></br>
          Notes: <b class="wrap">{{admission.REFERRNOTES || 'N/A'}} </b></br>
        </br>
          Services Requested: <b ng-if="admission.SERVICE_SN !==1 && admission.SERVICE_PT !==1 && admission.SERVICE_OT !==1&&admission.SERVICE_ST !==1&&admission.SERVICE_MS !==1">N/A</b>
        </br>
          <span ng-if="admission.SERVICE_SN ===1"><i class="fa fa-check"></i> Skilled Nurse</span>
          <span ng-if="admission.SERVICE_PT ===1"><i class="fa fa-check"></i> Physical Therapy</span>
          <span ng-if="admission.SERVICE_OT ===1"><i class="fa fa-check"></i> OT</span>
          <span ng-if="admission.SERVICE_ST ===1"><i class="fa fa-check"></i> ST</span>
          <span ng-if="admission.SERVICE_MS ===1"><i class="fa fa-check"></i> MSW</span>
        </p>
          <div class="section-header">
            <span class="fa fa-user fa-fw"></span>
            <h5>DEMOGRAPHIC<span class="fa fa-pencil pull-right hover-effect" ng-click="enableEditMode('Demographic', $event)"></span></h5>
          </div>
          <p id="demographic">
            DOB: <b>{{patient.DOB}}</b></br>
            Marital Status: <b>{{MARITALDESC || 'N/A'}}</b></br>
            Religion: <b>{{RELIGIONDESC || 'N/A'}}</b></br>
            SSN: <b>{{patient.SSN}}</b>
            </br></br>
            Acuity: <b>{{ACUITYDESC || 'N/A'}}</b>
            </br></br>
            <u>Primary Care Giver</u><span ng-if="!admission.PCGNAME && !admission.PCGPHONE && !admission.PCGNOTES">:<b> N/A</b></span></br>
            <span ng-hide="!admission.PCGNAME && !admission.PCGPHONE && !admission.PCGNOTES">Name: <b>{{admission.PCGNAME || 'N/A'}}</b></br>
              Phone: <b>{{(admission.PCGPHONE | tel) || 'N/A'}}</b></br>
              Notes: <b class="wrap">{{admission.PCGNOTES || 'N/A'}}</b></br></br>
            </span>
              <u>Emergency Contact</u><span ng-if="!admission.ECNAME && !admission.ECPHONE && !admission.ECNOTES">:<b> N/A</b></span></br>
            <span ng-hide="!admission.ECNAME && !admission.ECPHONE && !admission.ECNOTES">Name: <b>{{admission.ECNAME || 'N/A'}}</b></br>
              Phone: <b>{{(admission.ECPHONE | tel) || 'N/A'}}</b></br>
              Notes: <b class="wrap">{{admission.ECNOTES || 'N/A'}}</b>
            </span>
          </p>
        <!-- </div> -->
        <!-- <div class="col-md-6"> -->
          <div class="section-header">
            <span class="fa fa-home fa-fw"></span>
            <h5>CONTACT<span class="fa fa-pencil pull-right hover-effect" ng-click="enableEditMode('Contact', $event)"></span></h5>
          </div>
          <p id="contact">
            <u>Primary Address</u><span ng-if="!LOCTYPEDESC && !patient.ADDRESS && !patient.CITY && !patient.STATE && !patientZIP">:<b> N/A</b></span></br>
            <span ng-hide="!LOCTYPEDESC && !patient.ADDRESS && !patient.CITY && !patient.STATE && !patientZIP">Location Type: <b>{{LOCTYPEDESC || 'N/A'}}</b></br>
              Address: <b>{{patient.ADDRESS || 'N/A'}}</b></br>
              City: <b class="wrap">{{patient.CITY || 'N/A'}}</b></br>
              State: <b>{{patient.STATE || 'N/A'}}</b></br>
              ZIP: <b>{{patient.ZIP|| 'N/A'}}</b></br>
              Notes: <b class="wrap">{{patient.ADDRESS_NOTES || 'N/A'}}</b></br>
            </span>
            <u>Secondary Address</u><span ng-if="!LOCTYPE2DESC && !patient.ADDRESS2 && !patient.CITY2 && !patient.STATE2 && !patient.ZIP2 && !patient.PHONE2">:<b> N/A</b></span></br>
            <span ng-hide="!LOCTYPE2DESC && !patient.ADDRESS2 && !patient.CITY2 && !patient.STATE2 && !patient.ZIP2 && !patient.PHONE2">Location Type: <b>{{LOCTYPE2DESC || 'N/A'}}</b></br>
              Address: <b>{{patient.ADDRESS2 || 'N/A'}}</b></br>
              City: <b>{{patient.CITY2 || 'N/A'}}</b></br>
              State: <b>{{patient.STATE2 || 'N/A'}}</b></br>
              ZIP: <b>{{patient.ZIP2 || 'N/A'}}</b></br>
            </span>
          </p>

        <!-- </div> -->
        <!-- <div class="col-md-6"> -->

        <!-- </div> -->
      </div>
      <div id="print_section2" class="col-md-4" style="border-right:1px solid black">
        <!-- <div class="section-header"> -->
          <div class="section-header">
            <span class="fa fa-medkit fa-fw"></span>
            <h5>INSURANCE<span class="fa fa-pencil pull-right hover-effect" ng-click="enableEditMode('Insurance', $event)"></span></h5>
          </div>
          <p id="insurance">
          <u>Primary</u><span ng-if="!INSCO.NAME">:<b> N/A</b></span></br>
          <span ng-hide="!INSCO.NAME">Insurance Name: <b>{{INSCO.NAME || 'N/A'}}</b></br>
            Insurance ID: <b class="wrap">{{patient.INSID || 'N/A'}}</b></br>
            Plan: <b class="wrap">{{admission.INS1PLAN || 'N/A'}}</b></br>
            Group: <b class="wrap">{{admission.INS1GROUP || 'N/A'}}</b></br>
            Auth Code: <b class="wrap">{{admission.INS1AUTHCODE || 'N/A'}}</b></br>
            Notes: <b class="wrap">{{admission.INS1NOTES || 'N/A'}}</b></br></br>
          </span>
          <u>Secondary</u><span ng-if="!INS2CO.NAME">:<b> N/A</b></span></br>
            <span ng-hide="!INS2CO.NAME">Insurance Name: <b>{{INS2CO.NAME || 'N/A'}}</b></br>
            Insurance ID: <b>{{admission.INS2ID || 'N/A'}}</b></br>
            Plan: <b>{{admission.INS2PLAN || 'N/A'}}</b></br>
            Group: <b>{{admission.INS2GROUP || 'N/A'}}</b></br>
            Auth Code: <b>{{admission.INS2AUTHCODE || 'N/A'}}</b></br>
            Notes: <b class="wrap">{{admission.INS2NOTES || 'N/A'}}</b>
          </span>
          </p>
        <!-- </div> -->
        <div class="section-header">
          <span class="fa fa-user fa-fw"></span>
          <h5>PHYSICIANS<span class="fa fa-pencil pull-right hover-effect" ng-click="enableEditMode('Physician', $event)"></span></h5>
        </div>
        <p id="physicians">
          <span ng-if="!DOCTOR.FNAME && !DOCTOR.FNAME && !DOCTOR.LNAME && !DOCTOR.NPI && !DOCTOR.ADDRESS && !DOCTOR.PHONE && !DOCTOR.FAX && !DOCTOR.EMAIL"><b>N/A</b></span><span ng-hide="!DOCTOR.FNAME && !DOCTOR.FNAME && !DOCTOR.LNAME && !DOCTOR.NPI && !DOCTOR.ADDRESS && !DOCTOR.PHONE && !DOCTOR.FAX && !DOCTOR.EMAIL"><b ng-if="DOCTOR.FNAME">DR. {{DOCTOR.FNAME}} {{DOCTOR.LNAME}}</b></br>
          NPI: <b>{{DOCTOR.NPI || 'N/A'}}</b></br>
          Address: <b>{{DOCTOR.ADDRESS || 'N/A'}}</b></br>
          Phone: <b>{{(DOCTOR.PHONE | tel) || 'N/A'}}</b></br>
          Fax: <b>{{DOCTOR.FAX || 'N/A'}}</b></br>
          Email: <b>{{DOCTOR.EMAIL || 'N/A'}}</b></br>
          <b ng-if="DOCTOR.F2F ===1"><i class="fa fa-check"></i> F2F</br></b>
          <b ng-if="DOCTOR.POC ===1"><i class="fa fa-check"></i> POC</br></b>
          Notes: <b>{{DOCTOR.NOTES || 'N/A'}}</b></br>
        </span>
        </p>
        <div class="section-header">
          <span class="fa fa-medkit fa-fw"></span>
          <h5>DIAGNOSIS<span class="fa fa-pencil pull-right hover-effect" ng-click="enableEditMode('Diagnosis', $event)"></span></h5>
        </div>
        <p id="diagnosis">
          <span ng-if="!admission.DIAGCODE && !admission.DIAGDESC && !admission.DIAGONSET"><b>N/A</b></span><span ng-hide="!admission.DIAGCODE && !admission.DIAGDESC && !admission.DIAGONSET">ICD Code: <b>{{admission.DIAGCODE}}</b></br>
            Description: <b>{{admission.DIAGDESC}}</b></br>
            Date: <b>{{admission.DIAGONSET}}</b>
          </span>
          <span ng-hide="!admission.DIAGCODE2 && !admission.DIAGDESC2 && !admission.DIAGONSET2"></br></br>ICD Code: <b>{{admission.DIAGCODE2}}</b></br>
            Description: <b>{{admission.DIAGDESC2}}</b></br>
            Date: <b>{{admission.DIAGONSET2}}</b>
          </span>
          <span ng-hide="!admission.DIAGCODE3 && !admission.DIAGDESC3 && !admission.DIAGONSET3"></br></br>ICD Code: <b>{{admission.DIAGCODE3}}</b></br>
            Description: <b>{{admission.DIAGDESC3}}</b></br>
            Date: <b>{{admission.DIAGONSET3}}</b>
          </span>
          <span ng-hide="!admission.DIAGCODE4 && !admission.DIAGDESC4 && !admission.DIAGONSET4"></br></br>ICD Code: <b>{{admission.DIAGCODE4}}</b></br>
            Description: <b>{{admission.DIAGDESC4}}</b></br>
            Date: <b>{{admission.DIAGONSET4}}</b>
          </span>
          <span ng-hide="!admission.DIAGCODE5 && !admission.DIAGDESC5 && !admission.DIAGONSET5"></br></br>ICD Code: <b>{{admission.DIAGCODE5}}</b></br>
            Description: <b>{{admission.DIAGDESC5}}</b></br>
            Date: <b>{{admission.DIAGONSET5}}</b>
          </span>
          <span ng-hide="!admission.DIAGCODE6 && !admission.DIAGDESC6 && !admission.DIAGONSET6"></br></br>ICD Code: <b>{{admission.DIAGCODE6}}</b></br>
            Description: <b>{{admission.DIAGDESC6}}</b></br>
            Date: <b>{{admission.DIAGONSET6}}</b></span></p>
      </div>
      <div id="print_section3" class="col-md-4">
        <div class="section-header">
          <span class="fa fa-medkit fa-fw"></span>
          <h5>EPISODES</h5>
        </div>
        <p id="episodes">
          Current Admit: <b ng-if="admissions.length===0">N/A</b><b ng-if="admissions.length!==0">{{admissions.length}} of {{totalAdmits}}</b></br>
          Current Episode: <b ng-if="episodes.length===0">N/A</b><b ng-if="episodes.length!==0">{{currentEpi.EPISODENO}} of {{totalEpi}}</b></br>
          Episode Start Date: <b ng-if="episodes.length===0">N/A</b><b>{{currentEpi.FROMDATE}}</b></br>
          Episode End Date: <b ng-if="episodes.length===0">N/A</b><b>{{currentEpi.THRUDATE}}</b></br>
          <span ng-if="transferFormArr.length>0">Last Transfer Date: <b ng-if="transferFormArr.length!==0">{{patientTransferDate}}</b></br></span>Discharge Date: <b ng-if="admission.DCDATE ===null">N/A</b><b>{{admission.DCDATE}} </b></br>
        </p>
        <!-- <div class="section-header">
          <span class="fa fa-medkit fa-fw"></span>
          <h5>CLINICS RECENTLY VISITED</h5>
        </div>
        <p>
          MHHS: <b></b></br>
        </p> -->
        <div class="section-header">
          <span class="fa fa-medkit fa-fw"></span>
          <h5>NOTES<span class="fa fa-pencil pull-right hover-effect" ng-click="enableEditMode('Demographic', $event)"></span></h5>
        </div>
        <p id="notes" class="wrap">
          {{patient.NOTES || 'N/A'}}</br>
        </p>
      </div>
    </div>
  </div>

</div>

<div class="right-menu">
  <expanded-nav></expanded-nav>
</div>
