<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#ICD" settingsnav="true"></header-nav>
</div>

<div id="ICD">
  <div class="search-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <span class="icon-profile icon-size-3"></span>
          <span class="text-heading">ICD</span>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" ng-model="searchCode" ng-model-options="{debounce: 1000}" ng-change="getICD10CodesList()" placeholder="Search by ICD Code" />
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" ng-model="searchDescription" ng-model-options="{debounce: 1000}" ng-change="getICD10CodesList()" placeholder="Search by description" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ICD-row-head">
    <div class="container">
      <div class="row">
        <div class="ICD-row-title">
          <div class="col-md-3">
            Code
          </div>
          <div class="col-md-9">
            Description
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ICD-info-row" ng-click="" ng-class="{selected: visitType.selected}" ng-repeat="ICDCode in activeICDCodeList">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="ICD-info-item">
            {{ICDCode.CODE}}
          </div>
        </div>
        <div class="col-md-9">
          <div class="ICD-info-item">
            {{ICDCode.DESCRIPTION}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="settings-right-menu">
  <settings-expanded-nav></settings-expanded-nav>
</div>
