<div id="view-visit-type">
  <div class="head-bar">
    <div class="col-md-9">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>Visit Type: {{visitType.description}}</h3>
      </div>
    </div>
    <div class="col-md-2" style="margin-top:13px">
      <button type="" data-ng-click="removeVisitType(visitType)" class="btn btn-danger">Delete Visit Type</button></td>
    </div>
    <div ng-click="close()" class="fa fa-remove close"></div>
  </div>
  <div class="form-background">
    <div class="row">
      <form name="visitTypeInformation" novalidate>
        <section class="VisitTypeInformation">
          <div class="container small">
            <div style="background:#CFCFCF;font-size:14px; padding:10px">Visit Specifics
            </div>
            <div class="row">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="VISITCODE">Visit Code</span>
                      <input type="text" name="VISITCODE" ng-model="visitType.VISITCODE" class="form-control" tabindex="1" aria-describedby="VISITCODE" >
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="input-group" style="line-height:34px">
                      <label class="col-xs-3">Status:</label>
                      <div class="col-xs-9">
                        <div class="radio-inline">
                          <label>
                            <input id="ACTIVE" name="ACTIVE" ng-model="visitType.ACTIVE" ng-value="1" type="radio" tabindex="12">
                            Active
                          </label>
                        </div>
                        <div class="radio-inline">
                          <label>
                            <input id="INACTIVE" name="INACTIVE" ng-model="visitType.ACTIVE" ng-value="0" type="radio" tabindex="13">
                            Inactive
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="DESC">Description of service</span>
                      <input type="text" name="DESC" ng-model="visitType.DESC" class="form-control" tabindex="2" aria-describedby="DESC" >
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="DISCIPLINE">Discipline</span>
                      <select name="DISCIPLINE" id="DISCIPLINE" ng-model="visitType.DISCIPLINE" class="form-control" tabindex="3" ng-options="discipline.SHORTDESC as discipline.LONGDESC for discipline in disciplineList" ></select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="SERVICE">Service Type</span>
                      <select name="SERVICE" class="form-control" id="SERVICE" ng-model="visitType.SERVICE"  ng-options="service.KEYID as service.DESC for service in serviceTypeList" ng-selected="service.KEYID=visitType.SERVICE" tabindex="14">
                      </select>
                      <div class="add-servicetype">
                        <button class="glyphicon glyphicon-plus" ng-click="newVisitService()" ></button>
                        <button class="glyphicon glyphicon-minus" ng-click="removeVisitService()" ></button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="EMPCLASS">Employee Class</span>
                      <select name="EMPCLASS" class="form-control" ng-model="visitType.EMPCLASS"  ng-options="employeeClass.KEYID as employeeClass.CLASSDESC for employeeClass in employeeClassList" ng-selected="employeeClass.KEYID=visitType.EMPCLASS" tabindex="15"></select>
                      <div class="add-empclass">
                        <button class="glyphicon glyphicon-plus" ng-click="newEmployeeClass()" ></button>
                        <button class="glyphicon glyphicon-minus" ng-click="removeEmployeeClass()" ></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="input-group" style="line-height:34px">
                      <label class="col-xs-3">Bill</label>
                      <div class="col-xs-8">
                        <div class="radio-inline">
                          <label>
                            <input id="PERVISIT" name="PERVISIT" ng-model="visitType.PERVISIT" ng-value="1" type="radio" tabindex="4">
                            Per Visit
                          </label>
                        </div>
                        <div class="radio-inline">
                          <label>
                            <input id="PERHOUR" name="PERHOUR" ng-model="visitType.PERVISIT" ng-value="0" type="radio" tabindex="5">
                            Per Hour
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group" style="line-height:34px">
                      <label class="col-xs-3">Enter by </label>
                      <div class="col-xs-8">
                        <div class="radio-inline">
                          <label>
                            <input id="ENTERBYTIME" name="ENTERBYTIME" ng-model="visitType.ENTERBYTIME" ng-value="1" type="radio" tabindex="6" >
                            Time In/Out
                          </label>
                        </div>
                        <div class="radio-inline">
                          <label>
                            <input id="ENTERBYHOURS" name="ENTERBYHOURS" ng-model="visitType.ENTERBYTIME" ng-value="0" type="radio" tabindex="7">
                            Hours
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group" style="line-height:34px">
                      <label class="col-xs-3">Round hrs </label>
                      <div class="col-xs-8">
                        <div class="radio-inline">
                          <label>
                            <input id="ROUND_HRS" name="ROUND_HRS" ng-model="visitType.ROUND_HRS" ng-value="1" type="radio" tabindex="8">
                            Yes
                          </label>
                        </div>
                        <div class="radio-inline">
                          <label>
                            <input id="NO_ROUND_HRS" name="ROUND_HRS_NO" ng-model="visitType.ROUND_HRS" ng-value="0" type="radio" tabindex="9">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group" style="line-height:34px">
                      <label class="col-xs-3">Get mileage </label>
                      <div class="col-xs-8">
                        <div class="radio-inline">
                          <label>
                            <input id="GETMILEAGE" name="GETMILEAGE" ng-model="visitType.GETMILEAGE" ng-value="1" type="radio" tabindex="10">
                            Yes
                          </label>
                        </div>
                        <div class="radio-inline">
                          <label>
                            <input id="NOGETMILEAGE" name="GETMILEAGE_NO" ng-model="visitType.GETMILEAGE" ng-value="0" type="radio" tabindex="11">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="input-group">
                    <span class="input-group-addon" id="DFLTEMPPAY">Default Employee Pay</span>
                      <input type="text" name="DFLTEMPPAY" ng-model="visitType.DFLTEMPPAY" class="form-control" tabindex="16" aria-describedby="DFLTEMPPAY">
                    </div>
                  </div>
                  <div class="input-group" style="line-height:34px">
                    <label class="col-xs-3">Default pay</label>
                    <div class="col-xs-8">
                      <div class="radio-inline">
                        <label>
                          <input id="PERVISIT" name="DFLTEMPPAY_PERVISIT" ng-model="visitType.DFLTEMPPAY_PERVISIT" ng-value="1" type="radio" tabindex="17">
                          Per Visit
                        </label>
                      </div>
                      <div class="radio-inline">
                        <label>
                          <input id="PERHOUR" name="DFLTEMPPAY_PERHOUR" ng-model="visitType.DFLTEMPPAY_PERVISIT" ng-value="0" type="radio" tabindex="18">
                          Per Hour
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="DFLTHRS">Default Hrs</span>
                      <input type="text" name="DFLTHRS" ng-model="visitType.DFLTHRS" class="form-control" tabindex="19" aria-describedby="DFLTHRS" >
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="ADMINCOST">Administrative cost</span>
                      <input type="text" name="ADMINCOST" ng-model="visitType.ADMINCOST" aria-describedby="ADMINCOST" class="form-control" tabindex="20" >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-section">
                  <div>Add Form</div>
                  <select class="form-control"
                          tabindex="21"
                          ng-model="selectForm"
                          ng-options="form.NAME for form in forms">
                  </select>
                  <button class="glyphicon glyphicon-plus" ng-click="addForm(selectForm)" tabindex="22"></button>
                </div>
                <div class="selected-form" ng-repeat="form in selectedForms">
                  <div class="pull-left">{{form.NAME}}</div>
                  <a class="pull-right" ng-click="removeForm(form)">Remove</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field-group">
                <div class="col-md-12">
                  <div class="section-title">
                    <div style="display:inline;float:left;margin-right:10px">Insurance Specifics</div>
                    <!-- <span data-ng-click="addInsurance()" class="fa fa-plus"></span> -->

                    <!-- <div class="form-section"> -->
                      <!-- <div>Add Insurance</div> -->
                      <!-- <span> -->
                        <select class="form-control"
                                ng-model="insurance"
                                tabindex="23"
                                ng-options="insurance.NAME for insurance in insuranceList">
                        </select>
                        <!-- <select class=ng-model="insurance.INSURANCE_ID" >
                          <option ng-selected="insco.KEYID==insurance.INSURANCE_ID" ng-repeat="insco in insuranceList" value="insco.KEYID">{{insco.NAME}}</option>
                        </select> -->
                        <span class="fa fa-plus" ng-click="addInsur(insurance);" tabindex="24"></span>
                      <!-- </span> -->
                    </div>


                  <div class="show-insurance-specifics">
                    <div class="insurance-specifics-row-head">
                      <div class="container">
                        <div class="row">
                          <div class="insurance-specifics-row-title">
                            <div class="col-md-1">
                              Insurance
                            </div>
                            <div class="col-md-2">
                              Description
                            </div>
                            <div class="col-md-1">
                              Rev. Code
                            </div>
                            <div class="col-md-1">
                              HCPC
                            </div>
                            <div class="col-md-1">
                              Amount
                            </div>
                            <div class="col-md-1">
                              Billable
                            </div>
                            <div class="col-md-1">
                              Action
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="show-insurance-wrapper">
                      <div class="insurance-specifics-info-row" ng-repeat="insurance in insuranceSpecificsList track by $index"  ng-init="isDisabled[$index]=true; editInput[$index]=false">
                        <div class="container">
                          <div class="row">
                            <div class="col-md-1">
                              <div class="visit-info-item">
                                <!-- <select ng-hide="insurance.id==0" name="INSURANCE_ID" id="INSURANCE_ID" ng-model="insurance.INSURANCE_ID" ng-class="{editInput: editInput[$index]}" ng-disabled="isDisabled[$index]"> -->
                                <!-- <input class="insurance-input" type="text" name="INSNAME" ng-model="insurance.INSNAME" tabindex="1" aria-describedby="INSNAME" ng-class="{editInput: editInput[$index]}" ng-disabled="isDisabled[$index]">
                                <select name="INSURANCE_ID" id="INSURANCE_ID" ng-model="insurance.INSURANCE_ID" >
                                  <option ng-selected="insco.KEYID==insurance.INSURANCE_ID" ng-repeat="insco in insuranceList" value="insco.KEYID">{{insco.NAME}}</option>
                                </select> -->
                                <!-- <span ng-show="insurance.id==0">Default</span> -->
                                {{insurance.NAME}}
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="visit-info-item">
                                <input class="insurance-input" ng-show="insurance.TOADD!==undefined" type="text" name="DESC" ng-model="insurance.DESC" tabindex="1" aria-describedby="DESC" ng-class="{editInput: editInput[$index]}" ng-disabled="isDisabled[$index]">
                                <!-- <div ng-if="insurance.NAME == 'Default'"> {{insurance.DESC}}</div> -->
                                <input  ng-if="insurance.TOADD===undefined" type="text" name="DESC" ng-model="insurance.DESC" aria-describedby="DESC" ng-class="{editInput: editInput[$index]}" >
                              </div>
                            </div>
                            <div class="col-md-1">
                              <div class="visit-info-item">
                                <input class="insurance-input" ng-show="insurance.TOADD!==undefined" type="text" name="REV_CODE" ng-model="insurance.REV_CODE" tabindex="1" aria-describedby="REV_CODE" ng-class="{editInput: editInput[$index]}" ng-disabled="isDisabled[$index]">
                                <!-- <div ng-if="insurance.NAME == 'Default'"> {{insurance.REV_CODE}}</div> -->
                                <input   ng-if="insurance.TOADD===undefined" type="text" name="REV_CODE" ng-model="insurance.REV_CODE"  aria-describedby="REV_CODE" ng-class="{editInput: editInput[$index]}">
                              </div>
                            </div>
                            <div class="col-md-1">
                              <div class="visit-info-item">
                                <input class="insurance-input" ng-show="insurance.TOADD!==undefined" type="text" name="HCPC" ng-model="insurance.HCPC" tabindex="1" aria-describedby="HCPC" ng-class="{editInput: editInput[$index]}" ng-disabled="isDisabled[$index]">
                                <!-- <div ng-if="insurance.NAME == 'Default'"> {{insurance.HCPC}}</div> -->
                                <!-- <input  class="insurance-input" ng-show="insurance.NAME == 'Default' && !existing" type="text" name="HCPC" ng-model="insurance.HCPC"  aria-describedby="HCPC" ng-class="{editInput: editInput[$index]}" ng-disabled="isDisabled[$index]"> -->
                                <input   ng-if="insurance.TOADD===undefined" type="text" name="HCPC" ng-model="insurance.HCPC"  aria-describedby="HCPC" ng-class="{editInput: editInput[$index]}">

                              </div>
                            </div>
                            <div class="col-md-1">
                              <div class="visit-info-item">
                                <input class="insurance-input" type="number" ng-show="insurance.TOADD!==undefined" name="AMOUNT" ng-model="insurance.AMOUNT" tabindex="1" aria-describedby="AMOUNT" ng-class="{editInput: editInput[$index]}" ng-disabled="isDisabled[$index]">
                                <!-- <div ng-if="insurance.NAME == 'Default'"> {{insurance.AMOUNT}}</div> -->
                                <input ng-if="insurance.TOADD===undefined"  type="number" name="AMOUNT" ng-model="insurance.AMOUNT" aria-describedby="AMOUNT" ng-class="{editInput: editInput[$index]}">
                              </div>
                            </div>
                            <div class="col-md-1">
                              <input class="insurance-input" type="checkbox" ng-show="insurance.TOADD!==undefined" name="BILLABLE" ng-model="insurance.BILLABLE" ng-checked="insurance.BILLABLE==1"  aria-describedby="BILLABLE" ng-true-value="1" ng-class="{editInput: editInput[$index]}" ng-disabled="isDisabled[$index]">
                              <!-- <div ng-if="insurance.BILLABLE !== ''"> {{insurance.BILLABLE}}</div> -->
                              <input ng-show="insurance.TOADD === undefined" type="checkbox" name="BILLABLE" ng-model="insurance.BILLABLE" tabindex="1" aria-describedby="BILLABLE" ng-class="{editInput: editInput[$index]}">
                            </div>
                            <div class="col-md-1" ng-hide="noEdit">
                              <!--on page loage, should see delete and edit-->
                              <span class="fa fa-trash" ng-show="isDisabled[$index]" ng-hide="(insurance.TOADD===undefined) || (insurance.INSURANCE_ID===0)" data-ng-click=" removeInsurance(insurance)"></span>
                              <span class="fa fa-pencil" ng-show="isDisabled[$index]" ng-hide="insurance.TOADD===undefined" data-ng-click="isDisabled[$index]=false;editInput[$index]=true;edit(insurance)"></span>

                              <!--once edit is clicked, will show input fields and check mark to confirm changes, or x to remove changes-->
                              <span class="fa fa-check" ng-hide="isDisabled[$index]" data-ng-click="isDisabled[$index]=true; editInput[$index]=false; editInsurance(insurance)"></span>
                              <span class="fa fa-remove" ng-hide="isDisabled[$index]" data-ng-click="isDisabled[$index]=true; editInput[$index]=false;cancel($index)"></span>

                              <!--once insurance is selected and added to list of insurance, see check mark to confirm or x to cancel-->
                              <span class="fa fa-check" ng-show="insurance.TOADD===undefined" data-ng-click=" addInsuranceDetails(insurance)"></span>
                              <span class="fa fa-remove" ng-show="insurance.TOADD===undefined" data-ng-click="cancelAddInsurance(insurance)"></span>


                              <!-- <a  href="javascrip:void(0)"  data-ng-click=" addInsuranceDetails(insurance);">Add</a> -->

                              <!-- <span class="fa fa-remove" ng-hide="isDisabled[$index]" data-ng-click="isDisabled[$index]=true; editInput[$index]=false; removeInsurance(insurance)"></span> -->
                              <!-- <a  href="javascrip:void(0)"    data-ng-click=" removeInsurance(insurance)">Remove</a> -->
                              <!-- <a  href="javascrip:void(0)"   data-ng-click="editInsurance(insurance)">Save Edit</a> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="btn-footer pull-left">
              <button type="" data-ng-click="addInsurance()" class="btn btn-default">Add insurance specifics</button>
            </div> -->
            <div class="btn-footer pull-right">
              <!-- <button type="" data-ng-click="startEdit()" ng-show="noEdit" class="btn btn-default">Edit Visit Type</button> -->
              <button type="" data-ng-click="close()" class="btn btn-default" tabindex="25">Discard Changes</button>
              <button type="submit" data-ng-click="editVisitType();saveVisitTypeInsurance()" class="btn btn-default" tabindex="26">Save Changes</button>
              <!-- <button type="" data-ng-click="stopEdit()" ng-show="!noEdit" class="btn btn-default">Cancel</button></td> -->
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>
</div>
</div>
