#view-visit-type {
  position: relative;
  background: #FFF;
  .head-bar {
    height: 60px;
    padding: 0 0 0 15px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .col-md-12 {
      padding-left: 0;
      padding-right: 20px;
      height: 60px;
    }
    .close {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 14px;
    }
  }
  .title {
    float: left;
    span {
      line-height: 60px;
      margin: 0 20px;
      float: left;
    }
    h3 {
      line-height: 60px;
      margin: 0;
      float: left;
    }
  }
  .form-background {
    padding:10px;
    // background-color: #F5F5F5;
  }
  input[type=radio] {
    margin: 0;
    margin-left: -20px;
    margin-top: 10px;
  }
  .input-group {
    margin-bottom: 10px;
    width: 100%;
  }
  .input-group-addon {
    min-width:120px;
    text-align: left;
  }
  .bottom-nav {
    i {
      margin-left: 8px;
    }
    button {
      margin: 10px;
    }
  }
  .text-area-addon {
    background-color: #eee;
    border: 1px solid #ccc;
    display: block;
    width: 85%;
    padding: 5px 10px;
    border-radius: 2px;
  }
  textarea {
    resize: none;
    width: 85%;
  }
  .create-section-title {
    background: rgba(112, 102, 157, 0.08);
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
  }
  .input-field-group {
    margin-bottom: 5px;
    // overflow: auto;
    margin-top: 5px;
    input[type='text'],[type='date'],[type='email'],[type='number'] {
      width: 80%;
    }
    select {
      width: 80%;
    }
  }
  .insurance-specifics-row-head {
    color: black;
    height: 35px;
    background-color: rgba(#70669D, .08);
    padding: 8px 0;
    border-bottom: 1px solid lightgrey;
    .insurance-specifics-row-title {
      color: #717171;
      i {
        top: 3px;
      }
    }
  }
  .insurance-specifics-info-row {
    cursor: pointer;
    font-size: 12px;
    padding: 10px 0;
    &:hover {
      background-color: rgba(#70669D, .15);
    }
    span {
      // color: #B5B5B5;
    }
    .insurance-specifics-name-column {
      a {
        color: #000;
      }
      position: relative;
      .insurance-specifics-name {
        margin-left: 10px;
        top: 15px;
        display: inline-block;
        position: absolute;
      }
    }
    .insurance-specifics-info-item {
      margin-top: 15px;
      i {
        float: right;
        margin-right: 60px;
        cursor: pointer;
      }
    }
    .selected {
      background-color: rgba(#70669D, .15);
    }
  }
  .insurance-input {
     border: none;
     background-color: transparent;
  }
  .editInput {
    padding: 2px;
    border: 1px solid #CCC;
    color: #555;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color:#FFF;
  }
  .section-title {
    background: #CFCFCF;
    font-size: 14px;
    padding-left: 10px;
    padding-right:10px;
    line-height:50px;
    height:50px;
    select {
      float:left;
      margin-top: 10px;
    }
    span {
      float:right;
      line-height: 50px;
    }
  }
  .show-insurance-specifics {
    border: 1px solid #CCC;
  }
  .show-insurance-wrapper {
    // max-height: 125px;
    // overflow: auto;
  }
  .form-section {
    background: #F5F5F5;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    select {
      width: 85%;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .selected-form {
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    line-height: 20px;
    height: 40px;
    border: 1px solid #CCC;
    border-top: none;
    padding: 10px 30px 10px 85px;
    a {
      cursor: pointer;
    }
  }
}
