#recertification-assessment {

    /* text input fields */
    .form-text-input {
        input[type=text] {
            width: 250px;
            height: 30px;
        }

        textarea:hover,
        input[type=text]:hover,
        input[type=number]:hover {
            border-color: #8B8B90;
        }

        textarea:focus,
        input[type=text]:focus,
        input[type=number]:focus {
            border-color: #7960DE;
        }

        textarea:disabled,
        input[type=text]:disabled,
        input[type=number]:disabled {
            background-color: #E8E5EC;
        }
    }

    /* date input fields */
    .form-date-input {
        width: 288px;

        input[type=text]:hover {
            border-color: #8B8B90;
        }

        input[type=text]:focus {
            border-color: #7960DE;
        }

        input[type=text]:disabled {
            background-color: #E8E5EC;
        }
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1111 !important;
        top: 0;
        right: 0;
        background-color: white;
        overflow-x: auto;
        overflow-y: auto;
        transition: 0.5s;
        margin-top: 60px;
    }
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .table-m1021,
    .table-m1730 {
        td {
            border: 0.5px solid #000;
        }
    }

    // M1011 dropbox
    .dropdown-menu {
        z-index: 1;
    }

    // M1311 width of text input
    .auto-style18 {
        width: 150px;
    }
}

//----------------------------------------------- Right sidebar for add medication -------------------------------
.new-patient-medication {
  
    background: #FFF;
    .head-bar {
        height: 60px;
        padding: 0 0 0 15px;
        box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
        .col-md-12 {
            padding-left: 0;
            padding-right: 20px;
            height: 60px;
        }
        .close {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 14px;
        }
    }
    .title {
        float: left;
        span {
            line-height: 60px;
            margin: 0 20px;
            float: left;
        }
        h3 {
            line-height: 60px;
            margin: 0;
            float: left;
        }
    }
    .form-background {
        padding:10px;
    }
    input[type=radio] {
        margin: 0;
        margin-left: -20px;
        margin-top: 10px;
    }
    .input-group {
        margin-bottom: 10px;
        width: 100%;
    }
    .input-group-addon {
        min-width:150px;
        text-align: left;
    }
    .bottom-nav {
        i {
            margin-left: 8px;
        }
        button {
            margin: 10px;
        }
    }
    .text-area-addon {
        background-color: #eee;
        border: 1px solid #ccc;
        display: block;
        width: 85%;
        padding: 5px 10px;
        border-radius: 2px;
    }
    textarea {
        resize: none;
        // width: 85%;
    }
    .create-section-title {
        background: rgba(112, 102, 157, 0.08);
        padding: 10px 0;
        border-bottom: 1px solid lightgrey;
        border-top: 1px solid lightgrey;
    }
    .input-field-group {
        margin-bottom: 5px;
        margin-top: 5px;
        input[type='text'],[type='date'],[type='email'] {
        }
        select {
        }
    }
    .insurance-specifics-row-head {
        color: black;
        height: 35px;
        background-color: rgba(#70669D, .08);
        padding: 8px 0;
        border-bottom: 1px solid lightgrey;
        .insurance-specifics-row-title {
            color: #717171;
                i {
                top: 3px;
                }
        }
    }
    .insurance-specifics-info-row {
        cursor: pointer;
        font-size: 12px;
        padding: 10px 0;
        &:hover {
            background-color: rgba(#70669D, .15);
        }
        span {
            color: #B5B5B5;
        }
        .insurance-specifics-name-column {
            a {
                color: #000;
            }
            position: relative;
            .insurance-specifics-name {
                margin-left: 10px;
                top: 15px;
                display: inline-block;
                position: absolute;
            }
        }
        .insurance-specifics-info-item {
            margin-top: 15px;
            i {
                float: right;
                margin-right: 60px;
                cursor: pointer;
            }
        }
        .selected {
            background-color: rgba(#70669D, .15);
        }
    }
    .insurance-input {
        border: none;
        background-color: transparent;
    }
    .editInput {
        padding: 2px;
        border: 1px solid #CCC;
        color: #555;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        border-radius: 4px;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        background-color:#FFF;
    }
    .section-title  {
        background: #CCC;
        margin-left: 20px;
        margin-right: 20px;
        line-height: 34px;
        padding-left: 20px;
        margin-bottom: 15px;
    }
    .form-section {
        background: #F5F5F5;
        border: 1px solid #CCC;
        border-radius: 4px;
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        select {
            width: 85%;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .selected-form {
        background: #fff;
        line-height: 20px;
        height: 40px;
        border: 1px solid #CCC;
        border-top: none;
        padding: 10px 30px 10px 85px;
        a {
            cursor: pointer;
        }
    }
}
  
div#medication_name_input_group>ul {
    left: 0px !important;
    width: 100%;
    overflow: scroll;
}

div#medication_name_input_group>ul>li>a {
    width: fit-content;
    font-size: 14px !important;
}

div#medication_name_input_group1>ul {
    left: 0px !important;
    width: 100%;
    overflow: scroll;
}

div#medication_name_input_group1>ul>li>a {
    width: fit-content;
    font-size: 14px !important;
}
/* scss for entire project */
.md-select-menu-container {
    z-index: 1112 !important;
}

md-radio-button  {

    margin-bottom: 5px !important;
    display: inline-block !important;
    line-height: 27px;

    .md-off {
        width: 18px;
        height: 18px;
        border-color: #060124;
    }

    .md-on {
        width: 18px;
        height: 18px;
        background-color: #3B18F5;
    }

    .md-label {
        margin-left: 25px;
    }

    .md-ripple-container {
        display: none !important;
    }

    .md-container {
        width: 18px;
        height: 18px;
    }

    &:hover {
        .md-container {
            box-shadow: 0 0 0 2px #82A4F8;
        }
    }
}

md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off {
    border-color: #3B18F5;
}