<div id="billingsExpanedNav" class="">
  <div class="menu-headline">
  </div>
  <div class="menu-notification compliant" ng-if="pendingStatus(selectedPatient.status)">
    Pending - Day 2 of 5
  </div>
  <ul class="menu">
    <a ui-sref="billing"><li class="sub-menu" style="">Billing</li>
    <a ui-sref="remittanceAdvice"><li class="sub-menu" style="">Remittance Advice</li>
    <a ui-sref="#"><li class="sub-menu" style="">Claims</li>
    <a ui-sref="#"><li class="sub-menu" style="">Revenue/Cost Analysis</li>
    <a ui-sref="claimEstimate"><li class="sub-menu" style="">OASIS Estimates </li>
    <a ui-sref="payroll"><li class="sub-menu" style="">Payroll</li>
    <!-- <a ui-sref="ICD"><li class="sub-menu" style="">ICD-10 Data</li>
    <a ui-sref="supplies"><li class="sub-menu" style="">Supplies used Data</li>
    <a href="#"><li class="sub-menu" style="">Run Payroll</li>
    <a ui-sref="languages"><li class="sub-menu" style="">Languages</li>
    <a ui-sref="religions"><li class="sub-menu" style="">Religions</li>
    <a ui-sref="referralSources"><li class="sub-menu" style="">Referral Sources</li>
    <a href="#"><li class="sub-menu" style="border-top:none">Compliance Control</li> -->
  </ul>
  <!-- <div class="menu-notification">
    Recent Activity
  </div> -->
</div>
