#schedule-dashboard {
  margin-left: 160px;
  position: relative;
  background: #FFF;
  overflow: hidden;
  padding-top: 60px;
  .head-bar {
    height: 60px;
    padding: 0 0 0 15px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .col-md-12 {
      padding-left: 0;
      padding-right: 20px;
      height: 60px;
    }
    .icons {
      margin: 10px 0;
      padding: 0;
      list-style: none;
      float: right;
      li {
        float: left;
        padding: 10px 18px;
      }
    }
    .btn-group {
      margin-top: 13px;
    }
  }
  .title {
    margin-right: 10px;
    float: left;
    span {
      line-height: 60px;
      margin: 0 20px;
      float: left;
    }
    h3 {
      line-height: 60px;
      margin: 0;
      float: left;
    }
  }
  .form-background {
    padding: 20px 40px;
    background-color: #F5F5F5;
  }
  .metric-box {
    // height: 115px;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.24), 0px 1px 4px 0px rgba(0,0,0,0.04);
    border-radius: 2px;
    margin: 20px;
  }
  .schedule-row-head {
    color: black;
    height: 35px;
    background-color: rgba(#70669D, .08);
    padding: 8px 0;
    border-bottom: 1px solid lightgrey;
    .schedule-row-title {
      color: #717171;
      i {
        top: 3px;
      }
    }
  }
  .schedule-info-row {
    cursor: pointer;
    font-size: 12px;
    padding: 10px 0;
    &:hover {
      background-color: rgba(#70669D, .15);
    }
    .schedule-info-item {
      margin-top: 15px;
      i {
        float: right;
        margin-right: 60px;
        cursor: pointer;
      }
    }
  }
}
