<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#patient-billing" patientnavopen='true'></header-nav>
</div>

<div id="patient-billing">
  <div class="search-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-12">
          <span class="icon-profile icon-size-3"></span>
          <span class="text-heading">Billing</span>
        </div>
        <div class="col-md-7 col-sm-12">
          <div style="display:inline-flex;">
            <span style="line-height:34px;margin-right:5px">Admit</span>
             <select name="ADMIT" class="form-control"
                     ng-model="ADMIT"
                     ng-change = "changeAdmit()"
                     ng-options = "admit.ADMITNO for admit in admissions">
             </select>
          </div>
          <div style="display:inline-flex;margin-left:20px">
            <span style="line-height:34px;margin-right:5px">Episode</span>
             <select name="EPISODENO" class="form-control"
                     ng-model="EPISODE"
                     ng-change="changeEpisode()"
                     ng-options = "episode.EPISODENO for episode in episodes">
             </select>
          </div>
        </div>
        <!-- <div class="col-md-6 col-sm-12">
          <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" ng-model="searchText" />
          </div>
        </div> -->
        <div class="col-md-2">
          <div class="add-billing">
            <span class="glyphicon glyphicon-plus" ng-click="newBilling()"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="billings-row-head">
    <div class="container">
      <div class="row">
        <div class="billings-row-title">
          <div class="col-md-1">
            Date
          </div>
          <div class="col-md-1 narrow">
            Admit
          </div>
          <div class="col-md-1 narrow">
            Episode
          </div>
          <div class="col-md-1 narrow">
            Hrs
          </div>
          <div class="col-md-1">
            Discipline
          </div>
          <div class="col-md-1">
            Visit Type
          </div>
          <div class="col-md-1">
            Employee
          </div>
          <div class="col-md-1 narrow">
            Claim #
          </div>
          <div class="col-md-1 narrow">
            Cost
          </div>
          <div class="col-md-1">
            Billed Amt.
          </div>
          <div class="col-md-1 narrow">
            Billable
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="errorMsg">
    <h5 class="text-center">Error: No visits in your selection</h5>
  </div>
  <div class="billings-info-row" ng-repeat="visit in filteredVisits">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <div class="billings-info-item">
            {{visit.VISITDATE}}
          </div>
        </div>
        <div class="col-md-1 narrow">
          <div class="billings-info-item">
            {{visit.ADMITNO}}
          </div>
        </div>
        <div class="col-md-1 narrow">
          <div class="billings-info-item">
            {{visit.EPISODENO}}
          </div>
        </div>
        <div class="col-md-1 narrow">
          <div class="billings-info-item">
            {{visit.HOURS}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="billings-info-item">
            {{visit.DISCIPLINE}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="billings-info-item">
            {{visit.VISITTYPEDESC}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="billings-info-item">
            {{visit.EMPLOYEE}}
          </div>
        </div>
        <div class="col-md-1 narrow">
          <div class="billings-info-item">
            {{visit.CLAIMNO}}
          </div>
        </div>
        <div class="col-md-1 narrow">
          <div class="billings-info-item">
            {{visit.COST}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="billings-info-item">
            {{visit.BILLED}}
          </div>
        </div>
        <div class="col-md-1 narrow">
          <div class="billings-info-item">
            <input type="checkbox" ></input>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="billings-info-row">
          <div class="col-md-1" style="border-top:1px solid black">
            Total Visits: {{visits.length}}
          </div>
          <div class="col-md-1 narrow">
          </div>
          <div class="col-md-1 narrow">
          </div>
          <div class="col-md-1 narrow" style="border-top:1px solid black">
            {{ TOTALHOURS | number : 2}}
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-1 narrow">
          </div>
          <div class="col-md-1 narrow" style="border-top:1px solid black">
            {{TOTALCOST | number : 2}}
          </div>

        </div>
      </div>
    </div>
  </div>


</div>


<div class="right-menu">
  <expanded-nav></expanded-nav>
</div>
