#patient-billing {
  overflow: hidden;
  margin-left: 370px;
  position: relative;
  background: #FFF;
  padding-top: 60px;
  .search-bar {
    // @include tablet {
    //   height: 100px;
    // }
    height: 60px;
    padding: 12px 0;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .text-heading {
      position: absolute;
      margin-left: 10px;
      span {
        position: absolute;
        top: 3px;
      }
    }
    select {
      float: right;
      display: inline-block;
      width: 120px;
    }
    input [type='text']{
      width: 100%;
      background: #F1F1F1;
      font-size: 20px;
    }
    .inner-addon {
      position: relative;
    }
    .inner-addon .glyphicon {
      position: absolute;
      padding: 10px;
      pointer-events: none;
    }
    .left-addon .glyphicon  { left:  0px;}
    .left-addon input  { padding-left:  30px; }
    .add-billing {
      a {
        color: #000;
        text-decoration: none;
      }
      cursor: pointer;
      i {
        font-size: 25px;
      }
    }
  }
  .billings-row-head {
    color: black;
    height: 35px;
    background-color: rgba(#70669D, .08);
    padding: 8px 0;
    border-bottom: 1px solid lightgrey;
    .billings-row-title {
      color: #717171;
      i {
        top: 3px;
      }
      .narrow {
        width: 6%;
      }
    }
  }
  .billings-info-row {
    cursor: pointer;
    font-size: 12px;
    padding: 10px 0;
    &:hover {
      background-color: rgba(#70669D, .15);
    }
    span {
      color: #B5B5B5;
    }
    .narrow {
      width:6%;
    }
    .billings-name-column {
      a {
        color: #000;
      }
      position: relative;
      .billings-name {
        margin-left: 10px;
        top: 15px;
        display: inline-block;
        position: absolute;
      }
    }
    .billings-info-item {
      margin-top: 15px;
      i {
        float: right;
        margin-right: 60px;
        cursor: pointer;
      }

    }
  }
}
