<div id="review-claim">
  <div class="head-bar">
    <div class="col-md-9">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>Electronic Claim Generation</h3>
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" style="margin-top:12px;" ng-click="">Send Electronic Claim</button>
    </div>
    <div ng-click="close()" class="fa fa-remove close"></div>
  </div>
  <div class="billings-row-head">
    <div class="container" style="width:100%">
      <div class="row">
        <div class="billings-row-title">
          <div class="col-md-2">
            Patient Name
          </div>
          <div class="col-md-1">
            Pat. ID
          </div>
          <div class="col-md-3">
            Episode Dates
          </div>
          <div class="col-md-1">
            Insurance
          </div>
          <div class="col-md-1">
            Type
          </div>
          <div class="col-md-2">
            Claim #
          </div>
          <div class="col-md-2">
            Claim Date
          </div>
          <!-- <div class="col-md-2 text-center">
            Generate <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()">
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="billings-info-row" ng-repeat="claim in claims" >
    <div class="container" style="width:100%">
      <div class="row">
        <div class="col-md-2">
          <div class="billings-info-item">
            {{claim.FNAME}} {{claim.LNAME}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="billings-info-item">
            {{claim.PATID}}
          </div>
        </div>
        <div class="col-md-3">
          <div class="billings-info-item">
            {{claim.EPISODES[0].FROMDATE}} - {{claim.EPISODES[0].THURDATE}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="billings-info-item">
            {{claim.INSURANCECO}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="billings-info-item">
            {{claim.CLAIMTYPE}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="billings-info-item">
            {{claim.CLAIMNO}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="billings-info-item">
            {{claim.CLAIMDATE}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="billings-info-item text-center">
            <!-- <input type="checkbox" ng-if="patient.DETAIL ==='Ready'" ng-model="patient.selected" ng-click="generateBtn()"> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
