.right-menu {
  overflow: scroll;
  z-index: 8;
  position: fixed;
  top: 60px;
  left: -210px;
  height: 100%;
  width: 210px;
  background:#42335E;
  padding-bottom: 70px;
  .menu-headline {
    padding: 20px 15px 0 25px;
    height: 60px;
    background: #75469B;
    color: #E9DBF0;
    text-transform: uppercase;
    font-size: 15px;
    i {
      cursor: pointer;
      float: right;
    }
  }
  a {
    text-decoration: none;
    color: #9B95A7;
    &:hover {
      color: #FFF;
    }
  }
  .menu-notification {
    margin: 15px 15px 0 15px;
    text-align: center;
    padding: 15px;
    color: #E9DBF0;
    padding: 10px;
    width: 75%;
    margin: 20px auto 0;
    border-radius: 2px;
    &.compliant {
      background-color: #795E9F;
    }
    &.not-compliant {
      background-color: #ff4d4d;
    }
  }
  ul.menu {
    list-style: none;
    padding: 15px;
    margin: 0 5px;
    a.sub-menu:first-child {
      border-top: 1px solid #9B95A7;
      margin-top: 5px;
    }
    // li.sub-menu:nth-child(3) {
    //   // border-bottom: none;
    //   margin-bottom: -10px;
    // }
    // li.sub-menu:nth-child(5) {
    //   border-top: 1px solid #9b95a7;
    //   // margin-top: 10px;
    //   // border-bottom: none;
    //   // margin-bottom: -10px;
    // }
    // li.sub-menu:nth-child(7) {
    //   border-top: 1px solid #9b95a7;
    //   margin-top: 10px;
    // }
    li {
      cursor: pointer;
      padding: 13px;
      position: relative;
      color: #9B95A7;
      padding: 10px 5px;
      border-bottom: 1px solid #9B95A7;
      &:hover {
        color: #FFF;
      }
      i {
        margin-right: 10px;
      }
      .menu-heading {
        position: absolute;
        top: 16px;
        margin-left: 15px;
        display: inline-block;
      }
    }
  }
  ul.expand {
    list-style: none;
    padding-left: 5px;
    font-size: 12px;
    li {
      border: none;
      padding: 10px 0 0 5px;
      a {
        text-decoration: none;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0 22px;
    }
  }
  .form-section {
    &:hover {
      color:#FFF;
    }
    &.active {
      color:#FFF;
    }
  }
}
