<div id="new-form">
  <div class="row">
    <form name="newUserGroup" class="expand">
      <div class="col-md-12 col-sm-12 form-inline">
        <div class="new-group-title">
          <span class="pull-left">New Group Name:</span>
          <input required type="text" name="DESCRIPTION" ng-model="$parent.DESCRIPTION" class="form-control" tabindex="6" aria-describedby="DESCRIPTION">
        </div>
      </div>
      <div class="col-md-12">
        <section class="Program">
          <div class="section-head">
            <h5 class="pull-left">Program Area</h5>
            <h5 class="pull-right">Access</h5>
          </div>
          <div class="section-title" ng-click="expandPatientInfo=!expandPatientInfo; checkPatientInfo=!checkPatientInfo">
            <h5 class="pull-left">Patient Information</h5>
            <div class="arrow pull-right">
              <span ng-hide="checkPatientInfo" class="fa fa-chevron-down"></span>
              <span ng-show="checkPatientInfo" class="fa fa-chevron-up"></span>
            </div>
          </div>
          <div class="expand-section" ng-show="expandPatientInfo">
            <div class="row">
              <div class="col-md-4">
                <div class="section-item">
                  <div class="pull-left">Assessments</div>
                  <div class="checkbox pull-right">
                    <label>
                      <input name="ASSESSMENTS" ng-model="$parent.ASSESSMENTS" ng-true-value="1" ng-false-value="0" ng-init="$parent.ASSESSMENTS=0" type="checkbox">
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="section-item">
                  <div class="pull-left">Orders</div>
                  <div class="checkbox pull-right">
                    <label>
                      <input name="ORDERS" ng-model="$parent.ORDERS" ng-true-value="1" ng-false-value="0" ng-init="$parent.ORDERS=0" type="checkbox">
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="section-item">
                  <div class="pull-left">Care Plans</div>
                  <div class="checkbox pull-right">
                    <label>
                      <input name="CARE_PLANS" ng-model="$parent.CARE_PLANS" ng-true-value="1" ng-false-value="0" ng-init="$parent.CARE_PLANS=0" type="checkbox">
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="section-item">
                  <div class="pull-left">Scheduling</div>
                  <div class="checkbox pull-right">
                    <label>
                      <input name="PATIENT_SCHEDULING" ng-model="$parent.PATIENT_SCHEDULING" ng-true-value="1" ng-false-value="0" ng-init="$parent.PATIENT_SCHEDULING=0" type="checkbox">
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="section-item">
                  <div class="pull-left">Visits</div>
                  <div class="checkbox pull-right">
                    <label>
                      <input name="VISITS" ng-model="$parent.VISITS" ng-true-value="1" ng-false-value="0" ng-init="$parent.VISITS=0" type="checkbox">
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="section-item">
                  <div class="pull-left">Claims</div>
                  <div class="checkbox pull-right">
                    <label>
                      <input name="CLAIMS" ng-model="$parent.CLAIMS" ng-init="$parent.CLAIMS=0" type="checkbox">
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="section-item">
                  <div class="pull-left">Employee Information</div>
                  <div class="checkbox pull-right">
                    <label>
                      <input name="EMPLOYEE_INFORMATION" ng-model="$parent.EMPLOYEE_INFORMATION" ng-init="$parent.EMPLOYEE_INFORMATION=0" type="checkbox">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-title" ng-click="expandEmployeeInfo=!expandEmployeeInfo; checkEmployeeInfo=!checkEmployeeInfo">
            <h5 class="pull-left">Employee Personal Information</h5>
            <div class="arrow pull-right">
              <span ng-hide="checkEmployeeInfo" class="fa fa-chevron-down"></span>
              <span ng-show="checkEmployeeInfo" class="fa fa-chevron-up"></span>
            </div>
          </div>
          <div class="expand-section" ng-show="expandEmployeeInfo">
            <div class="row">
              <div class="col-md-4">
                <div class="section-item">
                  <div class="pull-left">Employee Payroll Information </div>
                  <div class="checkbox pull-right">
                    <label>
                      <input name="EMPLOYEE_PAYROLL" ng-model="$parent.EMPLOYEE_PAYROLL" ng-true-value="1" ng-false-value="0" ng-init="$parent.EMPLOYEE_PAYROLL=0" type="checkbox">
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="section-item">
                  <div class="pull-left">Scheduling Window</div>
                  <div class="checkbox pull-right">
                    <label>
                      <input name="EMPLOYEE_SCHEDULING" ng-model="$parent.EMPLOYEE_SCHEDULING" ng-true-value="1" ng-false-value="0" ng-init="$parent.EMPLOYEE_SCHEDULING=0" type="checkbox">
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="section-item">
                  <div class="pull-left">Biling Menu</div>
                  <div class="checkbox pull-right">
                    <label>
                      <input name="BILLING" ng-model="$parent.BILLING" ng-true-value="1" ng-false-value="0" ng-init="$parent.BILLING=0" type="checkbox">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-title" ng-click="expandVisitEntry=!expandVisitEntry; checkVisitEntry=!checkVisitEntry">
            <h5 class="pull-left">Visit Entry & Review</h5>
            <div class="arrow pull-right">
              <span ng-hide="checkVisitEntry" class="fa fa-chevron-down"></span>
              <span ng-show="checkVisitEntry" class="fa fa-chevron-up"></span>
            </div>
          </div>
          <div class="expand-section" ng-show="expandVisitEntry">
            <div class="row">
              <div class="col-md-4">
                <div class="section-item">
                  <div class="pull-left">QA Tools </div>
                  <div class="checkbox pull-right">
                    <label>
                      <input name="QA_TOOLS" ng-model="$parent.QA_TOOLS" ng-true-value="1" ng-false-value="0" ng-init="$parent.QA_TOOLS=0" type="checkbox">
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="section-item">
                  <div class="pull-left">Reports Menu</div>
                  <div class="checkbox pull-right">
                    <label>
                      <input name="REPORTS" ng-model="$parent.REPORTS" ng-true-value="1" ng-false-value="0" ng-init="$parent.REPORTS=0"type="checkbox">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-title" ng-click="expandOasisExport=!expandOasisExport; checkOasisExport=!checkOasisExport">
            <h5 class="pull-left">Create Oasis Export Files</h5>
            <div class="arrow pull-right">
              <span ng-hide="checkOasisExport" class="fa fa-chevron-down"></span>
              <span ng-show="checkOasisExport" class="fa fa-chevron-up"></span>
            </div>
          </div>
          <div class="expand-section" ng-show="expandOasisExport">
            <div class="row">
              <div class="col-md-4">
                <div class="section-item">
                  <div class="pull-left">Internet Updates</div>
                  <div class="checkbox pull-right">
                    <label>
                      <input name="CREATE_OASIS_EXPORT" ng-model="$parent.CREATE_OASIS_EXPORT"  ng-true-value="1" ng-false-value="0" ng-init="$parent.CREATE_OASIS_EXPORT=0" type="checkbox">
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="section-item">
                  <div class="pull-left">Backup Data Files</div>
                  <div class="checkbox pull-right">
                    <label>
                      <input name="BACKUP" ng-model="$parent.BACKUP" ng-true-value="1" ng-false-value="0" ng-init="$parent.BACKUP=0" type="checkbox">
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="section-item">
                  <div class="pull-left">Archive Patients </div>
                  <div class="checkbox pull-right">
                    <label>
                      <input name="ARCHIVE_PATIENTS" ng-model="$parent.ARCHIVE_PATIENTS" ng-true-value="1" ng-false-value="0" ng-init="$parent.ARCHIVE_PATIENTS=0" type="checkbox">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-title" ng-click="expandProgramConfig=!expandProgramConfig; checkProgramConfig=!checkProgramConfig">
            <h5 class="pull-left">Program Configuration Options</h5>
            <div class="arrow pull-right">
              <span ng-hide="checkProgramConfig" class="fa fa-chevron-down"></span>
              <span ng-show="checkProgramConfig" class="fa fa-chevron-up"></span>
            </div>
          </div>
          <div class="expand-section" ng-show="expandProgramConfig">
            <div class="row">
              <div class="col-md-4">
                <div class="section-item">
                  <div class="pull-left">Access Control</div>
                  <div class="checkbox pull-right">
                    <label>
                      <input name="CONFIGURATION" ng-model="$parent.CONFIGURATION" ng-true-value="1" ng-false-value="0" ng-init="$parent.CONFIGURATION=0" type="checkbox">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="btn-footer pull-right">
        <button class="btn btn-primary" tabindex="14" ng-click="createNewUserGroup(newUserGroup)">Add Group</button>
        <button class="btn btn-primary cancel" tabindex="14" ng-click="cancelNewForm($parent.newUserGroup)">Back To Groups</button>
      </div>
    </form>
  </div>
</div>
