#patient-status {
  .create-section-title {
    background: rgba(112, 102, 157, 0.08);
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;
  }
  // position: relative;
  // span {
  //   position: absolute;
  //   right: 10px;
  //   top: 10px;
  //   font-size: 12px;
  // }
  // select {
  //   float:left;
  // }
  footer {
    button {
    margin: 0 20px 20px 0;
    }
  }

}
