<div id="patient-status">
  <span ng-click="close()" class="fa fa-remove close"></span>
  <div class="create-section-title">
    <div class="container small">
      <div class="row">
        <div class="col-md-12">
          <h3>Patient Status</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">Current Status: </div>
  <div class="col-md-9">
    <select name="PATSTATUS" ng-show="(patient.PATSTATUS === 'A') && (admission.SOCDATE !== null)" class="form-control" tabindex="10" ng-init="PATSTATUS=patient.PATSTATUS" ng-model="PATSTATUS" ng-change="status(PATSTATUS)">
      <option value="">-Select One-</option>
      <!-- <option value="P">Pending</option> -->
      <option value="A">Admitted</option>
      <option value="T">Transfer</option>
      <option value="D">Discharge</option>
    </select>

    <select name="PATSTATUS" ng-show="(patient.PATSTATUS === 'A') && (admission.SOCDATE === null) && (admission.ADMITNO===1)" class="form-control" tabindex="10" ng-init="PATSTATUS=patient.PATSTATUS" ng-model="PATSTATUS" ng-change="status(PATSTATUS)">
      <option value="">-Select One-</option>
      <option value="P">Pending</option>
      <option value="A">Admitted</option>
      <!-- <option value="T">Transfer</option>
      <option value="D">Discharge</option> -->
    </select>
    <!-- <div ng-show="pendingMsg" style="color:red;">Alert: Saving changes will automatically delete exisiting scheuled SOC visit</div> -->
    <select name="PATSTATUS" ng-show="(patient.PATSTATUS === 'A') && (admission.SOCDATE === null) && (admission.ADMITNO!==1)" class="form-control" tabindex="10" ng-init="PATSTATUS=patient.PATSTATUS" ng-model="PATSTATUS" ng-change="status(PATSTATUS)">
      <option value="">-Select One-</option>
      <!-- <option value="P">Pending</option> -->
      <option value="A">Admitted</option>
      <!-- <option value="T">Transfer</option>-->
      <option value="D">Discharge</option>
    </select>
    <div ng-show="pendingMsg" style="color:red;">Alert: Saving changes will automatically delete exisiting scheuled SOC visit</div>
    <select name="PATSTATUS" ng-show="patient.PATSTATUS === 'P'" class="form-control" tabindex="10" ng-init="PATSTATUS=patient.PATSTATUS" ng-model="PATSTATUS" ng-change="status(PATSTATUS)">
      <option value="">-Select One-</option>
      <option value="P">Pending</option>
      <option value="N">Non-Admit</option>
      <option value="A">Admitted</option>
    </select>
    <select name="PATSTATUS" ng-show="patient.PATSTATUS === 'D'" class="form-control" tabindex="10" ng-init="PATSTATUS=patient.PATSTATUS" ng-model="PATSTATUS" ng-change="status(PATSTATUS)">
      <option value="">-Select One-</option>
      <!-- <option value="P">Pending</option> -->
      <option value="A">Admitted</option>
      <!-- <option value="N">Non-Admit</option> -->
      <option value="D">Discharge</option>
    </select>
    <select name="PATSTATUS" ng-show="patient.PATSTATUS === 'N'" class="form-control" tabindex="10" ng-init="PATSTATUS=patient.PATSTATUS" ng-model="PATSTATUS" ng-change="status(PATSTATUS)">
      <option value="">-Select One-</option>
      <!-- <option value="P">Pending</option> -->
      <option value="A">Admitted</option>
      <option value="N">Non-Admit</option>
      <!-- <option value="D">Discharge</option> -->
    </select>
    <select name="PATSTATUS" ng-show="patient.PATSTATUS === 'T'" class="form-control" tabindex="10" ng-init="PATSTATUS=patient.PATSTATUS" ng-model="PATSTATUS" ng-change="status(PATSTATUS)">
      <option value="">-Select One-</option>
      <!-- <option value="P">Pending</option> -->
      <option value="A">Admitted</option>
      <!-- <option value="N">Non-Admit</option> -->
      <option value="T">Transfer</option>
      <option value="D">Discharge</option>
    </select>
  </div>
  <div ng-show="nonadmit">
    <div class="col-md-3">Non-Admit reason: </div>
    <div class="col-md-9">
      <select name="DCREASON" class="form-control" tabindex="10"
        ng-model="NAREASON"
        ng-options="nareason.KEYID as nareason.DESC for nareason in nonadmitReasons">
        <option value="">-Select One-</option>
      </select>
    </div>
  </div>
  <!-- <div ng-show="discharge">
    <div class="col-md-3">Discharge reason: </div>
    <div class="col-md-9">
      <select name="DCREASON" class="form-control" tabindex="10" ng-model="DCREASON">
        <option value="">-Select One-</option>
        <option value="01">Not Homebound</option>
        <option value="02">Services Not Needed</option>
        <option value="03">Patient Stabilized</option>
        <option value="05">Referral Cancelled</option>
        <option value="05">Refused Services</option>
        <option value="06">On Service with Another Agency</option>
        <option value="07">Patient Not Home</option>
        <option value="08">Address Not Found</option>
        <option value="09">Out of Service Area</option>
        <option value="09">Insurance Denial</option>
        <option value="10">Admitted to Hospital</option>
        <option value="11">Admitted to SNF</option>
        <option value="12">Redirected to alternate care facility</option>
        <option value="13">Deceased</option>
        <option value="14">Other</option>
      </select>
    </div> -->
    <!-- <div class="col-md-3">Discharge Date: </div>
    <div class="col-md-8">
      <div class="input-group" style="width:100%">
        <input type="text"
            ng-disabled="noEdit"
            class="form-control"
            uib-datepicker-popup='yyyy-MM-dd'
            ng-model="visit.VISITDATE"
            is-open="openedVISITDATE"
            show-button-bar="false"
            ng-click="openedVISITDATE=true"
            datepicker-append-to-body="false"
            alt-input-formats="altInputFormats" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openedVISITDATE=true"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <hr>
      <footer>
        <button ng-show="saveChanges" class="btn btn-primary purple pull-right" ng-click="save()">Save Changes</button>
        <button ng-show="scheduleSOCVisit" class="btn btn-primary purple pull-right" ng-click="scheduleSOC()">Schedule Visit</button>
        <button ng-show="scheduleNewVisit" class="btn btn-primary purple pull-right" ng-click="openNewVisitModal()">Schedule Visit</button>

        <button class="btn btn-default pull-right" ng-click="close()">Cancel</button>
      </footer>
    </div>
  </div>
</div>
