#employee-schedule {
  // margin-left: 60px;
  position: relative;
  background: #FFF;
  overflow: hidden;
  padding-top: 60px;
  .head-bar {
    height: 60px;
    padding: 12px 0;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
  }
  .form-background {
    padding: 20px 40px;
    background-color: #F5F5F5;
  }
  .metric-box {
    // height: 115px;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.24), 0px 1px 4px 0px rgba(0,0,0,0.04);
    border-radius: 2px;
    margin: 20px;
  }
  .schedule-row-head {
    color: black;
    height: 35px;
    background-color: rgba(#70669D, .08);
    padding: 8px 0;
    border-bottom: 1px solid lightgrey;
    .schedule-row-title {
      color: #717171;
      i {
        top: 3px;
      }
    }
  }
  .schedule-info-row {
    cursor: pointer;
    font-size: 12px;
    padding: 10px 0;
    &:hover {
      background-color: rgba(#70669D, .15);
    }
    .schedule-info-item {
      margin-top: 15px;
      i {
        float: right;
        margin-right: 60px;
        cursor: pointer;
      }
    }
  }
}
