<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#employee-schedule" empnavopen='true'></header-nav>
</div>

<div id="employee-schedule">
  <div class="head-bar">
    <div class="col-md-12">
      <h3>Employee Schedule</h3>

    </div>
  </div>
  <div class="form-background">
    <div class="row" style="margin-left:20px;">
      <div style="width:30%;float:left">
        <label>Patient</label>
        <select name="PATIENT" class="form-control" style="display:inline;width:70%"
                ng-init="PATIENT='all'"
                ng-model="PATIENT"
                ng-change="selectPAT(PATIENT)">
          <option value="all">All Patients</option>
          <option ng-repeat="patient in patients" value="{{patient}}">{{patient.FNAME}} {{patient.LNAME}}</option>
        </select>
      </div>
      <div style="width:30%;float:left">
        <label>From</label>
        <div class="input-group" style="margin:0;display:inline-flex">
          <input type="text" style="width:70%"
                required
                class="form-control"
                uib-datepicker-popup='MM-dd-yyyy'
                ng-model="DATEFROM"
                is-open="openedDATEFROM"
                show-button-bar="false"
                ng-click="openedDATEFROM=true"
                datepicker-append-to-body="true"
                alt-input-formats="altInputFormats" />
            <span class="input-group-btn" style="float:left">
              <button type="button" class="btn btn-default" ng-click="openedDATEFROM=true"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
      </div>
      <div style="width:30%;float:left">
        <label>To</label>
        <div class="input-group" style="margin:0;display:inline-flex">
          <input type="text" style="width:70%"
                required
                class="form-control"
                uib-datepicker-popup='MM-dd-yyyy'
                ng-model="DATETO"
                is-open="openedDATETO"
                show-button-bar="false"
                ng-click="openedDATETO=true"
                datepicker-append-to-body="true"
                alt-input-formats="altInputFormats" />
            <span class="input-group-btn" style="float:left">
              <button type="button" class="btn btn-default" ng-click="openedDATETO=true"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
      </div>
      <div style="width:10%;float:left">
        <button class="btn btn-default" style="" ng-click="search()">Apply</button>
      </div>
    </div>
    <div class="metric-box">
      <div class="schedule-row-head">
        <div class="container">
          <div class="row">
            <div class="schedule-row-title">
              <div class="col-md-2">
                Patient Name
              </div>
              <div class="col-md-1">
                Date
              </div>
              <div class="col-md-1">
                Time
              </div>
              <div class="col-md-1">
                Mileage
              </div>
              <div class="col-md-2">
                Visit Type
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="errorMsg">
        <h5 class="text-center">Error: Please select a date no earlier than a week from today</h5>
      </div>
      <div ng-if="noResults">
        <h5 class="text-center">~NO VISITS FOR SELECTED SEARCH~</h5>
      </div>
      <div class="schedule-info-row" ng-class="{selected: visit.selected}"  ng-repeat="visit in activeVisitList | filter: searchText | limitTo:20">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <div class="schedule-info-item">
                {{visit.PATIENTNAME}}
              </div>
            </div>
            <div class="col-md-1">
              <div class="schedule-info-item">
                {{visit.VISITDATE}}
              </div>
            </div>
            <div class="col-md-1">
              <div class="schedule-info-item">
                {{visit.TIMEIN}}
              </div>
            </div>
            <div class="col-md-1">
              <div class="schedule-info-item">
                {{visit.MILEAGE}}
              </div>
            </div>
            <div class="col-md-2">
              <div class="schedule-info-item">
                {{visit.VISITTYPENAME}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="employee-right-menu">
  <employee-expanded-nav></employee-expanded-nav>
</div>
