#search-nppes-doctor {
  // margin-left: 60px;
  position: relative;
  background: #FFF;
  .head-bar {
    height: 60px;
    padding: 0 0 0 15px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .col-md-12 {
      padding-left: 0;
      padding-right: 20px;
      height: 60px;
    }
  }
  .title {
    float: left;
    span {
      line-height: 60px;
      margin: 0 20px;
      float: left;
    }
    h3 {
      line-height: 60px;
      margin: 0;
      float: left;
    }
  }
  .form-background {
    padding: 20px 40px;
  }
  h4 {
    margin-top: 20px;
  }
  .image-upload {
    input {
        display: none;
    }
    .upload-btn {
      border-radius: 4px;
      background: darkgrey;
      color: #FFF;
      padding: 5px 10px;
      margin-top: 10px;
      font-weight: normal;
      cursor: pointer;
      &:hover {
        background: #C9C9C9;
      }
    }
    span {
      padding-right: 10px;
    }
  }
  .add-btn {
    border: none;
    margin-right: 10px;
    background: #75469B;
    cursor: #FFF;
  }
  .cancel-btn {
    background: #FFF;
    color: #75469B;
    border-color: #75469B;
  }
  .search-doctor-row-head {
    color: black;
    height: 35px;
    background-color: rgba(#70669D, .08);
    padding: 8px 0;
    border-bottom: 1px solid lightgrey;
    .search-doctor-row-title {
      color: #717171;
      i {
        top: 3px;
      }
    }
  }
  .search-doctor-info-row {
    cursor: pointer;
    font-size: 12px;
    padding: 10px 0;
    &:hover {
      background-color: rgba(#70669D, .15);
    }
    span {
      color: #B5B5B5;
    }
    .search-doctor-name-column {
      a {
        color: #000;
      }
      position: relative;
      .search-doctor-name {
        margin-left: 10px;
        top: 15px;
        display: inline-block;
        position: absolute;
      }
    }
    .search-doctor-info-item {
      margin-top: 15px;
      i {
        float: right;
        margin-right: 60px;
        cursor: pointer;
      }
    }
  }
  .selected {
    background-color: rgba(#70669D, .15);
  }
  .no-results {
    text-align: center;
    padding: 100px 0;
    .outer {
      a {
        color: #000;
      }
      height: 350px;
      width: 350px;
      border-radius: 175px;
      display: inline-block;
      background: #6D559B;
      border: 20px solid rgba(241, 241, 241, 1);
      .results-text {
        color: white;
        margin-top: 100px;
      }
      .results-box {
        cursor: pointer;
        position: relative;
        padding: 5px 15px;
        height: 50px;
        display: inline-block;
        margin-top: 10px;
        background: white;
        border-radius: 3px;
        width: 150px;
        text-align: left;
        .results-box-text {
          display: inline-block;
          position: absolute;
          top: 12px;
          margin-left: 10px;
        }
      }
    }
  }
}
