<div id="search-nppes-doctor">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags"></span><h3>Add New Doctor from the NPPES database</h3>
      </div>
    </div>
  </div>
  <form name="nppesSearch">
    <div class="form-background">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <h5>First name</h5>
              <input type="text" name="first_name" ng-model="first_name" class="form-control" aria-describedby="first_name">
            </div>
            <div class="col-md-3">
              <h5>Last name</h5>
              <div class="input-group">
                <input type="text" name="last_name" ng-model="last_name" class="form-control" aria-describedby="last_name">
              </div>
            </div>
            <div class="col-md-2">
              <h5>State</h5>
              <select name="state" ng-model="state" type="text" class="form-control" aria-describedby="state" ng-options="state.abbreviation as state.name for state in states">
                <option value="">Select State</option>
              </select>
            </div>
            <div class="col-md-3">
              <h5>City</h5>
              <div class="input-group">
                <input type="text" name="city" ng-model="city" class="form-control" aria-describedby="city">
              </div>
            </div>
            <div class="cold-md-1">
              <h5>&nbsp;</h5>
              <div class="input-group">
                <span class="input-group-addon" ng-click="updateDoctorsList()"><i class="glyphicon glyphicon-search"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="field-error" ng-repeat="error in errors"> {{error}} </div>
        </div>
      </div>
      <div class="search-doctor-row-head">
        <div class="container">
          <div class="row">
            <div class="search-doctor-row-title">
              <div class="col-md-2">
                Name
              </div>
              <div class="col-md-2">
                City
              </div>
              <div class="col-md-2">
                NPI
              </div>
              <div class="col-md-2">
                Action
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="search-doctor-info-row" ng-click="showPatientDetail(doctor); setPatient(doctor)" ng-class="{selected: doctor.selected}" ng-repeat="doctor in doctors | limitTo:20">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <div class="search-doctor-name-column">
                <span class="icon-account_circle icon-size-5"></span>
                <div class="search-doctor-name" ng-click="noHighlight(); setPatient(doctor)"><a ui-sref="patientDashboard">{{doctor.FNAME}} {{doctor.LNAME}}</a></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="search-doctor-info-item">
                {{doctor.CITY}}
              </div>
            </div>
            <div class="col-md-2">
              <div class="search-doctor-info-item">
                {{doctor.NPI}}
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn" ng-click="addNewDoctor(doctor)">Add Doctor</button>
            </div>
          </div>
        </div>
      </div>
      <div class="no-results" ng-show="doctors.length == 0">
        <div class="outer">
          <div class="results-text">
            No Results Found in the National Plan and Provider Enumeration System
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
