.header-nav-menu {
  height: 60px;
  // margin-left: 160px;
  // position: fixed;
  right:0;
  left: 160px;
  // position: absolute;
//   // width:100%;
// }
// //
// #headerNav{
  position: fixed;
  // left: 160px;
  // margin-right: 0px;
  // left: 160px;
  // right: 0;
  z-index: 9;
  background-color: #42335E;
  color: #9B95A7;
  // width: 100%;
  display: flex;
  // flex-flow: row;
  // .logoline {
  //   background: #42335E;
  //   height: 60px;
  //   width: 160px !important;
  //   text-align: center;
  //   cursor: pointer;
  //   // padding: 10px 0;
  //   span {
  //     color: #E9DBF0;
  //     line-height: 60px;
  //     &:hover {
  //       color: #FFF;
  //     }
  //     img {
  //       width:15%;
  //       margin-right: 5px;
  //     }
  //   }
  // }
  .headline {
    // width: 100%;
    padding: 20px 25px 0 0;
    margin-left: 20px;
    height: 60px;
    color: #E9DBF0;
    text-transform: uppercase;
    // font-size: 15px;
    display: flex;
    justify-content: space-between;
    i {
      margin-right: 10px;
    }
    li {
      cursor: pointer;
    }
  }
  // .profile-box {
  //   box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.24), 0px 1px 4px 0px rgba(0,0,0,0.04);
  //   border-radius: 2px;
  //   position: absolute;
  //   top: 60px;
  //   right: 60px;
  //   color: blue;
  //   background-color: red;
  //   padding: 15px;
  //   width: 200px;
  // }
  .user {
    &:hover {
      color: #fff;
      cursor: pointer;
    }
  }
}

#headerNav {
  height: 60px;
  width: 100%;
}
