#languages {
  // margin-left: 270px;
  position: relative;
  background: #FFF;
  padding-top: 60px;
  .head-bar {
    height: 60px;
    padding: 0 0 0 15px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .col-md-12 {
      padding-left: 0;
      padding-right: 20px;
      height: 60px;
    }
    a {
      text-decoration: none;
      color: #FFF;
    }
  }
  ul {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    float: right;
    .action-btn {
      background-color: #795E9F;
      border-radius: 4px;
      color: white;
      float: left;
      padding: 10px 18px;
      margin-left:10px;
    }
  }
  .title {
    float: left;
    span {
      line-height: 60px;
      margin: 0 20px;
      float: left;
    }
    h3 {
      line-height: 60px;
      margin: 0;
      float: left;
    }
  }
  .flexbox{
    display:flex;
    overflow:hidden;
    margin-top:20px;
    width:60%;
    margin-left:auto;
    margin-right:auto;

    .language-list{
      flex:1;
      background: #eee;
      padding:8px;
      border:1px solid lightgrey;
      .language-desc {
        padding-left:5px;
        line-height:30px;
        .remove {
          display: none;
        }
        .edit {
          display: none;
        }
        input {
          float:left;
          width:60%;
        }
        span {
          float:left;
        }
      }
      .language-desc:hover .remove {
        display: inline
      }
      .language-desc:hover .edit {
        display: inline
      }
    }
    .new-language {
      flex:1;
      border:1px solid lightgrey;
      padding:8px;
    }
  }

}
