<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#languages" settingsnav="true"></header-nav>
</div>

<div id="languages">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>Languages</h3>
      </div>
    </div>
  </div>

  <div class="flexbox">
    <div class="language-list" >
      <b>Current Availabe Langauges</b>
      <div class="language-desc" ng-repeat="language in languages">
        <div ng-hide="$index === activeLanguage">{{language.DESC}}
          <a href="" class="remove" ng-click="remove(language)">Remove</a>
          <a href="" class="edit" ng-click="edit(language, $index)">Edit</a>
        </div>
        <form name="myForm" ng-show="$index === activeLanguage"  class="col-md-12">
          <input type="text" class="form-control" ng-model="language.DESC" >
          <span class="btn btn-primary" ng-click="save(language)">Save</span>
          <span ng-click="cancel()">Cancel</span>
        </form>
      </div>
    </div>
    <div class="new-language">
      <b>Add New Language</b>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-plus" ng-click="add()"></i></span>
        <input type="text" class="form-control" ng-model="DESC"></input>
      </div>
    </div>
  </div>
</div>

<div class="settings-right-menu">
  <settings-expanded-nav></settings-expanded-nav>
</div>
