<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#notifications"></header-nav>
</div>

<div id="notifications">
  <div class="head-bar">
    <div class="col-md-12">
      <h3>Notifications</h3>
    </div>
  </div>
  <div class="form-background">
    <div class="row" style="margin-left:-50px">
      <ul>
        <button class="btn btn-default" style="float: left;border-radius: 0;">All</button>
        <button class="btn btn-default" style="float: left;border-radius: 0;border-left: none;">Unread</button>
        <button class="btn btn-default" style="float: left;border-radius: 0;border-left: none;">Read</button>
      </ul>
    </div>
    <div>
      <div class="row header">
        <div class="col-md-12">
          TODAY - Feb.28, 2017
        </div>
      </div>
      <div class="row form" ng-click="viewForm(form)">
        <div class="task-item" style="padding-top:15px;height:72px">
          <div class="col-md-1" style="width:0">
            <i class="fa fa-star-o" style="color:grey"></i>
          </div>
          <div class="col-md-11">
            <b>Action Required: </b> Patient - Jane Austin
            <p style="color:grey;">Patient nearing end of episode, further action required.</p>
          </div>
        </div>
      </div>
      <div class="row header">
        <div class="col-md-12">
          YESTERDAY - Feb.27, 2017
        </div>
      </div>
      <div class="row form" ng-click="viewForm(form)">
        <div class="task-item" style="padding-top:15px;height:72px;">
          <div class="col-md-1" style="width:0">
            <i class="fa fa-star-o" style="color:grey"></i>
          </div>
          <div class="col-md-11">
            <b>Missing Information: </b> Patient - Becky Austin
            <p style="color:grey;">Service requested information required for patient.</p>
          </div>
        </div>
        <div class="task-item" style="padding-top:15px;height:72px;">
          <div class="col-md-1" style="width:0">
            <i class="fa fa-star-o" style="color:grey"></i>
          </div>
          <div class="col-md-11">
            <b>Incomplete Form: </b> Patient - Jack Johnson
            <p style="color:grey;">Start of care form to be corrected and resubmitted to QA. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
