<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#home-dashboard"></header-nav>
</div>
<div id="home-dashboard">
  <div class="head-bar">
    <div class="col-md-12">
      <h3>Home Dashboard</h3>
    </div>
  </div>
  <div class="dashboard-background">
    <div class="container">
      <div class="row" style="  display: flex; flex-wrap: wrap;">
        <div class="col-md-3"  style="display: flex;flex-direction: column;">
          <div class="metric-box full-padding" style=>
            <h6 style="margin:0"><b>TOTAL PATIENTS</b></h6>
            <h1 style="text-align:center;"> {{patientLength}} <span style="font-size:15px"> visits</span></h1>
          </div>
        </div>
        <div class="col-md-3" style="display: flex;flex-direction: column;">
          <div class="metric-box full-padding">
            <h6 style="margin:0"><b>TOTAL BILLINGS</b></h6>
            <h1 style="text-align:center">$222.5 M</h1>
          </div>
        </div>
        <div class="col-md-3" style="display: flex;flex-direction: column;">
          <div class="metric-box full-padding">
            <h6 style="margin:0"><b>MESSAGES</b></h6>
            <li>PT Visit John Doe tomorrow</li>
            <li>SOC Visit Mary Poppins on Feb 32</li>
            <li>Review Resumption of Care OASIS for Donald Trump until tomorrow for submission to QA</li>
            <li>QA sent back Recertification for Hillary Clinton, 1 day left to check</li>
          </div>
        </div>

        <div class="col-md-3">
          <div class="metric-box full-padding">
            <h6 style="margin:0 0 10px 0"><b>EMPLOYEE GROWTH</b></h6>
            <img style="height:150px;width:auto;display:block;margin:auto;" src="assets/images/bar_chart.png"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="metric-box full-padding" style="margin-top: 15px;height:421px">
            <h6 style="margin:0 0 10px 0"><b>CONTACT</b></h6>
            <img style="height:380px;width:100%;display:block;margin:auto;" src="assets/images/line_bar_chart.png"/>
          </div>
        </div>
        <div class="col-md-3">
          <div class="metric-box full-padding" style="margin-top:15px;height:203px">
            <h6 style="margin:0"><b>TOTAL PROFIT</b></h6>
            <img style="height:150px;width:auto;display:block;margin:auto;" src="assets/images/line_chart.png"/>
          </div>
        </div>
        <div class="col-md-3">
          <div class="metric-box full-padding" style="margin-top:15px;height:203px">
            <h6 style="margin:0"><b>TOTAL VISITS</b></h6>
            <h1 style="text-align:center">1,293<span style="font-size:15px"> visits</span></h1>
          </div>
        </div>
        <div class="col-md-3">
          <div class="metric-box full-padding" style="margin-top:15px;height:203px">
            <h6 style="margin:0"><b>TOTAL GROWTH</b></h6>
            <img style="height:150px;width:auto;display:block;margin:auto;" src="assets/images/donut_chart.png"/>
          </div>
        </div>
        <div class="col-md-3">
          <div class="metric-box full-padding" style="margin-top:15px;height:203px">
            <h6 style="margin:0"><b>ACTIVE EMPLOYEES</b></h6>
            <img style="height:150px;width:auto;display:block;margin:auto;" src="assets/images/pie_chart.png"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="metric-box full-padding" style="margin-top: 15px;height:421px">
            <h6 style="margin:0 0 10px 0"><b>% SCHEDULED</b></h6>
            <img style="height:380px;width:100%;display:block;margin:auto;" src="assets/images/horizontal_bar_chart.png"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="metric-box full-padding" style="margin-top: 15px;height:421px">
            <h6 style="margin:0 0 10px 0"><b>PATIENT DEMOGRAPHIC</b></h6>
            <img style="height:380px;width:100%;display:block;margin:auto;" src="assets/images/circle_chart.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
