#home-dashboard {
  margin-left:160px;
  position: relative;
  background: #FFF;
  padding-top: 60px;
  .container {
    width: 100%;
  }
  .head-bar {
    height: 60px;
    // padding: 12px 0;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    h3 {
      line-height: 60px;
      padding: 0;
      margin: 0;
    }
    span {
      line-height: 60px;
    }
  }
  .float-right {
    float: right;
  }
  .right-menu {
    left: 60px;
  }
  .full-padding {
    padding: 15px;
  }
  .text-small {
    font-size: 10px;
  }
  .dashboard-background {
    background-color: rgba(112, 102, 157, 0.08);
    padding: 15px 0;
    .metric-box {
      height: 100%;
      background: #FFFFFF;
      box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.24), 0px 1px 4px 0px rgba(0,0,0,0.04);
      border-radius: 2px;
      img {
        width: 100%;
        // max-height: 237px;
      }
    }
    .wrap {
      overflow-wrap: break-word;
      word-wrap: break-word; //supported by Firefox
      // -ms-word-break: break-all;
      /* This is the dangerous one in WebKit, as it breaks things wherever */
      // word-break: break-all;
      /* Instead use this non-standard one: */
      // word-break: break-word;
    }
  }
  .add-metric {
    text-align: center;
    line-height: 150px;
    span {
      display: inline-block;
      line-height: 0;
      vertical-align: middle;
      p {
        line-height:20px;
      }
    }
  }
  .recent-activity {
    li {
      border: none;
      background:none;
      .act-notes {
        margin-left: 40px;
        line-height:18px;
      }
    }
  }
  .box-header {
    height: 60px;
    padding: 0 40px 0 60px;
    .purple {
      color: #42335E;
    }
    h4 {
      line-height: 60px;
    }
    span .grey {
      color: #C9C9C9;
      padding: 0 10px;
    }
  }
  .box-background {
    background: #FDFDFD;
    height: 540px;
    padding: 30px 40px;
    border-top: 1px solid #C9C9C9;
    .date {
      margin-left: 20px;
    }
    ul {
      margin-top: -10px;

    }
    li {
      margin-top: 10px;
      padding: 10px 20px 0;
      border-radius: 0;
      p {
        line-height: 30px;
      }
    }
  }
  .circle-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    margin-right: 10px;
  }
}
