#employee-search {
  overflow: hidden;
  margin-left:160px;
  position: relative;
  background: #FFF;
  padding-top: 60px;
  .search-bar {
    height: 60px;
    padding: 12px 0;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .text-heading {
      position: absolute;
      margin-left: 10px;
      span {
        position: absolute;
        top: 3px;
      }
    }
    select {
      float: right;
      display: inline-block;
      width: 120px;
    }
    input [type='text']{
      width: 100%;
      background: #F1F1F1;
      font-size: 20px;
    }
    .inner-addon {
      position: relative;
    }
    .inner-addon .glyphicon {
      position: absolute;
      padding: 10px;
      pointer-events: none;
    }
    .left-addon .glyphicon  { left:  0px;}
    .left-addon input  { padding-left:  30px; }
    .add-employee {
      a {
        color: #000;
        text-decoration: none;
      }
      cursor: pointer;
      i {
        font-size: 25px;
      }
    }
  }
  .employee-row-head {
    color: black;
    height: 35px;
    background-color: rgba(#70669D, .08);
    padding: 8px 0;
    border-bottom: 1px solid lightgrey;
    .employee-row-title {
      color: #717171;
      i {
        top: 3px;
      }
    }
  }
  .employee-info-row {
    cursor: pointer;
    font-size: 12px;
    padding: 10px 0;
    &:hover {
      background-color: rgba(#70669D, .15);
    }
    span {
      color: #B5B5B5;
    }
    .employee-name-column {
      a {
        color: #000;
      }
      position: relative;
      .employee-name {
        margin-left: 10px;
        top: 15px;
        display: inline-block;
        position: absolute;
      }
    }
    .employee-info-item {
      margin-top: 15px;
      i {
        float: right;
        margin-right: 60px;
        cursor: pointer;
      }
    }
  }
  .selected {
    background-color: rgba(#70669D, .15);
  }
  .no-results {
    text-align: center;
    padding: 100px 0;
    .outer {
      a {
        color: #000;
      }
      height: 350px;
      width: 350px;
      border-radius: 175px;
      display: inline-block;
      background: #6D559B;
      border: 20px solid rgba(241, 241, 241, 1);
      .results-text {
        color: white;
        margin-top: 100px;
      }
      .results-box {
        cursor: pointer;
        position: relative;
        padding: 5px 15px;
        height: 50px;
        display: inline-block;
        margin-top: 10px;
        background: white;
        border-radius: 3px;
        width: 150px;
        text-align: left;
        .results-box-text {
          display: inline-block;
          position: absolute;
          top: 12px;
          margin-left: 10px;
        }
      }
    }
  }
}
