<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#employee-search" empnav="{{expandempnav}}"></header-nav>
</div>

<div id="employee-search">
  <div class="search-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <span class="icon-people icon-size-3"></span>
          <span class="text-heading">Employees</span>
          <select class="form-control" ng-model="employeeType" ng-change="updateEmployeeList(employeeType)">
            <option value="ALL">ALL</option>
            <option value="SN">SN</option>
            <option value="HA">HA</option>
            <option value="PT">PT</option>
            <option value="OT">OT</option>
            <option value="ST">ST</option>
            <option value="MSW">MSW</option>
            <option value="OTHER">OTHER</option>
          </select>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" ng-model="searchText" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="add-employee">
            <a ui-sref="employeeCreate"><i class="glyphicon glyphicon-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="employee-row-head">
    <div class="container">
      <div class="row">
        <div class="employee-row-title">
          <div class="col-md-3">
            Name
          </div>
          <div class="col-md-1">
            Discipline
          </div>
          <div class="col-md-1">
            Title
          </div>
          <!-- <div class="col-md-1">
            Start Date
          </div> -->
          <div class="col-md-1">
            Status
          </div>
          <!-- <div class="col-md-2">
            Insurance & ID
          </div> -->
          <div class="col-md-2">
            Fax
          </div>
          <div class="col-md-2">
            Phone
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="employee-info-row" ng-click="showEmployeeDetail(employee); setEmployee(employee)" ng-class="{selected: employee.selected}"  ng-repeat="employee in activeEmployeeList | filter: searchText | limitTo:20">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="employee-name-column">
            <span class="icon-account_circle icon-size-5"></span>
            <div class="employee-name" ng-click="noHighlight(); setEmployee(employee)"><a ui-sref="employeeDashboard">{{employee.FNAME}} {{employee.LNAME}}</a></div>
          </div>
        </div>
        <div class="col-md-1">
          <div class="employee-info-item">
            {{employee.DISCIPLINE}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="employee-info-item">
            {{employee.TITLE}}
          </div>
        </div>
        <!-- <div class="col-md-1">
          <div class="employee-info-item">
            {{employee.HIREDATE}}
          </div>
        </div> -->
        <div class="col-md-1">
          <div class="employee-info-item">
            {{employee.STATUSDESC}}
          </div>
        </div>
        <!-- <div class="col-md-2">
          <div class="employee-info-item">
            {{employee.INSURANCE}}989809898900
          </div>
        </div> -->
        <div class="col-md-2">
          <div class="employee-info-item">
            {{employee.FAX | tel}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="employee-info-item">
            {{employee.PHONE | tel}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="no-results" ng-show="(activeEmployeeList | filter:searchText).length == 0">
    <div class="outer">
      <div class="results-text">
        No Results Found
      </div>
      <a ui-sref="employeeCreate">
        <div class="results-box">
          <span class="icon-person_add icon-size-3"></span><div class="results-box-text">Add employee</div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="employee-right-menu">
  <employee-expanded-nav></employee-expanded-nav>
</div>
