<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#program-configuration" settingsnav="true"></header-nav>
</div>

<div id="program-configuration">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>Program Configuration</h3>
      </div>
      <ul>
        <!-- <li class="action-btn" ng-click="editAgency()">edit</li> -->
        <li class="action-btn" ng-click="noEdit=false;noEdit=false;enableEdit=true" ng-hide="enableEdit">Edit</li>
        <li class="action-btn" ng-click="saveAgency();edit=false" ng-show="enableEdit" tabindex="16">Save</li>
        <li class="action-btn" ng-click="enableEdit=false;noEdit=true;cancel()" ng-show="enableEdit" tabindex="17">Cancel</li>
      </ul>
    </div>
  </div>
  <div class="create-section-title">
    <div class="container small">
      <div class="row">
        <div class="col-md-12">
          General Agency Information - Contact us to update it!
        </div>
      </div>
    </div>
  </div>
  <div class="form-background">
    <div class="row">
      <form name="agencyInformation" novalidate>
        <section class="AgencyInformation">
          <div class="container small">
            <div class="row">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="name">Agency Name</span>
                      <input type="text" name="NAME" ng-model="NAME" class="form-control" tabindex="1" aria-describedby="NAME" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="shortname">Agency Short Name</span>
                      <input type="text" name="SHORTNAME" ng-model="SHORTNAME" class="form-control" tabindex="2" aria-describedby="SHORTNAME" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="ADDRESS1">Address</span>
                      <input type="text" name="ADDRESS1" ng-model="ADDRESS1" class="form-control" tabindex="3" aria-describedby="ADDRESS1" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="CITY">City</span>
                      <input type="text" name="CITY" ng-model="CITY" class="form-control" tabindex="4" aria-describedby="CITY" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="STATE">State</span>
                      <input type="text" name="STATE" ng-model="STATE" class="form-control" tabindex="5" aria-describedby="STATE" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="ZIP">Zip</span>
                      <input type="text" name="ZIP" ng-model="ZIP" class="form-control" tabindex="6" aria-describedby="ZIP" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="PHONE">Phone</span>
                      <input type="text" name="PHONE" ng-model="PHONE"  class="form-control" tabindex="7" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="PHONE" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="FAX">Fax</span>
                      <input type="text" name="FAX" ng-model="FAX" class="form-control" tabindex="8"ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="FAX"ng-disabled="noEdit"></input>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="EMAIL">Email</span>
                      <input type="text" name="EMAIL" ng-model="EMAIL" class="form-control" tabindex="9" aria-describedby="EMAIL" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="OPENDAYSANDHOURS">Agency Hours</span>
                      <input type="text" name="OPENDAYSANDHOURS" ng-model="OPENDAYSANDHOURS" class="form-control" tabindex="10" aria-describedby="OPENDAYSANDHOURS" ng-disabled="noEdit">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="FEDTAXID">Federal Tax ID</span>
                      <input type="text" name="FEDTAXID" ng-model="FEDTAXID" class="form-control" tabindex="11" aria-describedby="FEDTAXID" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="PROVIDERNUM">Provider Num</span>
                      <input type="text" name="PROVIDERNUM" ng-model="PROVIDERNUM" class="form-control" tabindex="12" aria-describedby="PROVIDERNUM" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="NPI">NPI</span>
                      <input type="text" name="NPI" ng-model="NPI" class="form-control" tabindex="13" aria-describedby="NPI" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="STATEAGENCY">State Agency ID</span>
                      <input type="text" name="STATEAGENCY" ng-model="STATEAGENCY" class="form-control" tabindex="14" aria-describedby="STATEAGENCY" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="BRANCH">Branch ID</span>
                      <input type="text" name="BRANCH" ng-model="BRANCH" class="form-control" tabindex="15" aria-describedby="BRANCH" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="CONTACT">Contact</span>
                      <input type="text" name="CONTACT" ng-model="CONTACT" class="form-control" tabindex="16" aria-describedby="CONTACT" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="AGENCYCHARGESSN">Charges for SN</span>
                      <input type="text" name="AGENCYCHARGESSN" ng-model="AGENCYCHARGESSN" class="form-control" tabindex="17" aria-describedby="AGENCYCHARGESSN" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="AGENCYCHARGESMSW">Charges for MSW</span>
                      <input type="text" name="AGENCYCHARGESMSW" ng-model="AGENCYCHARGESMSW" class="form-control" tabindex="18" aria-describedby="AGENCYCHARGESMSW" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="AGENCYCHARGESCHHA">Charges for CHHA</span>
                      <input type="text" name="AGENCYCHARGESCHHA" ng-model="AGENCYCHARGESCHHA" class="form-control" tabindex="19" aria-describedby="AGENCYCHARGESCHHA" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="MILEAGERATE">Mileage rate</span>
                      <input type="text" name="MILEAGERATE" ng-model="MILEAGERATE" class="form-control" tabindex="19" aria-describedby="MILEAGERATE" ng-disabled="noEdit">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="ADMINISTRATOR">Administrator</span>
                      <input type="text" name="ADMINISTRATOR" ng-model="ADMINISTRATOR" class="form-control" tabindex="20" aria-describedby="ADMINISTRATOR" ng-disabled="noEdit">
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="col-md-12">
                    <span class="text-area-addon" id="NOTES">Notes</span>
                    <textarea rows="8" name="NOTES" ng-model="NOTES" class="form-control" tabindex="21" aria-describedby="NOTES" ng-disabled="noEdit"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</div>

<div class="settings-right-menu">
  <settings-expanded-nav></settings-expanded-nav>
</div>
