#program-configuration {
  // margin-left: 270px;
  position: relative;
  background: #FFF;
  overflow: hidden;
  padding-top: 60px;
  .head-bar {
    height: 60px;
    padding: 0 0 0 15px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .col-md-12 {
      padding-left: 0;
      padding-right: 20px;
      height: 60px;
    }
    a {
      text-decoration: none;
      color: #FFF;
    }
  }
  ul {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    float: right;
    .action-btn {
      background-color: #795E9F;
      border-radius: 4px;
      color: white;
      float: left;
      padding: 10px 18px;
      margin-left:10px;
    }
  }
  .title {
    float: left;
    span {
      line-height: 60px;
      margin: 0 20px;
      float: left;
    }
    h3 {
      line-height: 60px;
      margin: 0;
      float: left;
    }
  }
  .form-background {
    // padding: 20px 40px;
    // background-color: #F5F5F5;
  }
  .input-group {
    margin-bottom: 10px;
  }
  .input-group-addon {
    min-width:150px;
    text-align: left;
  }
  .bottom-nav {
    i {
      margin-left: 8px;
    }
    button {
      margin: 10px;
    }
  }
  .text-area-addon {
    background-color: #eee;
    border: 1px solid #ccc;
    display: block;
    width: 70%;
    padding: 5px 10px;
    border-radius: 2px;
  }
  textarea {
    resize: none;
    width: 70%;
  }
  .create-section-title {
    background: rgba(112, 102, 157, 0.08);
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
  }
  .input-field-group {
    margin-bottom: 15px;
    overflow: auto;
    margin-top: 20px;
    input[type='text'],[type='date'],[type='email'] {
      width: 60%;
    }
    select {
      width: 60%;
    }
  }
}

.form-control.ng-invalid.ng-touched {
  border: 1px solid red;
}
