<div id="headerNav">
  <!-- <div class="logoline">
    <span><img src="assets/images/logo.png">Maya healthcare</span>
  </div> -->
  <div class="headline">
    <div class="agency">
      <i class="fa fa-bars fa-lg" ng-click="showIconMenu()"></i>{{agency.NAME}}
    </div>
    <div class="dropdown">
      <div class="user" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="fa fa-user fa-lg" ></i>{{user.firstName}} {{user.lastName}}, {{user.title}}
      </div>
      <ul class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenu1">
        <!-- <li><a ng-click="openUserProfile()">Profile</a></li> -->
        <li><a ui-sref="userProfile">Profile</a></li>

        <li><a ui-sref="welcomePage">Switch Company</a></li>
        <!-- <li><a href="#">Something else here</a></li> -->
        <li role="separator" class="divider"></li>
        <li><a ng-click="logout()">Log Out</a></li>
      </ul>
    </div>
  </div>
</div>
