<demographic ng-show="editDemographic"></demographic>
<contact ng-show="editContact"></contact>
<insurance ng-show="editInsurance"></insurance>
<insurance2 ng-show="editInsurance2"></insurance2>
<referral ng-show="editReferral"></referral>
<physician ng-show="editPhysician"></physician>
<diagnosis ng-show="editDiagnosis"></diagnosis>
<notes ng-show="editNotes"></notes>
