.npi-autocomplete-template {
  max-width: 200px !important;
  min-width: 200px !important;
  width: 200px !important;
  li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
    &:last-child {
      border-bottom-width: 0;
    }
  }
  item-title, item-metadata {
    display: block;
    line-height: 2;
  }
}