<div id="new-employee-class">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>Add a New Employee Class</h3>
      </div>
    </div>
    <div ng-click="close()" class="fa fa-remove close"></div>
  </div>
  <div class="form-background">
    <div class="row">
      <form name="newEmployeeClassForm" novalidate>
        <section class="EmployeeClassInformation">
          <div class="container small">
            <div class="row">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon">Class Code</span>
                      <input required type="text" name="CLASSCODE" id="CLASSCODE" ng-model="CLASSCODE" class="form-control" tabindex="1" aria-describedby="CLASSCODE">
                    </div>
                  </div>
                  <!-- <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon">Discipline</span>
                      <select name="DISCIPLINE" id="DISCIPLINE" ng-model="DISCIPLINE" class="form-control" tabindex="3" ng-options="discipline.SHORTDESC as discipline.LONGDESC for discipline in disciplineList"></select>
                    </div>
                  </div> -->
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon">Class Description</span>
                      <input type="text" name="CLASSDESC" ng-model="CLASSDESC"  class="form-control" tabindex="2" aria-describedby="CLASSDESC">
                    </div>
                  </div>
                  <!-- <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon">Primary</span>
                      <input class="form-control" type="checkbox" name="PRIMARY" ng-model="PRIMARY" tabindex="4" aria-describedby="PRIMARY">
                    </div>
                  </div> -->
                </div>
                <div class="btn-footer pull-right">
                  <button type="submit" ng-click="addEmployeeClass()" class="btn btn-default">Save</button>
                  <button type="" class="btn btn-default" ng-click="close()">Cancel</button></td>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>
</div>
</div>
