#oasis-list {
  overflow: hidden;
  margin-left:160px;
  position: relative;
  background: #FFF;
  padding-top: 60px;
  .search-bar {
    padding: 12px 0;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .text-heading {
      position: absolute;
      margin-left: 10px;
      span {
        position: absolute;
        top: 3px;
      }
    }
  }
  .oasis-row-head {
    @include mq-md {
      display: block;
    }
    display: none;
    color: black;
    height: 35px;
    background-color: rgba(#70669D, .08);
    padding: 8px 0;
    border-bottom: 1px solid lightgrey;
    .oasis-row-title {
      color: #717171;
      i {
        top: 3px;
      }
    }
  }
  .oasis-info-row {
    cursor: pointer;
    font-size: 12px;
    padding: 10px 0;
    &:hover {
      background-color: rgba(#70669D, .15);
    }
    span {
      color: blue;
    }
    .oasis-name-column {
      a {
        color: #000;
      }
      position: relative;
      .oasis-name {
        font-size:12px;
        font-weight: normal;
        margin-left: 10px;
        top: 10px;
        display: inline-block;
        position: absolute;
        margin-left: 10px;
        @include mq-md {
          top: 15px;
        }
      }
    }
    .oasis-info-item {
      margin-top: 15px;
      i {
        float: right;
        margin-right: 60px;
        cursor: pointer;
      }
    }
    .mobile-title {
      margin-right: 5px;
      width: 100px;
      font-weight: 600;
      display: inline-block;
      @include mq-md {
        display: none;
      }
    }
    hr {
      @include mq-sm {
        display: none;
      }
    }
  }
}
