<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#oasis-list"></header-nav>
</div>

<div id="oasis-list">
  <div class="search-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <span class="icon-profile icon-size-3"></span>
          <span class="text-heading">Oasis</span>
          <!-- <span ng-show="dataLoading" style="color:grey;font-size:11px;margin-left:50px">
	          Saving Changes...
	        </span>
	        <span ng-show="dataSaved" style="color:red;font-size:11px;margin-left:50px">
	          Changes saved!
          </span> -->
        </div>
        <div class="col-md-2 col-md-offset-7">
          <button class="btn btn-primary" ng-if="showExportOasisBtn" ng-click="download()">Export Oasis</button>
        </div>
        <!-- <div class="col-md-9" style="color:red;line-height:35px;">
          <span>20 days: {{countMoreThan20Days}}, </span>
          <span>30 days: {{countMoreThan30Days}}</span>
        </div> -->
         <!-- <button type="button" class="btn btn-success" ng-click="editOrders()">Save Changes</button> -->
      </div>
    </div>
  </div>

  <div class="oasis-row-head">
    <div class="container">
      <div class="row">
        <div class="oasis-row-title">
          <div class="col-md-3">
            Patient Name
          </div>
          <div class="col-md-2">
            Date
          </div>
          <div class="col-md-2">
            Days
          </div>
          <div class="col-md-2">
            Export
            <input type="checkbox" ng-model="selectedAllReady" ng-click="checkAllReady()">
          </div>

          <!-- <div class="col-md-2">
            Date Received
          </div>
          <div class="col-md-2">
            MD Sign Date
          </div>
          <div class="col-md-2">
            Action
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="oasis-info-row" ng-repeat="oasis in oasisList | filter: searchText">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="oasis-info-item">
            {{oasis.M0040_PAT_FNAME}} {{oasis.M0040_PAT_LNAME}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="oasis-info-item">
            {{oasis.M0030_START_CARE_DT}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="oasis-info-item">
            {{oasis.DAYSAGO}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="oasis-info-item">
            <input type="checkbox" ng-model="oasis.selectedReady" ng-click="exportOasisBtn();  $event.stopPropagation();">
          </div>
        </div>
        <!-- <div class="col-md-2">
          <div class="oasis-info-item">
            {{oasis.SENT}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="oasis-info-item">
            {{oasis.RECEIVED}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="oasis-info-item">
            {{oasis.MD}}
          </div>
        </div> -->
        <!-- <div class="col-md-2">
          <div class="oasis-info-item">
            <a href="{{oasis.LINK}}" ng-click="export(oasis)" ng-hide="oasis.ISEXPORT">Export .xml</a>
            <a href="{{oasis.LINK}}" ng-click="export(oasis)" ng-show="oasis.ISEXPORT">Exported</a>
            <span ng-click="downloadOasis($event, oasis)">Edit</span> | <span ng-click="editOrder($event,oasis, print=true)">Print</span>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
