#plan-of-care {
  margin-left: 370px;
  overflow: hidden;
  position: relative;
  background: #FFF;
  padding-top: 60px;
  // background: #FFF;
  .create-bar {
    // right: 0px;
    // left: 270px;
    position: relative;
    background: #FFF;
    font-size: 30px;
    height: 60px;
    padding: 12px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    button {
      margin: 0 10px;
      float: right;
    }
    a {
      float:left;
      margin-top: -3px;
    }
    .title {
      float:left;
    }
    i {
      margin-right: 10px;
      font-size: 15px;
      text-decoration: none;
      border-right: 1px solid lightgrey;
      padding: 8px 15px 8px 0px;
    }
  }
  form {
    width: 75%;
    float: left;
  }
  .field-error {
    margin: 0;
  }
  td {
    padding: 5px;
  }
  input[type='text'], input[type='password'], textarea, select {
    padding: 4px;
    font-size: 12px;
    background-color: #FFF;
    border: 1px #DDD solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
  }
  input[type='text'], input[type='date'], select {
    &.disableInput{
      background-color: #EDEEF3;
    }
  }

  //DATE PICKER
  ::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    background-color:#fff;
    opacity: 0;
     width:110%;
    position: absolute;
    left:0;
  }

  ::-webkit-inner-spin-button {
      display: none;
      -webkit-appearance: none;
  }
  .formtable {
    border-spacing: 1px 1px;
    border-collapse: separate;
  }
  .motag {
    padding: 5px;
    vertical-align: top;
    padding-top: 8px;
    background: #E7ECF2;
    color: #333;
    font-weight: bold;
    text-align: right;
    font-size: 12px;
  }
  .tbl_field {
    background: #EDEEF3;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    height: 27px;
    vertical-align: top;
    padding-top: 8px;
  }
  .input_normal {
    width: 220px;
  }
  .require {
    color: #F00;
  }
  // .create-bar {
  //   right: 0px;
  //   left: 270px;
  //   position: fixed;
  //   background: #FFF;
  //   font-size: 30px;
  //   height: 60px;
  //   padding: 12px 0;
  //   box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
  //   button {
  //     margin: 0 10px;
  //     float: right;
  //   }
  //   a {
  //     float:left;
  //     margin-top: -3px;
  //   }
  //   i {
  //     margin-right: 10px;
  //     font-size: 15px;
  //     text-decoration: none;
  //     border-right: 1px solid lightgrey;
  //     padding: 8px 15px 8px 0px;
  //   }
  // }

  .bottom-nav {
    i {
      margin-left: 8px;
    }
    button {
      margin: 10px;
    }
  }
  .error-box-expand {
    top: 60px;
    position:fixed;
    right:0px;
    float: right;
    .error-title {
      color: #FFF;
      background: #EA0000;
      padding: 10px 20px;
      display: inline-block;
      font-size: 15px;
    }
  }
  .error-box {
    float: right;
    width: 250px;
    .error-title {
      color: #FFF;
      background: #EA0000;
      padding: 10px 20px;
      display: inline-block;
      font-size: 15px;
      width: 100%;
    }
    .error-msg {
      color: #a5322e;
      padding: 10px;
      word-wrap: break-word;
      background: #F9888F;
    }
  }

  [data-tip] {
    position:relative;
  
  }
  [data-tip]:before {
    content:'';
    /* hides the tooltip when not hovered */
    display:none;
    content:'';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1a1a1a;	
    position:absolute;
    top:30px;
    left:35px;
    z-index:8;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
  }
  [data-tip]:after {
    display:none;
    content:attr(data-tip);
    position:absolute;
    top:35px;
    left:0px;
    padding:5px 8px;
    background:#1a1a1a;
    color:#fff;
    z-index:9;
    font-size: 0.75em;
    height:30px;
    line-height:18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space:nowrap;
    word-wrap:normal;
  }
  [data-tip]:hover:before,
  [data-tip]:hover:after {
    display:block;
  }
}

/* scss for entire project */
.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    display: inline-block;
    vertical-align: text-top;
    width: 17px;
    height: 17px;
    border-radius: 3px;
    border: 2px solid #060124;
    background: white;
  }

  // Box hover
  &:hover + label:before {
    box-shadow: 0 0 0 2px #82A4F8;
  }
  
  // Box focus
  &:focus + label:before {
  }

  // Box checked
  &:checked + label:before {
    background: #3B18F5;
    border-color: #3B18F5;
  }
  
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    border-color: #C2C2C7;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(40deg);
  }
}