<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#billing" billingnav="true" style="width:100%"></header-nav>
</div>
<div id="billing">
  <div class="search-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-12">
          <span class="icon-profile icon-size-3"></span>
          <span class="text-heading">Billing</span>
        </div>
        <div class="col-md-2">
          <!-- <div class="inner-addon left-addon"> -->
            <a ui-sref="remittanceAdvice"><button class="btn btn-primary">Remittance</button></a>
            <!-- <i class="glyphicon glyphicon-search"></i> -->
            <!-- <input type="text" class="form-control" ng-model="searchText" /> -->
          <!-- </div> -->
        </div>
        <div class="col-md-2">
          <select class="form-control" ng-model="claimType" ng-change="updateClaimList(claimType)">
            <option value="ALL">All</option>
            <option value="RAP">RAP</option>
            <option value="FC">Final Claim</option>
          </select>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" ng-model="searchText" />
          </div>
        </div>
        <div class="col-md-1">
          <div class="add-billing">
            <span class="glyphicon glyphicon-plus" ng-click="newBilling()"></span>
          </div>
        </div>
        <div class="col-md-1">
          <div class="add-billing">
            <button class="btn btn-primary" ng-if="showGenerateClaim" ng-click="reviewClaim()">Generate Electronic Claim</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="billings-row-head">
    <div class="container">

      <div class="row">
        <div class="billings-row-title">
          <div class="col-md-2">
            Claim Type
          </div>
          <div class="col-md-2">
            Episode #
          </div>
          <div class="col-md-2">
            Admission #
          </div>
          <div class="col-md-2">
            Patient Name
          </div>
          <div class="col-md-1">
            Status
          </div>
          <div class="col-md-1">
            <input type="checkbox" ng-model="selectedAllReady" ng-click="checkAllReady()">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="billings-row-head">
    <div class="container">
      <div class="row">
        <div class="billings-row-title">
          <div class="col-md-2">
            RAP
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="billings-info-row" ng-repeat="claim in activeClaimsList" ng-click="showForm(claim)">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="billings-info-item">
            {{claim.TOB}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="billings-info-item">
            {{claim.EPISODENO}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="billings-info-item">
            {{claim.ADMITNO}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="billings-info-item">
            {{claim.LNAME}}, {{claim.FNAME}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="billings-info-item" ng-click="detail=!detail; $event.stopPropagation();">
            <a href="javascript:void(0)">{{claim.STATUS}}</a>
          </div>
        </div>
        <div class="col-md-1">
          <div class="billings-info-item">
            <input type="checkbox" ng-if="claim.STATUS ==='Ready'" ng-model="claim.selectedReady" ng-click="generateClaimBtn();  $event.stopPropagation();">
          </div>
        </div>
      </div>
      <div ng-show="detail" ng-class="{'records-expand': detail}">
        <div class="col-md-12">
          <div class="billings-info-item" >
            {{claim.MSG}}
          </div>
        </div>
        <div class="col-md-12">
          <div class="billings-info-item">
            Total Charges: {{claim.TOTALCHARGES}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="billings-row-head">
    <div class="container">
      <div class="row">
        <div class="billings-row-title">
          <div class="col-md-2">
            FINAL
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="billings-info-row" ng-repeat="claimFC in claimsFC">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="billings-info-item">
            {{claimFC.CLAIMTYPE}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="billings-info-item">
            {{claimFC.EPINUM}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="billings-info-item">
            {{claimFC.ADMITNUM}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="billings-info-item">
            {{claimFC.LNAME}}, {{claimFC.FNAME}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="billings-info-item">
            {{claimFC.STATUS}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="billings-info-item">
            <input type="checkbox" ng-if="billing.STATUS ==='Ready'" ng-model="billing.selectedReady" ng-click="generateClaimBtn()">
          </div>
        </div>
      </div>
    </div>
  </div> -->


</div>

<div class="billings-right-menu">
  <billings-expanded-nav></billings-expanded-nav>
</div>
