<div id="view-visit">
  <!-- <h4>Visit Details</h4>
  <span ng-click="close()" class="fa fa-remove close"></span>
    <p style="color:blue">Date: <b>{{visit.VISITDATE}}</b></br>
      Employee: <b>{{visit.EMPKEYID}}</b></br>
      Visit Type: <b>{{visit.VISITTYPE}}</b></br>
      Time In: <b>{{visit.TIMEIN}}</b></br>
      Time Out: <b>{{visit.TIMEOUT}sdfasdfsadfasdfasdfasdfassda}</b></br>
      Hours: <b>{{visit.HOURS}}</b></br>
      Mileage: <b>{{visit.MILEAGE}}</b></br>
      Notes: <b>{{visit.NOTES}}</b></br>
    </p> -->
    <h4>Visit Details</h4>
    <span ng-click="close()" class="fa fa-remove close"></span>
    <form name="visitForm">
      <table>
        <tr class="field_row">
          <td class="field">Date</td>
          <td class="field">
            <div class="input-group" style="width:100%">
              <input type="text"
                    ng-disabled="noEdit"
                    class="form-control"
                    uib-datepicker-popup='MM-dd-yyyy'
                    ng-model="visit.VISITDATE"
                    is-open="openedVISITDATE"
                    show-button-bar="false"
                    ng-click="openedVISITDATE=true"
                    datepicker-append-to-body="false"
                    alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openedVISITDATE=true"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            <!-- <input type="date" class="form-control" ng-model="visit.VISITDATE" ng-disabled="noEdit"> -->
          </td>
        </tr>
        <tr class="field_row">
          <td class="field">Visit Type</td>
          <td class="field">
            <select name="VISITTYPE" class="form-control" tabindex="8" ng-disabled="noEdit"
                    ng-init="VISITTYPE=visit.VISITTYPE"
                    ng-model="visit.VISITTYPE"
                    ng-change="updateVisitTypeDetails(visit.VISITTYPE)"
                    ng-options="visitType.KEYID as visitType.DESC for visitType in visitTypes">
              <option value="">-Select One-</option>
            </select>
            <!-- <select ng-model="type" name="type" type="text" ng-disabled="noEdit" class="form-control" aria-describedby="type">
              <option value="">{{visit.VISITTYPE}}</option>
              <option value="Resolved">Resolved</option>
              <option value="Assigned">Assigned</option>
            </select> -->
          </td>
        </tr>
        <tr class="field_row">
          <td class="field">Employee</td>
          <td colspan="3" class="field">
            <!-- <input type="text" name="empkeyid" ng-model="visit.EMPKEYID" class="form-control" id="employee" ng-disabled="noEdit"> -->
            <select name="EMPKEYID" class="form-control" tabindex="8" ng-disabled="noEdit"
                    ng-init="EMPKEYID=visit.EMPKEYID"
                    ng-model="visit.EMPKEYID"
                    ng-options="employee.KEYID as employee.FNAME for employee in employees">
              <option value="">-Select One-</option>
            </select>

          </td>

        </tr>
        <tr class="field_row">
          <td colspan="6" class="field">
            <div class="form-section">
              <div>Add Form</div>
              <select class="form-control"
                      ng-model="selectForm"
                      ng-disabled="noEdit"
                      ng-change="addForm(selectForm)"
                      ng-options="form.NAME for form in formTypes | filter:hideSOC">
              </select>
              <!-- <button class="glyphicon glyphicon-plus" ng-click="addForm(selectForm)" ng-disabled="noEdit"></button> -->
            </div>

            <div class="selected-form" ng-repeat="form in selectedForms">
              <div class="pull-left">{{form.NAME | limitTo: 40 }}{{form.NAME.length > 40 ? '&hellip;' : ''}}</div>
              <a class="pull-right" ng-hide="noEdit || form.FORMTYPE===2"  ng-click="removeForm(form)">Remove</a>
            </div>
          </td>
        </tr>
        <tr class="field_row">
          <td class="field" colspan="2">Notes</td>
        </tr>
        <tr class="field_row">
          <td colspan="2" class="field"><textarea name="notes" ng-model="visit.NOTES" class="form-control" rows="5" ng-disabled="noEdit"></textarea></td>
        </tr>
        <tr class="field_row">
          <td class="field" colspan="2"><a href="javascript:void(0)" ng-click="showDetails=!showDetails">Add More Details <i class="fa fa-chevron-down"></i></a></td>
        </tr>

        <table ng-show="showDetails">
          <tr class="field_row">
            <td class="field">Mileage</td>
            <td class="field" style="width:40%"><input type="text" name="mileage" ng-model="visit.MILEAGE" class="form-control" id="mileage" ng-disabled="noEdit"></td>
            <td class="field">Hours</td>
            <td class="field"><input type="text" name="hours" ng-model="HOURS" class="form-control" id="hours" ng-disabled="true"></td>
          </tr>
          <tr class="field_row">
            <td class="field">Time In</td>
            <td class="field">
              <div uib-timepicker
                    ng-disabled="noEdit"
                    arrowkeys=true
                    ng-model="TIMEIN"
                    ng-change="changedTIMEIN()"
                    show-meridian=true>
              </div>
              <!-- <input type="time" name="timein" ng-model="TIMEIN" class="form-control" id="timeIn" ng-disabled="noEdit"> -->
            </td>
            <td class="field">Time Out</td>
            <td class="field">
              <div uib-timepicker
                    ng-disabled="noEdit"
                    arrowkeys=true
                    ng-model="TIMEOUT"
                    ng-change="changed()"
                    show-meridian=true>
              </div>
              <!-- <input type="time"  name="timeout" ng-model="TIMEOUT" class="form-control" id="timeOut" ng-disabled="noEdit"> -->

            </td>

          </tr>
        </table>
      </table>




        <div style="justify-content:flex-end;display:flex">
          <button type="" ng-click="deleteVisit(visit);" ng-hide="edit" class="btn btn-default">Delete Visit</button></td>
          <div>
            <button type="" ng-click="enableEdit()" ng-hide="edit" class="btn btn-default">Edit Visit</button>
            <!-- <button type="" ng-click="noEdit=false; edit=true" ng-hide="(edit===true) && (SOCexists===false)" class="btn btn-default">Edit Visit</button> -->
            <button type="submit" ng-click="editVisit(visitForm);" ng-show="edit" class="btn btn-default">Save Changes</button>
            <button type="" ng-click="noEdit=true;edit=false;close()" ng-show="edit" class="btn btn-default">Discard Changes</button>
            <button type="" ng-click="close()" ng-hide="edit" class="btn btn-default">Cancel</button>
          </div>
        </div>
    </form>
</div>
<!-- <span ng-click="close()" class="fa fa-remove close" style="  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 14px;"></span>
<p><b>{{event.title}}</b></p>
<p>{{event.description}}</p>
<li><p>Sarah Hurst <span class="fa fa-clock-o" style="margin-left: 15px;"></span> Today</p></li>
<hr style="  margin: 0 -15px 10px;">
<p><b>Medicare Eligibility:</b><span class="fa fa-check-circle check" style="    color: #5CC809;
    padding-left: 10px;"></span> Eligible</p>
<hr style="  margin: 0 -15px 10px;">
<p class="username"><span class="fa fa-user icon"></span>Sarah Hurst
  <span class="timestamp">Today at 2:10pm</span>
</p>
<p><b>Medicare Eligibility: Eligible</b></p>
<span class="fa fa-comment-o float-left"></span>
<div class="comment">
  <p>Initially it looked like he wasn't eligible but I had entered
  their DOB wrong. Updated it and tried again and they are eligible.
  </p>
</div>
</div> -->
