<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#referral-sources" settingsnav="true"></header-nav>
</div>

<div id="referral-sources">
  <div class="search-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <span class="icon-profile icon-size-3"></span>
          <span class="text-heading">Referral Sources</span>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" ng-model="searchText" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="add-refer-soruces">
            <span class="glyphicon glyphicon-plus" ng-click="newReferral()"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="referral-sources-row-head">
    <div class="container">
      <div class="row">
        <div class="referral-sources-row-title">
          <div class="col-md-2">
            Name
          </div>
          <div class="col-md-2">
            Type
          </div>
          <div class="col-md-2">
            Category
          </div>
          <div class="col-md-2">
            Ext KeyID
          </div>
          <!-- <div class="col-md-2">
            Contact
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="referral-sources-info-row" ng-click="showReferralSourceDetail(referralSource)" ng-class="{selected: patient.selected}" ng-repeat="referralSource in referralSources | filter: searchText | limitTo:20">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="referral-sources-info-item">
            {{referralSource.NAME}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="referral-sources-info-item">
            {{referralSource.TYPE}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="referral-sources-info-item">
            {{referralSource.CATEGORY}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="referral-sources-info-item">
            {{referralSource.EXTKEYID}}
          </div>
        </div>
        <!-- <div class="col-md-2">
          <div class="intermediaries-info-item">
            {{referralSource.CONTACT}}
          </div>
        </div> -->
      </div>
    </div>
  </div>


</div>

<div class="settings-right-menu">
  <settings-expanded-nav></settings-expanded-nav>
</div>
