#ABN {
  // overflow: hidden;
  margin-left: 370px;
  position: relative;
  background: #FFF;
  padding-top: 60px;
  .head-bar {
    z-index: 100;
    padding: 0 20px;
    // right: 0px;
    // left: 270px;
    // position: fixed;
    background: #FFF;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    a {
      float:left;
      margin-top: -3px;
    }
    i {
      margin-right: 10px;
      font-size: 15px;
      text-decoration: none;
      border-right: 1px solid lightgrey;
      padding: 8px 15px 8px 0px;
    }
    ul {
      cursor: pointer;
      float:left;
      padding-left: 10px;
      margin-top: 2px;
      li {
        list-style: none;
        font-size:15px
      }
    }
  }
  form {
    // position: absolute;
    overflow: hidden;
    width: 100%;
    // right: 0;
    left: -370px;
    float:left;
    // margin-top: 70px;
    padding: 20px;
    // margin-bottom: 10px;
    textarea {
      width: 100%;
    }
    button {
      position: fixed;
      top: 13px;
      right: 13px;
      z-index: 101;
    }
  }
  .field-error {
    margin:0;
    font-size: 13px;
  }
  .note {
    font-size: 18px;
    li:last-child {
      list-style: none;
    }
  }
  input[type='text'] {
    height: 22px;
  }
  .formtable {
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    td {
      border: 1px solid black;
    }
    .header td {
      background:lightgrey;
      font-weight: bold;
      padding:10px 20px;
    }
    textarea {
      width: 100%;
      padding: 10px;
      font-size: 15px;
      border: none;
      margin-bottom: -5px;
    }
    .description {
      td {
        padding:10px 20px;
        border-top:none;
        border-bottom: none;
      }
      input {
        color: #FFF;
      }
      input.active {
        color: #555;
      }
    }
    .description td:last-child {
      border-bottom: 1px solid black;
    }
    .signature {
      td {
        padding:10px 20px;
      }
      input {
        height: 35px;
        width: 80%;
        border-style: none;
        padding: 10px;
      }
    }
    .signature td:last-child {
      width: 40%;
    }
  }
  .footer {
    margin-top: -10px;
    color: grey;
  }

  .question {
    position: relative;
    font-size: 13px;
    color: #6D559B;
  }
  .info_box {
    text-align: justify;
    font-weight: normal;
    position: absolute;
    top: -15px;
    background-color: #6D559B;
    opacity: 0.99;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,1);
    padding: 5px;
    color: #FFF;
    border-radius: 4px;
    font-size: 13px;
    width: 260px;
    // max-width: 500px;
    // min-width: 200px;
    visibility: hidden;
  }
  .question:hover .info_box {
    visibility: visible;
  }
  //DATE PICKER
  ::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    background-color:#fff;
    opacity: 0;
     width:110%;
    position: absolute;
    left:0;
  }

  ::-webkit-inner-spin-button {
      display: none;
      -webkit-appearance: none;
  }
}
