<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#records" patientnavopen='true'></header-nav>
</div>

<div id="records">
  <section class="Record">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-folder fa-lg"></span><h3>Records</h3>
      </div>
      <div style="display:inline-flex;margin-top:13px">
        <span style="line-height:34px;margin-right:5px">Admit</span>
        <!-- <select name="ADMIT" class="form-control" tabindex="10"
               ng-change="changeAdmit()"
                ng-model="ADMIT"
                ng-options="admit as admit.ADMITNO for admit in admissions">
                <option value="">-Select One-</option>
        </select> -->
         <select name="ADMIT" class="form-control"
                 ng-model="ADMIT"
                 ng-change="changeAdmit()">
           <option value="all">All Admits</option>
           <option ng-repeat="admit in admissions" value="{{admit}}">{{admit.ADMITNO}}</option>
         </select>
      </div>
      <div style="display:inline-flex;margin-top:13px;margin-left:20px">
        <span style="line-height:34px;margin-right:5px">Episode</span>
        <!-- <select name="EPISODE" class="form-control" tabindex="10"
               ng-model="EPISODE"
               ng-change="changeEpisode()"
               ng-options="epi as epi.EPISODENO for epi in episodes">
               <option value="">-Select One-</option>
        </select> -->
         <select name="EPISODE" class="form-control"
                 ng-model="EPISODE"
                 ng-change="changeEpisode(EPISODE)">
           <option value="all">All Episodes</option>
           <option ng-repeat="episode in episodeList" value="{{episode}}">{{episode.EPISODENO}}</option>
         </select>
      </div>
      <ul class="icons">
        <li><span class="fa fa-search"></span></li>
        <li><span class="fa fa-plus" ng-click="add()"></span></li>
      </ul>
    </div>
  </div>
  <div class="form-background">
    <!--FORMS-->
    <div class="row" style="margin: 15px 0 0 0">
      <div class="row">
        <div class="forms-row-head">
          <div class="forms-row-title">
            <div class="col-md-4">
              <div ng-show="sortFORMNAME" ng-click="sortByFORMNAME()">
                <b>Form Name</b>
                <span class="fa fa-caret-down" ></span>
              </div>
              <div ng-hide="sortFORMNAME" ng-click="sortByFORMNAME()">
                <b>Form Name</b>
                <span  class="fa fa-caret-up" ></span>
              </div>
            </div>
            <div class="col-md-2">
              <div ng-show="sortVISITDATE" ng-click="sortByVISITDATE()">
                <b>Visit Date</b>
                <span  class="fa fa-caret-down" ></span>
              </div>
              <div ng-hide="sortVISITDATE" ng-click="sortByVISITDATE()">
                <b>Visit Date</b>
                <span class="fa fa-caret-up" ></span>
              </div>
            </div>
            <div class="col-md-2">
              <b>Assigned To</b>
            </div>
            <div class="col-md-2">
              <div ng-show="sortSTATUS"ng-click="sortBySTATUS()">
                <b>Status</b>
                <span  class="fa fa-caret-down" ></span>
              </div>
              <div ng-hide="sortSTATUS" ng-click="sortBySTATUS()">
                <b>Status</b>
                <span  class="fa fa-caret-up" ></span>
              </div>
            </div>
            <div class="col-md-1">
              <b>Admit</b>
            </div>
            <div class="col-md-1">
              <b>Episode</b>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="errorMsg">
      <h5 class="text-center">No forms in your selection.</h5>
    </div>

    <div style="margin:0;" ng-repeat="form in updatedFormsList" ng-click="viewForm(form)">
      <div class="row forms-info-row" style="background-color:#FFF;border-bottom:1px solid lightgrey">
        <div class="col-md-4">
          <div class="forms-info-item">
            <i class="fa fa-file-text fa-fw" ng-class="{'approve': form.STATUS===3}"></i> {{form.NAME}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="forms-info-item">
            {{form.VISITDATE}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="forms-info-item">
            {{form.ASSIGNED_FNAME}} {{form.ASSIGNED_MINITIAL}} {{form.ASSIGNED_LNAME}}
          </div>
        </div>
        <!-- <div class="col-md-2">
          <div class="forms-info-item">
            {{form.STATUS}}
          </div>
        </div> -->
        <div class="col-md-2" ng-click="">
          <div class="forms-info-item">
            <span ng-show="form.STATUS===0">Incomplete</span>
            <span ng-show="form.STATUS===1">Submitted to QA</span>
            <span ng-show="form.STATUS===2">In Progress</span>
            <span ng-show="form.STATUS===3" style="color:#4CC81D">Approved</span>
            <span ng-show="form.STATUS===4" style="color:#FF4448">Rejected</span>
            <span ng-show="form.STATUS===5" style="color:#4CC81D">Order Signed</span>
            <a href="{{form.LINK}}" ng-show="form.HASXML">Download .xml</a>

          </div>
        </div>
        <div class="col-md-1" ng-click="">
          <div class="forms-info-item">
            {{form.ADMITNO}}
          </div>
        </div>
        <div class="col-md-1" ng-click="">
          <div class="forms-info-item">
            {{form.EPISODENO}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<form name="Admission">
  <section class="Admission" style="display:none">
    <div ng-include src="'views/records/partials/skilledNursingNote.html'"></div>
  </section>
</form>

<!-- <form name="Oasis">
  <section class="Oasis" style="display:none">
    <div ng-include src="'views/records/partials/oasis.html'"></div>
  </section>
</form> -->

</div>


<div class="right-menu">
  <expanded-nav></expanded-nav>
</div>
