#records {
  margin-left: 370px;
  position: relative;
  background: #FFF;
  padding-top: 60px;
  .head-bar {
    height: 60px;
    padding: 0 0 0 15px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .col-md-12 {
      padding-left: 0;
      padding-right: 20px;
      height: 60px;
    }
    .icons {
      margin: 10px 0;
      padding: 0;
      list-style: none;
      float: right;
      li {
        float: left;
        padding: 10px 18px;
      }
    }
    .btn-group {
      margin-top: 13px;
    }
  }
  .title {
    margin-right: 10px;
    float: left;
    span {
      line-height: 60px;
      margin: 0 20px;
      float: left;
    }
    h3 {
      line-height: 60px;
      margin: 0;
      float: left;
    }
  }
  .form-background {
    padding: 20px 40px;
    background-color: #F5F5F5;
  }
  .record-item {
    background: #FFF;
    height: 50px;
    line-height: 50px;
    margin-top: 15px;
    .space-right {
      margin-right: 10px;
      float: left;
      line-height: 50px;
    }
    .fa-star {
      color: #FFE81E;
    }
  }
  .clicked {
    background: #75469B;
    color: #FFF;
  }
  .records-expand {
    .head {
      background-color: #C9C9C9;
      height: 30px;
      line-height: 30px;
      font-size:12px;
    }
    i {
      cursor: pointer;

    }
    .record-item {
      padding-right: 10px;
      margin: 0 15px;
      border-top: 1px solid #C9C9C9;
      span.fa-file-text {
        // color: #5CC809;
        color: #333;
      }
      a {
        cursor: pointer;
        text-decoration: none;
        color: #333;
      }
    }
  }
  .form-section {
    color: #42335E;
    background: #BAA2CD;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    select {
      width: 85%;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .forms-row-head {
    color: black;
    height: 35px;
    background-color: rgba(#70669D, .08);
    padding: 8px 0;
    border-bottom: 1px solid lightgrey;
    .forms-row-title {
      color: #717171;
    }
  }
  .forms-info-row{
    background-color:#FFF;
  }

  .forms-info-head {
    padding: 10px 0;
  }

  .forms-info-item {
    margin-top: 15px;
    padding-bottom: 15px;
    .approve {
      color:#4CC81D
    }
  }

  .Admission {
    .head-bar-info {
      font-size: 10px;
      ul {
        float: right;
        margin: 10px 0;
        padding: 0;
        list-style: none;
        height: 30px;
        li {
          float: left;
          padding: 10px;
          margin-left:15px;
          span {
            font-size: 12px;
            color: red;
          }
        }
      }
    }
  }


}
