<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#settings" settingsnav="true"></header-nav>
</div>

<div id="settings">
  <div class="head-bar">
    <div class="col-md-12">
      <h3>Settings</h3>
    </div>
  </div>
</div>

<div class="settings-right-menu">
  <settings-expanded-nav></settings-expanded-nav>
</div>
