<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#religions" settingsnav="true"></header-nav>
</div>

<div id="religions">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>Religions</h3>
      </div>
    </div>
  </div>

  <div class="flexbox">
    <div class="religion-list" >
      <b>Current Availabe Religions</b>
      <div class="religion-desc" ng-repeat="religion in religions">
        <div ng-hide="$index === activeReligion">{{religion.DESC}}
          <a href="" class="remove" ng-click="remove(religion)">Remove</a>
          <a href="" class="edit" ng-click="edit(religion, $index)">Edit</a>
        </div>
        <form name="myForm" ng-show="$index === activeReligion"  class="col-md-12">
          <input type="text" class="form-control" ng-model="religion.DESC" >
          <span class="btn btn-primary" ng-click="save(religion)">Save</span>
          <span ng-click="cancel()">Cancel</span>
        </form>
      </div>
    </div>
    <div class="new-religion">
      <b>Add New Religion</b>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-plus" ng-click="add()"></i></span>
        <input type="text" class="form-control" ng-model="DESC"></input>
      </div>
    </div>
  </div>
</div>

<div class="settings-right-menu">
  <settings-expanded-nav></settings-expanded-nav>
</div>
