<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#employee-file-upload" empnavopen='true'></header-nav>
</div>

<div id="employee-file-upload">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-upload fa-lg"></span><h3>Upload Documents</h3>
      </div>
      <ul>
        <li class="action-btn"><a href="#" ng-click="">Print Selected</a></li>
        <li class="action-btn"><a href="#" ng-click=""><span class="fa fa-paperclip"></span>Attach</a></li>
        <li class="action-btn"><a href="#" ng-click="">Discard</a></li>
      </ul>
    </div>
  </div>
  <div class="form-background">
    <div class="row">
      <div class="col-md-6" style="background:#FFF; padding-bottom:0; border-right:5px solid #F5F5F5">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>
                <div class="checkbox">
                  <label>
                    <input ng-click="toggleAll()" ng-model="isAllSelected" type="checkbox">
                  </label>
                </div>
              </th>
              <th>S.No</th>
              <th>Name</th>
              <th>Size</th>
              <th>Date Upload</th>
              <th>Upload By</th>
            </tr>
          <thead>
          <tbody>
            <tr ng-repeat="file in files">
              <td>
                <div class="checkbox">
                  <label>
                    <input ng-model="file.selected" ng-change="fileToggled()" type="checkbox">
                  </label>
                </div>
              </td>
              <td>{{file.user}}</td>
              <td>{{file.name}}</td>
              <td>{{file.size}}</td>
              <td>{{file.date}}</td>
              <td>{{file.uploadBy}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6" style="border:1px solid #ddd; height:650px;text-align:center;padding:20px";>
        File Preview
      </div>
    </div>
  </div>
</div>



<div class="employee-right-menu">
  <employee-expanded-nav></employee-expanded-nav>
</div>
