<div id="new-form">
<!-- {{selected.format("DD MMMM, YYYY")}} -->
  <h4>Add Form</h4>
  <!-- <span ng-click="close()" class="fa fa-remove close"></span> -->
  <form name="newForm">
    <div class="row">
      <!-- <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="EMPLOYEE">Employee</span>
          <select required name="EMPKEYID" class="form-control"
                  ng-model="EMP"
                  ng-options="employee.FNAME for employee in employees">
            <option value="">-Select One-</option>
          </select>
        </div>
      </div> -->
      <div class="col-md-12">
        <div class="input-group">
          <span class="input-group-addon" id="VISIT">Visit</span>
          <select required name="EMPKEYID" class="form-control"
                  ng-change="changeVisit(VISIT)"
                  ng-model="VISIT"
                  ng-options="visit.VISITTYPEDESC + ' (' + visit.VISITDATE + ')' for visit in currentVisits">
            <option value="">-Select One-</option>
          </select>
        </div>
      </div>
    </div>
        <!-- <div class="input-group" style="width:100%">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openedVISITDATE=true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          <input type="text"
                ng-disabled="noEdit"
                class="form-control"
                uib-datepicker-popup='yyyy-MM-dd'
                ng-model="VISITDATE"
                is-open="openedVISITDATE"
                show-button-bar="false"
                ng-click="openedVISITDATE=true"
                datepicker-append-to-body="false"
                alt-input-formats="altInputFormats" />
          </div> -->
      <!-- </div>
    </div> -->
    <div class="row" style="margin-top:10px">
      <div class="col-md-12">
        <div class="form-section">
          <div>Add Form</div>
          <select class="form-control"
                  ng-disabled="disable"
                  ng-model="selectForm"
                  ng-change="addForm(selectForm)"
                  ng-options="form.NAME for form in formTypes">
          <option value="">-Select One-</option>
          </select>
          <!-- <div class="fa fa-plus" ></div> -->
        </div>
        <div class="selected-form" ng-repeat="form in selectedForms">
          <div class="pull-left">{{form.NAME | limitTo: 40 }}{{form.NAME.length > 40 ? '&hellip;' : ''}}</div>
          <a class="pull-right" ng-click="removeForm(form)">Remove</a>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:10px">
      <div class="col-md-12">
        <button type="submit" ng-click="add(newForm)" class="btn btn-default">Add</button>
        <button type="" ng-click="close()" class="btn btn-default">Cancel</button>
      </div>
    </div>


    <!-- <table>
      <tr class="field_row">
        <td class="field">Date</td>
        <td colspan="3" class="field"><input required type="text" class="form-control" id="VISITDATE" disabled placeholder="{{selected.format('DD MMMM, YYYY')}}"></td>
        <td class="field">Visit Type</td>
        <td class="field">
          <select required name="VISITTYPE" class="form-control" tabindex="8"
                  ng-model="VISITTYPE"
                  ng-change="updateVisitTypeDetails()"
                  ng-options="visitType as visitType.DESC for visitType in visitTypes">
                  <option value="">-Select One-</option>
          </select>
        </td>
      </tr>
      <tr class="field_row">
        <td class="field">Employee</td>
        <td colspan="3" class="field">
          <select required name="EMPKEYID" class="form-control"
                  ng-model="EMPKEYID"
                  ng-options="employee.FNAME for employee in employees">
            <option value="">-Select One-</option>
          </select>
          <input required type="text" name="empkeyid" ng-model="empkeyid" class="form-control" id="employee" placeholder="">
        </td>
        <td class="field">Mileage</td>
        <td class="field"><input type="number" name="MILEAGE" ng-model="MILEAGE" class="form-control" id="MILEAGE" placeholder=""></td>
      </tr>
      <tr class="field_row">
        <td class="field">Time In</td>
        <td class="field">
          <div uib-timepicker
                name="TIMEIN"
                arrowkeys=true
                ng-model="TIMEIN"
                ng-change="changedTIMEIN()"
                show-meridian=true>
          </div>
        </td>
        <td class="field">Time Out</td>
        <td class="field">
          <div uib-timepicker
                name="TIMEOUT"
                arrowkeys=true
                ng-model="TIMEOUT"
                ng-change="changed()"
                show-meridian=true>
          </div>
        </td>
        <td class="field">Hours</td>
        <td class="field"><input type="number" disabled name="hours" ng-model="HOURS" class="form-control" id="HOURS" placeholder=""></td>
      </tr> -->
      <!-- <tr class="field_row">
        <td colspan="6" class="field">
          <div class="form-section">
            <div>Add Form</div>
            <select class="form-control"
                    ng-model="selectForm"
                    ng-options="form.NAME for form in formTypes">
            </select>
            <div class="fa fa-plus" ng-click="addForm(selectForm)"></div>
          </div>
          <div class="selected-form" ng-repeat="form in selectedForms">
            <div class="pull-left">{{form.NAME | limitTo: 40 }}{{form.NAME.length > 40 ? '&hellip;' : ''}}</div>
            <a class="pull-right" ng-click="removeForm(form)">Remove</a>
          </div>
        </td>
      </tr>
      <tr class="field_row">
        <td class="field" colspan="6">Notes</td>
      </tr>
      <tr class="field_row">
        <td class="field" colspan="6"><textarea name="NOTES" ng-model="NOTES" class="form-control" rows="5" placeholder=""></textarea></td>
      </tr>
      <tr class="field_row">
        <td class="field" colspan="6" style="text-align:right"> -->
          <!-- <button type="submit" ng-click="newVisit(newForm)" class="btn btn-default">Save Visit</button>
          <button type="" ng-click="close()" class="btn btn-default">Cancel</button></td> -->
      <!-- </tr>
    </table> -->
  </form>
</div>
