<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#patient-search" patientnav="{{expandpatientnav}}"></header-nav>
</div>

<div id="patient-search">
  <div class="search-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-xs-7">
          <span class="icon-profile icon-size-3"></span>
          <span class="text-heading">Patients</span>
        </div>
        <div class="col-md-2 col-xs-5">
          <select class="form-control" ng-model="patientType" ng-change="updatePatientList(patientType)">
            <option value="ALL">All</option>
            <option value="ADMITTED">Admitted</option>
            <option value="PENDING">Pending</option>
            <option value="TRANSFER">Transfer</option>
            <option value="DISCHARGED">Discharged</option>
            <option value="NON-ADMIT">Non-Admit</option>
          </select>
        </div>
        <div class="col-md-5 col-xs-10">
          <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" ng-model="searchText"/>
          </div>
        </div>
        <div class="col-md-2 col-xs-2">
          <div class="add-patient">
            <a ui-sref="patientCreate"><i class="glyphicon glyphicon-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="patient-row-head">
    <div class="container">
      <div class="row">
        <div class="patient-row-title">
          <div class="col-md-2">
            Name
          </div>
          <div class="col-md-2">
            Ref MD/Source
          </div>
          <!-- <div class="col-md-1">
            Ref MD
          </div> -->
          <div class="col-md-1">
            Ref Date
          </div>
          <div class="col-md-1">
            Insurance ID
          </div>
          <div class="col-md-1">
            Date of Birth
          </div>
          <div class="col-md-1">
            Phone
          </div>
          <div class="col-md-2">
            Status
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="patient-info-row" ng-click="showPatientDetail(patient, $event); setPatient(patient)" ng-class="{selected: patient.selected}" ng-repeat="patient in activePatients = (activePatientList | filter: search)">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="patient-name-column">
            <span class="icon-account_circle icon-size-5"></span>
            <div class="patient-name" ng-click="noHighlight($event); setPatient(patient)"><a ui-sref="patientDashboard">{{patient.FNAME}} {{patient.LNAME}}</a></div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="patient-info-item">
            <span class="mobile-title">Ref MD:</span>{{patient.REFMD}}, MD
          </div>
          <div class="patient-info-item-no-margin">
            <span class="mobile-title">Ref Source:</span>{{patient.REFSOURCE}}
          </div>
        </div>
        <!-- <div class="col-md-1">
          <div class="patient-info-item">
            <span class="mobile-title">Ref MD:</span>{{patient.REFMD}}, MD
          </div>
        </div> -->
        <div class="col-md-1">
          <div class="patient-info-item">
            <span class="mobile-title">Ref Date:</span>{{patient.REFDATE}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="patient-info-item">
            <span class="mobile-title">Insurance &amp; ID:</span>{{patient.INSID}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="patient-info-item">
            <span class="mobile-title">Date of Birth:</span>{{patient.DOB}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="patient-info-item">
            <span class="mobile-title">Phone:</span>{{patient.PHONE1 | tel}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="patient-info-item">
            <span class="mobile-title">Status:</span>{{patient.PATSTATUSDESC}}
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="no-results" ng-hide="activePatients.length">
    <div class="outer">
      <div class="results-text">
        No Results Found
      </div>
      <a ui-sref="patientCreate">
        <div class="results-box">
          <span class="icon-person_add icon-size-3"></span><div class="results-box-text">Add Patient</div>
        </div>
      </a>
    </div>
  </div>
</div>


<div class="right-menu">
  <expanded-nav></expanded-nav>
</div>
  <!--
  <div class="menu-headline">
    {{selectedPatient.name}} <i class="glyphicon glyphicon-remove" ng-click="closePatientDetail()"></i>
  </div>
  <div class="menu-notification compliant" ng-if="pendingStatus(selectedPatient.status)">
    Pending - Day 2 of 5
  </div>
  <ul>
    <li ng-click="closePatientDetail()"><a ui-sref="patientDashboard({patient: selectedPatient})"><span class="icon-poll icon-size-2"></span><div class="menu-heading">Overview</div></a></li>

    <li ng-click="expandSchedule = !expandSchedule; expandRecords=false"><i class="fa fa-calendar-check-o fa-fw fa-lg" aria-hidden="true"></i>Schedule
      <ul class="expand" ng-show="expandSchedule">
        <li><i class="fa fa-user fa-fw fa-lg" aria-hidden="true"></i>Assigned to Me</li>
        <li><i class="fa fa-bookmark fa-fw fa-lg" aria-hidden="true"></i>Episode 1</li>
      </ul>
    </li>
    <li ng-click="expandRecords = !expandRecords; expandSchedule=false"><a href="#"><i class="fa fa-file-archive-o fa-fw fa-lg" aria-hidden="true"></i>Records
      <ul class="expand" ng-show="expandRecords">
        <li><i class="fa fa-star fa-fw fa-lg" aria-hidden="true"></i>History & Physical</li>
        <li><i class="glyphicon glyphicon-triangle-right"></i><i class="fa fa-file-text-o fa-fw fa-lg" aria-hidden="true"></i>Notes</li>
        <li><i class="glyphicon glyphicon-triangle-right"></i><i class="fa fa-folder fa-fw fa-lg" aria-hidden="true"></i>Start of Care Visit</li>
        <li><i class="glyphicon glyphicon-triangle-right"></i><i class="fa fa-folder fa-fw fa-lg" aria-hidden="true"></i>Intake</li>
      </ul>
    </li>
    <li><a href="#"><i class="fa fa-folder fa-fw fa-lg" aria-hidden="true"></i>Reports</li>
    <li><a href="#"><i class="fa fa-info-circle fa-fw fa-lg" aria-hidden="true"></i>Profile</li>


  </ul>
  <div class="menu-notification">
    Recent Activity
  </div>
</div> -->
