#orders {
  overflow: hidden;
  margin-left:160px;
  position: relative;
  background: #FFF;
  padding-top: 60px;
  .search-bar {
    padding: 12px 0;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .text-heading {
      position: absolute;
      margin-left: 10px;
      span {
        position: absolute;
        top: 3px;
      }
    }
    select {
      display: inline-block;
    }
    input [type='text']{
      width: 100%;
      background: #F1F1F1;
      font-size: 20px;
    }
    .inner-addon {
      @include mq-md {
        margin-top: 0;
      }
      margin-top: 15px;
      position: relative;
    }
    .inner-addon .glyphicon {
      position: absolute;
      padding: 10px;
      pointer-events: none;
    }
    .left-addon .glyphicon  { left:  0px;}
    .left-addon input  { padding-left:  30px; }
    .add-order {
      @include mq-md {
        margin-top: 0;
      }
      margin-top: 15px;
      a {
        color: #000;
        text-decoration: none;
      }
      cursor: pointer;
      i {
        font-size: 25px;
      }
    }
  }
  .order-row-head {
    @include mq-md {
      display: block;
    }
    display: none;
    color: black;
    height: 35px;
    background-color: rgba(#70669D, .08);
    padding: 8px 0;
    border-bottom: 1px solid lightgrey;
    .order-row-title {
      color: #717171;
      i {
        top: 3px;
      }
    }
  }
  .order-info-row {
    cursor: pointer;
    font-size: 12px;
    padding: 10px 0;
    &:hover {
      background-color: rgba(#70669D, .15);
    }
    span {
      color: blue;
    }
    .order-name-column {
      a {
        color: #000;
      }
      position: relative;
      .order-name {
        font-size:12px;
        font-weight: normal;
        margin-left: 10px;
        top: 10px;
        display: inline-block;
        position: absolute;
        margin-left: 10px;
        @include mq-md {
          top: 15px;
          // font-size: 1rem;
          // font-weight: 400;
        }
        // font-size: 2rem;
        // font-weight: 600;
      }
    }
    .order-info-item {
      margin-top: 15px;
      i {
        float: right;
        margin-right: 60px;
        cursor: pointer;
      }
    }
    .mobile-title {
      margin-right: 5px;
      width: 100px;
      font-weight: 600;
      display: inline-block;
      @include mq-md {
        display: none;
      }
    }
    hr {
      @include mq-sm {
        display: none;
      }
    }
  }
  .selected {
    background-color: rgba(#70669D, .15);
  }
  .no-results {
    text-align: center;
    padding: 100px 0;
    .outer {
      a {
        color: #000;
      }
      height: 300px;
      width: 300px;
      border-radius: 175px;
      display: inline-block;
      background: #6D559B;
      border: 20px solid rgba(241, 241, 241, 1);
      .results-text {
        color: white;
        margin-top: 80px;
      }
      .results-box {
        cursor: pointer;
        position: relative;
        padding: 5px 15px;
        height: 50px;
        display: inline-block;
        margin-top: 10px;
        background: white;
        border-radius: 3px;
        width: 150px;
        text-align: left;
        .results-box-text {
          display: inline-block;
          position: absolute;
          top: 12px;
          margin-left: 10px;
        }
      }
    }
  }
}
// .right-menu {
//   z-index: 9;
//   position: fixed;
//   top: 0;
//   left: -150px;
//   height: 100%;
//   width: 210px;
//   background:#42335E;
//   .menu-headline {
//     padding: 20px 15px 0 25px;
//     height: 60px;
//     background: #75469B;
//     color: #E9DBF0;
//     text-transform: uppercase;
//     font-size: 15px;
//     i {
//       cursor: pointer;
//       float: right;
//     }
//   }
//   .menu-notification {
//     margin: 15px 15px 0 15px;
//     text-align: center;
//     padding: 15px;
//     color: #E9DBF0;
//     padding: 10px;
//     width: 75%;
//     margin: 20px auto 0;
//     border-radius: 2px;
//     &.compliant {
//       // background-color: rebeccapurple;
//       background-color: #795E9F;
//     }
//     &.not-compliant {
//       background-color: #ff4d4d;
//     }
//   }
//   ul {
//     list-style: none;
//     padding: 15px;
//     margin: 0 5px;
//     li:first-child {
//       border-top: 1px solid #9B95A7;
//       margin-top: 5px;
//     }
//     li {
//       cursor: pointer;
//       padding: 13px;
//       a {
//         text-decoration: none;
//         color: #9B95A7;
//         &:hover {
//           color: #FFF;
//         }
//       }
//       position: relative;
//       color: #9B95A7;
//       padding: 10px 5px;
//       border-bottom: 1px solid #9B95A7;
//       &:hover {
//         color: #FFF;
//       }
//       i {
//         margin-right: 10px;
//       }
//       .menu-heading {
//         position: absolute;
//         top: 16px;
//         margin-left: 15px;
//         display: inline-block;
//       }
//     }
//
//       .expand {
//         padding: 0;
//         font-size: 12px;
//         // opacity: 1;
//         li {
//           border: none;
//           padding: 10px 0 0 5px;
//         }
//       }
//   }
//   .form-section {
//     &:hover {
//       // background: #f5f5f5;
//       color:#FFF;
//     }
//     &.active {
//       // background: #fafafa;
//       color:#FFF;
//     }
//   }
// }
