<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#orders"></header-nav>
</div>

<div id="orders">
  <div class="search-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <span class="icon-profile icon-size-3"></span>
          <span class="text-heading">Orders</span>
          <span ng-show="dataLoading" style="color:grey;font-size:11px;margin-left:50px">
	          Saving Changes...
	        </span>
	        <span ng-show="dataSaved" style="color:red;font-size:11px;margin-left:50px">
	          Changes saved!
          </span>
        </div>
        <div class="col-md-9" style="color:red;line-height:35px;">
          <span>20 days: {{countMoreThan20Days}}, </span>
          <span>30 days: {{countMoreThan30Days}}</span>
        </div>
         <!-- <button type="button" class="btn btn-success" ng-click="editOrders()">Save Changes</button> -->
      </div>
    </div>
  </div>

  <div class="order-row-head">
    <div class="container">
      <div class="row">
        <div class="order-row-title">
          <div class="col-md-1">
            Patient
          </div>
          <div class="col-md-1">
            Type
          </div>
          <div class="col-md-1">
            Physician
          </div>
          <div class="col-md-1">
            Order Date
          </div>
          <div class="col-md-2">
            Date Sent
          </div>
          <div class="col-md-2">
            Date Received
          </div>
          <div class="col-md-2">
            MD Sign Date
          </div>
          <div class="col-md-2">
            Action
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="order-info-row" ng-dblClick="showOrderDetail(order)" ng-class="{selected: patient.selected}" ng-repeat="order in orders | filter: searchText | limitTo:20">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <div class="order-info-item">
            {{order.patientName}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="order-info-item">
            {{order.NAME}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="order-info-item">
            {{order.docName}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="order-info-item">
            {{order.ORDERSDATE}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="order-info-item">
            {{order.SENT}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="order-info-item">
            {{order.RECEIVED}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="order-info-item">
            {{order.MD}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="order-info-item">
            <span ng-click="editOrder($event, order)">Edit</span> | <span ng-click="editOrder($event,order, print=true)">Print</span>
          </div>
        </div>
        <!-- <div class="col-md-2">
          <div class="input-group" style="margin:0;">
            <input type="text"
                  class="form-control"
                  uib-datepicker-popup='yyyy-MM-dd'
                  ng-model="SENT"
                  is-open="openedSENT"
                  show-button-bar="false"
                  ng-click="openedSENT=true"
                  datepicker-append-to-body="true"
                  alt-input-formats="altInputFormats" />
            <span class="input-group-btn" >
              <button type="button" style="margin-top:0" class="btn btn-default" ng-click="openedSENT=true"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div> -->
        <!-- <div class="col-md-2">
          <div class="input-group" style="margin:0;">
            <input type="text"
                  class="form-control"
                  uib-datepicker-popup='yyyy-MM-dd'
                  ng-model="RECEIVED"
                  is-open="openedRECEIVED"
                  show-button-bar="false"
                  ng-click="openedRECEIVED=true"
                  datepicker-append-to-body="true"
                  alt-input-formats="altInputFormats" />
            <span class="input-group-btn" >
              <button type="button" style="margin-top:0" class="btn btn-default" ng-click="openedRECEIVED=true"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div> -->
      </div>
    </div>
  </div>


</div>
