<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#employee-tasks" empnavopen='true'></header-nav>
</div>

<div id="employee-tasks">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>Employee Tasks</h3>
      </div>
    </div>
  </div>
  <div class="form-background">
    <div class="row">
      <b>Visit Tasks</b>
    </div>
    <div class="form-background">
      <!--repeat-->

      <div class="row header">
        <div class="col-md-2">
          <b>Date</b>
          <span ng-show="sortPNAME" class="fa fa-caret-down" ng-click="sortByPNAME()"></span>
          <span ng-hide="sortPNAME" class="fa fa-caret-up" ng-click="sortByPNAME()"></span>
        </div>
        <div class="col-md-3">
          <b>Patient</b>
          <span ng-show="sortNAME" class="fa fa-caret-down" ng-click="sortByNAME()"></span>
          <span ng-hide="sortNAME" class="fa fa-caret-up" ng-click="sortByNAME()"></span>
        </div>
        <div class="col-md-3">
          <b>Visit Desc.</b>
          <span ng-show="sortDESC" class="fa fa-caret-down" ng-click="sortByDESC()"></span>
          <span ng-hide="sortDESC" class="fa fa-caret-up" ng-click="sortByDESC()"></span>
        </div>
        <div class="col-md-2">
          <b>Status</b>
          <span ng-show="sortEMPNAME" class="fa fa-caret-down" ng-click="sortByEMPNAME()"></span>
          <span ng-hide="sortEMPNAME" class="fa fa-caret-up" ng-click="sortByEMPNAME()"></span>
        </div>
      </div>

    <div class="row" ng-click="setVisitNum($index)" style="outline:0" ng-repeat="visit in visits">
      <div class="record-item" ng-class="{'clicked': $index===activeVisit}">
        <div class="col-md-2">
          <span class="fa fa-folder space-right" aria-hidden="true"></span>
          <span>{{visit.VISITDATE}}</span>
        </div>
        <div class="col-md-3">{{visit.VISITPATIENT | limitTo: 25 }}{{visit.VISITPATIENT.length > 25 ? '&hellip;' : ''}}</div>
        <div class="col-md-3">{{visit.VISITTYPEDESC}}</div>
        <!-- <div class="col-md-2">{{record.VISITDATE}}</div>
        <div class="col-md-1 text-right">
          <span class="fa fa-ellipsis-v"></span>
        </div> -->
          <!-- <div ng-repeat="form in visit.VISITFORMS">
            {{form}}
          </div> -->
      </div>
    <!-- </div> -->
      <!--expand start-->
      <div ng-show="$index===activeVisit" ng-class="{'records-expand': $index===activeVisit}">
        <div class="head">
          <div class="col-md-5">
            Record <span class="fa fa-caret-down" aria-hidden="true"></span>
          </div>
          <div class="col-md-2">Assigned To</div>
          <div class="col-md-2">Status</div>
          <div class="col-md-2">Due Date</div>
        </div>
        <div class="row" ng-repeat="form in visit.VISITFORMS">
          <div class="record-item">
            <div class="col-md-5" ng-click="viewForm(form)">
              <span class="fa fa-file-text space-right" aria-hidden="true"></span>{{form.VISITFORM_DESC}}
            </div>
            <!-- <div class="col-md-2" ng-click="" ng-show="form.HASXML">
              <a href="{{form.LINK}}">Download .xml</a>
            </div> -->
            <!-- <a class="pull-right" ng-click="">Remove</a> -->
          </div>
        </div>
      </div>
    </div>
  </div><!--closes tasks background-->
</div>

<div class="employee-right-menu">
  <employee-expanded-nav></employee-expanded-nav>
</div>
