<div id="new-visit-type">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>Add a New Visit Type</h3>
      </div>
    </div>
    <div ng-click="close()" class="fa fa-remove close"></div>
  </div>
  <div class="form-background">
    <div class="row">
      <form name="newVisitTypeInformation" novalidate>
        <section class="NewVisitTypeInformation">
          <div class="container small">
            <div class="row col-md-12">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="VISITCODE">Visit Code</span>
                      <input type="text" name="VISITCODE" ng-model="VISITCODE" class="form-control" tabindex="1" aria-describedby="VISITCODE">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="input-group" style="line-height:34px">
                      <label class="col-xs-3">Status:</label>
                      <div class="col-xs-9">
                        <div class="radio-inline">
                          <label>
                            <input id="ACTIVE" name="ACTIVE" ng-model="ACTIVE" value="1" type="radio" tabindex="12">
                            Active
                          </label>
                        </div>
                        <div class="radio-inline">
                          <label>
                            <input id="INACTIVE" name="INACTIVE" ng-model="ACTIVE" value="0" type="radio" tabindex="13">
                            Inactive
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="DESC">Description of service</span>
                      <input type="text" name="DESC" ng-model="DESC" class="form-control" tabindex="2" aria-describedby="DESC">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="DISCIPLINE">Discipline</span>
                      <select name="DISCIPLINE" id="DISCIPLINE" ng-model="DISCIPLINE" class="form-control" tabindex="3" ng-options="discipline.SHORTDESC as discipline.LONGDESC for discipline in disciplineList" ng-change="disciplineUpdated()"></select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="SERVICE">Service Type</span>
                      <select name="SERVICE" class="form-control" tabindex="14"
                              ng-init="SERVICE.DISCDFLT = 1"
                              ng-model="SERVICE"
                              ng-options="service as service.DESC for service in serviceTypeList"
                              ng-change="serviceTypeUpdated()">
                              <option value="">-Select One-</option>
                      </select>
                      <!-- <div class="add-servicetype">
                        <button class="glyphicon glyphicon-plus" ng-click="newVisitService()" ng-disabled="noEdit"></button>
                        <button class="glyphicon glyphicon-minus" ng-click="removeVisitService()" ng-disabled="noEdit"></button>
                      </div> -->
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="EMPCLASS">Employee Class</span>
                      <select name="EMPCLASS" class="form-control" ng-model="EMPCLASS" ng-options="employeeClass as employeeClass.CLASSDESC for employeeClass in employeeClassList" tabindex="15"></select>
                      <!-- <div class="add-empclass">
                        <button class="glyphicon glyphicon-plus" ng-click="newEmployeeClass()" ng-disabled="noEdit"></button>
                        <button class="glyphicon glyphicon-minus" ng-click="removeEmployeeClass()" ng-disabled="noEdit"></button>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="REVENUE_CODE">Revenue code</span>
                      <select name="REVENUE_CODE" id="REVENUE_CODE" ng-model="REVENUE_CODE" class="form-control" tabindex="3" ng-options="revcode as revcode.DESC for revcode in revcodeList" ng-change="revcodeUpdated()"></select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group" style="line-height:34px">
                      <label class="col-xs-3">Bill</label>
                      <div class="col-xs-8">
                        <div class="radio-inline">
                          <label>
                            <input id="PERVISIT" name="PERVISIT" ng-model="PERVISIT" ng-value="1" type="radio" tabindex="4">
                            Per Visit
                          </label>
                        </div>
                        <div class="radio-inline">
                          <label>
                            <input id="PERVISIT" name="PERHOUR" ng-model="PERVISIT" ng-value="0" type="radio" tabindex="5" >
                            Per Hour
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group" style="line-height:34px">
                      <label class="col-xs-3">Enter by </label>
                      <div class="col-xs-8">
                        <div class="radio-inline">
                          <label>
                            <input id="ENTERBYTIME" name="ENTERBYTIME" ng-model="ENTERBYTIME" ng-value="1" type="radio" tabindex="6">
                            Time In/Out
                          </label>
                        </div>
                        <div class="radio-inline">
                          <label>
                            <input id="ENTERBYHOURS" name="ENTERBYHOURS" ng-model="ENTERBYTIME" ng-value="0" type="radio" tabindex="7">
                            Hours
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group" style="line-height:34px">
                      <label class="col-xs-3">Round hrs </label>
                      <div class="col-xs-8">
                        <div class="radio-inline">
                          <label>
                            <input id="ROUND_HRS" name="ROUND_HRS" ng-model="ROUND_HRS" ng-value="1" type="radio" tabindex="8">
                            Yes
                          </label>
                        </div>
                        <div class="radio-inline">
                          <label>
                            <input id="NO_ROUND_HRS" name="ROUND_HRS_NO" ng-model="ROUND_HRS" ng-value="0" type="radio" tabindex="9">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group" style="line-height:34px">
                      <label class="col-xs-3">Get mileage </label>
                      <div class="col-xs-8">
                        <div class="radio-inline">
                          <label>
                            <input id="GETMILEAGE" name="GETMILEAGE" ng-model="GETMILEAGE" ng-value="1" type="radio" tabindex="10">
                            Yes
                          </label>
                        </div>
                        <div class="radio-inline">
                          <label>
                            <input id="NOGETMILEAGE" name="GETMILEAGE_NO" ng-model="GETMILEAGE" ng-value="0" type="radio" tabindex="11">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="employeePay">Default Employee Pay</span>
                      <input type="text" name="DFLTEMPPAY" ng-model="DFLTEMPPAY" aria-describedby="DFLTEMPPAY" class="form-control" tabindex="16">
                    </div>
                  </div>
                  <div class="input-group" style="line-height:34px">
                    <label class="col-xs-3">Default pay</label>
                    <div class="col-xs-8">
                      <div class="radio-inline">
                        <label>
                          <input id="PERVISIT" name="DFLTEMPPAY_PERVISIT" ng-model="DFLTEMPPAY_PERVISIT" value="1" type="radio" tabindex="17">
                          Per Visit
                        </label>
                      </div>
                      <div class="radio-inline">
                        <label>
                          <input id="PERHOUR" name="DFLTEMPPAY_PERHOUR" ng-model="DFLTEMPPAY_PERVISIT" value="0" type="radio" tabindex="18">
                          Per Hour
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="DFLTHRS">Default Hrs</span>
                      <input type="number" name="DFLTHRS" ng-model="DFLTHRS" class="form-control" tabindex="19" aria-describedby="DFLTHRS">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="ADMINCOST">Administrative cost</span>
                      <input type="number" name="ADMINCOST" ng-model="ADMINCOST" aria-describedby="ADMINCOST" class="form-control" tabindex="20">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row col-md-12">
              <div class="form-section">
                <div>Add Form</div>
                <select class="form-control"
                        tabindex="21"
                        ng-model="selectForm"
                        ng-options="form.NAME for form in forms">
                </select>
                <!-- <select name="LANGUAGE" class="form-control" tabindex="8"
                        ng-init="LANGUAGE = null"
                        ng-model="LANGUAGE"
                        ng-options="language.KEYID as language.DESC for language in languages">
                        <option value="">-Select One-</option>
                </select> -->
                <div class="fa fa-plus" ng-click="addForm(selectForm)" tabindex="22"></div>
              </div>
              <div class="selected-form" ng-repeat="form in selectedForms">
                <div class="pull-left">{{form.NAME}}</div>
                <a class="pull-right" ng-click="removeForm(selectForm)">Remove</a>
              </div>
            </div>
            <div class="row col-md-12">
              <div class="input-field-group">
                <div class="section-title">
                  Insurance Specifics
                </div>
                <div class="col-md-12">
                  <div class="col-md-3">
                    <div class="input-group">
                      <span class="input-group-addon" id="overhead">Rev. Code</span>
                      <input type="text" name="REV_CODE" ng-model="REV_CODE" class="form-control" tabindex="23" aria-describedby="REV_CODE">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="input-group">
                      <span class="input-group-addon" id="overhead">HCPC</span>
                      <input type="text" name="HCPC" ng-model="HCPC" class="form-control" aria-describedby="HCPC" tabindex="24">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="input-group">
                      <span class="input-group-addon" id="overhead">Amount</span>
                      <input type="text" name="AMOUNT" ng-model="AMOUNT" class="form-control" aria-describedby="AMOUNT" tabindex="25">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="input-group" style="line-height:34px">
                      <label>Billable:
                        <input style="margin-left:15px;" type="checkbox" ng-model="BILLABLE" id="BILLABLE" ng-true-value="1" tabindex="26" aria-label="BILLABLE">
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-footer pull-right">
              <button type="submit" ng-click="addVisitType()" class="btn btn-default" tabindex="27">Create New Visit Type</button>
              <button type="" ng-click="close()" class="btn btn-default" tabindex="28">Cancel</button></td>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
