.billings-right-menu {
  z-index: 8;
  position: fixed;
  top: 60px;
  left: -210px;
  height: 100%;
  width: 210px;
  background:#42335E;
  .menu-headline {
    padding: 20px 15px 0 25px;
    height: 60px;
    background: #75469B;
    color: #E9DBF0;
    text-transform: uppercase;
    font-size: 15px;
  }
  a {
    text-decoration: none;
    color: #9B95A7;
    &:hover {
      color: #FFF;
    }
  }
  .menu-notification {
    margin: 15px 15px 0 15px;
    text-align: center;
    padding: 15px;
    color: #E9DBF0;
    padding: 10px;
    width: 75%;
    margin: 20px auto 0;
    border-radius: 2px;
    &.compliant {
      background-color: #795E9F;
    }
    &.not-compliant {
      background-color: #ff4d4d;
    }
  }
  ul.menu {
    list-style: none;
    padding: 15px;
    margin: 0 5px;
    li {
      cursor: pointer;
      padding: 13px;
      position: relative;
      color: #9B95A7;
      padding: 10px 5px;
      border-bottom: 1px solid #9B95A7;
      &:hover {
        color: #FFF
      }
    }
  }
}
