<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#supplies" settingsnav="true"></header-nav>
</div>

<div id="supplies">
  <div class="search-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <span class="icon-profile icon-size-3"></span>
          <span class="text-heading">Supplies</span>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" ng-model="searchText" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="add-supply">
            <a href"#"><i class="glyphicon glyphicon-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="supply-row-head">
    <div class="container">
      <div class="row">
        <div class="supply-row-title">
          <div class="col-md-1">
            Code
          </div>
          <div class="col-md-2">
            Description
          </div>
          <div class="col-md-2">
            Type
          </div>
          <div class="col-md-1">
            Rev Code
          </div>
          <div class="col-md-1">
            HCPC
          </div>
          <div class="col-md-1">
            Billable
          </div>
          <div class="col-md-1">
            Amount
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="supply-info-row" ng-repeat="supply in activeSupplyList | filter: searchText | limitTo:20" ng-init="isDisabled[$index]=true; editInput[$index]=false">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <div class="supply-info-item">
            <input class="supply-input" type="text" name="code" ng-model="code" tabindex="1" aria-describedby="code" ng-class="{editInput: editInput[$index]}" ng-disabled="isDisabled[$index]" placeholder="{{supply.code}}">
          </div>
        </div>
        <div class="col-md-2">
          <div class="supply-info-item">
            <input class="supply-input" type="text" name="description" ng-model="description" tabindex="1" aria-describedby="description" ng-class="{editInput: editInput[$index]}" ng-disabled="isDisabled[$index]" placeholder="{{supply.description}}">
          </div>
        </div>
        <div class="col-md-2">
          <div class="supply-info-item">
            <input class="supply-input" type="text" name="type" ng-model="type" tabindex="1" aria-describedby="type" ng-class="{editInput: editInput[$index]}" ng-disabled="isDisabled[$index]" placeholder="{{supply.type}}">
          </div>
        </div>
        <div class="col-md-1">
          <div class="supply-info-item">
            <input class="supply-input" type="text" name="revcode" ng-model="revcode" tabindex="1" aria-describedby="revcode" ng-class="{editInput: editInput[$index]}" ng-disabled="isDisabled[$index]" placeholder="{{supply.revcode}}">
          </div>
        </div>
        <div class="col-md-1">
          <div class="supply-info-item">
            <input class="supply-input" type="text" name="hcpc" ng-model="hcpc" tabindex="1" aria-describedby="hcpc" ng-class="{editInput: editInput[$index]}" ng-disabled="isDisabled[$index]" placeholder="{{supply.hcpc}}">
          </div>
        </div>
        <div class="col-md-1">
          <div class="supply-info-item">
            <input class="supply-input" type="checkbox" name="billable" ng-model="billable" tabindex="1" aria-describedby="billable" ng-class="{editInput: editInput[$index]}" ng-checked="{{supply.billable}}" ng-disabled="isDisabled[$index]" placeholder="{{supply.billable}}">
          </div>
        </div>
        <div class="col-md-1">
          <div class="supply-info-item">
            <input class="supply-input" type="text" name="amount" ng-model="amount" tabindex="1" aria-describedby="amount" ng-class="{editInput: editInput[$index]}" ng-disabled="isDisabled[$index]" placeholder="{{supply.amount}}">
          </div>
        </div>
        <div class="col-md-1">
          <div class="supply-info-item">
            <span class="fa fa-trash" ng-show="isDisabled[$index]"></span>
            <span class="fa fa-pencil" ng-show="isDisabled[$index]" data-ng-click="isDisabled[$index]=false;editInput[$index]=true"></span>
            <span class="fa fa-check" ng-hide="isDisabled[$index]" data-ng-click="isDisabled[$index]=true; editInput[$index]=false"></span>
            <span class="fa fa-remove" ng-hide="isDisabled[$index]" data-ng-click="isDisabled[$index]=true; editInput[$index]=false"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="settings-right-menu">
  <settings-expanded-nav></settings-expanded-nav>
</div>
