<div id="view-order">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>View Order Details</h3>
        <span style="font-size:12px;color:red" ng-show="form.STATUS===3 && form.ACTION !== 'qaMode'">ORDER APPROVED!</span>
        <span ng-show="(form.STATUS===1 &&  form.ACTION!=='qaMode')" style="color:red;font-size:12px">View Only - Order submitted to QA for review.</span>
        <span ng-show="(form.STATUS===5 &&  form.ACTION!=='qaMode' && form.PHYSICIANSIGNDATE)" style="color:red;font-size:12px">Order signed: {{form.PHYSICIANSIGNDATE}}</span>

        <button type="button" style="margin-top:13px;margin-left:95px" class="btn btn-primary" ng-show="form.ACTION==='qaMode' && isDisabled" ng-click="isDisabled=false">Edit</button>
        <button type="button" style="margin-top:13px;margin-left:165px" class="btn btn-success" ng-show="form.ACTION==='qaMode' && !isDisabled" ng-click="saveChanges(MedicationForm)">Save</button>
        <button type="button" style="margin-top:13px" class="btn btn-default" ng-show="form.ACTION==='qaMode' && !isDisabled" ng-click="cancel()">Cancel</button>

        <button type="button" style="margin-top:13px" class="btn btn-success" ng-show="form.ACTION==='qaMode' && isDisabled" ng-click="approve()">Approve</button>
        <button type="button" style="margin-top:13px" class="btn btn-danger" ng-show="form.ACTION==='qaMode' && isDisabled" ng-click="reject()">Reject</button>
      </div>
    </div>
    <div ng-click="close()" class="fa fa-remove close"></div>
  </div>
  <div class="form-background">
    <div class="row">
      <form name="MedicationForm" novalidate>
        <fieldset ng-disabled="isDisabled" ng-class="{'enableInput': isDisabled}">
        <div class="container small" style="font-size:14px">
          <div class="row">
            <div class="col-md-12">
              <div>Patient Information</div>
              <div class="col-md-6">
                <div>Name: {{order.patientName}}</div>
                <div>Address:</div>
                <div>Phone:</div>
              </div>
              <div class="col-md-6">
                <div>Sex:</div>
                <div>DOB:</div>
                <div>Language:</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row" style="margin-top:5px">
            <div class="col-md-2">
              *Physician
            </div>
            <div class="col-md-10">
              <select class="form-control"
                  name="DOCTOR"
                  required
                  ng-model="DOCTOR"
                  ng-options="doctor.KEYID as doctor.FNAME + ' ' + doctor.LNAME for doctor in doctors">
              </select>
            </div>
            <div class="col-md-12">
              <div class="field-error" ng-show="MedicationForm.DOCTOR.$touched && MedicationForm.DOCTOR.$invalid || MedicationForm.DOCTOR.$invalid && MedicationForm.$submitted">Physician is required.</div>
            </div>
          </div>
          <div class="row" style="margin-top:5px">
            <div class="col-md-2">
              *Date
            </div>
            <div class="col-md-10">
              <div class="input-group" style="margin:0">
                <input type="text"
                      name="ORDERSDATE"
                      required
                      class="form-control"
                      uib-datepicker-popup='MM-dd-yyyy'
                      ng-model="ORDERSDATE"
                      is-open="openedOrderDate"
                      show-button-bar="false"
                      ng-click="openedOrderDate=true"
                      datepicker-append-to-body="false"
                      alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                  <button type="button" style="margin-top:0" class="btn btn-default" ng-click="openedOrderDate=true"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="field-error" ng-show="MedicationForm.ORDERSDATE.$touched && MedicationForm.ORDERSDATE.$invalid || MedicationForm.ORDERSDATE.$invalid && MedicationForm.$submitted">Date is required.</div>
            </div>
          </div>
          <div class="row" style="margin-top:5px">
            <div class="col-md-2">
              *Subject
            </div>
            <div class="col-md-10">
              <input required name="SUBJECT" type="text" ng-model="SUBJECT" class="form-control"></input>
            </div>
            <div class="col-md-12">
              <div class="field-error" ng-show="MedicationForm.SUBJECT.$touched && MedicationForm.SUBJECT.$invalid || MedicationForm.SUBJECT.$invalid && MedicationForm.$submitted">Subject is required.</div>
            </div>
          </div>
          <div class="row" style="margin-top:5px">
            <div class="col-md-12">
              *Description
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <textarea required name="DESCRIPTION" rows="5" ng-model="DESCRIPTION" class="form-control"></textarea>
            </div>
            <div class="col-md-12">
              <div class="field-error" ng-show="MedicationForm.DESCRIPTION.$touched && MedicationForm.DESCRIPTION.$invalid || MedicationForm.DESCRIPTION.$invalid && MedicationForm.$submitted">Description is required.</div>
            </div>
          </div>
          <div class="row" style="margin-top:10px">
            <div class="col-md-12">
              <!-- <button  style="float:right;margin-left:5px" ng-click="addOrder()" class="btn btn-success">Submit</button> -->
              <!-- <button  style="float:right" ng-click="close()" class="btn btn-default">Cancel</button> -->
            </div>
          </div>
        </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
