#scheduling {
  margin-left: 370px;
  position: relative;
  background: #FFF;
  padding-top: 60px;
  .head-bar {
    height: 60px;
    padding: 0 0 0 15px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .col-md-12 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 0;
      padding-right: 20px;
      height: 60px;
    }
    a {
      text-decoration: none;
      // color: #FFF;
    }
  }
  ul {
    margin: 0;
    // padding: 0;
    list-style: none;
    // float: right;
    .action-btn {
      background-color: #795E9F;
      border-radius: 4px;
      color: white;
      float: left;
      padding: 10px 18px;
      margin-left:10px;
    }
  }
  .title {
    float: left;
    span {
      line-height: 60px;
      margin: 0 20px;
      float: left;
    }
    h3 {
      line-height: 60px;
      margin: 0;
      float: left;
    }
  }
  // input[type=checkbox] {
  //   margin: 0px;
  //   margin-left:-16px;
  // }
  .profile-header {
    background: #F5F5F5;
    padding: 20px;
    // height: 140px;
    .circle-icon {
      background: #FFF;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      text-align: center;
      line-height: 100px;
      vertical-align: middle;
      align-self: center;
      margin-right: 20px;
    }
    .row {
      &.flex {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
      }
    }
    .info {
      align-self: center;
      h3 {
        margin: 0 0 5px;
      }
    }
    .metric-box {
      height: 120px;
      background: #FFFFFF;
      box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.24), 0px 1px 4px 0px rgba(0,0,0,0.04);
      border-radius: 2px;
    }
    .full-padding {
      padding: 10px;
    }
  }

  .calendar-header {
    height: 34px;
    margin-top: 20px;
    margin-bottom: 0;
    padding-right:40px;
    padding-left:40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .discipline {
      button {
        float: left ;
        border-radius: 0;
        border-left: none;
        &:last-child {
          border-radius: 0 2px 2px 0;
        }
        &:first-child {
          border: 1px solid #CCC;
          border-radius: 2px 0 0 2px;
        }
      }
    }

    // .arrow {
    //   float: left;
    //   margin: 0;
    //   padding:0;
    //   button {
    //     float:left;
    //     border-left: none;
    //     &:first-child {
    //       border-radius: 2px 0 0 2px;
    //       border: 1px solid #CCC;
    //     }
    //     &:nth-child(2) {
    //       border-radius: 0 2px 2px 0;
    //       margin-right: 10px
    //     }
    //   }
    // }
  }
  .notice {
    background-color: #FCE6DF;
    margin-left: 40px;
    margin-right: 40px;
    color: red;
    justify-content:center;
    a {
      margin-left: 3px;
    }
  }
  .filtered {
    background-color: #75469B;
    color:#FFF;
  }
  .highlight {
    background-color:#daffa3;
    color:#75469B;
    font-weight: bold;
  }
  .list-row {
    &:hover  {
      background-color: lightgrey;
    }
  }
  .list-info {
    padding-top:10px;
    padding-bottom:10px;
  }
}
//
// .modal {
//   top:20%;
// }

.modal.fade .modal-dialog {
  transition: none;
}
.display-visit-modal .modal-dialog {
  // width: 55%;
}
