<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#scheduling" patientnavopen='true'></header-nav>
</div>

<div id="scheduling">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>Patient Scheduling</h3>
      </div>
      <ul>
        <li><button class="action-btn" ng-click="printSection('print_section')">Print</button></li>
      </ul>
  <!-- <ul>
        <span uib-dropdown on-toggle="toggled(open)">
         <a href id="simple-dropdown" uib-dropdown-toggle>
           <button class="btn btn-default" style="background:#795E9F;color:#FFF;border:none"><span class="fa fa-list"></span></button>
         </a>
         <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
           <li><a href>Print</a></li>
           <li><a href>Action</a></li>
           <li><a href>Action</a></li>
         </ul>
       </span>
      </ul> -->
    </div>
  </div>
  <div class="profile-header">
    <div class="row flex">
      <span class="col-md-2 fa fa-user fa-4x circle-icon"></span>
      <div class="col-md-3 info">
        <h3>{{patient.FNAME}} {{patient.MINITIAL}} {{patient.LNAME}}</h3>
        <a ui-sref="patientProfile"><button class="btn btn-primary">View Intake Profile</button></a>
      </div>
      <div class="col-md-3 col-md-offset-2">
        <div class="metric-box full-padding">
          <h5 style="margin:0 0 5px 0"><b>PATIENT INFORMATION</b></h5>
          <div style="font-size:12px">
            <b>Sex: </b>{{patient.GENDER || 'N/A'}} </br>
            <b>Date of Birth: </b>{{patient.DOB || 'N/A'}} </br>
            <b>Language: </b>{{patient.LANGUAGEDESC || 'N/A'}} </br>
            <b>Ethnicity: </b>{{patient.M0140DESC || 'N/A'}} </br>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="metric-box full-padding">
          <h5 style="margin:0 0 5px 0"><b>CONTACT INFORMATION</b></h5>
          <div style="font-size:12px">
            <b>Phone: </b>{{(patient.PHONE1 | tel) || 'N/A'}} </br>
            <b>Cell: </b>{{(patient.CELLPHONE | tel) || 'N/A'}} </br>
            <b>Other Phone: </b>{{(patient.PHONE2 | tel) || 'N/A'}} </br>
            <b>Email: </b>{{patient.EMAIL || 'N/A'}} </br>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="print_section">
  	<div class="calendar-header">
  	  <div>
  	    <!-- <ul class="arrow">
  	      <button class="btn btn-default"><span class="fa fa-chevron-left"></span></button>
  	      <button class="btn btn-default"><span class="fa fa-chevron-right"></span></button>
  	    </ul> -->
  	    <!-- <div class="btn-group" uib-dropdown>
  	     <button id="split-button" type="button" class="btn btn-default">Admit</button>
  	     <button type="button" class="btn btn-default" uib-dropdown-toggle>
  	       <span class="caret"></span>
  	       <span class="sr-only"></span>
  	     </button>
  	     <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
  	       <li role="menuitem"><a href="#">Admit 3</a></li>
  	       <li role="menuitem"><a href="#">Admit 2</a></li>
  	       <li role="menuitem"><a href="#">Admit 1</a></li>
  	     </ul>
        </div> -->
        Admit
           <select name="ADMIT" class="form-control" tabindex="10"
                  ng-change="changeAdmit()"
                   ng-model="ADMIT"
                   ng-options="admit as admit.ADMITNO for admit in admissions">
                   <option value="">-Select One-</option>
           </select>

  	   </div>
  	    <!-- <div class="btn-group" uib-dropdown>
  	       <button id="split-button" type="button" class="btn btn-default">Episode</button>
  	       <button type="button" class="btn btn-default" uib-dropdown-toggle>
  	         <span class="caret"></span>
  	         <span class="sr-only"></span>
  	       </button>
  	       <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
  	         <li role="menuitem"><a href="#">Episode 3</a></li>
  	         <li role="menuitem"><a href="#">Episode 2</a></li>
  	         <li role="menuitem"><a href="#">Episode 1</a></li>
  	       </ul>
        </div> -->
      <div>
        Episode
        <select name="EPISODE" class="form-control" tabindex="10"
               ng-model="EPISODE"
               ng-change="changeEpisode()"
               ng-options="epi as epi.EPISODENO for epi in episodes">
               <option value="">-Select One-</option>
        </select>
  	  </div>
  	  <div style="font-size:14px;text-align:center">
  	    <b>Episode {{episode.EPISODENO}}</b></br>
  	    {{episode.FROMDATE}} - {{episode.THRUDATE}}
  	  </div>

  	  <ul class="discipline">
        <button class="btn btn-default" ng-click="filter('ALL')" ng-class="{filtered: selected==='ALL'}">ALL</button>
  	    <button class="btn btn-default" ng-click="filter('SN')" ng-class="{filtered: selected==='SN'}">SN</button>
  	    <button class="btn btn-default" ng-click="filter('HA')" ng-class="{filtered: selected==='HA'}">HA</button>
  	    <button class="btn btn-default" ng-click="filter('PT')" ng-class="{filtered: selected==='PT'}">PT</button>
  	    <button class="btn btn-default" ng-click="filter('OT')" ng-class="{filtered: selected==='OT'}">OT</button>
  	    <button class="btn btn-default" ng-click="filter('ST')" ng-class="{filtered: selected==='ST'}">ST</button>
  	    <button class="btn btn-default" ng-click="filter('MSW')" ng-class="{filtered: selected==='MSW'}">MSW</button>
  	    <button class="btn btn-default" ng-click="filter('OTHER')" ng-class="{filtered: selected==='OTHER'}">OTHER</button>
  	  </ul>
  	</div>
    <div ng-if="showNotice" class="calendar-header notice">NOTICE: Nearing end of current episode. Further action required!</div>
  	 <div class="col-md-12" ng-if="showCalendar">
  	   <!-- <calendar selected="day" episode="episode" visits="visits"></calendar> -->
       <calendar></calendar>
  	 </div>
  </div>

  <div class="row" style="display:block">
    <hr>
  </div>


  <!--list visits-->
  <div class="container" style="width:100%;padding:0 50px 50px;">
    <div class="row" >
      <hr style="margin:8px 0">
      <div class="col-md-2">
        <b>Date</b>
        <span ng-show="sortVISITDATE" class="fa fa-caret-down" ng-click="sortByVISITDATE()"></span>
        <span ng-hide="sortVISITDATE" class="fa fa-caret-up" ng-click="sortByVISITDATE()"></span>
      </div>
      <div class="col-md-2">
        <b>Time</b>
      </div>
      <div class="col-md-1">
        <b>Disc.</b>
        <span ng-show="sortDISCIPLINE" class="fa fa-caret-down" ng-click="sortByDISCIPLINE()"></span>
        <span ng-hide="sortDISCIPLINE" class="fa fa-caret-up" ng-click="sortByDISCIPLINE()"></span>
      </div>
      <div class="col-md-3">
        <b>Visit Type</b>
        <span ng-show="sortDESC" class="fa fa-caret-down" ng-click="sortByDESC()"></span>
        <span ng-hide="sortDESC" class="fa fa-caret-up" ng-click="sortByDESC()"></span>
      </div>
      <div class="col-md-4">
        <b>Employee</b>
      </div>
    </div>
    <div class="list-row row" ng-repeat="visit in showVisits" ng-click="highlight(visit)" ng-class="{'highlight':hightlightVisit===visit.KEYID}">
      <hr style="margin:0">
      <div class="list-info col-md-2">
        {{visit.VISITDATE}}
      </div>
      <div class="list-info col-md-2">
        {{visit.TIMEIN}} - {{visit.TIMEOUT}}
      </div>
      <div class="list-info col-md-1">
        {{visit.DISCIPLINE}}
      </div>
      <div class="list-info col-md-3">
        {{visit.DESC}}
      </div>
      <div class="list-info col-md-4">
        {{visit.EMPFNAME}} {{visit.EMPLNAME}}
      </div>
    </div>
  </div>
</div><!--closes scheduling id tags-->

<div class="right-menu">
  <expanded-nav></expanded-nav>
</div>
