<div id="new-visit-service">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>Add a New Visit Service Type</h3>
      </div>
    </div>
    <div ng-click="close()" class="fa fa-remove close"></div>
  </div>
  <div class="form-background">
    <div class="row">
      <form name="newEmployeeClassForm" novalidate>
        <section class="EmployeeClassInformation">
          <div class="container small">
            <div class="row">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon">Service Code</span>
                      <input required type="text" name="SVCCODE" id="SVCCODE" ng-model="SVCCODE" class="form-control" tabindex="1" aria-describedby="SVCCODE">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon">Discipline</span>
                      <select name="DISCIPLINE" id="DISCIPLINE" ng-model="DISCIPLINE" class="form-control" tabindex="3" ng-options="discipline.SHORTDESC as discipline.LONGDESC for discipline in disciplineList"></select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon">HCPC code</span>
                      <input required type="text" name="HCPC" id="HCPC" ng-model="HCPC" class="form-control" tabindex="1" aria-describedby="HCPC">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon">Service Description</span>
                      <input type="text" name="DESC" ng-model="DESC"  class="form-control" tabindex="2" aria-describedby="DESC">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon">Default for this discipline</span>
                      <input class="form-control" type="checkbox" name="DISCDFLT" ng-true-value="1" ng-model="DISCDFLT" tabindex="4" aria-describedby="DISCDFLT">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon">Billable</span>
                      <input class="form-control" type="checkbox" name="BILLABLE" ng-true-value="1" ng-model="BILLABLE" tabindex="4" aria-describedby="BILLABLE">
                    </div>
                  </div>
                </div>
                <div class="btn-footer pull-right">
                  <button type="submit" ng-click="addVisitService()" class="btn btn-default">Save</button>
                  <button type="" class="btn btn-default" ng-click="close()">Cancel</button></td>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>
</div>
</div>
