<div id="new-patient-upload">
    <div class="head-bar">
        <div class="col-md-12">
            <div class="title">
                <span class="fa fa-tags fa-lg"></span><h3>Add a New File</h3>
            </div>
        </div>
        <div ng-click="close()" class="fa fa-remove close"></div>
    </div>
    <div class="form-background">
        <div class="row">
            <form name="newInsuranceForm" novalidate>
                <section class="InsuranceInformation">
                    <div class="container small">
                        <div class="row">
                            <div class="input-field-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="TITLE">Title:</span>
                                        <input required type="text" name="TITLE" ng-model="TITLE" class="form-control" tabindex="1" aria-describedby="TITLE"  placeholder="File name">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="FILE">File:</span>
                                        <input required type="file" name="FILE" file-model="FILE" class="form-control" tabindex="1" aria-describedby="FILE"  placeholder="The file to be uplaoded">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="NOTES">Notes:</span>
                                        <textarea rows="10" name="NOTES" ng-init="NOTES=patient.NOTES" ng-model="NOTES" class="form-control" tabindex="13" aria-describedby="NOTES"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          <hr>
                          <div class="col-md-6">
                            <div class="bottom-nav">
                            
                            <div id="fjoda" ng-show="loading">Loading!</div>
                                <button class="btn btn-default" ng-click="close()">Cancel<i class="glyphicon glyphicon-remove-circle"></i></button>
                                <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="uploadFile()">Save<i class="glyphicon glyphicon-ok"></i></button>
                                <cube-grid-spinner ng-show="loading"></cube-grid-spinner>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>