<div id="settingsExpanedNav" class="">
  <div class="menu-headline">
  </div>
  <div class="menu-notification compliant" ng-if="pendingStatus(selectedPatient.status)">
    Pending - Day 2 of 5
  </div>
  <ul class="menu">
    <a ui-sref="programConfiguration"><li class="sub-menu" style="">Program Configuration</li>
    <a ui-sref="visitTypes"><li class="sub-menu" style="">Visit Types</li>
    <a ui-sref="insuranceCompanies"><li class="sub-menu" style="">Insurance Companies</li>
    <a ui-sref="intermediaries"><li class="sub-menu" style="">Intermediaries</li>
    <a ui-sref="ICD"><li class="sub-menu" style="">ICD-10 Data</li>
    <a ui-sref="supplies"><li class="sub-menu" style="">Supplies used Data</li>
    <a href="#"><li class="sub-menu" style="">Run Payroll</li>
    <a ui-sref="languages"><li class="sub-menu" style="">Languages</li>
    <a ui-sref="religions"><li class="sub-menu" style="">Religions</li>
    <a ui-sref="referralSources"><li class="sub-menu" style="">Referral Sources</li>
    <a href="#"><li class="sub-menu" style="border-top:none">Compliance Control</li>
  </ul>
  <div class="menu-notification">
    Recent Activity
  </div>
</div>
