#patient-create {
  padding-top: 60px;
  // overflow: hidden;
  margin-left:370px;
  position: relative;
  background: #FFF;
    overflow: hidden;
  // input:focus,
  // div:focus,
  // i:focus,
  // span:focus,
  // select:focus,
  // textarea:focus,
  // button:focus {
  //     outline: none;
  //     border:0
  // }
  .input-group {
    margin-bottom: 10px;
  }
  .input-group-addon {
    min-width:150px;
    text-align: left;
  }
  .bottom-nav {
    i {
      margin-left: 8px;
    }
    button {
      margin: 10px 10px 50px 10px;
    }
  }
  .diagnosis {
    width:60%;
    // display: inline-block;
    input[type="text"] {
      width: 100% !important;
    }
    textarea {
      width: 100% !important;
    }
  }

  // input[type="date"] {
  //   width: 200px !important;
  // }
  .text-area-addon {
    background-color: #eee;
    border: 1px solid #ccc;
    display: block;
    width: 72%;
    padding: 5px 10px;
    border-radius: 2px;
  }
  textarea {
    resize: none;
    width: 72%;
  }
  .create-bar {
    font-size: 30px;
    // position: fixed;
    background: #FFF;
    // right: 0px;
    // left: 370px;
    z-index: 100;
    height: 60px;
    padding: 12px 0;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .create-title {
      display: inline-block;
      position: absolute;
      top: 15px;
      font-size: 20px;
      margin-left: 10px;
    }
    button {
      margin: 0 10px;
    }
  }
  .care-type {
    input [type='radio']{
      width: 100%;
    }
    width: 80px;
    border-radius: 2px;
    background: #eee;
    padding: 10px;
    border: 1px solid lightgrey;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    margin: 0 10px 20px 10px;
  }
  .create-section-title {
    background: rgba(112, 102, 157, 0.08);
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    // margin-top: 60px;
  }
  .input-field-group {
    margin-bottom: 15px;
    overflow: auto;
    margin-top: 20px;
    input[type='text'],[type='date'],[type='email'] {
      width: 60%;
    }
    label {
      margin-left: 60px;
      margin-top: 10px;
    }
    // textarea {
    //   width: 60%;
    // }
    md-autocomplete {
      width: 60%;
      padding: 0;
      .md-whiteframe-z1 {
        box-shadow: none;
        margin-top: -4px;
      }
    }
    select {
      width: 60%;
    }
  }
  .create-input-item {
    span {
      font-weight: bold;
    }
    label {
      font-weight: 300;
    }
    padding: 15px 0;
    .btn.move-down {
      margin-top: 20px;
    }
  }
  .radio-button {
    margin-right: 10px;
  }
  .save-info {
    text-align: center;
    margin-bottom: 30px;
    button {
      margin: 0 5px;
    }
  }

  //DATE PICKER
  ::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    background-color:#fff;
    opacity: 0;
     width:110%;
    position: absolute;
    left:0;
  }

  ::-webkit-inner-spin-button {
      display: none;
      -webkit-appearance: none;
  }
}
.form-nav {
  border-right: 1px solid lightgrey;
  // margin-left: 660px;
  left: 160px;
  background: #efefef;
  position: fixed;
  top: 0;
  width: 210px;
  height: 100%;
  padding-top: 60px;
  .nav-title {
    color: #fff;
    height: 60px;
    background: #6D559B;
    padding: 10px 20px;
    .create-title {
      display: inline-block;
      position: absolute;
      top: 15px;
      font-size: 20px;
      margin-left: 10px;
    }
  }
  .form-section {
    &:hover {
      background: #f5f5f5;
    }
    &.active {
      background: #fafafa;
    }
    &:focus{
      outline:none;
      border:0
    }
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
    padding: 20px 20px;
    i {
      font-size: 25px;
      top: -2px;
      float: right;
      color: lightgrey;
    }
  }
  .return {
    text-align: center;
    margin-top: 10px;
    i {
      margin-left: 5px;
    }
    button {
      width: 175px
    }
  }
  .save {
    margin-top: 10px;
    text-align: center;
    button {
      width: 175px
    }
  }
}
.field-error {
  color: red;
  margin-bottom: 10px;
  margin-left: 200px;
}
.form-control.ng-invalid.ng-touched {
  border: 1px solid red;
}
.npi-autocomplete-template {
  max-width: 200px !important;
  min-width: 200px !important;
  width: 200px !important;
  li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
    &:last-child {
      border-bottom-width: 0;
    }
  }
  item-title, item-metadata {
    display: block;
    line-height: 2;
  }
}
