<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#patient-create" patientcreatenav="true"></header-nav>
</div>

<div id="patient-create">
  <div class="create-bar">
    <div class="container small">
      {{currentForm}}
    </div>
  </div>

  <!-- ********** DEMOGRAPHICS ********** -->

  <form name="patientDemographic" novalidate>
    <section class="Demographic">
      <div class="create-section-title">
        <div class="container small">
          <div class="row">
            <div class="col-md-3">
              Personal Information
            </div>
          </div>
        </div>
      </div>
      <div class="container small">
        <div class="row">
          <div class="input-field-group">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon" id="FNAME">* First Name</span>
                <input required type="text" name="FNAME" ng-model="FNAME" class="form-control" tabindex="1" aria-describedby="FNAME">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-addon" id="DOB">* Date of Birth</div>
                <div class="input-group" style="margin:0;width:60%">
                  <input type="text" style="width:100%"
                        required
                        name="DOB"
                        tabindex="4"
                        class="form-control"
                        datepicker-options="inlineOptionsDOB"
                        uib-datepicker-popup='MM-dd-yyyy'
                        ng-model="DOB"
                        is-open="openedDOB"
                        show-button-bar="false"
                        ng-click="openedDOB=true"
                        datepicker-append-to-body="true"
                        placeholder="MM-DD-YYYY"
                        alt-input-formats="altInputFormats" />
                    <span class="input-group-btn" >
                      <button type="button" class="btn btn-default" ng-click="openedDOB=true"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>
                <!-- <input required type="date" ng-change="test()" name="DOB" ng-model="DOB"  class="form-control" tabindex="4" aria-describedby="DOB" placeholder="YYYY-MM-DD"> -->
              <!-- </div> -->
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <div class="field-error" ng-show="patientDemographic.FNAME.$touched && patientDemographic.FNAME.$invalid || patientDemographic.FNAME.$invalid && patientDemographic.$submitted">First Name is required.</div>
              </div>
              <div class="col-md-6">
                <div class="field-error" ng-show="patientDemographic.DOB.$touched && patientDemographic.DOB.$invalid || patientDemographic.DOB.$invalid && patientDemographic.$submitted">Date of Birth is required.</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon" id="MINITIAL">MI</span>
                <input type="text" name="MINITIAL" ng-model="MINITIAL" class="form-control" tabindex="2" aria-describedby="MINITIAL" maxlength="1">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon" id="GENDER">* Gender</span>
                <select required type="text" name="GENDER" ng-model="GENDER" class="form-control" tabindex="5" aria-describedby="GENDER">
                  <option value="">-Select One-</option>
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <div class="field-error" ng-show="patientDemographic.middleInitial.$touched && patientDemographic.middleInitial.$invalid || patientDemographic.middleInitial.$invalid && patientDemographic.$submitted">Middle Initial is required.</div>
              </div>
              <div class="col-md-6">
                <div class="field-error" ng-show="patientDemographic.GENDER.$touched && patientDemographic.GENDER.$invalid || patientDemographic.GENDER.$invalid && patientDemographic.$submitted">Gender is required.</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon" id="LNAME">* Last Name</span>
                <input required type="text" name="LNAME" ng-model="LNAME" class="form-control" tabindex="3" aria-describedby="LNAME">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon" id="SSN">* Social Security #</span>
                <input required type="text" name="SSN" ng-model="SSN" class="form-control" tabindex="6" ng-model="SSN" ui-mask="999-99-9999"  ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="SSN">
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <div class="field-error" ng-show="patientDemographic.LNAME.$touched && patientDemographic.LNAME.$invalid || patientDemographic.LNAME.$invalid && patientDemographic.$submitted">Last Name is required.</div>
              </div>
              <div class="col-md-6">
                <div class="field-error" ng-show="patientDemographic.SSN.$touched && patientDemographic.SSN.$invalid || patientDemographic.SSN.$invalid && patientDemographic.$submitted">SSN is required.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field-group">
            <div class="col-md-6">
              <div class="col-md-12 col-no-pad">
                <div class="input-group">
                  <span class="input-group-addon" id="MARITAL">Marital Status</span>
                  <select type="text" name="MARITAL" ng-model="MARITAL" class="form-control" tabindex="7" aria-describedby="MARITAL">
                    <option value="">-Select One-</option>
                    <option value="1">Unknown</option>
                    <option value="2">Single</option>
                    <option value="3">Married</option>
                    <option value="4">Separated</option>
                    <option value="5">Divorced</option>
                    <option value="6">Widowed</option>
                  </select>
                  <!-- <input type="text" name="MARITAL" ng-model="MARITAL" class="form-control" tabindex="7" aria-describedby="MARITAL"> -->
                </div>
              </div>
              <div class="col-md-12 col-no-pad">
                <div class="input-group">
                  <span class="input-group-addon" id="LANGUAGE">Language</span>
                  <select name="LANGUAGE" class="form-control" tabindex="8"
                          ng-init="LANGUAGE = null"
                          ng-model="LANGUAGE"
                          ng-options="language.KEYID as language.DESC for language in languages">
                          <option value="">-Select One-</option>
                  </select>
                <!-- <input type="text" name="LANGUAGE" ng-model="LANGUAGE" class="form-control" tabindex="8" aria-describedby="LANGUAGE"> -->
                </div>
              </div>
              <div class="col-md-12 col-no-pad">
                <div class="input-group">
                  <span class="input-group-addon" id="M0140">Ethnicity</span>
                  <select type="text" name="M0140" ng-model="M0140" class="form-control" tabindex="9" aria-describedby="M0140">
                    <option value="">-Select One-</option>
                    <option value="1">American Indian or Alaska Native</option>
                    <option value="2">Asian</option>
                    <option value="3">Black or African-American</option>
                    <option value="4">Hispanic or Latino</option>
                    <option value="5">Native Hawaiian or Pacific Islander</option>
                    <option value="6">White</option>
                  </select>
                  <!-- <input type="text" name="M0140" ng-model="M0140" class="form-control" tabindex="9" aria-describedby="M0140"> -->
                </div>
              </div>
              <!-- <div class="col-md-12 col-no-pad">
                <div class="input-group">
                  <span class="input-group-addon" id="RELIGION">Religion</span>
                  <select name="RELIGION" class="form-control" tabindex="10"
                          ng-init="RELIGION = null"
                          ng-model="RELIGION"
                          ng-options="religion.KEYID as religion.DESC for religion in religions">
                          <option value="">-Select One-</option>
                  </select>
                  <input type="text" name="RELIGION" ng-model="RELIGION" class="form-control" tabindex="10" aria-describedby="RELIGION">
                </div>
              </div> -->
              <!-- <div class="col-md-12 col-no-pad">
                <div class="input-group">
                  <span class="input-group-addon" id="responsiblePer">Responsible Per.</span>
                  <input type="text" name="responsiblePer" ng-model="responsiblePer" class="form-control" tabindex="11" aria-describedby="responsiblePer">
                </div>
              </div> -->
              <!-- <div class="col-md-12 col-no-pad">
                <div class="input-group">
                  <span class="input-group-addon" id="ACUITY">Acuity</span>
                  <select type="number" name="ACUITY" ng-model="ACUITY" class="form-control" tabindex="12" aria-describedby="ACUITY">
                    <option value="">-Select One-</option>
                    <option value="1">Low</option>
                    <option value="2">Medium</option>
                    <option value="3">High</option>
                  </select>
                  <span class="input-group-addon" id="ACUITY">Acuity</span>
                  <input type="text" name="ACUITY" ng-model="ACUITY" class="form-control" tabindex="12" aria-describedby="ACUITY">
                </div>
              </div> -->
            </div>
            <div class="col-md-6">
              <div class="col-md-12 col-no-pad">
                <div class="input-group">
                  <span class="input-group-addon" id="RELIGION">Religion</span>
                  <select name="RELIGION" class="form-control" tabindex="10"
                          ng-init="RELIGION = null"
                          ng-model="RELIGION"
                          ng-options="religion.KEYID as religion.DESC for religion in religions">
                          <option value="">-Select One-</option>
                  </select>
                  <!-- <input type="text" name="RELIGION" ng-model="RELIGION" class="form-control" tabindex="10" aria-describedby="RELIGION"> -->
                </div>
              </div>
              <div class="col-md-12 col-no-pad">
                <div class="input-group">
                  <span class="input-group-addon" id="ACUITY">Acuity</span>
                  <select type="number" name="ACUITY" ng-model="ACUITY" class="form-control" tabindex="12" aria-describedby="ACUITY">
                    <option value="">-Select One-</option>
                    <option value="1">Low</option>
                    <option value="2">Medium</option>
                    <option value="3">High</option>
                  </select>
                  <!-- <span class="input-group-addon" id="ACUITY">Acuity</span> -->
                  <!-- <input type="text" name="ACUITY" ng-model="ACUITY" class="form-control" tabindex="12" aria-describedby="ACUITY"> -->
                </div>
              </div>
              <!-- <span class="text-area-addon" id="NOTES">Notes</span>
              <textarea rows="10" name="NOTES" ng-model="NOTES" class="form-control" tabindex="13" aria-describedby="NOTES"></textarea> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field-group">
            <div class="col-md-6">
              <input type="checkbox" ng-model="primaryCheckbox" ng-click="addPrimaryCaregiver=!addPrimaryCaregiver"> Add Primary Caregiver
            </div>
          </div>
        </div>
        <div class="row" ng-show="addPrimaryCaregiver">
          <div class="input-field-group">
            <div class="col-md-6">
              <div class="col-md-12 col-no-pad">
                <div class="input-group">
                  <span class="input-group-addon" id="PCGNAME">Primary Care Giver Name</span>
                  <input ng-required="primaryCheckbox" type="text" name="PCGNAME" ng-init="PCGNAME=admission.PCGNAME" ng-model="PCGNAME" class="form-control" tabindex="14" aria-describedby="PCGNAME" maxlength="40">
                </div>
                <div class="field-error" ng-show="patientDemographic.PCGNAME.$touched && patientDemographic.FNAME.$invalid || patientDemographic.PCGNAME.$invalid && patientDemographic.$submitted">Primary Caregiver Name is required.</div>
              </div>
              <div class="col-md-12 col-no-pad">
                <div class="input-group">
                  <span class="input-group-addon" id="PCGPHONE">Primary Care Giver Phone</span>
                  <input  ng-required="primaryCheckbox" name="PCGPHONE" ng-init="PCGPHONE=admission.PCGPHONE" ng-model="PCGPHONE" class="form-control" tabindex="15"  ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="PCGPHONE">
                </div>
                <div class="field-error" ng-show="patientDemographic.PCGPHONE.$touched && patientDemographic.FNAME.$invalid || patientDemographic.PCGPHONE.$invalid && patientDemographic.$submitted">Primary Caregiver Phone is required.</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-12 col-no-pad">
                <div class="input-group">
                  <span class="input-group-addon" id="PCGNOTES">Primary Care Giver Notes</span>
                  <textarea rows="3"type="text" name="PCGNOTES" ng-init="PCGNOTES=admission.PCGNOTES" ng-model="PCGNOTES" class="form-control" tabindex="16" aria-describedby="PCGNOTES"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field-group">
            <div class="col-md-6">
              <input type="checkbox" ng-model="emergencyCheckbox" ng-click="addEmergencyCaregiver=!addEmergencyCaregiver"> Add Emergency Caregiver
            </div>
          </div>
        </div>
        <div class="row" ng-show="addEmergencyCaregiver">
          <div class="input-field-group">
            <div class="col-md-6">
              <div class="col-md-12 col-no-pad">
                <div class="input-group">
                  <span class="input-group-addon" id="ECNAME">Emerg. Contact Name</span>
                  <input ng-required="emergencyCheckbox" type="text" name="ECNAME" ng-init="ECNAME=admission.ECNAME" ng-model="ECNAME"  class="form-control" tabindex="17" aria-describedby="ECNAME" maxlength="40">
                </div>
                <div class="field-error" ng-show="patientDemographic.ECNAME.$touched && patientDemographic.FNAME.$invalid || patientDemographic.ECNAME.$invalid && patientDemographic.$submitted">Emergency Caregiver Name is required.</div>
              </div>
              <div class="col-md-12 col-no-pad">
                <div class="input-group">
                  <span class="input-group-addon" id="ECPHONE">Emerg. Contact Phone</span>
                  <input ng-required="emergencyCheckbox" name="ECPHONE" ng-init="ECPHONE=admission.ECPHONE" ng-model="ECPHONE" class="form-control" tabindex="18"  ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="ECPHONE">
                </div>
                <div class="field-error" ng-show="patientDemographic.ECPHONE.$touched && patientDemographic.FNAME.$invalid || patientDemographic.ECPHONE.$invalid && patientDemographic.$submitted">Emergency Caregiver Name is required.</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-12 col-no-pad">
                <div class="input-group">
                  <span class="input-group-addon" id="ECNOTES">Emerg. Contact Notes</span>
                  <textarea rows="3" type="text" name="ECNOTES" ng-init="ECNOTES=admission.ECNOTES" ng-model="ECNOTES" class="form-control" tabindex="19" ng-model="ECNOTES" aria-describedby="ECNOTES"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field-group">
            <div class="col-md-12">
              <!-- <div class="col-md-12 col-no-pad"> -->
                <span class="text-area-addon" id="NOTES">General Notes</span>
                <textarea rows="5" name="NOTES" ng-model="NOTES" class="form-control" tabindex="19" aria-describedby="NOTES"></textarea>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="col-md-6">
        <div class="bottom-nav">
          <button type="submit" class="btn btn-primary purple" tabindex="20" ng-click="submitSection(patientDemographic, 'Contact');">Save Demographic<i class="glyphicon glyphicon-ok"></i></button>
        </div>
      </div>

</section>
</form>

<!-- ********** CONTACT INFO ********** -->

<form name="patientContact" novalidate>
  <section class="Contact" style="display:none;">
    <div class="create-section-title">
      <div class="container small">
        <div class="row">
          <div class="col-md-3">
            Primary Address
          </div>
        </div>
      </div>
    </div>
    <div class="container small">
      <div class="row">
        <div class="input-field-group">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="LOCTYPE">* Location Type</span>
              <select required name="LOCTYPE" ng-model="LOCTYPE" class="form-control" aria-describedby="LOCTYPE">
                <option value="">-Select One-</option>
                <option value="H">Home</option>
                <option value="A">Assisted Living</option>
                <option value="O">Other</option>
              </select>
            </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="county">* County</span>
              <input required type="text" name="county" ng-model="county" class="form-control" aria-describedby="county">
            </div>
          </div> -->
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="field-error" ng-show="patientContact.LOCTYPE.$touched && patientContact.LOCTYPE.$invalid || patientContact.LOCTYPE.$invalid && patientContact.$submitted">Location Type is required.</div>
            </div>
            <div class="col-md-6">
              <div class="field-error" ng-show="patientContact.county.$touched && patientContact.county.$invalid || patientContact.county.$invalid && patientContact.$submitted">County is required.</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="ADDRESS">* Address</span>
              <input required type="text" name="ADDRESS" ng-model="ADDRESS" class="form-control" aria-describedby="ADDRESS">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="CITY">* City</span>
              <input required type="text" name="CITY" ng-model="CITY" class="form-control" aria-describedby="CITY">
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="field-error" ng-show="patientContact.ADDRESS.$touched && patientContact.ADDRESS.$invalid || patientContact.ADDRESS.$invalid && patientContact.$submitted">Address Type is required.</div>
            </div>
            <div class="col-md-6">
              <div class="field-error" ng-show="patientContact.CITY.$touched && patientContact.CITY.$invalid || patientContact.CITY.$invalid && patientContact.$submitted">City is required.</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="STATE">* State</span>
              <select required name="STATE" ng-model="STATE" class="form-control" aria-describedby="STATE">
                <option value="">-Select One-</option>
                <option value="AL">AL</option>
                <option value="AK">AK</option>
                <option value="AZ">AZ</option>
                <option value="AR">AR</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="IA">IA</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="ME">ME</option>
                <option value="MD">MD</option>
                <option value="MA">MA</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MS">MS</option>
                <option value="MO">MO</option>
                <option value="MT">MT</option>
                <option value="NE">NE</option>
                <option value="NV">NV</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NY">NY</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VT">VT</option>
                <option value="VA">VA</option>
                <option value="WA">WA</option>
                <option value="WV">WV</option>
                <option value="WI">WI</option>
                <option value="WY">WY</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="ZIP">* Zip</span>
              <input required type="text" name="ZIP" ng-model="ZIP" ui-mask="99999" ui-mask-placeholder ui-mask-placeholder-char="_" class="form-control" aria-describedby="ZIP">
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="field-error" ng-show="patientContact.STATE.$touched && patientContact.STATE.$invalid || patientContact.STATE.$invalid && patientContact.$submitted">State Type is required.</div>
            </div>
            <div class="col-md-6">
              <div class="field-error" ng-show="patientContact.ZIP.$touched && patientContact.ZIP.$invalid || patientContact.ZIP.$invalid && patientContact.$submitted">Zip Code is required.</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="country">* Country</span>
              <select required name="country" ng-init="country='USA'" ng-model="country" class="form-control" aria-describedby="country">
                <option value="USA">USA</option>
                <!-- <option value="USA">USA</option> -->
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="PHONE1">* Home Phone</span>
              <input required type="text" name="PHONE1" ng-model="PHONE1" class="form-control" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="PHONE1">
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="field-error" ng-show="patientContact.country.$touched && patientContact.country.$invalid || patientContact.country.$invalid && patientContact.$submitted">Country is required.</div>
            </div>
            <div class="col-md-6">
              <div class="field-error" ng-show="patientContact.PHONE1.$touched && patientContact.PHONE1.$invalid || patientContact.PHONE1.$invalid && patientContact.$submitted">Phone is required.</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="CELLPHONE">Cell Phone</span>
              <input type="text" name="CELLPHONE" ng-model="CELLPHONE" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" class="form-control" aria-describedby="CELLPHONE">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="EMAIL">Email</span>
              <input type="EMAIL" name="EMAIL" ng-model="EMAIL" class="form-control" aria-describedby="EMAIL">
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="field-error" ng-show="patientContact.CELLPHONE.$touched && patientContact.CELLPHONE.$invalid || patientContact.CELLPHONE.$invalid && patientContact.$submitted">Cell Phone is required.</div>
            </div>
            <div class="col-md-6">
              <div class="field-error" ng-show="patientContact.EMAIL.$touched && patientContact.EMAIL.$invalid || patientContact.EMAIL.$invalid && patientContact.$submitted">Email is required.</div>
            </div>
          </div>
          <div class="col-md-6">
            <span class="text-area-addon" id="ADDRESS_NOTES">Notes</span>
            <textarea rows="3" name="ADDRESS_NOTES" ng-model="ADDRESS_NOTES" class="form-control" aria-describedby="ADDRESS_NOTES"></textarea>
          </div>
        </div>
        <div class="input-field-group">
          <div class="col-md-6">
            <input type="checkbox" ng-model="secondaryAddressCheckbox" ng-click="addSecondaryAddress=!addSecondaryAddress"> Add Secondary Address
          </div>
        </div>
      </div>
    </div>
    <div class="create-section-title" ng-if="addSecondaryAddress">
      <div class="container small">
        <div class="row">
          <div class="col-md-3">
            Secondary Address
          </div>
        </div>
      </div>
    </div>
    <div class="container small" ng-show="addSecondaryAddress">
      <div class="row">
        <div class="input-field-group">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="LOCTYPE2">* Location Type</span>
              <select ng-required="addSecondaryAddress" name="LOCTYPE2" ng-model="LOCTYPE2" class="form-control" aria-describedby="LOCTYPE2">
                <option value="">-Select One-</option>
                <option value="H">Home</option>
                <option value="A">Apartment</option>
                <option value="O">Other</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="ADDRESS2">* Address</span>
              <input ng-required="addSecondaryAddress" type="text" name="ADDRESS2" ng-model="ADDRESS2" class="form-control" aria-describedby="ADDRESS2">
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="field-error" ng-show="patientContact.LOCTYPE2.$touched && patientContact.LOCTYPE2.$invalid || patientContact.LOCTYPE2.$invalid && patientContact.$submitted">Location Type is required.</div>
            </div>
            <div class="col-md-6">
              <div class="field-error" ng-show="patientContact.ADDRESS2.$touched && patientContact.ADDRESS2.$invalid || patientContact.ADDRESS2.$invalid && patientContact.$submitted">Address is required.</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="CITY2">* City</span>
              <input ng-required="addSecondaryAddress" type="text" name="CITY2" ng-model="CITY2" class="form-control" aria-describedby="CITY2">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="STATE2">* State</span>
              <select ng-required="addSecondaryAddress" name="STATE2" ng-model="STATE2" class="form-control" aria-describedby="STATE2">
                <option value="">-Select One-</option>
                <option value="NV">NV</option>
                <option value="TX">TX</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="field-error" ng-show="patientContact.CITY2.$touched && patientContact.CITY2.$invalid || patientContact.CITY2.$invalid && patientContact.$submitted">City is required.</div>
            </div>
            <div class="col-md-6">
              <div class="field-error" ng-show="patientContact.STATE2.$touched && patientContact.STATE2.$invalid || patientContact.STATE2.$invalid && patientContact.$submitted">State is required.</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="ZIP2">* Zip</span>
              <input ng-required="addSecondaryAddress" type="text" name="ZIP2" ng-model="ZIP2" class="form-control" ui-mask="99999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="ZIP2">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="PHONE2">* Phone</span>
              <input ng-required="addSecondaryAddress" type="text" name="PHONE2" ng-model="PHONE2" class="form-control" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="PHONE2">
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="field-error" ng-show="patientContact.ZIP2.$touched && patientContact.ZIP2.$invalid || patientContact.ZIP2.$invalid && patientContact.$submitted">Zip is required.</div>
            </div>
            <div class="col-md-6">
              <div class="field-error" ng-show="patientContact.PHONE2.$touched && patientContact.PHONE2.$invalid || patientContact.PHONE2.$invalid && patientContact.$submitted">Phone is required.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="col-md-6">
      <div class="bottom-nav">
        <button type="button" class="btn btn-default" ng-click="nextForm(currentForm, 'Demographic')">Back to Demographic<i class="glyphicon glyphicon-arrow-left"></i></button>
        <button type="submit" class="btn btn-primary purple" ng-click="submitSection(patientContact, 'Insurance');">Save Contact<i class="glyphicon glyphicon-ok"></i></button>
      </div>
    </div>
  </section>
</form>

<!-- ********** INSURANCE ********** -->

<form name="patientInsurance" novalidate>
  <section class="Insurance" style="display: none;">
    <div class="create-section-title">
      <div class="container small">
        <div class="row">
          <div class="col-md-3">
            Primary Insurance
          </div>
        </div>
      </div>
    </div>
    <div class="container small">
      <div class="row">
        <div class="input-field-group">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="INS1CO">* Insurance Name</span>
                <select required name="INSCO" class="form-control"
                ng-model="INSCO"
                ng-change="hideInfo()"
                ng-options="insurance.KEYID as insurance.NAME for insurance in insurances">
                <option value="">-Select One-</option>
                </select>
                <!-- <select required name="INSCO" class="form-control"
                ng-model="INSCO"
                ng-options="insurance.KEYID as insurance.NAME for insurance in insurances">
                <option value="">-Select One-</option>
              </select> -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="INSID">*Insurance ID</span>
              <input ng-required="INSCO===1 || INSCO===7 " type="text" name="INSID" ng-model="INSID" class="form-control" aria-describedby="INSID" maxlength="11">
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="field-error" ng-show="isDuplicatePrimary">Primary Insurance cannot be same as Secondary Insurance</div>
              <div class="field-error" ng-show="patientInsurance.INSCO.$touched && patientInsurance.INSCO.$invalid || patientInsurance.INSCO.$invalid && patientInsurance.$submitted">Insurance name is required.</div>
            </div>
            <div class="col-md-6">
              <div class="field-error" ng-show="patientInsurance.INSID.$touched && patientInsurance.INSID.$invalid || patientInsurance.INSID.$invalid && patientInsurance.$submitted">Insurance id is required.</div>
            </div>
          </div>
          <div class="col-md-6" ng-hide="hideInsuranceInfo">
            <div class="input-group">
              <span class="input-group-addon" id="INS1PLAN">Plan</span>
              <input type="text" ng-model="INS1PLAN" class="form-control" aria-describedby="INS1PLAN">
            </div>
          </div>
          <div class="col-md-6" ng-hide="hideInsuranceInfo">
            <div class="input-group">
              <span class="input-group-addon" id="INS1GROUP">Group</span>
              <input type="text" name="INS1GROUP" ng-model="INS1GROUP" class="form-control" aria-describedby="INS1GROUP">
            </div>
          </div>
          <div class="col-md-6" ng-hide="hideInsuranceInfo">
            <div class="input-group">
              <span class="input-group-addon" id="INS1AUTHCODE">Auth Code</span>
              <input type="text" name="INS1AUTHCODE" ng-model="INS1AUTHCODE" class="form-control" aria-describedby="INS1AUTHCODE">
            </div>
          </div>
          <div class="col-md-6"  ng-hide="hideInsuranceInfo">
            <div class="input-group">
              <span class="input-group-addon" id="INS1NOTES">Notes</span>
              <input type="text" name="INS1NOTES" ng-model="INS1NOTES" class="form-control" aria-describedby="INS1NOTES">
            </div>
          </div>
          <!-- <div class="col-md-6 col-md-offset-6" ng-show="!addInsurance">
            <button type="button" class="btn btn-primary" ng-click="addInsurance = true">Add Secondary Insurance</button>
          </div> -->
          <!-- <div class="input-field-group"> -->
            <div class="col-md-6">
              <input type="checkbox" ng-change="isSecondaryInsuranceChecked()" ng-model="secondaryInsuranceCheckbox" ng-click="addSecondaryInsurance=!addSecondaryInsurance"> Add Secondary Insurance
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <section ng-show="addSecondaryInsurance">
      <div class="create-section-title">
        <div class="container small">
          <div class="row">
            <div class="col-md-3">
              Secondary Insurance
            </div>
          </div>
        </div>
      </div>
      <div class="container small">
        <div class="row">
          <div class="input-field-group">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon" id="INS2CO">* Insurance Name</span>
                <select name="INS2CO" class="form-control"
                  ng-required="addSecondaryInsurance"
                  ng-change="hide2Info()"
                  ng-model="INS2CO"
                  ng-options="insurance.KEYID as insurance.NAME for insurance in insurances">
                <option value="">-Select One-</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="INS2ID">* Insurance ID</span>
              <input ng-required="INS2CO===1 ||INS2CO===7" type="text" name="INS2ID" ng-model="INS2ID" class="form-control" aria-describedby="INS2ID" maxlength="11">
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="field-error" ng-show="isDuplicate">Secondary Insurance cannot be same as Primary Insurance</div>
              <div class="field-error" ng-show="patientInsurance.INS2CO.$touched && patientInsurance.INS2CO.$invalid || patientInsurance.INS2CO.$invalid && patientInsurance.$submitted">Insurance name is required.</div>
            </div>
            <div class="col-md-6">
              <div class="field-error" ng-show="patientInsurance.INS2ID.$touched && patientInsurance.INS2ID.$invalid || patientInsurance.INS2ID.$invalid && patientInsurance.$submitted">Insurance id is required.</div>
            </div>
          </div>
          <div class="col-md-6" ng-hide="hideInsurance2Info">
            <div class="input-group">
              <span class="input-group-addon" id="INS2PLAN">Plan</span>
              <input type="text" name="INS2PLAN" ng-model="INS2PLAN" class="form-control" aria-describedby="INS2PLAN">
            </div>
          </div>
          <div class="col-md-6" ng-hide="hideInsurance2Info">
            <div class="input-group">
              <span class="input-group-addon" id="INS2GROUP">Group</span>
              <input type="text" name="INS2GROUP" ng-model="INS2GROUP" class="form-control" aria-describedby="INS2GROUP">
            </div>
          </div>
          <div class="col-md-6" ng-hide="hideInsurance2Info">
            <div class="input-group">
              <span class="input-group-addon" id="INS2AUTHCODE">Auth Code</span>
              <input type="text" name="INS2AUTHCODE" ng-model="INS2AUTHCODE" class="form-control" aria-describedby="INS2AUTHCODE">
            </div>
          </div>
          <div class="col-md-6" ng-hide="hideInsurance2Info">
            <div class="input-group">
              <span class="input-group-addon" id="INS2NOTES">Notes</span>
              <input type="text" name="INS2NOTES" ng-model="INS2NOTES" class="form-control" aria-describedby="INS2NOTES">
            </div>
          </div>
          <div class="col-md-6 col-md-offset-6" ng-show="addInsurance">
            <button type="button" class="btn btn-primary" ng-click="addInsurance = false">Remove Secondary Insurance</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container small">
    <div class="row">
      <hr>
      <div class="col-md-6">
        <div class="bottom-nav">
          <button type="button" class="btn btn-default" ng-click="nextForm(currentForm, 'Contact')">Back to Contact<i class="glyphicon glyphicon-arrow-left"></i></button>
          <button type="submit" class="btn btn-primary purple" ng-click="submitSection(patientInsurance, 'Referral');">Save Insurance<i class="glyphicon glyphicon-ok"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>
</form>

<!-- ********** REFERRAL ********** -->

<form name="patientReferral" novalidate>
  <section class="Referral" style="display:none;">
    <div class="create-section-title">
      <div class="container small">
        <div class="row">
          <div class="col-md-3">
            Referral Information
          </div>
        </div>
      </div>
    </div>
    <div class="container small">
      <div class="row">
        <div class="input-field-group">
          <div class="col-md-6">
            <div class="col-md-12 col-no-pad">
              <div class="input-group">
                <span class="input-group-addon" id="REFRECEIVED">* Received By</span>
                <select required name="REFRECEIVED" class="form-control"
                ng-model="REFRECEIVED"
                ng-options="employee.KEYID as employee.FNAME + ' ' + employee.LNAME + ', ' + employee.TITLE for employee in employees">
                <option value="">-Select One-</option>
              </select>
              <!-- <input type="text" class="form-control" aria-describedby="receievedBy"> -->
            </div>
          </div>
          <div class="col-md-12 col-no-pad">
            <div class="field-error" ng-show="patientReferral.REFRECEIVED.$touched && patientReferral.REFRECEIVED.$invalid || patientReferral.REFRECEIVED.$invalid && patientReferral.$submitted">Received By is required.</div>
          </div>
          <div class="col-md-12 col-no-pad">
            <div class="input-group">
              <span class="input-group-addon" id="REFERRSRC">* Ref Source</span>
              <select required name="REFERRSRC" class="form-control"
                ng-model="REFERRSRC"
                ng-options="referralSource.KEYID as referralSource.NAME for referralSource in referralSources">
                <option value="">-Select One-</option>
              </select>
              <!-- <input required type="text" name="REFERRSRC" ng-model="REFERRSRC" class="form-control" aria-describedby="REFERRSRC"> -->
            </div>
          </div>
          <div class="col-md-12 col-no-pad">
            <div class="field-error" ng-show="patientReferral.REFERRSRC.$touched && patientReferral.REFERRSRC.$invalid || patientReferral.REFERRSRC.$invalid && patientReferral.$submitted">Referral Source is required.</div>
          </div>
          <div class="col-md-12 col-no-pad">
            <div class="input-group">
              <span class="input-group-addon" id="REFERRDATE">* Date</span>
              <div class="input-group" style="margin:0">
                <input type="text"
                      required
                      class="form-control"
                      uib-datepicker-popup='MM-dd-yyyy'
                      datepicker-options="inlineOptions"
                      ng-model="REFERRDATE"
                      is-open="openedREFER"
                      show-button-bar="false"
                      ng-click="openedREFER=true"
                      placeholder="MM-DD-YYYY"
                      datepicker-append-to-body="true"
                      alt-input-formats="altInputFormats" />
                  <span class="input-group-btn" style="float:left">
                    <button type="button" class="btn btn-default" ng-click="openedREFER=true"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              <!-- <input required type="date" name="REFERRDATE" ng-model="REFERRDATE" class="form-control unstyled" aria-describedby="REFERRDATE" placeholder="YYYY-MM-DD"> -->
            </div>
          </div>
          <div class="col-md-12 col-no-pad">
            <div class="field-error" ng-show="patientReferral.REFERRDATE.$touched && patientReferral.REFERRDATE.$invalid || patientReferral.REFERRDATE.$invalid && patientReferral.$submitted">Referral Date is required.</div>
          </div>
          <!-- <div class="col-md-12 col-no-pad">
            <div class="input-group">
              <span class="input-group-addon" id="referralSourceInd">Ref. Sor. Ind.</span>
              <input type="text" class="form-control" aria-describedby="referralSourceInd">
            </div>
          </div> -->
          <div class="col-md-12 col-no-pad">
            <div class="input-group">
              <span class="input-group-addon" id="REFERRPHYSICIAN">* Ref MD</span>
              <select required name="REFERRPHYSICIAN" class="form-control"
              ng-model="REFERRPHYSICIAN"
              ng-options="doctor.KEYID as doctor.FNAME + ' ' + doctor.LNAME + ', MD' for doctor in doctors">
              <option value="">-Select One-</option>
            </select>
            <span style="line-height:34px" ng-click="addDoctor($event, addPhysician=true)"><u>Add Physician</u></span>

          </div>

        </div>
        <div class="col-md-12 col-no-pad">
          <div class="field-error" ng-show="patientReferral.REFERRPHYSICIAN.$touched && patientReferral.REFERRPHYSICIAN.$invalid || patientReferral.REFERRPHYSICIAN.$invalid && patientReferral.$submitted">Referral Physician is required.</div>
        </div>
        <div class="col-md-12 col-no-pad">
          <div class="input-group">
            <span class="input-group-addon" id="ADMITSRCE">* Admit Source</span>
            <select required class="form-control" type="number" name="ADMITSRCE" ng-model="ADMITSRCE" aria-describedby="ADMITSRCE">
              <option value="">-Select One-</option>
              <option value="1">Non-HC Facility (Home)</option>
              <option value="2">Xfr from Clinic/Office</option>
              <option value="4">Xfr from Hospital</option>
              <option value="5">Xfr from SNF</option>
              <option value="6">Xfr from Other Facility</option>
              <option value="8">Xfr from court/law facility</option>
              <option value="3">n/a (HMO ref)</option>
              <option value="7">n/a (emergency room)</option>
              <option value="9">n/a (info not available)</option>
              <option value="B">n/a (xfr another HHA)</option>
              <option value="C">n/a (Re-admimt same HHA)</option>
            </select>
          </div>
        </div>
        <div class="col-md-12 col-no-pad">
          <div class="field-error" ng-show="patientReferral.ADMITSRCE.$touched && patientReferral.ADMITSRCE.$invalid || patientReferral.ADMITSRCE.$invalid && patientReferral.$submitted">Admit Source is required.</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="care-type">
          <div class="careTitle">SN</div>
          <input type="checkbox" name="snTitle" ng-model="SERVICE_SN" ng-true-value="1">
        </div>
        <div class="care-type">
          <div class="careTitle">PT</div>
          <input type="checkbox" name="ptTitle" ng-model="SERVICE_PT" ng-true-value="1">
        </div>
        <div class="care-type">
          <div class="careTitle">OT</div>
          <input type="checkbox" name="otTitle" ng-model="SERVICE_OT" ng-true-value="1">
        </div>
        <div class="care-type">
          <div class="careTitle">ST</div>
          <input type="checkbox" name="stTitle" ng-model="SERVICE_ST" ng-true-value="1">
        </div>
        <div class="care-type">
          <div class="careTitle">MSW</div>
          <input type="checkbox" name="mswTitle" ng-model="SERVICE_MS" ng-value="1">
        </div>
        <div class="col-md-12 col-no-pad">
          <span class="text-area-addon" id="REFERRNOTES">Referral Notes</span>
          <textarea rows="6" class="form-control" name="REFERRNOTES" ng-model="REFERRNOTES" aria-describedby="REFERRNOTES"></textarea>
        </div>
      </div>
    </div>
    <hr>
    <div class="col-md-6">
      <div class="bottom-nav">
        <button type="button" class="btn btn-default" ng-click="nextForm(currentForm, 'Insurance')">Back to Insurance<i class="glyphicon glyphicon-arrow-left"></i></button>
        <button type="submit" class="btn btn-primary purple" ng-click="submitSection(patientReferral, 'Physician');">Save Referral<i class="glyphicon glyphicon-ok"></i></button>
      </div>
    </div>
  </div>
</div>
</section>
</form>

<!-- ********** PHYSICIAN ********** -->

<form name="patientPhysician" novalidate>
  <section class="Physician" style="display: none;">
    <div class="create-section-title">
      <div class="container small">
        <div class="row">
          <div class="col-md-3">
            Physician Information
          </div>
        </div>
      </div>
    </div>
    <div class="container small">
      <div class="row">
        <div class="input-field-group">
          <div class="col-md-12">
            <h4>Primary </h4>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="npi">* NPI</span>
              <!-- <input required type="text" name="npi" ng-model="npi" class="form-control" minlength="10" maxlength="10" aria-describedby="npi"> -->
              <md-autocomplete
                ng-disabled="!disableEditPhysician"
                class="form-control"
                md-selected-item="selectedDoctor"
                md-selected-item-change="selectedDoctorChange(selectedDoctor)"
                md-search-text-change="npiSearchTextChange()"
                md-search-text="npiSearchText"
                md-items="selectedDoctor in filteredDoctors"
                md-item-text="selectedDoctor.NPI + ' - ' + selectedDoctor.LNAME + ', ' + selectedDoctor.FNAME + (selectedDoctor.MINITIAL ? ' ' + selectedDoctor.MINITIAL + '.' : '') + ' MD'"
                placeholder="Search NPI, Name and City"
                md-menu-class="npi-autocomplete-template">
              <md-item-template>
                <span class="item-title">
                  <span> {{selectedDoctor.NPI}} </span>
                </span>
                <span class="item-metadata">
                  <span class="item-metastat">
                    <strong>{{selectedDoctor.FNAME}}</strong>
                  </span>
                  <span class="item-metastat">
                    <strong>{{selectedDoctor.LNAME}}</strong>
                  </span>
                  <span class="item-metastat">
                    <strong>{{selectedDoctor.CITY}}</strong>
                  </span>
                </span>
              </md-item-template>
              <md-not-found>
                <span class="item-title">
                  <span>Doctor not found</span>
                  <span><button type="submit" class="btn btn-primary purple" ng-click="addDoctor($event);">Add Doctor<i class="glyphicon glyphicon-ok"></i></button></span>
                </span>
              </md-not-found>
            </md-autocomplete>
          </div>
        </div>
        <!-- <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-addon" id="meetingType">* F2F / 485</span>
            <input required type="text" name="meetingType" ng-model="meetingType" class="form-control" aria-describedby="meetingType">
          </div>
        </div> -->
        <div class="col-md-6">
          <div class="care-type">
            <div class="careTitle">F2F</div>
            <input type="checkbox" name="F2F" ng-model="physicianF2F" ng-true-value="1" ng-disabled="disableEditPhysician">
          </div>
          <div class="care-type">
            <div class="careTitle">POC</div>
            <input type="checkbox" name="POC" ng-model="physicianPOC" ng-true-value="1" ng-disabled="disableEditPhysician">
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="field-error" ng-show="patientPhysician.npi.$invalid && (patientPhysician.npi.$error.minlength || patientPhysician.npi.$error.maxlength)">
              NPI must be 10 digits long.
            </div>
            <div class="field-error" ng-show="patientPhysician.npi.$touched && patientPhysician.npi.$invalid && !(patientPhysician.npi.$error.minlength || patientPhysician.npi.$error.maxlength) || patientPhysician.npi.$invalid && patientPhysician.$submitted">
              NPI is required.
            </div>
          </div>
          <div class="col-md-6">
            <div class="field-error" ng-show="patientPhysician.meetingType.$touched && patientPhysician.meetingType.$invalid || patientPhysician.meetingType.$invalid && patientPhysician.$submitted">F2F / 485 is required.</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-addon" id="DOCTORFNAME">* First Name</span>
            <!-- <select required name="DOCTOR" class="form-control"
            ng-model="DOCTOR"
            ng-options="doctor.LNAME for doctor in doctors">
            <option value="">-Select One-</option>
            </select> -->
          <input type="text" class="form-control" name="physicianFNAME" ng-model="physicianFNAME" aria-describedby="physicianFNAME" ng-disabled="disableEditPhysician">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="physicianAddress">Address</span>
          <input type="text" class="form-control" name="physicianAddress" aria-describedby="physicianAddress" ng-model="physicianAddress" placeholder="{{physicianAddress}}" ng-disabled="disableEditPhysician">
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="field-error" ng-show="physicianName.$touched && physicianName.$invalid || patientName.$invalid && patientPhysician.$submitted">Physican is required.</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="DOCTORLNAME">* Last Name</span>
          <input type="text" class="form-control" name="physicianLNAME" ng-model="physicianLNAME" aria-describedby="physicianLNAME" ng-disabled="disableEditPhysician">
        </div>
      </div>
      <!-- <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="physicianType">* Type</span>
          <select required class="form-control" name="physicianType" ng-model="physicianType" aria-describedby="physicianType">
            <option value="">-Select One-</option>
            <option value="RN">RN</option>
            <option value="LPN">LPN</option>
            <option value="HA">HA</option>
            <option value="PT">PT</option>
            <option value="MS">MS</option>
            <option value="OT">OT</option>
            <option value="ST">ST</option>
            <option value="RD">RD</option>
          </select>
        </div>
      </div> -->
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="DOCTORCITY">City</span>
          <input type="text" class="form-control" name="physicianCity" ng-model="physicianCity" aria-describedby="physicianCity" placeholder="{{physicianCity}}" ng-disabled="disableEditPhysician">
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="field-error" ng-show="patientPhysician.physicianType.$touched && patientPhysician.physicianType.$invalid || patientPhysician.physicianType.$invalid && patientPhysician.$submitted">Physican Type is required.</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="DOCTORMINITIAL">Middle Initial</span>
          <input type="text" class="form-control" name="physicianMINITIAL" ng-model="physicianMINITIAL" aria-describedby="physicianMINITIAL" ng-disabled="disableEditPhysician">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="DOCTORSTATE">State</span>
          <input type="text" class="form-control" name="physicianState" ng-model="physicianState" aria-describedby="physicianState" placeholder="{{physicianState}}" ng-disabled="disableEditPhysician">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="DOCTORPHONE">Phone</span>
          <input type="text" class="form-control" name="physicianPhone" ng-model="physicianPhone" aria-describedby="physicianPhone" placeholder="{{physicianPhone}}" ng-disabled="disableEditPhysician">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="DOCTORZIP">Zip</span>
          <input type="text" class="form-control" name="physicianZip" ng-model="physicianZip" aria-describedby="physicianZip" placeholder="{{physicianZip}}" ng-disabled="disableEditPhysician">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="DOCTORFAX">Fax</span>
          <input type="text" class="form-control" name="physicianFax" ng-model="physicianFax" aria-describedby="physicianFax"  placeholder="{{physicianFax}}" ng-disabled="disableEditPhysician">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="DOCTOREMAIL">Email</span>
          <input type="text" class="form-control" name="physicianEmail" ng-model="physicianEmail" aria-describedby="physicianEmail" placeholder="{{physicianEmail}}" ng-disabled="disableEditPhysician">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="DOCTORNOTES">Notes</span>
          <textarea rows="3" class="form-control" name="physicianNotes" ng-model="physicianNotes" aria-describedby="physicianNotes" placeholder="{{physicianNotes}}" ng-disabled="disableEditPhysician"></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <!-- <button type="button" class="btn btn-primary" ng-click="addPhysician()">Add Physician</button> -->
        <button type="button" ng-show="(physicianFNAME.length>0) && (editPhysicianBtn===false)" ng-init="editPhysicianBtn=false"class="btn btn-primary" ng-click="editPhysician();editPhysicianBtn=true">Edit Physician</button>
        <button type="button" ng-show="editPhysicianBtn" class="btn btn-success" ng-click="savePhysicianChanges();editPhysicianBtn=false">Save Changes</button>
        <button type="button" ng-show="editPhysicianBtn" class="btn btn-default" ng-click="editPhysician();editPhysicianBtn=false">Cancel Changes</button>

      </div>
    </div>
  </div>
</div>
<div class="container small" ng-repeat="physician in physicians">
  <hr>
  <div class="row">
    <div class="input-field-group">
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="npi">NPI</span>
          <input type="text" class="form-control" aria-describedby="npi">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="meetingType">F2F / 485</span>
          <input type="text" class="form-control" aria-describedby="meetingType">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="physicianName">Name</span>
          <input type="text" class="form-control" aria-describedby="physicianName">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="physicianAddress">Address</span>
          <input type="text" class="form-control" aria-describedby="physicianAddress">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="physicianType">Type</span>
          <input type="text" class="form-control" aria-describedby="physicianType">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="physicianCity">City</span>
          <input type="text" class="form-control" aria-describedby="physicianCity">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="physicianPhone">Phone</span>
          <input type="text" class="form-control" aria-describedby="physicianPhone">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="physicianState">State</span>
          <input type="text" class="form-control" aria-describedby="physicianState">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="physicianFax">Fax</span>
          <input type="text" class="form-control" aria-describedby="physicianFax">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="physicianZip">Zip</span>
          <input type="text" class="form-control" aria-describedby="physicianZip">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="physicianEmail">Email</span>
          <input type="text" class="form-control" aria-describedby="physicianEmail">
        </div>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-danger" ng-click="removePhysician($index)">Remove Physician</button>
      </div>
    </div>
  </div>
</div>
<div class="container-small">
  <hr>
  <div class="col-md-6">
    <div class="bottom-nav">
      <button type="button" class="btn btn-default" ng-click="nextForm(currentForm, 'Referral')">Back to Referral<i class="glyphicon glyphicon-arrow-left"></i></button>
      <button type="submit" class="btn btn-primary purple" ng-click="submitSection(patientPhysician, 'Diagnosis');">Save Physician<i class="glyphicon glyphicon-ok"></i></button>
    </div>
  </div>
</div>
</section>
</form>

<!-- ********** DIAGNOSIS ********** -->

<form name="patientDiagnosis" novalidate>
  <section class="Diagnosis" style="display: none;">
    <div class="create-section-title">
      <div class="container small">
        <div class="row">
          <div class="col-md-3">
            Diagnosis
          </div>
        </div>
      </div>
    </div>
    <div class="container small">
      <div class="row">
        <div class="input-field-group">
          <div class="col-md-6">
            <h4>Medical</h4>
          </div>
          <div class="col-md-6">
            <button ng-hide="addICDArray.length>4" style="float:right" class="btn btn-primary" ng-click="addICD()">Add More</button>
          </div>
          <div class="row">
            <div class=col-md-12>
              <div class="col-md-6">
                <div class="diagnosis">
                  <label for="ICD"></label>
                  <input type="text"
                          required
                          name="ICDCODE"
                          ng-model-options="{debounce : 1000}"
                          typeahead-on-select="findDIAGDESC('DIAGCODE', 'DIAGDESC')"
                          ng-model="DIAGCODE"
                          uib-typeahead="code.CODE as code.CODE + ' ' + code.DESCRIPTION for code in getICDCodes($viewValue)"
                          typeahead-loading="loadingICDCodes"
                          typeahead-no-results="noResults"
                          class="form-control"
                          placeholder="Search ICD Code" >
                  <i ng-show="loadingICDCodes" class="glyphicon glyphicon-refresh"></i>
                  <div ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                  </div>
                </div>
                <div class="field-error" ng-show="patientDiagnosis.ICDCODE.$touched && patientDiagnosis.ICDCODE.$invalid || patientDiagnosis.ICDCODE.$invalid && patientDiagnosis.$submitted">ICD Code is required.</div>
                <div class="diagnosis" style="margin-top:10px;width:60%">
                  <div class="input-group" >
                    <input type="text" style="width:100%"
                          required
                          placeholder="MM-DD-YYYY"
                          class="form-control"
                          uib-datepicker-popup='MM-dd-yyyy'
                          ng-model="DIAGONSET"
                          datepicker-options="inlineOptions"
                          is-open="openedDIAGONSET"
                          show-button-bar="false"
                          ng-click="openedDIAGONSET=true"
                          datepicker-append-to-body="true"
                          alt-input-formats="altInputFormats" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openedDIAGONSET=true"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="diagnosis">
                  <label for="ICD"></label>
                  <textarea rows="4" ng-model="DIAGDESC" placeholder="Description" class="form-control desc" tabindex="2" disabled ></textarea>
                </div>
              </div>
            </div>
          </div>

          <div ng-repeat="icd in addICDArray">
            <div class="row">
              <div class=col-md-12>
                <div class="col-md-6">
                  <div class="diagnosis">
                    <label for="ICD"></label>
                    <input type="text" tabindex="4"
                            ng-model-options="{debounce : 1000}"
                            typeahead-on-select="updateICD(icd)"
                            ng-model="ICDCODES[icd.code]"
                            uib-typeahead="code.CODE as code.CODE+code.DESCRIPTION for code in getICDCodes($viewValue)"
                            typeahead-loading="loadingICD"
                            typeahead-no-results="noResults"
                            class="form-control"
                            placeholder="Search ICD Code" >
                    <i ng-show="loadingICD" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResults">
                      <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                  </div>
                  <div class="diagnosis" style=margin-top:10px>
                    <div class="input-group">
                      <input type="text" tabindex="5"
                            placeholder="MM-DD-YYYY"
                            name="ICDDATE2"
                            class="form-control"
                            uib-datepicker-popup='MM-dd-yyyy'
                            ng-model="ICDCODES[icd.date]"
                            is-open="icd.openDate"
                            show-button-bar="false"
                            ng-click="icd.openDate=true"
                            datepicker-append-to-body="false"
                            alt-input-formats="altInputFormats" />
                      <span class="input-group-btn" >
                        <button type="button" class="btn btn-default" ng-click="icd.openDate=true"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="diagnosis">
                    <label for="ICD"></label>
                    <textarea rows="4" tabindex="6" ng-model="ICDCODES[icd.desc]" placeholder="Description" class="form-control desc" ></textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-12">
                  <button style="float:right" class="btn btn-primary" ng-click="deleteICD(icd)">Delete</button>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class=col-md-12>
              <div class="col-md-6">
                <div class="diagnosis">
                  <label for="ICD"></label>
                  <input type="text"
                          required
                          name="ICDCODE3"
                          ng-model-options="{debounce : 1000}"
                          typeahead-on-select="findDIAGDESC('DIAGCODE3', 'DIAGDESC3')"
                          ng-model="DIAGCODE3"
                          uib-typeahead="code.CODE as code.CODE + ' ' + code.DESCRIPTION for code in getICDCodes($viewValue)"
                          typeahead-loading="loadingICDCodes3"
                          typeahead-no-results="noResults3"
                          class="form-control"
                          placeholder="Search ICD Code" >
                  <i ng-show="loadingICDCodes3" class="glyphicon glyphicon-refresh"></i>
                  <div ng-show="noResults3">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                  </div>
                </div>
                <div class="field-error" ng-show="patientDiagnosis.ICDCODE3.$touched && patientDiagnosis.ICDCODE3.$invalid || patientDiagnosis.ICDCODE3.$invalid && patientDiagnosis.$submitted">ICD Code is required.</div>
                <div class="diagnosis" style="margin-top:10px;width:60%">
                  <div class="input-group" >
                    <input type="text" style="width:100%"
                          required
                          placeholder="MM-DD-YYYY"
                          class="form-control"
                          uib-datepicker-popup='MM-dd-yyyy'
                          ng-model="DIAGONSET3"
                          datepicker-options="inlineOptions"
                          is-open="openedDIAGONSET3"
                          show-button-bar="false"
                          ng-click="openedDIAGONSET3=true"
                          datepicker-append-to-body="true"
                          alt-input-formats="altInputFormats" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openedDIAGONSET3=true"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="diagnosis">
                  <label for="ICD"></label>
                  <textarea rows="4" ng-model="DIAGDESC3" placeholder="Description" class="form-control desc" tabindex="2" disabled ></textarea>
                </div>
              </div>
            </div>
          </div> -->
          <hr>
          <div class="col-md-6">
            <div class="bottom-nav"  style="margin-bottom:300px">
              <button type="button" class="btn btn-default" ng-click="nextForm(currentForm, 'Physician')">Back to Physician<i class="glyphicon glyphicon-arrow-left"></i></button>
              <button type="submit" class="btn btn-primary purple" ng-click="submitSection(patientDiagnosis, 'History');">Save Diagnosis<i class="glyphicon glyphicon-ok"></i></button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>

  <!-- ********** HOSTORY ********** -->

  <form name="patientHistory" novalidate>
    <section class="History" style="display: none;">
      <div class="create-section-title">
        <div class="container small">
          <div class="row">
            <div class="col-md-3">
              Patient History
            </div>
          </div>
        </div>
      </div>
      <div class="container small">
        <div class="row">
          <div class="input-field-group">
            <div class="col-md-12">
              <textarea class="form-control" rows="10" type="text" ng-model="HISTORY" placeholder="Enter patient history"></textarea>
            </div>
          </div>
          <hr>
          <div class="col-md-6">
            <div class="bottom-nav">
              <button type="button" class="btn btn-default" ng-click="nextForm(currentForm, 'Diagnosis')">Back to Diagnosis<i class="glyphicon glyphicon-arrow-left"></i></button>
              <button type="button" class="btn btn-primary purple" ng-click="submitSection(patientHistory, 'Other');">Save History<i class="glyphicon glyphicon-ok"></i></button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>

  <!-- ********** OTHER ********** -->

  <form name="patientOther" novalidate>
    <section class="Other" style="display: none;">
      <div class="create-section-title">
        <div class="container small">
          <div class="row">
            <div class="col-md-3">
              Other
            </div>
          </div>
        </div>
      </div>
      <div class="container small">
        <div class="row">
          <div class="input-field-group">
            <div class="col-md-12">
              <textarea class="form-control" rows="10" type="text" ng-model="ALLERGIES" placeholder="Enter patient allergies"></textarea>
            </div>
          </div>
          <hr>
          <div class="col-md-6">
            <div class="bottom-nav">
              <button type="button" class="btn btn-default" ng-click="nextForm(currentForm, 'History')">Back to History<i class="glyphicon glyphicon-arrow-left"></i></button>
              <button type="button" class="btn btn-primary purple" ng-click="submitSection(patientOther, 'Other');">Save Other<i class="glyphicon glyphicon-ok"></i></button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
<div class="form-nav">
  <div class="nav-title">
    <span class="icon-person_add icon-size-3"></span>
    <div class="create-title">
      Add Patient
    </div>
  </div>
  <div class="form-section" ng-class="{ 'active' : activeForm('Demographic')}" id="Demographic" ng-click="nextForm(currentForm, 'Demographic');">Demographic<i class="glyphicon glyphicon-ok-circle"></i></div>
  <div class="form-section" ng-class="{ 'active' : activeForm('Contact')}" id= "Contact" ng-click="nextForm(currentForm, 'Contact')">Contact<i class="glyphicon glyphicon-ok-circle"></i></div>
  <div class="form-section" ng-class="{ 'active' : activeForm('Insurance')}" id="Insurance" ng-click="nextForm(currentForm, 'Insurance');">Insurance<i class="glyphicon glyphicon-ok-circle"></i></div>
  <div class="form-section" ng-class="{ 'active' : activeForm('Referral')}" id="Referral" ng-click="nextForm(currentForm, 'Referral');">Referral<i class="glyphicon glyphicon-ok-circle"></i></div>
  <div class="form-section" ng-class="{ 'active' : activeForm('Physician')}" id="Physician" ng-click="nextForm(currentForm, 'Physician');">Physician<i class="glyphicon glyphicon-ok-circle"></i></div>
  <div class="form-section" ng-class="{ 'active' : activeForm('Diagnosis')}" id="Diagnosis" ng-click="nextForm(currentForm, 'Diagnosis');">Diagnosis<i class="glyphicon glyphicon-ok-circle"></i></div>
  <div class="form-section" ng-class="{ 'active' : activeForm('History')}" id="History" ng-click="nextForm(currentForm, 'History');">History<i class="glyphicon glyphicon-ok-circle"></i></div>
  <div class="form-section" ng-class="{ 'active' : activeForm('Other')}" id="Other" ng-click="nextForm(currentForm, 'Other');">Other<i class="glyphicon glyphicon-ok-circle"></i></div>
  <div class="return">
    <a ui-sref="patientSearch"><button type="button" class="btn btn-default">Back To Patients List<i class="glyphicon glyphicon-arrow-left"></i></button></a>
  </div>
  <div class="save">
    <a ui-sref="patientDashboard({complete:true})"><button type="button" class="btn btn-success" ng-if="DemographicComplete === true && ContactComplete === true && InsuranceComplete === true && ReferralComplete === true && PhysicianComplete === true && DiagnosisComplete === true && HistoryComplete === true && OtherComplete === true" ng-click="close()">Finished</button></a>
    <!-- <a ui-sref="patientDashboard({complete:true})"><button type="button" class="btn btn-success"  ng-click="savePatient()">Save</button></a> -->
  </div>
</div>
