<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#ABN-ES" patientnavopen='true'></header-nav>
</div>

<div id="ABN-ES">
  <div class="head-bar">
      <a ui-sref="records"><i class="fa fa-arrow-left"></i></a>
      <div class="pull-left">Notificación previa de NO-cobertura al beneficiario (ABN)</div>
      <!-- <button type="submit" class="btn btn-primary" ng-click="save(ABN)">Submit</button> -->
      <ul class="language" uib-dropdown>
        <li uib-dropdown-toggle>ES <span class="fa fa-angle-down"></span></li>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
          <li role="menuitem"><a ui-sref="ABN">EN</a></li>
        </ul>
      </ul>
  </div>

  <form name="ABN" novalidate id="ABN">
    <button type="submit" class="btn btn-primary" ng-click="save(ABN)">Submit</button>
    <div class="col-md-12">
      <!-- <div class="field-error" ng-show="ABN.D.$touched && ABN.D.$invalid || ABN.D.$invalid && ABN.$submitted">Please fill in D.</div> -->
      <div class="form-inline note"><strong>NOTA:</strong> Si Medicare no paga D.<span class="field-error" ng-show="ABN.D.$touched && ABN.D.$invalid || ABN.D.$invalid && ABN.$submitted">Please fill in D.</span>
        <input required ng-model="D" type="text" name="D" class="form-control">
        <span class="question"><i class="fa fa-question-circle"></i>
          <span class="info_box">List the general description of what you believe Medicare may not cover on the blank line. Examples of descriptors include:
            Item(s)/Service(s); Laboratory test; Test; Procedure; Care; or Equipment.
          </span>
        </span>
        a continuación, usted deberá pagar. Medicare no paga todo, incluso ciertos servicios que, según usted o su médico, están justificados.
        Prevemos que Medicare no pagará D.
        <span class="field-error" ng-show="ABN.D.$touched && ABN.D.$invalid || ABN.D.$invalid && ABN.$submitted">Please fill in D.</span>
        <input required ng-model="D" type="text" name="D" class="form-control">
        <span class="question"><i class="fa fa-question-circle"></i>
          <span class="info_box">Insert the wording used in the first D. field.</span>
        </span> a continuación.
      </div>
      <table class="formtable">
        <tr class="header">
          <td>
            <div class="field-error" ng-show="ABN.D_description.$touched && ABN.D_description.$invalid || ABN.D_description.$invalid && ABN.$submitted">Provide description.</div>
            D.
            <span class="question"><i class="fa fa-question-circle"></i>
            <span class="info_box">List the specific items and services you believe are not covered using language the beneficiary understands.<br>
              For upgrades, list the excess component(s) for which you expect a denial.<br>
              For repetitive or continuous noncovered care, specify the frequency and/or duration.</br>
              For reduction in service, provide information so the beneficiary understands the nature of the reduction.</span></span>
            </td>
          <td>
            <div class="field-error" ng-show="ABN.E_reason.$touched && ABN.E_reason.$invalid || ABN.E_reason.$invalid && ABN.$submitted">Provide reason Medicare may not pay.</div>
            E. Razón por la que no está cubierto por Medicare:
            <span class="question"><i class="fa fa-question-circle"></i>
              <span class="info_box">Explain in beneficiary-friendly language why you believe Medicare may not cover each item or service. Commonly used reasons for noncoverage are:
                <li>Medicare does not pay for this test for your condition;</li>
                <li>Medicare does not pay for the test at this frequency (denied as too frequent); and</li>
                <li>Medicare does not pay for experimental or research-use tests.</li>
              </span>
            </span>
          </td>
          <td>
            <div class="field-error" ng-show="ABN.F_cost.$touched && ABN.F_cost.$invalid || ABN.F_cost.$invalid && ABN.$submitted">Provide estimated cost.</div>
            F. Costo estimado
            <span class="question"><i class="fa fa-question-circle"></i>
              <span class="info_box">You must make a good faith effort to insert a
                reasonable estimate for all the items or services listed under Column D. In general, Medicare expects the estimate to fall within $100 or 25 percent of the
                actual costs, whichever is greater. An example of an acceptable estimate is:</br>
                For a service that costs $250:
                <li>$150–$300; or</li>
                <li>No more than $500.</li>
                You can bundle routinely grouped multiple items or services into a single-cost estimate.
              </span>
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <textarea required ng-model="D_description" name="D_description" rows="5"></textarea>
          </td>
          <td>
            <textarea required ng-model="E_reason" name="E_reason" rows="5"></textarea>
          </td>
          <td>
            <textarea required ng-model="F_cost" name="F_cost" rows="5"></textarea>
          </td>
        </tr>
      </table>
      <div class="note"><strong>Lo que usted necesita hacer ahora:</strong></div>
      <ul class="note">
        <li>Lea la presente notificación, de manera que pueda tomar una decisión fundamentada sobre la atención que recibe.</li>
        <li>Háganos toda pregunta que pueda tener después de que termine de leer.</li>
        <li class="form-inline">Escoja una opción a continuación sobre si desea recibir D.
          <span class="field-error" ng-show="ABN.D.$touched && ABN.D.$invalid || ABN.D.$invalid && ABN.$submitted">Please fill in D.</span>
          <input required ng-model="D" type="text" name="D" class="form-control">
          <span class="question"><i class="fa fa-question-circle"></i>
            <span class="info_box">Insert the wording used in the first D. field.</span>
          </span> mencionado anteriormente.
        </li>
        <li><strong>Nota: </strong>
          Si escoge la opción 1 ó 2, podemos ayudarlo a usar cualquier otro seguro que tal vez tenga, pero
          Medicare no puede exigirnos que lo hagamos.
        </li>
      </ul>
      <table class="formtable">
        <tr class="header">
          <td>
            <div class="field-error" ng-show="ABN.taco.$touched && ABN.taco.$invalid || ABN.taco.$invalid && ABN.$submitted">Select one option.</div>
            G. OPCIONES: Sírvase marcar un recuadro solamente. No podemos escoger un recuadro por usted.
          </td>
        </tr>
        <tr class="description">
          <td>
            <label><input required ng-model="G_option" name="taco" type="radio" value="1"> OPCIÓN 1. </label>
            <span class="question"><i class="fa fa-question-circle"></i>
              <span class="info_box">The beneficiary wants to get the items or services listed and accepts financial responsibility if Medicare does not pay.
                He or she agrees to pay now, if required.
              </span>
            </span>
            <span class="form-inline">Quiero D.
              <input required ng-model="D" type="text" name="D" class="form-control" ng-class="{ 'active' : G_option==='1'}">
              <span class="question"><i class="fa fa-question-circle"></i>
                <span class="info_box">Insert the wording used in the first D. field.</span>
              </span>
              mencionado anteriormente. Puede cobrarme ahora, pero también deseo que se cobre a Medicare a fin
              de que se expida una decisión oficial sobre el pago, la cual se me enviará en el Resumen de Medicare
              (MSN). Entiendo que si Medicare no paga, soy responsable por el pago, pero <strong>puedo apelar a Medicare</strong>
              según las instrucciones en el MSN. Si Medicare paga, se me reembolsarán los pagos que he realizado,
              menos los copagos o deducibles.
            </span>
          </td>
        </tr>
        <tr class="description">
          <td>
            <label><input required ng-model="G_option" name="taco" type="radio" value="2"> OPCIÓN 2. </label>
            <span class="question"><i class="fa fa-question-circle"></i>
              <span class="info_box">The beneficiary wants to get the item or services listed and accepts financial
                responsibility. He or she agrees to pay now, if required. When the beneficiary chooses this option,
                you do not file a claim, and there are no appeal rights.
              </span>
            </span>
            <span class="form-inline">Quiero D.
              <input required ng-model="D" type="text" name="D" class="form-control" ng-class="{ 'active' : G_option==='2'}">
              <span class="question"><i class="fa fa-question-circle"></i>
                <span class="info_box">Insert the wording used in the first D. field.</span>
              </span>
              mencionado anteriormente, pero que no se cobre a Medicare. Puede solicitar que se le pague ahora
              dado que soy responsable por el pago. <strong>No tengo derecho a apelar si no se le cobra a Medicare.</strong>

            </span>
          </td>
        </tr>
        <tr class="description">
          <td>
            <label><input required ng-model="G_option" name="taco" type="radio" value="3"> OPCIÓN 3. </label>
            <span class="question"><i class="fa fa-question-circle"></i>
              <span class="info_box">The beneficiary does not want the care in question and cannot be charged for any items
                or services listed. You do not file a claim, and there are no appeal rights.
              </span>
            </span>
            <span class="form-inline">No quiero D.
              <input required ng-model="D" type="text" name="D" class="form-control" ng-class="{ 'active' : G_option==='3'}">
              <span class="question"><i class="fa fa-question-circle"></i>
                <span class="info_box">Insert the wording used in the first D. field.</span>
              </span>
              mencionado anteriormente. Entiendo que con esta opción no soy responsable por el pago y
              <strong>no puedo apelar para determinar si pagaría Medicare.</strong>
            </span>
          </td>
        </tr>
      </table>
      <div class="note"><strong>H. Información adicional:</strong>
        <span class="question"><i class="fa fa-question-circle"></i>
          <span class="info_box">You may use this space to provide more clarification or information that may be
            useful to the beneficiary.
          </span>
        </span>
      </div>
      <textarea ng-model="H_info" rows="5"></textarea>
      <div class="note"><strong>En esta notificación se da a conocer nuestra opinión, no la de Medicare.</strong>
        Si tiene otras preguntas sobre la presente notificación o el cobro a Medicare, llame al 1-800-MEDICARE
        (1-800-633-4227/TTY: 1-877-486-2048). Al firmar abajo usted indica que ha recibido y comprende la
        presente notificación. También se le entrega una copia.
      </div>
      <table class="formtable">
        <tr class="signature">
          <td>
            <div class="field-error" ng-show="ABN.I_signature.$touched && ABN.I_signature.$invalid || ABN.I_signature.$invalid && ABN.$submitted">Signature is required.</div>
            <strong>I. Firma: </strong>
            <span class="question"><i class="fa fa-question-circle"></i>
              <span class="info_box">The beneficiary, or the beneficiary’s representative, signs the ABN to indicate he or she received the ABN and
                understands its contents. If a representative signs, he or she should write out “representative” after his or her signature and
                print the name if it is not legible.
              </span>
            </span>
            <input required ng-model="I_signature" name="I_signature" type="text">
          </td>
          <td>
            <div class="field-error" ng-show="ABN.I_signature.$touched && ABN.I_signature.$invalid || ABN.I_signature.$invalid && ABN.$submitted">Date is required.</div>
            <strong>J. Fecha: </strong>
            <span class="question"><i class="fa fa-question-circle"></i>
              <span class="info_box">The beneficiary, or the beneficiary’s representative, writes the date he or she signed the ABN. If the
                beneficiary has difficulty writing and requests assistance in completing this box, you may insert the date.
              </span>
            </span>
            <input required ng-model="J_date" name="J_date" type="date">
          </td>
        </tr>
      </table>
      <div class="footer">
        De conformidad con la Ley de reducción de los trámites burocráticos de 1995, nadie estará obligado
        a responder en todo pedido para recabar información a menos que se identifique con un número de control
        OMB válido. El número de control OMB válido para esta recolección de información es 0938-0566. El tiempo
        necesario para completar esta solicitud de información se calcula, en promedio, 7 minutos por respuesta,
        incluido el tiempo para revisar las instrucciones, buscar en fuentes de datos existentes, recabar los datos
        necesarios y llenar y revisar los datos recogidos. Si tiene comentarios sobre la precisión del cálculo del
        tiempo o sugerencias para mejorar el presente formulario, sírvase escribir a: CMS, 7500 Security Boulevard,
        Attn: PRA Reports Clearance Officer, Baltimore, Maryland 21244-1850.
      </div>
    </div>
  </form>
</div>



<div class="right-menu">
  <expanded-nav></expanded-nav>
</div>
