<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#employee-profile" empnavopen='true'></header-nav>
</div>

<div id="employee-profile">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>Employee Profile</h3>
      </div>
      <ul>
        <li class="action-btn" ng-hide="editModeBtn" ng-click="printSection('print_section')">Print</li>
        <li class="action-btn" ng-hide="editModeBtn" ng-click="editMode()">Edit</li>
        <li class="action-btn" ng-show="editModeBtn" ng-click="saveEmployeeEdits()">Save Changes</li>
        <li class="action-btn" ng-show="editModeBtn" ng-click="cancel()">Canel</li>
        <!-- <li class="action-btn"><a href="#" ng-click="">Edit</a></li>
        <li class="action-btn"><a href="#" ng-click="">Save</a></li>
        <li class="action-btn"><a href="#" ng-click="">Cancel</a></li> -->
        <!-- <demographic ng-show="editDemographic"></demographic> -->
      </ul>
    </div>
  </div>
<div id="print_section">
  <div class="profile-header">
    <div class="col-md-6">
      <div class="row" style="text-align:centergu">
        <span class="col-md-3 fa fa-user fa-4x circle-icon"></span>
        <div class="col-md-3 info">
          <h3>{{employee.FNAME}} {{employee.LNAME}}</h3>
          <h6>Employee ID: {{employee.EMPLOYEEID}}</h6>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="metric-box full-padding">
            <h5 style="margin:0 0 5px 0"><b>EMPLOYEE INFORMATION</b></h5>
            <div style="font-size:12px">
              <b>Title: </b>{{employee.TITLE || 'N/A'}} </br>
              <b>Discipline: </b>{{employee.DISCIPLINE || 'N/A'}} </br>
              <b>Status: </b>{{empStatus || 'N/A'}} </br>
              <b>Contractor: </b>{{empContractor || 'N/A'}} </br>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="metric-box full-padding">
            <h5 style="margin:0 0 5px 0"><b>CONTACT INFORMATION</b></h5>
            <div style="font-size:12px">
              <b>Phone: </b>{{(employee.PHONE | tel) || 'N/A'}} </br>
              <b>Cell: </b>{{(employee.CELL | tel) || 'N/A'}}</br>
              <b>Fax: </b>{{(employee.FAX | tel) || 'N/A'}}</br>
              <b>Email: </b>{{employee.EMAIL || 'N/A'}} </br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row flex">
      <div class="col-md-12 col-sm-12">
        <span class="col-md-3 fa fa-user fa-4x circle-icon"></span>
        <div class="col-md-3 info">
          <h3>{{employee.FNAME}} {{employee.LNAME}}</h3>
          <h6>Employee ID: {{employee.EMPLOYEEID}}</h6>
        </div>
        <div class="col-md-3">
          <div class="metric-box full-padding">
            <h5 style="margin:0 0 5px 0"><b>EMPLOYEE INFORMATION</b></h5>
            <div style="font-size:12px">
              <b>Title: </b>{{employee.TITLE}} </br>
              <b>Discipline: </b>{{employee.DISCIPLINE}} </br>
              <b>Status: </b>{{empStatus}} </br>
              <b>Contractor: </b>{{empContractor}} </br>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="metric-box full-padding">
            <h5 style="margin:0 0 5px 0"><b>CONTACT INFORMATION</b></h5>
            <div style="font-size:12px">
              <b>Phone: </b>{{employee.PHONE}} </br>
              <b>Cell: </b>{{employee.CELL}}</br>
              <b>Fax: </b>{{employee.FAX}}</br>
              <b>Email: </b>{{employee.EMAIL}} </br>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="form-background">
    <div class="row">
      <form name="editEmployee" novalidate>
        <div class="small">
          <div class="row">
            <div class="col-md-6">
              <div class="input-field-group">
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon" id="LOGINNAME">* Login</span>
                    <input required type="text" name="LOGINNAME" ng-init="LOGINNAME=employee.LOGINNAME" ng-model="LOGINNAME" class="form-control" tabindex="1" aria-describedby="LOGINNAME" ng-disabled="notEditable">
                  </div>
                  <div ng-show="newEmployee.LOGINNAME.$invalid && submitClicked" class="field-error">Enter a valid login name.</div>
                </div>
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon" id="PASSWORD">* Password</span>
                    <input required type="password" name="PASSWORD" ng-init="PASSWORD=employee.PASSWORD" ng-model="PASSWORD" class="form-control" tabindex="2" aria-describedby="PASSWORD" ng-disabled="notEditable">
                  </div>
                  <div ng-show="newEmployee.PASSWORD.$invalid && submitClicked" class="field-error">Enter a valid password.</div>
                </div>
              </div>
              <div class="input-field-group">
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon" id="FNAME">* First Name</span>
                    <input required type="text" name="FNAME" ng-init="FNAME=employee.FNAME" ng-model="FNAME" class="form-control" tabindex="3" aria-describedby="FNAME" ng-disabled="notEditable">
                  </div>
                  <div ng-show="newEmployee.FNAME.$invalid && submitClicked" class="field-error">Enter a valid first name.</div>
                </div>
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon" id="LNAME">* Last Name</span>
                    <input required type="text" name="LNAME" ng-init="LNAME=employee.LNAME" ng-model="LNAME" class="form-control" tabindex="4" aria-describedby="LNAME" ng-disabled="notEditable">
                  </div>
                  <div ng-show="newEmployee.LNAME.$invalid && submitClicked" class="field-error">Enter a valid last name.</div>
                </div>
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon" id="EMAIL">Email</span>
                    <input type="text" name="EMAIL" ng-init="EMAIL=employee.EMAIL" ng-model="EMAIL" class="form-control" tabindex="5" aria-describedby="EMAIL" ng-disabled="notEditable">
                  </div>
                  <div ng-show="newEmployee.EMAIL.$invalid && submitClicked" class="field-error">Enter a valid email.</div>
                </div>
              </div>
              <div class="input-field-group">
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon" id="ADDRESS">* Address</span>
                    <input required type="text" name="ADDRESS" ng-init="ADDRESS=employee.ADDRESS" ng-model="ADDRESS" class="form-control" tabindex="6" aria-describedby="ADDRESS" ng-disabled="notEditable">
                  </div>
                  <div ng-show="newEmployee.ADDRESS.$invalid && submitClicked" class="field-error">Enter a valid address.</div>
                </div>
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon" id="CITY">* City</span>
                    <input required type="text" name="CITY" ng-init="CITY=employee.CITY" ng-model="CITY" class="form-control" tabindex="7" aria-describedby="CITY" ng-disabled="notEditable">
                  </div>
                  <div ng-show="newEmployee.CITY.$invalid && submitClicked" class="field-error">Enter a valid city.</div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="STATE">* State</span>
                    <select required name="STATE" ng-init="STATE=employee.STATE" ng-model="STATE" ng-disabled="notEditable" tabindex="8" class="form-control" aria-describedby="STATE">
                      <option value="">-Select One-</option>
                      <option value="NV">NV</option>
                      <option value="TX">TX</option>
                    </select>
                    <!-- <input required type="text" name="STATE" ng-init="STATE=employee.STATE" ng-model="STATE" class="form-control" tabindex="1" aria-describedby="STATE" ng-disabled="notEditable"> -->
                  </div>
                  <div ng-show="newEmployee.STATE.$invalid && submitClicked" class="field-error">Enter a valid state.</div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="ZIP">* Zip</span>
                    <input required type="text" name="ZIP" ng-init="ZIP=employee.ZIP" ng-model="ZIP" ui-mask="99999" tabindex="9" ui-mask-placeholder ui-mask-placeholder-char="_" class="form-control" tabindex="1" aria-describedby="ZIP" ng-disabled="notEditable">
                  </div>
                  <div ng-show="newEmployee.ZIP.$invalid && submitClicked" class="field-error">Enter a valid zip.</div>
                </div>
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon" id="PHONE">* Phone</span>
                    <input required type="text" name="PHONE" ng-init="PHONE=employee.PHONE" ng-model="PHONE" ui-mask="(999) 999-9999" tabindex="10" ui-mask-placeholder ui-mask-placeholder-char="_" class="form-control" tabindex="1" aria-describedby="PHONE" ng-disabled="notEditable">
                  </div>
                  <div ng-show="newEmployee.PHONE.$invalid && submitClicked" class="field-error">Enter a valid phone.</div>
                </div>
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon" id="CELL">Cell</span>
                    <input type="text" name="CELL" ng-init="CELL=employee.CELL" ng-model="CELL" ui-mask="(999) 999-9999" tabindex="11" ui-mask-placeholder ui-mask-placeholder-char="_" class="form-control" tabindex="1" aria-describedby="CELL" ng-disabled="notEditable">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon" id="FAX">Fax</span>
                    <input type="text" name="FAX" ng-init="FAX=employee.FAX" ng-model="FAX" ui-mask="(999) 999-9999" tabindex="12"  ui-mask-placeholder ui-mask-placeholder-char="_" class="form-control" tabindex="1" aria-describedby="FAX" ng-disabled="notEditable">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="STATUS">* Status</span>
                    <select required type="text" name="STATUS" ng-init="STATUS=employee.STATUS" ng-model="STATUS" class="form-control" tabindex="13" aria-describedby="STATUS" ng-disabled="notEditable">
                      <option value="A">Active</option>
                      <option value="I">Inactive</option>
                    </select>
                  </div>
                  <div ng-show="newEmployee.STATUS.$invalid && submitClicked" class="field-error">Enter a valid status.</div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="CONTRACTOR">* Contractor</span>
                    <select required type="text" ng-init="CONTRACTOR=employee.CONTRACTOR.toString()"  name="CONTRACTOR" ng-model="CONTRACTOR" class="form-control" tabindex="14" aria-describedby="CONTRACTOR" ng-disabled="notEditable">
                      <option value="1">Yes</option>
                      <option value="0">No</option>
                    </select>
                  </div>
                  <div ng-show="newEmployee.CONTRACTOR.$invalid && submitClicked" class="field-error">Enter a valid contractor.</div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="TITLE">* Title</span>
                    <select required type="text" name="TITLE" ng-model="TITLE" class="form-control" tabindex="15" aria-describedby="TITLE" ng-disabled="notEditable">
                      <option value="">{{employee.TITLE}}</option>
                      <option value="OFFICE">Office</option>
                      <option value="RN">RN</option>
                      <option value="CNA">CNA</option>
                      <option value="PT">PT</option>
                      <option value="PTA">PTA</option>
                      <option value="OT">OT</option>
                      <option value="OTA">OTA</option>
                      <option value="ST">ST</option>
                      <option value="MSW">MSW</option>
                      <option value="RD">RD</option>
                    </select>
                  </div>
                  <div ng-show="newEmployee.TITLE.$invalid && submitClicked" class="field-error">Enter a valid title.</div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="DISCIPLINE">* Discipline</span>
                    <select required type="text" name="DISCIPLINE" ng-model="DISCIPLINE" class="form-control" tabindex="16" aria-describedby="DISCIPLINE" ng-disabled="notEditable">
                      <option value="">{{employee.DISCIPLINE}}</option>
                      <option value="SN">SN</option>
                      <option value="HA">HA</option>
                      <option value="PT">PT</option>
                      <option value="OT">OT</option>
                      <option value="ST">ST</option>
                      <option value="MSW">MSW</option>
                      <option value="OTHER">OTHER</option>
                    </select>
                  </div>
                  <div ng-show="newEmployee.DISCIPLINE.$invalid && submitClicked" class="field-error">Enter a valid discipline.</div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-group">
                  <span class="input-group-addon" id="GROUPKEYID">* Group</span>
                    <select required name="GROUPKEYID" class="form-control" tabindex="17"
                            ng-init="GROUPKEYID=employee.GROUPKEYID"
                            ng-disabled="notEditable"
                            ng-model="GROUPKEYID"
                            ng-options="userGroup.KEYID as userGroup.DESCRIPTION for userGroup in userGroups">
                            <option value="">-Select One-</option>
                    </select>
                  </div>
                </div>
                <!-- <div ng-show="newEmployee.GROUPKEYID.$invalid && submitClicked" class="field-error">Enter a valid group.</div>
                <a href="#" ng-click="viewGroups()" class="pull-right">Add/View Groups</a> -->
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>

<div class="employee-right-menu">
  <employee-expanded-nav></employee-expanded-nav>
</div>
