#employee-profile {
  // margin-left:60px;
  position: relative;
  background: #FFF;
  padding-top: 60px;
  .head-bar {
    height: 60px;
    padding: 0 0 0 15px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .col-md-12 {
      padding-left: 0;
      padding-right: 20px;
      height: 60px;
    }
    a {
      text-decoration: none;
      color: #FFF;
    }
  }
  ul {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    float: right;
    .action-btn {
      background-color: #795E9F;
      border-radius: 4px;
      color: white;
      float: left;
      padding: 10px 18px;
      margin-left:10px;
      cursor: pointer;
    }
  }
  .title {
    float: left;
    span {
      line-height: 60px;
      margin: 0 20px;
      float: left;
    }
    h3 {
      line-height: 60px;
      margin: 0;
      float: left;
    }
  }
  // .form-background {
  //   padding: 20px 40px;
  //   background-color: #F5F5F5;
  //   p {
  //     font-size: 12px;
  //     margin: 0 0 30px;
  //   }
  // }
  .profile-header {
    background: #F5F5F5;
    padding: 20px;
    // height: 140px;
    .circle-icon {
      background: #FFF;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      text-align: center;
      line-height: 100px;
      vertical-align: middle;
      align-self: center;
      margin-right: 20px;
    }
    .row {
      &.flex {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
      }
    }
    .info {
      align-self: center;
      h3 {
        margin: 0 0 5px;
      }
    }
    .metric-box {
      margin-bottom: 10px;
      min-height: 115px;
      background: #FFFFFF;
      box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.24), 0px 1px 4px 0px rgba(0,0,0,0.04);
      border-radius: 2px;
    }
    .full-padding {
      padding: 10px;
    }
  }
  .form-background {
    padding: 20px 40px;
    background-color: #F5F5F5;
  }
  .input-group {
    margin-bottom: 10px;
  }
  .input-field-group {
    overflow: auto;
      margin-top: 30px;
      margin-bottom: 20px;
  }
  .input-group-addon {
    min-width:100px;
    text-align: left;
  }
}
