<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#employee-payroll" empnavopen='true'></header-nav>
</div>

<div id="employee-payroll">
  <div class="head-bar">
    <div class="col-md-12">
      <h3>Employee Payroll</h3>
    </div>
  </div>
  <div class="form-background">
    <div class="metric-box">
      <div class="col-md-2">Payroll Period</div>
      <div class="col-md-5">
        <select name="payroll" class="form-control"
                ng-model="payroll"
                ng-change="selectPayroll(payroll)"
                ng-options="payroll as payroll.PAYCHECK_DATE for payroll in payrolls">
          <option value="">All Payrolls</option>
        </select>
      </div>
    </div>
    <!--allpayrolls-->
    <div class="metric-box-all" ng-show="payrollAllDetails">
      <div class="col-md-12" ng-repeat="payroll in payrolls" >
        <div id="{{$index}}">
          <div class="row"  ng-click="taco=!taco" style="margin-top:10px;background-color:lightgrey;border:1px solid darkgrey;text-align:center;height:50px;line-height:50px">
            <div class="col-md-5">
              <b>Payroll {{$index+1}}</b>
            </div>
            <div class="col-md-5">
              <b>Pay Period End: </b>{{payroll.PAYCHECK_DATE}}
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary" ng-click="printSection($index)">Print</button>
            </div>
          </div>
          <div class="row" ng-show="taco">
            <div class="row header">
              <div class="col-md-1" style="width:12%">
                <b>Visit Date</b>
              </div>
              <div class="col-md-2">
                <b>Visit Type</b>
              </div>
              <div class="col-md-2">
                <b>Patient Name</b>
              </div>
              <div class="col-md-1">
                <b>Time In</b>
              </div>
              <div class="col-md-1" style="width:10%">
                <b>Time Out</b>
              </div>
              <div class="col-md-1">
                <b>Hours</b>
              </div>
              <div class="col-md-1">
                <b>Total</b>
              </div>
              <div class="col-md-1" style="width:13%">
                <b>Paycheck Date</b>
              </div>
              <div class="col-md-1" style="width:0%">
                <b>Status</b>
              </div>
            </div>
            <div class="col-md-12" ng-repeat="visit in payroll.Visits">
              <div class="row">
                <div class="col-md-1" style="width:12%">
                  {{visit.Date}}
                </div>
                <div class="col-md-2">
                  {{visit.Discipline}} - {{visit.Description}}
                </div>
                <div class="col-md-2">
                  {{visit.VISITPATIENT}}
                </div>
                <div class="col-md-1">
                  {{visit.TimeIn}}
                </div>
                <div class="col-md-1" style="width:10%">
                  {{visit.TimeOut}}
                </div>
                <div class="col-md-1">
                  {{visit.HOURS}}
                </div>
                <div class="col-md-1">
                  {{visit.VISITTOTAL}}
                </div>
                <div class="col-md-1" style="width:13%">
                  {{visit.PAYCHECK_DATE}}
                </div>
                <div class="col-md-1" style="width:0%">
                  Paid
                </div>
              </div>
            </div>
            <div class="row" style="margin:0">
              <div class="col-md-1" style="border-top:1px solid black;width:12%">
                <b>Total Visits: {{payroll.Visits.length}}</b>
              </div>
              <div class="col-md-1 col-md-offset-6" style="border-top:1px solid black;width:10%">
                <b>Total Hrs: {{payroll.HOURSEMPTOTAL}}</b>
              </div>
              <div class="col-md-1" style="border-top:1px solid black">
                <b>Pay: {{payroll.PAYEMPTOTAL}}</b>
              </div>
              <!-- <div class="col-md-1" style="border-top:1px solid black">
                <button class="btn btn-success">PAY</button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--one payroll-->
    <div class="metric-box" ng-show="payrollDetails" style="margin-top:10px;">
      <div class="col-md-12" style="background-color:lightgrey;border:1px solid darkgrey;text-align:center;height:30px;line-height:30px">
        <div class="col-md-2">
          <b>Payroll {{$index+1}}</b>
        </div>
        <div class="col-md-6">
          <b>Pay Period End:</b> {{payroll.PAYCHECK_DATE}}
        </div>
      </div>
      <div class="row header">
        <div class="col-md-1" style="width:12%">
          <b>Visit Date</b>
        </div>
        <div class="col-md-2">
          <b>Visit Type</b>
        </div>
        <div class="col-md-2">
          <b>Patient Name</b>
        </div>
        <div class="col-md-1">
          <b>Time In</b>
        </div>
        <div class="col-md-1" style="width:10%">
          <b>Time Out</b>
        </div>
        <div class="col-md-1">
          <b>Hours</b>
        </div>
        <div class="col-md-1">
          <b>Total</b>
        </div>
        <div class="col-md-1" style="width:13%">
          <b>Paycheck Date</b>
        </div>
        <div class="col-md-1" style="width:0%">
          <b>Status</b>
        </div>
      </div>
      <div class="row" ng-repeat="visit in payroll.Visits" style="margin-left:0">
        <div class="col-md-1" style="width:12%">
          {{visit.Date}}
        </div>
        <div class="col-md-2">
          {{visit.Discipline}} - {{visit.Description}}
        </div>
        <div class="col-md-2">
          {{visit.VISITPATIENT}}
        </div>
        <div class="col-md-1">
          {{visit.TimeIn}}
        </div>
        <div class="col-md-1" style="width:10%">
          {{visit.TimeOut}}
        </div>
        <div class="col-md-1">
          {{visit.HOURS}}
        </div>
        <div class="col-md-1">
          {{visit.VISITTOTAL}}
        </div>
        <div class="col-md-1" style="width:13%">
          {{visit.PAYCHECK_DATE}}
        </div>
        <div class="col-md-1" style="width:0%">
          Paid
        </div>
      </div>
      <div class="row" style="margin:0">
        <div class="col-md-1" style="border-top:1px solid black;width:12%">
          <b>Total Visits: {{payroll.Visits.length}}</b>
        </div>
        <div class="col-md-1 col-md-offset-6" style="border-top:1px solid black;width:10%">
          <b>Total Hrs: {{payroll.HOURSEMPTOTAL}}</b>
        </div>
        <div class="col-md-1" style="border-top:1px solid black">
          <b>Pay: {{payroll.PAYEMPTOTAL}}</b>
        </div>
        <!-- <div class="col-md-1" style="border-top:1px solid black">
          <button class="btn btn-success">PAY</button>
        </div> -->
      </div>
    </div>

  </div>
</div>
<div class="employee-right-menu">
  <employee-expanded-nav></employee-expanded-nav>
</div>
