#newVisit {
  margin: 20px;
  // width: 100%;
  // padding: 0;
  // background: #F5F5F5;
  position: relative;
  // h4 {
  //   margin-top: 0;
  // }
  // p {
  //   margin-bottom: 0;
  // }
  // span {
  //   position: absolute;
  //   right: -10px;
  //   top: -10px;
  //   font-size: 12px;
  // }
  .close {
    font-size: 15px;
    position:absolute;
    top: -15px;
    right: -15px;
  }

  table {
    width: 100%;
    .field_row {
      border-top: 10px solid #FFF;
      &:first-child {
        border-top:none;
      }
      // &:nth-last-child(2) td {
      //   text-align: left;
      // }
    }
    .field {
      // text-align: right;
      border-right: 5px solid #FFF;
      border-left: 5px solid #FFF;
      &:last-child {
        border-left: none;
      }
      &:first-child {
        border-right: none;
      }
    }
  }
  .uib-time input {
    width: 100%
  }
  .form-section {
    background: #F5F5F5;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    select {
      width: 85%;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .selected-form {
    background: #fff;
    line-height: 20px;
    height: 40px;
    border: 1px solid #CCC;
    border-top: none;
    padding: 10px 30px 10px 85px;
    a {
      cursor: pointer;
    }
  }
}
