<div id="newVisit">
<!-- {{selected.format("DD MMMM, YYYY")}} -->
  <h4>New Visit</h4>
  <span ng-click="close()" class="fa fa-remove close"></span>
  <form name="newForm">
    <table>
      <tr class="field_row">
        <td class="field">Date</td>
        <td class="field" style="display:inherit;">
          <input type="text"
                ng-disabled="lockDate"
                class="form-control"
                datepicker-options="inlineOptions"
                uib-datepicker-popup='MM-dd-yyyy'
                ng-model="selected"
                is-open="openedVISITDATE"
                show-button-bar="false"
                ng-click="openedVISITDATE=true"
                datepicker-append-to-body="false"
                alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openedVISITDATE=true"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </td>
      </tr>
      <!-- <tr class="field_row" ng-show="showDCreason===true">
        <td class="field">Discharge Reason</td>
        <td class="field">
          <select name="DCREASON" class="form-control" tabindex="10" ng-model="DCREASON">
            <option value="">-Select One-</option>
            <option value="01">Not Homebound</option>
            <option value="02">Services Not Needed</option>
            <option value="03">Patient Stabilized</option>
            <option value="05">Referral Cancelled</option>
            <option value="05">Refused Services</option>
            <option value="06">On Service with Another Agency</option>
            <option value="07">Patient Not Home</option>
            <option value="08">Address Not Found</option>
            <option value="09">Out of Service Area</option>
            <option value="09">Insurance Denial</option>
            <option value="10">Admitted to Hospital</option>
            <option value="11">Admitted to SNF</option>
            <option value="12">Redirected to alternate care facility</option>
            <option value="13">Deceased</option>
            <option value="14">Other</option>
          </select>
        </td>
      </tr> -->
      <tr class="field_row">
        <td class="field">Visit Type</td>
        <td class="field">
          <select required name="VISITTYPE" class="form-control" tabindex="8"
                  ng-disabled="lockVisitType"
                  ng-model="VISITTYPE"
                  ng-change="updateVisitTypeDetails()"
                  ng-options="visitType as visitType.DESC for visitType in visitTypes">
                  <option value="">-Select One-</option>
          </select>
        </td>
      </tr>
      <tr class="field_row">
        <td class="field">Employee</td>
        <td colspan="3" class="field">
          <select required name="EMPKEYID" class="form-control"
                  ng-model="EMPKEYID"
                  ng-options="employee.FNAME + ' ' + employee.LNAME + ' (' + employee.DISCIPLINE + ')' for employee in employees">
            <option value="">-Select One-</option>
          </select>
          <!-- <input required type="text" name="empkeyid" ng-model="empkeyid" class="form-control" id="employee" placeholder=""> -->
        </td>
      </tr>

      <tr class="field_row">
        <td class="field"  colspan="6">
          <div class="form-section">
            <div>Add Form</div>
            <select class="form-control"
                    ng-change="addForm(selectForm)"
                    ng-model="selectForm"
                    ng-options="form.NAME for form in formTypes | filter:hideSOC">
            </select>
            <!-- <div class="fa fa-plus" ng-click="addForm(selectForm)"></div> -->
          </div>
          <div class="selected-form" ng-repeat="form in selectedForms">
            <div class="pull-left">{{form.NAME | limitTo: 40 }}{{form.NAME.length > 40 ? '&hellip;' : ''}}</div>
            <!-- <a class="pull-right" ng-hide="form.KEYID===2" ng-click="removeForm(form)">Remove</a> -->
            <a class="pull-right" ng-hide="(form.KEYID===9 && action==='D' )|| form.KEYID===2 || (form.KEYID===6 && action==='T') || (form.KEYID===3 && action==='A' && patient.PATSTATUS==='T')" ng-click="removeForm(form)">Remove</a>

          </div>
        </td>
      </tr>
      <tr class="field_row">
        <td class="field" colspan="2">Notes</td>
      </tr>
      <tr class="field_row">
        <td class="field" colspan="2"><textarea name="NOTES" ng-model="NOTES" class="form-control" rows="5" placeholder=""></textarea></td>
      </tr>
      <tr class="field_row">
        <td class="field" colspan="2"><a href="javascript:void(0)" ng-click="showDetails=!showDetails">Add More Details <i class="fa fa-chevron-down"></i></a></td>
      </tr>
      <table ng-show="showDetails">
        <tr class="field_row">
          <td class="field">Mileage</td>
          <td class="field" style="width:40%"><input type="number" name="MILEAGE" ng-model="MILEAGE" class="form-control" id="MILEAGE" placeholder=""></td>
          <td class="field">Hours</td>
          <td class="field"><input type="number" disabled name="hours" ng-model="HOURS" class="form-control" id="HOURS" placeholder=""></td>
        </tr>
        <tr class="field_row">
          <td class="field">Time In</td>
          <td class="field">
            <div uib-timepicker
                  name="TIMEIN"
                  arrowkeys=true
                  ng-model="TIMEIN"
                  ng-change="changedTIMEIN()"
                  show-meridian=true>
            </div>
          </td>
          <td class="field">Time Out</td>
          <td class="field">
            <div uib-timepicker
                  name="TIMEOUT"
                  arrowkeys=true
                  ng-model="TIMEOUT"
                  ng-change="changed()"
                  show-meridian=true>
            </div>
          </td>
        </tr>
        <tr class="field_row">
          <td colspan="6"><div class="field-error" ng-show="timeError">Error with times</div></td>
        </tr>
      </table>
    </table>


        <div style="justify-content:flex-end;display:flex">
          <button type="submit" ng-click="newVisit(newForm)" class="btn btn-default">Save Visit</button>
          <button type="" ng-click="close()" class="btn btn-default">Cancel</button></td>
      </div>

  </form>
</div>
