// #discharge {
//   // color:blue;
//   // margin-left: 60px;
//   overflow: hidden;
//   position: relative;
//   background: #FFF;
//   form {
//     width: 75%;
//     float: left;
//   }
//   .field-error {
//     margin: 0;
//   }
//   td {
//     padding: 5px;
//   }
//   fieldset {
//     input[type='text'], input[type='password'], input[type='date'], textarea, select {
//       padding: 4px;
//       font-size: 12px;
//       background-color: #FFF;
//       border: 1px #DDD solid;
//       -webkit-border-radius: 5px;
//       -moz-border-radius: 5px;
//       border-radius: 5px;
//       outline: none;
//       background-color: #EDEEF3;
//
//     }
//     &.enableInput{
//       input[type='text'], input[type='password'], input[type='date'], textarea, select {
//         background-color: white;
//       }
//     }
//   }
//   .formtable {
//     border-spacing: 1px 1px;
//     border-collapse: separate;
//   }
//   .motag {
//     padding: 5px;
//     vertical-align: top;
//     padding-top: 8px;
//     background: #E7ECF2;
//     color: #333;
//     font-weight: bold;
//     text-align: right;
//     font-size: 12px;
//   }
//   .tbl_field {
//     background: #EDEEF3;
//     padding: 5px;
//     font-size: 12px;
//     font-weight: bold;
//     height: 27px;
//     vertical-align: top;
//     padding-top: 8px;
//   }
//   .input_normal {
//     width: 220px;
//   }
//   .require {
//     color: #F00;
//   }
//   .create-bar {
//     right: 0px;
//     left: 270px;
//     position: fixed;
//     background: #FFF;
//     font-size: 30px;
//     height: 60px;
//     padding: 12px 0;
//     box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
//     button {
//       margin: 0 10px;
//       float: right;
//     }
//     a {
//       float:left;
//       margin-top: -3px;
//     }
//     i {
//       margin-right: 10px;
//       font-size: 15px;
//       text-decoration: none;
//       border-right: 1px solid lightgrey;
//       padding: 8px 15px 8px 0px;
//     }
//   }
//   #clinical {
//     margin-top: 60px;
//   }
//   .bottom-nav {
//     i {
//       margin-left: 8px;
//     }
//     button {
//       margin: 10px;
//     }
//   }
//   .error-box-expand {
//     top: 60px;
//     position:fixed;
//     right:0px;
//     float: right;
//     .error-title {
//       color: #FFF;
//       background: #EA0000;
//       padding: 10px 20px;
//       display: inline-block;
//       font-size: 15px;
//     }
//   }
//   .error-box {
//     float: right;
//     width: 250px;
//     .error-title {
//       color: #FFF;
//       background: #EA0000;
//       padding: 10px 20px;
//       display: inline-block;
//       font-size: 15px;
//       width: 100%;
//     }
//     .error-msg {
//       color: #a5322e;
//       padding: 10px;
//       word-wrap: break-word;
//       background: #F9888F;
//     }
//   }
// }
