<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#qa"></header-nav>
</div>
<div id="qa">
  <div class="head-bar">
    <div class="col-md-12">
      <h3>QA Forms</h3>
    </div>
  </div>
  <div class="form-background">
    <!--repeat-->

    <div class="row header">
      <div class="col-md-2">
        <b>Patient Name</b>
        <span ng-show="sortPNAME" class="fa fa-caret-down" ng-click="sortByPNAME()"></span>
        <span ng-hide="sortPNAME" class="fa fa-caret-up" ng-click="sortByPNAME()"></span>
      </div>
      <div class="col-md-2">
        <b>Form Name</b>
        <span ng-show="sortFORMNAME" class="fa fa-caret-down" ng-click="sortByFORMNAME()"></span>
        <span ng-hide="sortFORMNAME" class="fa fa-caret-up" ng-click="sortByFORMNAME()"></span>
      </div>
      <div class="col-md-3">
        <b>Form Description</b>
        <span ng-show="sortDESC" class="fa fa-caret-down" ng-click="sortByDESC()"></span>
        <span ng-hide="sortDESC" class="fa fa-caret-up" ng-click="sortByDESC()"></span>
      </div>
      <div class="col-md-2">
        <b>Employee Name</b>
        <span ng-show="sortEMPNAME" class="fa fa-caret-down" ng-click="sortByEMPNAME()"></span>
        <span ng-hide="sortEMPNAME" class="fa fa-caret-up" ng-click="sortByEMPNAME()"></span>
      </div>

      <div class="col-md-1">
        <b>Deadline</b>
        <span ng-show="sortDEADLINEDATE" class="fa fa-caret-down" ng-click="sortByDEADLINEDATE()"></span>
        <span ng-hide="sortDEADLINEDATE" class="fa fa-caret-up" ng-click="sortByDEADLINEDATE()"></span>
      </div>
      <div class="col-md-1">
        <b>Status</b>
        <span ng-show="sortSTATUS" class="fa fa-caret-down" ng-click="sortBySTATUS()"></span>
        <span ng-hide="sortSTATUS" class="fa fa-caret-up" ng-click="sortBySTATUS()"></span>
      </div>
      <div class="col-md-1">
        <b>Paid</b>
        <span ng-show="sortPAID" class="fa fa-caret-down" ng-click="sortByPAID()"></span>
        <span ng-hide="sortPAID" class="fa fa-caret-up" ng-click="sortByPAID()"></span>
      </div>
    </div>

    <div ng-repeat="form in forms" class="row form" ng-click="viewForm(form)">
      <div class="task-item" style="margin-top:0;">
        <div class="col-md-2">
          {{form.PNAME}}
        </div>
        <div class="col-md-2">
          {{form.FORMNAME | limitTo: 25 }}{{form.DESC.length > 25 ? '&hellip;' : ''}}
        </div>
        <div class="col-md-3">
          {{form.DESC | limitTo: 45 }}{{form.DESC.length > 45 ? '&hellip;' : ''}}
        </div>
        <div class="col-md-2">
          {{form.EMPNAME}}
        </div>
        <div class="col-md-1">
          {{form.DEADLINEDATE}}
        </div>
        <div class="col-md-1">
          {{form.STATUS}}
        </div>
        <div class="col-md-1">
          <input type="checkbox" ng-true-value="1" disabled ng-model="form.PAID">
        </div>

      </div>
</div>
