#qa {
    margin-left: 160px;
    position: relative;
    background: #FFF;
    padding-top: 60px;

    .head-bar {
        height: 60px;
        padding: 0 0 0 15px;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.16);

        .col-md-12 {
            padding-left: 0;
            padding-right: 20px;
            height: 60px;
        }

        .icons {
            margin: 10px 0;
            padding: 0;
            list-style: none;
            float: right;

            li {
                float: left;
                padding: 10px 18px;
            }
        }

        .btn-group {
            margin-top: 13px;
        }
    }

    .title {
        margin-right: 10px;
        float: left;

        span {
            line-height: 60px;
            margin: 0 20px;
            float: left;
        }

        h3 {
            line-height: 60px;
            margin: 0;
            float: left;
        }
    }

    .form-background {
        padding: 20px 40px;
        background-color: #F5F5F5;
    }

    .header {
        margin-top: 10px;
        background-color: #e6e6e6;
        color: #6e6e6e;
        line-height: 35px;
    }

    .form {
        background-color: #fff;
        line-height: 50px;
        border: 1px solid #e6e6e6;

        &:hover {
            background-color: #eeeeee;
        }
    }

    .record-item {
        background: #FFF;
        height: 50px;
        line-height: 50px;
        margin-top: 15px;

        .space-right {
            margin-right: 10px;
            float: left;
            line-height: 50px;
        }

        .fa-star {
            // color: #FFF;
        }
    }
}
