.patient-consent {
  // overflow: hidden;
  margin-left: 370px;
  position: relative;
  background: #FFF;
  padding-top: 60px;
  .head-bar {
    z-index: 100;
    padding: 0 20px;
    // position: relative;

    // right: 0px;
    // left: 270px;
    // position: fixed;
    background: #FFF;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    a {
      float:left;
      margin-top: -3px;
    }
    i {
      margin-right: 10px;
      font-size: 15px;
      text-decoration: none;
      border-right: 1px solid lightgrey;
      padding: 8px 15px 8px 0px;
    }
    // span {
    //   float:left;
    // }
    .language-switch {
      font-size:10px;
      position:absolute;
      top: 0px;
      right:13px;
      z-index:8;
      display:inline-block;
      margin-right:190px
    }
  }
  form {
    // visibility: hidden;
    background-color: rgba(112, 102, 157, 0.08);
    font-size: 15px;
    // position: absolute;
    overflow: hidden;
    // right: 0;
    // left: 270px;
    float:left;
    // margin-top: 60px;
    padding: 15px;
    margin-bottom: 10px;
    textarea {
      width: 100%;
    }
    .action {
      position: absolute;
      top: 73px;
      right: 13px;
      z-index: 8;
    }
    .full-padding {
      padding: 15px;
    }
    .metric-box {
      margin-top: 15px;
      height: 150px;
      background: #FFFFFF;
      box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.24), 0px 1px 4px 0px rgba(0,0,0,0.04);
      border-radius: 2px;
      button {
        z-index: 99;
      }
    }
  }
  .spanish {
    display: none;
    &.show-ES {
      display: block;
    }
  }
  .english{
    display: none;
    &.show-EN {
      display: block;
    };
  }
  .signature {
    display: none;
    &.show-pad {
      display: block;
    }
  }

  // .signature {
  //   display: inline-block !important;
  //   // background: lightgrey !important;
  // }
  .field-error {
    margin:0;
    font-size: 13px;
  }
  // .note {
    // margin-top: 15px;
  // }
  .information {
    height: 22px;
    width:300px;
  }
  .no-bullet {
    list-style: none;
  }
  ul {
    padding-left: 15px;
    font-size: 15px;
  }
  td {
    padding:0 10px 0 0;
  }
  //TOGGLE: SWITCH;
  .switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 15px;
  }
  .switch input {display:none;}
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0;
    bottom: -3px;
    background-color: grey;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #7EE65A;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px lightgrey;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
    background-color: #3CAB15;
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  //TOGGLE SWITCH END//
}
