<div id="new-patient-medication">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>Add a New Medication for the patient</h3>
      </div>
    </div>
    <div ng-click="close()" class="fa fa-remove close"></div>
  </div>
  <div class="form-background">
    <div class="row">
      <form name="MedicationForm" novalidate>
        <div class="container small">
          <div class="row">
            <div class="col-md-12">
              <div class="input-field-group">
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="PHARMACY">* Pharmacy</span>
                    <input required type="text" name="PHARMACY" ng-model="newMedication.PHARMACY" class="form-control" tabindex="6" aria-describedby="PHARMACY">
                  </div>
                  <div ng-show="MedicationForm.PHARMACY.$invalid && submitClicked" class="field-error">Enter a valid Pharmacy.</div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="ADMIN_BY">* Administered By</span>
                    <select required type="text" name="ADMIN_BY" ng-model="newMedication.ADMIN_BY" class="form-control" tabindex="5" aria-describedby="ADMIN_BY">
                      <option value="">-Select One-</option>
                      <option value="PATIENT">Patient</option>
                      <option value="NURSE">Nurse</option>
                      <option value="FAMILY">Family</option>
                      <option value="CAREGIVER">Caregiver</option>
                    </select>                  </div>
                  <div ng-show="MedicationForm.ADMIN_BY.$invalid && submitClicked" class="field-error">Enter a valid date.</div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <div class="input-group-addon" id="DATE_STARTED">Date Started</div>
                    <div class="input-group" style="margin:0">
                      <input type="text"
                      style="z-index:100"
                            required
                            tabindex="4"
                            class="form-control"
                            uib-datepicker-popup='MM-dd-yyyy'
                            ng-model="newMedication.DATE_STARTED"
                            is-open="openedDATE_STARTED"
                            show-button-bar="false"
                            ng-click="openedDATE_STARTED=true"
                            datepicker-append-to-body="false"
                            alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="openedDATE_STARTED=true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </div>
                    </div>
                    <!-- <input required type="date" name="DATE_STARTED" ng-model="newMedication.DATE_STARTED" class="form-control" tabindex="6" aria-describedby="DATE_STARTED"> -->
                    <div ng-show="MedicationForm.DATE_STARTED.$invalid && submitClicked" class="field-error">Enter a valid Pharmacy.</div>

                </div>
                <div class="col-md-6">
                  <!-- <div class="input-group">
                    <span class="input-group-addon" id="DATE_DISC">Date Disc.</span>
                    <input type="date" name="DATE_DISC" ng-model="newMedication.DATE_DISC" class="form-control" tabindex="6" aria-describedby="DATE_DISC">
                  </div> -->
                  <div class="input-group">
                    <div class="input-group-addon" id="DATE_DISC">Date Disc.</div>
                    <div class="input-group" style="margin:0">
                      <input type="text"
                        style="z-index:100"
                            required
                            tabindex="4"
                            class="form-control"
                            uib-datepicker-popup='MM-dd-yyyy'
                            ng-model="newMedication.DATE_DISC"
                            is-open="openedDATE_DISC"
                            show-button-bar="false"
                            ng-click="openedDATE_DISC=true"
                            datepicker-append-to-body="false"
                            alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="openedDATE_DISC=true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </div>
                    </div>
                  <div ng-show="MedicationForm.DATE_DISC.$invalid && submitClicked" class="field-error">Enter a valid date.</div>
                </div>
              </div>
              <div class="input-field-group">


                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="NAME">* Medication Name</span>
                    <input type="text" tabindex="1"
                    required
                    ng-model-options="{debounce : 1000}"
                    name="NAME"
                    typeahead-on-select="updateMedication()"
                    ng-model="newMedication.NAME"
                    uib-typeahead="code.DESCRIPTION for code in getMedications($viewValue)"
                    typeahead-loading="loadingMedications"
					typeahead-no-results="noResults"
					class="form-control"
                    placeholder="Search Medications" >
                    <i ng-show="loadingMedications" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResults">
					             <i class="glyphicon glyphicon-remove"></i> No Results Found
                     </div>
                  </div>
                  <div ng-show="MedicationForm.NAME.$invalid && submitClicked" class="field-error">Enter a valid medication.</div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="CODE">* Code</span>
                    <select required type="text" name="CODE" ng-model="newMedication.CODE" class="form-control" tabindex="5" aria-describedby="CODE">
                      <option value="">-Select One-</option>
                      <option value="N">New</option>
                      <option value="C">Changed</option>
                      <option value="L">Long Standing</option>
                      <option value="H">Hospice Provided</option>
                    </select>
                  </div>
                  <div ng-show="MedicationForm.CODE.$invalid && submitClicked" class="field-error">Enter a valid code.</div>
                </div>
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon" id="SIDE_EFFECTS">Potient Side Effects</span>
                    <textarea type="text" rows="6" name="SIDE_EFFECTS" ng-model="newMedication.SIDE_EFFECTS" class="form-control" tabindex="1" aria-describedby="SIDE_EFFECTS"></textarea>
                  </div>
                  <div ng-show="MedicationForm.SIDE_EFFECTS.$invalid && submitClicked" class="field-error"></div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="DOSE">* Dose</span>
                    <input required type="text" name="DOSE" ng-model="newMedication.DOSE" class="form-control" tabindex="3" aria-describedby="DOSE">
                  </div>
                  <div ng-show="MedicationForm.DOSE.$invalid && submitClicked" class="field-error">Enter a valid dose.</div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="UNIT">* Unit</span>
                    <select required type="text" name="UNIT" ng-model="newMedication.UNIT" class="form-control" tabindex="5" aria-describedby="UNIT">
                      <option value="">-Select One-</option>
                      <option value="cfu/ml">Colony forming units per milliliter (cfu/ml)</option>
                      <option value="iu">International unit (iu)</option>
                      <option value="mcg">Micrograms (mcg)</option>
                      <option value="meq/ml">Milliequivalent (meq)</option>
                      <option value="cfu/ml">Milliequivalent per milliliter (meq/ml)</option>
                      <option value="mg">Milligram (mg)</option>
                      <option value="mg/ml">Milligram per milliliter (mg/ml)</option>
                      <option value="%">Percent (%)</option>
                      <option value="unt">Unit (unt) </option>
                      <option value="ml">Milliter (ml)</option>
                      <option value="unt/ml">Unit per milliliter (unt/ml)</option>
                    </select>
                  </div>
                  <div ng-show="MedicationForm.CODE.$invalid && submitClicked" class="field-error">Enter a valid code.</div>
                </div>

                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="FREQUENCY">* Frequency</span>
                    <input required type="text" name="FREQUENCY" ng-model="newMedication.FREQUENCY" class="form-control" tabindex="3" aria-describedby="FREQUENCY">
                  </div>
                  <div ng-show="MedicationForm.FREQUENCY.$invalid && submitClicked" class="field-error">Enter a valid frequency.</div>
                </div>
                 <div class="col-md-6">
                   <div class="input-group">
                     <span class="input-group-addon" id="FORM">* Form</span>
                     <select required type="text" name="FORM" ng-model="newMedication.FORM" class="form-control" tabindex="5" aria-describedby="FORM">
                       <option value="">-Select One-</option>
                       <option value="1">ApplicatorFuls</option>
                       <option value="2">Bags</option>
                       <option value="3">Bars</option>
                       <option value="4">Capsules</option>
                       <option value="5">Doses</option>
                       <option value="6">Dropperfuls</option>
                       <option value="7">Drops</option>
                       <option value="8">Grams(g)</option>
                       <option value="9">Inhalations</option>
                       <option value="A">Lozenges</option>
                       <option value="B">Micrograms(mcg)</option>
                       <option value="C">Milligrams(mg)</option>
                       <option value="D">Milliliters(ml)</option>
                       <option value="E">Packets</option>
                       <option value="F">Patches</option>
                       <option value="G">Percent(%)</option>
                       <option value="H">Puffs</option>
                       <option value="I">Scoopes</option>
                       <option value="J">Shots</option>
                       <option value="K">Sprays</option>
                       <option value="L">Suppositories</option>
                       <option value="M">Syringe</option>
                       <option value="N">Tablespoons(tbsp)</option>
                       <option value="O">Tablets</option>
                       <option value="P">Teaspoons(tsp)</option>
                       <option value="Q">Units(U)</option>
                     </select>
                   </div>
                   <div ng-show="MedicationForm.CODE.$invalid && submitClicked" class="field-error">Enter a valid code.</div>
                 </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="TAKEN">* How Taken</span>
                    <select required type="text" name="TAKEN" ng-model="newMedication.TAKEN" class="form-control" tabindex="5" aria-describedby="TAKEN">
                      <option value="">-Select One-</option>
                      <option value="1">By Injection</option>
                      <option value="2">By Mouth</option>
                      <option value="3">In the ear</option>
                      <option value="4">In the eye</option>
                      <option value="5">In the nose(spray/drops)</option>
                      <option value="6">Inhaled</option>
                      <option value="7">Rectal</option>
                      <option value="8">Through a feeding tube</option>
                      <option value="9">Through an intravenous (IV) tube</option>
                      <option value="A">Through the skin</option>
                      <option value="B">Under the tongue</option>
                      <option value="C"Vaginal</option>
                    </select>
                  </div>
                  <div ng-show="MedicationForm.CODE.$invalid && submitClicked" class="field-error">Enter a valid code.</div>
                </div>

                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon" id="PURPOSE">* Purpose</span>
                    <textarea required type="text" rows="4" name="PURPOSE" ng-model="newMedication.PURPOSE" class="form-control" tabindex="3" aria-describedby="PURPOSE"></textarea>
                  </div>
                  <div ng-show="MedicationForm.PURPOSE.$invalid && submitClicked" class="field-error">Enter a valid purpose.</div>
                </div>
              </div>
              <div class="btn-footer pull-right">
                <button type="submit" ng-click="addPatientMedication()" class="btn btn-default" tabindex="27">Add medication for the patient</button>
                <button type="" ng-click="close()" class="btn btn-default" tabindex="28">Cancel</button></td>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
