<div id="add-order-dates">
  <div class="head-bar">
    <div class="col-md-9">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>Enter Order Dates</h3>
      </div>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary" ng-click="printOrder()">Download PDF</button>
    </div>
    <div ng-click="close()" class="fa fa-remove close"></div>
  </div>
  <div class="form-background">
    <div class="row">
      <form name="MedicationForm" novalidate>

        <div class="container small" style="font-size:14px">
          <div id="print-section">

          <div class="row">
            <div class="col-md-12">
              <div><b>Patient Information</b></div>
              <div class="col-md-6">
                <div>Name: {{patient.FNAME}} {{patient.FNAME}}</div>
                <div>Address: {{patient.ADDRESS}}</div>
                <div>Phone: {{patient.PHONE1 |tel}}</div>
              </div>
              <div class="col-md-6">
                <div>Sex: {{patient.GENDER}}</div>
                <div>DOB: {{patient.DOB}}</div>
                <div>Language: {{patient.LANGUAGE}}</div>
              </div>
            </div>
          </div>
          <hr>
          <div id="printContents">
            <div class="row" style="margin-top:5px">
              <div class="col-md-4">
                Sent Date:
              </div>
              <div class="col-md-8">
                <div class="input-group" style="margin:0">
                  <input type="text"
                        class="form-control"
                        uib-datepicker-popup='MM-dd-yyyy'
                        ng-model="SENT"
                        is-open="openedSENT"
                        show-button-bar="false"
                        ng-click="openedSENT=true"
                        datepicker-append-to-body="false"
                        alt-input-formats="altInputFormats" />
                  <span class="input-group-btn">
                    <button type="button" style="margin-top:0" class="btn btn-default" ng-click="openedSENT=true"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top:5px">
              <div class="col-md-4">
                Second Attempt Sent Date:
              </div>
              <div class="col-md-8">
                <div class="input-group" style="margin:0">
                  <input type="text"
                        class="form-control"
                        uib-datepicker-popup='MM-dd-yyyy'
                        ng-model="SECONDSENT"
                        is-open="openedSECONDSENT"
                        show-button-bar="false"
                        ng-click="openedSECONDSENT=true"
                        datepicker-append-to-body="false"
                        alt-input-formats="altInputFormats" />
                  <span class="input-group-btn">
                    <button type="button" style="margin-top:0" class="btn btn-default" ng-click="openedSECONDSENT=true"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top:5px">
              <div class="col-md-4">
                Third Attempt Sent Date:
              </div>
              <div class="col-md-8">
                <div class="input-group" style="margin:0">
                  <input type="text"
                        class="form-control"
                        uib-datepicker-popup='MM-dd-yyyy'
                        ng-model="THIRDSENT"
                        is-open="openedTHIRDSENT"
                        show-button-bar="false"
                        ng-click="openedTHIRDSENT=true"
                        datepicker-append-to-body="false"
                        alt-input-formats="altInputFormats" />
                  <span class="input-group-btn">
                    <button type="button" style="margin-top:0" class="btn btn-default" ng-click="openedTHIRDSENT=true"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top:5px">
              <div class="col-md-4">
                Received Date:
              </div>
              <div class="col-md-8">
                <div class="input-group" style="margin:0">
                  <input type="text"
                        class="form-control"
                        uib-datepicker-popup='MM-dd-yyyy'
                        ng-model="RECEIVED"
                        is-open="openedRECEIVED"
                        show-button-bar="false"
                        ng-click="openedRECEIVED=true"
                        datepicker-append-to-body="false"
                        alt-input-formats="altInputFormats" />
                  <span class="input-group-btn">
                    <button type="button" style="margin-top:0" class="btn btn-default" ng-click="openedRECEIVED=true"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top:5px">
              <div class="col-md-4">
                Physician Signature Date:
              </div>
              <div class="col-md-8">
                <div class="input-group" style="margin:0">
                  <input type="text"
                        class="form-control"
                        uib-datepicker-popup='MM-dd-yyyy'
                        ng-model="PHYSICIANSIGNDATE"
                        is-open="openedPHYSICIANSIGNDATE"
                        show-button-bar="false"
                        ng-click="openedPHYSICIANSIGNDATE=true"
                        datepicker-append-to-body="false"
                        alt-input-formats="altInputFormats" />
                  <span class="input-group-btn">
                    <button type="button" style="margin-top:0" class="btn btn-default" ng-click="openedPHYSICIANSIGNDATE=true"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="row" style="margin-top:10px">
            <div class="col-md-12">
              <button  style="float:right;margin-left:5px" ng-click="save()" class="btn btn-success">Save</button>
              <button  style="float:right" ng-click="close()" class="btn btn-default">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
