#calendar {
    display: table;
    margin: 0 auto;

    .week {
        float: left;
        text-align: center;

        span {
            background: #F5F5F5;
            display: block;
            border-top: 1px solid #CCC;
            border-right: 1px solid #CCC;
            border-bottom: none;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .week-title {
        padding-top: 5px;
        padding-bottom: 5px;
        border-right: 1px solid #CCC;

        span {
            visibility: hidden;
        }
    }

    .date-title {
        float: left;

        .date {
            border-right: 1px solid #CCC;
            padding-right: 10px;
            height: 60px;
            line-height: 60px;
            text-align: right;
            // &:last-child {
            //     // border-bottom: 1px solid #CCC;
            // }
        }
    }

    .month {
        // margin-right: 25px;
        // color: red;
        // font-weight: 700;
        display: inline;
        // float: left;
        // text-align: left;
    }

    .num {
        // float:right;
        // height: 25px;
        // width: 25px;
        // line-height: 25px;
        // margin-left: 25px;
    }

    .day {
        .day-wrapper {
            position: absolute;
            right: 5px;
            top: 2px;
            // height: 25px;
            // width: 25px;
            // line-height: 25px;
        }
        position: relative;
        width: 85px;
        height: 60px;
        border-top: 1px solid #CCC;
        border-right: 1px solid #CCC;
        text-align: center;

        &.episode {
            background: #FDFDFD;
            color: #000;
        }

        &.firstFiveDays {
            background: #FFFF00;
        }

        &.lastFiveDays {
            background: green;
        }

        &.notEpisode {
            color: silver;
        }

        &.patientTransferred {
            color: silver;
            background: #F5F5F5;
        }

        &.today {
            background: #FFF;
            border: 1px solid #000;
            font-weight: 700;

            .day-wrapper {
                color: #75469B;
            }
        }

        &:hover .num {
            background-color: #75469B;
            border-radius: 50%;
            color: #FFF;
            height: 25px;
            line-height: 25px;
            width: 25px;
        }

        &:hover .month {
            float: left;
            margin-left: 5px;
        }
    }

    .day {
        &:nth-child(8) {
            /* bottom row of calendar */
            border-bottom: 1px solid #CCC;
        }
    }

    .task {
        text-align: left;
        position: absolute;
        left: 5px;
        bottom: 5px;
        font-size: 10px;
        color: #75469B;

        button {
            border: none;
            background: none;
            padding: 0;
            margin: 0;
            display: block;

            &.highlight {
                background-color: #daffa3;
                color: #75469B;
                font-weight: 700;
            }
        }

        &.notSelected {
            background: #FFF;
        }
    }
}
