<div id="oasisEstimate">
<!-- {{selected.format("DD MMMM, YYYY")}} -->
  <h4>PPS Grouper response</h4>
  <span ng-click="close()" class="fa fa-remove close"></span>
  <div id="estimateData">{{estimateData}}</div>
</div>
