<div class="head-bar">
  <div class="col-md-12">
    <div class="title">
      <span class="fa fa-tags"></span><h3>Verify ability to provide care</h3>
    </div>
    <div class="buttons">
      <ul>
        <li class="cancel-btn">CANCEL</li>
        <li class="save-btn">SAVE</li>
      </ul>
    </div>
    <div class="head-bar-info">
      <ul>
        <li>ASSIGNED TO </br>
          <span ng-if="assignTo == null || assignTo == ''">Not Assigned</span>
          <span>{{assignTo}}</span>
        </li>
        <li>STATUS </br>
          <span ng-if="taco == null || taco == ''">No Status</span>
          <span>{{taco}}</span>
        </li>
        <li>DUE DATE</li>
      </ul>
    </div>
  </div>
</div>
<div class="form-background">
  <div class="row">
    <div class="col-md-12">
      <h4><b>Description</b></h4>
      <textarea rows="4" class="form-control" aria-describedby="descriptionNotes"></textarea>
      <hr>
      <h4><b>Task Items</b></h4>
      <div ng-repeat="task in tasks">
        <div class="task-item" ng-class="{firstTask:$first}">
          <span ng-class="{'display': complete == 'yes'}" class="fa fa-check float-left checkmark"></span>
          <div class="float-left">{{task}}</div>
          <ul class="float-right">
            <li class="radio">
              <label><input type="radio" name="optionsRadios" ng-model="complete" value="yes">Yes</label>
            </li>
            <li class="radio">
              <label><input type="radio" name="optionsRadios" ng-model="complete" value="no">No</label>
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <h4><b>Response</b></h4>
      <textarea rows="4" class="form-control" aria-describedby="responseNotes"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <h5>Status</h5>
          <select ng-model="taco"  type="text" class="form-control" aria-describedby="taco">
            <option value="">-Select One-</option>
            <option value="Resolved">Resolved</option>
            <option value="Assigned">Assigned</option>
          </select>
        </div>
        <div class="col-md-6">
          <h5>Assign To</h5>
          <select ng-model="assignTo"  type="text" class="form-control" aria-describedby="assignTo">
            <option value="">-Select One-</option>
            <option value="Sandra Baker">Sandra Baker</option>
            <option value="Jones Lee">Jones Lee</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
