
<div class="form-background">
  <div class="row">
    <div class="col-md-6">
      <div class="" id="calendar" style="background:white">
        <!--insert calendar-->
        {{viewDate}}
        <!-- <mwl-calendar
            view="calendarView"
            view-date="viewDate"
            events="events"
            view-title="calendarTitle"
            on-event-click="eventClicked(calendarEvent)"
            on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
            cell-is-open="false"
            slide-box-disabled="true">
        </mwl-calendar> -->
      </div>
    </div>
    <!-- <div class="col-md-6">
      <div class="" id="calendar" style="background:white">
        <mwl-calendar
            view="calendarView"
            view-date="viewDate"
            events="events"
            view-title="calendarTitle"
            on-event-click="eventClicked(calendarEvent)"
            on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
            cell-is-open="false"
            slide-box-disabled="true">
        </mwl-calendar>
      </div>
    </div> -->
      <!--pop up modal-->
      <div class="calendar-modal" ng-show="showTaskItem">
        <span ng-click="close()" class="fa fa-remove close"></span>
        <p><b>{{event.title}}</b></p>
        <p>{{event.description}}</p>
        <li><p>Sarah Hurst <span class="fa fa-clock-o"></span> Today</p></li>
        <hr>
        <p><b>Medicare Eligibility:</b><span class="fa fa-check-circle check"></span> Eligible</p>
        <hr>
        <p class="username"><span class="fa fa-user icon"></span>Sarah Hurst
          <span class="timestamp">Today at 2:10pm</span>
        </p>
        <p><b>Medicare Eligibility: Eligible</b></p>
        <span class="fa fa-comment-o float-left"></span>
        <div class="comment">
          <p>Initially it looked like he wasn't eligible but I had entered
          their DOB wrong. Updated it and tried again and they are eligible.
          </p>
        </div>
      </div>
      <!-- end-->
    </div>
  </div>
</div>
<div class="sub-head-bar">
  <div class="col-md-12">
    <div class="col-md-5">
      <div class="title">
        <span class="fa fa-tags"></span><h3>Tasks</h3>
      </div>
    </div>
    <div class="col-md-6">
      <div class="inner-addon">
        <span class="fa fa-search"></span>
        <input type="text" class="form-control" ng-model="searchText" />
      </div>
    </div>
  </div>
  <div ng-click="expand=!expand; activeIcon()" ng-class="{'active': isActive}" class="circle">
    <span ng-show="expand" class="fa fa-remove"></span>
    <span ng-hide="expand" class="fa fa-plus"></span>
  </div>
  <div class="sub-menu-icon" ng-show="expand">
    <div class="circle-sm">
      <span class="fa fa-tags"></span>
    </div>
    <div class="circle-sm">
      <span class="fa fa-home"></span>
    </div>
    <div class="circle-sm">
      <span class="fa fa-file-text fa-fw"></span>
    </div>
  </div>
</div>
<div class="input-header">
  <div class="col-md-12">
    <div class="col-md-5">
      <div class="task">
        Task<span class="caret"></span>
      </div>
    </div>
    <div class="col-md-2">Assigned To</div>
    <div class="col-md-2">Status</div>
    <div class="col-md-2">Due Date</div>
  </div>
</div>
<div class="task-item">
  <div class="col-md-12">
    <div class="col-md-5">
      <span class="fa fa-tags" aria-hidden="true"></span>Verify Medicare Eligibilty
    </div>
    <div class="col-md-2">Sandra Baker</div>
    <div class="col-md-2">Complete</div>
    <div class="col-md-2">July 4, 2016</div>
    <div class="col-md-1">
      <span class="fa fa-ellipsis-v"></span>
    </div>
  </div>
</div>
<div class="task-item">
  <div class="col-md-12">
    <div class="col-md-5">
      <span class="fa fa-tags" aria-hidden="true"></span>Verify Medicare Eligibilty
    </div>
    <div class="col-md-2">Sandra Baker</div>
    <div class="col-md-2">Complete</div>
    <div class="col-md-2">July 4, 2016</div>
    <div class="col-md-1">
      <span class="fa fa-ellipsis-v"></span>
    </div>
  </div>
</div>
