<div class="head-bar">
  <div class="col-md-12">
    <div class="title">
      <span><h3>Start of Care Visit</h3></span>
    </div>
    <div class="buttons">
      <ul>
        <li class="cancel-btn">CANCEL</li>
        <li class="save-btn">SAVE</li>
      </ul>
    </div>
    <div class="head-bar-info">
      <ul>
        <li>ASSIGNED TO </br>
          <span ng-if="assignTo == null || assignTo == ''">Not Assigned</span>
          <span>{{assignTo}}</span>
        </li>
        <li>STATUS </br>
          <span ng-if="taco == null || taco == ''">No Status</span>
          <span>{{taco}}</span>
        </li>
        <li>DUE DATE</li>
      </ul>
    </div>
  </div>
</div>
<div class="form-background">
  <div class="row">
    <div class="col-md-6" style="border-right:1px solid #C9C9C9">
      <h4><b>Scheduling</b></h4>
      <div class="row">
        <div class="col-md-6">
          <label style="line-height:29px">
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Assign for Scheduling
          </label>
          <h5>Assignee</h5>
          <select required type="text" class="form-control" aria-describedby="assignee">
            <option value="">-Select One-</option>
            <option value="Bob Smith">Bob Smith</option>
            <option value="Jones Lee">Jones lee</option>
          </select>
        </div>
        <div class="col-md-6">
          <label style="line-height:29px">
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Set Scheduled Date
          </label>
          <h5>Schedule Due</h5>
          <select required type="text" class="form-control" aria-describedby="assignee">
            <option value="">-Select One-</option>
            <option value="Bob Smith">Bob Smith</option>
            <option value="Jones Lee">Jones lee</option>
          </select>
        </div>
        <div class="col-md-12">
          <h4><b>Notes</b></h4>
          <textarea rows="4" class="form-control" aria-describedby="schedulingNotes"></textarea>
        </div>
      </div>
    </div>
    <!--************* care Assignment *********--->
    <div class="col-md-6">
      <h4><b>Care Assignment</b></h4>
      <div class="row">
        <div class="col-md-6">
          <select required type="text" class="form-control" aria-describedby="assignee">
            <option value="">-Select One-</option>
            <option value="Bob Smith">Bob Smith</option>
            <option value="Jones Lee">Jones lee</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>Assignee</h5>
          <select required type="text" class="form-control" aria-describedby="assignee">
            <option value="">-Select One-</option>
            <option value="Bob Smith">Bob Smith</option>
            <option value="Jones Lee">Jones lee</option>
          </select>
        </div>
        <div class="col-md-6">
          <h5>Reply Due</h5>
          <select required type="text" class="form-control" aria-describedby="assignee">
            <option value="">-Select One-</option>
            <option value="Bob Smith">Bob Smith</option>
            <option value="Jones Lee">Jones lee</option>
          </select>
        </div>
        <div class="col-md-12">
          <h4><b>Notes</b></h4>
          <textarea rows="4" class="form-control" aria-describedby="careAssignmentNotes"></textarea>
        </div>
      </div>
    </div><!--closes col-md-6-->
  </div><!--row-->
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h4><b>View Details</b></h4>
      <h5>Notes</h5>
      <textarea rows="4" class="form-control" aria-describedby="schedulingNotes"></textarea>
      <h5>Visit Tasks ({{forms.length}})</h5>
      <div class="input-header">
        <div class="float-left" style="line-height:34px">
          <span class="fa fa-file-text fa-fw fa-lg" aria-hidden="true"></span>
            <span class="caret"></span>
        </div>
        <div class="input-box float-left">
          <select ng-model="form" type="text" class="form-control" aria-describedby="forms">
            <option value=""></option>
            <option value="Admission Service Agreement">Admission Service Agreement</option>
            <option value="Advance Directive Acknowledgement">Advance Directive Acknowledgement</option>
            <option value="Consent to Photograph">Consent to Photograph</option>
            <option value="HHA Assignment Sheet">HHA Assignment Sheet</option>
          </select>
        </div>
          <span style="line-height:34px" ng-click="addForm(form); form=''" class="fa fa-plus-circle fa-lg"></span>
      </div>
      <div ng-repeat="form in forms">
        <div class="task-item">
          <span class="fa fa-file-text fa-fw fa-lg" aria-hidden="true"></span> {{form}}
        </div>
      </div>
    </div>
  </div>
</div><!--closes form-background-->
