<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#employee-dashboard" empnavopen='true'></header-nav>
</div>

<div id="employee-dashboard">
  <div class="head-bar">
    <div class="col-md-12">
      <h3>Employee Dashboard</h3>

    </div>
  </div>
</div>

<div class="employee-right-menu">
  <employee-expanded-nav></employee-expanded-nav>
</div>
