<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#insurance-companies" settingsnav="true"></header-nav>
</div>

<div id="insurance-companies">
  <!-- <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-medkit fa-lg"></span><h3>Insurance Companies</h3>
      </div>
      <ul>
        <li class="action-btn"><a href="#" ng-click="">Print</a></li>
        <li class="action-btn"><a href="#" ng-click="">Edit</a></li>
        <li class="action-btn"><a href="#" ng-click="">Save</a></li>
        <li class="action-btn"><a href="#" ng-click="">Cancel</a></li>
      </ul>
    </div>
  </div> -->
  <div class="search-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <span class="fa fa-medkit fa-lg"></span>
          <span class="text-heading">Insurance Companies</span>
          <!-- <select class="form-control" ng-model="insuranceType" ng-change="updateInsuranceList(insuranceType)">
            <option value="ALL">All</option>
            <option value="INSURANCETYPE1">Insurance Type 1</option>
            <option value="INSURANCETYPE2">Insurance Type 2</option>
            <option value="INSURANCETYPE3">Insurance Type 3</option>
          </select> -->
          <select name="TYPE" class="form-control"
                  ng-model="TYPE"
                  ng-options="insurance.TYPE as insurance.TYPE for insurance in insurances">
            <option value="">-ALL-</option>
          </select>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" placeholder="Search by Name" ng-model="searchText" />
          </div>
        </div>
        <div class="col-md-1">
          <div class="add-insurance">
            <span class="glyphicon glyphicon-plus" ng-click="newInsurance($event)"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="insurance-row-head">
    <div class="container">
      <div class="row">
        <div class="insurance-row-title">
          <div class="col-md-1">
            Type
          </div>
          <div class="col-md-2">
            Name
          </div>
          <div class="col-md-2">
            Address
          </div>
          <div class="col-md-2">
            City
          </div>
          <div class="col-md-1">
            State
          </div>
          <div class="col-md-1">
            Zip
          </div>
          <div class="col-md-2">
            Phone
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="insurance-info-row" ng-click="showInsuranceDetail(insurance)" ng-class="{selected: insurance.selected}" ng-repeat="insurance in insurances | filter: {TYPE:TYPE || undefined, NAME:searchText} | limitTo:20">
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-3">
          <div class="insurance-name-column">
            <span class="icon-account_circle icon-size-5"></span>
            <div class="insurance-name" ng-click="noHighlight()"><a ui-sref="patientDashboard({patient: patient})">{{patient.FNAME}} {{patient.LNAME}}</a></div>
          </div>
        </div> -->
        <div class="col-md-1">
          <div class="insurance-info-item">
            {{insurance.TYPE}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="insurance-info-item">
            {{insurance.NAME}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="insurance-info-item">
            {{insurance.ADDRESS}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="insurance-info-item">
            {{insurance.CITY}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="insurance-info-item">
            {{insurance.STATE}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="insurance-info-item">
            {{insurance.ZIP}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="insurance-info-item">
            {{insurance.PHONE | tel}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="settings-right-menu">
  <settings-expanded-nav></settings-expanded-nav>
</div>
