<div id="upload-document">
  <h1>Upload Documents</h1>
  <div class="row">
    <form>
      <div class="col-md-12">
        <label for="upload-photo">Browse...</label>
        <input type="file" name="photo" id="upload-photo" />
      </div>
      <div class="col-md-12">
        <input type="submit" class="btn btn-default" />
      </div>
    </form>
  </div>
</div>
