#upload-document {
  h1 {
    margin-bottom: 50px;
  }
  padding: 15px 30px;
  text-align: center;
  label {
   cursor: pointer;
}

#upload-photo {
   opacity: 1;
   position: absolute;
   z-index: -1;
}
}
