<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#death-at-home" oasisnav="true"></header-nav>
</div>

<div id="death-at-home" class="oasisC2-ICD10">
  <div class="create-bar">
    <div class="container small">
      <a ui-sref="records"><i class="fa fa-arrow-left"></i></a>
      DEATH AT HOME - {{currentForm}}
      <button type="button" class="btn btn-primary" ng-click="scrubber()">Scrubber</button>
      <button type="button" class="btn btn-success" ng-click="saveDeathAtHome()">Submit to QA</button>
      <!-- <button type="button" class="btn btn-success" ng-if="ClinicalRecordItemsComplete === true && MedicationsComplete ===true && EmergentCareComplete === true" ng-click="saveDeathAtHome()">Submit to QA</button> -->
    </div>
  </div>
  <div class="error-box"ng-show="errorMsg" ng-click="errorMsg=!errorMsg">
    <div class="error-title">
      <i class="fa fa-angle-double-right"></i> ERRORS
    </div>
    <div class="error-msg">
      {{error}}
    </div>
  </div>
  <div class="error-box-expand" ng-hide="errorMsg" ng-init="errorMsg=true" ng-click="errorMsg=!errorMsg">
    <div class="error-title">
      <i class="fa fa-angle-double-left"></i> ERRORS
    </div>
  </div>

  <!-- ********** ClinicalRecordItems ********** -->
  <form name="clinical" novalidate id="clinical">
    <section class="ClinicalRecordItems">
      <table cellspacing="1" cellpadding="2" style="width: 100%; border: 0px;" class="formtable">
        <tbody>
          <tr class="M0080">
            <td class="motag" width="92">M0080</td>
            <td class="tbl_field" width="140" align="right">Discipline of Person Completing Assessment:</td>
            <td width="848" colspan="3">
              <div class="field-error" ng-show="clinical.M0080_ASSESSOR_DISCIPLINE.$touched && clinical.M0080_ASSESSOR_DISCIPLINE.$invalid || clinical.M0080_ASSESSOR_DISCIPLINE.$invalid && clinical.$submitted">Dicipline is required.</div>
              <input required ng-model="M0080_ASSESSOR_DISCIPLINE" type="radio" name="M0080_ASSESSOR_DISCIPLINE" id="completion_1" value="1"> 1-RN
              <input required ng-model="M0080_ASSESSOR_DISCIPLINE" type="radio" name="M0080_ASSESSOR_DISCIPLINE" id="completion_2" value="2"> 2-PT
              <input required ng-model="M0080_ASSESSOR_DISCIPLINE" type="radio" name="M0080_ASSESSOR_DISCIPLINE" id="completion_3" value="3"> 3-SLP/ST
              <input required ng-model="M0080_ASSESSOR_DISCIPLINE" type="radio" name="M0080_ASSESSOR_DISCIPLINE" id="completion_4" value="4"> 4-OT
            </td>
          </tr>
          <tr class="M0090">
              <td class="motag" width="92">M0090</td>
              <td class="tbl_field" width="140" align="right">Date Assessment Completed:</td>
              <td width="848" colspan="3">
                <div class="field-error" ng-show="clinical.M0090_INFO_COMPLETED_DT.$touched && clinical.M0090_INFO_COMPLETED_DT.$invalid || clinical.M0090_INFO_COMPLETED_DT.$invalid && clinical.$submitted">Date is required.</div>
                <div class="input-group" style="margin:0;width:60%">
                  <input type="text"
                        class="form-control"
                        uib-datepicker-popup='yyyy-MM-dd'
                        ng-model="M0090_INFO_COMPLETED_DT"
                        is-open="openedM0090"
                        show-button-bar="false"
                        ng-click="openedM0090=true"
                        datepicker-append-to-body="true"
                        alt-input-formats="altInputFormats" />
                  <span class="input-group-btn" >
                    <button type="button" class="btn btn-default" ng-click="openedM0090=true"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
                  <!-- <input required ng-model="M0090_INFO_COMPLETED_DT" type="date" name="M0090_INFO_COMPLETED_DT" id="dtDateAssessmentCompleted"> -->
              </td>
          </tr>
        </tbody>
      </table>
      <div class="bottom-nav">
        <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="submitSection(clinical, 'EmergentCare')">Finished<i class="glyphicon glyphicon-ok"></i></button>
      </div>
    </section>
  </form>

  <!-- ********** Medications ********** -->
  <form name="medications" novalidate>
    <section class="Medications" style="display:none;">
      <table cellspacing="1" cellpadding="2" style="width: 100%; border: 0px;" class="formtable">
        <tbody>
          <tr class="M2005">
              <td class="motag" width="92">M2005</td>
              <td class="tbl_field" width="140" align="right">Medication Intervention:</td>
              <td width="848" colspan="3">
                Did the agency contact and complete physician (or physician-designee) prescribed/recommended
                actions by midnight of the next calendar day each time potential clinically significant
                medication issues were identified since the SOC/ROC?<br />
                <div class="field-error" ng-show="medications.M2005.$touched && medications.M2005.$invalid || medications.M2005.$invalid && medications.$submitted">Please select one.</div>
                  <input required ng-model="M2005_MDCTN_INTRVTN" type="radio" name="M2005" id="M2005_1" value="0"> 0 - No <br />
                  <input required ng-model="M2005_MDCTN_INTRVTN" type="radio" name="M2005" id="M2005_2" value="1"> 1 - Yes <br />
                  <input required ng-model="M2005_MDCTN_INTRVTN" type="radio" name="M2005" id="M2005_3" value="NA"> NA - There were no potential clinically significant medication issues
                  identified since SOC/ROC or patient is not taking any medications
              </td>
          </tr>
        </tbody>
      </table>
      <div class="bottom-nav">
        <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="submitSection(medications, 'EmergentCare')">Finished<i class="glyphicon glyphicon-ok"></i></button>
      </div>
    </section>
  </form>
  <!-- ********** EmergentCare ********** -->
  <form name="emergentCare" novalidate>
    <section class="EmergentCare" style="display:none;">
      <table cellspacing="1" cellpadding="2" style="width: 100%; border: 0px;" class="formtable">
        <tbody>
          <tr class="M0903">
              <td class="motag" width="92">M0903</td>
              <td class="tbl_field" width="140" align="right">Date of Last (Most Recent) Home Visit:</td>
              <td width="848" colspan="3">
                <div class="field-error" ng-show="emergentCare.M0903.$touched && emergentCare.M0903.$invalid || emergentCare.M0903.$invalid && emergentCare.$submitted">Please select a date.</div>
                <div class="input-group" style="margin:0;width:60%">
                  <input type="text"
                        class="form-control"
                        uib-datepicker-popup='yyyy-MM-dd'
                        ng-model="M0903_LAST_HOME_VISIT"
                        is-open="openedM0903"
                        show-button-bar="false"
                        ng-click="openedM0903=true"
                        datepicker-append-to-body="true"
                        alt-input-formats="altInputFormats" />
                  <span class="input-group-btn" >
                    <button type="button" class="btn btn-default" ng-click="openedM0903=true"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
                  <!-- <input required ng-model="M0903_LAST_HOME_VISIT" type="date" name="M0903" id="M0903"> month / day / year -->
              </td>
          </tr>
          <tr class="M0906">
              <td class="motag" width="92">M0906</td>
              <td class="tbl_field" width="140" align="right">Discharge/Transfer/Death Date: Enter the date of the discharge, transfer, or death (at home) of the patient:</td>
              <td width="848" colspan="3">
                <div class="field-error" ng-show="emergentCare.M0906.$touched && emergentCare.M0906.$invalid || emergentCare.M0906.$invalid && emergentCare.$submitted">Please select a date.</div>
                <div class="input-group" style="margin:0;width:60%">
                  <input type="text"
                        class="form-control"
                        uib-datepicker-popup='yyyy-MM-dd'
                        ng-model="M0906_DC_TRAN_DTH_DT"
                        is-open="openedM0906"
                        show-button-bar="false"
                        ng-click="openedM0906=true"
                        datepicker-append-to-body="true"
                        alt-input-formats="altInputFormats" />
                  <span class="input-group-btn" >
                    <button type="button" class="btn btn-default" ng-click="openedM0906=true"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
                  <!-- <input required ng-model="M0906_DC_TRAN_DTH_DT" type="date" name="M0906" id="M0906"> month / day / year -->
              </td>
          </tr>
        </tbody>
      </table>
      <div class="bottom-nav">
        <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="submitSection(emergentCare, 'EmergentCare')">Finished<i class="glyphicon glyphicon-ok"></i></button>
      </div>
    </section>
  </form>
</div>

<div class="oasisForm-nav">
  <div class="menu-headline">
    {{patient.FNAME}}
  </div>

  <div class="inner-formnav">
    <!-- <div class="form-section" ng-class="{ 'active' : activeForm('General')}" id="General" ng-click="nextForm(currentForm, 'General');">General <br><span>(M0100-M0150)</span><i class="glyphicon glyphicon-ok-circle"></i></div> -->
    <div class="form-section" ng-class="{ 'active' : activeForm('ClinicalRecordItems')}" id= "ClinicalRecordItems" ng-click="nextForm(currentForm, 'ClinicalRecordItems');">Clinical Record Items <br><span>(M0080-M0110)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
    <!-- <div class="form-section" ng-class="{ 'active' : activeForm('PatientHistoryAndDiagnoses')}" id="PatientHistoryAndDiagnoses" ng-click="nextForm(currentForm, 'PatientHistoryAndDiagnoses');">Patient History And Diagnoses <br><span>(M1000-M1055)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
    <div class="form-section" ng-class="{ 'active' : activeForm('LivingArrangements')}" id="LivingArrangements" ng-click="nextForm(currentForm, 'LivingArrangements');">Living Arrangements <br><span>(M1100)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
    <div class="form-section" ng-class="{ 'active' : activeForm('SensoryStatus')}" id="SensoryStatus" ng-click="nextForm(currentForm, 'SensoryStatus');">Sensory Status <br><span>(M1200-M1241)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
    <div class="form-section" ng-class="{ 'active' : activeForm('IntegumentaryStatus')}" id="IntegumentaryStatus" ng-click="nextForm(currentForm, 'IntegumentaryStatus');">Integumentary Status <br><span>(M1300-M1350)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
    <div class="form-section" ng-class="{ 'active' : activeForm('RespiratoryStatus')}" id="RespiratoryStatus" ng-click="nextForm(currentForm, 'RespiratoryStatus');">Respiratory Status <br><span>(M1400-M1410)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
    <div class="form-section" ng-class="{ 'active' : activeForm('CardiacStatus')}" id="CardiacStatus" ng-click="nextForm(currentForm, 'CardiacStatus');">Cardiac Status <br><span>(M1500-M1510)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
    <div class="form-section" ng-class="{ 'active' : activeForm('EliminationStatus')}" id="EliminationStatus" ng-click="nextForm(currentForm, 'EliminationStatus');">Elimination Status <br><span>(M1600-M1630)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
    <div class="form-section" ng-class="{ 'active' : activeForm('BehavioralStatus')}" id="BehavioralStatus" ng-click="nextForm(currentForm, 'BehavioralStatus');">Neuro/Emotional/Behavioral Status <br><span>(M1700-M1750)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
    <div class="form-section" ng-class="{ 'active' : activeForm('ADL')}" id="ADL" ng-click="nextForm(currentForm, 'ADL');">ADL/IADLs <br><span>(M1800-M1910)</span><i class="glyphicon glyphicon-ok-circle"></i></div> -->
    <div class="form-section" ng-class="{ 'active' : activeForm('Medications')}" id="Medications" ng-click="nextForm(currentForm, 'Medications');">Medications <br><span>(M2000-M2040)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
    <!-- <div class="form-section" ng-class="{ 'active' : activeForm('CareManagement')}" id="CareManagement" ng-click="nextForm(currentForm, 'CareManagement');">Care Management <br><span>(M2100-M2110)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
    <div class="form-section" ng-class="{ 'active' : activeForm('Therapy')}" id="Therapy" ng-click="nextForm(currentForm, 'Therapy');">Therapy Need/Plan of Care <br><span>(M2200-M2250)</span><i class="glyphicon glyphicon-ok-circle"></i></div> -->
    <div class="form-section" ng-class="{ 'active' : activeForm('EmergentCare')}" id="EmergentCare" ng-click="nextForm(currentForm, 'EmergentCare');">Emergent Care <br><span>(M2300-M0906)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
  </div>
</div>
