// #discharge {
//   margin-left: 370px;
//   overflow: hidden;
//   position: relative;
//   background: #FFF;
//
//   .scrubber {
//     color:red;
//   }
//
//   .original {
//     color:black
//   }
//
//   .error{
//     color:red;
//   }
//
//
//   form {
//     width: 75%;
//     float: left;
//   }
//   .field-error {
//     margin: 0;
//   }
//   td {
//     padding: 5px;
//   }
//   label {
//     font-weight: normal
//   }
//   input[type='text'], input[type='number'], input[type='password'], textarea, select {
//     padding: 4px;
//     font-size: 12px;
//     background-color: #FFF;
//     border: 1px #DDD solid;
//     -webkit-border-radius: 5px;
//     -moz-border-radius: 5px;
//     border-radius: 5px;
//     outline: none;
//   }
//   input[type='text'], input[type='number'],input[type='date'],textarea, select {
//     &.disableInput{
//       background-color: #EDEEF3;
//
//     }
//   }
//
//   //DATE PICKER
//   ::-webkit-calendar-picker-indicator {
//     color: rgba(0, 0, 0, 0);
//     background-color:#fff;
//     opacity: 0;
//      width:110%;
//     position: absolute;
//     left:0;
//   }
//
//   ::-webkit-inner-spin-button {
//       display: none;
//       -webkit-appearance: none;
//   }
//   .formtable {
//     border-spacing: 1px 1px;
//     border-collapse: separate;
//   }
//   .motag {
//     padding: 5px;
//     vertical-align: top;
//     padding-top: 8px;
//     background: #E7ECF2;
//     color: #333;
//     font-weight: bold;
//     text-align: right;
//     font-size: 12px;
//   }
//   .tbl_field {
//     background: #EDEEF3;
//     padding: 5px;
//     font-size: 12px;
//     font-weight: bold;
//     height: 27px;
//     vertical-align: top;
//     padding-top: 8px;
//   }
//   .input_normal {
//     width: 220px;
//   }
//   .require {
//     color: #F00;
//   }
//   .create-bar {
//     z-index: 100;
//     // right: 0px;
//     // left: 270px;
//     // position: fixed;
//     background: #FFF;
//     font-size: 30px;
//     height: 60px;
//     padding: 12px 0;
//     box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
//     button {
//       margin: 0 10px;
//       float: right;
//     }
//     a {
//       float:left;
//       margin-top: -3px;
//       cursor: pointer;
//     }
//     i {
//       margin-right: 10px;
//       font-size: 15px;
//       text-decoration: none;
//       border-right: 1px solid lightgrey;
//       padding: 8px 15px 8px 0px;
//     }
//   }
//   #general {
//     // margin-top: 60px;
//   }
//   .bottom-nav {
//     i {
//       margin-left: 8px;
//     }
//     button {
//       margin: 10px;
//     }
//   }
//   .error-box-expand {
//     top: 60px;
//     position:fixed;
//     right:0px;
//     float: right;
//
//     .error-title {
//       color: #FFF;
//       background: #EA0000;
//       padding: 10px 20px;
//       display: inline-block;
//       font-size: 15px;
//     }
//   }
//   .error-box {
//     margin-right: -350px;
//     overflow-y: scroll;
//     bottom: 0;
//     float: right;
//     width: 300px;
//     .error-title {
//       color: #FFF;
//       background: #EA0000;
//       padding: 10px 20px;
//       display: inline-block;
//       font-size: 15px;
//       width: 100%;
//     }
//     .error-msg {
//       color: #a5322e;
//       padding: 10px;
//       word-wrap: break-word;
//       background: #F9888F;
//     }
//   }
//
//
//   input[type='text']{
//       &.scrubber {
//       height: 34px;
//       width:100%;
//       padding: 4px;
//       font-size: 12px;
//       border: 1px #DDD solid;
//       -webkit-border-radius: 5px;
//       -moz-border-radius: 5px;
//       border-radius: 5px;
//       outline: none;
//       background-color: #EA0000;
//       color:white;
//     }
//   }
//
//   .loader {
//     border: 4px solid #f3f3f3; /* Light grey */
//     border-top: 4px solid #3498db; /* Blue */
//     border-radius: 50%;
//     margin-bottom: -5px;
//     width: 20px;
//     height: 20px;
//     line-height: 41px;
//     animation: spin 1.5s linear infinite;
//     display: inline-block;
//     &.hideLoader {
//       display: none;
//     }
//
//   }
//
//
//   @keyframes spin {
//       0% { transform: rotate(0deg); }
//       100% { transform: rotate(360deg); }
//   }
//   .ng-show.ng-show-animate{
//      display: none !important;
//   }
//
// }
