<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#employee-create"></header-nav>
</div>

<div id="employee-create">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-users fa-lg"></span><h3>Create New Employee</h3>
      </div>
      <ul>
        <button class="btn btn-primary" ng-click="createEmployee(newEmployee, newEmployee.$valid); submitClicked=true">Create</button>
        <button class="btn btn-primary" ui-sref="employeeSearch">Cancel</button>
      </ul>
    </div>
  </div>
  <div class="form-background">
    <div class="row">
      <form name="newEmployee" novalidate>
        <!-- <section class="Prog"> -->
          <div class="container small">
            <div class="row">
              <div class="col-md-6">
                <div class="input-field-group">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="LOGINNAME">* Login</span>
                      <input required type="text" name="LOGINNAME" ng-model="LOGINNAME" class="form-control" tabindex="1" aria-describedby="LOGINNAME">
                    </div>
                    <div ng-show="newEmployee.LOGINNAME.$invalid && submitClicked" class="field-error">Enter a valid login name.</div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="PASSWORD">* Password</span>
                      <input required type="password" name="PASSWORD" ng-model="PASSWORD" class="form-control" tabindex="2" aria-describedby="PASSWORD">
                    </div>
                    <div ng-show="newEmployee.PASSWORD.$invalid && submitClicked" class="field-error">Enter a valid password.</div>
                  </div>
                </div>
                <div class="input-field-group">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="FNAME">* First Name</span>
                      <input required type="text" name="FNAME" ng-model="FNAME" class="form-control" tabindex="3" aria-describedby="FNAME">
                    </div>
                    <div ng-show="newEmployee.FNAME.$invalid && submitClicked" class="field-error">Enter a valid first name.</div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="LNAME">* Last Name</span>
                      <input required type="text" name="LNAME" ng-model="LNAME" class="form-control" tabindex="4" aria-describedby="LNAME">
                    </div>
                    <div ng-show="newEmployee.LNAME.$invalid && submitClicked" class="field-error">Enter a valid last name.</div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="EMAIL">Email (Optional)</span>
                      <input type="text" name="EMAIL" ng-model="EMAIL" class="form-control" tabindex="5" aria-describedby="EMAIL">
                    </div>
                    <div ng-show="newEmployee.EMAIL.$invalid && submitClicked" class="field-error">Enter a valid email.</div>
                  </div>
                </div>
                <div class="input-field-group">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="ADDRESS">* Address</span>
                      <input required type="text" name="ADDRESS" ng-model="ADDRESS" class="form-control" tabindex="6" aria-describedby="ADDRESS">
                    </div>
                    <div ng-show="newEmployee.ADDRESS.$invalid && submitClicked" class="field-error">Enter a valid address.</div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="CITY">* City</span>
                      <input required type="text" name="CITY" ng-model="CITY" class="form-control" tabindex="7" aria-describedby="CITY">
                    </div>
                    <div ng-show="newEmployee.CITY.$invalid && submitClicked" class="field-error">Enter a valid city.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="STATE">* State</span>
                      <select required name="STATE" ng-model="STATE" class="form-control" tabindex="8" aria-describedby="STATE">
                        <option value="">-Select One-</option>
                        <option value="AL">AL</option>
                        <option value="AK">AK</option>
                        <option value="AZ">AZ</option>
                        <option value="AR">AR</option>
                        <option value="CA">CA</option>
                        <option value="CO">CO</option>
                        <option value="CT">CT</option>
                        <option value="DE">DE</option>
                        <option value="FL">FL</option>
                        <option value="GA">GA</option>
                        <option value="HI">HI</option>
                        <option value="ID">ID</option>
                        <option value="IL">IL</option>
                        <option value="IN">IN</option>
                        <option value="IA">IA</option>
                        <option value="KS">KS</option>
                        <option value="KY">KY</option>
                        <option value="LA">LA</option>
                        <option value="ME">ME</option>
                        <option value="MD">MD</option>
                        <option value="MA">MA</option>
                        <option value="MI">MI</option>
                        <option value="MN">MN</option>
                        <option value="MS">MS</option>
                        <option value="MO">MO</option>
                        <option value="MT">MT</option>
                        <option value="NE">NE</option>
                        <option value="NV">NV</option>
                        <option value="NH">NH</option>
                        <option value="NJ">NJ</option>
                        <option value="NM">NM</option>
                        <option value="NY">NY</option>
                        <option value="NC">NC</option>
                        <option value="ND">ND</option>
                        <option value="OH">OH</option>
                        <option value="OK">OK</option>
                        <option value="OR">OR</option>
                        <option value="PA">PA</option>
                        <option value="RI">RI</option>
                        <option value="SC">SC</option>
                        <option value="SD">SD</option>
                        <option value="TN">TN</option>
                        <option value="TX">TX</option>
                        <option value="UT">UT</option>
                        <option value="VT">VT</option>
                        <option value="VA">VA</option>
                        <option value="WA">WA</option>
                        <option value="WV">WV</option>
                        <option value="WI">WI</option>
                        <option value="WY">WY</option>
                      </select>
                    </div>
                    <div ng-show="newEmployee.STATE.$invalid && submitClicked" class="field-error">Enter a valid state.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="ZIP">* Zip</span>
                      <input required type="text" name="ZIP" ng-model="ZIP" class="form-control" tabindex="9" ui-mask="99999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="ZIP">
                    </div>
                    <div ng-show="newEmployee.ZIP.$invalid && submitClicked" class="field-error">Enter a valid zip.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="PHONE">* Phone</span>
                      <input required type="text" name="PHONE" ng-model="PHONE" class="form-control" tabindex="10" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" aria-describedby="PHONE">
                    </div>
                    <div ng-show="newEmployee.PHONE.$invalid && submitClicked" class="field-error">Enter a valid phone.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="CELL">Cell (Optional)</span>
                      <input type="text" name="CELL" ng-model="CELL" class="form-control" tabindex="11" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_"  aria-describedby="CELL">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="FAX">Fax (Optional)</span>
                      <input type="text" name="FAX" ng-model="FAX" class="form-control" tabindex="12" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_"  aria-describedby="FAX">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-field-group">
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="STATUS">* Status</span>
                      <select required type="text" name="STATUS" ng-model="STATUS" class="form-control" tabindex="13" aria-describedby="STATUS">
                        <option value="">-Select One-</option>
                        <option value="A">Active</option>
                        <option value="I">Inactive</option>
                      </select>
                    </div>
                    <div ng-show="newEmployee.STATUS.$invalid && submitClicked" class="field-error">Enter a valid status.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="CONTRACTOR">* Contractor</span>
                      <select required type="text" name="CONTRACTOR" ng-model="CONTRACTOR" class="form-control" tabindex="14" aria-describedby="CONTRACTOR">
                        <option value="">-Select One-</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                      </select>
                    </div>
                    <div ng-show="newEmployee.CONTRACTOR.$invalid && submitClicked" class="field-error">Enter a valid contractor.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="TITLE">* Title</span>
                      <select required type="text" name="TITLE" ng-model="TITLE" class="form-control" tabindex="15" aria-describedby="TITLE">
                        <option value="">-Select One-</option>
                        <option value="OFFICE">Office</option>
                        <option value="LPN">LPN</option>
                        <option value="RN">RN</option>
                        <option value="CNA">CNA</option>
                        <option value="PT">PT</option>
                        <option value="PTA">PTA</option>
                        <option value="OT">OT</option>
                        <option value="OTA">OTA</option>
                        <option value="ST">ST</option>
                        <option value="MSW">MSW</option>
                        <option value="RD">RD</option>
                      </select>
                    </div>
                    <div ng-show="newEmployee.TITLE.$invalid && submitClicked" class="field-error">Enter a valid title.</div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="DISCIPLINE">* Discipline</span>
                      <select required type="text" name="DISCIPLINE" ng-model="DISCIPLINE" class="form-control" tabindex="16" aria-describedby="DISCIPLINE">
                        <option value="">-Select One-</option>
                        <option value="SN">SN</option>
                        <option value="LPN">LPN</option>
                        <option value="HA">HA</option>
                        <option value="PT">PT</option>
                        <option value="OT">OT</option>
                        <option value="ST">ST</option>
                        <option value="MSW">MSW</option>
                        <option value="OTHER">OTHER</option>
                      </select>
                    </div>
                    <div ng-show="newEmployee.DISCIPLINE.$invalid && submitClicked" class="field-error">Enter a valid discipline.</div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon" id="GROUPKEYID">* Group</span>
                      <select required name="GROUPKEYID" class="form-control" tabindex="17"
                              ng-model="GROUPKEYID"
                              ng-options="userGroup.DESCRIPTION for userGroup in userGroups">
                        <option value="">-Select One-</option>
                      </select>
                    </div>
                  </div>
                  <div ng-show="newEmployee.GROUPKEYID.$invalid && submitClicked" class="field-error">Enter a valid group.</div>
                  <a href="#" ng-click="viewGroups()" class="pull-right">Add/View Groups</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
