#employee-create {
  margin-left: 160px;
  position: relative;
  background: #FFF;
  padding-top: 60px;
  .head-bar {
    height: 60px;
    padding: 0 0 0 15px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .col-md-12 {
      padding-left: 0;
      padding-right: 20px;
      height: 60px;
    }
    a {
      text-decoration: none;
      color: #FFF;
    }
  }
  ul {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    float: right;
    .action-btn {
      border: 1px solid #795E9F;
      background: #795E9F;
      border-radius: 4px;
      color: white;
      float: left;
      padding: 10px 18px;
      margin-left:10px;
      width: 80px;
      text-align: center;
      cursor: pointer;
      &.cancel {
        background: none;
        color: #795E9F;
        border: 1px solid #795E9F;
        width: 80px;
      }
    }


  }
  .title {
    float: left;
    span {
      line-height: 60px;
      margin: 0 20px;
      float: left;
    }
    h3 {
      line-height: 60px;
      margin: 0;
      float: left;
    }
  }
  .form-background {
    padding: 20px 40px;
    background-color: #F5F5F5;
  }
  .input-group {
    margin-bottom: 10px;
  }
  .input-field-group {
    overflow: auto;
      margin-top: 30px;
      margin-bottom: 20px;
  }
  .input-group-addon {
    min-width:150px;
    text-align: left;
  }
  .expand {
    display: inline-block;
    // height: 100px;
    background: #FFF;
    margin-top: -10px;
    border: 1px solid #C9C9C9;
    margin-bottom: 10px;
    padding: 20px 5px;
    max-height: 400px;
    .col-md-12 {
      max-height: 300px;
      overflow: auto;
      margin-bottom: 20px;
    }
  }
  .expand-section {
    padding: 10px 15px;
    .col-md-4 {
      padding: 0;
    }
  }
  .section-head {
    box-sizing: content-box;
    background: #F5F5F5;
    padding: 0 10px;
    height: 36px;
    border: 1px solid #C9C9C9;
    h5 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .section-title {
    box-sizing: content-box;
    background: #FFF;
    padding: 0 10px;
    height: 36px;
    border: 1px solid #C9C9C9;
    // border-top: none;
    h5 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .arrow {
      margin-top: 10px;
    }
  }
  .section-item {
    font-size: 14px;
    padding: 5px 23px;
    height: 26px;
    .checkbox {
      margin: -2px -10px 0;
    }
  }
  .field-error {
    color: red;
    margin-bottom: 10px;
    margin-left: 150px;
  }
  // .field-error-sm {
  //   color: red;
  //   margin-bottom: 10px;
  //   margin-left: 150px;
  // }
  .form-control.ng-invalid.ng-touched {
    border: 1px solid red;
  }
}
