#view-groups {
  position: relative;
  background: #FFF;
  a {
    text-decoration: none;
    color: #FFF;
  }
  .head-bar {
    height: 60px;
    padding: 0 0 0 15px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .col-md-12 {
      padding-left: 0;
      padding-right: 20px;
      height: 60px;
    }
    .fa-remove {
        margin-top: 10px;
        margin-right: -10px;
        color: #C9C9C9;
        cursor: pointer;
    }
  }
  .title {
    float: left;
    span {
      line-height: 60px;
      margin: 0 20px;
      float: left;
    }
    h3 {
      line-height: 60px;
      margin: 0;
      float: left;
    }
  }
  .form-background {
    padding: 40px;
    background-color: #F5F5F5;
  }
  select {
    width: 250px;
  }
  input [type='text']{
    width: 100%;
    background: #F1F1F1;
    font-size: 20px;
  }
  .inner-addon {
    position: relative;
  }
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  .left-addon .glyphicon  { left:  0px;}
  .left-addon input  { padding-left:  30px; }

  .expand {
    max-height: 500px;
    .col-md-12 {
      margin-top: 20px;
      max-height: 450px;
      overflow: auto;
    }
  }
  .expand-section {
    padding: 10px 15px;
    .col-md-4 {
      padding: 0;
    }
  }
  .section-head {
    box-sizing: content-box;
    background: #F5F5F5;
    padding: 0 10px;
    height: 36px;
    border: 1px solid #C9C9C9;
    h5 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .section-title {
    box-sizing: content-box;
    background: #FFF;
    padding: 0 10px;
    height: 36px;
    border: 1px solid #C9C9C9;
    h5 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .arrow {
      margin-top: 10px;
    }
  }
  .section-item {
    font-size: 14px;
    padding: 5px 23px;
    height: 26px;
    .checkbox {
      margin: -2px -10px 0;
    }
  }
  .cancel {
    background: none;
    color: #6D559B;
    border-color: #6D559B;
  }
  .btn-footer {
    margin-top: 20px;
    margin-right: 20px;
  }

  #new-form {
    .expand {
      .form-inline {
        margin-top: 0px;
      }
    }
    .new-group-title {
      line-height: 34px;
      span {
        margin-right: 10px;
      }
      input {
        width: 200px;
      }
    }
  }
}
