<div id="view-groups">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags"></span><h3>Groups</h3>
      </div>
      <span class="fa fa-remove pull-right" ng-click="close()"></span>
    </div>
  </div>
  <div class="form-background" ng-show="newForm" ng-include src="'views/modals/viewGroups/partials/newForm.html'"></div>
  <div class="form-background" ng-hide="newForm">
    <div class="row">
      <div class="col-md-12 col-sm-12 form-inline">
          <span class="">Group Name:</span>
          <select name="GROUPKEYID" class="form-control" ng-hide="editMode"
                  ng-change="updateUserGroup(selectUserGroup)"
                  ng-model="selectUserGroup"
                  ng-options="userGroup.DESCRIPTION for userGroup in userGroups">
            <option value="">-Select One-</option>
          </select>
          <input id="DESCRIPTION" name="DESCRIPTION" ng-model="activeUserGroup.DESCRIPTION" type="text" ng-show="editMode">
        <button ng-show="editModeBtn" class="btn btn-primary pull-right" ng-click="enableEditGroup(groupName)"><span class="fa fa-pencil"></span></button>
        <button ng-show="editModeBtn" class="btn btn-primary pull-right" ng-click="deleteUserGroup(selectUserGroup)"><span class="fa fa-minus"></span></button>
        <button class="btn btn-primary pull-right" ng-click="openNewUserGroupForm()"><span class="fa fa-plus"></span></button>
      </div>
    </div>
    <div class="row">
      <ng-form name="newGroup" class="expand">
        <div class="col-md-12">
          <section class="Program">
            <div class="section-head">
              <h5 class="pull-left">Program Area</h5>
              <h5 class="pull-right">Access</h5>
            </div>
            <div class="section-title" ng-click="expandPatientInfo=!expandPatientInfo; checkPatientInfo=!checkPatientInfo">
              <h5 class="pull-left">Patient Information</h5>
              <div class="arrow pull-right">
                <span ng-hide="checkPatientInfo" class="fa fa-chevron-down"></span>
                <span ng-show="checkPatientInfo" class="fa fa-chevron-up"></span>
              </div>
            </div>
            <div class="expand-section" ng-show="expandPatientInfo">
              <div class="row">
                <div class="col-md-4">
                  <div class="section-item">
                    <div class="pull-left">Assessments</div>
                    <div class="checkbox pull-right">
                      <label>
                        <input name="ASSESSMENTS"  ng-true-value="1" ng-false-value="0" ng-model="activeUserGroup.ASSESSMENTS" ng-disabled="isCheckboxDisabled" type="checkbox">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="section-item">
                    <div class="pull-left">Orders</div>
                    <div class="checkbox pull-right">
                      <label>
                        <input name="ORDERS" ng-true-value="1" ng-false-value="0" ng-model="activeUserGroup.ORDERS" ng-disabled="isCheckboxDisabled" type="checkbox">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="section-item">
                    <div class="pull-left">Care Plans</div>
                    <div class="checkbox pull-right">
                      <label>
                        <input name="CARE_PLANS" ng-true-value="1" ng-false-value="0" ng-model="activeUserGroup.CARE_PLANS" ng-disabled="isCheckboxDisabled" type="checkbox">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="section-item">
                    <div class="pull-left">Scheduling</div>
                    <div class="checkbox pull-right">
                      <label>
                        <input name="PATIENT_SCHEDULING" ng-true-value="1" ng-false-value="0" ng-model="activeUserGroup.PATIENT_SCHEDULING" ng-disabled="isCheckboxDisabled" type="checkbox">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="section-item">
                    <div class="pull-left">Visits</div>
                    <div class="checkbox pull-right">
                      <label>
                        <input name="VISITS" ng-true-value="1" ng-false-value="0" ng-model="activeUserGroup.VISITS" ng-disabled="isCheckboxDisabled" type="checkbox">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="section-item">
                    <div class="pull-left">Claims</div>
                    <div class="checkbox pull-right">
                      <label>
                        <input name="CLAIMS" ng-true-value="1" ng-false-value="0" ng-model="activeUserGroup.CLAIMS" ng-disabled="isCheckboxDisabled" type="checkbox">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="section-item">
                    <div class="pull-left">Employee Information</div>
                    <div class="checkbox pull-right">
                      <label>
                        <input name="EMPLOYEE_INFORMATION" ng-true-value="1" ng-false-value="0" ng-model="activeUserGroup.EMPLOYEE_INFORMATION" ng-disabled="isCheckboxDisabled" type="checkbox">
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section-title" ng-click="expandEmployeeInfo=!expandEmployeeInfo; checkEmployeeInfo=!checkEmployeeInfo">
              <h5 class="pull-left">Employee Personal Information</h5>
              <div class="arrow pull-right">
                <span ng-hide="checkEmployeeInfo" class="fa fa-chevron-down"></span>
                <span ng-show="checkEmployeeInfo" class="fa fa-chevron-up"></span>
              </div>
            </div>
            <div class="expand-section" ng-show="expandEmployeeInfo">
              <div class="row">
                <div class="col-md-4">
                  <div class="section-item">
                    <div class="pull-left">Employee Payroll Information </div>
                    <div class="checkbox pull-right">
                      <label>
                        <input name="EMPLOYEE_PAYROLL" ng-true-value="1" ng-false-value="0" ng-model="activeUserGroup.EMPLOYEE_PAYROLL" ng-disabled="isCheckboxDisabled" type="checkbox">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="section-item">
                    <div class="pull-left">Scheduling Window</div>
                    <div class="checkbox pull-right">
                      <label>
                        <input name="EMPLOYEE_SCHEDULING" ng-true-value="1" ng-false-value="0" ng-model="activeUserGroup.EMPLOYEE_SCHEDULING" ng-disabled="isCheckboxDisabled" type="checkbox">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="section-item">
                    <div class="pull-left">Biling Menu</div>
                    <div class="checkbox pull-right">
                      <label>
                        <input name="BILLING" ng-true-value="1" ng-false-value="0" ng-model="activeUserGroup.BILLING" ng-disabled="isCheckboxDisabled" type="checkbox">
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section-title" ng-click="expandVisitEntry=!expandVisitEntry; checkVisitEntry=!checkVisitEntry">
              <h5 class="pull-left">Visit Entry & Review</h5>
              <div class="arrow pull-right">
                <span ng-hide="checkVisitEntry" class="fa fa-chevron-down"></span>
                <span ng-show="checkVisitEntry" class="fa fa-chevron-up"></span>
              </div>
            </div>
            <div class="expand-section" ng-show="expandVisitEntry">
              <div class="row">
                <div class="col-md-4">
                  <div class="section-item">
                    <div class="pull-left">QA Tools </div>
                    <div class="checkbox pull-right">
                      <label>
                        <input name="QA_TOOLS" ng-true-value="1" ng-false-value="0" ng-model="activeUserGroup.QA_TOOLS" ng-disabled="isCheckboxDisabled" type="checkbox">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="section-item">
                    <div class="pull-left">Reports Menu</div>
                    <div class="checkbox pull-right">
                      <label>
                        <input name="REPORTS" ng-true-value="1" ng-false-value="0" ng-model="activeUserGroup.REPORTS" ng-disabled="isCheckboxDisabled" type="checkbox">
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section-title" ng-click="expandOasisExport=!expandOasisExport; checkOasisExport=!checkOasisExport">
              <h5 class="pull-left">Create Oasis Export Files</h5>
              <div class="arrow pull-right">
                <span ng-hide="checkOasisExport" class="fa fa-chevron-down"></span>
                <span ng-show="checkOasisExport" class="fa fa-chevron-up"></span>
              </div>
            </div>
            <div class="expand-section" ng-show="expandOasisExport">
              <div class="row">
                <div class="col-md-4">
                  <div class="section-item">
                    <div class="pull-left">Internet Updates</div>
                    <div class="checkbox pull-right">
                      <label>
                        <input name="CREATE_OASIS_EXPORT" ng-true-value="1" ng-false-value="0" ng-model="activeUserGroup.CREATE_OASIS_EXPORT" ng-disabled="isCheckboxDisabled" type="checkbox">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="section-item">
                    <div class="pull-left">Backup Data Files</div>
                    <div class="checkbox pull-right">
                      <label>
                        <input name="BACKUP" ng-true-value="1" ng-false-value="0" ng-model="activeUserGroup.BACKUP" ng-disabled="isCheckboxDisabled" type="checkbox">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="section-item">
                    <div class="pull-left">Archive Patients </div>
                    <div class="checkbox pull-right">
                      <label>
                        <input name="ARCHIVE_PATIENTS" ng-true-value="1" ng-false-value="0" ng-model="activeUserGroup.ARCHIVE_PATIENTS" ng-disabled="isCheckboxDisabled" type="checkbox">
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section-title" ng-click="expandProgramConfig=!expandProgramConfig; checkProgramConfig=!checkProgramConfig">
              <h5 class="pull-left">Program Configuration Options</h5>
              <div class="arrow pull-right">
                <span ng-hide="checkProgramConfig" class="fa fa-chevron-down"></span>
                <span ng-show="checkProgramConfig" class="fa fa-chevron-up"></span>
              </div>
            </div>
            <div class="expand-section" ng-show="expandProgramConfig">
              <div class="row">
                <div class="col-md-4">
                  <div class="section-item">
                    <div class="pull-left">Access Control</div>
                    <div class="checkbox pull-right">
                      <label>
                        <input name="CONFIGURATION" ng-true-value="1" ng-false-value="0" ng-model="activeUserGroup.CONFIGURATION" ng-disabled="isCheckboxDisabled" type="checkbox">
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="btn-footer pull-right">
          <button ng-show="editModeActionBtn" type="button" class="btn btn-primary" tabindex="14" ng-click="saveUserGroupEdits()">Save Changes</button>
          <button ng-show="editModeActionBtn" class="btn btn-primary cancel" tabindex="14" ng-click="cancel()">Cancel</button>
        </div>
      </ng-form>
    </div>
  </div>
</div>
