<div id="new-order">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>Add New Order</h3>
      </div>
    </div>
    <div ng-click="close()" class="fa fa-remove close"></div>
  </div>
  <div class="form-background">
    <div class="row">
      <form name="MedicationForm" novalidate>
        <div class="container small" style="font-size:14px">
          <div class="row" style="margin-top:5px">
            <div class="col-md-2">
              Physician
            </div>
            <div class="col-md-10">
              <select class="form-control"
                  ng-model="DOCTOR"
                  ng-options="doctor.KEYID as doctor.FNAME + ' ' + doctor.LNAME for doctor in doctors">
              </select>
            </div>
          </div>
          <div class="row" style="margin-top:5px">
            <div class="col-md-2">
              Date:
            </div>
            <div class="col-md-10">
              <div class="input-group" style="margin:0">
                <input type="text"
                      class="form-control"
                      uib-datepicker-popup='yyyy-MM-dd'
                      ng-model="ORDERSDATE"
                      is-open="openedOrderDate"
                      show-button-bar="false"
                      ng-click="openedOrderDate=true"
                      datepicker-append-to-body="false"
                      alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                  <button type="button" style="margin-top:0" class="btn btn-default" ng-click="openedOrderDate=true"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top:5px">
            <div class="col-md-2">
              Subject:
            </div>
            <div class="col-md-10">
              <input type="text" ng-model="SUBJECT" class="form-control"></input>
            </div>
          </div>
          <div class="row" style="margin-top:5px">
            <div class="col-md-12">
              Description
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <textarea rows="5" ng-model="DESCRIPTION" class="form-control"></textarea>
            </div>
          </div>
          <div class="row" style="margin-top:10px">
            <div class="col-md-12">
              <button style="float:right;margin-left:5px" ng-click="submitToQA()" class="btn btn-success">Submit</button>
              <button style="float:right;margin-left:5px" ng-click="saveOrderForm()" class="btn btn-success">Save Changes</button>
              <button  style="float:right" ng-click="close()" class="btn btn-default">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
