<!-- <div id="patient-consent-es">
  <div class="head-bar">
    <a ui-sref="records"><i class="fa fa-arrow-left"></i></a>
    <span>Consentimiento del paciente</span>
  </div> -->

  <!-- <form class="spanish" ng-class="{'show-ES': LANGUAGE==='ES'}" name="patientConsent" novalidate id="patient-consent"> -->
    <!-- <div style="font-size:10px;position:fixed; top: 23px;right:13px;z-index:101;display:inline-block;margin-right:190px">
        <b>EN</b>
      Rounded switch
      <label class="switch" style="margin-bottom:-4px">
           <input type="checkbox" name="LANGUAGE" ng-click="changeLanguage()" ng-model="LANGUAGE" ng-false-value="'EN'" ng-true-value="'ES'">
         <div class="slider round"></div>
      </label>
      <b>ES</b>
    </div> -->
    <!-- <button type="submit" ng-hide="form.ACTION==='QAEDIT'" class="btn btn-primary" ng-click="submitPatientConsent(patientConsent)">Submit</button> -->
    <!-- <button type="submit" style="margin-right:100px"class="btn btn-primary" ng-click="savePatientConsent()">Save</button> -->
    <div class="col-md-12 spanish" ng-class="{'show-ES': LANGUAGE==='ES'}">
      <div class="form-inline">
        <strong>Nombre del Paciente (Como aparese en la tarjeta de Medicare):</strong> {{patient.FNAME}} {{patient.LNAME}},<!-- <input type="text" class="form-control">-->   <strong>Numbero de Medicare:</strong> {{patient.KEYID}}<!-- <input type="text" class="form-control"> -->
      </div>
      <!--PATIENT CONSENT-->
      <div class="metric-box full-padding" ng-hide="showMoreConsent">
        <div><strong>CONCENTIMENTO DEL PACIENTE/CERTIFICATION</strong></div>
        <ul>
          <li><strong>Solicitud De Evaluacion Inicial/Admission/Concentimiento Para El Tratamiento</strong></li>
          <li class="no-bullet">Por la presente solicito y estoy de acuerdo con la evaluaci&#243;n inicial y, si soy capaz de admisi&#243;n a <strong>{{agency.NAME}}</strong>
            (en lo sucesivo <strong>{{agency.SHORTNAME}}</strong>), doy mi Consentimiento para el personal de aprobados desde la agencia de salud hogar para realizar...
          </li>
          <div style="position:relative;text-align:center;margin:10px" ng-click="showMoreConsent=!showMoreConsent"><u>Read More</u></div>
        </ul>
      </div>
      <div class="metric-box full-padding" style="height:1590px" ng-show="showMoreConsent">
        <div><strong>CONCENTIMENTO DEL PACIENTE/CERTIFICATION</strong></div>
        <ul>
          <li><strong>Solicitud De Evaluacion Inicial/Admission/Concentimiento Para El Tratamiento</strong></li>
          <li class="no-bullet">Por la presente solicito y estoy de acuerdo con la evaluaci&#243;n inicial y, si soy capaz de admisi&#243;n a <strong>{{agency.NAME}}</strong>
            (en lo sucesivo <strong>{{agency.SHORTNAME}}</strong>), doy mi Consentimiento para el personal de aprobados desde la agencia de salud hogar para realizar todos los
            procedimientos necesarios y tratamientos medicos ordenados para mi por mi cuidado de salud en casa. Me doy cuenta de que mi atencion es dirigida y supervisada por mi medico,
            al cual no es un empleado, ni un agente de <strong>{{agency.SHORTNAME}}</strong>, y la <strong>{{agency.SHORTNAME}}</strong> no es responsable por cualquier acto u omissino
            al sequir las instrucciones del medico.</li>
          <li><strong>Derechos y Responsabilidades de los clientes</strong></li>
          <li class="no-bullet">Entiendo mis derechos y responsabilidades. He recibido una notificaci&#243;n por escrito de mis derechos y responsabilidades y la declaraci&#243;n del paciente.
            Acta de Privacidad y el Aviso de prácticas de privacidad antes que la atencion estaba amueblada por el personal de <strong>{{agency.SHORTNAME}}</strong>.</li>
          <li><strong>Directivas anticipadas para la atenci&#243;n de salud/Reaminacion</strong></li>
          <li class="no-bullet">Soy consciente de que si no tengo o no fui producido una copia correcta de la ejecuci&#243;n de una instrucci&#243;n anticipada, <strong>{{agency.SHORTNAME}}</strong>
            estarán obligados a realizar la resucitaci&#243;n cardiaca y llamar a los paramédicos si mi condici&#243;n indiea una necesidad de este tipo de intervenci&#243;n.</li>
          <li><strong>Registro de quejas</strong></li>
          <li class="no-bullet">Estoy de acuerdo en notificar a la enfermera de <strong>{{agency.SHORTNAME}}</strong> si tengo alguna queja. Entiendo que si la enfermera no resuelve la queja, yo
          o algun miembro de mi familia deberia registrar la denuncia por escrito al administrador. Entiendo que cada persona a la que mi queja se dirige en la escritura debe responder a la queja con cinco
          (5) diás hábiles a partir de la queja por escrito.</li>
          <li><strong>Linea de ayuda</strong></li>
          <li class="no-bullet">Se me ba dado la informaci&#243;n de <strong>{{agency.SHORTNAME}}</strong>, instrucciones sobre los procedimientos de resoluci&#243;n de quejas. como paciente Entiendo que
            tengo el derecho de presentar una queja con la {{hotline.name}} sin ser objeto de discriminaci&#243;n o represalia. El numero es {{hotline.phone |tel}},
            disponible 24 horas al dia. Entiendo que también tengo el derecho de utilizar esta línea caliente para formular reclamaciones sobre la implicaci&#243;n de los requisitos de la orden anticipada.
            También puedo comunicarme a:</li>
        </ul>
        <div class="text-center">
          <strong>{{hotline.name}}<br>
          {{hotline.address}}</strong>
        </div>
        <ul>
          <li><strong>Autorizaci&#243;n para divulgar informacio&#243;n</strong></li>
          <li class="no-bullet">Doy mi consentimiento para la divulgaci&#243;n de cualquier informaci&#243;n relacionada con mi condici&#243;n médica por cualquier agencia de la salud reconocido,
            instituci&#243;n o grupo médico / de la oficina en la que he sido paciente, y autorizo la liberaci&#243;n y / o de la divulgaci&#243;n o cualquier historial médico o informaci&#243;n
            por parte del anterior para <strong>{{agency.SHORTNAME}}</strong> y los que participan en mi atenci&#243;n durante el ingreso a <strong>{{agency.SHORTNAME}}</strong>. Entiendo mis
            expedientes médicos pueden ser revelados a organizaciones federales y estatales de acreditaci&#243;n y por los de administracion de calidad / Revisi&#243;n de Utilizaci&#243;n de
            los comités de <strong>{{agency.SHORTNAME}}</strong>.<br>
            <span class="form-inline">Informaci&#243;n que no puede ser divulgada sobre <input type="text" ng-model="$parent.NOINFORMATIONRELEASEABOUT" class="form-control"></span></br>
            <span class="form-inline">Informaci&#243;n que no puede ser divulgada <input type="text" ng-model="$parent.NOINFORMATIONRELEASETO" class="form-control"></span></li>
          <li><strong>Solicitud de pago / Cesion de beneficios</strong></li>
          <li class="no-bullet">Yo certifico que Medicare, HMO, Medicaid, o cualquier otra informaci&#243;n de pago de atenci&#243;n médica dada a <strong>{{agency.SHORTNAME}}</strong> es verdadera y exacta y autorizo a <strong>{{agency.SHORTNAME}}</strong>
            para solicitar el pago en mi nombre. Autorizo la divulgaci&#243;n de cualquier y todos los registros que sean neccesarios para garantizar el pago. Entiendo que debo notificar a <strong>{{agency.SHORTNAME}}</strong> inmediatamente de cualquier
            cambio en mi cobertura médica, incluyendo Medicare y Medicaid. También entiendo que si cambio de la cobertura del seguro, mientras que este bajo el cuidado de <strong>{{agency.SHORTNAME}}</strong> voy a ser responsables de cambios no cubiertos, con el
            resultado del cambio en la cobertura. Por lo presente autorizo <strong>{{agency.SHORTNAME}}</strong> de utilizar y / o divulgar mi informaci&#243;n de salud para tratamiento, pago u operaciones de atenci&#243;n médica y las coordinaciones.
          </li>
          <li><strong>Pacientes de Medicare</strong></li>
          <li class="no-bullet">Entiendo que <strong>{{agency.SHORTNAME}}</strong> acepta Medicare Parte A y la Parte B como el pago total de todos los servicios de enfermería y
            rehabilitaci&#243;n especializados y que se me notificará, con anticipacion si hay algun cargo para equipos medicos.
          </li>
          <li><strong>Seguro Privado, HMO, Auto-Pago, Parte del Costo, Ambulatorio de la Parte B</strong></li>
          <li class="no-bullet">Soy consciente de que soy responsable de cualquier costo no cubierto, parte de costo, o co-pago como contraprestaci&#243;n por los servicios que estoy recibiendo. Todos los intertos razonables
            serán hechas por fehha para recoger estos pagos. Cargos anticipados incluyen:</br>
            ${{agency.AGENCYCHARGESSN}} por 2 horas de visitas de enfermería especializada y servicios de terapia (Fisica, Ocupasional, Terapia del habla), ${{agency.AGENCYCHARGESMSW}} por 2 horas de visitas del Trabajador Social,
            ${{agency.AGENCYCHARGESCHHA}} por 2 horas de visitas de la asistencia de enfermera certificada.
          </li>
          <li><strong>Propuesta de Servicios y Frecuencia de Visitas</strong></li>
          <li class="no-bullet">He participado activamente en la planificaci&#243;n de mi cuidado con <strong>{{agency.SHORTNAME}}</strong> y entiendo que se prestarán los siguientes servicios y visitas si es necesario y aprobado por mi médico.
            <input type="checkbox" name="services"  ng-required="!providedServicesNursing && !providedServicesCHHA && !providedServicesPT && !providedServicesOT && !providedServicesST && !providedServicesDietician && !providedServicesMSW" ng-model="$parent.providedServicesNursing" ng-true-value="1" ng-false-value="0" style="margin-left:10px;"> Enfermeria
            <input type="checkbox" name="services"  ng-required="!providedServicesNursing && !providedServicesCHHA && !providedServicesPT && !providedServicesOT && !providedServicesST && !providedServicesDietician && !providedServicesMSW" ng-model="$parent.providedServicesCHHA" ng-true-value="1" ng-false-value="0" style="margin-left:10px;"> CHHA
            <input type="checkbox" name="services"  ng-required="!providedServicesNursing && !providedServicesCHHA && !providedServicesPT && !providedServicesOT && !providedServicesST && !providedServicesDietician && !providedServicesMSW" ng-model="$parent.providedServicesPT" ng-true-value="1" ng-false-value="0" style="margin-left:10px;"> TO
            <input type="checkbox" name="services"  ng-required="!providedServicesNursing && !providedServicesCHHA && !providedServicesPT && !providedServicesOT && !providedServicesST && !providedServicesDietician && !providedServicesMSW" ng-model="$parent.providedServicesOT" ng-true-value="1" ng-false-value="0" style="margin-left:10px;"> TH
            <input type="checkbox" name="services"  ng-required="!providedServicesNursing && !providedServicesCHHA && !providedServicesPT && !providedServicesOT && !providedServicesST && !providedServicesDietician && !providedServicesMSW" ng-model="$parent.providedServicesST" ng-true-value="1" ng-false-value="0" style="margin-left:10px;"> TF
            <input type="checkbox" name="services"  ng-required="!providedServicesNursing && !providedServicesCHHA && !providedServicesPT && !providedServicesOT && !providedServicesST && !providedServicesDietician && !providedServicesMSW" ng-model="$parent.providedServicesDietician" ng-true-value="1" ng-false-value="0" style="margin-left:10px;"> Dietista
            <input type="checkbox" name="services"  ng-required="!providedServicesNursing && !providedServicesCHHA && !providedServicesPT && !providedServicesOT && !providedServicesST && !providedServicesDietician && !providedServicesMSW" ng-model="$parent.providedServicesMSW" ng-true-value="1" ng-false-value="0" style="margin-left:10px;"> MSW
          </li>
          <div class="field-error" ng-show="patientConsent.services.$touched && patientConsent.services.$invalid || patientConsent.services.$invalid && patientConsent.$submitted">Se requiere por lo menos un servicio.</div>
          <li><strong>Directivas Anticipadas</strong></li>
          <li class="no-bullet">
            <table>
              <tr>
                <td>He completado una directiva anticipada</td>
                <td><input type="radio" name="esCOMPLETEDADVANCEDIRECTIVES" ng-required="!COMPLETEDADVANCEDIRECTIVES && !DONOTKNOWADVANCEDIRECTIVES" ng-model="$parent.COMPLETEDADVANCEDIRECTIVES" ng-value="1"> Si </td>
                <td><input type="radio" name="esCOMPLETEDADVANCEDIRECTIVES" ng-required="!COMPLETEDADVANCEDIRECTIVES && !DONOTKNOWADVANCEDIRECTIVES" ng-model="$parent.COMPLETEDADVANCEDIRECTIVES" ng-value="2"> No </td>
                <td class="field-error" ng-show="patientConsent.esCOMPLETEDADVANCEDIRECTIVES.$touched && patientConsent.esCOMPLETEDADVANCEDIRECTIVES.$invalid || patientConsent.esCOMPLETEDADVANCEDIRECTIVES.$invalid && patientConsent.$submitted">Seleccione una o marque la casilla de verificación a continuación.</td>
              </tr>
              <tr>
                <td>Tengo poder notarial duradero para el cuidado de la salud</td>
                <td><input type="radio" name="esDURABLEPOWEROFATTORNEY" ng-required="!DURABLEPOWEROFATTORNEY && !DONOTKNOWADVANCEDIRECTIVES"ng-model="$parent.DURABLEPOWEROFATTORNEY" ng-value="1"> Si </td>
                <td><input type="radio" name="esDURABLEPOWEROFATTORNEY" ng-required="!DURABLEPOWEROFATTORNEY && !DONOTKNOWADVANCEDIRECTIVES" ng-model="$parent.DURABLEPOWEROFATTORNEY" ng-value="2"> No </td>
                <td class="field-error" ng-show="patientConsent.esDURABLEPOWEROFATTORNEY.$touched && patientConsent.esDURABLEPOWEROFATTORNEY.$invalid || patientConsent.esDURABLEPOWEROFATTORNEY.$invalid && patientConsent.$submitted">Seleccione una o marque la casilla de verificación a continuación.</td>
              </tr>
              <tr>
                <td>Tengo un testamento vital</td>
                <td><input type="radio" name="esLIVINGWILL" ng-required="!LIVINGWILL && !DONOTKNOWADVANCEDIRECTIVES" ng-model="$parent.LIVINGWILL" ng-value="1"> Si </td>
                <td><input type="radio" name="esLIVINGWILL" ng-required="!LIVINGWILL && !DONOTKNOWADVANCEDIRECTIVES"  ng-model="$parent.LIVINGWILL" ng-value="2"> No </td>
                <td class="field-error" ng-show="patientConsent.esLIVINGWILL.$touched && patientConsent.esLIVINGWILL.$invalid || patientConsent.esLIVINGWILL.$invalid && patientConsent.$submitted">Seleccione una o marque la casilla de verificación a continuación.</td>
              </tr>
              <tr>
                <td>Tengo una directiva no reanimaci&#243;n</td>
                <td><input type="radio" name="esDONOTRESUSCITATE" ng-required="!DONOTRESUSCITATE && !DONOTKNOWADVANCEDIRECTIVES" ng-model="$parent.DONOTRESUSCITATE" ng-value="1"> Si </td>
                <td><input type="radio" name="esDONOTRESUSCITATE" ng-required="!DONOTRESUSCITATE && !DONOTKNOWADVANCEDIRECTIVES"  ng-model="$parent.DONOTRESUSCITATE" ng-value="2"> No </td>
                <td class="field-error" ng-show="patientConsent.esDONOTRESUSCITATE.$touched && patientConsent.esDONOTRESUSCITATE.$invalid || patientConsent.esDONOTRESUSCITATE.$invalid && patientConsent.$submitted">Seleccione una o marque la casilla de verificación a continuación.</td>
              </tr>
            </table>
          </li>
          <li class="no-bullet form-inline">Otro (explicar)<input type="text" ng-model="$parent.OTHERADVANCEDIRECTIVES" class="form-control"></li>
          <li class="no-bullet">No sé si tengo alguno de los anteriores <input type="checkbox" ng-model="$parent.DONOTKNOWADVANCEDIRECTIVES" ng-true-value="1" ng-false-value="0" ng-change="directive()"></li>
          <li class="no-bullet">Entiendo que tengo que entregar una copia de cualquiera de estos dodocuments para que mis deseos a seguir con respectoa mi atenci&#243;n de la salud.</li>
          <li><strong>Declaraci&#243;n de privacidad del Acta de oasis - Retrival registros de atenci&#243;n de la salud y la confidencialidad</strong></li>
          <li class="no-bullet">Se me ha indicado y dado un aviso por escrito de las Declaraciones de la Ley de Privacidad en el oasis para asesorar me de mis derechos, proposito principal, usos
            de rutina y lo que puede ser el resultado de mi futuro para proporcionar informaci&#243;n precisa para completar el oasis. Se me ha dado informaci&#243;n sobre la confidencialidad y la
            divulgaci&#243;n de mis expedientes clínicos mantenidos por <strong>{{agency.SHORTNAME}}</strong>. Se me ha dado informaci&#243;n sobre como retrive y obtener una copia de mis registros médicos que <strong>{{agency.SHORTNAME}}</strong> mantiene.</li>
          <li>Informaci&#243;n sobre la preparaci&#243;n / control de la seguridad de la infecci&#243;n / emergencia y precauciones universales / 911 protocolos, se me da el informe para mi médico
              en la evaluaci&#243;n inicial y en forma permanente, segun sea necesario.
          </li>
          <li><strong>Consentimiento para fotografíar</strong>
            <span class="field-error" ng-show="patientConsent.ESPHOTOGRAPH.$touched && patientConsent.ESPHOTOGRAPH.$invalid || patientConsent.ESPHOTOGRAPH.$invalid && patientConsent.$submitted">Seleccione uno.</span>
          </li>
          <li class="no-bullet"><input type="radio" ng-required="!PHOTOGRAPH" name="ESPHOTOGRAPH" ng-model="$parent.PHOTOGRAPH" ng-value="1"><strong><em> Doy mi consentimíento </em> <input type="radio" ng-required="!PHOTOGRAPH" name="ESPHOTOGRAPH" ng-model="PHOTOGRAPH" ng-value="2"> <em>No doy mi consentimíento </em>(circule uno) </strong>a la
            parte/s appropiadas de mi cuerpo ser fotografiadas por el personal de <strong>{{agency.SHORTNAME}}</strong> con el fin de proporcion
            documentaci&#243;n que apoye a mi condici&#243;n médica (Entiendo que cualquier fotografias tomadas serán colocados y seguiran siendo parte de mi expediente medico).
          </li>
          <li><strong>El acto responsabilidad y la portabilidad de seguro de salud</strong></li>
          <li class="no-bullet"><u>Permiso para usar y divulgar su informaci&#243;n de salud:</u> Con la firma de este consentimiento, yo autorizo a <strong>{{agency.SHORTNAME}}</strong> de utilizar y / o divulgar mi informaci&#243;n
            de salud para tratamiento, pago o atenci&#243;n médica. Yo tengo el derecho de no firmar este consentimiento. Sin embargo, si me niego a firmar este consentimiento, fehha tiene derecho a negarme servicio.
          </li>
          <div style="position:relative;text-align:center;margin:10px" ng-click="showMoreConsent=!showMoreConsent"><u>Show Less</u></div>
        </ul>
      </div>

      <!--PATIENT RIGHTS-->
      <div class="metric-box full-padding" ng-hide="showMoreRights">
        <div><strong>Derechos de los pacientes<br>
          Como paciente, usted tiene los siguientes derechos. {{agency.SHORTNAME}} debe proteger y promover el ejercicio de estos derechos.</strong>
        </div>
        <ul>
          <li><strong>{{agency.SHORTNAME}}</strong> debe facilitar le una notificaci&#243;n por escrita de estos derechos, incluyendo la declaraci&#243;n del <strong>OASIS Derechos del Paciente y Privacidad</strong>, la
            <strong>Declaraci&#243;n del Acta de Privacidad y el Aviso de practicas de privacidad</strong> antes de proveer servicios...
          </li>
          <div style="position:relative;text-align:center;margin:10px" ng-click="showMoreRights=!showMoreRights"><u>Read More</u></div>
        </ul>
      </div>
      <div class="metric-box full-padding" style="height:1290px" ng-show="showMoreRights">
        <div><strong>Derechos de los pacientes<br>
          Como paciente, usted tiene los siguientes derechos. {{agency.SHORTNAME}} debe proteger y promover el ejercicio de estos derechos.</strong>
        </div>
        <ul>
          <li><strong>{{agency.SHORTNAME}}</strong> debe facilitar le una notificaci&#243;n por escrita de estos derechos, incluyendo la declaraci&#243;n del <strong>OASIS Derechos del Paciente y Privacidad</strong>, la
            <strong>Declaraci&#243;n del Acta de Privacidad y el Aviso de practicas de privacidad</strong> antes de proveer servicios o durante proceso iniciales de evaluaci&#243;n.
          </li>
          <li>Usted tiene el derecho a ser tratado con consideración, el respeto y el pleno reconocimiento de dignidad y la individualidad,
            ser dado de servicios de salud a domicilio adecuados y profesionales sin discriminación contra raza, religión, género, edad, credo, estado civil, situación política, orientación sexual,
            diagnóstico o fuente de pago, y para la seguridad de que el personal que brindan atenci&#243;n están calificados con la experiencia educación para llevar a cabo los servicios de los que son responsables.
          </li>
          <li>Usted tiene el derecho a recibir servicios adecuados para sus necesidades, y de ser informado de la naturaleza y el propósito de todos los
            servicios calificados y no calificados, los procedimientos técnicos que se deben realizar, incluyendo información sobre los posibles beneficios
            y cargos, así como cuándo y quién lo hará realizar los procedimientos, y espera <strong>{{agency.SHORTNAME}}</strong> para proporcionar una atención y profesional en el nivel requerido de intensidad.
          </li>
          <li>Usted tiene el derecho a recibir cuidado continuo razonable.</li>
          <li>Usted tiene el derecho a que el personal se comunica en una lengua o formulario que razonablemente se puede esperar de entender (Cuando sea posible. <strong>{{agency.SHORTNAME}}</strong> asiste
            con proporcionar dispositivos especiales, intérpretes u otros medios auxiliares para facilitar la comunicaci&#243;n).
          </li>
          <li>Su familia o tutor puede ejercer sus derechos a través de un poder notarial duradero para la atenci&#243;n médica. en caso de que no pueda hacerlo por si mismo.</li>
          <li>Usted tiene el derecho a que su propiedad sea tratada con respeto.</li>
          <li>Usted tiene el derecho de expresar sus quejas sobre el tratamiento o cuidado que sea (o no sea) proporcionado, o respecto de la falta
            de la respeto a su propiedad sin represalias o discriminación por igual y ser informado sobre el procedimiento para expresar quejas / agravios
            con <strong>{{agency.SHORTNAME}}</strong>.
          </li>
          <li><strong>{{agency.SHORTNAME}}</strong> debe investigar las denuncias hechas por usted, su familia o su relaci&#243;n con cualquier queja que pueda
            tener y <strong>{{agency.SHORTNAME}}</strong> debe documentar la existencia y resultados de esas quejas.</li>
          <li>Usted tiene el derecho a ser informado por anticipado del cuidado que se le proporcionara.</li>
          <li><strong>{{agency.SHORTNAME}}</strong> debe avisarle con anticipasion de las disciplinas que se le proporcionarán para su asistencia y de la frecuencia de las visitas.</li>
          <li><strong> {{agency.SHORTNAME}}</strong> debe avisarle sobre cualquier cambio en el plan de atenci&#243;n antes de que se realice el cambio.</li>
          <li>Usted tiene el derecho de participar en el plan de su cuidado.</li>
          <li>Usted tiene el derecho de negar tratamiento y ser aconsejado de las consecuencias de dicha rachazo. Usted tiene el derecho de negar
            cualquier tratamiento experimental y / o participar en la investigación al menos que usted dé su consentimiento documentado voluntario.</li>
          <li><strong>{{agency.SHORTNAME}}</strong> debe informarle por adelantado y proporcionarán por escrito información con respecto a su política sobre las directivas anticipadas
            y para incluir una descripción de la ley del Estado de Nevada.</li>
          <li>Usted tiene el derecho de que sus registros médicos, que se mantienen por <strong>{{agency.SHORTNAME}}</strong>, permanezca confidencial. Usted tiene el derecho
            de aprobar o desaprobar por escrito de la liberaci&#243;n de sus registros médicos a cualquier persona empleada fuera del <strong>{{agency.SHORTNAME}} </strong>.</li>
          <li><strong>{{agency.SHORTNAME}}</strong> debe informarle de sus políticas y procedimientos con respecto a la divulgación de los registros médicos. Usted o su
            representante legal tiene el derecho de obtener una copia de sus expediente médico dandola a <strong>{{agency.SHORTNAME}}</strong> (3) días por adelantado. Y
            se le cobrará 40 centavos por copia.</li>
          <li>Usted tiene el derecho de ser informado, antes de iniciar la atenci&#243;n, de la medida en que el pago de servicios <strong>{{agency.SHORTNAME}}</strong> puede
            esperarse de Medicare u otras fuentes, y la medida en los pagos que se requiere de usted.<br>
            Antes de iniciar cuidado, <strong>{{agency.SHORTNAME}}</strong> debe informarle verbalmente o por escrito de: <br>
            Los cargos por servicios y equipo médico duradero que no serán cubiertos por Medicare <br>
            Los cargos por servicios y equipo médico duradero que puede que usted tenga que pagar</li>
          <li>Usted tiene el derecho de ser informado verbalmente y por escrito de cualquier cambio en la información sobre el pa dentro de los
            30 días a partir de la fecha que <strong>{{agency.SHORTNAME}}</strong> toma conciencia de estos cambios.</li>
          <li>Usted tiene el derecho de revisar una copia del Aviso de <strong>{{agency.SHORTNAME}}</strong> de prácticas de privacidad antes de firmar este consentimiento. Aviso de Privacidad de la Práctica <strong>{{agency.SHORTNAME}}</strong>
            detalla cómo <strong>{{agency.SHORTNAME}}</strong> puede utilizar y divulgar su información de salud. <strong>{{agency.SHORTNAME}}</strong> podrá modificar el Aviso de vez en cuando. Una copia de nuestro aviso de
            la prácticas de privacidad está incluido en el folder que se le entrega en el Incico.</li>
          <li>Usted tiene el derecho de solicitar que <strong>{{agency.SHORTNAME}}</strong> limite el uso y / o divulgar de sus registros médicos con el propósito de proveer tratamiento, obtener pago por nuestros
            servicios, y / o la realización de operaciones de atención médica. Dichas solicitudes deben hacerse por escrito. Tenga en cuenta que <strong>{{agency.SHORTNAME}}</strong> no está obligado a aceptar las restricciónes que puedan solicitarnos. Si embargo
            <strong>{{agency.SHORTNAME}}</strong> decide ponerse de acuerdo sobre una restricción que ha solicitado, <strong>{{agency.SHORTNAME}}</strong> debe restringir su uso y / o divulgación de sus
            registros médicos en la forma escrita en la solicitud, para obtener en linea un formulario de solicitud de restricción, por favor de comunicarse con <strong>{{agency.SHORTNAME}}</strong>.</li>
          <li>Usted tiene el derecho de revocar este consentimiento en cualquier momento. Su revocación de este consentimiento debe estar en escrito. Si usted desea
            revocar este consentimiento, por favor póngase en contacto con <strong>{{agency.SHORTNAME}}</strong> para obtener un formulario de revocación. En cuenta que su revocación de este consentimiento
            no será eficaz para la divulgación <strong>{{agency.SHORTNAME}}</strong> ya ha hecho en base a su previo consentimiento. <strong>{{agency.SHORTNAME}}</strong> también se reserva el derecho de
            negarse a proporcionar tratamiento adicional si usted revoca este consentimiento. Este consentimiento es efectivo al menos que y hasta que usted lo revocque por escrito.</li>
          <li><strong>{{agency.SHORTNAME}}</strong> esta abierto {{agency.OPENDAYSANDHOURS}}. <br>
            <table>
              <!-- <tr>
                <td><strong>Administrator:</strong></td>
                <td>{{agency.administrator}}</td>
              </tr> -->
              <tr>
                <td><strong>Direcsion:</strong></td>
                <td>{{agency.ADDRESS1}}<br>
                    <!-- {{agency.ADDRESS2}}<br> -->
                    {{agency.CITY}}, {{agency.STATE}}</td>
              </tr>
              <tr>
                <td><strong>Telefona:</strong></td>
                <td>{{agency.PHONE |tel}}</td>
              </tr>
              <tr>
                <td><strong>Fax:</strong></td>
                <td>{{agency.FAX |tel}}</td>
              </tr>
            </table>
            <strong>Usted puede contactar un representante a las 24 horas al dia, 7 dias a la semana, al {{agency.PHONE |tel}}.</strong>
          </li>
          <div style="position:relative;text-align:center;margin:10px" ng-click="showMoreRights=!showMoreRights"><u>Show Less</u></div>
        </ul>
      </div>

      <!-- PATIENT RESPONSIBILITIES-->
      <div class="metric-box full-padding" ng-hide="showMoreResponsibilities">
        <div><strong>RESPONSABILIDADES DEL PACIENTE<br>
          Como paciente, usted tiene las siguientes responsabilidades.</strong>
        </div>
        <ul>
          <li>Permanecer bajo la supervision de un médicos mientras recibe los servicios de <strong>{{agency.SHORTNAME}}</strong>.</li>
          <li>Proporcionar <strong>{{agency.SHORTNAME}}</strong> información completa y precisa sobre la salud y el oasis...</li>
          <div style="position:relative;text-align:center;margin:10px" ng-click="showMoreResponsibilities=!showMoreResponsibilities"><u>Read More</u></div>
        </ul>
      </div>
      <div class="metric-box full-padding" style="height:360px" ng-show="showMoreResponsibilities">
        <div><strong>RESPONSABILIDADES DEL PACIENTE<br>
          Como paciente, usted tiene las siguientes responsabilidades.</strong>
        </div>
        <ul>
          <li>Permanecer bajo la supervision de un médicos mientras recibe los servicios de <strong>{{agency.SHORTNAME}}</strong>.</li>
          <li>Proporcionar <strong>{{agency.SHORTNAME}}</strong> información completa y precisa sobre la salud y el oasis.</li>
          <li>Firmar el consentimiento necesario antes del cuidado que se recibe.</li>
          <li>Proporcione un ambiente seguro para personal de <strong>{{agency.SHORTNAME}}</strong>.</li>
          <li>Tratar <strong>{{agency.SHORTNAME}}</strong> personal con respeto y consideración.</li>
          <li>Notifique <strong>{{agency.SHORTNAME}}</strong> cuando no se puede acudir a las citas.</li>
          <li>Cumplir con un plan de tratamiento, mientras que esté bajo el cuidado de <strong>{{agency.SHORTNAME}}</strong> y entender que el incumplimiento puede resultar en la
            descarga de <strong>{{agency.SHORTNAME}}</strong>.</li>
          <li>Participar y siga su plan de atención.</li>
          <li>Proporcionar <strong>{{agency.SHORTNAME}}</strong> con una copia de las instrucciones anticipadas si es applicable.</li>
          <li>Proporcionar al personal evaluación de los datos de los oasis a lo dispuesto por Medicare y el consentimiento que <strong>{{agency.SHORTNAME}}</strong> transmitir datos OASIS
            para CMS (HCFA) (una copia de la declaración de privacidad OASIS Derechos y la Declaración del Acta de Privacidad será proporcionado a usted antes de empezar el cuidado).</li>
          <div style="position:relative;text-align:center;margin:10px" ng-click="showMoreResponsibilities=!showMoreResponsibilities"><u>Show Less</u></div>
        </ul>
      </div>
      <!--SIGNATURE-->
      <div class="metric-box full-padding" style="height:300px">
        <div class="text-center"><strong><u>Paciente/Consentimiento del representante legal/Reconocimiento</u></strong></div>
        <div><strong>Mi firma servirá para afirmar de que e recibido y verbalizado y comprendido la información, los materiales y en la explicación de toda información
          proporcionada a este forma.</strong>
        </div>
        <!-- <div class="form-inline note">
          <div class="col-md-6" style="padding:0">
            <strong>Firma del paciente/Representante Legal </strong>
            <div class="field-error" ng-show="patientConsent.SIGNATURE.$touched && patientConsent.SIGNATURE.$invalid || patientConsent.SIGNATURE.$invalid && patientConsent.$submitted">Signature is required.</div>
            <signature-pad ng-show="form.STATUS===0" accept="accept" ng-model="SIGNATURE" clear="clear" height="150" width="600" style="background:lightgrey" disabled="false"></signature-pad>
            <img ng-show="form.STATUS===2 || form.STATUS===4" ng-src="{{SIGNATURE}}" style="background:lightgrey;">
            <span ng-click="clear()"><u>Clear Signature</u></span>
          </div>
          <div class="col-md-3 col-md-offset-1">
            <button class="btn btn-primary" style="position:relative" ng-click="done()">Sign</button>
            <strong>Date</strong><br><input type="date" name="SIGNATUREDATE" required ng-model="SIGNATUREDATE" class="form-control">
            <div class="field-error" ng-show="patientConsent.SIGNATURE.$touched && patientConsent.SIGNATURE.$invalid || patientConsent.SIGNATURE.$invalid && patientConsent.$submitted">Patient Signature is required.</div>
            <div class="field-error" ng-show="patientConsent.SIGNATUREDATE.$touched && patientConsent.SIGNATUREDATE.$invalid || patientConsent.SIGNATUREDATE.$invalid && patientConsent.$submitted">Date is required.</div>
          </div>
        </div> -->
        <!-- <div class="form-inline note">
          <strong>Firma del paciente/Representante Legal </strong><input required name="SIGNATURE" type="text" ng-model="SIGNATURE" class="form-control">   <strong>Date</strong><input type="date" name="SIGNATUREDATE" required ng-model="SIGNATUREDATE" class="form-control">
          <div class="field-error" ng-show="patientConsent.SIGNATURE.$touched && patientConsent.SIGNATURE.$invalid || patientConsent.SIGNATURE.$invalid && patientConsent.$submitted">Patient Signature is required.</div>
          <div class="field-error" ng-show="patientConsent.SIGNATUREDATE.$touched && patientConsent.SIGNATUREDATE.$invalid || patientConsent.SIGNATUREDATE.$invalid && patientConsent.$submitted">Date is required.</div>
        </div> -->
        <!-- <div class="note"><strong>{{agency.SHORTNAME}} Representative/Staff<br>
          Authorization of Signatures</strong><br>
          I certify that I have authorized the person(s) named below to sign for me for all services rendered by <strong>{{agency.SHORTNAME}}</strong>
          and other patient health record requiring my signature:
        </div>
        <div class="form-inline note">
          <strong>Additional Approved Signature: </strong><input type="text" required name="ADDITIONALSIGNATURE" ng-model="ADDITIONALSIGNATURE" class="form-control">   <strong>Date</strong><input type="date" required name="ADDITIONAL_SIGNATUREDATE" ng-model="ADDITIONAL_SIGNATUREDATE" class="form-control">
          <div class="field-error" ng-show="patientConsent.ADDITIONALSIGNATURE.$touched && patientConsent.ADDITIONALSIGNATURE.$invalid || patientConsent.ADDITIONALSIGNATURE.$invalid && patientConsent.$submitted">Additional Signature is required.</div>
          <div class="field-error" ng-show="patientConsent.ADDITIONAL_SIGNATUREDATE.$touched && patientConsent.ADDITIONAL_SIGNATUREDATE.$invalid || patientConsent.ADDITIONAL_SIGNATUREDATE.$invalid && patientConsent.$submitted">Date is required.</div>
        </div> -->
      </div>
    </div>
  <!-- </form> -->
<!-- </div>

<div class="right-menu" style="margin-left:210px">
  <expanded-nav></expanded-nav>
</div> -->
