<div class="modal-header">
  <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body">
  <div class="row">
    <form name="loginForm" novalidate>
      <div class="container small">
        <div class="row">
            <div class="form-group">
              <label for="username">{{modalOptions.usernameText}}</label>
              <input type="text" class="form-control" id="username" ng-model="username" ng-disabled="true" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="password">{{modalOptions.passwordText}}</label>
              <input type="password" class="form-control" id="password" ng-model="password" placeholder="Password">
            </div>
            <div ng-show="incorrectLogin">{{modalOptions.incorrectLoginText}}</div>
          </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" 
          data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
  <button class="btn btn-primary" 
          data-ng-click="modalOptions.ok(username, password);">{{modalOptions.actionButtonText}}</button>
</div>


<!-- <div id="login-request">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-tags fa-lg"></span><h3>Login details</h3>
      </div>
    </div>
    <div ng-click="dismiss()" class="fa fa-remove close"></div>
  </div>
  <div class="form-background">
    <div class="row">
      <form name="loginForm" novalidate>
        <div class="container small">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="username">Enter your username</label>
                <input type="username" class="form-control" id="username" ng-model="username" placeholder="Username">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" ng-model="password" placeholder="Password">
              </div>
              <div ng-show="incorrectLogin">Unable to log in. Please check your username and password.</div>
              <button type="submit" class="btn btn-default btn-block" ng-click="login()">Sign in</button>
              <a href="javascript:void(0)" class="reset" ng-click="reset=true">Forgot your password?</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
-->