#patient-review {
  h2 {
    padding: 15px;
  }
  .modal-head {
    background: rgba(112, 102, 157, 0.08);
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 5px 15px;
    small {
      float: right;
      span {
        margin-right: 5px;
      }
      &:hover {
        color: #6D559B;
      }
    }
  }
  .modal-inner {
    padding: 15px;
    .patient-info-item {
      margin-bottom: 10px;
    }
  }
  footer {
    text-align: center;
    margin-bottom: 20px;
  }
}
