<div id="patient-review" ng-show="nonEditMode">
  <div class="row">
    <div class="col-md-12">
      <h2>Patient Review</h2>
    </div>
  </div>

<!-- ********** Demographic ********** -->

  <div class="row">
    <div class="col-md-12">
      <div class="modal-head">
        <div class="row">
          <div class="col-md-12">
            <h4>Demographic<a href="#"><small ng-click="enableEditMode('Demographic')"><span class="glyphicon glyphicon-edit"></span>Edit Demographic</small></a></h4></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="modal-inner">
        <div class="row">
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Name</strong></div>
              {{patient.FNAME}} {{patient.MINITIAL}} {{patient.LNAME}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>DOB</strong></div>
              {{patient.DOB}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Gender</strong></div>
              {{patient.GENDER}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>SSN</strong></div>
              {{patient.SSN}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Marital Status</strong></div>
              {{patient.MARITAL}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Language</strong></div>
              {{patient.language}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Ethnicity</strong></div>
              {{patient.M0140}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Religion</strong></div>
              {{patient.RELIGION}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Person Responsible</strong></div>
              {{patient.responsiblePer}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Acuity</strong></div>
              {{patient.acuity}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="modal-inner">
        <div class="row">
          <div class="col-md-12">
            <div class="patient-info-item">
              <div><strong>Notes</strong></div>
              <p>
                {{patient.NOTES}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- ********** Contact ********** -->

  <div class="row">
    <div class="col-md-12">
      <div class="modal-head">
        <div class="row">
          <div class="col-md-12">
            <h4>Contact<a href="#"><small ng-click="enableEditMode('Contact')"><span class="glyphicon glyphicon-edit"></span>Edit Contact</small></a></h4></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="modal-inner">
        <div class="row">
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Location Type</strong></div>
              {{patient.LOCTYPE}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>County</strong></div>
              {{patient.county}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Address</strong></div>
              {{patient.ADDRESS}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>City</strong></div>
              {{patient.CITY}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>State</strong></div>
              {{patient.STATE}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Zip</strong></div>
              {{patient.ZIP}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Country</strong></div>
              {{patient.country}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Home Phone</strong></div>
              {{patient.PHONE}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Cell Phone</strong></div>
              {{patient.CELLPHONE}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Email</strong></div>
              {{patient.EMAIL}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="modal-inner">
        <div class="row">
          <div class="col-md-12">
            <div class="patient-info-item">
              <div><strong>Notes</strong></div>
              <p>
                {{patient.addressNotes}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ********** Insurance ********** -->

  <div class="row">
    <div class="col-md-12">
      <div class="modal-head">
        <div class="row">
          <div class="col-md-12">
            <h4>Insurance<a href="#"><small ng-click="enableEditMode('Insurance')"><span class="glyphicon glyphicon-edit"></span>Edit Insurance</small></a></h4></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="modal-inner">
        <div class="row">
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Insurance Name</strong></div>
              {{patient.INS1CO}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Plan</strong></div>
              {{patient.INS1PLAN}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Insurance ID</strong></div>
              {{patient.INS1ID}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Group</strong></div>
              {{patient.INS1GROUP}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Auth Code</strong></div>
              {{patient.INS1AUTHCODE}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="modal-inner">
        <div class="row">
          <div class="col-md-12">
            <div class="patient-info-item">
              <div><strong>Notes</strong></div>
              <p>
                {{patient.INS1NOTES}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ********** Referral ********** -->

  <div class="row">
    <div class="col-md-12">
      <div class="modal-head">
        <div class="row">
          <div class="col-md-12">
            <h4>Referral<a href="#"><small ng-click="enableEditMode('Referral')"><span class="glyphicon glyphicon-edit"></span>Edit Referral</small></a></h4></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="modal-inner">
        <div class="row">
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Received By</strong></div>
              {{patient.REFRECEIVED}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Referral Source</strong></div>
              {{patient.REFERRSRC}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Referral Date</strong></div>
              {{patient.REFERRDATE}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Referral Ind</strong></div>
              ??
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Referral MD</strong></div>
              {{patient.REFERRPHYSICIAN}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Admit Source</strong></div>
              {{patient.ADMITSRCE}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Care Type</strong></div>
              SN, OT, MSW
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="modal-inner">
        <div class="row">
          <div class="col-md-12">
            <div class="patient-info-item">
              <div><strong>Notes</strong></div>
              <p>
                {{patient.REFERRNOTES}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ********** Physician ********** -->

  <div class="row">
    <div class="col-md-12">
      <div class="modal-head">
        <div class="row">
          <div class="col-md-12">
            <h4>Physician<a href="#"><small ng-click="enableEditMode('Physician')"><span class="glyphicon glyphicon-edit"></span>Edit Physcian</small></a></h4></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="modal-inner">
        <div class="row">
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>NPI</strong></div>
              NPI Info
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>F2F 485</strong></div>
              Yes
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Name</strong></div>
              {{patient.DOCTORLNAME}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Address</strong></div>
              {{patient.DOCTORADDRESS}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Type</strong></div>
              Surgeon
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>City</strong></div>
              {{patient.DOCTORCITY}}

            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Phone</strong></div>
              {{patient.DOCTORPHONE}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>State</strong></div>
              {{patient.DOCTORSTATE}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Fax</strong></div>
              {{patient.DOCTOFAX}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Zipcode</strong></div>
              {{patient.DOCTORZIP}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Email</strong></div>
              {{patient.DOCTOREMAIL}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="modal-inner">
        <div class="row">
          <div class="col-md-12">
            <div class="patient-info-item">
              <div><strong>Notes</strong></div>
              <p>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ********** Diagnosis ********** -->

  <div class="row">
    <div class="col-md-12">
      <div class="modal-head">
        <div class="row">
          <div class="col-md-12">
            <h4>Diagnosis<a href="#"><small ng-click="enableEditMode('Diagnosis')"><span class="glyphicon glyphicon-edit"></span>Edit Diagnosis</small></a></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="modal-inner">
        <div class="row">
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Medical</strong></div>
              Allergies
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Medical</strong></div>
              Fever
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Medical</strong></div>
              Cancer
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Surgical</strong></div>
              Surgery
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Surgical</strong></div>
              Surgery
            </div>
          </div>
          <div class="col-md-4">
            <div class="patient-info-item">
              <div><strong>Surgical</strong></div>
              Surgery
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="modal-inner">
        <div class="row">
          <div class="col-md-12">
            <div class="patient-info-item">
              <div><strong>Notes</strong></div>
              <p>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
      <footer>
        <button class="btn btn-primary purple" ng-click="close()">Finished</button>
      </footer>
    </div>
  </div>
</div>
<demographic ng-show="editDemographic"></demographic>
<contact ng-show="editContact"></contact>
<insurance ng-show="editInsurance"></insurance>
<referral ng-show="editReferral"></referral>
<physician ng-show="editPhysician"></physician>
<diagnosis ng-show="editDiagnosis"></diagnosis>
