<div id="left-nav-menu" ng-controller="Navigation">
  <div class="logoline">
    <span><img src="assets/images/logo.png">Maya healthcare</span>
  </div>
  <div class="nav-icons">
    <ul>
      <!-- <a href="#"><li title="Home"><span class="fa fa-angle-double-right fa-lg"></span></li></a> -->
      <!-- <li title="Home"><a href="#"><span class="fa fa-bars fa-lg"></span></a></li> -->
      <li title="Home"><a ui-sref="homeDashboard"><span class="fa fa-home fa-lg fa-fw"></span>Home</a></li>
      <li title="Patients"><a ui-sref="patientSearch"><span class="fa fa-user fa-lg fa-fw"></span>Patients</a></li>
      <li title="Communication"><a ui-sref="notifications"><span class="fa fa-comment-o fa-lg fa-fw"></span>Notifications</a></li>
      <li title="Employees"><a ui-sref="employeeSearch"><span class="fa fa-users fa-lg fa-fw"></span>Employees</a></li>
      <li title="ScheduleDashboard"><a ui-sref="scheduleDashboard"><span class="fa fa-calendar-o fa-lg fa-fw"></span>Schedule</a></li>
      <li title="QA"><a ui-sref="qa"><span class="fa fa-file-text fa-lg fa-fw"></span>QA</a></li>
      <!-- <li title="Payroll"><a ui-sref="payroll"><span class="fa fa-usd fa-lg"></span></a></li> -->
      <li title="Billing"><a ui-sref="billing"><span class="fa fa-usd fa-lg fa-fw"></span>Billing</a></li>
      <li title="OasisList"><a ui-sref="oasisList"><span class="fa fa-file-word-o fa-lg fa-fw"></span>Oasis</a></li>
      <li title="Orders"><a ui-sref="orders"><span class="fa fa-file-word-o fa-lg fa-fw"></span>Orders</a></li>
        <!-- <li title="Notifications"><a ui-sref="notifications" ><span class="fa fa-flag fa-lg"></span></a></li> -->
      <li title="Settings"><a ui-sref="settings"><span class="fa fa-cog fa-lg fa-fw"></span>Settings</a></li>
      <li title="Sign Out"><a ng-click="logout()"><span class="fa fa-power-off fa-lg fa-fw"></span>Log Out</a></li>

    </ul>
  </div>
  <!-- <div class="nav-icons bottom">
    <ul>
      <li title="Sign Out"><a><span ng-click="logout()" class="fa fa-power-off fa-lg fa-fw"></span>Log Out</a></li>
    </ul>
  </div> -->
  <!-- <div class="nav-icons bottom">
    <ul>
      <li><a><i ng-click="tempLogOut()" class="fa fa-dot-circle-o"></i></a></li>
    </ul>
  </div> -->
</div>
