a.nav-disabled {
  pointer-events: none;
  cursor: default;
}
li.nav-disabled {
 opacity: 0.3;
}

#left-nav-menu {
  // margin-top: 60px;
  padding-bottom: 50px;
  z-index: 10;
  overflow: scroll;
  a {
    text-decoration: none;
  }
  position: fixed;
  height: 100%;
  background: #2B233B;
  width: 160px;
  .logoline {
    background: #2B233B;
    height: 60px;
    width: 160px !important;
    text-align: center;
    cursor: pointer;
    // padding: 10px 0;
    span {
      color: #E9DBF0;
      line-height: 60px;
      &:hover {
        color: #FFF;
      }
      img {
        width:15%;
        margin-right: 5px;
      }
    }
  }
  .nav-icons {
    &.bottom {
      font-size: 25px;
    }
    ul {
      padding: 0 15px;
      // text-align: center;
      list-style: none;
      li {
        margin: 25px 0;
        cursor: pointer;
        a {
            color: #9B95A7;
            &:hover {
                color: #FFF;
            }
            span {
              margin-right: 10px;
            }
        }

      }
    }
  }
}

header-nav{
  width: 100%;
}
