#remittance-advice {
    overflow: hidden;
    margin-left: 160px;
    position: relative;
    background: #FFF;
    padding-top: 60px;

    .pagination {
        a {
            color: #000000;
            padding: 8px 16px;
            text-decoration: none;
        }
    }

    .search-bar {
        // @include tablet {
        //   height: 100px;
        // }
        height: 60px;
        padding: 12px 0;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.16);

        .text-heading {
            position: absolute;
            margin-left: 10px;

            span {
                position: absolute;
                top: 3px;
            }
        }

        select {
            float: right;
            display: inline-block;
            width: 120px;
        }

        input [type='text'] {
            width: 100%;
            background: #F1F1F1;
            font-size: 20px;
        }

        .inner-addon {
            position: relative;
        }

        .inner-addon .glyphicon {
            position: absolute;
            padding: 10px;
            pointer-events: none;
        }

        .left-addon .glyphicon {
            left: 0;
        }

        .left-addon input {
            padding-left: 30px;
        }

        .add-billing {
            a {
                color: #000;
                text-decoration: none;
            }
            cursor: pointer;

            i {
                font-size: 25px;
            }
        }
    }

    .billings-row-head {
        color: black;
        height: 35px;
        background-color: rgba(#70669D, .08);
        padding: 8px 0;
        border-bottom: 1px solid lightgrey;

        .billings-row-title {
            color: #717171;

            i {
                top: 3px;
            }
        }
    }

    .billings-info-row {
        cursor: pointer;
        font-size: 12px;
        padding: 10px 0;

        &:hover {
            background-color: rgba(#70669D, .15);
        }

        span {
            color: #B5B5B5;
        }

        .billings-name-column {
            a {
                color: #000;
            }
            position: relative;

            .billings-name {
                margin-left: 10px;
                top: 15px;
                display: inline-block;
                position: absolute;
            }
        }

        .billings-info-item {
            margin-top: 15px;

            i {
                float: right;
                margin-right: 60px;
                cursor: pointer;
            }
        }
    }
}

#patient-dashboard {
    & .remittanceadvice-dashboard {
        .dashboard-background {
            .metric-box {
                background: #f0f0f0 none repeat scroll 0 0;
                border-radius: 2px;
                height: auto !important;
                box-shadow: none;
            }
        }

        .box-header {
            background: #42335e none repeat scroll 0 0;
            border: 2px solid #42335e;
            border-radius: 6px;
            -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24), 0 1px 4px 0 rgba(0, 0, 0, 0.04);
            -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24), 0 1px 4px 0 rgba(0, 0, 0, 0.04);
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24), 0 1px 4px 0 rgba(0, 0, 0, 0.04);
            color: #fff;
            height: auto;
            margin-bottom: 15px;
            padding: 0;
            text-align: center;

            h4 {
                line-height: normal;
                margin: 0;
                padding: 5px 0;
                font-size: 15px;
                font-weight: 600;
            }
        }

        .box-background {
            background: #f0f0f0 none repeat scroll 0 0;
            border: 2px solid #c9c9c9;
            border-radius: 6px;
            -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24), 0 1px 4px 0 rgba(0, 0, 0, 0.04);
            -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24), 0 1px 4px 0 rgba(0, 0, 0, 0.04);
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24), 0 1px 4px 0 rgba(0, 0, 0, 0.04);
            height: auto;
            padding: 10px 15px;

            .date {
                margin-bottom: 4px;
                margin-left: 10px;
            }

            strong {
                display: inline-block;
                min-width: 80px;
            }

            span {
                margin-left: 8px;
            }
        }

        #remittance-top-detail-row {
            .metric-box {
                border: 1px solid #c9c9c9;
                border-radius: 6px;
                box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24), 0 1px 4px 0 rgba(0, 0, 0, 0.04);
                font-size: 13px;
                padding: 5px 8px;
            }

            .col-md-3 {
                padding-right: 0;

                &:last-child {
                    padding-right: 15px;
                }
            }

            .metric-box {
                p {
                    line-height: 20px;
                    margin-bottom: 0;
                }
            }
        }

        .claims.recent-activity {
            li {
                background: #d4d4d4 none repeat scroll 0 0;
                border: 2px solid #bbbbbb;
                border-radius: 6px;
                box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24), 0 1px 4px 0 rgba(0, 0, 0, 0.04);

                span {
                    float: right;
                }

                &:nth-child(2n+1) {
                    background: #f0f0f0 none repeat scroll 0 0;
                }
            }
        }
    }
}
