<div class="header-nav-menu" ng-controller="Navigation">
    <header-nav destination="#remittance-advice" billingnav="true"></header-nav>
</div>
<div id="remittance-advice" style="margin-left:270px" ng-show="listView">
    <div class="search-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <span class="icon-profile icon-size-3"></span>
                    <span class="text-heading">Remittance Advice</span>
                </div>
            </div>
        </div>
    </div>
    <div class="dfg" id="dfg">
        <div class="billings-row-head">
            <div class="container">
                <div class="row">
                    <div class="billings-row-title">
                        <div class="col-md-2">
                            Remittance ID
                        </div>
                        <div class="col-md-2">
                            Remittance Date
                        </div>
                        <div class="col-md-2">
                            Payment Date
                        </div>
                        <div class="col-md-2">
                            Provider Payment
                        </div>
                        <div class="col-md-2">
                            Claim Count
                        </div>
                        <div class="col-md-2">
                            Action
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="billings-info-row" ng-repeat="remittance in remittances" ng-click="showForm(claim)">
            <div class="container">
                <div class="row" ng-click="goToDetails(remittance.LISTID)">
                    <div class="col-md-2">
                        <div class="billings-info-item">
                            {{remittance.REMITTANCEID}}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="billings-info-item">
                            {{remittance.REMITTANCEDATE}}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="billings-info-item">
                            {{remittance.PAYMENTDATE}}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="billings-info-item">
                            {{remittance.PROVIDER_PAYMENT}}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="billings-info-item">
                            {{remittance.CLAIM_COUNT}}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="billings-info-item">
                            {{remittance.CLAIM_COUNT}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="patient-dashboard" ng-show="detailView" class="remittanceadvice-dashboard">
    <div class="head-bar">
        <div class="col-md-12">
            <div class="title">
                <h3>Remittance Detail View<span class="float-right fa fa-cog12" ng-click="goToBack(1)">Back</span>
                </h3>
            </div>
        </div>
    </div>
    <div class="dashboard-background">
        <div class="container">
            <div class="row" id="remittance-top-detail-row">
                <div class="col-md-3">
                    <div class="metric-box full-padding">
                        <p>
                            <strong>Remittance ID:</strong>
                            <span>{{detailRemittance.REMITTANCEID}}</span></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="metric-box full-padding">
                        <p>
                            <strong>Payment Date:</strong>
                            <span>{{detailRemittance.PAYMENTDATE}}</span></p>
                        <p>
                            <strong>Remittance Date:</strong>
                            <span>{{detailRemittance.REMITTANCEDATE}}</span></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="metric-box full-padding">
                        <p>
                            <strong>Provider Payment:</strong>
                            <span>{{detailRemittance.PROVIDER_PAYMENT}}</span></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="metric-box full-padding">
                        <p>
                            <strong>Provider Payment:</strong>
                            <span>{{detailRemittance.REMITTANCEID}}</span></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="metric-box" style="height:600px;margin-top: 15px;">
                        <div class="box-header">
                            <h4>Payer
                            </h4>
                        </div>
                        <div class="box-background">
                            <p class="date text-medium">
                                <strong>Name</strong>
                                :
                                <span>{{detailRemittance.payerAddress1}}</span></p>
                            <p class="date text-medium">
                                <strong>PayerID</strong>
                                :
                                <span>{{detailRemittance.payerId}}</span></p>
                            <p class="date text-medium">
                                <strong>Address1</strong>
                                :
                                <span>{{detailRemittance.payerAddress2}}</span></p>
                            <p class="date text-medium">
                                <strong>Address2</strong>
                                :
                                <span></span></p>
                            <p class="date text-medium">
                                <strong>City</strong>
                                :
                                <span>{{detailRemittance.payercity}}</span></p>
                            <p class="date text-medium">
                                <strong>State</strong>
                                :
                                <span>{{detailRemittance.payerstate}}</span></p>
                            <p class="date text-medium">
                                <strong>Zip</strong>
                                :
                                <span>{{detailRemittance.payerzip}}</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="metric-box" style="height:600px;margin-top: 15px;">
                        <div class="box-header">
                            <h4>Payee</h4>
                        </div>
                        <div class="box-background">
                            <p class="date text-medium">
                                <strong>Name
                                </strong>:
                                <span>{{detailRemittance.payeeAddress1}}</span></p>
                            <p class="date text-medium">
                                <strong>TaxId</strong>
                                :
                                <span>{{detailRemittance.payeeTaxId}}</span></p>
                            <p class="date text-medium">
                                <strong>Npi</strong>
                                :
                                <span>{{detailRemittance.payeeNpi}}</span></p>
                            <p class="date text-medium">
                                <strong>Address1</strong>
                                :
                                <span>{{detailRemittance.payeeAddress2}}</span></p>
                            <p class="date text-medium">
                                <strong>Address2</strong>
                                :
                                <span></span></p>
                            <p class="date text-medium">
                                <strong>City</strong>
                                :
                                <span>{{detailRemittance.payeecity}}</span></p>
                            <p class="date text-medium">
                                <strong>State</strong>
                                :
                                <span>{{detailRemittance.payeestate}}</span></p>
                            <p class="date text-medium">
                                <strong>Zip</strong>
                                :
                                <span>{{detailRemittance.payeezip}}</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="claims recent-activity" style="height:600px;margin-top: 15px;">
                        <div class="box-header">
                            <h4>Claims</h4>
                        </div>
                        <div class="box-background-claims">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="claims in detailRemittance.list">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Patient Name :</b>
                                            <span>{{claims.firstname}}
                                                {{claims.lastname}}</span></div>
                                        <div class="col-md-6">
                                            <b>Patient Control Number :</b>
                                            <span>
                                                {{claims.controlnumber}}
                                                <span></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <b>Claim Status :</b>
                                                    <span>{{claims.status}}
                                                    </span>
                                                </div>
                                                <div class="col-md-6">
                                                    <b>Reported Charge :</b>
                                                    <span>
                                                        {{claims.TotalClaimChargeAmount}}
                                                        <span></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <b>Remittance :</b>
                                                            <span>{{claims.TotalClaimChargeAmount}}</span></div>
                                                        <div class="col-md-6">
                                                            <b>Paid Amount :</b>
                                                            <span>{{claims.ClaimPaymentAmountpaid}}
                                                                <span></div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <b>IndicatorCode :</b>
                                                                    <span>{{claims.IndicatorCode}}</span></div>
                                                                <div class="col-md-6">
                                                                    <b>PayerClaimControlNumber :</b>
                                                                    <span>{{claims.PayerClaimControlNumber}}
                                                                        <span></div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <b>FacilityTypeCode :</b>
                                                                            <span>{{claims.FacilityTypeCode}}</span></div>
                                                                        <div class="col-md-6">
                                                                            <b>ClaimFrequencyCode :</b>
                                                                            <span>{{claims.ClaimFrequencyCode}}
                                                                                <span></div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="billings-right-menu">
                                            <billings-expanded-nav></billings-expanded-nav>
                                        </div>
