<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#other-follow-up" oasisnav="true"></header-nav>
</div>

<div id="other-follow-up" class="oasisC2-ICD10">
  <div class="create-bar">
    <div class="container small">
      <a ui-sref="records"><i class="fa fa-arrow-left"></i></a>
      OTHER FOLLOW-UP ASSESSMENT - {{currentForm}}
      <!-- <button type="button" class="btn btn-primary" ng-click="scrubber()">Scrubber</button> -->
      <!-- <button type="button" class="btn btn-success" ng-click="saveOtherFollowUp()">Submit to QA</button> -->
      <!-- <button type="button" class="btn btn-success" ng-if="ClinicalRecordItemsComplete === true && PatientHistoryAndDiagnosesComplete === true && SensoryStatusComplete === true && IntegumentaryStatusComplete === true && RespiratoryStatusComplete === true && EliminationStatusComplete === true && ADLComplete === true && MedicationsComplete === true && TherapyComplete === true" ng-click="saveOtherFollowUp()">Submit to QA</button> -->
      <button type="button" class="btn btn-success" ng-click="edit()">Edit</button>
      <button type="button" class="btn btn-success" ng-click="save()" ng-hide="disableEditDetails" ng-show="enableInput">save</button>

    </div>
  </div>
  <!-- <div class="error-box" style="margin-right: -250px" ng-show="errorMsg" ng-click="errorMsg=!errorMsg">
    <div class="error-title">
      <i class="fa fa-angle-double-right"></i> ERRORS
    </div>
    <div class="error-msg">
      {{error}}
    </div>
  </div>
  <div class="error-box-expand" ng-hide="errorMsg" ng-init="errorMsg=true" ng-click="errorMsg=!errorMsg">
    <div class="error-title">
      <i class="fa fa-angle-double-left"></i> ERRORS
    </div>
  </div> -->

  <!-- ********** ClinicalRecordItems ********** -->
  <form name="clinical" novalidate id="clinical">
    <fieldset ng-disabled="disableEditDetails" ng-class="{'enableInput': enableInput}">
    <section class="ClinicalRecordItems">
      <table cellspacing="1" cellpadding="2" style="width: 100%; border: 0px;" class="formtable">
        <tbody>
          <tr class="M0080">
            <td class="motag" width="92">M0080</td>
            <td class="tbl_field" width="140" align="right">Discipline of Person Completing Assessment:</td>
            <td width="848" colspan="3">
              <div class="field-error" ng-show="clinical.M0080_ASSESSOR_DISCIPLINE.$touched && clinical.M0080_ASSESSOR_DISCIPLINE.$invalid || clinical.M0080_ASSESSOR_DISCIPLINE.$invalid && clinical.$submitted">Dicipline is required.</div>
              <input required ng-model="M0080_ASSESSOR_DISCIPLINE" type="radio" name="M0080_ASSESSOR_DISCIPLINE" id="completion_1" value="1"> 1-RN
              <input required ng-model="M0080_ASSESSOR_DISCIPLINE" type="radio" name="M0080_ASSESSOR_DISCIPLINE" id="completion_2" value="2"> 2-PT
              <input required ng-model="M0080_ASSESSOR_DISCIPLINE" type="radio" name="M0080_ASSESSOR_DISCIPLINE" id="completion_3" value="3"> 3-SLP/ST
              <input required ng-model="M0080_ASSESSOR_DISCIPLINE" type="radio" name="M0080_ASSESSOR_DISCIPLINE" id="completion_4" value="4"> 4-OT
            </td>
          </tr>
          <tr class="M0090">
              <td class="motag" width="92">M0090</td>
              <td class="tbl_field" width="140" align="right">Date Assessment Completed:</td>
              <td width="848" colspan="3">
                <div class="field-error" ng-show="clinical.M0090_INFO_COMPLETED_DT.$touched && clinical.M0090_INFO_COMPLETED_DT.$invalid || clinical.M0090_INFO_COMPLETED_DT.$invalid && clinical.$submitted">Date is required.</div>
                <div class="input-group" style="margin:0;width:60%">
                  <input type="text"
                        required
                        class="form-control"
                        uib-datepicker-popup='yyyy-MM-dd'
                        ng-model="M0090_INFO_COMPLETED_DT"
                        is-open="openedM0090"
                        show-button-bar="false"
                        ng-click="openedM0090=true"
                        datepicker-append-to-body="true"
                        alt-input-formats="altInputFormats" />
                  <span class="input-group-btn" >
                    <button type="button" class="btn btn-default" ng-click="openedM0090=true"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>

                  <!-- <input required ng-model="M0090_INFO_COMPLETED_DT" type="date" name="M0090_INFO_COMPLETED_DT" id="dtDateAssessmentCompleted"> -->
              </td>
          </tr>
          <tr class="M0110">
            <td class="motag" width="92">M0110</td>
            <td class="tbl_field" width="140" align="right">Episode Timing:</td>
            <td width="848" colspan="3">
              <div class="field-error" ng-show="clinical.M0110_EPISODE_TIMING.$touched && clinical.M0110_EPISODE_TIMING.$invalid || clinical.M0110_EPISODE_TIMING.$invalid && clinical.$submitted">Episode TIming is required.</div>
              <input required ng-model="M0110_EPISODE_TIMING" type="radio" name="M0110_EPISODE_TIMING" id="M0110_1" value="1"> 1 - Early <br />
              <input required ng-model="M0110_EPISODE_TIMING" type="radio" name="M0110_EPISODE_TIMING" id="M0110_2" value="2"> 2 - Later <br />
              <input required ng-model="M0110_EPISODE_TIMING" type="radio" name="M0110_EPISODE_TIMING" id="M0110_3" value="UK"> UK - Unknown <br />
              <input required ng-model="M0110_EPISODE_TIMING" type="radio" name="M0110_EPISODE_TIMING" id="M0110_4" value="NA"> NA - Not Applicable: No Medicare case mix group to be defined by this
              assessment.
            </td>
          </tr>
        </tbody>
      </table>
      <div class="bottom-nav">
        <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="submitSection(clinical, 'PatientHistoryAndDiagnoses')">Finished<i class="glyphicon glyphicon-ok"></i></button>
      </div>
    </section>
  </form>

  <!-- ********** PatientHistoryAndDiagnoses ********** -->
  <form name="history" novalidate>
    <section class="PatientHistoryAndDiagnoses" style="display:none;">
      <table cellspacing="1" cellpadding="2" style="width: 100%; border: 0px;" class="formtable">
        <tbody>
          <tr class="M1011">
            <td class="motag" width="92">M1011</td>
            <td class="tbl_field" width="140" align="right">List each Inpatient Diagnosis and ICD-10-CM code at the level of
              highest specificity<br /> for only those conditions actively treated during an inpatient stay having a discharge
              date within the last 14 days (no V, W, X, Y or X codes or surigical codes):
            </td>
            <td width="848" colspan="3">
              <div class="field-error" ng-show="history.M1011_14_DAY_INP1_ICD.$touched && history.M1011_14_DAY_INP1_ICD.$invalid || history.M1011_14_DAY_INP1_ICD.$invalid && history.$submitted">At least one is required.</div>
              Inpatient Facility Diagnosis ICD-10-CM Code <br />
              a. <input type="text" name="M1011_1" id="M1011_1">
              <input ng-required="M1011_14_DAY_INP_NA===0" ng-model="M1011_14_DAY_INP1_ICD" type="text" name="M1011_14_DAY_INP1_ICD" id="M1011_14_DAY_INP1_ICD"><br />
              b. <input type="text" name="M1011_2" id="M1011_2">
              <input ng-model="M1011_14_DAY_INP2_ICD" type="text" name="M1011_14_DAY_INP2_ICD" id="M1011_14_DAY_INP2_ICD"><br />
              c. <input type="text" name="M1011_3" id="M1011_3">
              <input ng-model="M1011_14_DAY_INP3_ICD" type="text" name="M1011_14_DAY_INP3_ICD" id="M1011_14_DAY_INP3_ICD"><br />
              d. <input type="text" name="M1011_4" id="M1011_4">
              <input ng-model="M1011_14_DAY_INP4_ICD" type="text" name="M1011_14_DAY_INP4_ICD" id="M1011_14_DAY_INP4_ICD"><br />
              e. <input type="text" name="M1011_5" id="M1011_5">
              <input ng-model="M1011_14_DAY_INP5_ICD" type="text" name="M1011_14_DAY_INP5_ICD" id="M1011_14_DAY_INP5_ICD"><br />
              f. <input type="text" name="M1011_6" id="M1011_6">
              <input ng-model="M1011_14_DAY_INP6_ICD" type="text" name="M1011_14_DAY_INP6_ICD" id="M1011_14_DAY_INP6_ICD">
              <input ng-required="M1011_14_DAY_INP1_ICD===''" ng-checked="{{M1011_14_DAY_INP_NA}}" ng-model="M1011_14_DAY_INP_NA" type="checkbox" ng-true-value="'1'" name="M1011" id="chM1016"
                     ng-change="M1011_14_DAY_INP1_ICD = M1011_14_DAY_INP_NA ? '' : M1011_14_DAY_INP1_ICD;
                     M1011_14_DAY_INP2_ICD = M1011_14_DAY_INP_NA ? '' : M1011_14_DAY_INP2_ICD;
                     M1011_14_DAY_INP3_ICD = M1011_14_DAY_INP_NA ? '' : M1011_14_DAY_INP3_ICD;
                     M1011_14_DAY_INP4_ICD = M1011_14_DAY_INP_NA ? '' : M1011_14_DAY_INP4_ICD;
                     M1011_14_DAY_INP5_ICD = M1011_14_DAY_INP_NA ? '' : M1011_14_DAY_INP5_ICD;
                     M1011_14_DAY_INP6_ICD = M1011_14_DAY_INP_NA ? '' : M1011_14_DAY_INP6_ICD;"><br />
                    NA - Not applicable (no medical or treatment regimen changes within the past 14 days)
            </td>
          </tr>

          <tr class="M1021/1023/1025">
            <td class="motag" width="92">M1021/1023/1025</td>
            <td class="tbl_field" width="140" align="right">Diagnoses, Symptom Control, and Optional Diagnoses</td>
            <td width="848" colspan="3">
            </td>
          </tr>
          <tr>
            <td colspan="3">List each diagnosis for which the patient is receiving home care (Column 1) and enter its
              ICD-10-CM code at the level of highest specificity in Column 2 (diagnosis codes only - no surgical or
              procedure codes allowed).<br />
              Diagnoses are listed in the order that best reflects the seriousness of each condition and supports
              the disciplines and services provided. Rate the degree of symptom control for each condition in
              (Column 2). <br />
              ICD-10-CM sequencing requirements must be followed if multiple coding is indicated for any diagnoses. <br />
              If a Z-code is reported in Column 2 in place of a diagnosis that is no longer active (a resolved condition),
              then optional item M1025 (Optional Diagnoses - Columns 3 and 4) may be completed. Diagnoses reported in
              M1025 will not impact payment. <br />

              <p>Code each row according to the following directions for each column: </p>
              <strong>Column 1:</strong> Enter the description of the diagnosis. Sequencing of diagnoses should
              reflect the seriousness of each condition and support the disciplines and services provided.  <br />
              <strong>Column 2:</strong> Enter the ICD-10-CM code for the condition described in Column 1 - no surgical
              or procedure codes allowed. Codes must be entered at the level of highest specificity and ICD-10-CM
              coding rules and sequencing requirements must be followed. Note that external cause codes (ICD-10-CM
              codes beginning with V, W, X, or Y) may not be reported in M1021 (Primary Diagnosis) but may be reported in
              M1023 (Secondary Diagnoses). Also note that when a Z-code is reported in Column 2, the code for the underlying
              condition can often be entered in Column 2, as long as it is an active on-going condition impacting home
              health care. <br />
              Rate the degree of symptom control for the condition listed in Column 1. Do not assign a symptom control
              rating if the diagnosis code is a V, W, X, Y or Z-code. Choose one value that represents the degree of
              symptom control appropriate for each diagnosis using the following scale:<br />

              0 - Asymptomatic, no treatment needed at this time <br />
              1 - Symptoms well controlled with current therapy <br />
              2 - Symptoms controlled with difficulty, affecting daily functioning; patient needs ongoing monitoring <br />
              3 - Symptoms poorly controlled; patient needs frequent adjustment in treatment and dose monitoring </b>
              4 - Symptoms poorly controlled; history of re-hospitalizations <br />

              Note that the rating for symptom control in Column 2 should not be used to determine the sequencing of
              the diagnoses listed in Column 1. These are separate items and sequencing may not coincide.<br />

              <p><strong>Column 3: (OPTIONAL)</strong> There is no requirement that HHAs enter a diagnosis code in M1025
                (Columns 3 and 4). Diagnoses reported in M1025 will not impact payment.<br />
                Agencies may choose to report an underlying condition in M1025 (Columns 3 and 4) when:<br />
                • a Z-code is reported in Column 2 AND <br />
                • the underlying condition for the Z-code in Column 2 is a resolved condition . An example of a
                resolved condition is uterine cancer that is no longer being treated following a hysterectomy.
              </p>

              <p><strong>Column 4: (OPTIONAL)</strong>  If a Z-code is reported in M1021/M1023 (Column 2) and the
                agency chooses to report a resolved underlying condition that requires multiple diagnosis codes under
                ICD-10-CM coding guidelines, enter the diagnosis descriptions and the ICD-10-CM codes in the same row
                in Columns 3 and 4. For example, if the resolved condition is a manifestation code, record the diagnosis
                description and ICD-10-CM code for the underlying condition in Column 3 of that row and the diagnosis
                description and ICD-10-CM code for the manifestation in Column 4 of that row. Otherwise, leave Column
                4 blank in that row.
              </p>
                 <br />
             </td>
          </tr>
          <tr>
            <td colspan="3">
              <table class="auto-style5">
                <tr>
                  <td colspan="2" class="tbl_field"><strong>(M1021) Primary Diagnosis</strong></td>
                </tr>
                <tr>
                  <td class="auto-style7">Column1</td>
                  <td class="auto-style12">Column2</td>
                </tr>
                <tr>
                  <td class="auto-style7">Diagnoses (Sequencing of diagnoses should reflect the seriousness of each condition and support the disciplines and services provided.) </td>
                  <td class="auto-style12">ICD-10-CM and symptom control rating for each condition. Note that the sequencing of these ratings may not match the sequencing of the diagnoses. </td>
                </tr>
                <tr>
                  <td class="auto-style6">Description</td>
                  <td class="auto-style13">ICD-10-CM /</td>
                </tr>
                <tr>
                  <td class="auto-style6">&nbsp;</td>
                  <td class="auto-style13">Symptom Control Rating</td>
                </tr>
                <tr>
                  <td class="auto-style6">
                    a.<input type="text" name="M1020a" id="M1020a">
                  </td>
                  <td class="auto-style13">
                    (V, W, X, Y codes NOT allowed) <br />
                    a. (<input type="text" ng-model="M1021_PRIMARY_DIAG_ICD" name="M1021_PRIMARY_DIAG_ICD" id="M1021_PRIMARY_DIAG_ICD">) <br />
                    <input type="radio" ng-model="M1021_PRIMARY_DIAG_SEVERITY" name="M1021_PRIMARY_DIAG_SEVERITY" id="M1021_1" value="0">0
                    <input type="radio" ng-model="M1021_PRIMARY_DIAG_SEVERITY" name="M1021_PRIMARY_DIAG_SEVERITY" id="M1021_2" value="1">1
                    <input type="radio" ng-model="M1021_PRIMARY_DIAG_SEVERITY" name="M1021_PRIMARY_DIAG_SEVERITY" id="M1021_3" value="2">2
                    <input type="radio" ng-model="M1021_PRIMARY_DIAG_SEVERITY" name="M1021_PRIMARY_DIAG_SEVERITY" id="M1021_4" value="3">3
                    <input type="radio" ng-model="M1021_PRIMARY_DIAG_SEVERITY" name="M1021_PRIMARY_DIAG_SEVERITY" id="M1021_5" value="4">4
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="tbl_field"><strong>(M1023) Other Diagnoses</strong></td>
                </tr>
                <tr>
                  <td class="auto-style6">
                     b.<input type="text" name="M1022a" id="M1022a">
                  </td>
                  <td class="auto-style13">
                    All ICD-10-C M codes allowed <br />
                    b. (<input type="text" ng-model="M1023_OTH_DIAG1_ICD" name="M1023_OTH_DIAG1_ICD" id="M1023_OTH_DIAG1_ICD">) <br />
                    <input type="radio" ng-model="M1023_OTH_DIAG1_SEVERITY" name="M1023_OTH_DIAG1_SEVERITY" id="M1023b_1" value="0">0
                    <input type="radio" ng-model="M1023_OTH_DIAG1_SEVERITY" name="M1023_OTH_DIAG1_SEVERITY" id="M1023b_2" value="1">1
                    <input type="radio" ng-model="M1023_OTH_DIAG1_SEVERITY" name="M1023_OTH_DIAG1_SEVERITY" id="M1023b_3" value="2">2
                    <input type="radio" ng-model="M1023_OTH_DIAG1_SEVERITY" name="M1023_OTH_DIAG1_SEVERITY" id="M1023b_4" value="3">3
                    <input type="radio" ng-model="M1023_OTH_DIAG1_SEVERITY" name="M1023_OTH_DIAG1_SEVERITY" id="M1023b_5" value="4">4
                  </td>
                </tr>
                <tr>
                  <td class="auto-style6">
                    c.<input type="text" name="M1022a" id="M1022a">
                  </td>
                  <td class="auto-style13">
                    c. (<input type="text" ng-model="M1023_OTH_DIAG2_ICD" name="M1023_OTH_DIAG2_ICD" id="M1023_OTH_DIAG2_ICD">) <br />
                    <input type="radio" ng-model="M1023_OTH_DIAG2_SEVERITY" name="M1023_OTH_DIAG2_SEVERITY" id="M1023c_1" value="0">0
                    <input type="radio" ng-model="M1023_OTH_DIAG2_SEVERITY" name="M1023_OTH_DIAG2_SEVERITY" id="M1023c_2" value="1">1
                    <input type="radio" ng-model="M1023_OTH_DIAG2_SEVERITY" name="M1023_OTH_DIAG2_SEVERITY" id="M1023c_3" value="2">2
                    <input type="radio" ng-model="M1023_OTH_DIAG2_SEVERITY" name="M1023_OTH_DIAG2_SEVERITY" id="M1023c_4" value="3">3
                    <input type="radio" ng-model="M1023_OTH_DIAG2_SEVERITY" name="M1023_OTH_DIAG2_SEVERITY" id="M1023c_5" value="4">4
                  </td>
                </tr>
                <tr>
                  <td class="auto-style6">
                    d.<input type="text" name="M1022a" id="M1022a">
                  </td>
                  <td class="auto-style13">
                    d. (<input type="text" ng-model="M1023_OTH_DIAG3_ICD" name="M1023_OTH_DIAG3_ICD" id="M1023_OTH_DIAG3_ICD">) <br />
                    <input type="radio" ng-model="M1023_OTH_DIAG3_SEVERITY" name="M1023_OTH_DIAG3_SEVERITY" id="M1023d_1" value="0">0
                    <input type="radio" ng-model="M1023_OTH_DIAG3_SEVERITY" name="M1023_OTH_DIAG3_SEVERITY" id="M1023d_2" value="1">1
                    <input type="radio" ng-model="M1023_OTH_DIAG3_SEVERITY" name="M1023_OTH_DIAG3_SEVERITY" id="M1023d_3" value="2">2
                    <input type="radio" ng-model="M1023_OTH_DIAG3_SEVERITY" name="M1023_OTH_DIAG3_SEVERITY" id="M1023d_4" value="3">3
                    <input type="radio" ng-model="M1023_OTH_DIAG3_SEVERITY" name="M1023_OTH_DIAG3_SEVERITY" id="M1023d_5" value="4">4
                  </td>
                </tr>
                <tr>
                  <td class="auto-style6">
                    e.<input type="text" name="M1022a" id="M1022a">
                  </td>
                  <td class="auto-style13">
                    e. (<input type="text" ng-model="M1023_OTH_DIAG4_ICD" name="M1023_OTH_DIAG4_ICD" id="M1023_OTH_DIAG4_ICD">) <br />
                    <input type="radio" ng-model="M1023_OTH_DIAG4_SEVERITY" name="M1023_OTH_DIAG4_SEVERITY" id="M1023e_1" value="0">0
                    <input type="radio" ng-model="M1023_OTH_DIAG4_SEVERITY" name="M1023_OTH_DIAG4_SEVERITY" id="M1023e_2" value="1">1
                    <input type="radio" ng-model="M1023_OTH_DIAG4_SEVERITY" name="M1023_OTH_DIAG4_SEVERITY" id="M1023e_3" value="2">2
                    <input type="radio" ng-model="M1023_OTH_DIAG4_SEVERITY" name="M1023_OTH_DIAG4_SEVERITY" id="M1023e_4" value="3">3
                    <input type="radio" ng-model="M1023_OTH_DIAG4_SEVERITY" name="M1023_OTH_DIAG4_SEVERITY" id="M1023e_5" value="4">4
                  </td>
                </tr>
                <tr>
                  <td class="auto-style6">
                    f.<input type="text" name="M1022a" id="M1022a">
                  </td>
                  <td class="auto-style13">
                    f. (<input type="text" ng-model="M1023_OTH_DIAG5_ICD" name="M1023_OTH_DIAG5_ICD" id="M1023_OTH_DIAG5_ICD">) <br />
                    <input type="radio" ng-model="M1023_OTH_DIAG5_SEVERITY" name="M1023_OTH_DIAG5_SEVERITY" id="M1023f_1" value="0">0
                    <input type="radio" ng-model="M1023_OTH_DIAG5_SEVERITY" name="M1023_OTH_DIAG5_SEVERITY" id="M1023f_2" value="1">1
                    <input type="radio" ng-model="M1023_OTH_DIAG5_SEVERITY" name="M1023_OTH_DIAG5_SEVERITY" id="M1023f_3" value="2">2
                    <input type="radio" ng-model="M1023_OTH_DIAG5_SEVERITY" name="M1023_OTH_DIAG5_SEVERITY" id="M1023f_4" value="3">3
                    <input type="radio" ng-model="M1023_OTH_DIAG5_SEVERITY" name="M1023_OTH_DIAG5_SEVERITY" id="M1023f_5" value="4">4
                  </td>
                </tr>
               </table>
             </td>
           </tr>
           <tr>
             <td colspan="3">
               <table class="auto-style5">
                 <tr>
                   <td colspan="2" class="tbl_field"><strong>(M1025) Optional Diagnoses (OPTIONAL)- (not used for payment)</strong></td>
                 </tr>
                 <tr>
                   <td class="auto-style7">Column3</td>
                   <td class="auto-style12">Column4</td>
                 </tr>
                 <tr>
                   <td class="auto-style7">May be completed if a Z-code is assigned to Column 2 and the
                     underlying diagnosis is resolved </td>
                   <td class="auto-style12">Complete only if the Optional Diagnosis is a multiple coding situation
                     (for example: a manifestation code) </td>
                 </tr>
                 <tr>
                   <td class="auto-style6">Description / ICD-10-CM</td>
                   <td class="auto-style6">Description / ICD-10-CM</td>
                 </tr>
                 <tr>
                   <td class="auto-style13">
                     (V, W, X, Y codes NOT allowed) <br />
                     a. (<input type="text" name="M1020b" id="M1020b">) <br />
                     (<input type="text" ng-model="M1025_OPT_DIAG_ICD_A3" name="M1025_OPT_DIAG_ICD_A3" id="M1025_OPT_DIAG_ICD_A3">)
                   </td>
                   <td class="auto-style13">
                     (V, W, X, Y codes NOT allowed) <br />
                     a. (<input type="text" name="M1020b" id="M1020b">) <br />
                     (<input type="text" ng-model="M1025_OPT_DIAG_ICD_A4" name="M1025_OPT_DIAG_ICD_A4" id="M1025_OPT_DIAG_ICD_A4">)
                   </td>
                 </tr>
                 <tr>
                   <td class="auto-style13">
                     (V, W, X, Y codes NOT allowed) <br />
                     b. (<input type="text" name="M1020b" id="M1020b">) <br />
                     (<input type="text" ng-model="M1025_OPT_DIAG_ICD_B3" name="M1025_OPT_DIAG_ICD_B3" id="M1025_OPT_DIAG_ICD_B3">)
                   </td>
                   <td class="auto-style13">
                     (V, W, X, Y codes NOT allowed) <br />
                     b. (<input type="text" name="M1020b" id="M1020b">) <br />
                     (<input type="text" ng-model="M1025_OPT_DIAG_ICD_B4" name="M1025_OPT_DIAG_ICD_B4" id="M1025_OPT_DIAG_ICD_B4">)
                   </td>
                 </tr>
                 <tr>
                   <td class="auto-style13">
                     (V, W, X, Y codes NOT allowed) <br />
                     c. (<input type="text" name="M1020b" id="M1020b">) <br />
                     (<input type="text" ng-model="M1025_OPT_DIAG_ICD_C3" name="M1025_OPT_DIAG_ICD_C3" id="M1025_OPT_DIAG_ICD_C3">)
                   </td>
                   <td class="auto-style13">
                     (V, W, X, Y codes NOT allowed) <br />
                     c. (<input type="text" name="M1020b" id="M1020b">) <br />
                     (<input type="text" ng-model="M1025_OPT_DIAG_ICD_C4" name="M1025_OPT_DIAG_ICD_C4" id="M1025_OPT_DIAG_ICD_C4">)
                   </td>
                 </tr>
                 <tr>
                   <td class="auto-style13">
                     (V, W, X, Y codes NOT allowed) <br />
                     d. (<input type="text" name="M1020b" id="M1020b">) <br />
                     (<input type="text" ng-model="M1025_OPT_DIAG_ICD_D3" name="M1025_OPT_DIAG_ICD_D3" id="M1025_OPT_DIAG_ICD_D3">)
                   </td>
                   <td class="auto-style13">
                     (V, W, X, Y codes NOT allowed) <br />
                     d. (<input type="text" name="M1020b" id="M1020b">) <br />
                     (<input type="text" ng-model="M1025_OPT_DIAG_ICD_D4" name="M1025_OPT_DIAG_ICD_D4" id="M1025_OPT_DIAG_ICD_D4">)
                   </td>
                 </tr>
                 <tr>
                   <td class="auto-style13">
                     (V, W, X, Y codes NOT allowed) <br />
                     e. (<input type="text" name="M1020b" id="M1020b">) <br />
                     (<input type="text" ng-model="M1025_OPT_DIAG_ICD_E3" name="M1025_OPT_DIAG_ICD_E3" id="M1025_OPT_DIAG_ICD_E3">)
                   </td>
                   <td class="auto-style13">
                     (V, W, X, Y codes NOT allowed) <br />
                     e. (<input type="text" name="M1020b" id="M1020b">) <br />
                     (<input type="text" ng-model="M1025_OPT_DIAG_ICD_E4" name="M1025_OPT_DIAG_ICD_E4" id="M1025_OPT_DIAG_ICD_E4">)
                   </td>
                 </tr>
                 <tr>
                   <td class="auto-style13">
                     (V, W, X, Y codes NOT allowed) <br />
                     f. (<input type="text" name="M1020b" id="M1020b">) <br />
                     (<input type="text" ng-model="M1025_OPT_DIAG_ICD_F3" name="M1025_OPT_DIAG_ICD_F3" id="M1025_OPT_DIAG_ICD_F3">)
                   </td>
                   <td class="auto-style13">
                     (V, W, X, Y codes NOT allowed) <br />
                     f. (<input type="text" name="M1020b" id="M1020b">) <br />
                     (<input type="text" ng-model="M1025_OPT_DIAG_ICD_F4" name="M1025_OPT_DIAG_ICD_F4" id="M1025_OPT_DIAG_ICD_F4">)
                   </td>
                 </tr>
                </table>
              </td>
            </tr>
          <tr class="M1030">
            <td class="motag" width="92">M1030</td>
            <td class="tbl_field" width="140" align="right">Therapies the patient receives at home(Mark all that apply.):
            </td>
            <td width="848" colspan="3">
              <div class="field-error" ng-show="history.therapies.$touched && history.therapies.$invalid || history.therapies.$invalid && history.$submitted">Please select at least one.</div>
              <input ng-required="!M1030_THH_IV_INFUSION && !M1030_THH_PAR_NUTRITION && !M1030_THH_ENT_NUTRITION && !M1030_THH_NONE_ABOVE" ng-model="M1030_THH_IV_INFUSION" ng-true-value="'1'" type="checkbox" name="therapies" id="M1030_1"> 1 - Intravenous or infusion therapy (excludes TPN) <br />
              <input ng-required="!M1030_THH_IV_INFUSION && !M1030_THH_PAR_NUTRITION && !M1030_THH_ENT_NUTRITION && !M1030_THH_NONE_ABOVE" ng-model="M1030_THH_PAR_NUTRITION" ng-true-value="'1'" type="checkbox" name="therapies" id="M1030_2"> 2 - Parenteral nutrition (TPN or lipids) <br />
              <input ng-required="!M1030_THH_IV_INFUSION && !M1030_THH_PAR_NUTRITION && !M1030_THH_ENT_NUTRITION && !M1030_THH_NONE_ABOVE" ng-model="M1030_THH_ENT_NUTRITION" ng-true-value="'1'" type="checkbox" name="therapies" id="M1030_3"> 3 - Enteral nutrition (nasogastric, gastrostomy, jejunostomy, or any other artificial entry into the alimentary canal) <br />
              <input ng-required="!M1030_THH_IV_INFUSION && !M1030_THH_PAR_NUTRITION && !M1030_THH_ENT_NUTRITION && !M1030_THH_NONE_ABOVE" ng-model="M1030_THH_NONE_ABOVE" ng-true-value="'1'" type="checkbox" name="therapies" id="M1030_4"> 4 - None of the above
            </td>
          </tr>
        </tbody>
      </table>
      <div class="bottom-nav">
        <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="submitSection(history, 'SensoryStatus')">Finished<i class="glyphicon glyphicon-ok"></i></button>
      </div>
    </section>
  </form>

  <!-- ********** SensoryStatus ********** -->
  <form name="sensory" novalidate>
    <section class="SensoryStatus" style="display:none;">
      <table cellspacing="1" cellpadding="2" style="width: 100%; border: 0px;" class="formtable">
        <tbody>
          <tr class="M1200">
              <td class="motag" width="92">M1200</td>
              <td class="tbl_field" width="140" align="right">Vision (with corrective lenses if the patient usually wears them):
              </td>
              <td width="848" colspan="3">
                <div class="field-error" ng-show="sensory.vision.$touched && sensory.vision.$invalid || sensory.vision.$invalid && sensory.$submitted">Please select one.</div>
                  <input required ng-model="M1200_VISION" type="radio" name="vision" id="M1200_1" value="0"> 0 - Normal vision: sees adequately in most situations; can see medication labels, newsprint.
                  <input required ng-model="M1200_VISION" type="radio" name="vision" id="M1200_2" value="1"> 1 - Partially impaired: cannot see medication labels or newsprint, but can see obstacles in path, and the surrounding layout; can count fingers at arm&#39;s length. </br>
                  <input required ng-model="M1200_VISION" type="radio" name="vision" id="M1200_3" value="2"> 2 - Severely impaired: cannot locate objects without hearing or touching them or patient nonresponsive.
              </td>
          </tr>
          <tr class="M1242">
              <td class="motag" width="92">M1242</td>
              <td class="tbl_field" width="140" align="right">Frequency of Pain Interfering with patient's activity or movement:
              </td>
              <td width="848" colspan="3">
                <div class="field-error" ng-show="sensory.freq_pain.$touched && sensory.freq_pain.$invalid || sensory.freq_pain.$invalid && sensory.$submitted">Please select one.</div>
                  <input required ng-model="M1242_PAIN_FREQ_ACTVTY_MVMT" type="radio" name="freq_pain" id="M1242_1" value="0"> 0 - Patient has no pain <br />
                  <input required ng-model="M1242_PAIN_FREQ_ACTVTY_MVMT" type="radio" name="freq_pain" id="M1242_2" value="1"> 1 - Patient has pain that does not interfere with activity or movement<br />
                  <input required ng-model="M1242_PAIN_FREQ_ACTVTY_MVMT" type="radio" name="freq_pain" id="M1242_3" value="2"> 2 - Less often than daily <br />
                  <input required ng-model="M1242_PAIN_FREQ_ACTVTY_MVMT" type="radio" name="freq_pain" id="M1242_4" value="3"> 3 - Daily, but not constantly <br />
                  <input required ng-model="M1242_PAIN_FREQ_ACTVTY_MVMT" type="radio" name="freq_pain" id="M1242_5" value="4"> 4 - All of the time
          </tr>
        </tbody>
      </table>
      <div class="bottom-nav">
        <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="submitSection(sensory, 'IntegumentaryStatus')">Finished<i class="glyphicon glyphicon-ok"></i></button>
      </div>
    </section>
  </form>


  <!-- ********** IntegumentaryStatus ********** -->
  <form name="integumentary" novalidate>
    <section class="IntegumentaryStatus" style="display:none;">
      <table cellspacing="1" cellpadding="2" style="width: 100%; border: 0px;" class="formtable">
        <tbody>
          <tr class="M1306">
              <td class="motag" width="92">M1306</td>
              <td class="tbl_field" width="140" align="right">Does this patient have at least one Unhealed Pressure Ulcer at Stage II or Higher or designated as &quot;unstageable&quot;?
              </td>
              <td width="848" colspan="3">
                <div class="field-error" ng-show="integumentary.ulcer_unhealed.$touched && integumentary.ulcer_unhealed.$invalid || integumentary.ulcer_unhealed.$invalid && integumentary.$submitted">Please select one.</div>
                  <input required ng-model="M1306_UNHLD_STG2_PRSR_ULCR" type="radio" name="ulcer_unhealed" id="M1306_1" value="0"> 0 - No [ Go to M1322 ] <br />
                  <input required ng-model="M1306_UNHLD_STG2_PRSR_ULCR" type="radio" name="ulcer_unhealed" id="M1306_2" value="1"> 1 - Yes
              </td>
          </tr>

          <tr>
              <td colspan="3">(M1311) Current Number of Unhealed Pressure Ulcers at Each Stage:
          </tr>
          <tr>
              <td colspan="3">
                  <table class="auto-style5">
                      <tr>
                          <td class="auto-style15">&nbsp;</td>
                          <td class="auto-style18">Enter Number
                          </td>
                      </tr>

                      <tr>
                          <td class="auto-style15">
                              <strong>A1. Stage 2: </strong>Partial thickness loss of dermis presenting as a shallow open ulcer with red pink wound bed, without slough. May also present as an intact or open/ruptured blister.<br />
                              <strong>Number of Stage 2 pressure ulcers </strong><br />
                              [if 0 at FU/DC Go to M1311B1]
                          </td>
                          <td class="auto-style18">
                            <div class="field-error" ng-show="integumentary.M1311_NBR_PRSULC_STG2_A1.$touched && integumentary.M1311_NBR_PRSULC_STG2_A1.$invalid || integumentary.M1311_NBR_PRSULC_STG2_A1.$invalid && integumentary.$submitted">Please select one.</div>
                            <input required type="number" ng-model="M1311_NBR_PRSULC_STG2_A1" name="M1311_NBR_PRSULC_STG2_A1" id="M1311_NBR_PRSULC_STG2_A1">
                          </td>
                      </tr>
                      <tr>
                          <td class="auto-style15">
                              <strong>A2. Number of <u>these</u> Stage 2 pressure ulcers that were present at most recent SOC/ROC </strong><br />
                              - enter how many were noted at the time of most recent SOC/ROC
                          </td>
                          <td class="auto-style18">
                            <div class="field-error" ng-show="integumentary.M1311_NBR_ULC_SOCROC_STG2_A2.$touched && integumentary.M1311_NBR_ULC_SOCROC_STG2_A2.$invalid || integumentary.M1311_NBR_ULC_SOCROC_STG2_A2.$invalid && integumentary.$submitted">Please select one.</div>
                            <input required type="number" ng-model="M1311_NBR_ULC_SOCROC_STG2_A2" name="M1311_NBR_ULC_SOCROC_STG2_A2" id="M1311_NBR_ULC_SOCROC_STG2_A2">
                          </td>
                      </tr>
                      <tr>
                          <td class="auto-style15">
                              <strong>B1. Stage 3:</strong> Full thickness tissue loss. Subcutaneous fat may be visible but bone, tendon, or muscle is not exposed. Slough may be present but does not obscure the depth of tissue loss. May include undermining and tunneling. <br />
                              <strong>Number of Stage 3 pressure ulcers</strong><br />
                              [If 0 at FU/DC Go to M1311C1]
                          </td>
                          <td class="auto-style18">
                            <div class="field-error" ng-show="integumentary.M1311_NBR_PRSULC_STG3_B1.$touched && integumentary.M1311_NBR_PRSULC_STG3_B1.$invalid || integumentary.M1311_NBR_PRSULC_STG3_B1.$invalid && integumentary.$submitted">Please select one.</div>
                            <input required type="number" ng-model="M1311_NBR_PRSULC_STG3_B1" name="M1311_NBR_PRSULC_STG3_B1" id="M1311_NBR_PRSULC_STG3_B1">
                          </td>
                      </tr>
                      <tr>
                          <td class="auto-style15">
                              <strong>B2. Number of <u>these</u> Stage 3 pressure ulcers that were present at most recent SOC/ROC </strong><br />
                              - enter how many were noted at the time of most recent SOC/ROC
                          </td>
                          <td class="auto-style18">
                            <div class="field-error" ng-show="integumentary.M1311_NBR_ULC_SOCROC_STG3_B2.$touched && integumentary.M1311_NBR_ULC_SOCROC_STG3_B2.$invalid || integumentary.M1311_NBR_ULC_SOCROC_STG3_B2.$invalid && integumentary.$submitted">Please select one.</div>
                            <input required type="number" ng-model="M1311_NBR_ULC_SOCROC_STG3_B2" name="M1311_NBR_ULC_SOCROC_STG3_B2" id="M1311_NBR_ULC_SOCROC_STG3_B2">
                          </td>
                      </tr>
                      <tr>
                          <td class="auto-style15">
                              <strong>C1. Stage 4:</strong> Full thickness tissue loss with visible bone, tendon, or muscle. Slough or eschar may be present on some parts of the wound bed. Often includes undermining and tunneling.<br />
                              <strong>Number of Stage 4 pressure ulcers</strong><br />
                              [If 0 at FU/DC Go to M1311D1]
                          </td>
                          <td class="auto-style18">
                            <div class="field-error" ng-show="integumentary.M1311_NBR_PRSULC_STG4_C1.$touched && integumentary.M1311_NBR_PRSULC_STG4_C1.$invalid || integumentary.M1311_NBR_PRSULC_STG4_C1.$invalid && integumentary.$submitted">Please select one.</div>
                            <input required type="number" ng-model="M1311_NBR_PRSULC_STG4_C1" name="M1311_NBR_PRSULC_STG4_C1" id="M1311_NBR_PRSULC_STG4_C1">
                          </td>
                      </tr>
                      <tr>
                          <td class="auto-style15">
                              <strong>C2. Number of <u>these</u> Stage 4 pressure ulcers that were present at most recent SOC/ROC </strong><br />
                              - enter how many were noted at the time of most recent SOC/ROC
                          </td>
                          <td class="auto-style18">
                            <div class="field-error" ng-show="integumentary.M1311_NBR_ULC_SOCROC_STG4_C2.$touched && integumentary.M1311_NBR_ULC_SOCROC_STG4_C2.$invalid || integumentary.M1311_NBR_ULC_SOCROC_STG4_C2.$invalid && integumentary.$submitted">Please select one.</div>
                            <input required type="number" ng-model="M1311_NBR_ULC_SOCROC_STG4_C2" name="M1311_NBR_ULC_SOCROC_STG4_C2" id="M1311_NBR_ULC_SOCROC_STG4_C2">
                          </td>
                      </tr>
                      <tr>
                          <td class="auto-style15">
                              <strong>D1. Unstageable: Non-removable dressing:</strong> Known but not stageable due to non-removable dressing/device<br />
                              <strong>Number of unstageable pressure ulcers due to non-removable dressing/device</strong><br />
                              [If 0 at FU/DC Go to M1311E1]
                          </td>
                          <td class="auto-style18">
                            <div class="field-error" ng-show="integumentary.M1311_NSTG_DRSG_D1.$touched && integumentary.M1311_NSTG_DRSG_D1.$invalid || integumentary.M1311_NSTG_DRSG_D1.$invalid && integumentary.$submitted">Please select one.</div>
                            <input required type="number" ng-model="M1311_NSTG_DRSG_D1" name="M1311_NSTG_DRSG_D1" id="M1311_NSTG_DRSG_D1">
                          </td>
                      </tr>
                      <tr>
                        <td class="auto-style15">
                            <strong>D2. Number of <u>these</u> unstageable pressure ulcers that were present at most recent SOC/ROC </strong><br />
                            - enter how many were noted at the time of most recent SOC/ROC
                        </td>
                        <td class="auto-style18">
                          <div class="field-error" ng-show="integumentary.M1311_NSTG_DRSG_SOCROC_D2.$touched && integumentary.M1311_NSTG_DRSG_SOCROC_D2.$invalid || integumentary.M1311_NSTG_DRSG_SOCROC_D2.$invalid && integumentary.$submitted">Please select one.</div>
                          <input required type="number" ng-model="M1311_NSTG_DRSG_SOCROC_D2" name="M1311_NSTG_DRSG_SOCROC_D2" id="M1311_NSTG_DRSG_SOCROC_D2">
                        </td>
                      </tr>
                      <tr>
                          <td class="auto-style15">
                              <strong>E1. Unstageable: Slough and/or eschar:</strong> Known but not stageable due to coverage of wound bed by slough and/or eschar <br />
                              <strong>Number of unstageable pressure ulcers due to coverage of wound bed by slough and/or eschar</strong><br />
                              [If 0 at FU/DC Go to M1311F1]
                          </td>
                          <td class="auto-style18">
                            <div class="field-error" ng-show="integumentary.M1311_NSTG_CVRG_E1.$touched && integumentary.M1311_NSTG_CVRG_E1.$invalid || integumentary.M1311_NSTG_CVRG_E1.$invalid && integumentary.$submitted">Please select one.</div>
                            <input required type="number" ng-model="M1311_NSTG_CVRG_E1" name="M1311_NSTG_CVRG_E1" id="M1311_NSTG_CVRG_E1">
                          </td>
                      </tr>
                      <tr>
                        <td class="auto-style15">
                            <strong>E2. Number of <u>these</u> unstageable pressure ulcers that were present at most recent SOC/ROC </strong><br />
                            - enter how many were noted at the time of most recent SOC/ROC
                        </td>
                        <td class="auto-style18">
                          <div class="field-error" ng-show="integumentary.M1311_NSTG_CVRG_SOCROC_E2.$touched && integumentary.M1311_NSTG_CVRG_SOCROC_E2.$invalid || integumentary.M1311_NSTG_CVRG_SOCROC_E2.$invalid && integumentary.$submitted">Please select one.</div>
                          <input required type="number" ng-model="M1311_NSTG_CVRG_SOCROC_E2" name="M1311_NSTG_CVRG_SOCROC_E2" id="M1311_NSTG_CVRG_SOCROC_E2">
                        </td>
                      </tr>
                      <tr>
                          <td class="auto-style15">
                              <strong>F1. Unstageable: Deep tissue injury:</strong> Suspected deep tissue injury in evolution <br />
                              <strong>Number of unstageable pressure ulcers with suspected deep tissue injury in evolution</strong><br />
                              [If 0 - Go to M1322 (at Follow up), Go to M1313 (at Discharge)]
                          </td>
                          <td class="auto-style18">
                            <div class="field-error" ng-show="integumentary.M1311_NSTG_DEEP_TSUE_F1.$touched && integumentary.M1311_NSTG_DEEP_TSUE_F1.$invalid || integumentary.M1311_NSTG_DEEP_TSUE_F1.$invalid && integumentary.$submitted">Please select one.</div>
                            <input required type="number" ng-model="M1311_NSTG_DEEP_TSUE_F1" name="M1311_NSTG_DEEP_TSUE_F1" id="M1311_NSTG_DEEP_TSUE_F1">
                          </td>
                      </tr>
                      <tr>
                        <td class="auto-style15">
                            <strong>F2. Number of <u>these</u> unstageable pressure ulcers that were present at most recent SOC/ROC </strong><br />
                            - enter how many were noted at the time of most recent SOC/ROC
                        </td>
                        <td class="auto-style18">
                          <div class="field-error" ng-show="integumentary.M1311_NSTG_DEEP_TSUE_SOCROC_F2.$touched && integumentary.M1311_NSTG_DEEP_TSUE_SOCROC_F2.$invalid || integumentary.M1311_NSTG_DEEP_TSUE_SOCROC_F2.$invalid && integumentary.$submitted">Please select one.</div>
                          <input required type="number" ng-model="M1311_NSTG_DEEP_TSUE_SOCROC_F2" name="M1311_NSTG_DEEP_TSUE_SOCROC_F2" id="M1311_NSTG_DEEP_TSUE_SOCROC_F2">
                        </td>
                      </tr>
                  </table>
              </td>
          </tr>
          <tr class="M1322">
              <td class="motag" width="92">M1322</td>
              <td class="tbl_field" width="140" align="right">Current Number of Stage I Pressure Ulcers::</td>
              <td width="848" colspan="3"> Intact skin with non-blanchable redness of a localized area usually over a bony prominence.<br />
                  The area may be painful, firm, soft, warmer or cooler as compared to adjacent tissue.<br />
                  <div class="field-error" ng-show="integumentary.ulcer_amount.$touched && integumentary.ulcer_amount.$invalid || integumentary.ulcer_amount.$invalid && integumentary.$submitted">Please select one.</div>
                  <input required ng-model="M1322_NBR_PRSULC_STG1" type="radio" name="ulcer_amount" id="M1322_1" value="0"> 0
                  <input required ng-model="M1322_NBR_PRSULC_STG1" type="radio" name="ulcer_amount" id="M1322_2" value="1"> 1
                  <input required ng-model="M1322_NBR_PRSULC_STG1" type="radio" name="ulcer_amount" id="M1322_3" value="2"> 2
                  <input required ng-model="M1322_NBR_PRSULC_STG1" type="radio" name="ulcer_amount" id="M1322_4" value="3"> 3
                  <input required ng-model="M1322_NBR_PRSULC_STG1" type="radio" name="ulcer_amount" id="M1322_5" value="4"> 4 or more
              </td>
          </tr>
          <tr class="M1324">
              <td class="motag" width="92">M1324</td>
              <td class="tbl_field" width="140" align="right">Stage of Most Problematic Unhealed (Observable) Pressure Ulcer:
              </td>
              <td width="848" colspan="3">
                <div class="field-error" ng-show="integumentary.ulcer_stage.$touched && integumentary.ulcer_stage.$invalid || integumentary.ulcer_stage.$invalid && integumentary.$submitted">Please select one.</div>
                  <input required ng-model="M1324_STG_PRBLM_ULCER" type="radio" name="ulcer_stage" id="M1324_1" value="1"> 1 - Stage I <br />
                  <input required ng-model="M1324_STG_PRBLM_ULCER" type="radio" name="ulcer_stage" id="M1324_2" value="2"> 2 - Stage II <br />
                  <input required ng-model="M1324_STG_PRBLM_ULCER" type="radio" name="ulcer_stage" id="M1324_3" value="3"> 3 - Stage III <br />
                  <input required ng-model="M1324_STG_PRBLM_ULCER" type="radio" name="ulcer_stage" id="M1324_4" value="4"> 4 - Stage IV <br />
                  <input required ng-model="M1324_STG_PRBLM_ULCER" type="radio" name="ulcer_stage" id="M1324_5" value="NA"> NA - No observable pressure ulcer or unhealed pressure ulcer
              </td>
          </tr>
          <tr class="M1330">
              <td class="motag" width="92">M1330</td>
              <td class="tbl_field" width="140" align="right">Does this patient have a Stasis Ulcer?</td>
              <td width="848" colspan="3">
                <div class="field-error" ng-show="integumentary.stasis_ulcer.$touched && integumentary.stasis_ulcer.$invalid || integumentary.stasis_ulcer.$invalid && integumentary.$submitted">Please select one.</div>
                  <input required ng-model="M1330_STAS_ULCR_PRSNT" type="radio" name="stasis_ulcer" id="M1330_1" value="0"> 0 - No [ Go to M1340 ] <br />
                  <input required ng-model="M1330_STAS_ULCR_PRSNT" type="radio" name="stasis_ulcer" id="M1330_2" value="1"> 1 - Yes, patient has BOTH observable and unobservable stasis ulcers
                  <br />
                  <input required ng-model="M1330_STAS_ULCR_PRSNT" type="radio" name="stasis_ulcer" id="M1330_3" value="2"> 2 - Yes, patient has observable stasis ulcers ONLY <br />
                  <input required ng-model="M1330_STAS_ULCR_PRSNT" type="radio" name="stasis_ulcer" id="M1330_4" value="3"> 3 - Yes, patient has unobservable stasis ulcers ONLY (known but not observable due to non-removable dressing) [ Go to M1340 ]
              </td>
          </tr>
          <tr class="M1332">
              <td class="motag" width="92">M1332</td>
              <td class="tbl_field" width="140" align="right">Current Number of (Observable) Stasis Ulcer(s):</td>
              <td width="848" colspan="3">
                <div class="field-error" ng-show="integumentary.observable_ulcer.$touched && integumentary.observable_ulcer.$invalid || integumentary.observable_ulcer.$invalid && integumentary.$submitted">Please select one.</div>
                  <input required ng-model="M1332_NBR_STAS_ULCR" type="radio" name="observable_ulcer" id="M1332_1" value="1"> 1 - One <br />
                  <input required ng-model="M1332_NBR_STAS_ULCR" type="radio" name="observable_ulcer" id="M1332_2" value="2"> 2 - Two <br />
                  <input required ng-model="M1332_NBR_STAS_ULCR" type="radio" name="observable_ulcer" id="M1332_3" value="3"> 3 - Three <br />
                  <input required ng-model="M1332_NBR_STAS_ULCR" type="radio" name="observable_ulcer" id="M1332_4" value="4"> 4 - Four or more
              </td>
          </tr>
          <tr class="M1334">
              <td class="motag" width="92">M1334</td>
              <td class="tbl_field" width="140" align="right">Status of Most Problematic (Observable) Stasis Ulcer:</td>
              <td width="848" colspan="3">
                <div class="field-error" ng-show="integumentary.problem_ulcer_status.$touched && integumentary.problem_ulcer_status.$invalid || integumentary.problem_ulcer_status.$invalid && integumentary.$submitted">Please select one.</div>
                  <input required ng-model="M1334_STUS_PRBLM_STAS_ULCR" type="radio" name="problem_ulcer_status" id="M1334_1" value="0"> 0 - Newly epithelialized <br />
                  <input required ng-model="M1334_STUS_PRBLM_STAS_ULCR" type="radio" name="problem_ulcer_status" id="M1334_2" value="1"> 1 - Fully granulating <br />
                  <input required ng-model="M1334_STUS_PRBLM_STAS_ULCR" type="radio" name="problem_ulcer_status" id="M1334_3" value="2"> 2 - Early/partial granulation <br />
                  <input required ng-model="M1334_STUS_PRBLM_STAS_ULCR" type="radio" name="problem_ulcer_status" id="M1334_4" value="3"> 3 - Not healing
              </td>
          </tr>
          <tr class="M1340">
              <td class="motag" width="92">M1340</td>
              <td class="tbl_field" width="140" align="right">Does this patient have a Surgical Wound?</td>
              <td width="848" colspan="3">
                <div class="field-error" ng-show="integumentary.wound.$touched && integumentary.wound.$invalid || integumentary.wound.$invalid && integumentary.$submitted">Please select one.</div>
                  <input required ng-model="M1340_SRGCL_WND_PRSNT" type="radio" name="wound" id="M1340_1" value="0"> 0 - No [ Go to M1350 ] <br />
                  <input required ng-model="M1340_SRGCL_WND_PRSNT" type="radio" name="wound" id="M1340_2" value="1"> 1 - Yes, patient has at least one (observable) surgical wound <br />
                  <input required ng-model="M1340_SRGCL_WND_PRSNT" type="radio" name="wound" id="M1340_3" value="2"> 2 - Surgical wound known but not observable due to non-removable dressing [ Go to M1350 ]

              </td>
          </tr>
          <tr class="M1342">
              <td class="motag" width="92">M1342</td>
              <td class="tbl_field" width="140" align="right">Status of Most Problematic (Observable) Surgical Wound:</td>
              <td width="848" colspan="3">
                <div class="field-error" ng-show="integumentary.wound_status.$touched && integumentary.wound_status.$invalid || integumentary.wound_status.$invalid && integumentary.$submitted">Please select one.</div>
                  <input required ng-model="M1342_STUS_PRBLM_SRGCL_WND" type="radio" name="wound_status" id="M1342_1" value="0"> 0 - Newly epithelialized <br />
                  <input required ng-model="M1342_STUS_PRBLM_SRGCL_WND" type="radio" name="wound_status" id="M1342_2" value="1"> 1 - Fully granulating <br />
                  <input required ng-model="M1342_STUS_PRBLM_SRGCL_WND" type="radio" name="wound_status" id="M1342_3" value="2"> 2 - Early/partial granulation <br />
                  <input required ng-model="M1342_STUS_PRBLM_SRGCL_WND" type="radio" name="wound_status" id="M1342_4" value="3"> 3 - Not healing

              </td>
          </tr>
        </tbody>
      </table>
      <div class="bottom-nav">
        <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="submitSection(integumentary, 'RespiratoryStatus')">Finished<i class="glyphicon glyphicon-ok"></i></button>
      </div>
    </section>
  </form>

  <!-- ********** RespiratoryStatus ********** -->
  <form name="respiratory" novalidate>
    <section class="RespiratoryStatus" style="display:none;">
      <table cellspacing="1" cellpadding="2" style="width: 100%; border: 0px;" class="formtable">
        <tbody>
          <tr class="M1400">
              <td class="motag" width="92">M1400</td>
              <td class="tbl_field" width="140" align="right">When is the patient dyspneic or noticeably Short of Breath?
              </td>
              <td width="848" colspan="3">
                <div class="field-error" ng-show="respiratory.SOB.$touched && respiratory.SOB.$invalid || respiratory.SOB.$invalid && respiratory.$submitted">Please select one.</div>
                  <input required ng-model="M1400_WHEN_DYSPNEIC" type="radio" name="SOB" id="M1400_1" value="0"> 0 - Patient is not short of breath <br />
                  <input required ng-model="M1400_WHEN_DYSPNEIC" type="radio" name="SOB" id="M1400_2" value="1"> 1 - When walking more than 20 feet, climbing stairs <br />
                  <input required ng-model="M1400_WHEN_DYSPNEIC" type="radio" name="SOB" id="M1400_3" value="2"> 2 - With moderate exertion (e.g., while dressing, using commode or bedpan, walking distances less than 20 feet) <br />
                  <input required ng-model="M1400_WHEN_DYSPNEIC" type="radio" name="SOB" id="M1400_4" value="3"> 3 - With minimal exertion (e.g., while eating, talking, or performing other ADLs) or with agitation <br />
                  <input required ng-model="M1400_WHEN_DYSPNEIC" type="radio" name="SOB" id="M1400_5" value="4"> 4 - At rest (during day or night)
              </td>
          </tr>
        </tbody>
      </table>
      <div class="bottom-nav">
        <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="submitSection(respiratory, 'EliminationStatus')">Finished<i class="glyphicon glyphicon-ok"></i></button>
      </div>
    </section>
  </form>

  <!-- ********** EliminationStatus ********** -->
  <form name="elimination" novalidate>
    <section class="EliminationStatus" style="display:none;">
      <table cellspacing="1" cellpadding="2" style="width: 100%; border: 0px;" class="formtable">
        <tbody>
          <tr class="M1610">
              <td class="motag" width="92">M1610</td>
              <td class="tbl_field" width="140" align="right">Urinary Incontinence or Urinary Catheter Presence:</td>
              <td width="848" colspan="3">
                <div class="field-error" ng-show="elimination.UCP.$touched && elimination.UCP.$invalid || elimination.UCP.$invalid && elimination.$submitted">Please select one.</div>
                  <input required ng-model="M1610_UR_INCONT" type="radio" name="UCP" id="M1610_1" value="0"> 0 - No incontinence or catheter (includes anuria or ostomy for urinary drainage) [ Go to M1620 ]<br />
                  <input required ng-model="M1610_UR_INCONT" type="radio" name="UCP" id="M1610_2" value="1"> 1 - Patient is incontinent <br />
                  <input required ng-model="M1610_UR_INCONT" type="radio" name="UCP" id="M1610_3" value="2"> 2 - Patient requires a urinary catheter (i.e., external, indwelling, intermittent, suprapubic) [ Go to M1620 ]
              </td>
          </tr>
          <tr class="M1620">
              <td class="motag" width="92">M1620</td>
              <td class="tbl_field" width="140" align="right">Bowel Incontinence Frequency:</td>
              <td width="848" colspan="3">
                <div class="field-error" ng-show="elimination.bowel_incontinence.$touched && elimination.bowel_incontinence.$invalid || elimination.bowel_incontinence.$invalid && elimination.$submitted">Please select one.</div>
                  <input required ng-model="M1620_BWL_INCONT" type="radio" name="bowel_incontinence" id="M1620_1" value="0"> 0 - Very rarely or never has bowel incontinence <br />
                  <input required ng-model="M1620_BWL_INCONT" type="radio" name="bowel_incontinence" id="M1620_2" value="1"> 1 - Less than once weekly <br />
                  <input required ng-model="M1620_BWL_INCONT" type="radio" name="bowel_incontinence" id="M1620_3" value="2"> 2 - One to three times weekly <br />
                  <input required ng-model="M1620_BWL_INCONT" type="radio" name="bowel_incontinence" id="M1620_4" value="3"> 3 - Four to six times weekly <br />
                  <input required ng-model="M1620_BWL_INCONT" type="radio" name="bowel_incontinence" id="M1620_5" value="4"> 4 - On a daily basis <br />
                  <input required ng-model="M1620_BWL_INCONT" type="radio" name="bowel_incontinence" id="M1620_6" value="5"> 5 - More often than once daily <br />
                  <input required ng-model="M1620_BWL_INCONT" type="radio" name="bowel_incontinence" id="M1620_7" value="NA"> NA - Patient has ostomy for bowel elimination <br />
                  <input required ng-model="M1620_BWL_INCONT" type="radio" name="bowel_incontinence" id="M1620_8" value="UK"> UK - Unknown [Omit &quot;UK&quot; option on FU, DC]
              </td>
          </tr>
          <tr class="M1630">
              <td class="motag" width="92">M1630</td>
              <td class="tbl_field" width="140" align="right">Ostomy for Bowel Elimination:</td>
              <td width="848" colspan="3">
                  <strong>Does this patient have an ostomy for bowel elimination that (within the last 14 days): a) was related to an inpatient facility stay, or b) necessitated a change in medical or treatment regimen?</strong>
                  <div class="field-error" ng-show="elimination.ostomy.$touched && elimination.ostomy.$invalid || elimination.ostomy.$invalid && elimination.$submitted">Please select one.</div>
                  <input required ng-model="M1630_OSTOMY" type="radio" name="ostomy" id="M1630_1" value="0"> 0 - Patient does not have an ostomy for bowel elimination. <br />
                  <input required ng-model="M1630_OSTOMY" type="radio" name="ostomy" id="M1630_2" value="1"> 1 - Patient&#39;s ostomy was not related to an inpatient stay and did not necessitate change in medical or treatment regimen. <br />
                  <input required ng-model="M1630_OSTOMY" type="radio" name="ostomy" id="M1630_3" value="2"> 2 - The ostomy was related to an inpatient stay or did necessitate change in medical or treatment regimen.
              </td>
          </tr>
        </tbody>
      </table>
      <div class="bottom-nav">
        <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="submitSection(elimination, 'ADL')">Finished<i class="glyphicon glyphicon-ok"></i></button>
      </div>
    </section>
  </form>

  <!-- ********** ADL ********** -->
  <form name="ADL" novalidate>
    <section class="ADL" style="display:none;">
      <table cellspacing="1" cellpadding="2" style="width: 100%; border: 0px;" class="formtable">
        <tbody>
          <tr class="M1810">
              <td class="motag" width="92">M1810</td>
              <td class="tbl_field" width="140" align="right">Dress Upper Body safely: <br /> (with or without dressing aids)
              </td>
              <td width="848" colspan="3">
                  <strong>Curent Ability to Dress Upper Body safely including undergarments, pullovers, front-opening shirts and blouses, managing zippers, buttons, and snaps:</strong> <br />
                  <div class="field-error" ng-show="ADL.dress_upper.$touched && ADL.dress_upper.$invalid || ADL.dress_upper.$invalid && ADL.$submitted">Please select one.</div>
                  <input required ng-model="M1810_CRNT_DRESS_UPPER" type="radio" name="dress_upper" id="M1810_1" value="0"> 0 - Able to get clothes out of closets and drawers, put them on and remove them from the upper body without assistance.<br />
                  <input required ng-model="M1810_CRNT_DRESS_UPPER" type="radio" name="dress_upper" id="M1810_2" value="1"> 1 - Able to dress upper body without assistance if clothing is laid out or handed to the patient. <br />
                  <input required ng-model="M1810_CRNT_DRESS_UPPER" type="radio" name="dress_upper" id="M1810_3" value="2"> 2 - Someone must help the patient put on upper body clothing. <br />
                  <input required ng-model="M1810_CRNT_DRESS_UPPER" type="radio" name="dress_upper" id="M1810_4" value="3"> 3 - Patient depends entirely upon another person to dress the upper body.
              </td>
          </tr>
          <tr class="M1820">
              <td class="motag" width="92">M1820</td>
              <td class="tbl_field" width="140" align="right">Dress Lower Body safely: <br /> (with or without dressing aids)
              </td>
              <td width="848" colspan="3">
                  <strong>Curent Ability to Dress Lower Body safely (with or without dressing aids) including undergarments, slacks, socks or nylons, shoes:</strong> <br />
                  <div class="field-error" ng-show="ADL.dress_lower.$touched && ADL.dress_lower.$invalid || ADL.dress_lower.$invalid && ADL.$submitted">Please select one.</div>
                  <input required ng-model="M1820_CRNT_DRESS_LOWER" type="radio" name="dress_lower" id="M1820_1" value="0"> 0 - Able to obtain, put on, and remove clothing and shoes without assistance. <br />
                  <input required ng-model="M1820_CRNT_DRESS_LOWER" type="radio" name="dress_lower" id="M1820_2" value="1"> 1 - Able to dress lower body without assistance if clothing and shoes are laid out or handed to the patient. <br />
                  <input required ng-model="M1820_CRNT_DRESS_LOWER" type="radio" name="dress_lower" id="M1820_3" value="2"> 2 - Someone must help the patient put on undergarments, slacks, socks or nylons, and shoes. <br />
                  <input required ng-model="M1820_CRNT_DRESS_LOWER" type="radio" name="dress_lower" id="M1820_4" value="3"> 3 - Patient depends entirely upon another person to dress lower body.
              </td>
          </tr>
          <tr class="M1830">
              <td class="motag" width="92">M1830</td>
              <td class="tbl_field" width="140" align="right">Bathing</td>
              <td width="848" colspan="3">
                  <strong>Current ability to wash entire body safely. Excludes grooming (washing face, washing hands, and shampooing hair).</strong> <br />
                  <div class="field-error" ng-show="ADL.bathing.$touched && ADL.bathing.$invalid || ADL.bathing.$invalid && ADL.$submitted">Please select one.</div>
                  <input required ng-model="M1830_CRNT_BATHG" type="radio" name="bathing" id="M1830_1" value="0"> 0 - Able to bathe self in shower or tub independently, including getting in and out of tub/shower. <br />
                  <input required ng-model="M1830_CRNT_BATHG" type="radio" name="bathing" id="M1830_2" value="1"> 1 - With the use of devices, is able to bathe self in shower or tub independently, including getting in and out of the tub/shower. <br />
                  <input required ng-model="M1830_CRNT_BATHG" type="radio" name="bathing" id="M1830_3" value="2"> 2 - Able to bathe in shower or tub with the intermittent assistance of another person: (a) for intermittent supervision or encouragement or reminders, OR (b) to get in and out of the shower or tub, OR (c) for washing difficult to reach areas. <br />
                  <input required ng-model="M1830_CRNT_BATHG" type="radio" name="bathing" id="M1830_4" value="3"> 3 - Able to participate in bathing self in shower or tub, but requires presence of another person throughout the bath for assistance or supervision. <br />
                  <input required ng-model="M1830_CRNT_BATHG" type="radio" name="bathing" id="M1830_5" value="4"> 4 - Unable to use the shower or tub, but able to bathe self independently with or without the use of devices at the sink, in chair, or on commode. <br />
                  <input required ng-model="M1830_CRNT_BATHG" type="radio" name="bathing" id="M1830_6" value="5"> 5 - Unable to use the shower or tub, but able to participate in bathing self in bed, at the sink, in bedside chair, or on commode, with the assistance or supervision of another person throughout the bath. <br />
                  <input required ng-model="M1830_CRNT_BATHG" type="radio" name="bathing" id="M1830_7" value="6"> 6 - Unable to participate effectively in bathing and is bathed totally by another person.
              </td>
          </tr>
          <tr class="M1840">
              <td class="motag" width="92">M1840</td>
              <td class="tbl_field" width="140" align="right">Toilet Transferring</td>
              <td width="848" colspan="3">
                  <strong>Current ability to get to and from the toilet or bedside commode safely and transfer on and off toilet/commode.</strong> <br />
                  <div class="field-error" ng-show="ADL.toilet.$touched && ADL.toilet.$invalid || ADL.toilet.$invalid && ADL.$submitted">Please select one.</div>
                  <input required ng-model="M1840_CRNT_TOILTG" type="radio" name="toilet" id="M1840_1" value="0"> 0 - Able to get to and from the toilet and transfer independently with or without a device. <br />
                  <input required ng-model="M1840_CRNT_TOILTG" type="radio" name="toilet" id="M1840_2" value="1"> 1 - When reminded, assisted, or supervised by another person, able to get to and from the toilet and transfer. <br />
                  <input required ng-model="M1840_CRNT_TOILTG" type="radio" name="toilet" id="M1840_3" value="2"> 2 - Unable to get to and from the toilet but is able to use a bedside commode (with or without assistance). <br />
                  <input required ng-model="M1840_CRNT_TOILTG" type="radio" name="toilet" id="M1840_4" value="3"> 3 - Unable to get to and from the toilet or bedside commode but is able to use a bedpan/urinal independently. <br />
                  <input required ng-model="M1840_CRNT_TOILTG" type="radio" name="toilet" id="M1840_5" value="4"> 4 - Is totally dependent in toileting.
              </td>
          </tr>
          <tr class="M1850">
              <td class="motag" width="92">M1850</td>
              <td class="tbl_field" width="140" align="right">Transferring:</td>
              <td width="848" colspan="3">
                  <strong>Current ability to move safely from bed to chair, or ability to turn and position self in bed if patient is bedfast.</strong> <br />
                  <div class="field-error" ng-show="ADL.transferring.$touched && ADL.transferring.$invalid || ADL.transferring.$invalid && ADL.$submitted">Please select one.</div>
                  <input required ng-model="M1850_CRNT_TRNSFRNG" type="radio" name="transferring" id="M1850_1" value="0"> 0 - Able to independently transfer. <br />
                  <input required ng-model="M1850_CRNT_TRNSFRNG" type="radio" name="transferring" id="M1850_2" value="1"> 1 - Able to transfer with minimal human assistance or with use of an assistive device. <br />
                  <input required ng-model="M1850_CRNT_TRNSFRNG" type="radio" name="transferring" id="M1850_3" value="2"> 2 - Able to bear weight and pivot during the transfer process but unable to transfer self. <br />
                  <input required ng-model="M1850_CRNT_TRNSFRNG" type="radio" name="transferring" id="M1850_4" value="3"> 3 - Unable to transfer self and is unable to bear weight or pivot when transferred by another person. <br />
                  <input required ng-model="M1850_CRNT_TRNSFRNG" type="radio" name="transferring" id="M1850_5" value="4"> 4 - Bedfast, unable to transfer but is able to turn and position self in bed. <br />
                  <input required ng-model="M1850_CRNT_TRNSFRNG" type="radio" name="transferring" id="M1850_6" value="5"> 5 - Bedfast, unable to transfer and is unable to turn and position
                  self.
              </td>
          </tr>
          <tr class="M1860">
              <td class="motag" width="92">M1860</td>
              <td class="tbl_field" width="140" align="right">Ambulation/Locomotion:</td>
              <td width="848" colspan="3">
                  <strong>Current ability to walk safely, once in a standing position, or use a wheelchair, once in a seated position, on a variety of surfaces.</strong> <br />
                  <div class="field-error" ng-show="ADL.locomotion.$touched && ADL.locomotion.$invalid || ADL.locomotion.$invalid && ADL.$submitted">Please select one.</div>
                  <input required ng-model="M1860_CRNT_AMBLTN" type="radio" name="locomotion" id="M1860_1" value="0"> 0 - Able to independently walk on even and uneven surfaces and negotiate stairs with or without railings (i.e., needs no human assistance or assistive device). <br />
                  <input required ng-model="M1860_CRNT_AMBLTN" type="radio" name="locomotion" id="M1860_2" value="1"> 1 - With the use of a one-handed device (e.g. cane, single crutch, hemi-walker), able to independently walk on even and uneven surfaces and negotiate stairs with or without railings. <br />
                  <input required ng-model="M1860_CRNT_AMBLTN" type="radio" name="locomotion" id="M1860_3" value="2"> 2 - Requires use of a two-handed device (e.g., walker or crutches) to walk alone on a level surface and/or requires human supervision or assistance to negotiate stairs or steps or uneven surfaces. <br />
                  <input required ng-model="M1860_CRNT_AMBLTN" type="radio" name="locomotion" id="M1860_4" value="3"> 3 - Able to walk only with the supervision or assistance of another person at all times. <br />
                  <input required ng-model="M1860_CRNT_AMBLTN" type="radio" name="locomotion" id="M1860_5" value="4"> 4 - Chairfast, unable to ambulate but is able to wheel self independently. <br />
                  <input required ng-model="M1860_CRNT_AMBLTN" type="radio" name="locomotion" id="M1860_6" value="5"> 5 - Chairfast, unable to ambulate and is unable to wheel self.<br />
                  <input required ng-model="M1860_CRNT_AMBLTN" type="radio" name="locomotion" id="M1860_7" value="6"> 6 - Bedfast, unable to ambulate or be up in a chair.
              </td>
          </tr>
        </tbody>
      </table>
      <div class="bottom-nav">
        <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="submitSection(ADL, 'Medications')">Finished<i class="glyphicon glyphicon-ok"></i></button>
      </div>
    </section>
  </form>

  <!-- ********** Medications ********** -->
  <form name="medications" novalidate>
    <section class="Medications" style="display:none;">
      <table cellspacing="1" cellpadding="2" style="width: 100%; border: 0px;" class="formtable">
        <tbody>
          <tr class="M2030">
              <td class="motag" width="92">M2030</td>
              <td class="tbl_field" width="140" align="right">Management of Injectable Medications:</td>
              <td width="848" colspan="3">
                  <strong>Patient&#39;s current ability to prepare and take all prescribed injectable medications reliably and safely, including administration of correct dosage at the appropriate times/intervals. Excludes IV medications. </strong> <br />
                  <div class="field-error" ng-show="medications.M2030.$touched && medications.M2030.$invalid || medications.M2030.$invalid && medications.$submitted">Please select one.</div>
                  <input required ng-model="M2030_CRNT_MGMT_INJCTN_MDCTN" type="radio" name="M2030" id="M2030_1" value="0"> 0 - Able to independently take the correct medication(s) and proper dosage(s) at the correct times. <br />
                  <input required ng-model="M2030_CRNT_MGMT_INJCTN_MDCTN" type="radio" name="M2030" id="M2030_2" value="1"> 1 - Able to take injectable medication(s) at the correct times if: (a) individual syringes are prepared in advance by another person; OR (b) another person develops a drug diary or chart. <br />
                  <input required ng-model="M2030_CRNT_MGMT_INJCTN_MDCTN" type="radio" name="M2030" id="M2030_3" value="2"> 2 - Able to take medication(s) at the correct times if given reminders by another person based on the frequency of the injection <br />
                  <input required ng-model="M2030_CRNT_MGMT_INJCTN_MDCTN" type="radio" name="M2030" id="M2030_4" value="3"> 3 - Unable to take injectable medication unless administered by another person. <br />
                  <input required ng-model="M2030_CRNT_MGMT_INJCTN_MDCTN" type="radio" name="M2030" id="M2030_5" value="NA"> NA - No injectable medications prescribed.
              </td>
          </tr>
        </tbody>
      </table>
      <div class="bottom-nav">
        <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="submitSection(medications, 'Therapy')">Finished<i class="glyphicon glyphicon-ok"></i></button>
      </div>
    </section>
  </form>

  <!-- ********** Therapy ********** -->
  <form name="therapy" novalidate>
    <section class="Therapy" style="display:none;">
      <table cellspacing="1" cellpadding="2" style="width: 100%; border: 0px;" class="formtable">
        <tbody>
          <tr class="M2200">
              <td class="motag" width="92">M2200</td>
              <td class="tbl_field" width="140" align="right">Therapy Need:</td>
              <td width="848" colspan="3">
                  <strong>In the home health plan of care for the Medicare payment episode for which this assessment will define a case mix group, what is the indicated need for therapy visits (total of reasonable and necessary physical, occupational, and speech-language pathology visits combined)?</strong><br />
                  (Enter zero [ "000" ] if no therapy visits indicated.) <br />
                  <div class="field-error" ng-show="therapy.M2200.$touched && therapy.M2200.$invalid || therapy.M2200.$invalid && therapy.$submitted">Please enter visit count or select NA</div>
                  (<input ng-required="M2200_THER_NEED_NA===1" ng-model="M2200_THER_NEED_NBR" type="number" name="M2200" id="txM2200" ng-disabled="M2200_THER_NEED_NA==='1'">) <br /> Number of therapy visits indicated (total of physical, occupational and speech-language pathology combined). <br />
                  <input ng-required="M2200_THER_NEED_NBR===''" ng-model="M2200_THER_NEED_NA" ng-true-value="'1'" type="checkbox" name="M2200" id="M2200" ng-change="M2200_THER_NEED_NBR = M2200_THER_NEED_NA ? '' : M2200_THER_NEED_NBR"> NA - Not Applicable: No case mix group defined by this assessment.
              </td>
          </tr>
        </tbody>
      </table>
      <div class="bottom-nav">
        <button type="submit" class="btn btn-primary purple" tabindex="14" ng-click="submitSection(therapy, 'EmergentCare')">Finished<i class="glyphicon glyphicon-ok"></i></button>
      </div>
    </section>
  </fieldset>
  </form>
</div>

<div class="oasisForm-nav">
  <div class="menu-headline">
    {{patient.FNAME}}
  </div>

  <div class="inner-formnav">
    <!-- <div class="form-section" ng-class="{ 'active' : activeForm('PlanOfCare')}" id="PlanOfCare" ng-click="nextForm(currentForm, 'PlanOfCare');">Plan Of Care <i class="glyphicon glyphicon-ok-circle"></i></div> -->
    <!-- <div class="form-section" ng-class="{ 'active' : activeForm('General')}" id="General" ng-click="nextForm(currentForm, 'General');">General <br><span>(M0100-M0150)</span><i class="glyphicon glyphicon-ok-circle"></i></div> -->
    <div class="form-section" ng-class="{ 'active' : activeForm('ClinicalRecordItems')}" id= "ClinicalRecordItems" ng-click="nextForm(currentForm, 'ClinicalRecordItems');">Clinical Record Items <br><span>(M0080-M0110)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
    <div class="form-section" ng-class="{ 'active' : activeForm('PatientHistoryAndDiagnoses')}" id="PatientHistoryAndDiagnoses" ng-click="nextForm(currentForm, 'PatientHistoryAndDiagnoses');">Patient History And Diagnoses <br><span>(M1000-M1055)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
    <!-- <div class="form-section" ng-class="{ 'active' : activeForm('LivingArrangements')}" id="LivingArrangements" ng-click="nextForm(currentForm, 'LivingArrangements');">Living Arrangements <br><span>(M1100)</span><i class="glyphicon glyphicon-ok-circle"></i></div> -->
    <div class="form-section" ng-class="{ 'active' : activeForm('SensoryStatus')}" id="SensoryStatus" ng-click="nextForm(currentForm, 'SensoryStatus');">Sensory Status <br><span>(M1200-M1241)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
    <div class="form-section" ng-class="{ 'active' : activeForm('IntegumentaryStatus')}" id="IntegumentaryStatus" ng-click="nextForm(currentForm, 'IntegumentaryStatus');">Integumentary Status <br><span>(M1300-M1350)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
    <div class="form-section" ng-class="{ 'active' : activeForm('RespiratoryStatus')}" id="RespiratoryStatus" ng-click="nextForm(currentForm, 'RespiratoryStatus');">Respiratory Status <br><span>(M1400-M1410)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
    <!-- <div class="form-section" ng-class="{ 'active' : activeForm('CardiacStatus')}" id="CardiacStatus" ng-click="nextForm(currentForm, 'CardiacStatus');">Cardiac Status <br><span>(M1500-M1510)</span><i class="glyphicon glyphicon-ok-circle"></i></div> -->
    <div class="form-section" ng-class="{ 'active' : activeForm('EliminationStatus')}" id="EliminationStatus" ng-click="nextForm(currentForm, 'EliminationStatus');">Elimination Status <br><span>(M1600-M1630)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
    <!-- <div class="form-section" ng-class="{ 'active' : activeForm('BehavioralStatus')}" id="BehavioralStatus" ng-click="nextForm(currentForm, 'BehavioralStatus');">Neuro/Emotional/Behavioral Status <br><span>(M1700-M1750)</span><i class="glyphicon glyphicon-ok-circle"></i></div> -->
    <div class="form-section" ng-class="{ 'active' : activeForm('ADL')}" id="ADL" ng-click="nextForm(currentForm, 'ADL');">ADL/IADLs <br><span>(M1800-M1910)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
    <div class="form-section" ng-class="{ 'active' : activeForm('Medications')}" id="Medications" ng-click="nextForm(currentForm, 'Medications');">Medications <br><span>(M2000-M2040)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
    <!-- <div class="form-section" ng-class="{ 'active' : activeForm('CareManagement')}" id="CareManagement" ng-click="nextForm(currentForm, 'CareManagement');">Care Management <br><span>(M2100-M2110)</span><i class="glyphicon glyphicon-ok-circle"></i></div> -->
    <div class="form-section" ng-class="{ 'active' : activeForm('Therapy')}" id="Therapy" ng-click="nextForm(currentForm, 'Therapy');">Therapy Need/Plan of Care <br><span>(M2200-M2250)</span><i class="glyphicon glyphicon-ok-circle"></i></div>
    <!-- <div class="form-section" ng-class="{ 'active' : activeForm('EmergentCare')}" id="EmergentCare" ng-click="nextForm(currentForm, 'EmergentCare');">Emergent Care <br><span>(M2300-M0906)</span><i class="glyphicon glyphicon-ok-circle"></i></div> -->
  </div>
</div>
