<div id="employeeExpandedNav">
  <div class="menu-headline">
    {{ employee.FNAME + ' ' + employee.LNAME | limitTo: 15 }}{{(employee.FNAME + ' ' + employee.LNAME).length > 15 ? '&hellip;' : ''}}
  </div>
  <!-- <div class="menu-notification compliant" ng-if="pendingStatus(selectedPatient.status)">
    Pending - Day 2 of 5
  </div> -->
  <ul class="menu">
    <li class="sub-menu" style=""><a ui-sref="employeeDashboard"><i class="fa fa-bar-chart fa-fw fa-lg" aria-hidden="true"></i> Overview</li>
    <li class="sub-menu" style=""><a ui-sref="employeeProfile"><i class="fa fa-user fa-fw fa-lg" aria-hidden="true"></i> Profile</li>
    <li class="sub-menu" style=""><a ui-sref="employeePayroll"><i class="fa fa-dollar fa-fw fa-lg" aria-hidden="true"></i> Payroll</li>
    <li class="sub-menu" style=""><a ui-sref="employeePayRates"><i class="fa fa-dollar fa-fw fa-lg" aria-hidden="true"></i> Pay Rates</li>
    <li class="sub-menu" style=""><a ui-sref="employeeSchedule"><i class="fa fa-calendar fa-fw fa-lg" aria-hidden="true"></i> Schedule</li>
    <li class="sub-menu" style=""><a ui-sref="employeeTasks"><i class="fa fa-inbox fa-fw fa-lg" aria-hidden="true"></i> Tasks</li>
    <li class="sub-menu" style=""><a ui-sref="employeeReports"><i class="fa fa-file-text fa-fw fa-lg" aria-hidden="true"></i> Reports</li>
    <li class="sub-menu" style="border-top:none"><a ui-sref="employeeFileUpload"><i class="fa fa-upload fa-fw fa-lg" aria-hidden="true"></i> File Uploads</a></li>
  </ul>
  <div class="menu-notification">
    Recent Activity
  </div>
</div>
