#eligibility-check {
    margin-left: 370px;
    position: relative;
    background: #FFF;
    padding-top: 60px;

    .head-bar {
        height: 60px;
        padding: 0 0 0 15px;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.16);

        .col-md-12 {
            padding-left: 0;
            padding-right: 20px;
            height: 60px;
        }

        a {
            text-decoration: none;
            color: #FFF;
        }
    }

    ul {
        margin: 10px 0;
        padding: 0;
        list-style: none;
        float: right;

        .action-btn {
            background-color: #795E9F;
            border: 1px solid #795e9f;
            border-radius: 4px;
            color: #fff;
            float: left;
            padding: 10px 18px;
            margin-left: 10px;
        }
    }

    .title {
        float: left;

        span {
            line-height: 60px;
            margin: 0 20px;
            float: left;
        }

        h3 {
            line-height: 60px;
            margin: 0;
            float: left;
        }
    }

    .profile-header {
        background: #F5F5F5;
        padding: 20px;
        // height: 140px;
        .circle-icon {
            background: #FFF;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            text-align: center;
            line-height: 100px;
            vertical-align: middle;
            align-self: center;
            margin-right: 20px;
        }

        .row {
            &.flex {
                display: flex;
                margin-left: 20px;
                margin-right: 20px;
            }
        }

        .info {
            align-self: center;

            h3 {
                margin: 0 0 5px;
            }
        }

        .metric-box {
            height: 120px;
            background: #FFF;
            box-shadow: 0 1px 4px 0 rgba(0,0,0,0.24), 0 1px 4px 0 rgba(0,0,0,0.04);
            border-radius: 2px;
        }

        .full-padding {
            padding: 10px;
        }
    }

    .Record {
        .table {
            > thead {
                > tr {
                    > th {
                        color: #9b95a7;
                    }
                }
            }

            & -striped {
                tbody {
                    > tr:nth-of-type(2n+1) {
                        background-color: #fff;
                    }

                    > tr:hover {
                        background-color: rgba(66, 51, 94, 0.8);
                        color: #fff;

                        a {
                            color: #ffffff;
                        }
                    }
                }
            }
        }

        table {
            td {
                font-size: 15px;
                padding-bottom: 6px;
                padding-top: 6px;
            }
        }

        .pagination {
            display: inline-block;
            text-align: center;
            width: 100%;

            a {
                color: #000000;
                padding: 8px 16px;
                text-decoration: none;

                & .active {
                    color: #42335e;
                    font-weight: bold;
                }

                & :hover {
                    & :not(.active) {
                        background-color: #ddd;
                        border-radius: 5px;
                    }
                }

                & .active-nav {
                    background: #eee none repeat scroll 0 0;
                    border-radius: 50%;
                    color: #42335e;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: normal;
                    padding: 5px 13px 7px;
                }

                & .prev:hover {
                    background: none;
                }

                & .next:hover {
                    background: none;
                }
            }
        }
    }
}

#completedetails {
    > h3 {
        margin-left: 20px;
    }

    .details {
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;

        p {
            border-bottom: 1px solid #f3f3f3;
            font-size: 14px;
            margin-bottom: 0;
            padding: 6px 20px;
        }

        span {
            float: left;
            width: 40%;
        }

        strong {
            margin-left: 10px;
        }
    }
}

.loaderImg {
    background-color: rgba(245, 245, 245, 0.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2147483647;

    img {
        display: block;
        margin: 12% auto;
    }
}
