#file-upload {
  margin-left: 370px;
  position: relative;
  background: #FFF;
  padding-top: 60px;
  .head-bar {
    height: 60px;
    padding: 0 0 0 15px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .col-md-12 {
      padding-left: 0;
      padding-right: 20px;
      height: 60px;
    }
    a {
      text-decoration: none;
      color: #FFF;
    }
  }
  ul {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    float: right;
    .action-btn {
      background-color: #795E9F;
      border-radius: 4px;
      color: white;
      float: left;
      padding: 10px 18px;
      margin-left:10px;
      span {
        margin-right: 8px;
      }
    }
  }
  .title {
    float: left;
    span {
      line-height: 60px;
      margin: 0 20px;
      float: left;
    }
    h3 {
      line-height: 60px;
      margin: 0;
      float: left;
    }
  }
  .form-background {
    padding: 20px 40px;
    background-color: #F5F5F5;
    // height: 100%;
    // position: fixed;
  }
  table {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1px;
  }
  .selected {
    background-color: rgba(#70669D, .15);
  }

  // thead {
  //   font-weight: 700;
  // }
  // td {
  //   border: 1px solid black;
  //   padding: 5px;
  // }
}
