<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#file-upload" patientnavopen="true"></header-nav>
</div>

<div id="file-upload">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <span class="fa fa-upload fa-lg"></span><h3>Upload Documents</h3>
      </div>
      <ul>
        <li class="action-btn"><a href="#" ng-click="">Print Selected</a></li>
        <li class="action-btn"><a href="#" ng-click="newUpload()"><span class="fa fa-paperclip"></span>Attach</a></li>
        <li class="action-btn"><a href="#" ng-click="discardFiles()">Discard</a></li>
      </ul>
    </div>
  </div>
  <div class="form-background">
    <div class="row">
      <div class="col-md-6" style="background:#FFF; padding-bottom:0; border-right:5px solid #F5F5F5">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>
                <div class="checkbox">
                  <label>
                    <input ng-click="toggleAll()" ng-model="isAllSelected" type="checkbox">
                  </label>
                </div>
              </th>
              <th>File ID</th>
              <th>Added by</th>
              <th>Title</th>
              <th>Download</th>
            </tr>
          <thead>
          <tbody
            <tr ng-repeat="file in files | limitTo:20" ng-class="{selected: file.selected}">
              <td>
                <div class="checkbox">
                  <label>
                    <input ng-model="file.selected" ng-change="fileToggled()" type="checkbox">
                  </label>
                </div>
              </td>
              <td>{{file.KEYID}}</td>
              <td>{{file.ADDEDBY}}</td>
              <td>{{file.TITLE}}</td>
              <!-- <td><a href="{{file.LINK}}">Download</a></td> -->
              <td><a ng-click="download(file)">Download</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6" style="border:1px solid #ddd; height:650px;text-align:center;padding:20px";>
        File Preview
      </div>
    </div>
  </div>
</div>



<div class="right-menu">
  <expanded-nav></expanded-nav>
</div>
