#UB-04 {
  position: relative;
  background: #FFF;
  .head-bar {
    height: 60px;
    padding: 0 15px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .col-md-12 {
      padding-left: 0;
      padding-right: 20px;
      height: 60px;
    }
    .close {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 14px;
    }
    button {
      margin-top: 12px;
    }
  }
  .title {
    float: left;
    span {
      line-height: 60px;
      margin: 0 20px;
      float: left;
    }
    h3 {
      line-height: 60px;
      margin: 0;
      float: left;
    }
  }
  //form

  .ub04 OL li.frontNumber
  {
  	width:18px !important;
  	text-align: right !important;
  }

  .ub04 {
    margin-top: 20px;
  	// width: 900px;
  	// z-index:49;
  	// top:20px;
  	// left:20px;
  	// border:1px black solid;
  	// background: #fff;
  	// padding-bottom:10px;
  }

  .ub04 .ub04desc {
  	margin:0px;
  	padding:0px;
  	text-align:center;
  	width: 900px;
  	font-size:12px;
  }

  .ub04 .ub04desc A {
      color: #444444;
      font-weight: bold;
  }

  .ub04 .ub04desc A:hover {
      color: #DE9039;
      font-weight: bold;
  }

  .ub04 .ub04desc A.disabled:hover {
      color: #444444;
      font-weight: bold;
  }

  .ub04 input {
  	font-family: 'Times New Roman';
  	font-size: 10px;
  	height:20px;
  	line-height:18px;
  	border:0px;
  	padding:2px 0px 0px 5px;
  }

  .ub04 input[type="date"]::-webkit-outer-spin-button, .ub04 input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .ub04 input[type="date"] {
        -moz-appearance: textfield;
  }

  .ub04 .ub04editing {
  	background-color: #c7d6fc;
  }

  .ub04 input.ub04error {
  	color: red;
  }

  .ub04 .ub04changed {
  	// background-color: #fafa45;
  }

  .ub04 .ub04removeline {
      text-decoration: line-through;
  }

  .ub04 .ub04removelinecell {
      text-decoration: line-through;
  }

  .ub04 ol {
  	list-style: none;
  	width:880px;
  	margin:0px;
  	padding:0px;
  }

  .ub04 ol li {
  	float:left;
  }

  .ub04 ol li.id {
  	font-size:10px;
  	font-family:'Courier New', Courier, monospace;
  	padding-left:2px;
  	padding-right:2px;
  	height:20px;
  	text-align:left;
  	line-height:11px
  }

  .ub04 ol li.blkid {
  	// background:#000;
  	// color:#fff;
  }

  .ub04 ol li.gryid {
  	background:#DDD;
  	z-index: -1;
  }

  .ub04 ol li.cntid {
  	line-height:24px;
  }

  .ub04 ol li.brdtop {
  	border-top: 1px solid #000;
  }

  .ub04 ol li.brdleft {
  	border-left: 1px solid #000;
  }

  .ub04 ol li.brdright {
  	border-right: 1px solid #000;
  }

  .ub04 ol li.brdsides {
  	border-left: 1px solid #000;
  	border-right: 1px solid #000;
  }

  .ub04 ol li.brdbtm {
  	border-bottom: 1px solid #000;
  }

  .ub04 ol li.brdbox {
  	border-right: 1px solid #000;
  	border-left: 1px solid #000;
  	border-bottom: 1px solid #000;
  }

  .ub04 ol li.brdall {
  	border: 1px solid #000;
  }

  .ub04 ol li.brdbluebtm {
  	// border-bottom: 1px solid blue;
  }

  .ub1 {
  	width:228px;
  }

  .ub2 {
  	width:226px;
  }

  .ub3id {
  	width:42px;
  }

  .ub3 {
  	width:242px;
  }

  .ub4id {
  	width: 53px;
    border-right: 1px solid black;
  }

  .ub4 {
  	width:52px;
  	text-align:center;
    border-right: 1px solid black;
  }

  .ub5id {
  	width:91px;
  }

  .ub5 {
  	width: 95px;
  }

  .ub6id {
  	width:145px;
  }

  .ub6 {
  	width:79px;
  }

  .ub7 {
  	width:90px;
  }

  .ub8id {
  	width:92px;
  }

  .ub8aid {
  	width:6px;
  }

  .ub8a {
  	width: 197px;
  }

  .ub8bid {
  	width:6px;
  }

  .ub8b {
  	width: 294px;
  }

  .ub9id {
  	width:106px;
  }

  .ub9aid {
  	width:6px;
  }

  .ub9a {
  	width: 393px;
  }

  .ub9bid {
  	width:6px;
  }

  .ub9b {
  	width: 304px;
  }

  .ub9cid {
  	width:6px;
  }

  .ub9c {
  	width: 42px;
  }

  .ub9did {
  	width:6px;
  }

  .ub9d {
  	width: 82px;
  }

  .ub9eid {
  	width:6px;
  }

  .ub9e {
  	width: 39px;
  }

  .ub10id {
  	width:73px;
  }

  .ub10 {
  	width: 77px;
  	text-align: center;
  }

  .ub11id {
  	width:44px;
  }

  .ub11 {
  	width: 48px;
  	text-align:center;
  }

  .ub12id {
  	width:178px;
  }

  .ub12 {
  	width:60px;
  }

  .ub13 {
  	width:35px;
  	text-align:center;
  }

  .ub14 {
  	width:45px;
  	text-align:center;
  }

  .ub15 {
  	width:39px;
  	text-align:center;
  }

  .ub16id {
  	width:37px;
  }

  .ub16 {
  	width:41px;
  	text-align:center;
  }

  .ub17id {
  	width:44px;
  }

  .ub17 {
  	width:48px;
  	text-align:center;
  }

  .ub18id {
  	width:259px;
  }

  .ub18 {
  	width:23px;
  	text-align:center;
  }

  .ub29id {
  	width:44px;
  }

  .ub29 {
  	width:48px;
  	text-align:center;
  }

  .ub30id {
  	width:122px;
  }

  .ub30 {
  	width:115px;
  }

  .ub31id {
  	width:90px;
  }

  .ub31code {width:30px;
    border-left: 1px solid black;
  }

  .ub31date {width: 65px;
  }

  .ub35id {
  	width: 154px;
  }

  .ub37id {width:118px;
  }

  .ub37 {width:119px;
  }

  .ub38 {
  	width: 404px;
  }

  .ub39id {
  	width:127px;
  }

  .ub39code {width: 30px;
  	text-align:center;
  }

  .ub39amt {
  	width:97px;
  	text-align:right;
  }

  .ub42id {
  	width:56px;
  }

  .ub42 {
  	width:56px;
  }

  .ub43id {
  	width:176px;
  }

  .ub43 {
  	width:176px;
  	background-color:#E8E8E8;
  }

  .ub43_ndc_00 {
  	width:17px;
  	display:none;
  	background-color:white;
  }

  .ub43_ndc_01 {
  	width:80px;
  	display:none;
  	background-color:white;
  }

  .ub43_ndc_02 {
  	width:19px;
  	display:none;
  	background-color:white;
  }

  .ub43_ndc_03 {
  	width:59px;
  	display:none;
  	background-color:white;
  }

  .ub44id {
  	width:152px;
  }

  .ub44 {
  	width:152px;
  }

  .ub44_mod {
  	width:100px;
  }

  .ub45id {
  	width:71px;
  }

  .ub45 {
  	width:71px;
  }

  .ub46id {
  	width:79px;
  }

  .ub46 {
  	width:80px;
  }

  .ub47id {
  	width:99px;
  }

  .ub47 {
  	width:98px;
  	text-align:right;
  }

  .ub48id {
  	width:136px;
  }

  .ub48 {
  	width:137px;
  	text-align:right;
  }

  .ub49id {
  	width:43px;
  }

  .ub49 {
  	width:42px;
  	background-color:#E8E8E8;
  }

  .preub50id {
  	width:30px;
  }

  .ub50id {
  	width:144px;
  }

  .preub50 {
  	width:34px;
  }

  .ub50 {
  	width:144px;
  }

  .ub51id {
  	width:135px;
  }

  .ub51 {
  	width:136px;
  }

  .ub52id {width:auto;
  }

  .ub52 {width:39px;
  	text-align:center;
  }

  .ub53id {
  	width:auto;
  }

  .ub53 {
  	width:40px;
  	text-align:center;
  }

  .ub54id {width:119px;
  }

  .ub54 {width:119px;
  }

  .ub55id {width:119px;
  }

  .ub55 {width:119px;
  	text-align:right;
  }

  .ub56id {
  	width: 54px;
  }

  .ub56 {
  	width:154px;
  }

  .ub57id {
  	width: 52px;
  }

  .ub57 {
  	width:154px;
  }

  .ub58id {
  	width:224px;
  }

  .ub58_1 {
  	width:224px;
  }

  .ub58_2 {
  	width:114px;
  }

  .ub59id {
  	width:54px;
  }

  .ub59 {
  	width:54px;
  	text-align:center;
  }

  .ub60id {
  	width:172px;
  }

  .ub60 {
  	width:172px;
  }

  .ub61id {width:174px;
  }

  .ub61 {
  	width:174px;
  }

  .ub62id {
  	width:188px;
  }

  .ub62 {
  	width:188px;
  }

  .ub63id {
  	width:298px;
  }

  .ub63 {
  	width:298px;
  }

  .ub64id {
  	width:257px;
  }

  .ub64 {
  	width:256px;
  }

  .ub65id {
  	width:257px;
  }

  .ub65 {
  	width:258px;
  }

  .ub66id {width:20px;
  }

  .ub66 {width:20px;
  }

  .ub67 {width:75px;
  }

  .ub68id {
  	width: 16px;
  }

  .ub68 {
  	width: 101px;
  }

  .ub68b {
  	width: 104px;
  }

  .ub69id {
  	width: 55px;
  }

  .ub69 {
  	width: 70px;
  }

  .ub70id {
  	width: 65px;
  }

  .ub70 {
  	width: 67px;
  }

  .ub71id	{
  	width: 49px;
  }

  .ub71 {
  	width: 52px;
  }

  .ub72id {
  	width: 15px;
  }

  .ub72 {
  	width:67px;
  }

  .ub73 {
  	width:81px;
  }

  .ub74id {
  	width: 141px;
  }

  .ub75id {
  	width: 57px;
  }

  .ub76id, .ub77id, .ub78id, .ub79id {
  	width: 74px;
  }

  .ub76aid, .ub77aid, .ub78aid, .ub79aid {
  	width: 23px;
  }

  .ub76a, .ub77a, .ub78a, .ub79a {
  	width: 90px;
  }

  .ub76bid, .ub77bid, .ub78bid, .ub79bid {
  	width: 24px;
  }

  .ub76b1, .ub77b1, .ub78b1, .ub79b1 {
  	width: 28px;
  }

  .ub76b2, .ub77b2 {
  	width: 82px;
  }
  .ub79b2 {
  	width: 80px;
  }

  .ub78b2 {
  	width: 80px;
  }

  .ub74code {
  	width: 75px;
  }

  .ub74date {
  	width: 66px;
  }

  .ub75 {
  	width: 57px;
  }

  .ub76cid, .ub77cid, .ub78cid, .ub79cid {
  	width: 36px;
  }

  .ub76c, .ub77c, .ub78c, .ub79c {
  	width: 135px;
  }

  .ub76did, .ub77did, .ub78did, .ub79did {
  	width: 40px;
  }

  .ub79d {
  	width: 114px;
  }
  .ub78d {
    width: 114px;
  }
  .ub77d{
  	width: 121px;
  }
  .ub76d {
    width:120px
  }

  .ub80id {
  	width:236px;
  }

  .ub80 {
  	width: 236px;
  }

  .ub81id {
  	width: 24px;
  }

  .ub81a {
  	width: 15px;
  }

  .ub81b {
  	width: 103px;
  }

  .ub81c {
  	width: 109px;
  }

  .upper {
      text-transform: uppercase;
  }

  .defaultText {
      background-color: inherit;
  }

  .defaultText.active {
      color: gray;
      font-family: Arial;
      font-size: x-small;
      font-weight: bold;
  }

}
