<div class="header-nav-menu" ng-controller="Navigation">
  <header-nav destination="#route-sheet" patientnavopen='true'></header-nav>
</div>

<div id="route-sheet">
  <div class="head-bar">
    <a ng-click="PREVIOUS()"><i class="fa fa-arrow-left"></i></a>
    Route Sheet
    <span ng-show="(form.STATUS===1) && (form.ACTION ===undefined)" style="color:red;font-size:12px">View Only - form submitted to QA for review.</span>
    <span ng-show="(form.STATUS===3) && (form.ACTION ===undefined)" style="color:red;font-size:12px">View Only - form has already been approved and locked.</span>

    <button type="button" class="btn btn-primary" ng-show="enableQAEditBtn" ng-click="edit()">Edit</button>
    <button type="button" class="btn btn-success" ng-show="enableQALockBtn" ng-click="approve()">Approve</button>
    <button type="button" class="btn btn-danger" ng-show="enableQARejectBtn" ng-click="reject()">Reject</button>

    <button type="button" class="btn btn-default" ng-show="enableCancelBtn" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-success" ng-click="editRouteSheet()" ng-show="enableSaveBtn">save</button>
  </div>

  <!-- ********** ROUTE SHEET ********** -->
  <form name="routeSheet" ng-model="routeSheet" novalidate id="routeSheet">
    <fieldset ng-disabled="disableEdit" ng-class="{'enableInput': enableInput}">
      <section class="RouteSheet" style="margin-left:10px;margin-bottom:100px">
        <div style="margin-top:20px;margin-bottom:20px">
          <label class="checkbox-inline">
            <input type="checkbox"  ng-model="submitpayroll" id="submitpayroll" ng-true-value="1" ng-false-value="0"> Submit to Payroll
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="billable" id="billable" ng-true-value="1" ng-false-value="0"> Billable
          </label>
        </div>
        <table style="width:100%;border-collapse: separate;border-spacing: 0 5px;">
          <tr class="field_row" >
            <td class="field" style="width:12%">*Date</td>
            <td class="field" colspan="3">
              <div class="input-group" style="width:100%">
                <input type="text"
                      ng-disabled="true"
                      class="form-control"
                      ng-class="{'disableInput': true}"
                      ng-init="VISITDATE=form.FORMDATE"
                      uib-datepicker-popup='MM-dd-yyyy'
                      ng-model="VISITDATE"
                      is-open="openedVISITDATE"
                      show-button-bar="false"
                      ng-click="openedVISITDATE=true"
                      datepicker-append-to-body="false"
                      alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openedVISITDATE=true"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </td>
            <td class="field" style="text-align:right;width:10%;padding-right:5px">*Visit Type</td>
            <td class="field">
              <select required name="VISITTYPE" class="form-control" tabindex="8"
                      ng-disabled="true"
                      ng-class="{'disableInput': true}"
                      ng-model="VISITTYPE"
                      ng-init="VISITTYPE=form.VISITTYPE"
                      ng-options="visitType.KEYID as visitType.DESC for visitType in visitTypes">
                      <option value="">-Select One-</option>
              </select>
            </td>
          </tr>
          <tr class="field_row">
            <td class="field">*Time In</td>
            <td class="field" style="width:10%">
              <div uib-timepicker
                    required
                    ng-change="getTime()"
                    name="TIMEIN"
                    arrowkeys=true
                    ng-model="TIMEIN"
                    show-meridian=true>
              </div>
              <div class="field-error" ng-show="routeSheet.TIMEIN.$touched && routeSheet.TIMEIN.$invalid || routeSheet.TIMEIN.$invalid && routeSheet.$submitted">Time In is required.</div>
            </td>
            <td class="field"  style="text-align:right;width:10%;padding-right:5px">*Time Out</td>
            <td class="field" style="width:15%">
              <div uib-timepicker
                    required
                    ng-change="changed()"
                    ng-disabled="defaultHrs===1"
                    name="TIMEOUT"
                    arrowkeys=true
                    ng-model="TIMEOUT"
                    show-meridian=true>
              </div>
              <div class="field-error" ng-show="routeSheet.TIMEOUT.$touched && routeSheet.TIMEOUT.$invalid || routeSheet.TIMEOUT.$invalid && routeSheet.$submitted">Time Out is required.</div>

              <!-- <span ng-show="warning" style="color:red;font-size:10px">Warning: Time Out cannot be the same or before Time In.</span> -->
            </td>
            <td class="field">
              <label class="checkbox-inline">
                <input type="checkbox" ng-change="getTime()" ng-init="defaultHrs=1" ng-model="defaultHrs" id="defaultHrs" ng-true-value="1" >Default Hrs
              </label>
            </td>
          </tr>
          <tr class="field_row">
            <td class="field"></td>
            <td class="field" colspan="5">
              <span ng-show="warning" style="color:red;">Warning: Time Out cannot be the same or before Time In.</span>
            </td>
          </tr>
          <tr class="field_row">
            <td class="field">*Employee</td>
            <td colspan="5" class="field">
              <select required name="EMPKEYID" class="form-control"
                      ng-disabled="true"
                      ng-class="{'disableInput': true}"
                      ng-model="EMPKEYID"
                      ng-init="EMPKEYID=form.ASSIGNEDTO"
                      ng-options="employee.KEYID as employee.FNAME + ' '+ employee.LNAME for employee in employees">
                <option value="">-Select One-</option>
              </select>
              <!-- <input required type="text" name="empkeyid" ng-model="empkeyid" class="form-control" id="employee" placeholder=""> -->
            </td>
          </tr>
          <tr class="field_row">
            <td class="field">Mileage (miles)</td>
            <td colspan="5" class="field">
              <input name="MILEAGE" ng-init="MILEAGE=form.MILEAGE" class="form-control" ng-model="MILEAGE">
            </td>
          </tr>
          <tr class="field_row">
            <td class="field">Surcharge ($)</td>
            <td colspan="5" class="field">
              <input name="SURCHARGE" ng-init="SURCHARGE=form.SURCHARGE" class="form-control" ng-model="SURCHARGE">
            </td>
          </tr>
          <tr class="field_row">
            <td class="field">Additional Pay ($)</td>
            <td colspan="5" class="field">
              <input name="ADDITIONAL" ng-init="ADDITIONAL=form.ADDITIONAL"  class="form-control" ng-model="ADDITIONAL">
            </td>
          </tr>
        </table>
        <div class="row" style="font-size:12px">
          <div class="col-md-12">
            <h6 style="text-align:center;text-decoration:underline">PATIENT ACKNOWLEDGE OF VISIT</h6>
            <p style="margin-bottom:0;">By my signature above, I hereby acknowledge that the services herein stated were received by
            from the staff here in above name on the date and time indicated above. I further acknowledge that:</p>
          </div>
          <div class="col-md-6">
            A. The service provided was satisfactory.</br>
            B. During the period I was not hospitalized.</br>
            C. I have no complaint against the agency of staff-professional providing the services.</br>
          </div>
          <div class="col-md-6">
            D. I am not currently enrolled with an HMO.</br>
            E. My signature below is true and authentic.
          </div>
        </div>
        <div class="row" style="font-size:12px;">
          <div class="col-md-12">
            <h6 style="text-align:center;text-decoration:underline">STAFF CERTIFICATION OF VISIT</h6>
            <p style="margin-bottom:0;">I certify to the truth of the following, under penalty of per jury that:</p>
          </div>
          <div class="col-md-6">
            1. I understand that all clinical notes have to be submitted to the Agnecy on every Monday following
               the home visit. Failure to comply may result in the suspension of future visits and the Agency will, at their
               sound discretion, replace me and assign another health care professional to undertake the visit(s).</br>

            2. My professional license/certification, CPR, health certification and X-ray or TB results are current.</br>
            3. All safety issues/concerns noted during the visit were properly reported and documented.</br>
            4. The services rendered were in accordance to the prescribed Plan of Care.</br>
            5. The Patient/Patient Care Giver (PCG) signature acknowledging the home visit made and the services
               rendered was signed before me and in my presence and is therefor true and authentic.</br>

          </div>
          <div class="col-md-6">
            6. I have rendered the service(s) to the above named patient at the time and date indicated.</br>
            7. The patient was NOT hospitalized or otherwise unavailable at the time the service was rendered.</br>
            8. I understand it to be the agency's policy to submit clinical or visit notes for services actually rendered</br>
            9. The clinical or visit notes I submitted are complete and appropriate for the Agency to process for billing purposes.</br>
            10. In the event that I will be found liable for repeatedly commiting acts resulting from my failure to follow the plan of care, conform to agency
                policies/procedures, observce the Nursing Practice Act and all applicable licensing and regulatory board provision, I hereby absolve, indemnify,
               defend and hold the Agency free and harmless from any and all risk(s) and damages arising therefrom.
          </div>
          <div class="col-md-12" style="margin-top:10px">
            Pursuant to the duly executed restrictive covenant and confidentially agreement stipulated herein, I shall not solicit, refer and/or transfer
            patient(s) that have been assigned to me for home health care to another agency or Medical Doctor, and I shall be held liable for any economic damages that
            the agency may suffer as a direct result of such breach.<br>
            I, the undersigned health care worker, hereby acknowledge that the above information was explained to me and I fully understand that any acts
            of impropriety like falsely submitting clinical or visit notes representing services which were not actually rendered or signature of patients reflected therein
            that are not true or authentic will give the Agency the right and responsibility to report such unacceptable practices to the appropriate professional
            licensing board(s) and to HCFA for proper disposition.
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-6">
            <div class="checkbox">
              <label>
                <input ng-init="sigrequired_pat=1" type="checkbox" ng-model="sigrequired_pat" ng-true-value="1"> Patient Signature Required
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-init="sigrequired_emp=1" ng-model="sigrequired_emp" ng-true-value="1"> Employee Signature Required
              </label>
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-12" style="margin-left:15px">
            <div class="form-inline note">
              <div class="col-md-6" style="padding:0">
                <strong>*Signature of Patient</strong>
                <div class="field-error" ng-show="isPatSignatureMissing"><span>Signature is required.</span></div>
                <!-- <input required name="patSignature"  ng-init="patSignature=form.SIGNATURE_PAT" ng-model="patSignature" type="text"style="width:100%;height:34px"></input> -->
                <signature-pad ng-class="{'show-pad': showPatSignaturePad}" accept="acceptPat" clear="clearPat" height="150" width="350" style="background:lightgrey" disabled="false"></signature-pad>
                <img ng-show="showPatSignatureImage" ng-init="patSignature=form.SIGNATURE_PAT"  ng-src="{{patSignature}}" style="background:lightgrey;">
                <span ng-show="showPatSignaturePad" ng-click="clearPat()"><u>Clear Signature</u></span>
                <div ng-class="{'hide-clear': form.STATUS===1 || form.STATUS===3}" ng-show="showPatSignatureImage" ng-click="removePatSignature()"><u>Remove Signature</u></div>
              </div>
              <div class="col-md-3 col-md-offset-1">
                <strong>Date</strong><br>
                <div class="input-group" style="margin:0">
                  <input type="text"
                        ng-required="submitForm"
                        ng-init="patDate=form.SIGDATE_PAT"
                        name="patDate"
                        ng-model="patDate"
                        class="form-control"
                        datepicker-options="inlineOptionsDOB"
                        uib-datepicker-popup='MM-dd-yyyy'
                        is-open="openedDate"
                        show-button-bar="false"
                        ng-click="openedDate=true"
                        datepicker-append-to-body="true"
                        placeholder="MM-DD-YYYY"
                        alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="openedDate=true"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                <div class="field-error" ng-show="routeSheet.patDate.$touched && routeSheet.patDate.$invalid || routeSheet.patDate.$invalid && routeSheet.$submitted"><span>Date is required.</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="margin-left:15px">
            <div class="form-inline note">
              <div class="col-md-6" style="padding:0">
                <strong>*Signature of Employee</strong>
                <div class="field-error" ng-show="isEmpSignatureMissing"><span>Signature is required.</span></div>
                <signature-pad ng-class="{'show-pad': showEmpSignaturePad}" accept="acceptEmp" clear="clearEmp" height="150" width="350" style="background:lightgrey" disabled="false"></signature-pad>
                <img ng-show="showEmpSignatureImage" ng-init="empSignature=form.SIGNATURE_EMP"  ng-src="{{empSignature}}" style="background:lightgrey;">
                <span ng-show="showEmpSignaturePad" ng-click="clearEmp()"><u>Clear Signature</u></span>
                <div ng-class="{'hide-clear': form.STATUS===1 || form.STATUS===3}" ng-show="showEmpSignatureImage" ng-click="removeEmpSignature()"><u>Remove  Signature</u></div>
              </div>
              <div class="col-md-3 col-md-offset-1">
                <strong>Date</strong><br>
                <div class="input-group" style="margin:0">
                  <input type="text"
                        ng-required="submitForm"
                        name="empDate"
                        ng-init="empDate=form.SIGDATE_EMP"
                        ng-model="empDate"
                        class="form-control"
                        datepicker-options="inlineOptionsDOB"
                        uib-datepicker-popup='MM-dd-yyyy'
                        is-open="openedEmpDate"
                        show-button-bar="false"
                        ng-click="openedEmpDate=true"
                        datepicker-append-to-body="true"
                        placeholder="MM-DD-YYYY"
                        alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="openedEmpDate=true"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                <div class="field-error" ng-show="routeSheet.empDate.$touched && routeSheet.empDate.$invalid || routeSheet.empDate.$invalid && routeSheet.$submitted"><span>Date is required.</span></div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-md-4">
            *Patient Signature
            <div class="field-error" ng-show="routeSheet.patSignature.$touched && routeSheet.patSignature.$invalid || routeSheet.patSignature.$invalid && routeSheet.$submitted">Patient signature is required.</div>
          </div>
          <div class="col-md-2">
            *Date
            <div class="field-error" ng-show="routeSheet.patDate.$touched && routeSheet.patDate.$invalid || routeSheet.patDate.$invalid && routeSheet.$submitted">Date is required.</div>
          </div>
          <div class="col-md-4">
            *Employee Signature
            <div class="field-error" ng-show="routeSheet.empSignature.$touched && routeSheet.empSignature.$invalid || routeSheet.empSignature.$invalid && routeSheet.$submitted">Employee signature is required.</div>
          </div>
          <div class="col-md-2">
            *Date
            <div class="field-error" ng-show="routeSheet.empDate.$touched && routeSheet.empDate.$invalid || routeSheet.empDate.$invalid && routeSheet.$submitted">Date is required.</div>
          </div>
        </div> -->
        <div class="row">
          <button type="submit" class="btn btn-success"ng-show="submitQAbtn" ng-click="saveRouteSheet(routeSheet)">Submit to QA</button>
        </div>
      </section>
    <fieldset>
  </form>
</div>


<div class="right-menu">
  <expanded-nav></expanded-nav>
</div>
