#route-sheet {
  // overflow: hidden;
  margin-left:370px;
  position: relative;
  padding-top: 60px;
  // background: #FFF;
  .head-bar {
    z-index: 8;
    padding: 0 20px;
    // right: 0px;
    // left: 270px;
    position: relative;
    background: #FFF;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    a {
      float:left;
      margin-top: -3px;
      cursor: pointer;
    }
    i {
      margin-right: 10px;
      font-size: 15px;
      text-decoration: none;
      border-right: 1px solid lightgrey;
      padding: 8px 15px 8px 0px;
    }
  }
  form {
    background-color: #fff;
    font-size: 15px;
    position: absolute;
    overflow: hidden;
    // right: 0;
    // left: 270px;
    float:left;
    // margin-top: 60px;
    padding: 20px;
    textarea {
      width: 100%;
    }
    .field-error {
      margin: 0;
    }
    fieldset {
      input[type='text'], input[type='password'], input[type='date'], textarea, select {
        padding: 4px;
        font-size: 12px;
        background-color: #FFF;
        border: 1px #DDD solid;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        outline: none;
        background-color: #EDEEF3;

      }
      &.enableInput{
        input[type='text'], input[type='password'], input[type='date'], textarea, select {
          background-color: white;
          &.disableInput {
            background-color: #EDEEF3;
          }
        }
      }

    }
    .signature {
      display: none;
      &.show-pad {
        display: block;
      }
    }
    .hide-clear {
      display: none;
    }

    // button {
    //   position: fixed;
    //   top: 13px;
    //   right: 13px;
    //   z-index: 101;
    // }
  }
}
