<div id="welcome-page">
  <div class="head-bar">
    <div class="col-md-12">
      <div class="title">
        <h3>Maya HealthCare</h3>
      </div>
      <ul>
        <a href="javascript:void(0)"><li>{{user.firstName}} {{user.lastName}} - {{user.email}} </li><a>
        <li>|</li>
        <a ui-sref="landingPage"><li>Sign out</li></a>
      </ul>
    </div>
  </div>
  <div class="form-background">
    <div class="welcome-box">
      <div class="heading">
        <span><b>Welcome {{user.firstName}},</b></span>
        <div>Please select the company you want to open:</div>
        <ul class="agencies" ng-repeat="agency in agencies">
          <a><li ng-click="setAgency(agency)">{{agency.name}}</li></a>
        </ul>
      </div>
    </div>
  </div>
</div>
