#welcome-page {
  z-index: 101;
  overflow: hidden;
  // margin-left:60px;
  position: relative;
  background: #FFF;
  height: 100%;
  a {
    text-decoration: none;
    cursor: pointer;
    color: #333;
    &:hover {
      color: #C9C9C9;
    }
  }
  ul {
    list-style: none;
  }
  .head-bar {
    height: 60px;
    padding: 0 0 0 15px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
    .col-md-12 {
      padding-left: 0;
      padding-right: 20px;
      height: 60px;
    }
    ul {
      margin: 10px 0;
      padding: 0;
      float: right;
      li {
        float: left;
        line-height: 60px;
        margin-left: 10px;
      }
    }
  }
  .title {
    float: left;
    h3 {
      line-height: 60px;
        margin: 0 20px;
      float: left;
    }
  }
  .form-background {
    height: 100%;
    // padding: 20px 50px;
    background-color: #F5F5F5;
    .welcome-box {
      display:flex;
      align-items: center;
      justify-content: center;
      height: 65%;
      .heading {
        font-size: 18px;
        box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.24), 0px 1px 4px 0px rgba(0,0,0,0.04);
        border-radius: 2px;
        padding:15px;
        background-color: #2B233B;
        color: white;
        span {
          font-size: 20px;
          margin-bottom: 10px;
          display: block;
        }
        .agencies li {
          margin: 10px;
          font-size: 14px;
          color:white;
          list-style-type: disc;
          &:hover {
            color: lightgrey;
          }
        }
      }
    }
  }
}
